{% set sidenav_active='assembly_log' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/logging.tmpl" as logging with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% block title %}
    {% trans %}Assembly Log{% endtrans %}
    {{ logging.counter(total, values['offset'] or '', length) }}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("assembly/view_log"), gettext("Log"), active=True) }}
{% endblock %}
{% block content %}
    {% call logging.table(log, additional=['Assembly', 'Ballot']) %}
        {% for entry in log %}
            {% set assembly_link = None %}
            {% if entry['assembly_id'] %}
                {% set assembly_link = util.href(
                    cdedblink('assembly/show_assembly', {'assembly_id': entry['assembly_id']}),
                    all_assemblies[entry['assembly_id']]['title'], readonly=not may_view(entry['assembly_id'])
                ) %}
            {% endif %}
            {% if entry['ballot_id'] %}
                {% set ballot_link = util.href(
                    cdedblink("assembly/show_ballot", {"assembly_id": entry['assembly_id'], "ballot_id": entry['ballot_id']}),
                    all_ballots[entry['ballot_id']], readonly=not may_view(entry['assembly_id'])
                ) %}
            {% endif %}
            {{ logging.row(entry, enums['AssemblyLogCodes'], loop.index, [assembly_link, ballot_link]) }}
        {% endfor %}
    {% endcall %}

    {{ logging.navigation('assembly/view_log', total, length, loglinks) }}
    {{ logging.filter('assembly/view_log', enums['AssemblyLogCodes'], 'assembly_user', 'assembly_id') }}
{% endblock %}
