{% set sidenav_active='assembly_ballots' %}
{% extends "web/de/assembly/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% block title %}{{ ambience['ballot']['title']|e }} bearbeiten ({{ ambience['assembly']['title']|e }}){% endblock %}
{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("assembly/index"), "Versammlungen") }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_assembly"), ambience['assembly']['title'], icon="bullhorn") }}
    {{ util.breadcrumb_link(cdedblink("assembly/list_ballots"), "Abstimmungen") }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_ballot"), ambience['ballot']['title'], icon="thumbs-up") }}
    {{ util.breadcrumb_link(cdedblink("assembly/change_ballot"), "Bearbeiten", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Abstimmung bearbeiten
        <small>{{ util.make_icon('thumbs-up') }} {{ ambience['ballot']['title']|e }}</small>
    </h1>
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('assembly/change_ballot')|e }}" method="POST" id="changeballotform"
            class="form-horizontal">
        {{ util.form_input_text(name="title", label="Titel") }}
        {{ util.form_input_textarea(name="description", label="Beschreibung", rows="5") }}
        {{ util.form_input_text(name="vote_begin", label="Beginn der Abstimmung") }}
        {{ util.form_input_text(name="vote_end", label="Ende der Abstimmung") }}
        {{ util.form_input_text(name="quorum", label="Quorum") }}
        {# jinja does not support list comprehension ... #}
        {% set myentries = [] %}
        {% for candidate_id, candidate in ambience['ballot']['candidates']|dictsort %}
            {{ myentries.append((candidate['id'], candidate['moniker']))|e }}
        {% endfor %}
        {{ util.form_input_select(name="bar", entries=myentries, label="Schwellwertoption", nulloption=True) }}
        {{ util.form_input_text(name="vote_extension_end", label="Ende der Verlängerung") }}
        {{ util.form_input_text(name="votes", label="Anzahl der Stimmen",
                               info="Leer lassen für vollständige Präferenzwahl.") }}
        {{ util.form_input_textarea(name="notes", label="Notizen", rows="5") }}
        {{ util.form_input_submit(value="Ändern", cancellink=cdedblink('assembly/show_ballot')) }}
    </form>
{% endblock %}
