{% set sidenav_active='assembly_index' %}
{% extends "web/de/assembly/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}Versammlung anlegen{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("assembly/index"), "Versammlungen") }}
{{ util.breadcrumb_link(cdedblink("assembly/create_assembly"), "Versammlung anlegen", active=True) }}
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('assembly/create_assembly')|e }}" method="POST" id="createassemblyform"
            class="form-horizontal">
        {{ util.form_input_text(name="title", label="Titel") }}
        {{ util.form_input_textarea(name="description", label="Beschreibung", rows="5",
                                    info="Unterstützt reStructuredText") }}
        {{ util.form_input_text(name="signup_end", label="Anmeldeschluss", placeholder="YYYY-MM-DDThh:ii",
                                type="datetime-local") }}
        {{ util.form_input_textarea(name="notes", label="Admin-Notizen", rows="5",
                                    info="Unterstützt reStructuredText") }}

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="form-control-static text-info">
                    {{ util.make_icon('info-sign') }} Achtung: Die Versammlung ist sofort für alle CdE-Mitglieder
                    sichtbar.
                </div>
            </div>
        </div>
        {{ util.form_input_submit(value="Anlegen", cancellink=cdedblink('assembly/index')) }}
    </form>
    <script type="text/javascript">
        $('#createassemblyform').cdedbProtectChanges();
    </script>
{% endblock %}
