{% set sidenav_active='assembly_ballots' %}
{% extends "web/de/assembly/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block inner_navigation %}{{assembly_inner_navigation(assembly_data)}}{% endblock %}
{% block title %}Abstimmung anlegen ({{ assembly_data['title']|e }}){% endblock %}
{% block content %}
    <form action="{{ cdedblink('assembly/create_ballot')|e }}" method="POST" id="createballotform">
        <table>
            {{ util.input_text(name="title", label="Titel") }}
            {{ util.input_textarea(name="description", label="Beschreibung", aclass="biggg") }}
            {{ util.input_text(name="vote_begin", label="Beginn der Abstimmung") }}
            {{ util.input_text(name="vote_end", label="Ende der Abstimmung") }}
            {{ util.input_text(name="quorum", label="Quorum") }}
            {{ util.input_text(name="vote_extension_end", label="Ende der Verlängerung") }}
            {{ util.input_text(name="votes", label="Anzahl der Stimmen",
                                   info="Leer lassen für vollständige Präferenzwahl.") }}
            {{ util.input_textarea(name="notes", label="Notizen", aclass="biggg") }}
        </table>
        <div>
            {{ util.input_submit(value="Anlegen") }}
        </div>
    </form>
{% endblock %}
