{% set sidenav_active='assembly_attendees' %}
{% extends "web/de/assembly/base.tmpl" %}
{% block title %}Anwesenheitsliste -- {{ ambience['assembly']['title']|e }}{% endblock %}
{% block content %}
    <p>Insgesamt {{ attendees|length|e }} Anwesende.</p>
    <ul>
        {% for persona_id, pdata in attendees|dictsort %}
            <li>{{ pdata['given_names']|e }} {{ pdata['family_name']|e }}</li>
        {% endfor %}
    </ul>
{% endblock %}
