{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% import "web/de/generic.tmpl" as generic with context %}
{% block title %}Administration -- {{ values['given_names']|e }} {{ values['family_name']|e }} bearbeiten{% endblock %}
{% block content %}
    {{ generic.admin_change_user("cde") }}
{% endblock %}
