{% set mainnav_active='cde' %}
{% extends "web/de/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block navigation %}
    <h2>Navigation</h2>
    <div class="list-group">
        {% if "searchable" in user.roles %}
            {{ util.href(cdedblink("cde/member_search"), "CdE-Mitglied suchen", aclass="list-group-item", icon="search",
                    active=(sidenav_active=='cde_member_search')) }}
        {% else %}
            {{ util.href(cdedblink("cde/consent_decision_form"), "Datenschutzerklärung", aclass="list-group-item",
                    icon="check", active=(sidenav_active=='cde_consent_decision')) }}
        {% endif %}
        {# TODO #}
        {{ util.href(cdedblink("cde/i25p_index"), "Initiative 25+") }}
    </div>
        
    {% if is_admin %}
        <div class="list-group">
            {{ util.href(cdedblink("cde/user_search_form"), "Nutzer verwalten", aclass="list-group-item", icon="cog") }}
            {# TODO #}
            {{ util.href(cdedblink("cde/create_user_form"), "Neues Mitglied anlegen") }}
            {# TODO #}
            {{ util.href(cdedblink("cde/meta_info_form"), "Vereins-Metadaten") }}
            {{ util.href(cdedblink("cde/lastschrift_index"), "Einzugserächtigungen", aclass="list-group-item",
                    icon="euro", active=(sidenav_active=='cde_consent_form')) }}
            {# TODO #}
            {{ util.href(cdedblink("cde/show_semester"), "Semesterverwaltung") }}
            {{ util.href(cdedblink("cde/view_cde_log"), "Allgemeines Log", aclass="list-group-item", icon="list-alt") }}
        </div>
    {% endif %}
{% endblock %}
