{% set sidenav_active='cde_manage_users' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('batch-admission') }}{% endblock %}
{% block title %}Accounts anlegen{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/user_search"), "Nutzer verwalten") }}
{{ util.breadcrumb_link(cdedblink("cde/batch_admission_form"), "Massenaufnahme", active=True) }}
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('cde/batch_admission')|e }}" method="POST" id="admissionform">
        {{ util.input_hidden("finalized") }}
        <div class="row">
            <div class="col-md-6">
                {{ util.form_input_checkbox("membership", label="CdE-Mitgliedschaft eintragen", horizontal=False) }}
                {{ util.form_input_checkbox("trial_membership", label="Probemitgliedschaft gutschreiben",
                                            horizontal=False) }}
            </div>
            <div class="col-md-6">
                {{ util.form_input_checkbox("consent", label="Datenschutzeinwilligung gegeben", horizontal=False) }}
                {{ util.form_input_checkbox("sendmail", label="Willkommensmail verschicken", horizontal=False) }}
            </div>
        </div>
        {{ util.form_input_textarea(name="accounts", label="Daten", horizontal=False, rows=8, anid='input-data') }}

        <p class="help-block">
            <span class="glyphicon glyphicon-info-sign"></span> Bitte einen Datensatz pro Zeile einfügen. Das Format ist
        </p>
        <pre>&quot;Akademie&quot;;&quot;Kurs&quot;;&quot;Nachname&quot;;&quot;Vorname&quot;;&quot;Titel&quot;;<!--
-->&quot;Namenszusatz&quot;;&quot;Geburtsname&quot;;&quot;Geschlecht&quot;;&quot;Adresszusatz&quot;;<!--
-->&quot;Straße&quot;;&quot;Postleitzahl&quot;;&quot;Wohnort&quot;;&quot;Land&quot;;<!--
-->&quot;Telefonnummer&quot;;&quot;Mobilnummer&quot;;&quot;Email&quot;;&quot;Geburtstag&quot;</pre>
        <p class="help-block">
            Bei Geschlecht 0 für weiblich, 1 für männlich und 2 für alles andere eintragen.
        </p>

        {% if data %}
            <h2>Validierungsergebnisse</h2>
            {% for dataset in data %}
                {{ util.input_hidden("hash{}".format(dataset['lineno'] - 1)) }}
                <strong>
                    <span class="row-key" data-row="{{ dataset['lineno']|e }}">Zeile {{ dataset['lineno']|e }}</span>: {{ dataset['raw']['given_names']|e }}
                    {{ dataset['raw']['family_name']|e }} &lt;{{ dataset['raw']['username']|e }}&gt;
                    geb. am {{ dataset['raw']['birthday']|e }}
                    {% if dataset['pevent_id'] %}
                        ({{ pevents[dataset['pevent_id']]|e }}
                        {%- if dataset['pcourse_id'] -%}
                            /{{ pcourses[dataset['pevent_id']][dataset['pcourse_id']]|e }}
                        {%- endif -%}
                        )
                    {% endif %}
                </strong>
                <div class="batch-line-body">
                    {% if dataset['problems'] or dataset['warnings'] %}
                        <ul class="list-unstyled">
                            {% for key, problem in dataset['problems'] %}
                                <li class="text-danger">
                                    {{ util.make_icon('exclamation-sign', title="Fehler") }}
                                    {% if key %}
                                        <em class="row-col-key" data-row="{{ dataset['lineno']|e }}" data-col="{{ csvfields.get(key, -1) }}">{{ key|e }}</em>:
                                    {% endif %}
                                    {{ i18n(problem|string)|e }}
                                </li>
                            {% endfor %}
                            {% for key, warning in dataset['warnings'] %}
                                <li class="text-warning">
                                    {{ util.make_icon('warning-sign', title="Warnung") }}
                                    {% if key %}
                                        <em class="row-col-key" data-row="{{ dataset['lineno']|e }}" data-col="{{ csvfields.get(key, -1) }}">{{ key|e }}</em>:
                                    {% endif %}
                                    {{ i18n(warning|string)|e }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <label>Aktion</label>
                    <div class="p">
                        {# jinja does not support list comprehension ... #}
                        {% set myentries = [] %}
                        {% for resolution in enums['LineResolutions'] %}
                            {% if dataset['doppelgangers'] or not resolution.is_modification() %}
                                {{ myentries.append((resolution.value, i18n(resolution|string)))|e }}
                            {% endif %}
                        {% endfor %}
                        {{ util.input_checkboxes("resolution{}".format(dataset['lineno'] - 1), myentries, radio=True,
                                inline=True) }}
                    </div>

                    {% if dataset['doppelgangers'] %}
                        <label>Zusammenführen mit Account</label>
                        <div class="p strip-space">
                            {# jinja does not support list comprehension ... #}
                            {% set myentries = [('', '–')] %}
                            {% for key, value in dataset['doppelgangers']|dictsort %}
                                {% with description = "{} {} ({}) <{}> (geb. am {}), {}{}".format(
                                        value['given_names'], value['family_name'],
                                        value['birth_name'] or value['family_name'],
                                        value['username'], value['birthday'], key|cdedbid,
                                        '' if value['is_member'] else ' (kein Mitglied)') %}
                                    {{ myentries.append((key, description))|e }}
                                {% endwith %}
                            {% endfor %}
                            {{ util.input_checkboxes("doppelganger_id{}".format(dataset['lineno'] - 1), myentries,
                                    radio=True) }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

        {% if values['finalized'] %}
            {{ util.form_input_submit(value="Anlegen", horizontal=False) }}
        {% else %}
            {{ util.form_input_submit(value="Validieren", horizontal=False) }}
        {% endif %}
    </form>
{% endblock %}
