{% set sidenav_active='cde_past_events' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Kurs hinzufügen ({{ ambience['pevent']['title'] }}){% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), "Abg. Veranstaltungen verwalten") }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_event", {"pevent_id": ambience['pevent']['id']}),
        ambience['pevent']['title']|e, icon="calendar") }}
{{ util.breadcrumb_link(cdedblink("cde/create_past_course", {"pevent_id": ambience['pevent']['id']}),
        "Kurs hinzufügen", active=True) }}
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('cde/create_past_course')|e }}" method="POST" id="createcourseform"
            class="form-horizontal">
        {{ util.form_input_text(name="title", label="Titel") }}
        {{ util.form_input_textarea(name="description", label="Beschreibung", rows="5") }}
        {{ util.form_input_submit(value="Anlegen", cancellink=cdedblink("cde/show_past_event")) }}
    </form>
{% endblock %}
