{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title -%}
   Neue Einzugsermächtigung ({{ "{} {}".format(ambience['persona']['given_names'],
                                               ambience['persona']['family_name'])|e }})
{%- endblock %}
{% block heading -%}
   <h1>
       Neue Einzugsermächtigung
       <small>{{ util.make_icon('user') }} {{ "{} {}".format(ambience['persona']['given_names'],
                                                             ambience['persona']['family_name'])|e }}</small>
   </h1>
{%- endblock %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
    {% if is_admin %}
        {{ util.breadcrumb_link(cdedblink("cde/lastschrift_index"), "Einzugsermächtigungen") }}
        {{ util.breadcrumb_link(cdedblink("cde/lastschrift_show", {'persona_id': values['persona_id']}),
                                "{} {}".format(ambience['persona']['given_names'],
                                               ambience['persona']['family_name'])|e,
                                icon="euro") }}
    {% else %}
        {{ util.breadcrumb_link(cdedblink("cde/lastschrift_show", {'persona_id': values['persona_id']}),
                                "bestehende Einzugsermächtigung") }}
    {% endif %}
    {{ util.breadcrumb_link(cdedblink("cde/lastschrift_create", {'persona_id': values['persona_id']}),
                            "Erstellen", active=True) }}
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('cde/lastschrift_create')|e }}" method="POST" id="createlastschriftform"
            class="form-horizontal">
        {{ util.form_input_text(name="amount", label="Betrag", type="number", attributes='min="0" step="0.01"') }}
        {{ util.form_input_text(name="iban", label="IBAN") }}
        {{ util.form_input_text(name="account_owner", label="Kontoinhaber (falls abweichend)") }}
        {{ util.form_input_textarea(name="account_address", label="Adresse (falls abweichend)") }}
        {{ util.form_input_text(name="max_dsa", label="Maximaler DSA-Anteil", type="number", attributes='min="0" max="1"') }}
        {{ util.form_input_textarea(name="notes", label="Notizen", rows="5",
                                    info="Unterstützt reStructuredText") }}
        {{ util.form_input_submit(value="Anlegen", cancellink=show_user_link(ambience['persona']['id'])) }}
    </form>
{% endblock %}
