{% set sidenav_active='cde_lastschrift' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% block title %}Übersicht Einzugsermächtigungen{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_index"), "Einzugsermächtigungen", active="True") }}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function() {
            $('.skip-form').cdedbProtectAction(
                "Der Bankeinzug wird für dieses Semester übersprungen. Das kann nicht rückgängig gemacht werden.");
            $('#finalizationform').cdedbProtectAction("Diese Aktion kann nicht rückgängig gemacht werden.",
                    function(){return $('#finalization-cancel')[0] == document.activeElement;});
        });
    </script>

    <h2>Offene Einzugsermächtigungen</h2>
    <p>
        Im Laufe dieses Semesters – und dabei möglichst früh, aber erst nach der Zahlungsinformation – sind noch
        folgende Lastschriften auszuführen. Dazu eine dtx-Datei generieren und in die Online-Banking-Software
        importieren.
    </p>

    <table class="table table-condensed">
        <thead>
            <tr><th>Mitglied</th><th></th><th></th></tr>
        </thead>
        <tbody>
        {% for lastschrift_id, lastschrift in lastschrifts|dictsort %}
            {% if lastschrift['open'] %}
               <tr>
                    <td>
                        {{ util.persona_anchor(personas[lastschrift['persona_id']]) }}
                        ({{ util.href(cdedblink('cde/lastschrift_show', {'persona_id': lastschrift['persona_id']}),
                                    "Ermächtigung", icon="euro") }})
                    </td>
                    <td>
                        <form action="{{ cdedblink('cde/lastschrift_generate_transactions')|e }}" method="POST"
                                id="generatetransactionform{{ lastschrift_id|e }}">
                            {{ util.input_hidden(name="lastschrift_id", value=lastschrift_id) }}
                            {{ util.input_submit("Einzeldatei", icon='download', aclass='btn btn-xs btn-default') }}
                        </form>
                    </td>
                    <td>
                        <form action="{{ cdedblink('cde/lastschrift_skip', {'lastschrift_id': lastschrift_id})|e }}"
                                method="POST" id="skiptransactionform{{ lastschrift_id|e }}" class="skip-form">
                            {{ util.input_hidden(name="lastschrift_id", value=lastschrift_id) }}
                            {{ util.input_submit("Pausieren", icon='pause', aclass='btn btn-xs btn-warning') }}
                        </form>
                    </td>
               </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <form action="{{ cdedblink('cde/lastschrift_generate_transactions')|e }}" method="POST"
      id="generatetransactionsform">
        {{ util.input_submit("SEPA-Datei generieren", icon='download', aclass='btn btn-primary') }}
    </form>

    <h2>Offene Einzüge</h2>
    {% if transactions|length > 0 %}
        <p>
            Folgende Einzüge befinden sich derzeit in der Schwebe. Sobald diese ausgeführt wurden, bitte hier
            eintragen, ob diese erfolgreich ausgeführt wurden, gar nicht ausgeführt wurden oder geplatzt sind.
            Im letzteren Falle wird die Ermächtigung als Widerrufen angesehen.
        </p>

        <form action="{{ cdedblink('cde/lastschrift_finalize_transactions')|e }}" method="POST" id="finalizationform">
            <table class="table table-condensed">
                <thead>
                    <tr><th></th><th>Mitglied</th><th>Datum</th><th>Betrag</th></tr>
                </thead>
                <tbody>
                {% for transaction_id, transaction in transactions|xdictsort('issued_at') %}
                    <tr>
                        <td>
                            {{ util.input_checkbox(name="transaction_ids", value=transaction_id) }}
                        </td>
                        <td>
                        {{ util.persona_anchor(personas[lastschrifts[transaction['lastschrift_id']]['persona_id']]) }}
                        ({{ util.href(cdedblink('cde/lastschrift_show', {'persona_id': transaction['lastschrift_id']}),
                                    "Ermächtigung", icon="euro") }})
                        </td>
                        <td>{{ transaction['issued_at']|datetime(lang=lang)|e }}</td>
                        <td>{{ transaction['amount']|e }}€</td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
            Alle ausgewählten:
            {{ util.input_submit(value='Erfolg', name='success', aclass="btn btn-success") }}
            {{ util.input_submit(value='Abbruch', name='cancelled', aclass="btn btn-danger", icon="remove",
                    anid="finalization-cancel") }}
            {{ util.input_submit(value='Geplatzt', name='failure', aclass="btn btn-danger", icon="exclamation-sign") }}
        {% else %}
            <p>
                Aktuell befinden sich keine Einzüge in der Schwebe.
            </p>
        {% endif %}
    </form>

    <h2>Alle aktiven Einzugsermächtigungen</h2>
    <ul>
        {% for lastschrift_id, lastschrift in lastschrifts|dictsort %}
           <li>
                {{ util.persona_anchor(personas[lastschrift['persona_id']]) }}
                ({{ util.href(cdedblink('cde/lastschrift_show', {'persona_id': lastschrift['persona_id']}),
                              "Ermächtigung") }})
           </li>
        {% endfor %}
    </ul>
{% endblock %}
