{% set sidenav_active='cde_lastschrift' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title -%}
   Einzugsermächtigung {{ "{} {}".format(persona_data[values['persona_id']]['given_names'],
                                            persona_data[values['persona_id']]['family_name'])|e }}
{%- endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_index"), "Einzugsermächtigungen") }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_show", {'persona_id': values['persona_id']}),
	"{} {}".format(persona_data[values['persona_id']]['given_names'],
		       persona_data[values['persona_id']]['family_name'])|e,
	active=True, icon="euro") }}
{% endblock %}
{% block content %}
    {% if active_permit %}
        {{ util.href(cdedblink('cde/lastschrift_change_form', {'lastschrift_id': active_permit}), "Bearbeiten",
		icon="pencil", aclass="btn btn-warning btn-sm") }}
        {% if is_admin %}
            <form action="{{ cdedblink('cde/lastschrift_revoke', {'lastschrift_id': active_permit})|e }}" method="POST"
		    id="revokeform" style="display: inline;">
		<button type="submit" class="btn btn-sm btn-danger">
		    <span class="glyphicon glyphicon-remove"></span> Lastschrift widerrufen
		</button>
            </form>
            {% if active_open %}
                <form action="{{ cdedblink('cde/lastschrift_generate_transactions')|e }}" method="POST"
			id="generatetransactionform" style="display: inline;">
                    <div>
                        {{ util.input_hidden(name="lastschrift_id", value=active_permit) }}
			<button type="submit" class="btn btn-sm btn-default">
			    <span class="glyphicon glyphicon-download"></span> Einzel-Datei
			</button>
                    </div>
                </form>
                <form action="{{ cdedblink('cde/lastschrift_skip', {'lastschrift_id': active_permit})|e }}"
			method="POST" id="skiptransactionform" style="display: inline;">
                    <div>
                        {{ util.input_hidden(name="persona_id", value=values['persona_id']) }}
			<button type="submit" class="btn btn-sm btn-warning">
			    <span class="glyphicon glyphicon-pause"></span> Pausieren
			</button>
                    </div>
                </form>
            {% endif %}
        {% endif %}
	
        <h2>Aktive Einzugsermächtigung</h2>
        {% with lastschrift = lastschrift_data[active_permit] %}
            <dl class="dl-horizontal">
		<dt>Mitglied</dt>
		<dd>{{ util.persona_anchor(persona_data[values['persona_id']]) }}</dd>
		
		{% if is_admin %}
		    <dt>Erteilt durch</dt>
		    <dd>{{ util.persona_anchor(persona_data[lastschrift['submitted_by']]) }}</dd>
		    
		    <dt>Notizen</dt>
		    <dd>{{ lastschrift['notes']|rst }}</dd>
                {% endif %}
	    </dl>
            <dl class="dl-horizontal">
		<dt>Betrag</dt>
		<dd>{{ lastschrift['amount']|e }}€</dd>
                
		<dt>Maximaler DSA-Anteil</dt>
		<dd>{{ lastschrift['max_dsa']|e }}</dd>
                
		<dt>IBAN</dt>
		<dd>{{ lastschrift['iban']|e }}</dd>
		
		<dt>Kontoinhaber (falls abweichend)</dt>
		<dd>{{ lastschrift['account_owner']|e }}</dd>
		
		<dt>Anschrift Kontoinhaber</dt>
		<dd>{{ lastschrift['account_address']|e|linebreaks }}</dd>
		
		<dt>Erteilt</dt>
		<dd>{{ lastschrift['granted_at']|datetime|e }}</dd>
            </dl>
        {% endwith %}
    {% else %}
        Keine aktive Einzugsermächtigung – {{ util.href(cdedblink('cde/lastschrift_create_form'), "Erstellen") }}
    {% endif %}

    {% if transaction_data %}
        <h2>Getätigte Lastschriften</h2>
        <table class="table table-condensed table-border">
	    <thead>
            <tr>
                <th>Erstellt</th>
                <th>Finalisiert</th>
                <th>Semester</th>
                <th>Status</th>
                <th>Betrag</th>
                <th>Buchung</th>
                <th>Ersteller</th>
                <th></th>
            </tr>
	    </thead>
	    <tbody>
            {% for transaction_id, transaction in transaction_data|xdictsort('issued_at')|reverse %}
                <tr>
                    <td>{{ transaction['issued_at']|datetime|e }}</td>
                    <td>{{ transaction['processed_at']|datetime|e }}</td>
                    <td>{{ transaction['period_id']|e }}</td>
                    <td>{{ transaction['status']|enum(enums['LastschriftTransactionStati'])|e }}</td>
                    <td>{{ transaction['amount']|e }}€</td>
                    <td>{{ transaction['tally']|e }}€</td>
                    <td>{{ util.persona_anchor(persona_data[transaction['submitted_by']]) }}</td>
                    <td class="button-par">
                        {% if transaction['status'] == enums['LastschriftTransactionStati'].issued %}
			    {% if is_admin %}
				<form action="{{ cdedblink('cde/lastschrift_finalize_transaction', 
							   {'lastschrift_id': transaction['lastschrift_id'], 
							    'transaction_id': transaction_id})|e }}" method="POST"
					id="transactionsuccessform{{ transaction_id|e }}" style="display: inline;">
				    {{ util.input_hidden(name="transaction_id", value=transaction_id) }}
				    {{ util.input_hidden(name="status",
					    value=enums['LastschriftTransactionStati'].success.value) }}
				</form>
				<form action="{{ cdedblink('cde/lastschrift_finalize_transaction', 
							   {'lastschrift_id': transaction['lastschrift_id'], 
							    'transaction_id': transaction_id})|e }}" method="POST"
					id="transactioncancelform{{ transaction_id|e }}" style="display: inline;">
				    {{ util.input_hidden(name="transaction_id", value=transaction_id) }}
				    {{ util.input_hidden(name="status",
					    value=enums['LastschriftTransactionStati'].cancelled.value) }}
				    <button type="submit" class="btn btn-xs btn-danger">
					<span class="glyphicon glyphicon-remove"></span> Abbruch
				    </button>
				</form>
				<form action="{{ cdedblink('cde/lastschrift_finalize_transaction', 
							   {'lastschrift_id': transaction['lastschrift_id'], 
							    'transaction_id': transaction_id})|e }}" method="POST"
					id="transactionfailureform{{ transaction_id|e }}" style="display: inline;">
				    {{ util.input_hidden(name="transaction_id", value=transaction_id) }}
				    {{ util.input_hidden(name="status", value=enums['LastschriftTransactionStati'].failure.value) }}
				    <button type="submit" class="btn btn-xs btn-danger">
					<span class="glyphicon glyphicon-exclamation-sign"></span> Geplatzt
				    </button>
				</form>
			    {% endif %}
                        {% elif transaction['status'] == enums['LastschriftTransactionStati'].success %}
			    {% if is_admin %}
                                <form action="{{ cdedblink('cde/lastschrift_receipt',
                                                           {'lastschrift_id': transaction['lastschrift_id'],
                                                            'transaction_id': transaction_id})|e }}"
					method="GET" id="receiptform{{ transaction_id|e }}">
				    <button type="submit" class="btn btn-xs btn-default">
					<span class="glyphicon glyphicon-download"></span> Spendenbescheinigung
				    </button>
                                </form>
				<form action="{{ cdedblink('cde/lastschrift_rollback_transaction',
							   {'lastschrift_id': transaction['lastschrift_id'],
                                                            'transaction_id': transaction_id})|e }}"
					method="POST" id="transactionrollbackform{{ transaction_id|e }}">
				    {{ util.input_hidden(name="persona_id", value=values['persona_id']) }}
				    <button type="submit" class="btn btn-xs btn-warning">
					<span class="glyphicon glyphicon-transfer"></span> Rückbuchung
				    </button>
				</form>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
	    </tbody>
        </table>
    {% endif %}
{% endblock %}
