{% set sidenav_active='cde_lastschrift' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% block title -%}
   Einzugsermächtigung {{ "{} {}".format(ambience['persona']['given_names'], ambience['persona']['family_name'])|e }}
{%- endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{% if is_admin %}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_index"), "Einzugsermächtigungen") }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_show", {'persona_id': values['persona_id']}),
	"{} {}".format(ambience['persona']['given_names'],
		       ambience['persona']['family_name'])|e,
	active=True, icon="euro") }}
{% else %}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_show", {'persona_id': values['persona_id']}),
	"bestehende Einzugsermächtigung", active=True) }}
{% endif %}
{% endblock %}
{% block content %}
    {% if active_permit %}
        {% if is_admin %}
	    <script type="text/javascript">
		$(function() {
		    $('#revokeform').cdedbProtectAction("Diese Aktion kann nicht rückgängig gemacht werden.");
		    $('#skiptransactionform').cdedbProtectAction("Diese Aktion kann nicht rückgängig gemacht werden.");
		    $('.failure-form').cdedbProtectAction("Diese Aktion kann nicht rückgängig gemacht werden.");
		    $('.success-form').cdedbProtectAction("Diese Aktion kann nicht rückgängig gemacht werden.");
		});
	    </script>
	
	    <div class="p">
		{{ util.href(cdedblink('cde/lastschrift_change_form', {'lastschrift_id': active_permit}), "Bearbeiten",
			icon="pencil", aclass="btn btn-warning btn-sm") }}
		<form action="{{ cdedblink('cde/lastschrift_revoke', {'lastschrift_id': active_permit})|e }}"
			method="POST" id="revokeform" style="display: inline;">
		    {{ util.input_submit(value="Lastschrift widerrufen", icon="remove", aclass="btn btn-sm btn-danger")
			    }}
		</form>
		{% if active_open %}
		    <form action="{{ cdedblink('cde/lastschrift_generate_transactions')|e }}" method="POST"
			    id="generatetransactionform" style="display: inline;">
			{{ util.input_hidden(name="lastschrift_id", value=active_permit) }}
			{{ util.input_submit(value="Einzeildatei", icon="download",
				aclass="btn btn-sm btn-default") }}
		    </form>
		    <form action="{{ cdedblink('cde/lastschrift_skip', {'lastschrift_id': active_permit})|e }}"
			    method="POST" id="skiptransactionform" style="display: inline;">
			{{ util.input_hidden(name="persona_id", value=values['persona_id']) }}
			{{ util.input_submit(value="Pausieren", icon="pause",
				aclass="btn btn-sm btn-warning") }}
		    </form>
		{% endif %}
	    </div>
        {% endif %}

        <h2>Aktive Einzugsermächtigung</h2>
        {% with lastschrift = lastschrifts[active_permit] %}
            <dl class="dl-horizontal">
		<dt>Mitglied</dt>
		<dd>{{ util.persona_anchor(personas[values['persona_id']]) }}</dd>

		{% if is_admin %}
		    <dt>Erteilt durch</dt>
		    <dd>{{ util.persona_anchor(personas[lastschrift['submitted_by']]) }}</dd>

		    <dt>Notizen</dt>
		    <dd>{{ lastschrift['notes']|rst }}</dd>
                {% endif %}
	    </dl>
            <dl class="dl-horizontal">
		<dt>Betrag</dt>
		<dd>{{ lastschrift['amount']|e }}€</dd>

		<dt>Maximaler DSA-Anteil</dt>
		<dd>{{ lastschrift['max_dsa']|e }}</dd>

		<dt>IBAN</dt>
		<dd>{{ lastschrift['iban']|e }}</dd>

		<dt>Kontoinhaber (falls abweichend)</dt>
		<dd>{{ lastschrift['account_owner']|e }}</dd>

		<dt>Anschrift Kontoinhaber</dt>
		<dd>{{ lastschrift['account_address']|e|linebreaks }}</dd>

		<dt>Erteilt</dt>
		<dd>{{ lastschrift['granted_at']|datetime|e }}</dd>
            </dl>
        {% endwith %}
    {% else %}
        Keine aktive Einzugsermächtigung – {{ util.href(cdedblink('cde/lastschrift_create_form'), "Erstellen") }}
    {% endif %}

    {% if transactions %}
        <h2>Getätigte Lastschriften</h2>
        <table class="table table-condensed">
	    <thead>
            <tr>
                <th>Erstellt</th>
                <th>Finalisiert</th>
                <th>Semester</th>
                <th>Status</th>
                <th>Betrag</th>
                <th>Buchung</th>
                <th>Ersteller</th>
                <th></th>
            </tr>
	    </thead>
	    <tbody>
            {% for transaction_id, transaction in transactions|xdictsort('issued_at')|reverse %}
                <tr>
                    <td>{{ transaction['issued_at']|datetime|e }}</td>
                    <td>{{ transaction['processed_at']|datetime|e }}</td>
                    <td>{{ transaction['period_id']|e }}</td>
                    <td>{{ transaction['status']|enum(enums['LastschriftTransactionStati'])|e }}</td>
                    <td>{{ transaction['amount']|e }}€</td>
                    <td>{{ transaction['tally']|e }}€</td>
                    <td>{{ util.persona_anchor(personas[transaction['submitted_by']]) }}</td>
                    <td class="button-par">
                        {% if transaction['status'] == enums['LastschriftTransactionStati'].issued %}
			    {% if is_admin %}
				<form action="{{ cdedblink('cde/lastschrift_finalize_transaction',
							   {'lastschrift_id': transaction['lastschrift_id'],
							    'transaction_id': transaction_id})|e }}" method="POST"
					id="transactionsuccessform{{ transaction_id|e }}" style="display: inline;"
					class="success-form">
				    {{ util.input_hidden(name="transaction_id", value=transaction_id) }}
				    {{ util.input_hidden(name="status",
					                     value=enums['LastschriftTransactionStati'].success.value) }}
                    {{ util.input_submit(value='Erfolg', aclass="btn btn-xs btn-success", icon="ok") }}
				</form>
				<form action="{{ cdedblink('cde/lastschrift_finalize_transaction',
							   {'lastschrift_id': transaction['lastschrift_id'],
							    'transaction_id': transaction_id})|e }}" method="POST"
					id="transactioncancelform{{ transaction_id|e }}" style="display: inline;">
				    {{ util.input_hidden(name="transaction_id", value=transaction_id) }}
				    {{ util.input_hidden(name="status",
					                     value=enums['LastschriftTransactionStati'].cancelled.value) }}
                    {{ util.input_submit(value='Abbruch', aclass="btn btn-xs btn-warning", icon="remove") }}
				</form>
				<form action="{{ cdedblink('cde/lastschrift_finalize_transaction',
							   {'lastschrift_id': transaction['lastschrift_id'],
							    'transaction_id': transaction_id})|e }}" method="POST"
					id="transactionfailureform{{ transaction_id|e }}" style="display: inline;"
					class="failure-form">
				    {{ util.input_hidden(name="transaction_id", value=transaction_id) }}
				    {{ util.input_hidden(name="status", value=enums['LastschriftTransactionStati'].failure.value) }}
                    {{ util.input_submit(value='Geplatzt', aclass="btn btn-xs btn-danger", icon="exclamation-sign") }}
				</form>
			    {% endif %}
                        {% elif transaction['status'] == enums['LastschriftTransactionStati'].success %}
			    {% if is_admin %}
                                <form action="{{ cdedblink('cde/lastschrift_receipt',
                                                           {'lastschrift_id': transaction['lastschrift_id'],
                                                            'transaction_id': transaction_id})|e }}"
                    					method="GET" id="receiptform{{ transaction_id|e }}"
                    					class="rollback-form">
                    {{ util.input_submit(value="Spendenbescheinigung", aclass="btn btn-xs btn-default",
                                         icon='download') }}
                                </form>
				<form action="{{ cdedblink('cde/lastschrift_rollback_transaction',
							   {'lastschrift_id': transaction['lastschrift_id'],
                                                            'transaction_id': transaction_id})|e }}"
					method="POST" id="transactionrollbackform{{ transaction_id|e }}">
				    {{ util.input_hidden(name="persona_id", value=values['persona_id']) }}
                    {{ util.input_submit(value="Rückbuchung", aclass="btn btn-xs btn-warning",
                                         icon='transfer') }}
				</form>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
	    </tbody>
        </table>
    {% endif %}
{% endblock %}
