{% set sidenav_active='cde_past_events' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Abgeschlossene Veranstaltungen verwalten{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), "Abg. Veranstaltungen verwalten", active="True") }}
{% endblock %}
{% block content %}
    {{ util.href(cdedblink("cde/create_past_event_form"), "abg. Veranstaltung anlegen", aclass="btn btn-success",
            icon="plus") }}
    <ul>
        {% for pevent_id, title in events|dictsort|reverse %}
            <li>
                {{ util.href(cdedblink("cde/show_past_event", {"pevent_id": pevent_id}), title) }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
