{% set sidenav_active='cde_member_search' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Mitgliedersuche{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/member_search"), "CdE-Mitglied suchen", active="True") }}
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('cde/member_search')|e }}" method="GET" id="membersearchform" class="form-horizontal">
        {{ util.input_hidden(name="is_search", value=True) }}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Suchmaske</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        {{ util.form_input_text(name="qval_fulltext", label="Volltext", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_given_names,display_name", label="Vorname",
                                aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_family_name,birth_name", label="Nachname",
                                aclass="input-sm") }}
                        {{ util.form_input_text(
                                name="qval_weblink,specialisation,affiliation,timeline,interests,free_form",
                                label="Interessen, …", aclass="input-sm") }}
                        {% set myentries = [] %}
                        {% for i in choices['pevent_id']|sort %}
                            {{ myentries.append((i, choices['pevent_id'][i])) }}
                        {% endfor %}
                        {{ util.form_input_select(name="qval_pevent_id", entries=myentries, nulloption=True,
                                label="Akademie", aclass="input-sm") }}
                        {% if values.get('qval_pevent_id') %}
                            {% set myentries = [] %}
                            {% for i in choices['pcourse_id']|sort %}
                                {{ myentries.append((i, choices['pcourse_id'][i])) }}
                            {% endfor %}
                            {{ util.form_input_select(name="qval_pcourse_id", entries=myentries, nulloption=True,
                                    label="Kurs", aclass="input-sm", defaultvalue='') }}
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {{ util.form_input_text(name="qval_username", label="E-Mail", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_telephone,mobile", label="Telefon", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_address,address_supplement,address2,address_supplement2",
                                                label="Adresse", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_postal_code,postal_code2", label="PLZ", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_location,location2", label="Ort", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_country,country2", label="Land", aclass="input-sm") }}
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Suche
                </button>
            </div>
        </div>
    </form>
    {% if values['is_search'] %}
        <h3>
            Ergebnis
            <small>{{ result|length|e }} {{ result|length|numerus("Mitglied", "Mitglieder")|e }} gefunden</small>
        </h3>
        {% for dataset in result %}
            <p>
                {{ util.href(show_user_link(dataset['id'], quote_me=True),
                             "{} {}".format(dataset['family_name'], dataset['given_names'])) }}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}
