{% extends "web/de/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Meine Daten{% endblock %}
{% block content %}
    <h1>Meine Daten</h1>
    <p>
        <a href="{{ cdedblink('cde/change_data_form') }}">Bearbeiten</a>
    </p>
    <table>
        <th>
            <tr> <td colspan="2">Person</td> </tr>
        </th>
        <tr>
            <td>Name</td>
            <td>{{ data['title']|e }} {{ data['given_names']|e }} {{ data['family_name']|e }} {{ data['name_supplement']|e }}</td>
        </tr>
        <tr>
            <td>Rufname</td>
            <td>{{ data['display_name']|e }}</td>
        </tr>
        <tr>
            <td>Geburtsname</td>
            <td>{{ data['birth_name']|e }}</td>
        </tr>
        <tr>
            <td>Geburtstag</td>
            <td>{{ data['birthday']|e }}</td>
        </tr>
        <tr>
            <td>Geschlecht</td>
            {# FIXME this needs a pictogram or something like this #}
            <td>{{ data['gender']|e }}</td>
        </tr>
        <tr>
            <td>Fachgebiet</td>
            <td>{{ data['specialisation']|e }}</td>
        </tr>
        <tr>
            <td>Schule, Uni, ...</td>
            <td>{{ data['affiliation']|e }}</td>
        </tr>
        <tr>
            <td>Jahrgang, Matrikel, ...</td>
            <td>{{ data['timeline']|e }}</td>
        </tr>
        <tr>
            <td>Interessen</td>
            <td>{{ data['interests']|e }}</td>
        </tr>
        <tr>
            <td>Sonstiges</td>
            <td>{{ data['free_form']|e }}</td>
        </tr>
        <th>
            <tr> <td colspan="2">Kontakt</td> </tr>
        </th>
        <tr>
            <td>Email</td>
            <td>{{ data['username']|e }}</td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>{{ data['telephone']|e }}</td>
        </tr>
        <tr>
            <td>Mobiltelefon</td>
            <td>{{ data['mobile']|e }}</td>
        </tr>
        <tr>
            <td>WWW</td>
            {# TODO maybe add links or so #}
            <td>{{ data['weblink']|e }}</td>
        </tr>
        <th>
            <tr> <td colspan="2">Adresse</td> </tr>
        </th>
        <tr>
            <td>Straße</td>
            <td>{{ data['address']|e }}</td>
        </tr>
        <tr>
            <td>Adresszusatz</td>
            <td>{{ data['address_supplement']|e }}</td>
        </tr>
        <tr>
            <td>Stadt</td>
            <td>{{ data['postal_code']|e }} {{ data['location']|e }}</td>
        </tr>
        <tr>
            <td>Land</td>
            <td>{{ data['country']|e }}</td>
        </tr>
        <th>
            <tr> <td colspan="2">Zweitadresse</td> </tr>
        </th>
        <tr>
            <td>Straße</td>
            <td>{{ data['address2']|e }}</td>
        </tr>
        <tr>
            <td>Adresszusatz</td>
            <td>{{ data['address_supplement2']|e }}</td>
        </tr>
        <tr>
            <td>Stadt</td>
            <td>{{ data['postal_code2']|e }} {{ data['location2']|e }}</td>
        </tr>
        <tr>
            <td>Land</td>
            <td>{{ data['country2']|e }}</td>
        </tr>
        <th>
            <tr> <td colspan="2">Mitgliedschaft</td> </tr>
        </th>
        <tr>
            <td>CdE-Mitglied</td>
            <td>
                {% if user.is_member %}
                    <img src="{{ staticurl("icons/checked.png") }}" alt="checked" class="checkboxIcon">
                {% else %}
                    img src="{{ staticurl("icons/unchecked.png") }}" alt="unchecked" class="checkboxIcon">
                {% endif %}
            </td>
        </tr>
	{% if user.is_member %}
	    <tr>
		<td>Sichtbarkeit</td>
		{% if not data['decided_search'] %}
		    {# FIXME add link to decision page #}
		    <td>Du hast Dich noch nicht entschieden und Deine Daten sind nicht sichtbar.</td>
		{% else %}
		   {% if user.is_searchable %}
		       <td>Deine Daten sind für andere Mitglieder sichtbar.</td>
		   {% else %}
		       <td>Deine Daten sind nicht sichtbar.</td>
		   {% endif %}
		{% endif %}
	    </tr>
	{% endif %}
        <tr>
            <td>CdEDB-ID</td>
            {# FIXME this needs some encoding (handling should be global) #}
            <td>{{ data['id']|e }}</td>
        </tr>
        <tr>
            <td>Guthaben</td>
            <td>{{ data['balance']|e }}</td>
        </tr>
    </table>

    {# TODO add academy information #}

    <p>
        <a href="{{ cdedblink('cde/change_data_form') }}">Bearbeiten</a>
    </p>
{% endblock %}
