{% set sidenav_active='cde_past_events' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('search-persona') }}{{ util.cdedb_script('helper') }}{% endblock %}
{% block javascripthint %}{{ util.javascript_hint() }}{% endblock %}
{% block title %}{{ ambience['pcourse']['title']|e }} ({{ ambience['pevent']['title']|e }}){% endblock %}
{% block heading %}
    <h1 class="title">{{ ambience['pcourse']['title']|e }} <small>({{ ambience['pevent']['title']|e }})</small></h1>
{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), "Abg. Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_event", {"pevent_id": ambience['pevent']['id']}),
        ambience['pevent']['title']|e, icon="calendar") }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_course", {'pcourse_id' : ambience['pcourse']['id']}),
        ambience['pcourse']['title']|e, icon="book", active=True) }}
{% endblock %}
{% block content %}
    {% if is_admin %}
        <div class="p">
            {{ util.href(cdedblink('cde/change_past_course_form'), "Bearbeiten", icon="pencil",
                    aclass="btn btn-warning btn-sm") }}
            <form action="{{ cdedblink('cde/delete_past_course')|e }}" method="POST"
                    id="deletecourseform" style="display: inline;">
                {{ util.input_submit(value="Gesamten Kurs löschen", icon="trash", aclass="btn btn-danger btn-sm") }}
            </form>
            <script type="text/javascript">
                $('#deletecourseform').cdedbProtectAction();
            </script>
        </div>
    {% endif %}
    {{ ambience['pcourse']['description']|e }}

    <h2>Teilnehmer</h2>
    {% if is_admin %}
        {% call util.bootstrap_panel(title="Teilnehmer zu diesem Kurs hinzufügen",
                aclass="panel-success panel-condensed", icon='plus') %}
                <form action="{{ cdedblink('cde/add_participant')|e }}" method="POST" id="addparticipantform">
                    {{ util.input_hidden(name="pcourse_id", value=values['pcourse_id']) }}
                    <div class="row">
                        <div class="col-sm-5">
                            {{ util.input_text(name="persona_id", placeholder="DB-XXXX-X",
                                               anid='input-add-participant', aclass='form-control input-sm') }}
                            <script type="text/javascript">
                                $('#input-add-participant').cdedbSearchPerson(
                                    '{{ cdedblink('core/select_persona') + '?kind=cde_user&phrase=%s'}}',
                                    {{ participants.keys()|list|json }}
                                );
                            </script>
                            {{ util.output_errors('persona_id') }}
                        </div>
                        <div class="col-sm-2">
                            <div class="checkbox input-sm">
                                {{ util.input_checkbox(name="is_instructor", label="Kursleiter") }}
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="checkbox input-sm">
                                {{ util.input_checkbox(name="is_orga", label="Orga") }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            {{ util.input_submit(value="Hinzufügen", aclass="btn btn-primary btn-sm") }}
                        </div>
                    </div>
                </form>
        {% endcall %}
    {% endif %}
    {% if participants %}
        <ul>
            {% for anid, participant in participants.items() %} {# This dict is already sorted. #}
                <li>
                    {% if participant['is_instructor'] %}<strong>{% endif %}
                    {% if participant['viewable'] %}
                        {{ util.persona_anchor(personas[anid]) }}
                    {% else %}
                        {{ participant['given_names']|e }} {{ participant['family_name']|e }}
                    {% endif %}
                    {% if participant['is_course_instructor'] %}</strong>{% endif %}
                    {% if is_admin %}
                        <form action="{{ cdedblink('cde/remove_participant')|e }}" method="POST"
                         id="removeparticipantform{{ anid|e }}" style="display: inline;">
                            {{ util.input_hidden(name="persona_id", value=anid) }}
                            {{ util.input_hidden(name="pcourse_id", value=values['pcourse_id']) }}
                            {{ util.input_hidden(name="course_page", value=True) }}
                            {{ util.input_submit(title='entfernen', icon="trash", aclass="btn btn-xs btn-danger",
                                    value="") }}
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            <i>Keine Teilnehmer eingetragen.</i>
        </p>
    {% endif %}
{% endblock %}
