{% set sidenav_active='cde_semester' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Semesterverwaltung{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/show_semester"), "Semesterverwaltung", active="True") }}
{% endblock %}
{% block content %}
    <p class="text-danger">
        Die auf dieser Seite enthaltenen Aktionen betreffen alle
        Mitglieder. Aus diesem Grund sind sie praktisch nicht rückgängig zu
        machen. Führe diese Aktionen bitte nur aus, wenn du dir sicher bist,
        was du tust!
    </p>

    <h2>CdE-Semester</h2>

    <p>
        Derzeit befinden wir uns in Semester Nummer <span class="label label-default">{{ period['id']|e }}</span>.
    </p>
    
    <div class="row">
            <div class="col-md-6">
            <div class="panel {% if period['billing_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.01./01.07.)</span>
                    <h4 class="panel-title">Zahlungsaufforderung/-information versenden</h4>
                </div>
                <div class="panel-body">
                    {% if period['billing_done'] %}
                        <span class="text-success">Erledigt am {{ period['billing_done']|datetime }}.</span>
                    {% else %}
                        {% if period['billing_state'] %}
                            Bereits bis ID {{ period['billing_state']|cdedbid }} abgearbeitet.
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_bill')|e }}" method="POST" id="billform">
                            <div class="checkbox">
                                {{ util.input_checkbox("testrun", label="nur einzelne Testemail") }}
                            </div>
                            <div class="checkbox">
                                {{ util.input_checkbox("addresscheck", label="mit Adressabfrage") }}
                            </div>
                            {{ util.input_submit(value="Mails verschicken", icon="send") }}
                        </form>
                    {% endif %}
                </div>
            </div>
            
            <div class="panel {% if period['ejection_done'] or not period['billing_done'] %}
                    panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.03./01.09.)</span>
                    <h4 class="panel-title">Streichung inaktiver Mitglieder</h4>
                </div>
                <div class="panel-body">
                    {% if period['ejection_done'] %}
                        <span class="text-success">Erledigt am {{ period['ejection_done']|datetime }}.</span>
                    {% elif period['billing_done'] %}
                        {% if period['ejection_state'] %}
                            <p>
                                Bereits bis ID {{ period['ejection_state']|cdedbid }} abgearbeitet.
                            </p>
                        {% else %}
                            <p>
                                Derzeit haben {{ stats['low_balance_members']|e }} Mitglieder ein zu niedriges Guthaben.
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_eject')|e }}" method="POST" id="ejectform">
                            {{ util.input_submit(value="Inaktive streichen") }}
                        </form>
                    {% else %}
                        <span class="text-muted">Später zu erledigen.</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">            
            <div class="panel {% if period['balance_done'] or not period['ejection_done'] %}
                    panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.04./01.10.)</span>
                    <h4 class="panel-title">Guthaben aktualisieren</h4>
                </div>
                <div class="panel-body">
                    {% if period['balance_done'] %}
                        <span class="text-success">Erledigt am {{ period['balance_done']|datetime }}.</span>
                    {% elif period['ejection_done'] %}
                        {% if period['balance_state'] %}
                            <p>
                                Bereits bis ID {{ period['balance_state']|cdedbid }} abgearbeitet.
                            </p>
                        {% else %}
                            <p>
                                Derzeit haben {{ stats['trial_members']|e }} Mitglieder eine Probemitgliedschaft.
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_balance_update')|e }}" method="POST" id="balanceform">
                            {{ util.input_submit(value="Guthaben aktualisieren") }}
                        </form>
                    {% else %}
                        <span class="text-muted">Später zu erledigen.</span>
                    {% endif %}
                </div>
            </div>
            <div class="panel {% if not period['balance_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.04./01.10.)</span>
                    <h4 class="panel-title">Nächstes Semester</h4>
                </div>
                <div class="panel-body">
                    {% if period['balance_done'] %}
                        <form action="{{ cdedblink('cde/semester_advance')|e }}" method="POST" id="proceedform">
                            {{ util.input_submit(value="Nächstes Semester") }}
                        </form>
                    {% else %}
                        <span class="text-muted">Später zu erledigen.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <h2>Expuls-Semester</h2>

    <p>
        Der nächste ExPuls trägt die Nummer <span class="label label-default">{{ expuls['id']|e }}</span>.
    </p>

    <div class="row">
        <div class="col-md-6">
            <div class="panel {% if expuls['addresscheck_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <h4 class="panel-title">Adressabfrage verschicken</h4>
                </div>
                <div class="panel-body">
                    {% if expuls['addresscheck_done'] %}
                        <span class="text-success">Erledigt am {{ expuls['addresscheck_done']|datetime }}.</span>
                    {% else %}
                        {% if expuls['addresscheck_state'] %}
                            Bereits bis ID {{ expuls['addresscheck_state']|cdedbid }} abgearbeitet.
                        {% endif %}
                        <form action="{{ cdedblink('cde/expuls_addresscheck')|e }}" method="POST" id="addresscheckform">
                            <div class="checkbox">
                                {{ util.input_checkbox("testrun", label="nur einzelne Testemail") }}
                            </div>
                            <div class="form-group">
                            {{ util.input_submit(value="Mails verschicken", icon="send") }}
                            </div>
                        </form>
                        <form action="{{ cdedblink('cde/expuls_addresscheck')|e }}" method="POST" id="noaddresscheckform">
                            {{ util.input_hidden("skip", value=True) }}
                            {{ util.input_submit(value="Als erledigt markieren", aclass="btn btn-warning") }}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>    
        <div class="col-md-6">
            <div class="panel {% if not expuls['addresscheck_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <h4 class="panel-title">Nächster Expuls</h4>
                </div>
                <div class="panel-body">
                    {% if expuls['addresscheck_done'] %}
                        <form action="{{ cdedblink('cde/expuls_advance')|e }}" method="POST" id="proceedexpulsform">
                            {{ util.input_submit(value="Nächster Expuls") }}
                        </form>
                    {% else %}
                        <span class="text-muted">Später zu erledigen.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
