{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}{{ data['given_names']|e }} {{ data['family_name']|e }}{% endblock %}
{% block content %}
    {% if data['id'] == user.persona_id or is_admin %}
        <p>
            {% if is_admin %}
                {{ util.href(cdedblink('cde/admin_change_user_form'), "Bearbeiten") }}
            {% else %}
                {{ util.href(cdedblink('cde/change_user_form'), "Bearbeiten") }}
            {% endif %}
            {{ util.href(cdedblink('cde/set_foto_form'), "Profilbild ändern") }}
            {{ util.href(cdedblink('cde/lastschrift_show'), "Einzugsermächtigung") }}
        </p>
    {% endif %}
    {% if foto %}
       <img src="{{ cdedblink('cde/get_foto', {'foto': foto})|e }}" alt="Profilbild" class="profilepic">
    {% else %}
       <img src="{{ staticurl("generic-avatar.png")|e }}" alt="Standardprofilbild" class="profilepic">
    {% endif %}
    <table>
        <tr> <th colspan="2">Person</th> </tr>
        <tr>
            <td>Name</td>
            <td>{{ data['title']|e }} {{ data['given_names']|e }} {{ data['family_name']|e }}
              {{ data['name_supplement']|e }}</td>
        </tr>
        <tr>
            <td>Rufname</td>
            <td>{{ data['display_name']|e }}</td>
        </tr>
        <tr>
            <td>Geburtsname</td>
            <td>{{ data['birth_name']|e }}</td>
        </tr>
        <tr>
            <td>Geburtstag</td>
            <td>{{ data['birthday']|date|e }}</td>
        </tr>
        <tr>
            <td>Geschlecht</td>
            <td>{{ data['gender']|gender|e }}</td>
        </tr>
        <tr>
            <td>Fachgebiet</td>
            <td>{{ data['specialisation']|e|linebreaks }}</td>
        </tr>
        <tr>
            <td>Schule, Uni, ...</td>
            <td>{{ data['affiliation']|e|linebreaks }}</td>
        </tr>
        <tr>
            <td>Jahrgang, Matrikel, ...</td>
            <td>{{ data['timeline']|e|linebreaks }}</td>
        </tr>
        <tr>
            <td>Interessen</td>
            <td>{{ data['interests']|e|linebreaks }}</td>
        </tr>
        <tr>
            <td>Sonstiges</td>
            <td>{{ data['free_form']|e|linebreaks }}</td>
        </tr>
            <tr> <th colspan="2">Kontakt</th> </tr>
        <tr>
            <td>Email</td>
            <td>
                {{ data['username']|e }}
                {% if is_admin and data['id'] != user.persona_id %}
                    {{ util.href(cdedblink('core/admin_username_change_form'), "Email ändern") }}
                {% elif data['id'] == user.persona_id %}
                    {{ util.href(cdedblink('core/change_username_form'), "Email ändern") }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>{{ data['telephone']|e }}</td>
        </tr>
        <tr>
            <td>Mobiltelefon</td>
            <td>{{ data['mobile']|e }}</td>
        </tr>
        <tr>
            <td>WWW</td>
            {# TODO maybe add links or so #}
            <td>{{ data['weblink']|e }}</td>
        </tr>
        <tr> <th colspan="2">Adresse</th> </tr>
        <tr>
            <td>Straße</td>
            <td>{{ data['address']|e }}</td>
        </tr>
        <tr>
            <td>Adresszusatz</td>
            <td>{{ data['address_supplement']|e }}</td>
        </tr>
        <tr>
            <td>Stadt</td>
            <td>{{ data['postal_code']|e }} {{ data['location']|e }}</td>
        </tr>
        <tr>
            <td>Land</td>
            <td>{{ data['country']|e }}</td>
        </tr>
        <tr> <th colspan="2">Zweitadresse</th> </tr>
        <tr>
            <td>Straße</td>
            <td>{{ data['address2']|e }}</td>
        </tr>
        <tr>
            <td>Adresszusatz</td>
            <td>{{ data['address_supplement2']|e }}</td>
        </tr>
        <tr>
            <td>Stadt</td>
            <td>{{ data['postal_code2']|e }} {{ data['location2']|e }}</td>
        </tr>
        <tr>
            <td>Land</td>
            <td>{{ data['country2']|e }}</td>
        </tr>
        {% if data['id'] == user.persona_id or is_admin %}
            <tr> <th colspan="2">Mitgliedschaft</th> </tr>
            <tr>
                <td>CdE-Mitglied</td>
                <td>
                    {{ util.deko_checkbox(checked=data['is_member'], anid="membership_checkbox") }}
                    {% if data['trial_member'] %}
                        (Probemitgliedschaft)
                    {% endif %}
                    {% if is_admin %}
                        {{ util.href(cdedblink('cde/modify_membership_form'), "Mitgliedsstatus ändern") }}
                    {% endif %}
                </td>
            </tr>
            {% if is_admin %}
                <tr>
                    <td>Account aktiv</td>
                    <td>
                        {{ util.deko_checkbox(checked=data['is_active'], anid='activity_checkbox') }}
                        {% if data['is_active'] %}
                            <form action="{{ cdedblink('core/toggle_activity', {'activity': False})|e }}" method="POST"
                             id="activitytoggleform">
                                <div>{{ util.input_submit(value="Account deaktivieren") }}</div>
                            </form>
                        {% else %}
                            <form action="{{ cdedblink('core/toggle_activity', {'activity': True})|e }}" method="POST"
                             id="activitytoggleform">
                                <div>{{ util.input_submit(value="Account aktivieren") }}</div>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>CdE-Wolken-Zugriff</td>
                <td>{{ util.deko_checkbox(checked=data['cloud_account']) }}</td>
            </tr>
            {% if data['is_member'] %}
                <tr>
                    <td>Sichtbarkeit</td>
                    {% if data['is_searchable'] %}
                        <td>Daten sind für andere Mitglieder sichtbar.</td>
                    {% else %}
                        {% if not data['decided_search'] %}
                            <td>
                                Noch nicht entschieden; Daten sind nicht sichtbar.
                                {% if data['id'] == user.persona_id %}
                                    {{ util.href(cdedblink('cde/consent_decision'), "Entscheiden.") }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td>Daten sind nicht sichtbar.</td>
                        {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Datenzugriff für BuB</td>
                    <td>{{ util.deko_checkbox(checked=data['bub_search']) }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>CdEDB-ID</td>
                <td>{{ data['id']|cdedbid|e }}</td>
            </tr>
            <tr>
                <td>Guthaben</td>
                <td>{{ data['balance']|e }}€</td>
            </tr>
            {% if is_admin %}
                <tr>
                    <td>Privilegien-Bits</td>
                    <td>
                        {{ data['db_privileges_ascii']|e }}
                        {% if "admin" in user.roles %}
                            {{ util.href(cdedblink("core/adjust_privileges_form"), "Ändern") }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Notizen</td>
                    <td>{{ data['notes']|e|linebreaks }}</td>
                </tr>
            {% endif %}
        {% endif %}
        <tr> <th colspan="2">Veranstaltungen</th> </tr>
        {% for info in participation_info|sort(attribute="event_id") %}
            <tr>
                <td colspan="2">
                    {{ util.href(cdedblink("event/show_past_event", {"event_id": info['event_id']}),
                                 info['event_name']) }}
                    {% if info['is_orga'] %}
                        (Orga)
                    {% else %}
                        {% if info['course_name'] %}
                            {{ util.href(cdedblink("event/show_past_course", {"event_id": info['event_id'],
                                                                              "course_id": info['course_id']}),
                                         info['course_name']) }}
                            {% if info['is_instructor'] %}
                                (Kursleiter)
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if data['id'] == user.persona_id or is_admin %}
        <p>
            {% if is_admin %}
                {{ util.href(cdedblink('cde/admin_change_user_form'), "Bearbeiten") }}
            {% else %}
                {{ util.href(cdedblink('cde/change_user_form'), "Bearbeiten") }}
            {% endif %}
        </p>
    {% endif %}
    {% if is_admin %}
        <form action="{{ cdedblink('core/admin_password_reset')|e }}" method="POST"
          id="adminpasswordresetform">
            <div>{{ util.input_submit(value="Passwort zurücksetzen") }}</div>
        </form>
    {% endif %}
{% endblock %}
