{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% import "web/de/generic.tmpl" as generic with context %}
{% block jquery %}{{ util.jquery_preamble() }}{% endblock %}
{% block javascripthint %}{{ util.javascript_hint() }}{% endblock %}
{% block title %}CdE Nutzersuche{% endblock %}
{% block content %}
    <h3>Standardabfragen</h3>
    {% with TITLES = {
        "trial members": "Probemitglieder",} %}

        <div>
            {{ util.place_default_queries("cde/user_search", default_queries, TITLES) }}
        </div>
    {% endwith %}

    {{ generic.user_search_mask("cde", ("pevent_id", "pcourse_id")) }}

    {% if values['is_search'] %}
        <h3>Ergebnis -- {{ result|length|e }} {{ result|length|numerus("Eintrag", "Einträge")|e }} gefunden</h3>
        {{ generic.user_search_result(result, "cde") }}
    {% endif %}
{% endblock %}
