{% set sidenav_active='cde_manage_users' %}
{% extends "web/de/cde/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% import "web/de/generic.tmpl" as generic with context %}
{% set jshint='strong' %}
{% block scripts %}{{ util.cdedb_script('queryform') }}{{ util.cdedb_script('helper') }}{% endblock %}
{% block title %}CdE-Nutzerverwaltung{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/user_search"), "Nutzer verwalten", active="True") }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% with TITLES = {
                    "trial members": "Probemitglieder",} %}
                <div>
                    {{ util.place_default_queries("cde/user_search", default_queries, TITLES) }}
                </div>
            {% endwith %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading"><h3 class="panel-title">Aktionen</h3></div>
                <div class="panel-body button-par">
                    {{ util.href(cdedblink('cde/create_user'), "Nutzer anlegen", icon="plus",
                                 aclass="btn btn-success") }}
                    {{ util.href(cdedblink('cde/batch_admission'), "Massenaufnahme", icon="import",
                                 aclass="btn btn-default") }}
                </div>
            </div>
        </div>
    </div>

    {{ generic.user_search_mask("cde", ("pevent_id", "pcourse_id")) }}

    {% if values['is_search'] %}
        <h3>Ergebnis [{{ result|length|e }}]</h3>
        {{ generic.user_search_result(result, "cde") }}
    {% endif %}
{% endblock %}
