Hallo!

In der CdE-Datenbank wurde die E-Mail-Adresse des Admins {{ persona['given_names'] }} {{ persona['family_name'] }}
durch {{ user['given_names'] }} {{ user['family_name'] }} zu {{ new_username }} geändert.

Prüft, ob es sich um die Übernahme eines fremden Admin-Accounts handeln könnte.


Die Datenbank
