Hallo,

ein Administrator hat ein Zurücksetzen Deines Passwortes für die CdE-Datenbank
angefordert.

Wenn Du dein Passwort zurücksetzen möchtest, so besuche bitte den Link [1]
um ein neues Passwort einzugeben (bitte beachte, dass der Link nur zwei Tage
gültig ist).


Die Datenbank

[1] {{ cdedblink('core/do_password_reset_form', {'email': email, 'cookie': cookie}) }}
