Hallo,

jemand hat ein Zurücksetzen Deines Passwortes für die CdE-Datenbank
angefordert. Nur bist Du Admin und daher ist diese Funktion aus
Sicherheitsgründen für Dich deaktiviert.

Um Dein Passwort zurückzusetzen, schicke bitte eine entsprechende Mail
an das Verwaltungsteam <{{ MANAGEMENT_ADDRESS }}>.


Die Datenbank
