Hallo liebe Verwaltung,

es gibt derzeit {{ count }} offene Accountänderungen. Bitte schaut demnächst
mal unter [1] vorbei um sie zu bearbeiten.


Liebe Grüße von der Datenbank

[1] {{ cdedblink('core/list_pending_changes') }}
