Hallo {{ given_names }} {{ family_name }},

mit dieser E-Mail-Adresse wurde ein Account für die CdE-Datenbank beantragt.
Wenn Du dies nicht warst, so musst Du nichts weiter tun, als diese Mail zu
ignorieren.

Andernfalls besuche bitte den Link [1] mit einem Browser, um Deine Mail-Adresse
zu verifizieren. Anschließend werden wir Deine Anfrage überprüfen. Dafür bitten
wir Dich um etwas Geduld. Du wirst dann eine E-Mail mit allen weiteren
Informationen erhalten, sobald Dein Account angelegt ist.


Viele Grüße
das Verwaltungsteam

[1] {{ cdedblink('core/genesis_verify', {'genesis_case_id': genesis_case_id}) }}
