Hallo liebe Administratoren,

es gibt derzeit {{ count }} offene Accountanfragen. Bitte schaut demnächst
mal unter [1] vorbei um sie zu bearbeiten.


Die Datenbank

[1] {{ cdedblink('core/genesis_list_cases') }}
