Lieber Vorstand und liebes Adminteam,

für {{ persona|persona_name(include_nickname=True) }} wurde von {{ submitter|persona_name(include_nickname=True) }}
eine Änderung angestoßen, die durch {{ user|persona_name(include_nickname=True) }} autorisiert wurde.

Dabei wurden folgende Adminprivilegien hinzugefügt:
{{ gained }}
und folgende Privilegien entfernt: 
{{ lost }}

Die Datenbank
