version: "3.2"

services:
  cdb:
    image: cdepostgres
    command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
    build:
      context: ../..
      dockerfile: ./related/docker/Dockerfile-postgres
    volumes:
      - database:/var/lib/postgresql/data # tables etc
    ports:
      - 127.0.0.1:5432:5432
    environment:
      POSTGRES_PASSWORD: passwd
  app:
    image: cdedb
    build:
      context: ../..
      dockerfile: ./related/docker/Dockerfile-cdedb
    volumes:
      - files:/var/lib/cdedb # attachments etc
      - ../..:/cdedb2:z # the :z is for SELinux (see #2053)
    ports:
      - 127.0.0.1:5000:5000 # werkzeug server including interactive debugger
      - 127.0.0.1:8443:443 # apache
    depends_on:
      - cdb
  ldap:
    image: ldap
    build:
      context: ../..
      dockerfile: ./related/docker/Dockerfile-ldap
    volumes:
      - ldap:/var/lib/slapd/data # ldap data and first run flag/file
    ports:
      - 127.0.0.1:8389:389
    depends_on:
      - cdb
      - app # not really necessary but app creates the sample-data
  adminer:
    image: adminer
    ports:
      - 127.0.0.1:8080:8080

volumes:
  database:
  files:
  ldap:
