{% set mainnav_active='assembly' %}
{% extends "web/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% macro assembly_inner_navigation(data) %}
        <div class="list-group tear-down">
            {{ util.href(cdedblink("assembly/show_assembly", {'assembly_id': data['id']}), gettext("Overview"),
                         aclass="list-group-item", icon="caret-right", active=(sidenav_active == 'assembly_show')) }}

            {{ util.href(cdedblink("assembly/list_attendees", {'assembly_id': data['id']}), gettext("Participants"),
                         aclass="list-group-item", icon="user", active=(sidenav_active == 'assembly_attendees')) }}

            {{ util.href(cdedblink("assembly/list_ballots", {'assembly_id': data['id']}), gettext("Ballots"),
                         aclass="list-group-item", icon="thumbs-up", active=(sidenav_active == 'assembly_ballots')) }}

            {{ util.href(cdedblink("assembly/summary_ballots", {'assembly_id': data['id']}), gettext("Summary"),
                    aclass="list-group-item", icon="align-justify", active=(sidenav_active == 'assembly_summary')) }}

            {{ util.href(cdedblink("assembly/list_attachments", {'assembly_id': data['id']}),
                    gettext("Attachments"), aclass="list-group-item", icon="file",
                    active=(sidenav_active == 'assembly_attachments')) }}

            {% if ("assembly_presider" in user.admin_views or ambience['assembly']['id'] in user.presider) %}
                {% if ambience['assembly']['is_active'] %}
                    {{ util.href(cdedblink("assembly/change_assembly_form", {'assembly_id': data['id']}),
                                 gettext("Configuration"), aclass="list-group-item", icon="cog",
                                  active=(sidenav_active == 'assembly_config')) }}
                {% endif %}
                {{ util.href(cdedblink("assembly/view_assembly_log", {'assembly_id': ambience['assembly']['id']}),
                             gettext("Log"), aclass="list-group-item", icon="far fa-list-alt",
                             active=(sidenav_active == 'assembly_assembly_log')) }}
            {% endif %}
        </div>
{% endmacro %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("assembly/index"), gettext("Assemblies")) }}
{% endblock %}
{% block navigation %}
    {% if ambience['assembly'] %}
        <p>
            {{ util.href(cdedblink("assembly/index"), gettext("Assembly-Overview"), icon="arrow-circle-up") }}
        </p>

        <h3 class="heading-sidebar">{{ util.make_icon('bullhorn', arialabel=gettext("Assembly")) }}
            {{ ambience['assembly']['title'] }}</h3>
        {{ assembly_inner_navigation(ambience['assembly']) }}
    {% else %}
        <h3 class="heading-sidebar">{{ gettext("Assemblies") }}</h3>
        <div class="list-group tear-down">
            {{ util.href(cdedblink("assembly/index"), gettext("Overview"), icon="caret-right",
                    aclass="list-group-item", active=(sidenav_active == 'assembly_index')) }}
        </div>
        {% if user.admin_views.intersection(('assembly_user', 'assembly_mgmt')) or 'auditor' in user.roles %}
            <div class="list-group tear-down">
                {% if 'assembly_user' in user.admin_views %}
                    {{ util.href(cdedblink("assembly/user_search"), gettext("Manage Users"), icon="users",
                                 aclass="list-group-item", active=(sidenav_active == 'assembly_users')) }}
                    {{ util.href(cdedblink("assembly/archived_user_search"), gettext("Search Archived Users"), aclass="list-group-item",
                                 icon="inbox", active=(sidenav_active=='assembly_manage_archive')) }}
                {% endif %}
                {% if 'assembly_mgmt' in user.admin_views or 'auditor' in user.roles %}
                    {{ util.href(cdedblink("assembly/view_log"), gettext("Log"), icon="far fa-list-alt",
                                 aclass="list-group-item", active=(sidenav_active == 'assembly_log')) }}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

    <hr class="strong visible-xs visible-sm" />
{% endblock %}

{% block adminviews %}
    {% if ambience['assembly'] %}
        {% if user.persona_id in ambience['assembly']['presiders'] %}
            {{ util.admin_views_toggle(((gettext("Assembly Administration"), ["assembly_mgmt"], None),)) }}
        {% else %}
            {{ util.admin_views_toggle(((gettext("Assembly Administration"), ["assembly_mgmt"], None),
                                        (gettext("Presider Controls"), ["assembly_presider"], None))) }}
        {% endif %}
    {% else %}
        {{ util.admin_views_toggle(((gettext("User Administration"), ["core_user", "cde_user", "event_user", "ml_user", "assembly_user", "genesis"], ["assembly_user"]),
                                    (gettext("Assembly Administration"), ["assembly_mgmt"], None))) }}
    {% endif %}
{% endblock %}
