{% set mainnav_active='assembly' %}
{% extends "web/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% macro assembly_inner_navigation(data) %}
        <div class="list-group tear-down">
            {{ util.href(cdedblink("assembly/show_assembly", {'assembly_id': data['id']}), gettext("Overview"),
                    aclass="list-group-item", icon="triangle-right", active=(sidenav_active == 'assembly_show')) }}

                {{ util.href(cdedblink("assembly/list_attendees", {'assembly_id': data['id']}), gettext("Participants"),
                        aclass="list-group-item", icon="user", active=(sidenav_active == 'assembly_attendees')) }}

                {{ util.href(cdedblink("assembly/list_ballots", {'assembly_id': data['id']}), gettext("Ballots"),
                        aclass="list-group-item", icon="thumbs-up", active=(sidenav_active == 'assembly_ballots')) }}

            {% if is_admin and ambience['assembly']['is_active'] %}
                {{ util.href(cdedblink("assembly/change_assembly_form", {'assembly_id': data['id']}), gettext("Configuration"),
                        aclass="list-group-item", icon="cog", active=(sidenav_active == 'assembly_config')) }}
            {% endif %}
        </div>
{% endmacro %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("assembly/index"), gettext("Assemblies")) }}
{% endblock %}
{% block navigation %}
    {% if ambience['assembly'] %}
        <p>
            {{ util.href(cdedblink("assembly/index"), gettext("Assembly-Overview"), icon="circle-arrow-up") }}
        </p>

        <h4>{{ util.make_icon('bullhorn', arialabel=gettext("Assembly")) }}
            {{ ambience['assembly']['title'] }}</h4>
        {{ assembly_inner_navigation(ambience['assembly']) }}
    {% else %}
        <h4>{{ gettext("Assemblies") }}</h4>
        <div class="list-group tear-down">
            {{ util.href(cdedblink("assembly/index"), gettext("Overview"), icon="triangle-right",
                    aclass="list-group-item", active=(sidenav_active == 'assembly_index')) }}
        </div>
        {% if is_admin %}
            <div class="list-group tear-down">
                {{ util.href(cdedblink("assembly/user_search"), gettext("Manage Users"), icon="user",
                        aclass="list-group-item", active=(sidenav_active == 'assembly_users')) }}
                {{ util.href(cdedblink("assembly/view_log"), gettext("Log"), icon="list-alt", aclass="list-group-item",
                        active=(sidenav_active == 'assembly_log')) }}
            </div>
        {% endif %}
    {% endif %}
    <hr class="strong visible-xs visible-sm" />
{% endblock %}
