{% set sidenav_active='assembly_config' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans title=ambience['assembly']['title'] %}
        Edit {{ title }}
    {% endtrans %}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans %}Configuration{% endtrans %}
        <small>{{ util.make_icon('bullhorn', arialabel=gettext("Assembly")) }} {{ ambience['assembly']['title'] }}</small>
    </h1>
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_assembly"), ambience['assembly']['title'], icon="bullhorn") }}
    {{ util.breadcrumb_link(cdedblink("assembly/change_assembly"), gettext("Configuration"), active=True) }}
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('assembly/change_assembly') }}" method="POST" id="changeassemblyform"
            class="form-horizontal">
        {{ util.anti_csrf_token('assembly/change_assembly') }}
        {{ util.form_input_text(name="title", label=gettext("Title")) }}
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5",
                                    info=util.markdownhint) }}
        {{ util.form_input_text(name="mail_address", label=gettext("Mail Address"),
                                    info=gettext("This email will be the default address for replies to mails sent for this assembly.")) }}
        {{ util.form_input_text(name="signup_end", label=gettext("Application Deadline"), placeholder="YYYY-MM-DD hh:ii",
                                type="datetime-local") }}
        {{ util.form_input_textarea(name="notes", label=gettext("Admin-Notes"), rows="5", info=util.markdownhint) }}
        {{ util.form_input_static(aclass='text-info', icon='info-circle',
                                  value=gettext("Warning: All changes will be immediately "
                                                "visible to all CdE-Members and Assembly-Participants.")) }}
        {{ util.form_input_submit(value=gettext("Save"), cancellink=cdedblink("assembly/show_assembly")) }}
    </form>
    <script nonce="{{ csp_nonce }}">
        $('#changeassemblyform').cdedbProtectChanges();
    </script>
{% endblock %}
