{% set sidenav_active='assembly_attachments' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/assembly/util.tmpl" as assembly_util with context %}

{% block title %}
    {% trans title=ambience['assembly']['title'] %}
        Edit Version ({{ title }})
    {% endtrans %}
    – {{ assembly_util.small_attachment_title(current_version, icon=False, version_info=True) }}
{% endblock %}

{% block heading %}
    <h1 class="title">
        {% trans %}
            Edit Version
        {% endtrans %}
        <small>
            {{ assembly_util.small_attachment_title(current_version, version_info=True) }}
        </small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_assembly"), ambience['assembly']['title'], icon="bullhorn") }}
    {{ util.breadcrumb_link(cdedblink("assembly/list_attachments"), gettext("Attachment Overview")) }}
    {{ util.breadcrumb_link("", assembly_util.small_attachment_title(current_version, icon=False), icon='file', active=True) }}
    {{ util.breadcrumb_link(cdedblink("assembly/change_attachment_version"), gettext("Change Version"), active=True) }}
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('assembly/change_attachment_version') }}" method="POST" enctype="multipart/form-data"
            id="editattachmentversionform" class="form-horizontal">
        {{ util.anti_csrf_token('assembly/change_attachment_version') }}
        {{ util.form_input_text(name="title", label=gettext("Label")) }}
        {{ util.form_input_text(name="authors", label=gettext("Authors")) }}
        {{ util.form_input_text(name="filename", label=gettext("Filename")) }}
        {{ util.form_input_submit(cancellink=cdedblink('assembly/list_attachments')) }}
    </form>
{% endblock %}
