{% set sidenav_active='assembly_ballots' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block inner_navigation %}{{assembly_inner_navigation(ambience['assembly']) }}{% endblock %}
{% block title %}{{ gettext("Create Ballot") }} ({{ ambience['assembly']['title'] }}){% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_assembly"), ambience['assembly']['title'], icon="bullhorn") }}
    {{ util.breadcrumb_link(cdedblink("assembly/list_ballots"), gettext("Ballots")) }}
    {{ util.breadcrumb_link(cdedblink("assembly/create_ballot"), gettext("Create Ballot"), active=True) }}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Create Ballot"), ambience['assembly']['title'], 'bullhorn', gettext("Assembly")) }}
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('assembly/create_ballot') }}" method="POST" id="createballotform" class="form-horizontal">
        {{ util.anti_csrf_token('assembly/create_ballot') }}
        {{ util.form_input_text(name="title", label=gettext("Title_[[name of an entity]]")) }}
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5",
                                    info=util.markdownhint) }}
        {{ util.form_input_text(name="vote_begin", label=gettext("Start of voting period"), type="datetime-local") }}
        {{ util.form_input_text(name="vote_end", label=gettext("End of voting period"), type="datetime-local") }}
        {{ util.form_input_text(name="abs_quorum", label=gettext("Absolute Quorum"), type="number", defaultvalue="0") }}
        {{ util.form_input_text(name="rel_quorum", label=gettext("Relative Quorum"), type="number", defaultvalue="0", addon="%") }}
        {{ util.form_input_text(name="vote_extension_end", label=gettext("End of extension"), type="datetime-local") }}
        {{ util.form_input_text(name="votes", label=gettext("Number of votes"), type="number",
                               info=gettext("Leave empty for Preferential Vote.")) }}
        {{ util.form_input_checkbox(name="use_bar", label=gettext("Allow rejection")) }}
        {{ util.form_input_textarea(name="notes", label=gettext("Admin-Notes"), rows="5", info=util.markdownhint) }}
        {{ util.form_input_static(aclass='text-info', icon='info-circle',
                                  value=gettext("Warning: The new Ballot will be immediately "
                                                "visible to all CdE-Members and Assembly-Participants.")) }}
        {{ util.form_input_submit(label=gettext("Create"), cancellink=cdedblink('assembly/list_ballots')) }}
    </form>
    <script nonce="{{ csp_nonce }}">
        $('#createballotform').cdedbProtectChanges();
    </script>
{% endblock %}
