{% set sidenav_active='assembly_users' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint = 'weak' %}
{% import "web/generic.tmpl" as generic with context %}
{% block title %}Neuen Versammlungsnutzer anlegen{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("assembly/create_assembly"), "Versammlungs-Nutzer verwalten") }}
{{ util.breadcrumb_link(cdedblink("assembly/create_assembly"), "Nutzer anlegen", active=True) }}
{% endblock %}
{% block content %}
    {{ generic.create_user('assembly') }}
{% endblock %}
