{% set sidenav_active='assembly_index' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}{{ gettext("Create Assembly") }}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("assembly/create_assembly"), gettext("Create Assembly"), active=True) }}
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('assembly/create_assembly') }}" method="POST" id="createassemblyform"
            class="form-horizontal">
        {{ util.anti_csrf_token('assembly/create_assembly') }}
        {{ util.form_input_text(name="title", label=gettext("Title")) }}
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5",
                                    info=gettext("Supports Markdown %(infolink)s")|format(
                                    infolink=util.href(docurl("Handbuch_Markdown"), gettext("Short Markdown summary")))|s) }}
        {{ util.form_input_text(name="signup_end", label=gettext("Application Deadline"), placeholder="YYYY-MM-DDThh:ii",
                                type="datetime-local") }}
        {{ util.form_input_textarea(name="notes", label=gettext("Admin-Notes"), rows="5",
                                    info=gettext("Supports Markdown %(infolink)s")|format(
                                    infolink=util.href(docurl("Handbuch_Markdown"), gettext("Short Markdown summary")))|s) }}

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="form-control-static text-info">
                    {{ util.make_icon('info-sign') }} {{ gettext("Warning: The Assembly will be immediately "
                    "visible to all CdE-Members.") }}
                </div>
            </div>
        </div>
        {{ util.form_input_submit(value=gettext("Create"), cancellink=cdedblink('assembly/index')) }}
    </form>
    <script type="text/javascript">
        $('#createassemblyform').cdedbProtectChanges();
    </script>
{% endblock %}
