{% set sidenav_active='assembly_index' %}
{% extends "web/assembly/base.tmpl" %}
{% block title %}{{ gettext("Assemblies") }}{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("assembly/index"), gettext("Assemblies"), active=True) }}
{% endblock %}
{% block content %}
    {% if "assembly_mgmt" in user.admin_views %}
        {{ util.href(cdedblink("assembly/create_assembly_form"), gettext("Create Assembly"), icon="plus",
                aclass="btn btn-sm btn-success") }}
    {% else %}
        {% trans %}Here You can find the CdE’s general assemblies.{% endtrans %}
    {% endif %}
    <h3>{{ gettext("Active Assemblies") }}</h3>
    <ul class="spaced">
        {% for assembly_id, assembly in assemblies|keydictsort(EntitySorter.assembly) %}
            {% if assembly['is_active'] %}
                <li>
                    {{ util.href(cdedblink("assembly/show_assembly", {'assembly_id': assembly['id']}), assembly['title']) }}
                    <br />
                    {% if assembly['does_attend'] %}
                        {% trans %}
                            (already attending)
                        {% endtrans %}
                    {% elif assembly['signup_end'] >= now() %}
                        {% trans date=assembly['signup_end']|datetime(lang=lang) %}
                            (registration possible until {{ date }})
                        {% endtrans %}
                    {% else %}
                        {% trans %}
                            (registration no longer possible)
                        {% endtrans %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>{{ gettext("Inactive Assemblies") }}</h3>
    <ul class="spaced">
        {% for assembly_id, data in assemblies|keydictsort(EntitySorter.assembly, reverse=True) %}
            {% if not data['is_active'] %}
                <li>
                    {{ util.href(cdedblink("assembly/show_assembly", {'assembly_id': data['id']}), data['title']) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
