{% set sidenav_active='assembly_attachments' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/assembly/util.tmpl" as assembly_util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint = 'weak' %}
{% block title %}
    {% trans title=ambience['assembly']['title'] %}
        Attachment Overview ({{ title }})
    {% endtrans %}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans %}
            Attachment Overview
        {% endtrans %}
        <small>{{ util.make_icon('bullhorn') }} {{ ambience['assembly']['title'] }}</small>
    </h1>
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_assembly"), ambience['assembly']['title'], icon="bullhorn") }}
    {{ util.breadcrumb_link(cdedblink("assembly/list_attachments"), gettext("Attachment Overview"), icon="file", active=True) }}

{% endblock %}
{% block content %}
    {% for ballot_id, ballot in [(None, None)] + ballots|keydictsort(EntitySorter.ballot) %}
        {{ assembly_util.attachment_box(all_attachments[ballot_id], ballot=ballot, new_attachment_button=True,
                                        edit=("assembly_contents" in user.admin_views)) }}
    {% endfor %}
{% endblock %}
