{% set sidenav_active='assembly_ballots' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% from "web/assembly/ballot_status.tmpl" import show_status, show_tailled_ballot with context %}
{% from "web/assembly/ballot_candidates.tmpl" import show_candidates with context %}
{% from "web/assembly/ballot_admin.tmpl" import administrate_ballot, delete_ballot, show_attachments with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{{ util.cdedb_script('cdedb_voting.js') }}{% endblock %}
{% set jshint = 'weak' %}
{% block title %}{{ ambience['ballot']['title'] }} ({{ ambience['assembly']['title'] }}){% endblock %}
{% block heading %}
    <h1 class="title">
        {{ ambience['ballot']['title'] }}
    </h1>
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_assembly"), ambience['assembly']['title'], icon="bullhorn") }}
    {{ util.breadcrumb_link(cdedblink("assembly/list_ballots"), gettext("Ballots")) }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_ballot"), ambience['ballot']['title'], icon="thumbs-up",
                            active=True) }}
{% endblock %}
{% macro show_navigation(prev_ballot, next_ballot) -%}
    <nav>
        <ul class="pager">
            {% if prev_ballot %}
                <li class="previous">{{ util.href(cdedblink("assembly/show_ballot", {"ballot_id": prev_ballot["id"]}),
                         '<span aria-hidden="true">&larr;</span> '|s + gettext("Previous Ballot"), title=prev_ballot["title"]) }}</li>
            {% endif %}
            {%  if next_ballot %}
                <li class="next">{{ util.href(cdedblink("assembly/show_ballot", {"ballot_id": next_ballot["id"]}),
                         gettext("Next Ballot") + ' <span aria-hidden="true">&rarr;</span>'|s, title=next_ballot["title"]) }}</li>
            {% endif %}
        </ul>
    </nav>
{%- endmacro %}
{% block content %}
    {% set edit_mode = is_admin and now() < ambience['ballot']['vote_begin'] %}

    {# Admin modification options (delete and edit) #}
    {% if edit_mode %}
       {{ administrate_ballot() }}
    {% endif %}
    
    {{ show_status() }}

    {# Display of result #}
    {% if ambience['ballot']['is_tallied'] %}
        {{ show_tailled_ballot(result) }}
    {% else %}
        {{ show_candidates(edit_mode) }}
    {% endif %}

    {{ show_attachments(attachments, edit_mode) }}
    {{ show_navigation(prev_ballot, next_ballot) }}
    
    {% if edit_mode %}
        {{ delete_ballot() }}  
    {% endif %}
{% endblock %}
