{% set sidenav_active='assembly_show' %}
{% extends "web/assembly/base.tmpl" %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint = 'weak' %}
{% block title %}{{ ambience['assembly']['title'] }}{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_assembly"), ambience['assembly']['title'], icon="bullhorn",
            active=True) }}
{% endblock %}
{% block content %}
    <div class="p">
        {% if is_admin and ambience['assembly']['is_active'] %}
            {{ util.href(cdedblink('assembly/change_assembly'), gettext("Configuration"), aclass="btn btn-sm btn-warning",
                         icon="cog") }}
            {{ util.href(cdedblink("assembly/view_log", {'assembly_id': ambience['assembly']['id']}), gettext("Log"),
                    icon="list-alt") }}
        {% endif %}
    </div>

    {{ ambience['assembly']['description']|rst }}

    <dl class="dl-horizontal">
        <dt>Anmeldeschluss</dt>
        <dd>{{ ambience['assembly']['signup_end']|datetime(lang=lang) }}</dd>
        <dt>{% trans -%}Participationstatus{%- endtrans %}</dt>
        <dd>
            {% if attends %}
                <strong class="text-success">{% trans -%}You are participating in this assembly.{%- endtrans %}</strong>
            {% else %}
                <p><strong class="text-muted">{% trans -%}You are not participating.{%- endtrans %}</strong></p>
                {% if "member" in user.roles and now() < ambience['assembly']['signup_end'] %}
                    <form action="{{ cdedblink('assembly/signup') }}" method="POST" id="signupform">
                        {{ util.anti_csrf_token('assembly/signup') }}
                        {{ util.input_submit(value=gettext("Participate"), icon="log-in") }}
                    </form>
                {% endif %}
            {% endif %}
        </dd>
    </dl>

    {% if is_admin and ambience['assembly']['notes'] %}
        {% call util.bootstrap_panel(title=gettext("Admin-Notes"), icon="tag", aclass="panel-default panel-condensed") %}
            {{ ambience['assembly']['notes']|rst }}
        {% endcall %}
    {% endif %}
    
    {% if attachments or is_admin or has_ballot_attachments %}
        {% call util.bootstrap_panel(title=gettext("Files"), icon='file') %}
        <div class="row">
            {% if attachments or is_admin %}
                <div class="col-sm-6">
                    <h4>{% trans -%}General Files{%- endtrans %}</h4>
                    <ul class="slim">
                        {% for attachment_id, attachment in attachments|dictsort %}
                            <li>
                                {{ util.href(cdedblink("assembly/get_attachment", {'attachment_id': attachment_id}),
                                        attachment['title']) }}
                                {% if is_admin %}
                                    <form action="{{ cdedblink('assembly/remove_attachment',
                                                               {'attachment_id': attachment_id}) }}"
                                            method="POST" id="removeattachmentform{{ attachment_id }}",
                                            style="display: inline;">
                                        {{ util.anti_csrf_token('assembly/remove_attachment') }}
                                        {{ util.input_submit(value="", aclass="btn btn-xs btn-danger", icon="trash",
                                                title=gettext("Delete File")) }}
                                    </form>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="p">
                        {{ util.href(cdedblink("assembly/add_attachment_form"), gettext("Attach File"),
                                     aclass="btn btn-success btn-sm", icon="plus") }}
                    </div>
                </div>
            {% endif %}
            
            {% if has_ballot_attachments %}
                <div class="col-sm-6">
                <h4>{% trans -%}Ballot Files{%- endtrans %}</h4>
                    {% for ballot_id, ballot in ballots|dictsort %}
                        {% if ballot_attachments[ballot_id] %}
                            <ul class="slim">
                                {% for battachment_id, battachment in ballot_attachments[ballot_id]|dictsort %}
                                    <li>
                                        {{ util.href(cdedblink("assembly/get_attachment",
                                                     {'attachment_id': battachment_id, 'ballot_id': ballot_id}),
                                                     battachment['title']) }}
                                        (<small class="text-muted nowrap">
                                            {{- util.make_icon('thumbs-up', arialabel=gettext("ballot_file_arialabel")) }}
                                            {{ ballot['title'] -}}
                                         </small>)
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endcall %}
    {% endif %}

    {% if is_admin %}
        {% if ambience['assembly']['is_active'] %}
            {% call util.bootstrap_panel(title=gettext("Actions"), icon="warning-sign", aclass="panel-danger mosp") %}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="p">
                            <form action="{{ cdedblink('assembly/conclude_assembly') }}" method="POST"
                                  id="concludeassemblyform" style="display: inline;">
                                {{ util.anti_csrf_token('assembly/conclude_assembly') }}
                                {{ util.input_submit(value=gettext("Archive"), readonly=has_activity, aclass="btn btn-danger",
                                                     icon="folder-close") }}
                                {{ util.input_checkbox(name="ack_conclude", label=gettext("Are you sure?")) }}
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="text-muted">
                            {% trans -%}Archives the assembly. Assembly and Ballot configuration cannot be changed after this.
                                The private Keys used to sign the votes will be deleted from the database.{%- endtrans %}
                        </p>
                    </div>
                </div>
            {% endcall %}
            <script type="text/javascript">
                $(function() {
                    $('#concludeassemblyform').cdedbProtectAction("{{ gettext("The assembly will be permanently archived.") }}");
                    $('#concludeassemblyform').find('[name="ack_conclude"]').prop('checked', true).parent().hide();
                });
            </script>
        {% endif %}
    {% endif %}
    
{% endblock %}
