{% set sidenav_active='assembly_ballots' %}
{% extends "web/assembly/base.tmpl" %}
{% block scripts %}{{ util.cdedb_script('helper') }}{{ util.cdedb_script('voting') }}{% endblock %}
{% set jshint = 'weak' %}
{% block title %}{{ ambience['ballot']['title']|e }} ({{ ambience['assembly']['title']|e }}){% endblock %}
{% block heading %}
    <h1 class="title">
        {{ ambience['ballot']['title']|e }}
    </h1>
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_assembly"), ambience['assembly']['title'], icon="bullhorn") }}
    {{ util.breadcrumb_link(cdedblink("assembly/list_ballots"), gettext("Ballots")) }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_ballot"), ambience['ballot']['title'], icon="thumbs-up",
                            active=True) }}
{% endblock %}
{% block content %}
    {# Admin modification options (delete and edit) #}
    {% if is_admin and now() < ambience['ballot']['vote_begin']  %}
        <div class="p">
            {{ util.href(cdedblink("assembly/change_ballot_form"), gettext("Edit"), icon="pencil",
                    aclass="btn btn-sm btn-warning") }}
        </div>
    {% endif %}

    {# General information about ballot and personalized state info #}
    {{ ambience['ballot']['description']|rst }}
    
    <dl class="dl-horizontal">
        <dt>{% trans -%}Voting Period{%- endtrans %}</dt>
        <dd>
            {% trans begin=ambience['ballot']['vote_begin']|datetime(lang=lang)|e,
                     end=ambience['ballot']['vote_end']|datetime(lang=lang)|e -%}
            From {{ begin }} until {{ end }}.
            {%- endtrans %}
            {% if ambience['ballot']['extended'] is none %}
                {% if ambience['ballot']['quorum'] %}
                    <br />
                    {% trans extension=ambience['ballot']['vote_extension_end']|datetime(lang=lang)|e,
                             quorum=ambience['ballot']['quorum']|e -%}
                    Extension until {{ extension }} if {{ quorum }} votes are not reached.
                    {%- endtrans %}
                {% endif %}
            {% else %}
                {% if ambience['ballot']['extended'] %}
                    <br />
                    {% trans extension=ambience['ballot']['vote_extension_end']|datetime(lang=lang)|e,
                             quorum=ambience['ballot']['quorum']|e -%}
                    Extended until {{ extension }} because {{ quorum }} votes were not reached.
                    {%- endtrans %}
                {% elif ambience['ballot']['quorum'] %}
                    <br />
                    {% trans quorum=anbience['ballot']['quorum']|e -%}
                    No Extension neccessary, because {{ quorum }} votes were reached.
                    {%- endtrans %}
                {% endif %}
            {% endif %}
        </dd>
        <dt>{% trans -%}Status{%- endtrans %}</dt>
        <dd>
            {% if now() < ambience['ballot']['vote_begin'] %}
                <strong>{% trans -%}This Ballot has not yet begun.{%- endtrans %}</strong><br />
                {% trans -%}Admins can still make changes to description, files and candidates.{%- endtrans %}
                {% if is_admin %}
                    {% trans -%}
                        All CdE-Members and external assembly participants can already
                        see this Ballot and all associated information.
                    {%- endtrans %}
                {% endif %}
            {% elif ambience['ballot']['is_tallied'] %}
                <strong>{% trans -%}This Ballot has been concluded.{%- endtrans %}</strong><br />
                {% trans -%}You can see the results below.{%- endtrans %}
            {% elif not attends %}
                {% trans -%}
                    You are not participating in this assembly, therefore You cannot vote in this ballot.
                {%- endtrans %}
            {% elif ambience['ballot']['is_voting'] %}
                <strong>{% trans -%}This Ballot is currently open for voting.{%- endtrans %}</strong><br />
                {% if values['vote'] %}
                    {% if split_vote|length == 1 %}
                        <span class='text-warning'>{% trans -%}You have abstained.{%- endtrans %}</span>
                        {% trans -%}You can make your choice below, during the voting period.{%- endtrans %}
                    {% else %}
                        <span class='text-success'>{% trans -%}You already voted.{%- endtrans %}</span>
                        {% trans -%}
                            You can check your vote below and change it
                            before the end of the voting period.
                        {%- endtrans %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </dd>
    </dl>
    
    {% if is_admin and ambience['ballot']['notes'] %}
        {% call util.bootstrap_panel(title=gettext("Admin-Notes"), icon="tag", aclass="panel-default panel-condensed") %}
            {{ ambience['ballot']['notes']|rst }}
        {% endcall %}
    {% endif %}

    {# Add candidate form #}
    {% if is_admin and now() < ambience['ballot']['vote_begin']  %}
        {% call util.bootstrap_panel(aclass="panel-success panel-condensed", title=gettext("Add Candidate"),
                icon='plus') %}
            <form action="{{ cdedblink('assembly/add_candidate')|e }}" method="POST" id="addcandidateform" class="row">
                <div class="col-md-3 {% if 'moniker' in errors %}has-error{% endif %}">
                    {{ util.input_text(name="moniker", placeholder=gettext("Shortname"), aclass="form-control input-sm",
                                       arialabel=gettext("Shortname")) }}
                    {{ util.output_errors("moniker") }}
                </div>
                <div class="col-md-6 {% if 'description' in errors %}has-error{% endif %}">
                    {{ util.input_text(name="description", placeholder=gettext("Description"),
                                       aclass="form-control input-sm", arialabel=gettext("Description")) }}
                    {{ util.output_errors("description") }}
                </div>
                <div class="col-md-3">
                    {{ util.input_submit(value=gettext("Add"), aclass="btn btn-primary btn-sm") }}
                </div>
            </form>
        {% endcall %}
    {% endif %}

    {# Display of result #}
    {% if ambience['ballot']['is_tallied'] %}
        <h3>{% trans -%}Result{%- endtrans %}</h3>
        {% if result['winners'] %}
            <ol>
                {% for candidate_ids in result['winners'] %}
                    <li value="{{ loop.index|e }}">
                        {% for candidate_id in candidate_ids %}
                            {% if not ambience['ballot']['votes'] %}
                                <span class="label label-primary">
                                    {{- ambience['ballot']['candidates'][candidate_id]['moniker']|e -}}
                                </span>
                            {% endif %}
                            {{ ambience['ballot']['candidates'][candidate_id]['description']|e }}
                            {% if result['counts'] %}
                                {% set candidate_moniker = ambience['ballot']['candidates'][candidate_id]['moniker'] %}
                                {% trans count=result['counts'][candidate_moniker]|e -%}
                                    ({{ count }} votes)
                                {%- endtrans %}
                            {% endif %}
                            {% if not loop.last %}
                                <br /><span class="sr-only">{% trans -%}and{%- endtrans %}</span>
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        {% if ambience['ballot']['use_bar'] and result['losers'] %}
            <p class="text-info">
                {% if ambience['ballot']['votes'] %}
                    {% trans against_all=gettext("Against all Candidates") -%}
                        The following Candidates have less votes than the {{ against_all }} choice.
                    {%- endtrans %}
                {% else %}
                    {% trans abm="<code>%(abm)s</code>"|format(abm=ASSEMBLY_BAR_MONIKER) -%}
                        The following Candidates lost against the bar ({{ abm }}).
                    {%- endtrans %}
                {% endif %}
            <ol>
                {% for candidate_ids in result['losers'] %}
                    <li value="{{ (loop.index + result['winners']|length)|e }}">
                        {% for candidate_id in candidate_ids %}
                            {% if not ambience['ballot']['votes'] %}
                                <span class="label label-primary">
                                    {{- ambience['ballot']['candidates'][candidate_id]['moniker']|e -}}
                                </span>
                            {% endif %}
                            {{ ambience['ballot']['candidates'][candidate_id]['description']|e }}
                            {% if result['counts'] %}
                                {% set candidate_moniker = ambience['ballot']['candidates'][candidate_id]['moniker'] %}
                                {% trans count=result['counts'][candidate_moniker]|e -%}
                                    ({{ count }} votes)
                                {%- endtrans %}
                            {% endif %}
                            {% if not loop.last %}
                                <br /><span class="sr-only">{% trans -%}and{%- endtrans %}</span>
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        
        <h4>{% trans -%}Summary{%- endtrans %}</h4>
        {% if not ambience['ballot']['votes'] %}
            <pre style="max-width: 500px;">{{ result['result']|e }}</pre>

            {# info box for preferential votes #}
            {% call util.bootstrap_panel(title=gettext("Help"), icon='info-sign', aclass='panel-default mosp') %}
                <p>
                    {% trans link=gettext("<a href='https://en.wikipedia.org/wiki/Schulze_method'>Schulze method</a>") -%}
                        This vote was a Preferential Vote. Voters arranged the candidates according to their preference.
                        The preferences of all participants were evaluated using the {{ link }},
                        to determine the winner.
                    {%- endtrans %}
                </p>
                <p>
                    {% trans  gt="<code>></code>", eq="<code>=</code>" -%}
                        The summary shows the combined preference list of all participant.
                        The Greater-Than character {{ gt }} means that the Candidate, represented by their
                        shortname, on the left has higher overall preference than the one on the right.
                        The Equals character {{ eq }} means that two or more Candidates have the same overall
                        preference across all participants.
                    {%- endtrans %}
                </p>
                {% if ambience['ballot']['use_bar'] %}
                    <p>
                        {% trans abm="<code>%(abm)s</code>"|format(abm=ASSEMBLY_BAR_MONIKER|e) -%}
                            Additionally the moniker {{ abm }} shows where in the Rejection Bar was ranked in the
                            overall preference list.
                            Should no Candidate have won against the bar, the board may take additional measures.
                        {%- endtrans %}
                    </p>
                {% endif %}
            {% endcall %}
        {% endif %}

        <p>{{ util.href(cdedblink("assembly/get_result"), gettext("Download results"), icon="download")}}</p>
        
        <h3>{% trans -%}Your vote{%- endtrans %}</h3>
        <p>
            {# Show own vote under result: Classical vote #}
            {% if not attends %}
                {% trans -%}You are not participating in this assembly.{%- endtrans %}
            {% elif ambience['ballot']['votes'] %}
                {% if not values['vote'] %}
                    {% if ambience['assembly']['is_active'] %}
                        {% trans -%}You have not voted yet.{%- endtrans %}
                    {% endif %}
                {% else %}
                    {% if split_vote|length == 1 %}
                        {% trans -%}You abstained.{%- endtrans %}
                    {% elif split_vote|length == 2 and split_vote[0] == [ASSEMBLY_BAR_MONIKER] %}
                        {% trans -%}You voted against all Candidates.{%- endtrans %}
                    {% else %}
                        {% trans -%}You voted for the following Candidates:{%- endtrans %}<br />
                        {% for voted in split_vote[0] %}
                            {{ candidates[voted]['description']|e }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                
            {# Show own vote under result: Classical vote #}
            {% else %}
                {% if values['vote'] %}
                    {%- trans vote="<code>%(vote)s</code>"|format(vote=values['vote']|e) -%}
                        You voted {{ vote }}.
                    {%- endtrans -%}
                {% elif ambience['assembly']['is_active'] %}
                    {%- trans -%}
                        You did not vote.
                    {%- endtrans -%}
                {% endif %}
            {% endif %}
        </p>
    {% else %}
    
        {# Classical voting, not tallied #}
        {% if ambience['ballot']['votes'] %}

            {# Classical voting: Voting form #}
            {% if ambience['ballot']['is_voting'] and attends %}
                <h3>{% trans -%}Ballot{%- endtrans %}</h3>
                <form action="{{ cdedblink('assembly/vote') }}" method="POST" id="voteform" class="form-horizontal">
                    {% if ambience['ballot']['votes'] > 1 %}
                        {{ util.form_input_static(value=gettext("You have %(votes)s votes.")|
                                                        format(votes=ambience['ballot']['votes']|e), small=True) }}
                    {% endif %}
                    {{ util.form_input_checkboxes("vote", label=gettext("Candidates"),
                                                  entries=ambience['ballot']['candidates']|dictsort|dict_entries('moniker', 'description'),
                                                  radio=(ambience['ballot']['votes'] == 1), small=True) }}
                    {% if ambience['ballot']['use_bar'] %}
                        {{ util.form_input_checkboxes(
                            "vote", label="", entries=[(ASSEMBLY_BAR_MONIKER, gettext("Against all Candidates"))],
                            small=True, radio=(ambience['ballot']['votes'] == 1),
                            info=gettext("With this option you reject all Candidates. "
                                         "If this gets a majority the board may take additional measures.")) }}
                    {% endif %}
                    {{ util.form_input_submit(value=gettext("Vote"), small=True) }}
                </form>
                <script type="text/javascript">
                    {% if ambience['ballot']['votes'] > 1 %}
                        $('#voteform').cdedbMultiVote({{ ambience['ballot']['votes'] }}, '{{ ASSEMBLY_BAR_MONIKER }}');
                    {% endif %}
                    $('#voteform').cdedbProtectChanges();
                </script>

                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            <strong>{% trans -%}Additional Options{%- endtrans %}</strong>
                        </div>
                        <div class="col-sm-10">
                            <form action="{{ cdedblink('assembly/vote') }}" method="POST" id="abstentionform"
                                    style="display: inline;">
                                {{ util.input_hidden(name="vote", value="special: abstain") }}
                                {{ util.input_submit(value=gettext("Abstain"), icon="stop") }}
                            </form>
                        </div>
                    </div>
                </div>

            {# Classical voting: Presentation of candidates #}
            {% else %}
                <h3>{% trans -%}Candidates{%- endtrans %}</h3>
                <ul>
                    {% for candidate_id, candidate in ambience['ballot']['candidates']|dictsort %}
                        <li>
                            {{ candidate['description']|e }}
                            {% if is_admin and now() < ambience['ballot']['vote_begin'] %}
                                <form action="{{ cdedblink('assembly/remove_candidate',
                                                           {'candidate_id': candidate_id})|e }}"
                                        method="POST" id="removecandidateform{{ candidate_id|e }}"
                                        style="display: inline;" class="remove-candiate-form">
                                    {{ util.input_submit(value="", icon="trash", aclass="btn btn-xs btn-danger",
                                                         title=gettext("Remove Candidate")) }}
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if is_admin and now() < ambience['ballot']['vote_begin'] %}
                    <script type="text/javascript">
                        $('.remove-candiate-form').cdedbProtectAction({{ gettext("The Candidate will be removed.") }});
                    </script>
                {% endif %}
            {% endif %}

        {% else %}
            {# Preferential voting: Presentation of candidates #}
            <h3>{% trans -%}Candidates{%- endtrans %}</h3>
            <ul>
                {% for candidate_id, candidate in ambience['ballot']['candidates']|dictsort %}
                    <li>
                        {{ candidate['description']|e }}
                        {% if attends or is_admin %}
                            <span class="label label-primary"><span class="sr-only">{% trans -%}Short: {%- endtrans %}</span>
                                {{ candidate['moniker']|e }}
                            </span>
                        {% endif %}
                        {% if is_admin and now() < ambience['ballot']['vote_begin']
                                and candidate['moniker'] != ASSEMBLY_BAR_MONIKER %}
                            <form action="{{ cdedblink('assembly/remove_candidate',
                                                       {'candidate_id': candidate_id})|e }}"
                                  method="POST" id="removecandidateform{{ candidate_id|e }}" style="display: inline;"
                                  class="remove-candiate-form">
                                {{ util.input_submit(value="", icon="trash", aclass="btn btn-xs btn-danger",
                                                     title=gettext("Remove Candidate")) }}
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if is_admin and now() < ambience['ballot']['vote_begin'] %}
                <script type="text/javascript">
                    $('.remove-candiate-form').cdedbProtectAction({{ gettext("The Candidate will be removed.") }});
                </script>
            {% endif %}

            {# Preferential voting: Voting form #}
            {% if ambience['ballot']['is_voting'] and attends %}
                <h3>{% trans -%}Ballot{%- endtrans %}</h3>
                
                {# Tab controls to switch to javascript preferential voting form #}
                <ul class="nav nav-tabs mosp softhide" role="tablist" id="tablist-formselect">
                    <li role="presentation" class="active">
                        <a href="#tab-textform" aria-controls="tab-textform" role="tab" data-toggle="tab">
                            {{ util.make_icon('console') }} {% trans -%}Text-based voting{%- endtrans %}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#tab-jsform" aria-controls="tab-jsform" role="tab" data-toggle="tab"
                                id="tablink-jsform">
                            {{ util.make_icon('flash') }} {% trans -%}Interactive voting{%- endtrans %}
                        </a>
                    </li>
                </ul>
                
                <div class="tab-content">
                    {# Text based preferential voting form #}
                    <div role="tabpanel" class="tab-pane active" id="tab-textform">
                        <form action="{{ cdedblink('assembly/vote') }}" method="POST" id="voteform"
                                class="form-horizontal">
                            {{ util.form_input_text(name="vote", label=gettext("Preferencelist"), small=True,
                                                    anid='input-preferencelist') }}
                            {{ util.form_input_submit(value=gettext("Vote"), small=True) }}
                        </form>
                        <script type="text/javascript">
                            $('#voteform').cdedbProtectChanges();
                        </script>
                        {% call util.bootstrap_panel(title=gettext("Help"), icon='info-sign', aclass='panel-default mosp') %}
                            <p>
                                {% trans link=gettext("<a href='https://en.wikipedia.org/wiki/Schulze_method'>Schulze method</a>") -%}
                                    This vote is an Preferential Vote. You can arrange the Candidates in the field above
                                    according to Your personal preference. The preferences of all participants will be
                                    evaluated using the {{ link }}, to determine the winner.
                                {%- endtrans %}
                            </p>
                            <p>
                                {% trans  gt="<code>></code>", eq="<code>=</code>" -%}
                                    To enter Your preferencelist, use the Shortnames given in the list of Candidates and the
                                    {{ gt }} and {{ eq }} characters. Use the Greater-Than character {{ gt }}
                                    to give the Candidates left of the character higher preference, than those on the right.
                                    Use the Equals character to give two Candidates the same preference. You need to have all
                                    Candidates in Your preferencelist.
                                {%- endtrans %}
                            </p>
                            {% if ambience['ballot']['use_bar'] %}
                                <p>
                                    {% trans abm="<code>%(abm)s</code>"|format(abm=ASSEMBLY_BAR_MONIKER|e) -%}
                                        Additionally You need to use the Rejection Bar {{ abm }} in Your preferencelist.
                                        Use it in Your preferencelist like You would a Candidate. Put all
                                        Candidates You deem suitable higher than {{ abm }} and all
                                        Candidates You reject lower, i.e. to the right of {{ abm }}.
                                        Should no Candidate win against the bar, the board may take additional measures.
                                    {%- endtrans %}
                                </p>
                            {% endif %}
                            <p>
                                {% trans  -%}
                                    <strong>Examples:</strong> Take the following examplatory Candidate list:
                                {%- endtrans %}
                            </p>
                            <ul>
                                <li>{% trans  -%}Luke Skywalker, short: [Luke]{%- endtrans %}</li>
                                <li>{% trans  -%}Princess Leia Organa of Alderaan, short: [Leia]{%- endtrans %}</li>
                                <li>{% trans  -%}Han Solo, short: [Han]{%- endtrans %}</li>
                                <li>{% trans -%}Obi-Wan "Ben" Kenobi, short: [ObiWan]{%- endtrans %}</li>
                            </ul>
                            <p>
                                {% trans -%}Your Vote could look like this:{%- endtrans %}
                            </p>
                            {% if ambience['ballot']['use_bar'] %}
                                <ul>
                                    <li>{% trans -%}
                                            You deem all candidates suitable, but You like Leia the best,
                                            with no difference between the other Candidate.
                                        {%- endtrans %}<br />
                                        <code>Leia&gt;Luke=Han=ObiWan&gt;{{ ASSEMBLY_BAR_MONIKER|e }}</code></li>
                                    <li>{% trans -%}
                                            You deem Leia and Obi-Wan (equally) suitable, You want to reject Luke
                                            and you absolutely can't stand Han Solo.
                                        {%- endtrans %}<br />
                                        <code>Leia=ObiWan&gt;{{ ASSEMBLY_BAR_MONIKER|e }}&gt;Luke&gt;Han</code></li>
                                    <li>{% trans -%}
                                            You want to vote for Luke and if he doesn't make it, You think Obi-Wan should.
                                            You don't have an opinion about the others.
                                        {%- endtrans %}<br />
                                        <code>Luke&gt;ObiWan&gt;{{ ASSEMBLY_BAR_MONIKER|e }}=Han=Leia</code></li>
                                    <li>{% trans -%}
                                            You want to completely abstain.
                                        {%- endtrans %}<br />
                                        <code>Luke=ObiWan=Han=Leia={{ ASSEMBLY_BAR_MONIKER|e }}</code></li>
                                </ul>
                            {% else %}
                                <ul>
                                    <li>{% trans -%}
                                            You like Leia the most, but You see no difference between the others.
                                        {%- endtrans %}<br />
                                        <code>Leia&gt;Luke=Han=ObiWan</code></li>
                                    <li>{% trans -%}
                                            You deem Leia and Obi-Wan (equally) suitable, Luke less so and Han Solo not at all.
                                        {%- endtrans %}<br />
                                        <code>Leia=ObiWan&gt;Luke&gt;Han</code></li>
                                    <li>{% trans -%}
                                            You want to vote for Luke and if he doensn't make it, You think Obi-Wan should.
                                            You don't have an opinion about the others.
                                        {%- endtrans %}<br />
                                        <code>Luke&gt;ObiWan&gt;Han=Leia</code></li>
                                    <li>{% trans -%}
                                            You want to completely abstain.
                                        {%- endtrans %}<br />
                                        <code>Luke=ObiWan=Han=Leia</code></li>
                                </ul>
                            {% endif %}
                        {% endcall %}
                    </div>
                    
                    {# Javascript preferential voting form #}
                    <div role="tabpanel" class="tab-pane" id="tab-jsform">
                        <p class="sr-only">
                            {% trans -%}
                                This is the interactive voting form. It is not supposed to be used with a Keyboard only.
                                Use the link above to switch to the text-based form.
                            {%- endtrans %}
                        </p>
                        <div class="prefvote_container" id="prefvote_container">
                            <div class="indicator">
                                {% trans -%}Incr. preference{%- endtrans %} →
                            </div>
                        </div>
                        <div class="p clearfix">
                            <button class="btn btn-primary" id="button-jsvote">
                                {{ util.make_icon('ok') }} {% trans -%}Vote{%- endtrans %}
                            </button>
                        </div>
                        <script type="text/javascript">
                            /* Show tabs */
                            $('#tablist-formselect').show();
                            /* Initialize JS Fancy form */
                            $('#prefvote_container').cdedbPrefVote(
                                {{ ambience['ballot']['candidates']|dictsort|json }},
                                {{ "'"+ASSEMBLY_BAR_MONIKER+"'" if ambience['ballot']['use_bar'] else "null" }},
                                $('#input-preferencelist'),
                                {{ {'bar_name': gettext('neutral'),
                                    'box': gettext('Box {0}'),
                                    'box_highest': gettext('Box {0}: highest priority'),
                                    'box_lowest': gettext('Box {0}: lowest priority'),
                                    'spacer': gettext('Between box {0} and {1}'),
                                    'spacer_highest': gettext('Above box with highest priority'),
                                    'spacer_lowest': gettext('Below box with lowest priority'),
                                    }|json }}
                            );
                            /* Register callback to refresh fancy form every time the tab is shown */
                            $('#tablink-jsform').on('show.bs.tab',
                                                    $('#prefvote_container').data('cdedbPrefVote').readPreferenceList);
                            /* Show the tab */
                            $('#tablink-jsform').tab('show');
                            $('#button-jsvote').click(function(){$('#voteform').submit();});
                        </script>
                        
                        {% call util.bootstrap_panel(title=gettext("Help"), icon='info-sign', aclass='panel-default mosp') %}
                            <p>
                                {% trans link=gettext("<a href='https://en.wikipedia.org/wiki/Schulze_method'>Schulze method</a>") -%}
                                    This vote is an Preferential Vote. You can arrange the Candidates in the field above
                                    according to Your personal preference. The preferences of all participants will be
                                    evaluated using the {{ link }}, to determine the winner.
                                {%- endtrans %}
                            </p>
                            <p>
                                {% trans -%}
                                    To arrange the Candidates, move them into one of the shaded boxes. The higher up the box,
                                    the higher Your preference for that Candidate. Candidates within the same box will be
                                    evaluated with the same preference. Move a Candidate between two boxes to create a new box.
                                {%- endtrans %}
                            </p>
                            <p>
                                {% trans -%}
                                    There are three ways of moving Candidates: Drag'n'Drop them into a different box or
                                    click on a Candidate and then on a box. Or You can select a Candidate with <kbd>TAB</kbd>,
                                    confirm it with <kbd>Enter</kbd> or <kbd>Space</kbd>, then select a box with <kbd>TAB</kbd>
                                    and confirm the selection with <kbd>ENTER</kbd> or <kbd>Space</kbd>.
                                {%- endtrans %}
                            </p>
                            {% if ambience['ballot']['use_bar'] %}
                                <p>
                                    {% trans -%}
                                        One of the boxes is marked as "Neutral". Please place Candidates You deem suitable
                                        above this box (they will be highlighted in green) and Candidates you want to reject
                                        below this box (they will be highlighted in red). Should all Candidates be rejected,
                                        the board may take additional measures.
                                    {%- endtrans %}
                                </p>
                                <p>
                                    {% trans -%}To abstain, place all Candidates in the neutral box.{%- endtrans %}
                                </p>
                            {% else %}
                                <p>
                                    {% trans -%}To abstain, place all Candidates in the same box.{%- endtrans %}
                                </p>
                            {% endif %}
                            
                        {% endcall %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {# Attachments #}
    {% if attachments or is_admin and now() < ambience['ballot']['vote_begin'] %}
        {% call util.bootstrap_panel(title=gettext("Files"), icon='file') %}
            {% if attachments %}
                <ul>
                    {% for attachment_id, attachment in attachments|dictsort %}
                        <li>
                            {{ util.href(cdedblink("assembly/get_attachment", {'attachment_id': attachment_id}),
                                    attachment['title'])}}
                            {% if is_admin and now() < ambience['ballot']['vote_begin'] %}
                                <form action="{{ cdedblink('assembly/remove_attachment',
                                                           {'attachment_id': attachment_id})|e }}"
                                        method="POST" id="removeattachmentform{{ attachment_id|e }}"
                                        style="display: inline;">
                                    {{ util.input_submit(value="", aclass="btn btn-xs btn-danger", icon="trash",
                                            title=gettext("Delete File")) }}
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if is_admin and now() < ambience['ballot']['vote_begin'] %}
                {{ util.href(cdedblink("assembly/add_attachment_form"), gettext("Attach File"),
                             aclass="btn btn-success btn-sm", icon="plus") }}
            {% endif %}
        {% endcall %}
    {% endif %}

    {% if is_admin and now() < ambience['ballot']['vote_begin']  %}
        {% call util.bootstrap_panel(title=gettext("Actions"), icon="warning-sign", aclass="panel-danger mosp") %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="p">
                         <form action="{{ cdedblink('assembly/delete_ballot')|e }}" method="POST" id="deleteballotform"
                               style="display: inline;">
                             {{ util.input_submit(value=gettext("Delete"), icon="trash", aclass="btn btn-danger") }}
                             {{ util.input_checkbox(name="ack_delete", label=gettext("Are You sure?")) }}
                         </form>
                         <script type="text/javascript">
                             $(function() {
                                 $('#deleteballotform').cdedbProtectAction(
                                     "{{ gettext("This Ballot and all its Data will be permanently deleted.") }}");
                                 $('#deleteballotform').find('[name="ack_delete"]').prop('checked', true)
                                     .parent().hide();
                             });
                         </script>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="text-muted">
                        {% trans -%}Deletes the Ballot and all associated Settings and Candidates.{%- endtrans %}
                    </p>
                </div>
            </div>
        {% endcall %}
    {% endif %}
{% endblock %}
