{% set sidenav_active='assembly_log' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans -%}
        Assembly Log
    {%- endtrans %}
    [{{ values['start']|int }}–{{ (values['start']|int + log|length) }}]
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("assembly/view_log"), gettext("Log"), active=True) }}
{% endblock %}
{% block content %}
    {% if log %}
        <div class="p">
            {{ util.href("#logshowform", gettext("Go to Filter."), aclass="btn btn-default btn-sm", icon="arrow-down") }}
        </div>
    {% endif %}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>{% trans -%}Timestamp{%- endtrans %}</th>
            <th>{% trans -%}Code{%- endtrans %}</th>
            <th>{% trans -%}Submitted By{%- endtrans %}</th>
            <th>{% trans -%}Assembly{%- endtrans %}</th>
            <th>{% trans -%}Affected{%- endtrans %}</th>
            <th>{% trans -%}Additional Info{%- endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in log %}
            <tr>
                <td>{{ entry['ctime']|datetime(lang=lang) }}</td>
                <td>{{ gettext(enums['AssemblyLogCodes'](entry['code'])|string) }}</td>
                <td>
                    {% if entry['submitted_by'] %}
                        {{ util.persona_anchor(personas[entry['submitted_by']]) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    {% if entry['assembly_id'] %}
                        {{ util.href(cdedblink('assembly/show_assembly', {'assembly_id': entry['assembly_id']}),
                                assemblies[entry['assembly_id']]['title']) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    {% if entry['persona_id'] %}
                        {{ util.persona_anchor(personas[entry['persona_id']]) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>{{ gettext(entry['additional_info']) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% call util.bootstrap_panel(title=gettext("Filter"), icon="search", aclass="panel-primary") %}
    <form action="{{ cdedblink('assembly/view_log') }}" method="GET" id="logshowform" class="form-horizontal">
        {{ util.form_input_checkboxes("codes", label=gettext("Categories"), info=gettext("No selection means everything."),
                entries=enums['AssemblyLogCodes']|enum_entries(processing=gettext), small=True) }}
        {{ util.form_input_select(name="assembly_id", label=gettext("Assembly"), nulloption="",
                                  entries=all_assemblies|dictsort|dict_entries('id', 'title'), small=True) }}
        {{ util.form_input_from_to('start', 'stop', label=gettext("Entries"), type='number', small=True) }}
        {{ util.form_input_submit(value=gettext("Apply"), small=True) }}
    </form>
    {% endcall %}
{% endblock %}
