{% set sidenav_active='assembly_assembly_log' %}
{% extends "web/assembly/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% block title %}
    {% trans title=ambience['assembly']['title'] %}
        {{ title }}: Log
    {% endtrans %}
    {% if log %}
        [{{ values['start']|int }}–{{ (values['start']|int + log|length -1) }}]
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("assembly/show_assembly"), ambience['assembly']['title'], icon="bullhorn") }}
    {{ util.breadcrumb_link(cdedblink("assembly/view_assembly_log"), gettext("Log"), active=True) }}
{% endblock %}
{% block content %}
    {% if log %}
        <div class="p">
            {{ util.href("#logshowform", gettext("Go to Filter."), aclass="btn btn-default btn-sm", icon="arrow-down") }}
        </div>
    {% endif %}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>{% trans %}Timestamp{% endtrans %}</th>
            <th>{% trans %}Code{% endtrans %}</th>
            <th>{% trans %}Submitted By{% endtrans %}</th>
            <th>{% trans %}Affected{% endtrans %}</th>
            <th>{% trans %}Additional Info{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in log %}
            <tr>
                <td>{{ entry['ctime']|datetime(formatstr="%d.%m.%Y %H:%M:%S") }}</td>
                <td>{{ gettext(enums['AssemblyLogCodes'](entry['code'])|string) }}</td>
                <td>
                    {% if entry['submitted_by'] %}
                        {{ util.persona_anchor(personas[entry['submitted_by']]) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    {% if entry['persona_id'] %}
                        {{ util.persona_anchor(personas[entry['persona_id']]) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>{{ entry['additional_info'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ generic.log_filter(cdedblink('assembly/view_assembly_log'), enums['AssemblyLogCodes'],
        'admin_persona', aux=ambience['assembly']['id']) }}
{% endblock %}
