[run]
omit =
    cdedb/subman/tests/*
concurrency=greenlet,thread

[report]
exclude_lines =
    pragma: no cover
    raise RuntimeError\(n_\(\"Impossible.\"\)\)
    raise NotImplementedError
    return NotImplemented
    if TYPE_CHECKING:
    raise (self|cls).failureException
    self.fail
    @unittest.skip
