[flake8]
max-line-length = 88
extend-ignore =
    # line break before binop, mutually exclusive to W504 
    W503
    # redefinition, false-positves due to @overload
    F811
    # these and the following should be dropped after a run of autopep8
    E122
    E127
    E128
    E131
    E252
    E501
    E731
per-file-ignores =
    cdedb/common/validation/validate.py:F405
    # Twisted reactor has to be set before other imports
    cdedb/ldap/main.py:E402
    tests/backend_tests/__init__.py:F401
    tests/frontend_tests/__init__.py:F401
    tests/ldap_tests/__init__.py:F401
    # TODO: remove this once we improve the tests.
    tests/ldap_tests/backend.py:F841
    tests/other_tests/__init__.py:F401
    # TODO potentially refactor the import config mechanism
    tests/config/*:F401,F403
