[flake8]
max-line-length = 88
extend-ignore =
    W503  # line break before binop, mutually exclusive to W504
    F811  # redefinition, false-positves due to @overload
    E122  # these and the following should be dropped after a run of autopep8
    E127
    E128
    E131
    E252
    E501
    E731
per-file-ignores = validation.py:F405
