# local backups
*~
*.bak
*.autosave

# py[co] files
*.pyc
*.pyo

# generated documentation files
doc/build/**

# local configuration
cdedb/localconfig.py
.ldap_rootpw_local

# cache data
.coverage
.idea

# autobuild temporary data
related/auto-build/distfiles/**
related/auto-build/images/**
related/auto-build/work/**

# i18n working and compiled data
i18n/cdedb.pot
i18n/*/LC_MESSAGES/cdedb.mo
