# local backups
*~
*.bak

# py[co] files
*.pyc
*.pyo

# generated documentation files
doc/build/**

# local configuration
cdedb/localconfig.py

# cache data
.coverage

# autobuild temporary data

related/auto-build/distfiles/**
related/auto-build/images/**
related/auto-build/work/**
