{% set sidenav_active='event_users' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint = 'weak' %}
{% import "web/generic.tmpl" as generic with context %}
{% block title %}
    {% trans %}Create New Event-User{% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/user_search"), gettext("Manage Users")) }}
{{ util.breadcrumb_link(cdedblink("event/create_user"), gettext("Create User"), active="True") }}
{% endblock %}
{% block content %}
    {{ generic.create_user("event") }}
{% endblock %}
