{% extends "web/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {{ error.code }}: {{ error.name }}
{% endblock %}
{% block static_notifications %}
    {% call util.notification('error') %}
        {% if error.code == 403 %}
            {% trans %}You do not have sufficient permissions to access this page:{% endtrans %}
            {{ gettext(error.description) }}
        {% elif error.code == 404 %}
            {% trans %}Couldn’t find the requested page.{% endtrans %}
            {% if error.description %}({{ gettext(error.description) }}){% endif %}
        {% elif error.code == 405 %}
            {% trans %}This HTTP method is not allowed for this URL.{% endtrans %}
        {% elif error.code == 429 %}
            {% trans %}Quota exceeded.{% endtrans %}
        {% elif error.code == 500 %}
            {% trans %}An internal error occured:{% endtrans %}
            {% if error.description %}
               {{ gettext(error.description.split(')')[0]) }})
            {% endif %}
        {% else %}
            {% trans %}An unknown error occurred.{% endtrans %}
            {% if error.description %}
                {{ (error.description|string)[:21] }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}
{% block content %}
    {% set maillink = util.href(util.mailto("cdedb@lists.cde-ev.de", gettext("CdE-Datenbank development team")), "cdedb@lists.cde-ev.de") %}
    {% if error.code == 403 %}
        {% if help is not none %}
            <p>{{ gettext(help) }}</p>
        {% endif %}
        <p>
            {% trans team=gettext("CdE-Datenbank development team"), mail=maillink, time=now()|datetime(lang=lang) %}
                If you think this is an error, please contact the {{ team }} at {{ mail }} with the error message
                displayed above, the current time ({{ time }}) and a detailed description of your actions: What were you
                about to do? Which links and buttons did you click to get here? Have you changed any settings before the
                error occurred?
            {% endtrans %}
        </p>
    {% elif error.code in (404, 405) %}
        <p>
            {% trans team=gettext("CdE-Datenbank development team"), mail=maillink %}
                If you reached this page via an internal link of the CdE-Datenbank, please contact the {{ team }} at
                {{ mail }} and describe how you got here.
            {% endtrans %}
        </p>
        <p>
            {% trans frontpage_link=util.href(cdedblink('core/index'), gettext("frontpage")) %}
                Use the navigation buttons of your browser to get back to the previous page or go to the
                {{ frontpage_link }} of the CdE-Datenbank.
            {% endtrans %}
        </p>
    {% else %}
            {% if help is not none %}
                <p>{{ gettext(help) }}</p>
            {% else %}
                <p>{% trans %}First try reloading this page.{% endtrans %}</p>
            {% endif %}
        <p>
            {% trans team=gettext("CdE-Datenbank development team"), mail=maillink, time=now()|datetime(lang=lang) %}
                If the error persists, you probably found a bug, hidden in our code.
                Please contact the {{ team }} at {{ mail }} with the error message displayed above, the current time
                ({{ time }}) and a detailed description of your actions: What were you about to do? Which links and
                buttons did you click to get here? Have you changed any settings before the error occurred?
            {% endtrans %}
        </p>
    {% endif %}
{% endblock %}
