{% extends "web/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}{{ error|e }}{% endblock %}
{% block content %}
    {% if error.code == 403 %}
        <div class="alert alert-danger">
            {{ util.make_icon('remove-sign') }}
            {% trans -%}You do not have sufficient permissions to access this site:{%- endtrans %}
            {{ error.description|e }}
        </div>
        <p>
            {{ gettext("If You think this is an error, please contact the %(team)s at %(mail)s and describe what You did.")|
               format(team=gettext("Database-Development-Team"),
                      mail="<a href='mailto:" + gettext("CdE-Database-Development-Team") +
                           "<cdedb@lists.cde-ev.de>'>{#-#}cdedb@lists.cde-ev.de</a>") }}
        </p>
    {% elif error.code == 404 %}
        <div class="alert alert-danger">
            {{ util.make_icon('remove-sign') }}
            {% trans -%}Couldn't find the requested site:{%- endtrans %}
            {{ error.description|e }}
        </div>
        <p>
            {{ gettext("If You got here via an internal CdE-Database Link, please constact the %(team)s at %(mail)s "
                       "and describe what You did.")|
               format(team=gettext("Database-Development-Team"),
                      mail="<a href='mailto:" + gettext("CdE-Database-Development-Team") +
                           "<cdedb@lists.cde-ev.de>'>{#-#}cdedb@lists.cde-ev.de</a>") }}
        </p>
        <p>
            {{ gettext("Use the navigation bar of your Browser to get back or go to the %(link)s of the %(db)s")|
               format(link=util.href(cdedblink('core/index'), gettext("Frontpage")), db=gettext("CdE-Database")) }}
        </p>
    {% else %}
        <div class="alert alert-danger">
            {{ util.make_icon('remove-sign') }} {% trans -%}An unknown Error occurred.{%- endtrans %}
        </div>
    {% endif %}
{% endblock %}
