# /etc/systemd/system/cde-ldap.service
[Unit]
Description=CdE LDAP Server
# use postgresql@<cluster_name>.service if possible/necessary
Requires=cde-ldap.socket postgresql.service
After=postgresql.service
Documentation=https://db.cde-ev.de/doc/API_LDAP.html

[Service]
Type=exec
Environment=UV_PROJECT_ENVIRONMENT=/home/www-cde/.venv
Environment=UV_PROJECT=/cdedb2
ExecStart=/home/www-cde/.venv/bin/python -m cdedb.ldap.main
ExecStartPre=+make -C /cdedb2 www-cde-venv
Restart=on-failure

# TODO move secrets into credentials and use DynamicUser=
# Similarly, the LDAP certificate key should be made into a credential
# we need to access the /etc/cdedb/secrets.py file which is only accessible to www-cde
User=www-cde
Group=www-cde
# restrict the privileges of the running process
RemoveIPC=true
PrivateTmp=true
NoNewPrivileges=true
RestrictSUIDSGID=true
ProtectHome=read-only
ProtectSystem=strict
