# /etc/systemd/system/cde-ldap.service
[Unit]
Description=CdE LDAP Server
# use postgresql@<cluster_name>.service if possible/necessary
Requires=cde-ldap.socket postgresql.service
After=postgresql.service
Documentation=https://db.cde-ev.de/doc/API_LDAP.html

[Service]
Type=exec
Environment=CDEDB_CONFIGPATH=/etc/cdedb/config.py
# we could set WorkingDirectory= though this should not be required
# as 'cdedb' is globally available and the server does not write anything
ExecStart=/usr/bin/python3 -m cdedb.ldap.main
Restart=on-failure

# TODO move secrets into credentials and use DynamicUser=
# Similarly, the LDAP certificate key should be made into a credential
# we need to access the /etc/cdedb/secrets.py file which is only accessible to www-cde
User=www-cde
Group=www-cde
# restrict the privileges of the running process
RemoveIPC=true
# dPROD PrivateTmp=true
PrivateTmp=false
NoNewPrivileges=true
RestrictSUIDSGID=true
ProtectHome=read-only
ProtectSystem=strict
