[Unit]
Description=CdEDB Application server
Requires=cdedb-app.socket
After=network.target

[Service]
Type=notify
User=www-cde
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/cdedb2
Environment="SCRIPT_NAME=/db"
# Add --reload for easier development, this is not intended for production use
# dPROD no --reload
ExecStart=/usr/bin/gunicorn --forwarded-allow-ips="*" -w 4 --reload \
    --limit-request-line 0 --limit-request-fields 0 \
    wsgi.cdedb-app:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
# dPROD PrivateTmp=true
PrivateTmp=false
