# /etc/systemd/system/cdedb-app.service
[Unit]
Description=CdEDB Application server
Requires=cdedb-app.socket
After=network.target

[Service]
Type=notify
User=www-cde
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/cdedb2
Environment=SCRIPT_NAME=/db
Environment=OPTIONS=-"t 90"
ExecStart=/home/www-cde/.venv/bin/gunicorn \
    --forwarded-allow-ips="*" \
    -w 4 \
    --limit-request-line 0 \
    --limit-request-fields 0 \
    $OPTIONS \
    wsgi.cdedb-app:application
ExecStartPre=+make www-cde-venv
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
TimeoutStartSec=300
PrivateTmp=true
