{% set sidenav_active='event_register' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_register.js') }}
{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans title=ambience['event']['title'] %}
        Edit Registration for {{ title }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher",
                        readonly=not (ambience['event']['is_visible']
                                      or ambience['event']['id'] in user.orga
                                      or user.admin_views.intersection(('event_orga', 'event_mgmt')))) }}
{{ util.breadcrumb_link(cdedblink("event/registration_status"), gettext("My Registration")) }}
{{ util.breadcrumb_link(cdedblink("event/amend_registration"), gettext("Change"), active=True) }}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Edit Registration"),
                            ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('event/amend_registration') }}" method="POST" id="amendregistrationform"
          class="form-horizontal">
        {{ util.anti_csrf_token('event/amend_registration') }}

        {% if ambience['event']['registration_text'] %}
            {% call util.bootstrap_panel(title=gettext("Note of the Orga Team"), icon="info-circle", aclass="panel-info") %}
                {{ ambience['event']['registration_text']|md }}
            {% endcall %}
        {% endif %}

        <h3 class="sr-only">{% trans %}Course Choices{% endtrans %}</h3>
        {{ generic_event.select_all_course_choices(involved_tracks=involved_tracks) }}

        {{ util.h(n_("Additional Information"), underline=true) }}
        {{ generic_event.additional_registration_choices(age, reg_questionnaire) }}

        {{ generic_event.fee_preview_panel() }}

        {% if not was_member %}
            <div class="heading-underline text-info" style="font-weight: bold;">
                <p id="nonmember-surcharge">
                {% trans %}
                    Because you were not a CdE-Member at registration, you might have to pay an additional fee.
                {% endtrans %}
                </p>
            </div>
        {% endif %}

        {{ util.form_input_submit(label=gettext("Save"), readonly=readonly,
                                  cancellink=cdedblink("event/registration_status")) }}
    </form>
    <script nonce="{{ csp_nonce }}">
        feePreviewConstants = {
            'endpoint': '{{ cdedblink('event/precompute_fee') }}',
            'persona_id': {{ user.persona_id }},
            'is_member': {{ was_member|tojson }},
            'is_orga': {{ (ambience['event']['id'] in user.orga)|tojson }},
            'part_ids': {{ payment_parts|tojson }},
        }
        $('#amendregistrationform').cdedbProtectChanges().cdedbFeePreview(feePreviewConstants);
    </script>
{% endblock %}
