{% set sidenav_active='event_register' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans title=ambience['event']['title'] %}
        Edit Registration for {{ title }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher",
                        readonly=not (ambience['event']['is_visible']
                                      or ambience['event']['id'] in user.orga
                                      or user.admin_views.intersection(('event_orga', 'event_mgmt')))) }}
{{ util.breadcrumb_link(cdedblink("event/registration_status"), gettext("My Registration")) }}
{{ util.breadcrumb_link(cdedblink("event/amend_registration"), gettext("Change"), active=True) }}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Edit Registration"), ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('event/amend_registration') }}" method="POST" id="amendregistrationform"
          class="form-horizontal">
        {{ util.anti_csrf_token('event/amend_registration') }}

        {% if ambience['event']['registration_text'] %}
            {% call util.bootstrap_panel(title=gettext("Note of the Orga Team"), icon="info-circle", aclass="panel-info") %}
                {{ ambience['event']['registration_text']|md }}
            {% endcall %}
        {% endif %}

        <h3 class="sr-only">{% trans %}Course Choices{% endtrans %}</h3>
        {% for track_id, track in ambience['event']['tracks']|keydictsort(EntitySorter.course_track) if track['num_choices'] and track_id in simple_tracks and track_id in involved_tracks %}
            {{ generic_event.select_course_choice(track, courses, courses_per_track[track_id], show_track_title=ambience['event']['tracks']|length > 1) }}
        {% endfor %}

        {% for track_group_id, track_group in ambience['event']['track_groups'].items() if track_group['constraint_type'].is_sync() and track_group['track_ids'].intersect(involved_tracks) %}
            {{ generic_event.select_course_choice(
                    reference_track[track_group_id], courses, courses_per_track_group[track_group_id],
                    show_track_title=True, track_group=track_group) }}
        {% endfor %}

        <h3 class="heading-underline">{% trans %}Additional Information{% endtrans %}</h3>
        {{ generic_event.additional_registration_choices(age, reg_questionnaire) }}

        {{ util.form_input_submit(label=gettext("Save"), readonly=readonly,
                                  cancellink=cdedblink("event/registration_status")) }}
    </form>
    <script nonce="{{ csp_nonce }}">
        $('#amendregistrationform').cdedbProtectChanges();
    </script>
{% endblock %}
