{% set sidenav_active='event_batch_fees' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% block scripts %}
    {{ super() }}
    {{ util.cdedb_script('cdedb_csv_tools.js') }}
{% endblock %}

{% set jshint='strong' %}

{% block title %}
    {% trans title=ambience['event']['title'] %}
        Enter Money Transfers ({{ title }})
    {% endtrans %}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/batch_fees"), gettext("Enter Money Transfers"), active=True) }}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Enter Money Transfers"),
                            ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('event/batch_fees') }}" method="POST" id="batchfeesform" enctype="multipart/form-data">
        {{ util.anti_csrf_token('event/batch_fees') }}
        {{ util.input_hidden(name="checksum") }}
        {{ util.form_input_checkbox(name="send_notifications", horizontal=False, label=gettext("Send Individual Notifications"), defaultvalue="True",
                info=gettext("If checked, all affected users will be notified. Regardless of this the orgateam will receive a summary of all fees.")) }}
        {{ util.form_input_file(name="transfers_file", horizontal=False, label=gettext("Transfers"),
                accept="text/csv,.csv") }}
        {{ util.form_input_textarea(name="transfers", horizontal=False, rows=8, anid="input-data") }}

        <p class="help-block">
            {{ util.make_icon('info-circle') }}{{ nbsp }}{% trans %}Enter one dataset per line.{% endtrans %}
            {% trans %}Use the following format:{% endtrans %}
        </p>
        <pre>
            {#- -#}
            "{%- trans %}Transaction Date{% endtrans %}";"
            {%- trans %}Amount{% endtrans %}";"
            {%- trans %}CdEDB-ID{% endtrans %}";"
            {%- trans %}Family Name{% endtrans %}";"
            {%- trans %}Given Names{% endtrans -%}"
            {#- -#}
        </pre>
        <p class="help-block">
            {% trans %}e.g.{% endtrans %} <code>01.04.2018;123.00;DB-9-4;Iota;Inga</code>
        </p>
        <p class="help-block">
            {% trans infolink=util.href(
                    docurl("Handbuch_Email_Templates", anchor="email-templates-for-realm-event-template-transfer-received-tmpl"),
                    gettext("email template list")) %}
                The template for the notification can be found on the %(infolink)s.
            {% endtrans %}
        </p>

        {% if data %}
            <h2>{% trans %}Validation Results{% endtrans %}</h2>
            <ol class="list-unstyled" id="transfer-validation">
                {% for dataset in data %}
                    <li>
                    <strong>
                        <span class="row-key" data-row="{{ dataset['lineno'] }}">
                            {% trans lineno=dataset['lineno'] + 1 %}Line {{ lineno }}{% endtrans -%}
                        </span>:
                        {% if dataset['persona'] %}
                            {% trans amount=dataset['amount']|money(lang=lang), name=util.persona_name(dataset['persona']) %}
                                {{ amount }} for {{ name }}
                            {% endtrans %}
                        {% else %}
                            {% trans amount=dataset['amount']|money(lang=lang) %}
                                {{ amount }} for unknown user.
                            {% endtrans %}
                        {% endif %}
                    </strong>
                    {{ util.print_money_transfer_problems(dataset, csvfields) }}
                {% endfor %}
            </ol>

            <script nonce="{{ csp_nonce }}">
                $(function() {
                    var $textinput = $('#input-data');
                    $('.row-col-key').addClass('clickable').click(function() {
                        $textinput.jumpCsvPosition($(this).attr('data-row'),$(this).attr('data-col'));
                    });
                    $('.row-key').addClass('clickable').click(function() {
                        $textinput.jumpCsvPosition($(this).attr('data-row'),-1);
                    });
                    $('#transfersform').cdedbProtectChanges();
                });
            </script>
        {% endif %}

        {% if saldo %}
            {% trans %}Saldo{% endtrans %}: {{ saldo|money(lang=lang) }}
        {% endif %}

        {% if values['checksum'] %}
            {{ util.form_input_submit(label=gettext("Confirm"), horizontal=False) }}
            <p class="help-block">
                {{ util.make_icon('info-circle') }}{{ nbsp }}
                {% trans %}If the input changed, the validation results will be displayed again.{% endtrans %}
            </p>
        {% else %}
            {{ util.form_input_submit(label=gettext("Validate"), icon="chevron-right", horizontal=False) }}
        {% endif %}
    </form>
{% endblock %}
