{% set sidenav_active='event_registration' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_multiset.js') }}
{% endblock %}

{% block title %}
    {% trans field=field_name, title=ambience['event']['title'] -%}
        Add Checkin/Checkout times ({{ title }})
    {% endtrans %}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Add Checkin/Checkout times"), ambience['event']['title'],
                            'chalkboard-teacher', gettext("Event")) }}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/registration_query"), gettext("Registrations")) }}
    {{ util.breadcrumb_link(cdedblink("event/checkin_multiset_form"), gettext("Add Checkin/Checkout times"), active=True) }}
{% endblock %}

{% block content %}
    {% if present or absent %}
        {% set twocolumn = present and absent %}
        {% set request_time = now() %}
        <div class="row">
            {% if present %}
            <div class="col-sm-{{ '6' if twocolumn else '12' }}">
                {{ util.h(gettext("Check out"), underline=True) }}
                <form action="{{ cdedblink('event/checkin_multiset') }}" method="POST" id="checkoutform" class="form-horizontal">
                    {{ util.anti_csrf_token('event/checkin_multiset') }}
                    <p>
                        {% trans %}The following people will be checked out:{% endtrans %}
                    </p>
                    <ul class="slim">
                    {% for reg_id, periods in present.items() %}
                        <li>
                            {{ names[reg_id] }}
                            <small class="text-muted text-nowrap">
                                {% trans checkin=periods[-1].checkin_time|datetime(lang=lang) %}
                                    present since %(checkin)s
                                {% endtrans %}
                            </small>
                        </li>
                    {% endfor %}
                    </ul>
                    {{ util.input_hidden('registration_ids', value=",".join(present|map('string'))) }}
                    {{ util.form_input_text('checkout_time', label=gettext("Checkout time"), type='datetime-local',
                                            defaultvalue=request_time) }}
                    {{ util.form_input_submit(label=gettext("Checkout"), icon="arrow-right-from-bracket",
                                              cancellink=cdedblink('event/registration_query')) }}
                </form>
            </div>
            {% endif %}
            {% if absent %}
            <div class="col-sm-{{ '6' if twocolumn else '12' }}">
                {{ util.h(gettext("Check in"), underline=True) }}
                <form action="{{ cdedblink('event/checkin_multiset') }}" method="POST" id="checkinform" class="form-horizontal">
                    {{ util.anti_csrf_token('event/checkin_multiset') }}
                    <p>
                        {% trans %}The following people will be checked in:{% endtrans %}
                    </p>
                    <ul class="nslim">
                    {% for reg_id, periods in absent.items() %}
                        <li>
                            {{ names[reg_id] }}
                            <small class="text-muted text-nowrap">
                                {% if periods %}
                                    {% trans checkout=periods[-1].checkout_time|datetime(lang=lang) %}
                                        last checkout %(checkout)s
                                    {% endtrans %}
                                {% else %}
                                    {% trans %}Never checked-in{% endtrans %}
                                {% endif %}
                            </small>
                        </li>
                    {% endfor %}
                    </ul>
                    {{ util.input_hidden('registration_ids', value=",".join(absent|map('string'))) }}
                    {{ util.form_input_text('checkin_time', label=gettext("Checkin time"), type='datetime-local',
                                            defaultvalue=request_time) }}
                    {{ util.form_input_submit(label=gettext("Checkin"), icon="arrow-right-to-bracket",
                                              cancellink=cdedblink('event/registration_query')) }}
                </form>
            </div>
            {% endif %}
        </div>
    {% else %}
        <p>
            {% trans %}No registrations selected.{% endtrans %}
        </p>
    {% endif %}
    <script nonce="{{ csp_nonce }}">
        $('#checkinform').cdedbProtectChanges();
        $('#checkoutform').cdedbProtectChanges();
    </script>
{% endblock %}
