{% set sidenav_active='event_configure_registration' if preview else 'event_register' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% block title %}
    {% if preview %}
        {% trans title=ambience['event']['title'] %}
            Registration Preview for {{ title }}
        {% endtrans %}
    {% else %}
        {% trans title=ambience['event']['title'] %}
            Registration for {{ title }}
        {% endtrans %}
    {% endif %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{% if not preview %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher",
                            readonly=not (ambience['event']['is_visible']
                                          or ambience['event']['id'] in user.orga
                                          or user.admin_views.intersection(('event_orga', 'event_mgmt')))) }}
    {{ util.breadcrumb_link(cdedblink("event/register"), gettext("Register"), active=True) }}
{% else %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/configure_registration"), gettext("Configure Registration")) }}
    {{ util.breadcrumb_link(cdedblink("event/register", {"preview": True}),
                            gettext("Registration Preview"), active=True) }}
{% endif %}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Registration Preview") if preview else gettext("Registration"),
                            ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}

{% block content %}
    <p>
        {% if ambience['event']['registration_soft_limit'] is none %}
            {% trans %}
                All data except Event Parts can be changed until the registration ends.
            {% endtrans %}
        {% elif ambience['event']['registration_soft_limit'] >= now() %}
            {% trans date=ambience['event']['registration_soft_limit']|datetime(lang=lang) %}
                All data except Event Parts can be changed until the registration ends ({{ date }}).
            {% endtrans %}
        {% else %}
            {% trans %}
                The official registration has ended. Your registration will be considered if possible.
            {% endtrans %}
        {% endif %}
    </p>

    {% if preview %}
    <form class="form-horizontal">
    {% else %}
    <form action="{{ cdedblink('event/register') }}" method="POST" id="registerform" class="form-horizontal">
        {{ util.anti_csrf_token('event/register') }}
    {% endif %}

        {% if ambience['event']['registration_text'] %}
            {% call util.bootstrap_panel(title=gettext("Note of the Orga Team"), icon="info-circle", aclass="panel-info") %}
                {{ ambience['event']['registration_text']|md }}
            {% endcall %}
        {% endif %}

        <h3 class="heading-underline">{% trans %}My Data{% endtrans %}</h3>
        <dl class="dl-horizontal">
            <dt title="{% trans %}Full Name{% endtrans %}">{% trans %}Full Name{% endtrans %}</dt>
            <dd>
                {{ util.persona_name(persona, given_and_display_names=True, with_titles=True) }}
            </dd>

            <dt title="{% trans %}Birthday{% endtrans %}">{% trans %}Birthday{% endtrans %}</dt>
            <dd>{{ persona['birthday']|date(lang=lang) }}</dd>
            <dt title="{% trans %}Gender{% endtrans %}">{% trans %}Gender{% endtrans %}</dt>
            <dd>{{ gettext(enums['Genders'](persona['gender'])|string) }}</dd>
            <dt title="{% trans %}Pronouns{% endtrans %}">{% trans %}Pronouns{% endtrans %}</dt>
            <dd>{{ persona['pronouns'] }}</dd>
            <dt title="{% trans %}Show pronouns on nametags{% endtrans %}">{% trans %}Pronouns on nametags{% endtrans %}</dt>
            <dd>{{ util.deko_checkbox(persona['pronouns_nametag']) }}</dd>
            <dt title="{% trans %}E-Mail{% endtrans %}">{% trans %}E-Mail{% endtrans %}</dt>
            <dd> {{ persona['username'] }} </dd>
            <dt title="{% trans %}Phone{% endtrans %}">{% trans %}Phone{% endtrans %}</dt>
            <dd>{{ persona['telephone']|phone }}</dd>
            <dt title="{% trans %}Mobile Phone{% endtrans %}">{% trans %}Mobile Phone{% endtrans %}</dt>
            <dd>{{ persona['mobile']|phone }}</dd>
            <dt title="{% trans %}Address{% endtrans %}">{% trans %}Address{% endtrans %}</dt>
            <dd>{{ persona['address'] }}</dd>
            <dt title="{% trans %}Address Supplement{% endtrans %}">{% trans %}Address Supplement{% endtrans %}</dt>
            <dd>{{ persona['address_supplement'] }}</dd>
            <dt title="{% trans %}City{% endtrans %}">{% trans %}City{% endtrans %}</dt>
            <dd>{{ persona['postal_code'] }} {{ persona['location'] }}</dd>
            <dt title="{% trans %}Country{% endtrans %}">{% trans %}Country{% endtrans %}</dt>
            <dd>{{ util.gettext_country(persona['country']) }}</dd>
        </dl>
        <p>
            {% trans link=util.href(cdedblink('core/change_user'), gettext("form to edit your profile")) %}
            	This data is taken from your personal profile. To change it, use this {{ link }}.
            {% endtrans %}
        </p>

        {% if ambience['event']['parts']|length > 1 %}
            <h3 class="heading-underline">{% trans %}Registration{% endtrans %}</h3>
        {% endif %}

        {% if ambience['event']['parts']|length > 1 %}
            {{ util.form_input_checkboxes(name="parts", label=gettext("Event Parts"),
                                          entries=ambience['event']['parts']|keydictsort(EntitySorter.event_part)
                                              |dict_entries('id', 'title')) }}
        {% elif ambience['event']['parts']|length == 1 %}
            {{ util.input_hidden(name="parts", value=(ambience['event']['parts']|list)[0]) }}
        {% endif %}

        {% if choice_objects %}
            <h3 class="">{% trans %}Course Choices{% endtrans %}</h3>
            {{ generic_event.select_all_course_choices() }}
        {% endif %}

        <h3 class="heading-underline">{% trans %}Additional Information{% endtrans %}</h3>
        {{ generic_event.additional_registration_choices(age, reg_questionnaire) }}

        {% call util.form_input_general(displayerrors=False) %}
            {% if ambience['event']['use_additional_questionnaire'] %}
                <p class="text-info nosp">
                    {{ util.make_icon('info-circle') }}
                    {% trans %}
                        After registration, you will find the ‘Questionnaire’ with further questions of the orga team in
                        the navigation. There you can give more detailed information.
                    {% endtrans %}
                </p>
            {% else %}
                <p class="text-info nosp">
                    {{ util.make_icon('info-circle') }}
                    {% trans %}
                        The orga team of this event may ask you for further data later, using the ‘Questionaire’.
                    {% endtrans %}
                </p>
            {% endif %}
        {% endcall %}
        {% if not preview %}
        {{ util.form_input_submit(label=gettext("Register"), cancellink=cdedblink('event/show_event')) }}
        {% endif %}
    </form>

    <script nonce="{{ csp_nonce }}">
        var $form = $('#registerform');
        $form.cdedbProtectChanges();
        var checkboxes = $form.find('[type="checkbox"][name="parts"]');
        /* Map part to part selection checkbox ($-encapsulated) */
        checkbox_map = {};
        checkboxes.each(function(){
            checkbox_map[$(this).val()] = $(this);
        });
        ccos_per_part = {{ ccos_per_part|tojson }};
        var containers = $('.course_choice_container');
        var updateCourseChoiceContainers = function() {
            /* Hide everything, then show available containers */
            containers.each(function(){
                $(this).hide();
            });
            Object.keys(ccos_per_part).forEach(function(key){
                if (checkbox_map[key].prop('checked'))
                    ccos_per_part[key].forEach(function(element){
                        $('#course-choice-container-' + element).show();
                    });
            });
        };

        if (checkboxes.length) {
            checkboxes.change(updateCourseChoiceContainers);
            updateCourseChoiceContainers();
        }
    </script>
{% endblock %}
