{% set sidenav_active = "event_register_config" if preview else "event_register" %}
{% set jshint = 'strong' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% block scripts %}
    {{ super() }}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_register.js') }}
{% endblock %}
{% block title %}
    {% if preview %}
        {% trans title=ambience['event']['title'] %}
            Registration Preview for {{ title }}
        {% endtrans %}
    {% else %}
        {% trans title=ambience['event']['title'] %}
            Registration for {{ title }}
        {% endtrans %}
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher",
                            readonly=not (ambience['event'].is_visible_for(user, is_registered=False, privileged=False)
                                          or orga_view or 'event_mgmt' in user.admin_views)) }}
    {% if preview %}
        {{ util.breadcrumb_link(cdedblink("event/configure_registration"), gettext("Configure Registration")) }}
        {{ util.breadcrumb_link(cdedblink("event/register", {"preview": True}),
                                gettext("Registration Preview"), active=True) }}
    {% else %}
        {{ util.breadcrumb_link(cdedblink("event/register"), gettext("Register"), active=True) }}
    {% endif %}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Registration Preview") if preview else gettext("Registration"),
                            ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}

{% macro button_par() %}
    {% if is_privileged_for("event/configure_registration") %}
        <div class="p button-par">
            {{ util.href(cdedblink("event/configure_registration", {"event_id": ambience['event']['id']}),
                         gettext("Configure Registration"), icon='check-square', aclass="btn btn-sm btn-warning") }}
            {% if not preview %}
                {{ util.href(cdedblink("event/register", {"preview": True}),
                             gettext("Registration Preview"), aclass="btn btn-info btn-sm", icon="eye") }}
            {% endif %}
            {{ util.href(cdedblink("event/additional_questionnaire", {"preview": True}),
                         gettext("Questionnaire Preview"), aclass="btn btn-default btn-sm", icon="eye") }}
        </div>
    {% endif %}
{% endmacro %}

{% block content %}
    {{ button_par() }}
    <p>
        {% if ambience['event']['registration_soft_limit'] is none %}
            {% trans %}
                All data except Event Parts can be changed until the registration ends.
            {% endtrans %}
        {% elif ambience['event']['registration_soft_limit'] >= now() %}
            {% trans date=ambience['event']['registration_soft_limit']|datetime(lang=lang) %}
                All data except Event Parts can be changed until the registration ends ({{ date }}).
            {% endtrans %}
        {% else %}
            {% trans %}
                The official registration has ended. Your registration will be considered if possible.
            {% endtrans %}
        {% endif %}
    </p>

    <form action="{{ cdedblink('event/register') }}" method="POST" id="registerform" class="form-horizontal">
    {% if not preview %}
        {{ util.anti_csrf_token('event/register') }}
    {% endif %}

        {% if ambience['event']['registration_text'] %}
        {% set button = None %}
        {% if orga_view %}
            {% set button = generic_event.edit_free_text_button("registration_text") %}
        {% endif %}
        {% call util.bootstrap_panel(gettext("Note of the Orga Team"), button=button,
                                     icon="info-circle", aclass="panel-info") %}
            {{ ambience['event']['registration_text']|md }}
        {% endcall %}
        {% endif %}

        {{ util.h(n_("My Data"), underline=true) }}
        <dl class="dl-horizontal">
            <dt title="{% trans %}Full Name{% endtrans %}">{% trans %}Full Name{% endtrans %}</dt>
            <dd>
                {{ persona|persona_name(include_nickname=True, with_titles=True) }}
            </dd>

            <dt title="{% trans %}Birthday{% endtrans %}">{% trans %}Birthday{% endtrans %}</dt>
            <dd>{{ persona['birthday']|date(lang=lang) }}</dd>
            <dt title="{% trans %}Gender{% endtrans %}">{% trans %}Gender{% endtrans %}</dt>
            <dd>{{ gettext(enums['Genders'](persona['gender'])|string) }}</dd>
            <dt title="{% trans %}Pronouns{% endtrans %}">{% trans %}Pronouns{% endtrans %}</dt>
            <dd>{{ persona['pronouns'] }}</dd>
            <dt title="{% trans %}Show pronouns on nametags{% endtrans %}">{% trans %}Pronouns on nametags{% endtrans %}</dt>
            <dd>{{ util.deko_checkbox(persona['pronouns_nametag']) }}</dd>
            <dt title="{% trans %}E-Mail{% endtrans %}">{% trans %}E-Mail{% endtrans %}</dt>
            <dd> {{ persona['username'] }} </dd>
            <dt title="{% trans %}Phone{% endtrans %}">{% trans %}Phone{% endtrans %}</dt>
            <dd>{{ persona['telephone']|phone }}</dd>
            <dt title="{% trans %}Mobile Phone{% endtrans %}">{% trans %}Mobile Phone{% endtrans %}</dt>
            <dd>{{ persona['mobile']|phone }}</dd>
            <dt title="{% trans %}Address{% endtrans %}">{% trans %}Address{% endtrans %}</dt>
            <dd>{{ persona['address'] }}</dd>
            <dt title="{% trans %}Address Supplement{% endtrans %}">{% trans %}Address Supplement{% endtrans %}</dt>
            <dd>{{ persona['address_supplement'] }}</dd>
            <dt title="{% trans %}City{% endtrans %}">{% trans %}City{% endtrans %}</dt>
            <dd>{{ persona['postal_code'] }} {{ persona['location'] }}</dd>
            <dt title="{% trans %}Country{% endtrans %}">{% trans %}Country{% endtrans %}</dt>
            <dd>{{ util.gettext_country(persona['country']) }}</dd>
        </dl>
        <p>
            {% trans link=util.href(cdedblink('core/change_user'), gettext("form to edit your profile")) %}
            	This data is taken from your personal profile. To change it, use this {{ link }}.
            {% endtrans %}
        </p>

        {% if ambience['event']['parts']|length > 1 %}
            {{ util.h(n_("Registration"), underline=true) }}
        {% endif %}

        {% if ambience['event']['parts']|length > 1 %}
            {{ util.form_input_checkboxes(name="parts", label=gettext("Event Parts"),
                                          entries=part_options) }}
            {{ generic_event.fee_preview_panel() }}

        {% elif ambience['event']['parts']|length == 1 %}
            {{ util.input_hidden(name="parts", value=(ambience['event']['parts']|list)[0]) }}
        {% endif %}

        {% if not persona["is_member"] %}
            <div class="heading-underline text-info" style="font-weight: bold;">
                <p id="nonmember-surcharge">
                {% trans %}
                    Because you are not a CdE-Member, you might have to pay an additional fee.
                {% endtrans %}
                {% if persona["is cde_realm"] %}
                    {% trans %}
                        If you pay your membership fee before your registration fee, the additional fee will be waived.
                    {% endtrans %}
                {% endif %}
                </p>
            </div>
        {% endif %}

        {% if choice_objects %}
            {{ util.h(n_("Course Choices"), underline=true) }}
            {{ generic_event.select_all_course_choices() }}
        {% endif %}

        {{ util.h(n_("Additional Information"), underline=true) }}
        {{ generic_event.additional_registration_choices(age_class, reg_questionnaire) }}

        {% call util.form_input_general(displayerrors=False) %}
            {% if ambience['event']['use_additional_questionnaire'] %}
                <p class="text-info nosp">
                    {{ util.make_icon('info-circle') }}
                    {% trans %}
                        After registration, you will find the ‘Questionnaire’ with further questions of the orga team in
                        the navigation. There you can give more detailed information.
                    {% endtrans %}
                </p>
            {% else %}
                <p class="text-info nosp">
                    {{ util.make_icon('info-circle') }}
                    {% trans %}
                        The orga team of this event may ask you for further data later, using the ‘Questionaire’.
                    {% endtrans %}
                </p>
            {% endif %}
        {% endcall %}

        {% call generic_event.fee_preview_panel(show_composition=preview) %}
            {% if preview %}
                {{ util.form_input_checkbox("is_orga", gettext("Is Orga"), anid="fee-precompute-is-orga") }}
                {{ util.form_input_checkbox("is_member", gettext("Is Member"), anid="fee-precompute-is-member",
                                            defaultvalue="True") }}
                {{ util.form_input_text("age", gettext("Age"), type="number", anid="fee-precompute-age",
                                        defaultvalue=persona_age) }}
            {% endif %}
        {% endcall %}

        {% if not preview %}
            {% if age_class.with_guardian() %}
                {{ util.form_input_static(aclass='text-info', icon='info-circle',
                    value=gettext("I confirm that I will attend the event only under the supervision of a parent who will attend the same event.")) }}
            {% endif %}
            {{ util.form_input_submit(label=gettext("Register"), cancellink=cdedblink('event/show_event')) }}
        {% endif %}
    </form>

    {{ button_par() }}

    <script nonce="{{ csp_nonce }}">
        var $form = $('#registerform');

        ccos_per_part = {{ ccos_per_part|tojson }};
        part_map = {{ parts_per_track_group_per_course|tojson }};

        feePreviewConstants = {
            'endpoint': '{{ cdedblink('event/precompute_fee') }}',
            'persona_id': {{ user.persona_id if not preview else "null" }},
            'is_member': {{ persona['is_member']|tojson }},
            'is_orga': {{ (ambience['event']['id'] in user.orga)|tojson }},
            'age': {{ persona_age }},
            'part_ids': {{ (ambience['event'].parts|list if ambience['event'].parts|length <= 1 else None)|tojson }},
        }

        $form.cdedbProtectChanges().dynamicCourseChoices(ccos_per_part, part_map)
            .cdedbFeePreview(feePreviewConstants);
    </script>
{% endblock %}
