{% extends "web/event/base.tmpl" %}
{% set sidenav_active='event_registration' %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% block title %}
    {% trans name=util.persona_name(persona), title=ambience['event']['title'] -%}
    	Registration by {{ name }} ({{ title }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
{{ util.breadcrumb_link(cdedblink("event/registration_query"), gettext("Registrations")) }}
{{ util.breadcrumb_link(cdedblink("event/show_registration"), util.persona_name(persona), active=True, icon="user") }}
{% endblock %}
{% block heading %}
    {{ util.context_heading(util.persona_name(persona), ambience['event']['title'],
                            'chalkboard-teacher', gettext("Event")) }}
{% endblock %}
{% block content %}
    <div class="p">
        {{ util.href(cdedblink("event/change_registration_form"), gettext("Edit"), readonly=is_locked,
                     aclass="btn btn-warning btn-sm", icon="pen") }}
        {{ util.href(cdedblink("event/show_registration_fee"), gettext("Fee Details"),
                     aclass="btn btn-info btn-sm", icon="coins") }}
        {{ util.href(cdedblink("event/view_event_log",
                               {'event_id': ambience['event']['id'],
                                'persona_id': ambience['registration']['persona_id']|cdedbid}),
                     gettext("Log"), aclass="btn btn-default", icon="list-alt") }}
    </div>
    <h3 class="heading-underline">{% trans %}Personal Information{% endtrans %}</h3>
    <dl class="dl-horizontal">
        <dt title="{% trans %}Full Name{% endtrans %}">{% trans %}Full Name{% endtrans %}</dt>
        <dd>
            {{ util.persona_name(persona, given_and_display_names=True, with_titles=True) }}
        </dd>
        <dt title="{% trans %}CdEDB-ID{% endtrans %}">{% trans %}CdEDB-ID{% endtrans %}</dt>
        <dd>{{ util.href(show_user_link(user, persona['id'], event_id=ambience['event']['id']), persona['id']|cdedbid) }}</dd>
        {% if ambience['registration']['real_persona_id'] %}
            <dt title="{% trans %}Online CdEDB-ID{% endtrans %}">{% trans %}Online CdEDB-ID{% endtrans %}</dt>
            <dd>{{ ambience['registration']['real_persona_id']|cdedbid }}</dd>
        {% endif %}
        <dt title="{% trans %}CdE-Member{% endtrans %}">{% trans %}CdE-Member{% endtrans %}</dt>
        <dd>{{ util.deko_checkbox(checked=(persona['is_member'])) }}</dd>
        <dt title="{% trans %}Member at registration{% endtrans %}">{% trans %}Member at registration{% endtrans %}</dt>
        <dd>{{ util.deko_checkbox(checked=(ambience['registration']['is_member'])) }}</dd>
        <dt title="{% trans %}Birthday{% endtrans %}">{% trans %}Birthday{% endtrans %}</dt>
        <dd>
            {{ persona['birthday']|date(lang=lang) }} (<em>{{ gettext(age|string) }}</em>)
        </dd>
        <dt title="{% trans %}Gender{% endtrans %}">{% trans %}Gender{% endtrans %}</dt>
        <dd>{{ gettext(enums['Genders'](persona['gender'])|string) }}</dd>
        <dt title="{% trans %}Pronouns{% endtrans %}">{% trans %}Pronouns{% endtrans %}</dt>
        <dd>{{ persona['pronouns'] }}</dd>
        <dt title="{% trans %}Show pronouns on nametags{% endtrans %}">{% trans %}Pronouns on nametags{% endtrans %}</dt>
        <dd>{{ util.deko_checkbox(persona['pronouns_nametag']) }}</dd>

    </dl>
    <dl class="dl-horizontal">
        <dt title="{% trans %}E-Mail{% endtrans %}">{% trans %}E-Mail{% endtrans %}</dt>
        <dd>{{ util.username_mailto(persona) }} </dd>
        <dt title="{% trans %}Phone{% endtrans %}">{% trans %}Phone{% endtrans %}</dt>
        <dd>{{ persona['telephone']|phone }}</dd>
        <dt title="{% trans %}Mobile Phone{% endtrans %}">{% trans %}Mobile Phone{% endtrans %}</dt>
        <dd>{{ persona['mobile']|phone }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt title="{% trans %}Address{% endtrans %}">{% trans %}Address{% endtrans %}</dt>
        <dd>{{ persona['address'] }}</dd>
        <dt title="{% trans %}Address Supplement{% endtrans %}">{% trans %}Address Supplement{% endtrans %}</dt>
        <dd>{{ persona['address_supplement'] }}</dd>
        <dt title="{% trans %}City{% endtrans %}">{% trans %}City{% endtrans %}</dt>
        <dd>{{ persona['postal_code'] }} {{ persona['location'] }}</dd>
        <dt title="{% trans %}Country{% endtrans %}">{% trans %}Country{% endtrans %}</dt>
        <dd>{{ util.gettext_country(persona['country']) }}</dd>
    </dl>
    {% if persona['id'] in ambience['event']['orgas'] %}
    <p class="text-info">
        {% trans given_names=util.persona_name(persona, with_family_name=False) %}
        	{{ given_names }} is Orga of this event.
        {% endtrans %}
    </p>
    {% endif %}

    {% if ambience['registration']['orga_notes'] %}
        {% call util.bootstrap_panel(title=gettext("Orga-Notes"), icon="tag",
                                     aclass="panel-default panel-condensed") %}
            {{ ambience['registration']['orga_notes']|md }}
        {% endcall %}
    {% endif %}
    {% if mep_violations or ccs_violations %}
        {% call generic_event.constraint_violations_panel(violation_severity) %}
            {{ generic_event.list_mep_violations(mep_violations, {persona['id']: persona}) }}
            {{ generic_event.list_ccs_violations(ccs_violations, {persona['id']: persona}) }}
        {% endcall %}
    {% endif %}

    <h3 class="heading-underline">{% trans %}Status{% endtrans %}</h3>
    <div class="row">
    <dl class="dl-horizontal col-md-6">
        <dt title="{% trans %}Participation Fee{% endtrans %}">{% trans %}Participation Fee{% endtrans %}</dt>
        <dd>
            {% if ambience['registration']['payment'] %}
                {% trans date=ambience['registration']['payment']|date(lang=lang) %}
                    Paid on {{ date }}
                {% endtrans %}
            {% else %}
                <em>{% trans %}Pending{% endtrans %}</em>
            {% endif %}
        </dd>
        <dt title="{% trans %}Amount Owed{% endtrans %}">{% trans %}Amount Owed{% endtrans %}</dt>
        <dd>
            {{ util.href(cdedblink("event/show_registration_fee"), ambience['registration']['amount_owed']|money(lang=lang)) }}
        </dd>
        <dt title="{% trans %}Already Paid{% endtrans %}">{% trans %}Already Paid{% endtrans %}</dt>
        <dd>
            {{ ambience['registration']['amount_paid']|money(lang=lang) }}
        </dd>
        <dt title="{% trans %}Remaining Owed{% endtrans %}">{% trans %}Remaining Owed{% endtrans %}</dt>
        <dd>
            {{ to_pay|money(lang=lang) }}
        </dd>

        <dt title="{% trans %}Parental Consent{% endtrans %}">{% trans %}Parental Consent{% endtrans %}</dt>
        <dd>
            {% if not age.is_minor() %}
                <em>{% trans %}Of Age{% endtrans %}</em>
            {% else %}
                {{ util.deko_checkbox(checked=ambience['registration']['parental_agreement']) }}
            {% endif %}
        </dd>

        <dt title="{% trans %}Checked-In at{% endtrans %}">{% trans %}Checked-In at{% endtrans %}</dt>
        <dd id="checkin-time">
            {{ ambience['registration']['checkin']|datetime(lang=lang) or "—" }}
        </dd>
    </dl>

    <dl class="dl-horizontal col-md-6">
        <dt title="{% trans %}Registered at{% endtrans %}">{% trans %}Registered at{% endtrans %}</dt>
        <dd>
            {{ ambience['registration']['ctime']|datetime(lang=lang) or "—" }}
        </dd>
        <dt title="{% trans %}Last modified at{% endtrans %}">{% trans %}Last modified at{% endtrans %}</dt>
        <dd>
            {{ ambience['registration']['mtime']|datetime(lang=lang) or "—" }}
        </dd>
    </dl>
    </div>

    {% for batch in ambience['event']['parts'].values()|sort|batch(2) %}
        <div class="row">
        {% for part in batch %}
            <div class="col-md-6">
                {% if ambience['event']['parts']|length > 1 %}
                    <h4>{{ part['title'] }}</h4>
                {% endif %}
                {% set status = enums['RegistrationPartStati'](ambience['registration']['parts'][part.id]['status']) %}
                <dl class="dl-horizontal">
                    <dt title="{% trans %}Status{% endtrans %}">{% trans %}Status{% endtrans %}</dt>
                    <dd>
                        {{ gettext(status|enum(enums['RegistrationPartStati'])) }}
                        {% if status == enums['RegistrationPartStati'].waitlist and waitlist_position[part.id] %}
                            ({% trans %}Placement{% endtrans %}&nbsp;{{ waitlist_position[part.id] }})
                        {% endif %}
                    </dd>
                    {% if status != enums['RegistrationPartStati'].not_applied %}
                        {% for track in ambience['event']['tracks'].values()|sort
                                if track['part_id'] == part.id %}
                            <dt title="{% trans track=track['shortname'] if ambience['event']['tracks']|length > 1 else "" %}
                                           Course {{ track }}
                                       {% endtrans %}">
                                {% trans track=track['shortname'] if ambience['event']['tracks']|length > 1 else "" %}
                                	Course {{ track }}
                                {% endtrans %}
                            </dt>
                            <dd>
                                {% with course_id = ambience['registration']['tracks'][track.id]['course_id'] %}
                                    {% if course_id %}
                                        {% if not status.is_involved() %}<s>{% endif -%}
                                        {{ util.href(cdedblink('event/show_course', {'course_id': course_id}),
                                                     "{}. {}".format(courses[course_id]['nr'],
                                                                     courses[course_id]['shortname'])) }}
                                        {%- if not status.is_involved() %}</s>{% endif %}
                                    {% else %}
                                        —
                                    {% endif %}
                                {% endwith %}
                            </dd>
                        {% endfor %}

                        {% if lodgements %}
                        <dt title="{% trans %}Lodgement{% endtrans %}">{% trans %}Lodgement{% endtrans %}</dt>
                        <dd>
                            {% with lodgement_id = ambience['registration']['parts'][part.id]['lodgement_id'] %}
                                {% if lodgement_id %}
                                    {% if not status.is_involved() %}<s>{% endif -%}
                                    {{ util.href(cdedblink('event/show_lodgement', {'lodgement_id': lodgement_id}),
                                                 lodgements[lodgement_id]['title']) }}
                                    {%- if not status.is_involved() %}</s>{% endif %}
                                {% else %}
                                    —
                                {% endif %}
                            {% endwith %}
                        </dd>
                        {% endif %}
                        <dt title="">{% trans %}Uses Camping Mat{% endtrans %}</dt>
                        <dd>
                            {{ util.deko_checkbox(checked=ambience['registration']['parts'][part.id]['is_camping_mat']) }}
                        </dd>
                    {% endif %}
                </dl>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

    <h3 class="heading-underline">{% trans %}Registration Data{% endtrans %}</h3>
        <dl class="dl-horizontal">
            <dt title="{% trans %}Mixed Lodging{% endtrans %}">{% trans %}Mixed Lodging{% endtrans %}</dt>
            <dd>
                {{ util.deko_checkbox(checked=ambience['registration']['mixed_lodging']) }}
            </dd>
            <dt title="{% trans %}Participant List Consent{% endtrans %}">{% trans %}Participant List Consent{% endtrans %}</dt>
            <dd>
                {{ util.deko_checkbox(checked=ambience['registration']['list_consent']) }}
            </dd>
        </dl>
        <h4>{% trans %}Course Choices{% endtrans %}</h4>
        {% if ambience['event']['tracks']|length > 0 %}
            {% for batch in choice_objects|batch(2) %}
                <div class="row">
                {% for cco in batch %}
                    {% set track = cco.reference_track %}
                    {% set reg_track = ambience['registration']['tracks'][track['id']] %}
                    <div class="col-md-6" id="course-choices-{{ "group-{}".format(cco['id']) if cco.is_complex() else track['id'] }}">
                        {% if choice_objects|length > 1 %}
                            <h5>{{ cco['title'] }}</h5>
                        {% endif %}

                        <dl class="dl-horizontal">
                            <dt title="{% trans %}Instructor of{% endtrans %}">{% trans %}Instructor of{% endtrans %}</dt>
                            <dd>
                                {% with course_id = reg_track['course_instructor'] %}
                                    {% if course_id %}
                                        {{ util.href(cdedblink('event/show_course', {'course_id': course_id}),
                                                     "{}. {}".format(courses[course_id]['nr'],
                                                                     courses[course_id]['shortname'])) }}
                                    {% else %}
                                        —
                                    {% endif %}
                                {% endwith %}
                            </dd>
                            {% for i in range(track['num_choices']) %}
                                <dt title="{{ gettext("%s. Choice")|format(i + 1) }}">{{ gettext("%s. Choice")|format(i + 1) }}</dt>
                                <dd>
                                    {% if reg_track['choices']|length > i  %}
                                        {% with course_id = reg_track['choices'][i] %}
                                            {% if course_id %}
                                                {{ util.href(cdedblink('event/show_course', {'course_id': course_id}),
                                                             "{}. {}".format(courses[course_id]['nr'],
                                                                             courses[course_id]['shortname'])) }}
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        —
                                    {% endif %}
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    {% call util.bootstrap_panel(title=gettext("Notes"), aclass="panel-default panel-condensed") %}
        {{ ambience['registration']['notes']|md }}
    {% endcall %}

    {% if ambience['event']['fields']|length > 0 %}
        <h3 class="heading-underline">{% trans %}Custom Fields{% endtrans %}</h3>
        <dl class="dl-horizontal">
            {% for field in ambience['event']['fields'].values()|sort %}
                {% if field['association'] == enums['FieldAssociations'].registration %}
                    <dt title="{{ field['title'] }}">{{ field['title'] }}</dt>
                    <dd>
                        {{ generic_event.display_field(field, ambience['registration']['fields'].get(field['field_name'])) }}
                    </dd>
                {% endif %}
            {% endfor %}
        </dl>
    {% endif %}

    {% if ambience['event']['iban'] %}
    <h3 class="heading-underline">{% trans %}Copy-Paste Template{% endtrans %}</h3>
    <pre>
Beachte bitte, dass Deine Anmeldung erst mit Überweisung des Teilnahmebeitrags gültig wird.
Überweise dazu {{ to_pay|money(lang=lang) }} auf folgendes Konto.
Achte bitte bei internationalen Überweisungen darauf, dass der Empfänger keine Gebühren zahlen muss.

Kontoinhaber:       {{ meta_info['CdE_Konto_Inhaber'] }}
IBAN:               {{ ambience['event']['iban']|iban }}
BIC:                {{ meta_info['CdE_Konto_BIC'] }}
Kreditinstitut:     {{ meta_info['CdE_Konto_Institut'] }}
Betrag:             {{ to_pay|money(lang=lang) }}
Verwendungszweck:   {{ reference }}
</pre>
    {% endif %}

    {% call util.bootstrap_panel(title=gettext("Actions"), icon="exclamation-triangle", aclass="panel-danger mosp") %}
        <div class="row">
            <div class="col-sm-4">
                <div class="p">
                    <form action="{{ cdedblink('event/delete_registration') }}" method="POST"
                          id="deleteregistrationform" style="display: inline;">
                        {{ util.anti_csrf_token('event/delete_registration') }}
                        {{ util.input_submit(gettext("Delete"), readonly=(is_locked or ambience['registration']['amount_paid']),
                                             aclass="btn btn-sm btn-danger", icon='trash-alt',
                                             title=(gettext("Registration has paid non-zero amount.")
                                                if ambience['registration']['amount_paid'] else "")) }}
                        {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?"), readonly=is_locked) }}
                    </form>
                    <script nonce="{{ csp_nonce }}">
                        $('#deleteregistrationform').cdedbProtectAction(
                            "{{ gettext("The registration will be permanently deleted.") }}");
                        $('#deleteregistrationform').find('[name="ack_delete"]').prop('checked', true).parent().hide();
                    </script>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    {% trans %}Deletes the registration including all information shown here.{% endtrans %}
                </p>
            </div>
        </div>
    {% endcall %}
{% endblock %}
