{% extends "web/event/base.tmpl" %}
{% set sidenav_active='event_registration' %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% block title %}
    {% trans name=util.persona_name(persona), title=ambience['event']['title'] -%}
    	Registration by {{ name }} ({{ title }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
{{ util.breadcrumb_link(cdedblink("event/registration_query"), gettext("Registrations")) }}
{{ util.breadcrumb_link(cdedblink("event/show_registration"), util.persona_name(persona), active=True, icon="user") }}
{% endblock %}
{% block heading %}
    {{ util.context_heading(util.persona_name(persona), ambience['event']['title'],
                            'chalkboard-teacher', gettext("Event")) }}
{% endblock %}
{% block content %}
    <div class="p">
        {{ util.href(cdedblink("event/change_registration_form"), gettext("Edit"), readonly=is_locked,
                     aclass="btn btn-warning btn-sm", icon="pen") }}
    </div>
    <h3 class="heading-underline">{% trans %}Personal Information{% endtrans %}</h3>
    <dl class="dl-horizontal">
        <dt>{% trans %}Full Name{% endtrans %}</dt>
        <dd>
            {{ util.persona_name(persona, given_and_display_names=True, with_titles=True) }}
        </dd>
        <dt>{% trans %}CdEDB-ID{% endtrans %}</dt>
        <dd>{{ util.href(show_user_link(user, persona['id'], event_id=ambience['event']['id']), persona['id']|cdedbid) }}</dd>
        {% if ambience['registration']['real_persona_id'] %}
            <dt>{% trans %}Online CdEDB-ID{% endtrans %}</dt>
            <dd>{{ ambience['registration']['real_persona_id']|cdedbid }}</dd>
        {% endif %}
        <dt>{% trans %}CdE-Member{% endtrans %}</dt>
        <dd>{{ util.deko_checkbox(checked=(persona['is_member'])) }}</dd>
        <dt>{% trans %}Birthday{% endtrans %}</dt>
        <dd>
            {{ persona['birthday']|date(lang=lang) }} (<em>{{ gettext(age|string) }}</em>)
        </dd>
        <dt>{% trans %}Gender{% endtrans %}</dt>
        <dd>{{ gettext(enums['Genders'](persona['gender'])|string) }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>{% trans %}E-Mail{% endtrans %}</dt>
        <dd>{{ util.username_mailto(persona) }} </dd>
        <dt>{% trans %}Phone{% endtrans %}</dt>
        <dd>{{ persona['telephone'] }}</dd>
        <dt>{% trans %}Mobile Phone{% endtrans %}</dt>
        <dd>{{ persona['mobile'] }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>{% trans %}Address{% endtrans %}</dt>
        <dd>{{ persona['address'] }}</dd>
        <dt>{% trans %}Address Supplement{% endtrans %}</dt>
        <dd>{{ persona['address_supplement'] }}</dd>
        <dt>{% trans %}City{% endtrans %}</dt>
        <dd>{{ persona['postal_code'] }} {{ persona['location'] }}</dd>
        <dt>{% trans %}Country{% endtrans %}</dt>
        <dd>{{ util.gettext_country(persona['country']) }}</dd>
    </dl>
    {% if persona['id'] in ambience['event']['orgas'] %}
    <p class="text-info">
        {% trans given_names=util.persona_name(persona, with_family_name=False) %}
        	{{ given_names }} is Orga of this event.
        {% endtrans %}
    </p>
    {% endif %}

    {% if ambience['registration']['orga_notes'] %}
        {% call util.bootstrap_panel(title=gettext("Orga-Notes"), icon="tag",
                                     aclass="panel-default panel-condensed") %}
            {{ ambience['registration']['orga_notes']|md }}
        {% endcall %}
    {% endif %}

    <h3 class="heading-underline">{% trans %}Status{% endtrans %}</h3>
    <div class="row">
    <dl class="dl-horizontal col-md-6">
        <dt>{% trans %}Participation Fee{% endtrans %}</dt>
        <dd>
            {% if ambience['registration']['payment'] %}
                {% trans date=ambience['registration']['payment']|date(lang=lang) %}
                	Paid on the {{ date }}
                {% endtrans %}
            {% else %}
                <em>{% trans %}Pending{% endtrans %}</em>
            {% endif %}
        </dd>
        <dt>{% trans %}Already Paid{% endtrans %}</dt>
        <dd>
            {{ ambience['registration']['amount_paid']|money(lang=lang) }}
        </dd>

        <dt>{% trans %}Parental Consent{% endtrans %}</dt>
        <dd>
            {% if not age.is_minor() %}
                <em>{% trans %}Of Age{% endtrans %}</em>
            {% else %}
                {{ util.deko_checkbox(checked=ambience['registration']['parental_agreement']) }}
            {% endif %}
        </dd>

        <dt>{% trans %}Checked-In at{% endtrans %}</dt>
        <dd id="checkin-time">
            {{ ambience['registration']['checkin']|datetime(lang=lang) or "—" }}
        </dd>
    </dl>

    <dl class="dl-horizontal col-md-6">
        <dt>{% trans %}Registered at{% endtrans %}</dt>
        <dd>
            {{ ambience['registration']['ctime']|datetime(lang=lang) or "—" }}
        </dd>
        <dt>{% trans %}Last modified at{% endtrans %}</dt>
        <dd>
            {{ ambience['registration']['mtime']|datetime(lang=lang) or "—" }}
        </dd>
    </dl>
    </div>

    {% for batch in ambience['event']['parts']|keydictsort(EntitySorter.event_part)|batch(2) %}
        <div class="row">
        {% for part_id, part in batch %}
            <div class="col-md-6">
                {% if ambience['event']['parts']|length > 1 %}
                    <h4>{{ part['title'] }}</h4>
                {% endif %}
                <dl class="dl-horizontal">
                    <dt>{% trans %}Status{% endtrans %}</dt>
                    <dd>
                        {{ gettext(ambience['registration']['parts'][part_id]['status']
                                |enum(enums['RegistrationPartStati'])) }}
                        {% if ambience['registration']['parts'][part_id]['status'] == enums['RegistrationPartStati'].waitlist and waitlist_position[part_id] %}
                            ({% trans %}Placement{% endtrans %}&nbsp;{{ waitlist_position[part_id] }})
                        {% endif %}
                    </dd>
                    {% if enums['RegistrationPartStati'](ambience['registration']['parts'][part_id]['status'])
                            .is_involved() %}
                        {% for track_id, track in ambience['event']['tracks']|keydictsort(EntitySorter.course_track)
                                if track['part_id'] == part_id %}
                            <dt>
                                {% trans track=track['shortname'] if ambience['event']['tracks']|length > 1 else "" %}
                                	Course {{ track }}
                                {% endtrans %}
                            </dt>
                            <dd>
                                {% with course_id = ambience['registration']['tracks'][track_id]['course_id'] %}
                                    {% if course_id %}
                                        {{ util.href(cdedblink('event/show_course', {'course_id': course_id}),
                                                     "{}. {}".format(courses[course_id]['nr'],
                                                                     courses[course_id]['shortname'])) }}
                                    {% else %}
                                        —
                                    {% endif %}
                                {% endwith %}
                            </dd>
                        {% endfor %}

                        <dt>{% trans %}Lodgement{% endtrans %}</dt>
                        <dd>
                            {% with lodgement_id = ambience['registration']['parts'][part_id]['lodgement_id'] %}
                                {% if lodgement_id %}
                                    {{ util.href(cdedblink('event/show_lodgement', {'lodgement_id': lodgement_id}),
                                                 lodgements[lodgement_id]['title']) }}
                                {% else %}
                                    —
                                {% endif %}
                            {% endwith %}
                        </dd>
                        <dt>{% trans %}Uses Camping Mat{% endtrans %}</dt>
                        <dd>
                            {{ util.deko_checkbox(checked=ambience['registration']['parts'][part_id]['is_camping_mat']) }}
                        </dd>
                    {% endif %}
                </dl>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

    <h3 class="heading-underline">{% trans %}Registration Data{% endtrans %}</h3>
        <dl class="dl-horizontal">
            <dt>{% trans %}Mixed Lodging{% endtrans %}</dt>
            <dd>
                {{ util.deko_checkbox(checked=ambience['registration']['mixed_lodging']) }}
            </dd>
            <dt>{% trans %}Participant List Consent{% endtrans %}</dt>
            <dd>
                {{ util.deko_checkbox(checked=ambience['registration']['list_consent']) }}
            </dd>
        </dl>
        <h4>{% trans %}Course Choices{% endtrans %}</h4>
        {% if ambience['event']['tracks']|length > 0 %}
            {% for batch in ambience['event']['tracks']|keydictsort(EntitySorter.course_track)|batch(2) %}
                <div class="row">
                {% for track_id, track in batch %}
                    <div class="col-md-6">
                        {% if ambience['event']['tracks']|length > 1 %}
                            <h5>{{ track['shortname'] }}</h5>
                        {% endif %}

                        <dl class="dl-horizontal">
                            <dt>{% trans %}Instructor of{% endtrans %}</dt>
                            <dd>
                                {% if ambience['registration']['tracks'][track_id]['course_instructor'] %}
                                    {{ courses[ambience['registration']['tracks'][track_id]['course_instructor']]['nr'] }}.
                                    {{ courses[ambience['registration']['tracks'][track_id]['course_instructor']]['shortname'] }}
                                {% else %}
                                    —
                                {% endif %}
                            </dd>
                            {% for i in range(track['num_choices']) %}
                                <dt>{{ gettext("%s. Choice")|format(i + 1) }}</dt>
                                <dd>
                                    {% if ambience['registration']['tracks'][track_id]['choices']|length > i  %}
                                        {{ courses[ambience['registration']['tracks'][track_id]['choices'][i]]['nr'] }}.
                                        {{ courses[ambience['registration']['tracks'][track_id]['choices'][i]]['shortname'] }}
                                    {% else %}
                                        —
                                    {% endif %}
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    {% call util.bootstrap_panel(title=gettext("Notes"), aclass="panel-default panel-condensed") %}
        {{ ambience['registration']['notes']|md }}
    {% endcall %}

    {% if ambience['event']['fields']|length > 0 %}
        <h3 class="heading-underline">{% trans %}Custom Fields{% endtrans %}</h3>
        <dl class="dl-horizontal">
            {% for field_id, field in ambience['event']['fields']|keydictsort(EntitySorter.event_field) %}
                {% if field['association'] == enums['FieldAssociations'].registration %}
                    <dt>{{ field['title'] }}</dt>
                    <dd>
                        {{ generic_event.display_field(field, ambience['registration']['fields'].get(field['field_name'])) }}
                    </dd>
                {% endif %}
            {% endfor %}
        </dl>
    {% endif %}

    <h3 class="heading-underline">{% trans %}Copy-Paste Template{% endtrans %}</h3>
    <pre>
Beachte bitte, dass Deine Anmeldung erst mit Überweisung des Teilnehmerbeitrags gültig wird.
Überweise dazu {{ fee|money(lang=lang) }} auf folgendes Konto.
Achte bitte bei internationalen Überweisungen darauf, dass der Empfänger keine Gebühren zahlen muss.

Kontoinhaber:       {{ meta_info['CdE_Konto_Inhaber'] }}
IBAN:               {{ ambience['event']['iban']|iban }}
BIC:                {{ meta_info['CdE_Konto_BIC'] }}
Kreditinstitut:     {{ meta_info['CdE_Konto_Institut'] }}
Betrag:             {{ fee|money(lang=lang) }}
Verwendungszweck:   {{ reference }}
</pre>

    {% call util.bootstrap_panel(title=gettext("Actions"), icon="exclamation-triangle", aclass="panel-danger mosp") %}
        <div class="row">
            <div class="col-sm-4">
                <div class="p">
                    <form action="{{ cdedblink('event/delete_registration') }}" method="POST"
                          id="deleteregistrationform" style="display: inline;">
                        {{ util.anti_csrf_token('event/delete_registration') }}
                        {{ util.input_submit(gettext("Delete"), readonly=is_locked, aclass="btn btn-sm btn-danger",
                                             icon='trash-alt') }}
                        {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?"), readonly=is_locked) }}
                    </form>
                    <script nonce="{{ csp_nonce }}">
                        $('#deleteregistrationform').cdedbProtectAction(
                            "{{ gettext("The registration will be permanently deleted.") }}");
                        $('#deleteregistrationform').find('[name="ack_delete"]').prop('checked', true).parent().hide();
                    </script>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    {% trans %}Deletes the registration including all information shown here.{% endtrans %}
                </p>
            </div>
        </div>
    {% endcall %}
{% endblock %}
