Hallo {{ persona['display_name'] }},

Als Mitglied im CdE benötigen wir Deine aktuelle Anschrift. So
können wir sicherstellen, dass Du z.B. unsere Mitglieder-Zeitschrift
exPuls zugeschickt bekommst.

{% if address %}
Deine in der Datenbank eingetragene Adresse ist:

{{ "\n".join(address) }}

Falls diese nicht mehr aktuell ist, so kannst Du Dich in die
CdE-Datenbank unter der Adresse
{{ cdedblink('core/change_user') }}
einloggen und Deine Adresse korrigieren.
{% else %}
Aktuell ist keine Adresse von Dir in der Datenbank hinterlegt,
entsprechend können wir Dir auch keine gedruckte exPuls Ausgabe
zusenden!

Logge Dich bitte umgehend in der Datenbank unter der Adresse
{{ cdedblink('core/change_user') }}
ein und trag dort Deine aktuelle Adresse ein!
{% endif %}
Benutzername ist Deine Mail-Adresse. Falls Du Dein Passwort
vergessen hast, kannst Du Dir unter
{{ cdedblink("core/reset_password_form") }}
ein neues Zusenden lassen.

Der exPuls erscheint sowohl gedruckt als auch online.
Die gedruckte Ausgabe kannst Du in der Datenbank unter
{{ cdedblink('core/change_user') }}
abbestellen.
Alle Online-Ausgaben findest Du im exPuls-Archiv, den Link
zum Archiv findest Du in der Datenbank unter
{{ cdedblink('cde/view_misc') }}
Über die CdE-Info Mailingliste wirst Du über das Erscheinen einer
neuen Online-Ausgabe benachrichtigt.

Wenn Du Fragen hast, so erreichst Du uns unter <{{ MANAGEMENT_ADDRESS }}>


Viele Grüße
das Verwaltungsteam

P.S.: Weitere Infos zur Mitgliedschaft findest Du unter
    https://www.cde-ev.de/faq/mitglied/

P.P.S.: Du möchtest selbst im CdE aktiv werden, zum Beispiel einen Kurs
leiten, dich in einem Team engagieren oder Akademie-Orga werden? Schau mal auf
        https://www.cde-ev.de/vereinsleben/teams/
