Hallo {{ ambience['genesis_case'].persona|persona_name }},

Deine Anfrage bezüglich eines Accounts in der CdE-Datenbank wurde abgewiesen.
Bei Fragen dazu wende Dich bitte an <{{ MANAGEMENT_ADDRESS }}>.


Viele Grüße
die CdE-Mitgliederverwaltung
