Hallo {{ persona['given_names'] }} {{ persona['family_name'] }},

Du hast vor kurzem einen Account für die CdE-Datenbank beantragt.
Da Du bereits einen Account in unserer Datenbank hattest haben wir die Anfrage abgelehnt und stattdessen den alten Account reaktiviert und aktualisiert.
Folge dem Link [1] um ein neues Passwort für Deinen Account zu setzen.


Viele Grüße
das Verwaltungsteam

[1] {{ cdedblink('core/do_password_reset_form', {'email': email, 'cookie': cookie}) }}
