{% extends "web/de/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}

{% macro ml_inner_navigation(data) %}
    <li>
        {{ util.href(cdedblink("ml/show_mailinglist", {'mailinglist_id': data['id']}), data['title']) }}
        <ul>
            {% if data['id'] in user.moderator or is_admin %}
                <li>{{ util.href(cdedblink("ml/view_ml_log", {'mailinglist_id': data['id']}), "Log") }}</li>
                <li>{{ util.href(cdedblink("ml/management", {'mailinglist_id': data['id']}), "Verwalten") }}</li>
                <li>{{ util.href(cdedblink("ml/check_states", {'mailinglist_id': data['id']}), "Statuscheck") }}</li>
            {% endif %}
            {% if is_admin %}
                <li>
                    {{ util.href(cdedblink("ml/change_mailinglist_form", {'mailinglist_id': data['id']}),
                                 "Konfiguration") }}
                </li>
            {% endif %}
        </ul>
    </li>
{% endmacro %}

{% block ml_navigation %}
    <ul>
        <li>{{ util.href(cdedblink("ml/list_mailinglists"), "Mailinglisten-Übersicht") }}</li>
        {% if is_admin %}
            <li>{{ util.href(cdedblink("ml/create_user_form"), "Neuen Nutzer anlegen") }}</li>
            <li>{{ util.href(cdedblink("ml/user_search_form"), "Nutzersuche") }}</li>
            <li>{{ util.href(cdedblink("ml/view_log"), "Log") }}</li>
            <li>{{ util.href(cdedblink("ml/list_all_mailinglists"), "alle Mailinglisten") }}</li>
            <li>{{ util.href(cdedblink("ml/create_mailinglist_form"), "Mailingliste anlegen") }}</li>
        {% endif %}
        {% block inner_navigation %}
            <!-- for mailinglist specific actions -->
        {% endblock %}
    </ul>
{% endblock %}
