{% set mainnav_active='ml' %}
{% extends "web/de/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}

{% macro ml_inner_navigation(data) %}
        <div class="list-group tear-down">
            {{ util.href(cdedblink("ml/show_mailinglist", {'mailinglist_id': data['id']}), "Übersicht",
                    icon="triangle-right", aclass="list-group-item", active=(sidenav_active == 'ml_show')) }}
            {% if data['id'] in user.moderator or is_admin %}
                {{ util.href(cdedblink("ml/management", {'mailinglist_id': data['id']}), "Verwalten",
                        aclass="list-group-item", icon="list", active=(sidenav_active == 'ml_manage')) }}
            {% endif %}
            {% if is_admin %}
                {{ util.href(cdedblink("ml/change_mailinglist_form", {'mailinglist_id': data['id']}),
                        "Konfiguration", aclass="list-group-item", icon="cog",
                        active=(sidenav_active == 'ml_change')) }}
            {% endif %}
            {{ util.href(cdedblink("ml/view_ml_log", {'mailinglist_id': data['id']}), "Log", aclass="list-group-item",
                    icon="list-alt", active=(sidenav_active == 'ml_ml_log')) }}
        </div>
{% endmacro %}

{% block navigation %}
    <h2 class="heading-responsive">Navigation</h2>
    {% if ambience['mailinglist'] %}
        <p>
            {% if is_admin and not ambience['mailinglist']['is_active'] %}
                {{ util.href(cdedblink("ml/list_mailinglists"), "Zur Mailinglisten-Übersicht", icon="circle-arrow-up") }}
            {% else %}
                {{ util.href(cdedblink("ml/index"), "Zur Mailinglisten-Übersicht", icon="circle-arrow-up") }}
            {% endif %}
        </p>

        <h4><span class="glyphicon glyphicon-envelope"></span> {{ ambience['mailinglist']['title'] }}</h4>
        {{ ml_inner_navigation(ambience['mailinglist']) }}
    {% else %}
        <div class="list-group tear-down">
            {% if is_admin %}
                {{ util.href(cdedblink("ml/index"), "Aktive Mailinglisten", icon="triangle-right",
                        aclass="list-group-item", active=(sidenav_active == 'ml_index')) }}
                {{ util.href(cdedblink("ml/list_mailinglists"), "Alle Mailinglisten", icon="cog",
                        aclass="list-group-item", active=(sidenav_active == 'ml_all')) }}
            </div>
            <div class="list-group tear-down">
                {{ util.href(cdedblink("ml/user_search"), "Mailinglisten-Nutzer verwalten",
                        icon="user", aclass="list-group-item", active=(sidenav_active == 'ml_users')) }}
                {{ util.href(cdedblink("ml/view_log"), "Log", icon="list-alt", aclass="list-group-item",
                        active=(sidenav_active == 'ml_log')) }}
            {% else %}
                {{ util.href(cdedblink("ml/index"), "Übersicht", icon="triangle-right", aclass="list-group-item",
                        active=(sidenav_active == 'ml_index')) }}
            {% endif %}
        </div>
    {% endif %}
    <hr class="strong visible-xs visible-sm" />
{% endblock %}
