{% set sidenav_active='ml_manage' %}
{% extends "web/de/ml/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}{{ ambience['mailinglist']['title']|e }} – Konsistenzcheck{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("ml/index"), "Mailinglisten") }}
{{ util.breadcrumb_link(cdedblink("ml/show_mailinglist"), ambience['mailinglist']['title'], icon="envelope") }}
{{ util.breadcrumb_link(cdedblink("ml/management"), "Verwalten") }}
{{ util.breadcrumb_link(cdedblink("ml/check_states"), "Konsistenzcheck", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Konsistenzcheck
        <small>{{ util.make_icon('envelope') }} {{ ambience['mailinglist']['title']|e }}</small>
    </h1>
{% endblock %}
{% block content %}
    Die folgenden Abonennten gehören nicht zur konfigurierten Zielgruppe.
    <ul>
        {% for problem in problems|sort %}
            <li>
                {{ util.persona_anchor(personas[problem]) }}
                <form action="{{ cdedblink('ml/remove_subscriber')|e }}" method="POST"
                        id="removeproblemform{{ problem|e }}" style="display: inline;">
                    {{ util.input_hidden(name="subscriber_id", value=problem) }}
                    {{ util.input_submit(value='', aclass="btn btn-xs btn-danger", icon="trash",
                            title=personas[problem]['given_names'] + " " + personas[problem]['family_name'] +
                            " als Abonnent entfernen") }}
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
