{% extends "web/de/ml/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% import "web/de/generic.tmpl" as generic with context %}
{% block title %}Neuen Mailinglistennutzer anlegen{% endblock %}
{% block content %}
    {{ generic.create_user('ml') }}
{% endblock %}
