{% set sidenav_active='ml_index' %}
{% extends "web/de/ml/base.tmpl" %}
{% block title %}Mailinglisten{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("ml/index"), "Mailinglisten", active=True) }}
{% endblock %}
{% macro format_entry(mailinglist_id, title) %}
    <li>
        {{ util.deko_checkbox(mailinglist_id in subscriptions) }}
        {{ util.href(cdedblink("ml/show_mailinglist", {'mailinglist_id': mailinglist_id}), title) }}
        {% if not all_mailinglists[mailinglist_id]['is_active'] %}
            (inaktiv)
        {% endif %}
    </li>
{% endmacro %}
{% block content %}
    <div class="p">
        {{ util.href(cdedblink("ml/create_mailinglist_form"), "Mailingliste anlegen", icon="plus",
                aclass="btn btn-sm btn-success") }}
    </div>
    <p>
        Hier findest Du die Mailinglisten des CdE; insbesondere auch zu
        Akademien und Mitgliederversammlungen.
    </p>
    <h2>Aktuelle Mailinglisten</h2>
    <h3>Allgemeine Listen</h3>
    <ul>
        {% for mailinglist_id, title in mailinglists|dictsort %}
            {% if  (not all_mailinglists[mailinglist_id]['event_id']
                    and not all_mailinglists[mailinglist_id]['assembly_id']) %}
                {{ format_entry(mailinglist_id, title) }}
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Veranstaltungslisten</h3>
    <ul>
        {% for mailinglist_id, title in mailinglists|dictsort %}
            {% if  all_mailinglists[mailinglist_id]['event_id'] %}
                {{ format_entry(mailinglist_id, title) }}
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Versammlungslisten</h3>
    <ul>
        {% for mailinglist_id, title in mailinglists|dictsort %}
            {% if  all_mailinglists[mailinglist_id]['assembly_id'] %}
                {{ format_entry(mailinglist_id, title) }}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
