{% extends "web/de/ml/base.tmpl" %}
{% block title %}
    {%- if complete -%}
        Mailinglisten Komplettübersicht
    {%- else -%}
        Mailinglisten Übersicht
    {%- endif -%}
{% endblock %}
{% macro format_entry(mailinglist_id, title) %}
    <li>
        {{ util.deko_checkbox(mailinglist_id in subscriptions) }}
        <a href="{{ cdedblink("ml/show_mailinglist", {'mailinglist_id': mailinglist_id}) }}"> {{ title|e }} </a>
        {% if not mailinglist_data[mailinglist_id]['is_active'] %}
            (inaktiv)
        {% endif %}
    </li>
{% endmacro %}
{% block content %}
    <h2>Allgemeine Listen</h2>
        {% for mailinglist_id, title in mailinglists|dictsort %}
            {% if  (not mailinglist_data[mailinglist_id]['event_id']
                    and not mailinglist_data[mailinglist_id]['assembly_id']) %}
                {{ format_entry(mailinglist_id, title) }}
            {% endif %}
        {% endfor %}
    <h2>Veranstaltungslisten</h2>
        {% for mailinglist_id, title in mailinglists|dictsort %}
            {% if  mailinglist_data[mailinglist_id]['event_id'] %}
                {{ format_entry(mailinglist_id, title) }}
            {% endif %}
        {% endfor %}
    <h2>Versammlungslisten</h2>
    <ul>
        {% for mailinglist_id, title in mailinglists|dictsort %}
            {% if  mailinglist_data[mailinglist_id]['assembly_id'] %}
                {{ format_entry(mailinglist_id, title) }}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
