{% set sidenav_active='ml_ml_log' %}
{% extends "web/de/ml/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}
{{ mailinglist_data['title']|e }} -- Logs ({{ values['start']|int|e }}--{{ (values['start']|int + log|length)|e }})
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Zeitstempel</th>
            <th>Code</th>
            <th>Verantwortlich</th>
            <th>Betroffen</th>
            <th>Zusatz</th>
        </tr>
        {% for entry in log %}
            <tr>
                <td>{{ entry['ctime']|datetime|e }}</td>
                <td>{{ i18n(const.MlLogCodes(entry['code'])|string)|e }}</td>
                <td>
                    {% if entry['submitted_by'] %}
                        {{ persona_data[entry['submitted_by']]['given_names']|e }}
                        {{ persona_data[entry['submitted_by']]['family_name']|e }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if entry['persona_id'] %}
                        {{ persona_data[entry['persona_id']]['given_names']|e }}
                        {{ persona_data[entry['persona_id']]['family_name']|e }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ entry['additional_info']|e }}</td>
            </tr>
        {% endfor %}
    </table>
    <form action="{{ cdedblink('ml/view_ml_log')|e }}" method="GET" id="logshowform">
        <div>
            {# jinja does not support list comprehension ... #}
            {% set myentries = [] %}
            {% for code in const.MlLogCodes %}
                {{ myentries.append((code.value, i18n(code|string)))|e }}
            {% endfor %}
            {{ util.form_input_checkboxes("codes", label="Kategorien", info="Keine Auswahl entspricht allem.",
                                     entries=myentries) }}
            {{ util.form_input_text(name="start", label="Anfang") }}
            {{ util.form_input_text(name="stop", label="Ende") }}
            {{ util.form_input_submit(value="Anzeigen") }}
        </div>
    </form>
{% endblock %}
