Hallo,

die Datenbank hat leider einen Transaktionsfehler zur Transaktion
{{ moniker }} um {{ now|datetime }} festgestellt. Dies muss nicht bedeuten,
dass etwas kaputt gegangen ist, sollte aber überprüft werden. Die
Fehlermeldung war: {{ value }}.

die Datenbank

