{% set sidenav_active='ml_manage_archive' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% set jshint='strong' %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_queryform.js') }}
    {{ util.cdedb_script('cdedb_helper.js') }}
{% endblock %}
{% block title %}
    {% trans %}
        Search Archived Users
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("ml/archived_user_search"), gettext("Search Archived Users"), active="True") }}
{% endblock %}
{% block content %}
    {{ generic.user_search("ml", archived=True, info=gettext("This search will only show archived pure Mailinglist-Users.")) }}
{% endblock %}
