{% set mainnav_active='ml' %}
{% extends "web/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% macro ml_inner_navigation(data) %}
        <div class="list-group tear-down">
            {{ util.href(cdedblink("ml/show_mailinglist", {'mailinglist_id': data['id']}), gettext("Overview"),
                    icon="glyphicon-triangle-right", aclass="list-group-item", active=(sidenav_active == 'ml_show')) }}
            {% if data['id'] in user.moderator or is_admin %}
                {{ util.href(cdedblink("ml/management", {'mailinglist_id': data['id']}), gettext("Management"),
                        aclass="list-group-item", icon="glyphicon-list", active=(sidenav_active == 'ml_manage')) }}
                {{ util.href(cdedblink("ml/show_subscription_details", {'mailinglist_id': data['id']}), gettext("Advanced Management"),
                        aclass="list-group-item", icon="glyphicon-wrench", active=(sidenav_active == 'ml_details')) }}
                {{ util.href(cdedblink("ml/change_mailinglist_form", {'mailinglist_id': data['id']}),
                        gettext("Configuration"), aclass="list-group-item", icon="glyphicon-cog",
                        active=(sidenav_active == 'ml_change')) }}
                {{ util.href(cdedblink("ml/view_ml_log", {'mailinglist_id': data['id']}), gettext("Log"),
                             aclass="list-group-item", icon="glyphicon-list-alt", active=(sidenav_active == 'ml_ml_log')) }}
            {% endif %}
        </div>
{% endmacro %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("ml/index"), gettext("Mailinglists")) }}
{% endblock %}
{% block navigation %}
    {% if ambience['mailinglist'] %}
        <p>
            {% if is_admin and not ambience['mailinglist']['is_active'] %}
                {{ util.href(cdedblink("ml/list_mailinglists"), gettext("Mailinglist-Overview"),
                             icon="glyphicon-circle-arrow-up") }}
            {% else %}
                {{ util.href(cdedblink("ml/index"), gettext("Mailinglist-Overview"), icon="glyphicon-circle-arrow-up") }}
            {% endif %}
        </p>

        <h3 class="heading-sidebar">{{ util.make_icon('envelope', arialabel='Mailingliste') }}
            {{ ambience['mailinglist']['title'] }}</h3>
        {{ ml_inner_navigation(ambience['mailinglist']) }}
    {% else %}
        <h3 class="heading-sidebar">Mailinglisten</h3>
        <div class="list-group tear-down">
            {% if is_admin %}
                {{ util.href(cdedblink("ml/index"), gettext("Active Mailinglists"), icon="glyphicon-triangle-right",
                        aclass="list-group-item", active=(sidenav_active == 'ml_index')) }}
                {{ util.href(cdedblink("ml/list_mailinglists"), gettext("All Mailinglists"), icon="glyphicon-cog",
                        aclass="list-group-item", active=(sidenav_active == 'ml_all')) }}
            </div>
            <div class="list-group tear-down">
                {{ util.href(cdedblink("ml/user_search"), gettext("Manage Users"),
                        icon="user", aclass="list-group-item", active=(sidenav_active == 'ml_users')) }}
                {{ util.href(cdedblink("ml/view_log"), gettext("Log"), icon="glyphicon-list-alt", aclass="list-group-item",
                        active=(sidenav_active == 'ml_log')) }}
            {% else %}
                {{ util.href(cdedblink("ml/index"), gettext("Overview"), icon="glyphicon-triangle-right", aclass="list-group-item",
                        active=(sidenav_active == 'ml_index')) }}
            {% endif %}
        </div>
    {% endif %}
    <hr class="strong visible-xs visible-sm" />
{% endblock %}
