{% set sidenav_active='ml_index' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_change_mailinglist.js') }}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans %}Create Mailinglist{% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("ml/create_mailinglist"), gettext("Create Mailinglist"), active=True) }}
{% endblock %}
{% block content %}
    {% if ml_type is none %}
        <form action="{{ cdedblink('ml/create_mailinglist_form') }}" method="GET" id="selectmltypeform"
              class="form-horizontal">
            {{ util.form_input_select(name="ml_type", label=gettext("Mailinglist Type"), entries=available_types|enum_entries(processing=gettext)) }}
            {{ util.form_input_submit(label=gettext("Continue"), cancellink=cdedblink("ml/index"), icon="pen") }}
        </form>
    {% else %}
    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#createlistform').cdedbProtectChanges().cdedbChangeMailinglist();
        });
    </script>
    <form action="{{ cdedblink('ml/create_mailinglist') }}" method="POST" id="createlistform" class="form-horizontal">
        {{ util.anti_csrf_token('ml/create_mailinglist') }}
        <h4 class="heading-underline">{% trans %}Meta{% endtrans %}</h4>
        {{ util.form_input_checkbox(name="is_active", label=gettext("Active"), defaultvalue='True') }}
        {{ util.form_input_text(name="title", label=gettext("Title_[[name of an entity]]")) }}
        {{ util.form_input_text(name="local_part", label=gettext("Address")) }}
        {{ util.form_input_select(name="domain", entries=available_domains|enum_entries(processing=gettext, prefix="@"),
                                  label=gettext("Domain")) }}
            <script nonce="{{ csp_nonce }}">
                $("#createlistform [name='local_part']").parents('.form-group')
                    .replaceWith(`{{ util.form_input_text(name="local_part", label=gettext("Address"), addon=" ") }}`);
                domain_inp = $("#createlistform [name='domain']");
                function update_domain() {
                    $("#createlistform [name='local_part'] ~ .input-group-addon")
                        .text(domain_inp[0].options[domain_inp[0].selectedIndex].innerHTML);
                }
                domain_inp.on('input', update_domain);
                update_domain();
            </script>
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5",
                                    info=util.markdownhint) }}
        {{ util.form_input_textarea(name="notes", label=gettext("Admin-Notes"), rows="5", info=util.markdownhint) }}

        <h4 class="heading-underline">{% trans %}Moderation & Subscribers{% endtrans %}</h4>
        {{ util.form_input_select(name="mod_policy", label=gettext("Moderation"),
                entries=enums['ModerationPolicy']|enum_entries(processing=gettext)) }}
        {{ util.input_hidden("ml_type", value=ml_type.value) }}
        {{ util.form_input_static(label=gettext("Mailinglist Type"),
                    value=(gettext( enums['MailinglistTypes'](ml_type)|string ))) }}
        {% if "event_id" in additional_fields %}
            {{ util.form_input_select(name="event_id", label=gettext("Event"), nulloption=nbsp,
                entries=events|dictsort|dict_entries('id', 'title'), info=gettext("The participants of this event will "
                        "be subscribers of this mailinglist. (Opt-Out)"), sort=True) }}
        {% endif %}
        {% if "registration_stati" in additional_fields %}
            {{ util.form_input_checkboxes(name="registration_stati", label=gettext("Event Audience"),
                entries=enums['RegistrationPartStati']|enum_entries(processing=gettext)) }}
        {% endif %}
        {% if "assembly_id" in additional_fields %}
            {{ util.form_input_select(name="assembly_id", label=gettext("Assembly"), nulloption=nbsp,
                entries=assemblies|dictsort|dict_entries('id', 'title'), sort=True,
                info=gettext("The participants of this assembly will be subscribers of this mailinglist. (Opt-Out)")) }}
        {% endif %}

        <h4 class="heading-underline">{% trans %}Moderators{% endtrans %}</h4>

        {{ util.form_input_text(name="moderators", label=gettext("Moderators"), placeholder="DB-XXXX-X,DB-XXXX-X,…",
            anid="input-moderators") }}
        <script nonce="{{ csp_nonce }}">
            $('#input-moderators').cdedbSearchPerson(
                '{{ (cdedblink('core/select_persona')|e) + ('?kind=ml_user&phrase=%s'|s) }}',
                [],
                false,
                true,
                "{{ gettext("CdEDB-ID, Name or E-Mail") }}"
            );
        </script>

        <h4 class="heading-underline">{% trans %}Mails{% endtrans %}</h4>
        {{ util.form_input_text(name="subject_prefix", label=gettext("Subject Prefix"),
                    info=gettext("Example: If the subject prefix is set to \"info\" and a user sends a Mail with "
                                "subject \"Invitation to PfingstAka\", the mail will be sent to the recipients as "
                                "\"[info] Invitation to PfingstAka\".")) }}
            <script nonce="{{ csp_nonce }}">
                var sp_inp = $('#createlistform').find("[name='subject_prefix']");
                function build_preview() {
                    if (Boolean(sp_inp.val())===true) // if no subject_prefix is given, mailman also won't add any braces
                        var repl = "[" + escapeHtml(sp_inp.val()) +  "] ";
                    else var repl = "";
                    sp_inp.siblings("p.help-block").html('{{ util.make_icon('info-circle') }} ' +
                        "{{ gettext("Preview: %(prefix)sMail'sSubjectHere") }}"
                            .replace('%(prefix)s', repl));
                }
                sp_inp.on("input", build_preview);
                build_preview();
            </script>
        {{ util.form_input_select(name="attachment_policy", label=gettext("MIME filter / Attachments"),
                entries=enums['AttachmentPolicy']|enum_entries(processing=gettext), info=gettext(
                    "For Mailman mailinglists, this setting currently has no effect. "
                    "By default, these mailinglists accept PDF attachments only. "
                    "Other attachment policy can be changed by the Admin-Team.")) }}
        {{ util.form_input_text(name="maxsize", label=gettext("max. message size (in kB)"), type="number",
                                defaultvalue=maxsize_default) }}
        {{ util.form_input_submit(label=gettext("Create"), cancellink=cdedblink('ml/index')) }}
    </form>
    {% endif %}
{% endblock %}
