{% set sidenav_active='ml_index' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{{ util.cdedb_script('change-mailinglist')}}{% endblock %}
{% set jshint='weak' %}
{% block title %}Mailingliste anlegen{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("ml/index"), "Mailinglisten") }}
{{ util.breadcrumb_link(cdedblink("ml/create_mailinglist"), "Mailingliste anlegen", active=True) }}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function() {
            $('#createlistform').cdedbProtectChanges().cdedbChangeMailinglist();
        });
    </script>
    <form action="{{ cdedblink('ml/create_mailinglist')|e }}" method="POST" id="createlistform" class="form-horizontal">
        <h4 class="heading-underline">Meta</h4>
        {{ util.form_input_checkbox(name="is_active", label="Aktiv", defaultvalue='True') }}
        {{ util.form_input_text(name="title", label="Titel") }}
        {{ util.form_input_text(name="address", label="Adresse") }}
        {{ util.form_input_textarea(name="description", label="Beschreibung", rows="5",
                                    info="Unterstützt reStructuredText") }}
        {{ util.form_input_textarea(name="notes", label="Admin-Notizen", rows="5",
                                    info="Unterstützt reStructuredText") }}


        <h4 class="heading-underline">Moderation &amp; Abonnenten</h4>
        {{ util.form_input_select(name="mod_policy", label="Moderation",
                entries=enums['ModerationPolicy']|enum_entries(processing=gettext)) }}
        {{ util.form_input_select(name="audience_policy", label="Empfängerkreis",
                entries=enums['AudiencePolicy']|enum_entries(processing=gettext)) }}
        {{ util.form_input_select(name="sub_policy", label="Einschreibung",
                entries=enums['SubscriptionPolicy']|enum_entries(processing=gettext)) }}
        {{ util.form_input_select(name="event_id", label="Veranstaltung", nulloption=True, entries=events|dictsort,
                info="Die Teilnehmer dieser Veranstaltung werden der Liste hinzugefügt. (Opt-Out)") }}
        {{ util.form_input_checkboxes(name="registration_stati", label="Veranstaltungsempfänger",
                entries=enums['RegistrationPartStati']|enum_entries(processing=gettext),
                info="Keine Auswahl entspricht einer Orgaliste.") }}
        {{ util.form_input_select(name="assembly_id", label="Versammlung", nulloption=True,
                entries=assemblies|dictsort|dict_entries('id', 'title'),
                info="Die Teilnehmer dieser Versammlung werden der Liste hinzugefügt. (Opt-Out)") }}
        {{ util.form_input_select(name="gateway", label="Zugangsvererbung", nulloption=True,
                entries=mailinglists|dictsort,
                info="Die Abonnenten dieser Liste können sich immer eintragen. (Opt-In)") }}

        <h4 class="heading-underline">Mails</h4>
        {{ util.form_input_text(name="subject_prefix", label="Präfix (Betreffzeile)") }}
        {{ util.form_input_select(name="attachment_policy", label="Anhänge",
                entries=enums['AttachmentPolicy']|enum_entries(processing=gettext)) }}
        {{ util.form_input_text(name="maxsize", label="max. Nachrichtengröße (in kB)") }}
        {{ util.form_input_submit(value="Mailingliste anlegen", cancellink=cdedblink("ml/index")) }}
    </form>
{% endblock %}
