{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% block title %}Mailinglistenaccount anlegen{% endblock %}
{% block content %}
    {{ generic.genesis('ml') }}
{% endblock %}
