{# This template provides some macros used for multiple mailinglist templates. #}

{# A macro to generate rows describing mailinglists for the mailinglist overviews for admins and moderators.

   ml            The mailinglist to describe
   subscriptions List of mailinglist you are subscribed to
   events        List of events, to link event mailinglists to their respective events
   assemblies    List of assemblies, to link assembly mailinglists to their respective assemblies
   management    Whether the link should point to the mailinglist management instead of the show_mailinglist page #}
{% macro format_entry(ml, subscriptions, events, assemblies, management) %}
    <div class="row list-group-item{% if not ml['is_active'] %} list-group-item-muted{% endif %}">
        <div class="col-sm-3">
            {% if management %}
                {{ util.href(cdedblink("ml/management", {'mailinglist_id': ml['id']}), ml['title']) }}
            {% else %}
                {{ util.href(cdedblink("ml/show_mailinglist", {'mailinglist_id': ml['id']}), ml['title']) }}
            {% endif %}
            {% if ml['id'] in subscriptions %}
                {{ util.make_icon('check-circle', title=gettext("subscribed")) }}
            {% endif %}<br />
            {% if not ml['is_active'] %}
                <span class="small">{% trans %}inactive{% endtrans %}</span>
            {% endif %}
        </div>
        <div class="col-sm-6 small">
            {{ gettext( enums['MailinglistTypes'](ml['ml_type'])|string) -}}
            {% if ml['event_id'] -%}
                {%- if events[ml['event_id']]['is_visible'] -%}
                    {% set link = util.href(cdedblink('event/show_event',{'event_id': ml['event_id']}),
                                            events[ml['event_id']]['title'], icon='chalkboard-teacher') %}
                {%- else -%}
                    {% set link = "%s %s"|s|format(util.make_icon('chalkboard-teacher'), events[ml['event_id']]['title']) %}
                {%- endif -%}
                {% trans link=link -%}
                    ; linked with {{ link }}
                {% endtrans %}
            {%- elif ml['assembly_id'] -%}
                {%- if assemblies[ml['assembly_id']]['is_visible'] -%}
                    {% set link = util.href(cdedblink('assembly/show_assembly',{'assembly_id':ml['assembly_id']}),
                                            assemblies[ml['assembly_id']]['title'], icon='bullhorn') %}
                {%- else -%}
                    {% set link = "%s %s"|s|format(util.make_icon('bullhorn'), assemblies[ml['assembly_id']]['title']) %}
                {%- endif -%}
                {% trans link=link -%}
                    ; linked with {{ link }}
                {% endtrans %}
            {%- endif %}
        </div>
        <div class="col-sm-3 small">
            {% trans count=ml['num_subscribers'] %}
                {{ count }} subscriber.
            {%- pluralize count -%}
                {{ count }} subscribers.
            {% endtrans %}
            {% trans count=ml['moderators']|length %}
                {{ count }} moderator.
            {%- pluralize count -%}
                {{ count }} moderators.
            {% endtrans %}
        </div>
    </div>
{% endmacro %}
