{% set sidenav_active='ml_index' %}
{% extends "web/ml/base.tmpl" %}
{% block title %}
    {% trans -%}Mailinglists{%- endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("ml/index"), gettext("Mailinglists"), active=True) }}
{% endblock %}
{% macro format_entry(mailinglist_id, title) %}
    <li>
        {{ util.deko_checkbox(mailinglist_id in subscriptions, titles=[gettext("not subscribed"), gettext("subscribed")]) }}
        {{ util.href(cdedblink("ml/show_mailinglist", {'mailinglist_id': mailinglist_id}), title) }}
        {% if user.persona_id in mailinglist_infos[mailinglist_id]['moderators'] %}
            {{ util.href(cdedblink('ml/management',{'mailinglist_id' : mailinglist_id}), gettext("Manage"), icon='list',
                    aclass='btn btn-xs btn-info') }}
        {% endif %}
    </li>
{% endmacro %}
{% block content %}
    {% if is_admin %}
        <div class="p">
            {{ util.href(cdedblink("ml/create_mailinglist_form"), gettext("Create Mailinglist"), icon="plus",
                    aclass="btn btn-sm btn-success") }}
        </div>
    {% endif %}
    <p>
        {% trans -%}
            Here you can find the CdE’s Mailinglists; notably also those linked to events and assemblies.
        {%- endtrans %}
    </p>

    <h3>{% trans -%}General Mailinglists{%- endtrans %}</h3>
    <ul class="styleless">
        {% for mailinglist_id, title in mailinglists|dictsort(False, 'value') %}
            {% if mailinglist_infos[mailinglist_id]['audience_policy'] not in (
                    enums['AudiencePolicy'].require_assembly,
                    enums['AudiencePolicy'].require_event) %}
                {{ format_entry(mailinglist_id, title) }}
            {% endif %}
        {% endfor %}
    </ul>
    {% if 'event' in user.roles %}
    <h3>{% trans -%}Event Mailinglists{%- endtrans %}</h3>
    <ul class="styleless">
        {% for mailinglist_id, title in mailinglists|dictsort(False, 'value') %}
            {% if  mailinglist_infos[mailinglist_id]['audience_policy'] == enums['AudiencePolicy'].require_event %}
                {{ format_entry(mailinglist_id, title) }}
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if 'assembly' in user.roles %}
    <h3>{% trans -%}Assembly Mailinglists{%- endtrans %}</h3>
    <ul class="styleless">
        {% for mailinglist_id, title in mailinglists|dictsort(False, 'value') %}
            {% if  mailinglist_infos[mailinglist_id]['audience_policy'] == enums['AudiencePolicy'].require_assembly %}
                {{ format_entry(mailinglist_id, title) }}
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
