{% set sidenav_active='ml_index' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% block title %}
    {% trans %}Mailinglists{% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("ml/index"), gettext("Mailinglists"), active=True) }}
{% endblock %}

{% macro format_entry(mailinglist_id, title) %}
    <li class="hide-hover-container clearfix-after" id="mailinglist{{ mailinglist_id }}">
        {{ util.state_checkbox(subscriptions[mailinglist_id]) }}
        {{ util.href(cdedblink("ml/show_mailinglist", {'mailinglist_id': mailinglist_id}), title) }}
        {% if user.persona_id in mailinglist_infos[mailinglist_id]['moderators'] %}
            {{ util.href(cdedblink('ml/management',{'mailinglist_id' : mailinglist_id}), gettext("Manage"), icon='list',
                    aclass='btn btn-xs btn-info list-button-float hide-hover') }}
        {% endif %}
    </li>
{% endmacro %}

{% block content %}
    {% if user.admin_views.intersection(ALL_MGMT_ADMIN_VIEWS) %}
        <div class="p button-par">
            {{ util.href(cdedblink("ml/create_mailinglist_form"), gettext("Create Mailinglist"), icon="plus",
                    aclass="btn btn-sm btn-success") }}
            {% if "ml_admin" in user.roles %}
                <form action="{{ cdedblink("ml/manually_write_subscription_states") }}" method="POST"
                      id="writesubscriptionstates" style="display: inline;">
                    {{ util.anti_csrf_token("ml/manually_write_subscription_states") }}
                    {{ util.input_submit(label=gettext("Write Subscription States"), aclass="btn btn-sm btn-success",
                            icon="sync-alt") }}
                </form>
            {% endif %}
        </div>
    {% endif %}
    <p>
        {% trans %}
            Here you can find the CdE’s Mailinglists; notably also those linked to events and assemblies.
        {% endtrans %}
    </p>
    {% for group in groups %}
        {% if mailinglists[group] %}
            <h3>{{ gettext(group|string) }}</h3>
            <div class="row">
                {% for list in mailinglists[group]|keydictsort(EntitySorter.mailinglist)
                    |slice(2 if mailinglists[group]|length > 5 else 1) %}
                <ul class="styleless col-md-6">
                    {% for mailinglist_id, ml in list %}
                        {{ format_entry(mailinglist_id, ml['title']) }}
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
