{% set sidenav_active='ml_moderation' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans title=ambience['mailinglist']['title'] %}{{ title }} – Message Moderation
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {% if is_admin %}
        {{ util.breadcrumb_link(cdedblink("ml/list_mailinglists"), gettext("All Mailinglists")) }}
    {% endif %}
    {{ util.breadcrumb_link(cdedblink("ml/show_mailinglist"), ambience['mailinglist']['title'], icon="envelope") }}
    {{ util.breadcrumb_link(cdedblink("ml/message_moderation"), gettext("Message Moderation"), active=True) }}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Message Moderation"), ambience['mailinglist']['title'],
                            'envelope', gettext("Mailinglist")) }}
{% endblock %}

{% block content %}
    {% if held is none %}
        <p>
            {% trans %}
                This mailing list is not moderated via CdEDB.
            {% endtrans %}
        </p>
    {% else %}
        <p class="text-info" id="help-text-box">
         {{ util.make_icon('info-circle') }}
         {% trans %}
             If you reject a message, its author will receive a notification message. If you discard a message, no
             notification message will be sent. The latter is preferred for spam messages. If you whitelist a message,
             it is not only accepted, but its author can write emails without moderation in the future.
         {% endtrans %}
        </p>
        {% if held %}
            <p>
                <form action="{{ cdedblink('ml/message_moderation_multi') }}" method="POST" id="moderateallform">
                    {{ util.anti_csrf_token('ml/message_moderation_multi') }}
                    {% for email in held %}
                        {{ util.input_hidden("request_ids", email.request_id) }}
                    {% endfor %}
                    {% for action, label, icon, coloring in (
                            ('accept', gettext('Accept All'), 'check', 'success'),
                            ('discard', gettext('Discard All'), 'trash-alt', 'danger')) %}
                        {{ util.input_submit(label=label, icon=icon, value=action, name="action",
                                             aclass="btn btn-sm btn-" + coloring) }}
                    {% endfor %}
                </form>
            </p>
            <ul>
                {% for email in held %}
                    <li class="hide-hover-container clearfix-after">
                        {{ email.sender }} / {{ email.subject }}
                        <br />
                        <form action="{{ cdedblink('ml/message_moderation') }}"
                                  method="POST"
                                  id="msg{{ email.request_id }}"
                                  class="hide-hover display-inline">
                            {{ util.anti_csrf_token('ml/message_moderation') }}
                            {{ util.input_hidden(name="request_id", value=email.request_id) }}
                            {{ util.input_hidden(name="sender", value=email.sender) }}
                            <div class="button-par">
                                {{ util.input_submit(label=gettext('Whitelist_[[verb]]'), icon='plus',
                                                     value='whitelist', name="action",
                                                     aclass=("btn btn-sm btn-success")) }}
                                {{ util.input_submit(label=gettext('Accept'), icon='check', value='accept',
                                                     name="action", aclass=("btn btn-sm btn-success")) }}
                                {{ util.input_text('reason', placeholder=gettext('Rejection reason'),
                                                   aclass='form-control input-slim input-sm',
                                                   anid=('mlmod-text-reason-' + (email.request_id | string))) }}
                                {{ util.input_submit(label=gettext('Reject'), icon='reply', value='reject',
                                                     name="action", aclass=("btn btn-sm btn-warning")) }}
                                {{ util.input_submit(label=gettext('Discard'), icon='trash-alt', value='discard',
                                                     name="action", aclass=("btn btn-sm btn-danger")) }}
                            </div>
                            <script nonce="{{ csp_nonce }}">
                                $(document).ready(function() {mlmod_bind_modal({{email.request_id}})});
                            </script>
                        </form>

                        <details>
                            <summary>{% trans %}Message details{% endtrans %}</summary>
                            <pre>{{ email.msg }}</pre>
                        </details>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{% trans %}No held messages.{% endtrans %}</p>
        {% endif %}
    {% endif %}
    <script nonce="{{ csp_nonce }}">
        function mlmod_bind_modal(request_id) {
            const button = `
                <button type="button" id="mlmod-button-expand-${ request_id }" class="btn btn-sm btn-neutral">
                    <!-- <span class="fas fa-maximize fa-fw" aria-hidden="true"></span>
                         This icon somehow does not work, so we use the one below. :/
                         -->
                    <span class="fas fa-expand fa-fw" aria-hidden="true"></span>
                </button>
            `;
            const helptext = `
                 <div id="help-text-rejection-reason">
                     {% trans button=('<button type="button" class="btn btn-sm btn-neutral"><span class="fas fa-expand fa-fw" aria-hidden="true"></span></button>'|safe)%}
                         The button {{ button }} allows to expand the rejection reason into a multiline text.
                     {% endtrans %}
                 </div>
            `
            if (!$("#mlmod-button-expand-" + request_id).length) {
                $("#mlmod-text-reason-" + request_id).after(button);
            }
            $("#mlmod-button-expand-" + request_id).on("click", function() {
                mlmod_show_modal(request_id);
            });
            <!-- Rebind enter key to avoid accidential submit if a multi-line message is intended -->
            $("#mlmod-text-reason-" + request_id).on("keydown", function(event) {
                if (event.key == "Enter") {
                    mlmod_show_modal(request_id);
                    return true;
                }
            });
            <!-- Add help text -->
            if (!$("#help-text-rejection-reason").length) {
                $("#help-text-box").append(helptext);
            }
        }

        function mlmod_show_modal(request_id) {
            const modal = `
    <div class="modal" id="mlmod-modal-${ request_id }" role="textbox">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        {{ gettext('Longform rejection reason') }}
                    </h4>
                </div>
                <div class="modal-body" id="mlmod-modal-content">
                    <textarea id="mlmod-textarea-reason-${ request_id }" class="form-control" rows="7">
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="mlmod-modal-cancel-${ request_id }">
                        {{ gettext('Cancel') }}
                    </button>
                    <button type="button" class="btn btn-primary" id="mlmod-modal-save-${ request_id }">
                        {{ gettext('Save') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
            `;
            const hidden_input = `
    <input type="hidden" name="reason" value="" id="mlmod-hidden-reason-${ request_id }"/>
            `
            if (!$("#mlmod-modal-" + request_id).length) {
                $("body").append(modal);
                $("#mlmod-modal-save-" + request_id).on("click", function() {
                    mlmod_save_modal(request_id);
                    $("#mlmod-modal-" + request_id).modal("hide");
                });
                $("#mlmod-modal-cancel-" + request_id).on("click", function() {
                    mlmod_cancel_modal(request_id);
                    $("#mlmod-modal-" + request_id).modal("hide");
                });
            }
            if ($("#mlmod-text-reason-" + request_id).length) {
                $("#mlmod-textarea-reason-" + request_id).val(
                    $("#mlmod-text-reason-" + request_id).val());
                $("#mlmod-text-reason-" + request_id).remove();
                $("#mlmod-button-expand-" + request_id).after(hidden_input);
                mlmod_save_modal(request_id);
            }
            $("#mlmod-modal-" + request_id).modal("show");
        }

        function mlmod_save_modal(request_id) {
            $("#mlmod-hidden-reason-" + request_id).val(
                $("#mlmod-textarea-reason-" + request_id).val());
        }

        function mlmod_cancel_modal(request_id) {
            $("#mlmod-textarea-reason-" + request_id).val(
                $("#mlmod-hidden-reason-" + request_id).val());
        }
    </script>
{% endblock %}

