{% set sidenav_active='ml_moderated' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/ml/generic.tmpl" as generic_ml with context %}
{% block title %}
    {% trans %}Moderated Mailinglists{% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("ml/moderated_mailinglists"), gettext("Moderated Mailinglists"), active=True) }}
{% endblock %}

{% block content %}
     <p class="text-info">
         {{ util.make_icon('info-circle') }}
         {% trans documentation=util.href(docurl('Realm_Mailinglist_Types'), gettext('documentation')) %}
            Mailinglist types effect who can view, administer, or join a mailinglist. Furthermore, some add implicit
            subscribers. For more information, see the {{ documentation }}.
         {% endtrans %}
    </p>
    {% for group in groups %}
        {% if mailinglists[group] %}
            <h3>{{ gettext(group|string) }}</h3>
            <div class="list-group list-group-hover list-group-condensed">
            {% for mailinglist_id, ml in mailinglists[group]|keydictsort(EntitySorter.mailinglist) %}
                {{ generic_ml.format_entry(mailinglist_infos[mailinglist_id], subscriptions, events, assemblies, True) }}
            {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
