{% set sidenav_active='ml_show' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
{% endblock %}
{% block title %}{{ ambience['mailinglist']['title'] }}{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {% if is_admin %}
        {{ util.breadcrumb_link(cdedblink("ml/list_mailinglists"), gettext("All Mailinglists")) }}
    {% endif %}
    {{ util.breadcrumb_link(cdedblink("ml/show_mailinglist"), ambience['mailinglist']['title'],
                            icon="envelope", active=True) }}
{% endblock %}
{% block content %}
    {% if ambience['mailinglist']['event_id'] %}
        <div class="subtitle">
            {% if event['is_visible'] %}
                {% set link = util.href(cdedblink('event/show_event',{'event_id':event['id']}), event['title'],
                        icon='chalkboard-teacher') %}
            {% else %}
                {% set link = "%s %s"|s|format(util.make_icon('chalkboard-teacher'), event['title']) %}
            {% endif %}
            {% trans link=link %}
                Mailinglist of Event {{ link }}
            {% endtrans %}
        </div>
    {% endif %}
    {% if ambience['mailinglist']['assembly_id'] %}
        <div class="subtitle">
            {% if assembly['is_visible'] %}
                {% set link = util.href(cdedblink('assembly/show_assembly',{'assembly_id':assembly['id']}), assembly['title'],
                        icon='bullhorn') %}
            {% else %}
                {% set link = "%s %s"|s|format(util.make_icon('bullhorn'), assembly['title']) %}
            {% endif %}
            {% trans link=link %}
                Mailinglist of Assembly {{ link }}
            {% endtrans %}
        </div>
    {% endif %}

    <dl class="dl-horizontal">
        <dt>{% trans %}Mailinglist Address{% endtrans %}</dt>
        <dd>{{ util.href(util.mailto(ambience['mailinglist']['address']), ambience['mailinglist']['address']) }}</dd>
        <dt>{% trans %}Moderators{% endtrans %}</dt>
        <dd id="moderator_list">
            {% for moderator, persona in moderators.items() %} {# This is already sorted. #}
                {{ util.persona_anchor(persona) }}{% if not loop.last %},{% endif %}
            {% endfor %}
        </dd>
    </dl>

    {{ ambience['mailinglist']['description']|md }}

    {% if ambience['mailinglist']['notes']
            and (ambience['mailinglist']['id'] in user.moderator
                 or ambience['mailinglist']['ml_type_class'].has_moderator_view(user)) %}
        {% call util.bootstrap_panel(title=gettext("Admin-Notes"), icon="tag", aclass="panel-default panel-condensed",
                                     anid="adminnotes") %}
            {{ ambience['mailinglist']['notes']|md }}
        {% endcall %}
    {% endif %}

    {% if not ambience['mailinglist']['is_active'] %}
        <p class="text-warning"><strong>{% trans %}This mailinglist is inactive.{% endtrans %}</strong></p>
    {% else %}
        {% call util.bootstrap_panel(title=gettext("Your Subscription"),
                                     aclass=("panel-success" if state and state.is_subscribed() else "panel-default")) %}
                {% if state and state.is_subscribed() %}
                    <p class="text-success"><strong>
                        {% trans %}You are subscribed to this mailinglist.{% endtrans %}
                    </strong></p>
                    <dl class="dl-horizontal">
                        <dt>{% trans %}Your email address{% endtrans %}</dt>
                        <dd>
                            {% if sub_address %}
                                {{ sub_address }}
                            {% else %}
                                {{ user.username }} (default)
                            {% endif %}
                        </dd>
                    </dl>
                    {% if interaction_policy != enums['MailinglistInteractionPolicy'].mandatory %}
                        <div class="p">
                            {% if sub_address %}
                                <form action="{{ cdedblink('ml/change_address') }}" method="POST"
                                      id="resetaddressform" style="display: inline;">
                                    {{ util.anti_csrf_token('ml/change_address') }}
                                    {{ util.input_hidden(name="email", value="") }}
                                    {{ util.input_submit(value=gettext("Reset email address"), icon="share-square",
                                        aclass="btn btn-warning btn-sm") }}
                                </form>
                            {% endif %}
                            <form action="{{ cdedblink('ml/unsubscribe') }}" method="POST"
                                  id="unsubscribeform" style="display: inline;">
                                {{ util.anti_csrf_token('ml/unsubscribe') }}
                                {{ util.input_submit(value=gettext("Unsubscribe"), aclass="btn btn-danger btn-sm",
                                                     icon="times-circle") }}
                            </form>
                        </div>

                        <h4 class="mosp">{% trans %}Change email address{% endtrans %}</h4>
                        <p class="text-muted">
                            {{ util.make_icon('info-circle') }}
                            {% trans %}
                                To recieve mails from this mailinglist with a different email address,
                                enter the new address in this form. You will recieve a confirmation mail.
                            {% endtrans %}
                        </p>
                        <form action="{{ cdedblink('ml/change_address') }}" method="POST" id="changeaddressform"
                              {% if 'email' in errors %}class="has-error"{% endif %}>
                            {{ util.anti_csrf_token('ml/change_address') }}
                            <label for="input-new-adress" class="sr-only">
                                {% trans %}New Subsciption Address{% endtrans %}
                            </label>
                            <div class="input-group">
                                {{ util.input_text(name="email", type="email", placeholder="new-address@example.com",
                                        anid="input-new-adress", arialabel=gettext("New Email Address")) }}
                                <div class="input-group-btn">
                                    {{ util.input_submit(value=gettext("Change E-Mail")) }}
                                </div>
                            </div>
                            {{ util.output_errors('email') }}
                        </form>
                    {% else %}
                        <p class="text-muted">
                            {{ util.make_icon('info-circle') }}
                            {% trans link=util.href(cdedblink('core/change_username_form'),
                                                    gettext("corresponding site")) -%}
                                This mailinglist is mandatory. Therefor you are always subscribed to this list
                                with your primary email address. To change this address go to the
                                {{ link }} in your Account-Settings.
                            {% endtrans %}
                        </p>
                    {% endif %}
                {% else %}
                    {% if state == enums['SubscriptionStates'].pending %}
                        <p><strong>
                            {% trans %}
                                Your subscription request is currently pending review by a moderator.
                            {% endtrans %}
                        </strong></p>
                        <form action="{{ cdedblink('ml/cancel_subscription') }}" method="POST"
                                id="cancel-request-form">
                            {{ util.anti_csrf_token('ml/cancel_subscription') }}
                            {{ util.input_submit(value=gettext("Cancel request"), aclass="btn btn-sm btn-danger",
                                    icon="times-circle") }}
                        </form>
                    {% elif state != enums['SubscriptionStates'].unsubscription_override %}
                        <p><strong>
                            {% trans %}You are not currently subscribed to this mailinglist.{% endtrans %}
                        </strong></p>
                        {% if interaction_policy == enums['MailinglistInteractionPolicy'].moderated_opt_in %}
                            <form action="{{ cdedblink('ml/request_subscription') }}" method="POST" id="subscribe-mod-form">
                                {{ util.anti_csrf_token('ml/request_subscription') }}
                                <div>
                                    {{ util.input_submit(value=gettext("Request subscription"), aclass="btn btn-sm btn-success") }}
                                </div>
                            </form>
                        {% elif interaction_policy in (enums['MailinglistInteractionPolicy'].opt_in, enums['MailinglistInteractionPolicy'].opt_out) %}
                            <form action="{{ cdedblink('ml/subscribe') }}" method="POST" id="subscribe-no-mod-form">
                                {{ util.anti_csrf_token('ml/subscribe') }}
                                <div>
                                    {{ util.input_submit(value=gettext("Subscribe"), aclass="btn btn-sm btn-success") }}
                                </div>
                            </form>
                        {% endif %}
                    {% else %}
                        <p>
                            {% trans %}
                                You cannot subscribe to this mailinglist, because you have been blocked by the moderators.
                            {% endtrans %}
                        </p>
                    {% endif %}
                {% endif %}
        {% endcall %}
    {% endif %}

    {% if ambience['mailinglist']['ml_type_class'].has_management_view(user) %}
        {% call util.bootstrap_panel(title=gettext("Actions"), icon="exclamation-triangle", aclass="panel-danger mosp") %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="p">
                        <form action="{{ cdedblink('ml/delete_mailinglist') }}" method="POST" id="deletemlform"
                            class="display-inline">
                            {{ util.anti_csrf_token('ml/delete_mailinglist') }}
                            {{ util.input_submit(value=gettext("Delete"), readonly=is_locked,
                                                 aclass="btn btn-danger", icon="trash-alt") }}
                            {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?")) }}
                        </form>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="text-muted">
                        {% trans %}Deletes the mailinglist including description and all subscriber information.{% endtrans %}
                    </p>
                </div>
            </div>
        {% endcall %}
        <script nonce="{{ csp_nonce }}">
            $('#deletemlform').cdedbProtectAction("{{ gettext("The mailinglist will be permanently deleted.") }}");
            $('#deletemlform').find('[name="ack_delete"]').prop('checked', true).parent().hide();
        </script>
    {% endif %}
{% endblock %}
