{% set sidenav_active='ml_show' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}{{ ambience['mailinglist']['title']|e }}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("ml/show_mailinglist"), ambience['mailinglist']['title'], icon="envelope",
        active=True) }}
{% endblock %}
{% block content %}
    {% if ambience['mailinglist']['event_id'] %}
        <div class="subtitle">
            Mailingliste zur Veranstaltung
            {% if event['is_visible'] %}
                {{ util.href(cdedblink('event/show_event',{'event_id':event['id']}), event['title'],
                        icon='blackboard')}}
            {% else %}
                {{ util.make_icon('blackboard') }} {{ event['title']|e }}
            {% endif %}
        </div>
    {% endif %}
    {% if ambience['mailinglist']['assembly_id'] %}
        <div class="subtitle">
            Mailingliste zur Versammlung
            {% if assembly['is_visible'] %}
                {{ util.href(cdedblink('assembly/show_assembly',{'assembly_id':assembly['id']}), assembly['title'],
                        icon='bullhorn')}}
            {% else %}
                {{ util.make_icon('bullhorn') }} {{ assembly['title']|e }}
            {% endif %}
        </div>
    {% endif %}

    {% if ambience['mailinglist']['gateway'] %}
        <p>
            Zugänglich für Abonnenten von
            {% if gateway['is_active'] or is_admin %}
                {{ util.href(cdedblink('ml/show_mailinglist',{'mailinglist_id': gateway['id']}), gateway['title'],
                        icon='envelope')}}
            {% else %}
                {{ util.make_icon('envelope') }} {{ gateway['title']|e }}
            {% endif %}
        </p>
    {% endif %}
    <dl class="dl-horizontal">
        <dt>Listen-Adresse</dt>
        <dd>{{ util.href('mailto:' + ambience['mailinglist']['address']|e, ambience['mailinglist']['address']) }}</dd>
        <dt>Moderatoren</dt>
        <dd>
            {% for moderator in ambience['mailinglist']['moderators'] %}
                {{ util.persona_anchor(personas[moderator]) }}{% if not loop.last %},{% endif %}
            {% endfor %}
        </dd>
    </dl>

    {{ ambience['mailinglist']['description']|rst }}
    
    {% if is_admin and ambience['mailinglist']['notes'] %}
        {% call util.bootstrap_panel(title="Admin-Notizen", icon="tag", aclass="panel-default panel-condensed") %}
            {{ ambience['mailinglist']['notes']|rst }}
        {% endcall %}
    {% endif %}

    {% if not ambience['mailinglist']['is_active'] %}
        <p class="text-warning"><strong>Diese Liste ist nicht mehr aktiv.</strong></p>
    {% else %}
        {% call util.bootstrap_panel(title="Dein Abonnement",
                                     aclass=("panel-success" if is_subscribed else "panel-default")) %}
                {% if is_subscribed %}
                    <p class="text-success"><strong>Du hast diese Mailingliste abonniert.</strong></p>
                    <dl class="dl-horizontal">
                        <dt>Deine Adresse</dt>
                        <dd>
                            {% if sub_address %}
                                {{ sub_address|e }}
                            {% else %}
                                {{ user.username|e }} (default)
                            {% endif %}
                        </dd>
                    </dl>
                    {% if may_toggle %}
                        <div class="p">
                            {% if sub_address %}
                                <form action="{{ cdedblink('ml/change_address')|e }}" method="POST"
                                  id="resetaddressform" style="display: inline;">
                                    {{ util.input_hidden(name="email", value="") }}
                                    {{ util.input_submit(value="Adresse zurücksetzen", icon="share-alt",
                                            aclass="btn btn-warning btn-sm") }}
                                </form>
                            {% endif %}
                            <form action="{{ cdedblink('ml/subscribe_or_unsubscribe')|e }}" method="POST"
                                    id="unsubscribeform" style="display: inline;">
                                {{ util.input_hidden(name="subscribe", value=False) }}
                                {{ util.input_submit(value="Liste abbestellen", aclass="btn btn-danger btn-sm",
                                        icon="remove") }}
                            </form>
                        </div>

                        <h4 class="mosp">Adresse ändern</h4>
                        <p class="text-muted">
                            {{ util.make_icon('info-sign') }} Um Mails dieser Mailingliste an eine andere
                            E-Mail-Adresse zu erhalten, trage die neue Adresse ins folgende Formular ein. Nach dem
                            Absenden erhältst Du eine E-Mail an diese Adresse, mit der Du Deinen Besitz der Adresse
                            bestätigen kannst.
                        </p>
                        <form action="{{ cdedblink('ml/change_address')|e }}" method="POST" id="changeaddressform"
                              {% if 'email' in errors %}class="has-error"{% endif %}>
                            <label for="input-new-adress" class="sr-only">Neue Abonnement-Adresse</label>
                            <div class="input-group">
                                {{ util.input_text(name="email", type="email", placeholder="new-address@example.com",
                                        anid="input-new-adress", arialabel="Neue E-Mail-Adresse") }}
                                <div class="input-group-btn">{{ util.input_submit(value="Adresse ändern") }}</div>
                            </div>
                            {{ util.output_errors('email') }}
                        </form>
                    {% else %}
                        <p class="text-muted">
                            {{ util.make_icon('info-sign') }} Diese Mailingliste ist obligatorisch. Daher bist Du stets
                            mit deiner primären E-Mail-Adresse eingeschrieben. Um diese zu ändern, besuche die
                            {{ util.href(cdedblink('core/change_username_form'), 'entsprechende Seite') }} in Deinen
                            Account-Einstellungen.
                        </p>
                    {% endif %}
                {% else %}
                    {% if may_toggle %}
                        {% if pending %}
                            <p><strong>
                                Deine Anfrage für diese Mailingliste wartet auf Bestätigung durch einen Moderator.
                            </strong></p>
                            <form action="{{ cdedblink('ml/subscribe_or_unsubscribe')|e }}" method="POST"
                                    id="subscribeform">
                                {{ util.input_hidden(name="subscribe", value=False) }}
                                {{ util.input_submit(value="Zurücktreten", aclass="btn btn-sm btn-danger",
                                        icon="remove") }}
                            </form>
                        {% else %}
                            <p><strong>Du bist zurzeit kein Abonnent dieser Mailingliste.</strong></p>
                            <form action="{{ cdedblink('ml/subscribe_or_unsubscribe')|e }}" method="POST"
                              id="subscribeform">
                                <div>
                                    {{ util.input_hidden(name="subscribe", value=True) }}
                                    {{ util.input_submit(value="Abonnieren", aclass="btn btn-sm btn-success") }}
                                </div>
                            </form>
                        {% endif%}
                    {% else %}
                        <p>
                            Du kannst diese Mailingliste nicht abonnieren, da Du nicht Teil ihres Adressatenkreises
                            bist.
                        </p>
                    {% endif %}
                {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}
