{% set sidenav_active='ml_users' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% set jshint='strong' %}
{% block scripts %}{{ util.cdedb_script('cdedb_queryform.js') }}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% block title %}
    {% trans %}Mailinglist-User Management{% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("ml/user_search"), gettext("Manage Users"), active=True) }}
{% endblock %}
{% block content %}
    {{ generic.user_search('ml', info=gettext("This search will only show pure mailinglist users.")) }}
{% endblock %}
