{% set sidenav_active='ml_ml_log' %}
{% extends "web/ml/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/logging.tmpl" as logging with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% block title %}
    {% trans title=ambience['mailinglist']['title'] -%}{{ title }} Log{% endtrans %}
    {{ logging.counter(total, values['offset'] or '', length) }}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {% if is_admin %}
        {{ util.breadcrumb_link(cdedblink("ml/list_mailinglists"), gettext("All Mailinglists")) }}
    {% endif %}
    {{ util.breadcrumb_link(cdedblink("ml/show_mailinglist"), ambience['mailinglist']['title'], icon="envelope") }}
    {{ util.breadcrumb_link(cdedblink("ml/view_ml_log"), gettext("Log"), active=True) }}
{% endblock %}
{% block content %}
    {% call logging.table(log) %}
        {% for entry in log %}
            {# The ml_id parameter makes this complicated, so we can not use logging.row() here. #}
            <tr id="{{ loop.index }}-{{ entry['id'] }}">
                <td>{{ entry['ctime']|datetime(formatstr="%d.%m.%Y %H:%M:%S") }}</td>
                <td>{{ gettext(enums['MlLogCodes'](entry['code'])|string) }}</td>
                <td>
                    {% if entry['submitted_by'] %}
                        {{ util.persona_anchor(personas[entry['submitted_by']], ml_id=ambience['mailinglist']['id']) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    {% if entry['persona_id'] %}
                        {{ util.persona_anchor(personas[entry['persona_id']], ml_id=ambience['mailinglist']['id']) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>{{ entry['change_note'] }}</td>
            </tr>
        {% endfor %}
    {% endcall %}

    {{ logging.filter('ml/view_ml_log', enums['MlLogCodes'], 'mod_ml_user', aux=ambience['mailinglist']['id']) }}
    {{ logging.navigation('ml/view_ml_log', total, length, loglinks) }}
{% endblock %}
