Hallo {{ case['given_names'] }} {{ case['family_name'] }},

Deine Anfrage bezüglich eines Accounts in der CdE-Datenbank wurde abgewiesen.
Bei Fragen dazu wende Dich bitte an <verwaltung@cde-ev.de>.

Liebe Grüße von der Verwaltung
