{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans %}Initiative 25+{% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
    {{ util.breadcrumb_link(cdedblink("cde/i25p_index"),
        gettext("Initiative 25+ (Additional Information)"), active=True) }}
{% endblock %}
{% block content %}
    <h2>{% trans %}Initiative 25+ – What’s that?{% endtrans %}</h2>

    <p>
        {% trans amount=25|money(lang=lang) %}
        	If you give the authorization, the CdE will withdraw {{ amount }}
            or more annually via Direct Debit.
        {% endtrans %}
    </p>

    <p>
        {% trans amount=25|money(lang=lang), fee=5|money(lang=lang), dsa=
                gettext("Deutsche SchülerAkademie"), idea=gettext("Idee SchülerAkademie")-%}
        	These {{ amount }} will be used to pay the annual membership fee
            currently in force, currently {{ fee }}. The remainder is a donation
            to the CdE. The CdE will make sure that about 40 to 50 percent of
            this is given to {{ dsa }} or otherwise used to support the “{{ idea }}”.
        {% endtrans %}
    </p>

    <h3>{% trans %}For what does the CdE need donations?{% endtrans %}</h3>

    <p>
        {% trans %}
        	The Pfingst-, Sommer, Winter- and Multinationale Akademie are subsidised
            with donations. This way the participation fees can be lowered which benefits
            all participants. Since 2013 we also subsidise some smaller events, such as
            the CdE-Seminar, the FamilienAkademie and the Studieninformationswochenende.
        {% endtrans %}
    </p>

    <h3>{% trans %}Supporting the SchülerAkademie{% endtrans %}</h3>

    <p>
        {% trans initiative=("<em>%s</em>"|s|format(gettext("Initiative 25+"))),
                idea=gettext("Idee SchülerAkademie"),
                bub=gettext("Bildung & Begabung gem. GmbH") -%}
        	The {{ initiative }} implements a decision of the General Assembly 2008
            to support the “{{ idea }}“ financially. To this end, the CdE may give a
            portion of the donations received this way to {{ bub }} or use them to support
            SchülerAkademien in some other way.
        {% endtrans %}
    </p>

    <h2>{% trans %}Authorization Form{% endtrans %}</h2>

    <p>
        {% trans link=util.href(cdedblink("cde/lastschrift_subscription_form_fill"), gettext("this form")) %}
        	For legal reasons, we need the Direct Debit Authorization Form in written form.
            Please fill {{ link }} and send it to us by mail (not E-Mail).
        {% endtrans %}
    </p>
{% endblock %}
