{% set sidenav_active='event_registration' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_searchpersona.js') }}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint = 'strong' %}
{% block title %}
    {% trans title=ambience['event']['title'] %}
        New Registration ({{ title }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/registration_query"), gettext("Registrations")) }}
    {{ util.breadcrumb_link(cdedblink("event/add_registration"), gettext("Add Participant"), active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans %}
            New Registration
        {% endtrans %}
        <small>{{ util.make_icon('chalkboard-teacher') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/add_registration') }}" method="POST" id="addregistrationform"
          class="form-horizontal">
        {{ util.anti_csrf_token('event/add_registration') }}
        <h3 class="heading-underline">{% trans %}Personal Information{% endtrans %}</h3>
        {{ util.form_input_text(name="persona.persona_id", label=gettext("CdEDB-ID"), anid="input-persona-persona_id",
                                placeholder=gettext("DB-XXXX-X")) }}
        <script nonce="{{ csp_nonce }}">
            $('#input-persona-persona_id').cdedbSearchPerson(
                '{{ (cdedblink('core/select_persona')|e) + ('?kind=event_user&phrase=%s'|s) }}',
                {{ registered_personas|list|tojson }}, false, false, "{{ gettext("CdEDB-ID, Name or E-Mail") }}"
            );
        </script>
        {% if CDEDB_OFFLINE_DEPLOYMENT %}
            {{ util.form_input_text(name="reg.real_persona_id", label=gettext("Online CdEDB-ID")) }}
        {% endif %}

        <h3 class="heading-underline">{% trans %}Status{% endtrans %}</h3>
        {{ util.form_input_textarea(name="reg.orga_notes", label=gettext("Orga-Notes"), rows="5") }}
        {{ util.form_input_text(name="reg.payment", label=gettext("Fee paid"), type="date",
                            placeholder="YYYY-MM-DD") }}
        {{ util.form_input_text(name="reg.amount_paid", label=gettext("Amount Paid"), type="number",
                                attributes='step="0.01"'|s, defaultvalue="0.00") }}
        {{ util.form_input_checkbox(name="reg.parental_agreement", label=gettext("Parental Consent")) }}
        {{ util.form_input_text(name="reg.checkin", label=gettext("Checked-In"), type="datetime-local") }}

        {% for part_id, part in ambience['event']['parts']|keydictsort(EntitySorter.event_part) %}
            {% if ambience['event']['parts']|length > 1 %}
                <h4>{{ part['title'] }}</h4>
            {% endif %}
            {{ util.form_input_select(name="part{}.status".format(part_id), label=gettext("Status"),
                                      entries=enums['RegistrationPartStati']|enum_entries(processing=gettext)) }}
            {{ util.form_input_select(name="part{}.lodgement_id".format(part_id), label=gettext("Lodgement"),
                                     entries=lodgements|keydictsort(EntitySorter.lodgement)|dict_entries('id', 'title'), nulloption=nbsp) }}
            {% for track_id, track in part['tracks']|keydictsort(EntitySorter.course_track) %}
                {% set course_entries = courses|keydictsort(EntitySorter.course)
                                        |xdict_entries('{id}', '{nr}. {shortname}', include=course_choices[track_id]) %}
                {{ util.form_input_select(name="track{}.course_id".format(track_id),
                                          label=gettext("Course %s")|format(track['shortname'])
                                                if ambience['event']['tracks']|length > 1  else gettext("Course"),
                                          entries=course_entries,
                                          nulloption=nbsp) }}
            {% endfor %}
        {% endfor %}

        <h3 class="heading-underline">Registration Data</h3>
        {{ util.form_input_checkbox(name="reg.mixed_lodging", label=gettext("Mixed Lodging"), defaultvalue=True) }}
        {{ util.form_input_checkbox(name="reg.list_consent", label=gettext("Participant List Consent"), defaultvalue=True) }}
        {{ util.form_input_textarea(name="reg.notes", label=gettext("Notes"), rows="5") }}
        {% for track_id, track in ambience['event']['tracks']|keydictsort(EntitySorter.course_track) %}
            {% if course_choices[track_id]|length > 0 %}
                <h4>
                    {% trans %}Course Choices{% endtrans %}
                    {% if ambience['event']['tracks']|length > 1 %}
                    {{ track['shortname'] }}
                    {% endif %}
                </h4>

                {% set course_entries = courses|keydictsort(EntitySorter.course)
                                        |xdict_entries('{id}', '{nr}. {shortname}', include=course_choices[track_id]) %}
                {{ util.form_input_select(name="track{}.course_instructor".format(track_id), label=gettext("Instructor of"),
                                         entries=course_entries, nulloption=nbsp) }}
                {% for i in range(track['num_choices']) %}
                    {{ util.form_input_select(name="track{}.course_choice_{}".format(track_id, i),
                                              label=gettext("%s. Choice")|format(i + 1), entries=course_entries, nulloption=nbsp) }}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {{ util.form_input_submit(label=gettext("Add"), cancellink=cdedblink('event/registration_query')) }}
    </form>
    <script nonce="{{ csp_nonce }}">
        $('#addregistrationform').cdedbProtectChanges();
    </script>
{% endblock %}
