{% set sidenav_active = 'event_configure_additional_questionnaire' if preview else 'event_quest' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% set jshint='weak' %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% block title %}
    {% if preview %}
        {% trans title=ambience['event']['title'] %}
            Questionnaire Preview ({{ title }})
        {% endtrans %}
    {% else %}
        {% trans title=ambience['event']['title'] %}
            Questionnaire ({{ title }})
        {% endtrans %}
    {% endif %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{% if not preview %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher",
                            readonly=not (ambience['event']['is_visible']
                                          or ambience['event']['id'] in user.orga
                                          or user.admin_views.intersection(('event_orga', 'event_mgmt')))) }}
    {{ util.breadcrumb_link(cdedblink("event/additional_questionnaire", {"preview": True}),
                            gettext("Questionnaire"), active=True) }}
{% else %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/configure_additional_questionnaire"), gettext("Configure Questionnaire")) }}
    {{ util.breadcrumb_link(cdedblink("event/additional_questionnaire", {"preview": True}),
                            gettext("Questionnaire Preview"), active=True) }}
{% endif %}
{% endblock %}
{% block heading %}
    {{ util.context_heading(gettext("Questionnaire Preview") if preview else gettext("Participant Questionnaire"),
                            ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}
{% block content %}
    {% if preview %}
        <div class="form-horizontal">
    {% else %}
    <form action="{{ cdedblink('event/additional_questionnaire') }}" method="POST" id="questionnaireform"
          class="form-horizontal">
        {{ util.anti_csrf_token('event/additional_questionnaire') }}
    {% endif %}
        {% for entry in add_questionnaire %}
            {{ util.print_questionnaire_entry(entry) }}
        {% endfor %}
        {% if not preview %}
            {{ util.form_input_submit(label="Abschicken", cancellink=cdedblink("event/registration_status"),
                                      readonly=is_locked or ambience['event']['is_archived']) }}
        {% endif %}
    {% if preview %}
        </div>
    {% else %}
    </form>
    <script nonce="{{ csp_nonce }}">
        $('#questionnaireform').cdedbProtectChanges();
    </script>
    {% endif %}
{% endblock %}
