{% set sidenav_active='event_register' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}Anmeldung für {{ ambience['event']['title']|e }} ändern{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard",
                        readonly=not (ambience['event']['is_visible'] or ambience['event']['id'] in user.orga or is_admin)) }}
{{ util.breadcrumb_link(cdedblink("event/registration_status"), "Meine Anmeldung") }}
{{ util.breadcrumb_link(cdedblink("event/amend_registration"), "Ändern", active=True) }}
{% endblock %}{% block heading %}
    <h1 class="title">
        Anmeldung ändern
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('event/amend_registration')|e }}" method="POST" id="amendregistrationform"
          class="form-horizontal">

        {% if not age.may_mix() %}
            {{ util.form_input_static(label="Gemischte Unterbringung", value="Keine gemischte Unterbringung möglich.") }}
            {{ util.input_hidden(name="mixed_lodging", value=False) }}
        {% else %}
            {% if age.is_minor() %}
                {% set mix_info = glue("Die Auswahl muss mit der Einverständniserklärung der",
                                       "Erziehungsberechtigten kompatibel sein.") %}
            {% else %}
                {% set mix_info = "" %}
            {% endif %}
            {{ util.form_input_select(name="mixed_lodging", entries=(
                (True, "Ich bin mit einer gemischten Unterbringung einverstanden."),
                (False, "Ich will geschlechter-getrennt untergebracht werden.")),
                label="Gemischte Unterbringung", info=mix_info, readonly=readonly) }}
        {% endif %}
        {{ util.form_input_checkbox(name="foto_consent", readonly=readonly, label=glue(
                "Ich bin damit einverstanden, dass Fotos und Aufnahmen meiner Person, die im Rahmen dieser",
                "Veranstaltung entstehen, für die Veranstaltungsdokumentation und eine CdE-interne,",
                "passwortgeschützte Fotogalerie verwendet werden. Einzelne Fotos können auf gesonderten",
                "Wunsch davon ausgenommen werden.")) }}
        {{ util.form_input_textarea(name="notes", label="Anmerkungen", rows="5", readonly=readonly) }}
        {% for track_id, course_list in course_choices|dictsort %}
            {% if track_id in involved_tracks %}
                <h4>
                    Kurswahl
                    {% if course_choices|length > 1 %}
                        für {{ ambience['event']['tracks'][track_id]['title']|e }}
                    {% endif %}
                </h4>

                {# jinja does not support list comprehension ... #}
                {% set myentries = [] %}
                {% for course_id in course_list %}
                    {{ myentries.append((course_id, "{}. {}".format(courses[course_id]['nr'],
                                                                    courses[course_id]['title'])))|e }}
                {% endfor %}
                {{ util.form_input_select(name="course_choice{}_0".format(track_id), entries=myentries,
                                         label="Erstwahl", readonly=readonly) }}
                {{ util.form_input_select(name="course_choice{}_1".format(track_id), entries=myentries,
                                         label="Zweitwahl", readonly=readonly) }}
                {{ util.form_input_select(name="course_choice{}_2".format(track_id), entries=myentries,
                                         label="Drittwahl", readonly=readonly) }}

                {# jinja does not support list comprehension ... #}
                {% set myentries = [("", "— Ich bin kein Kursleiter —")] + myentries%}
                {{ util.form_input_select(name="course_instructor{}".format(track_id), entries=myentries,
                                         label="Kursleiter", readonly=readonly,
                                         info="Falls Du einen Kurs angeboten hast, gib bitte an, welchen.") }}
            {% endif %}
        {% endfor %}

        {{ util.form_input_submit(value="Daten aktualisieren", readonly=readonly,
                                  cancellink=cdedblink("event/registration_status")) }}
    </form>
    <script type="text/javascript">
        $('#amendregistrationform').cdedbProtectChanges();
    </script>
{% endblock %}
