{% set sidenav_active='event_manage_archive' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% set jshint='strong' %}
{% block scripts %}{{ util.cdedb_script('cdedb_queryform.js') }}{% endblock %}
{% block title %}
    {% trans %}
        Search Archived Users
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/archived_user_search"), gettext("Search Archived Users"), active="True") }}
{% endblock %}
{% block content %}
    {{ generic.archived_user_search("event", info=gettext("This search will only show archived pure event users.")) }}
{% endblock %}
