{% set mainnav_active='event' %}
{% extends "web/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% macro one_event_links(data) %}
    <div class="list-group tear-down">
        {% if data['is_visible'] or data['id'] in user.orga or user.admin_views.intersection(('event_mgmt', 'event_orga')) %}
        {{ util.href(cdedblink("event/show_event", {"event_id": data['id']}), gettext("Overview"),
                     aclass="list-group-item", icon="caret-right", active=(sidenav_active == 'event_show')) }}
        {% endif %}
        {% if data['tracks'] and (data['is_course_list_visible'] or data['id'] in user.orga or 'event_orga' in user.admin_views) %}
            {{ util.href(cdedblink("event/course_list", {"event_id": data['id']}), gettext("Courselist"),
                         aclass="list-group-item", icon="book", active=(sidenav_active == 'event_course_list')) }}
        {% endif %}
        {% if is_registered %}
            {{ util.href(cdedblink("event/registration_status", {"event_id": data['id']}), gettext("My Registration"),
                    aclass="list-group-item", icon="sign-in-alt", active=(sidenav_active == 'event_register')) }}
            {% if data['use_additional_questionnaire'] %}
                {{ util.href(cdedblink("event/additional_questionnaire_form", {"event_id": data['id']}), gettext("Questionnaire"),
                        aclass="list-group-item", icon="edit", active=(sidenav_active == 'event_quest')) }}
            {% endif %}
        {% elif data['is_open'] and "event" in user.roles and not data['is_archived'] %}
            {{ util.href(cdedblink("event/register_form", {"event_id": data['id']}), gettext("Register"),
                    readonly=is_locked, aclass="list-group-item", icon="sign-in-alt",
                    active=(sidenav_active == 'event_register')) }}
        {% endif %}
        {% if (is_participant and data['participant_info']) or data['id'] in user.orga or 'event_orga' in user.admin_views %}
            {{ util.href(cdedblink("event/participant_info", {"event_id": data['id']}),
                         gettext("Participant info"), aclass='list-group-item', icon='info',
                         active=(sidenav_active == 'participant_info')) }}
        {% endif %}
        {% if (data['is_participant_list_visible'] and is_participant) or data['id'] in user.orga or 'event_orga' in user.admin_views %}
            {{ util.href(cdedblink("event/participant_list", {"event_id": data['id']}), gettext("Participant list"),
                         aclass="list-group-item", icon="users", active=(sidenav_active == 'event_participant_list')) }}
        {% endif %}
    </div>

    {% if data['id'] in user.orga or 'event_orga' in user.admin_views %}
        <div class="list-group tear-down">
            {{ util.href(cdedblink("event/registration_query", {"event_id": data['id']}), gettext("Registrations"),
                    aclass="list-group-item", icon="list", active=(sidenav_active == 'event_registration')) }}
            {{ util.href(cdedblink("event/stats", {"event_id": data['id']}), gettext("Statistics"),
                    aclass="list-group-item", icon="chart-bar", active=(sidenav_active == 'event_stats')) }}

            {% if data['tracks'] %}
                {{ util.href(cdedblink("event/course_stats", {"event_id": data['id']}), gettext("Courses"),
                             aclass="list-group-item", icon="book", active=(sidenav_active == 'event_course_stats')) }}
                {{ util.href(cdedblink("event/course_choices", {"event_id": data['id']}), gettext("Course Assignment"),
                        aclass="list-group-item", icon="crosshairs", active=(sidenav_active == 'event_course_choices')) }}
            {% endif %}
            {{ util.href(cdedblink("event/lodgements", {"event_id": data['id']}), gettext("Lodgements"),
                    aclass="list-group-item", icon="home", active=(sidenav_active == 'event_lodgements')) }}
            {{ util.href(cdedblink("event/downloads", {"event_id": data['id']}), gettext("Downloads"), aclass="list-group-item",
                    icon="file-download", active=(sidenav_active == 'event_downloads')) }}
            {{ util.href(cdedblink("event/partial_import_form", {"event_id": data['id']}), gettext("Partial Import"), aclass="list-group-item",
                    icon="cloud-upload-alt", active=(sidenav_active == 'partial_import')) }}
            {{ util.href(cdedblink("event/batch_fees_form", {"event_id": data['id']}), gettext("Enter Money Transfers"),
                         aclass="list-group-item", icon="euro-sign", readonly=is_locked,
                         active=(sidenav_active == 'event_batch_fees')) }}
        </div>
        <div class="list-group tear-down">
            {{ util.href(cdedblink("event/change_event", {"event_id": data['id']}), gettext("Configuration"),
                         icon='cog', aclass="list-group-item", active=(sidenav_active == 'event_config')) }}
            {{ util.href(cdedblink("event/part_summary", {"event_id": data['id']}), gettext("Event-Parts"),
                         icon='clock', aclass="list-group-item", active=(sidenav_active == 'event_parts')) }}
            {{ util.href(cdedblink("event/field_summary", {"event_id": data['id']}), gettext("Configure Custom Fields"),
                         icon='tag', aclass="list-group-item", active=(sidenav_active == 'event_field_summary') ) }}
            {{ util.href(cdedblink("event/configure_registration", {"event_id": data['id']}), gettext("Configure Registration"),
                         icon='check-square', aclass="list-group-item", active=(sidenav_active == 'event_configure_registration')) }}
            {{ util.href(cdedblink("event/configure_additional_questionnaire_form", {"event_id": data['id']}),
                         gettext("Configure Questionnaire"), aclass="list-group-item",
                         active=(sidenav_active == 'event_configure_additional_questionnaire'), icon='plus-square') }}
            {{ util.href(cdedblink("event/view_event_log", {"event_id": data['id']}), gettext("Log"), aclass="list-group-item",
                         icon="far fa-list-alt", active=(sidenav_active == 'event_event_log')) }}
        </div>

        <div class="list-group tear-down">
            {{ util.href(cdedblink("event/checkin_form", {"event_id": data['id']}), gettext("Checkin"),
                    aclass="list-group-item", icon="check-double", active=(sidenav_active == 'event_checkin')) }}
        </div>
    {% endif %}
{% endmacro %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("event/index"), gettext("Events")) }}
{% endblock %}

{% block static_notifications %}
    {% if ambience['event'] %}
        {% if ambience['event']['is_archived'] and ambience['event']['is_cancelled'] %}
            {% call util.notification('info') %}
                {% trans %}This event was cancelled and has been archived.{% endtrans %}
            {% endcall %}
        {% elif ambience['event']['is_archived'] %}
            {% call util.notification('info') %}
                {% trans %}This event has been archived.{% endtrans %}
            {% endcall %}
        {% elif ambience['event']['is_cancelled'] %}
            {% call util.notification('info') %}
                {% trans %}This event has been cancelled.{% endtrans %}
            {% endcall %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block navigation %}
    {% if ambience['event'] %}
        <p>
            {{ util.href(cdedblink("event/index"), gettext("Event-Overview"), icon="arrow-alt-circle-up") }}
        </p>

        <h3 class="heading-sidebar">{{ util.make_icon('chalkboard-teacher', arialabel=gettext("Event")) }}
            {{ ambience['event']['title'] }}</h3>
        {{ one_event_links(ambience['event']) }}
    {% else %}
        <h3 class="heading-sidebar">{% trans %}Events{% endtrans %}</h3>
        <div class="list-group tear-down">
            {% if 'event_mgmt' in user.admin_views %}
                {{ util.href(cdedblink("event/index"), gettext("Overview"), aclass="list-group-item",
                             icon="caret-right", active=(sidenav_active == 'event_index')) }}
                {{ util.href(cdedblink("event/list_events"), gettext("All Events"),
                             aclass="list-group-item", icon="cog", active=(sidenav_active == 'event_list')) }}
            {% else %}
                {{ util.href(cdedblink("event/index"), gettext("Overview"), aclass="list-group-item", icon="caret-right",
                             active=(sidenav_active == 'event_index')) }}
            {% endif %}
        </div>
        {% if user.admin_views.intersection(('event_mgmt', 'event_user')) %}
            <div class="list-group tear-down">
                {% if 'event_user' in user.admin_views %}
                        {{ util.href(cdedblink("event/user_search"), gettext("Manage Users"),
                                     aclass="list-group-item", icon="users", active=(sidenav_active == 'event_users')) }}
                {% endif %}
                {% if 'event_mgmt' in user.admin_views %}
                        {{ util.href(cdedblink("event/view_log"), gettext("Log"), aclass="list-group-item", icon="far fa-list-alt",
                                     active=(sidenav_active == 'event_log')) }}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    <hr class="strong visible-xs visible-sm" />
{% endblock %}

{% block adminviews %}
    {% if ambience['event'] %}
        {% if user.persona_id in ambience['event']['orgas'] %}
            {{ util.admin_views_toggle(((gettext("Event Administration"), ["event_mgmt"], None),)) }}
        {% else %}
            {{ util.admin_views_toggle(((gettext("Event Administration"), ["event_mgmt"], None),
                                        (gettext("Orga Controls"), ["event_orga"], None))) }}
        {% endif %}
    {% else %}
        {{ util.admin_views_toggle(((gettext("User Administration"), ["core_user", "cde_user", "event_user", "ml_user", "assembly_user", "genesis"], ["event_user"]),
                                    (gettext("Event Administration"), ["event_mgmt"], None))) }}
    {% endif %}
{% endblock %}
