{% set sidenav_active='event_batch_fees' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('csv-tools') }}{% endblock %}
{% block title %}
    Überweisungen eintragen ({{ ambience['event']['title']|e }})
{% endblock %}
{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
    {{ util.breadcrumb_link(cdedblink("event/batch_fees"), "Überweisungen", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Überweisungen eintragen
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/batch_fees')|e }}" method="POST" id="batchfeesform">
        {{ util.form_input_checkbox(name="force", horizontal=False, label="Warnungen ignorieren") }}
        {{ util.form_input_textarea(name="fee_data", horizontal=False, label="Überweisungsdaten", rows="10",
                                    anid="input-data") }}

        <p class="help-block">
            {{ util.make_icon('info-sign') }} Bitte einen Datensatz pro Zeile einfügen. Das Format ist
        </p>
        <pre>Datum;Betrag;CdEDB-ID;Nachname;Vorname</pre>
        <p class="help-block">
            z.B. <code>01.04.2018;123.00;DB-9-E;Iota;Inga</code>
        </p>

        {{ util.form_input_submit(value="Eintragen", horizontal=False) }}
    </form>

    {% if data %}
        <h2>Validierungsergebnisse</h2>
        {% for dataset in data %}
            <strong>
                <span  class="row-key" data-row="{{ dataset['lineno']|e }}">Zeile {{ dataset['lineno']|e }}</span>:
                {{ dataset['amount']|money }} für
                {{ dataset['raw']['given_names']|e }} {{ dataset['raw']['family_name']|e }}
            </strong>
            <div class="batch-line-body">
                {% if dataset['problems'] or dataset['warnings'] %}
                    <ul class="list-unstyled">
                        {% for key, problem in dataset['problems'] %}
                            <li class="text-danger">
                                {{ util.make_icon('exclamation-sign', title="Fehler") }}
                                {% if key %}
                                    <em class="row-col-key clickable" data-row="{{ dataset['lineno']|e }}"
                                        data-col="{{ csvfields.get(key, -1) }}">
                                        {{ key|e -}}
                                    </em>:
                                {% endif %}
                                {{ util.format_error(problem) }}
                            </li>
                        {% endfor %}
                        {% for key, warning in dataset['warnings'] %}
                            <li class="text-warning">
                                {{ util.make_icon('warning-sign', title="Warnung") }}
                                {% if key %}
                                    <em class="row-col-key clickable" data-row="{{ dataset['lineno']|e }}"
                                        data-col="{{ csvfields.get(key, -1) }}">
                                        {{ key|e -}}
                                    </em>:
                                {% endif %}
                                {{ util.format_error(warning) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

        <script type="text/javascript">
            $(function() {
                var $textinput = $('#input-data');
                $('.row-col-key').addClass('clickable').click(function() {
                    $textinput.jumpCsvPosition($(this).attr('data-row'),$(this).attr('data-col'));
                });
                $('.row-key').addClass('clickable').click(function() {
                    $textinput.jumpCsvPosition($(this).attr('data-row'),-1);
                });
            });
        </script>
    {% endif %}
{% endblock %}
