{% set sidenav_active='event_checkin' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}Checkin ({{ ambience['event']['title']|e }}){% endblock %}
{% block heading %}
    <h1 class="title">
        Checkin
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
{{ util.breadcrumb_link(cdedblink("event/checkin"), "Checkin", active=True) }}
{% endblock %}
{% block content %}
    {% call util.bootstrap_panel("Namen suchen", icon='search', aclass='panel-primary panel-condensed softhide',
                                 anid='searchpanel') %}
        <input type="text" id="selector" class="form-control" value="" aria-label="Name zum Filtern" />
    {% endcall %}
    <div class="list-group list-group-hover">
        {% for registration_id, registration in registrations|dictsort %}
            <div class="selectee list-group-item row">
                <div class="col-sm-4">
                    <span class="searchname">
                        {{ personas[registration['persona_id']]['given_names']|e }}
                        {{ personas[registration['persona_id']]['family_name']|e }}
                    </span>
                    {% if ambience['event']['parts']|length > 1 %}
                        <br />
                        <span class="small text-muted">
                            {% for part_id, part in ambience['event']['parts']|xdictsort('part_begin')
                               if enums['RegistrationPartStati'](registration['parts'][part_id]['status']).is_present() %}
                                {{ part['title']|e }}
                                {% if registration['parts'][part_id]['status']
                                        == enums['RegistrationPartStati'].guest.value %}
                                    (Gast)
                                {% endif %}
                                {% if not loop.last %} • {% endif %}
                            {% endfor %}
                        </span>
                    {% elif (registration['parts']|dictsort)[0]['status']
                            == enums['RegistrationPartStati'].guest.value %}
                        (Gast)
                    {% endif %}
                </div>
                <div class="col-sm-4 hide-xs">
                    <small class="text-info">
                        Unterkunft:
                        {% for part_id, part in ambience['event']['parts']|xdictsort('part_begin')
                               if enums['RegistrationPartStati'](registration['parts'][part_id]['status']).is_present() %}
                            {% if registration['parts'][part_id]['lodgement_id'] %}
                                {{ lodgements[registration['parts'][part_id]['lodgement_id']]['moniker']|e }}
                            {% else %}
                                –
                            {% endif %}
                            {% if not loop.last %} / {% endif %}
                        {% endfor %}
                    </small>
                </div>
                <div class="col-sm-4">
                    <form action="{{ cdedblink('event/checkin')|e }}" method="POST" id="checkinform{{ registration_id|e }}"
                          style="display: inline;" class="checkinform">
                        {{ util.input_hidden(name="registration_id", value=registration_id) }}
                        {{ util.input_submit(value="Checkin", aclass="btn btn-primary btn-sm") }}
                    </form>
                    {{ util.href(cdedblink('event/change_registration', {'registration_id': registration_id}),
                                 "Bearbeiten", icon='pencil', aclass="btn btn-sm btn-warning") }}
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        $("#searchpanel").show();
        $("#selector").focus()
            .on('keydown paste input', function(){
                /* Source: https://stackoverflow.com/a/3561711 and https://stackoverflow.com/a/874722 */
                var re = new RegExp(removeDiacritics($(this).val()).replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&'), 'i');
                $(".selectee").each(function(){
                    if (removeDiacritics($(this).text()).match(re))
                        $(this).show();
                    else
                        $(this).hide();
                });
            })
            .trigger('input');
        $('.checkinform').cdedbProtectAction("Der Teilnehmer wird eingecheckt.");
    </script>
{% endblock %}
