{% set sidenav_active='event_course_list' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans title=ambience['event']['title'] -%}
        Courselist {{ title }}
    {%- endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard",
                        readonly=not (ambience['event']['is_visible'] or ambience['event']['id'] in user.orga or is_admin)) }}
{{ util.breadcrumb_link(cdedblink("event/course_list"), gettext("Courselist"), active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans -%}Courselist{%- endtrans %}
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}
{% block content %}
    {% if not ambience['event']['is_course_list_visible'] %}
        <div class="alert alert-info" role="alert">
            {{ util.make_icon('info-sign') }}
            <strong>{% trans -%}Caution!{%- endtrans %}</strong>
            <span class="notificationMessage">
                {% trans -%}The Courselist is currently only visible to Orgas and Admins.{%- endtrans %}
            </span>
        </div>
    {% endif %}
    {% if courses %}
        {% for anid, entry in courses|xdictsort('nr', pad=True) if entry['segments'] %}
            <div class="hide-hover-container">
                <h3>{{ entry['nr'] }}. {{ entry['title'] }}</h3>
                {% if ambience['event']['id'] in user.orga or is_admin %}
                    <div class="pull-right">
                        {{ util.href(cdedblink('event/show_course', {'course_id' : anid}), gettext("Details"),
                                     readonly=is_locked, icon='list', aclass='btn btn-xs btn-info hide-hover') }}
                        {{ util.href(cdedblink('event/change_course_form', {'course_id' : anid}), gettext("Edit"),
                                     readonly=is_locked, icon='pencil', aclass='btn btn-xs btn-warning hide-hover') }}
                    </div>
                {% endif %}
                <p class="heading-supplement">
                    {% if ambience['event']['id'] in user.orga or is_admin %}
                        <span class="label label-primary">{{ entry['shortname'] }}</span>
                    {% endif %}
                    {% if "event" in user.roles %}
                        {% trans instructors=entry['instructors'] -%}
                            by {{ instructors }}
                        {%- endtrans %}
                    {% endif %}
                    {% if ambience['event']['tracks']|length > 1 %}
                        – <span class="text-info">
                        {% for track_id, track in ambience['event']['tracks']|xdictsort('sortkey')
                                if track_id in entry['segments'] -%}
                            {% if not loop.first %}
                                {% if loop.last %}
                                    {% trans -%}and{%- endtrans %}
                                {% else %}
                                    ,
                                {% endif %}
                            {% endif %}
                            {% if track_id not in entry['active_segments'] %}
                                <i><s>{{ track['title'] }}</s></i>
                            {%- else %}
                                <i>{{ track['title'] }}</i>
                            {%- endif %}
                        {%- endfor %}</span>.
                    {% elif not entry['active_segments'] %}
                        – <span class="text-info">{% trans -%}cancelled{%- endtrans %}</span>
                    {% endif %}
                </p>
                {{ entry['description']|md }}
            </div>
        {% endfor %}
    {% elif ambience['event']['tracks'] %}
        <p>{% trans -%}This event does not yet have any courses.{%- endtrans %}</p>
    {% else %}
        <p>{% trans -%}This event does not have Courses.{%- endtrans %}</p>
    {% endif %}
{% endblock %}
