{% set sidenav_active='event_lodgements' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans title=ambience['event']['title'] -%}
    	Create Lodgement Group({{ title }})
    {%- endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
    {{ util.breadcrumb_link(cdedblink("event/lodgements"), gettext("Lodgements")) }}
    {{ util.breadcrumb_link(cdedblink("event/create_lodgement_group"), gettext("Create Lodgement Group"), active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
    {% trans -%}Create Lodgement Group{%- endtrans %}
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/create_lodgement_group') }}" method="POST" id="createlodgementgroupform"
          class="form-horizontal">
        {{ util.anti_csrf_token('event/create_lodgement_group') }}
        <h4 class="heading-underline">{% trans -%}Lodgement Group{%- endtrans %}</h4>
        {{ util.form_input_text(name="moniker", label=gettext("Moniker")) }}
        {{ util.form_input_submit(value=gettext("Create"), cancellink=cdedblink("event/lodgements")) }}
    </form>
    <script type="text/javascript" nonce="{{ csp_nonce }}">
        $('#createlodgementgroupform').cdedbProtectChanges();
    </script>
{% endblock %}
