{% set sidenav_active='event_list' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('search-persona') }}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint='strong' %}
{% block title %}
    {% trans -%}
    	Create Event
    {%- endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/list_db_events"), gettext("Manage Events")) }}
{{ util.breadcrumb_link(cdedblink("event/create_event"), gettext("Create Event"), active=True) }}
{% endblock %}
{% block content %}
    {% call util.bootstrap_panel(aclass="panel-warning") %}
        TODO Kursschienen
    {% endcall %}
    <form action="{{ cdedblink('event/create_event') }}" method="POST" id="createeventform" class="form-horizontal">
        {{ util.anti_csrf_token('event/create_event') }}
        {{ util.form_input_text(name="title", label=gettext("Title")) }}
        {{ util.form_input_select(name="institution", label=gettext("Institution"), entries=institutions|dictsort,
                defaultvalue=institutions['cde']) }}
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5") }}
        {{ util.form_input_text(name="shortname", label=gettext("Shortname")) }}
        {{ util.form_input_text(name="event_begin", label=gettext("Event Begin"), type="date",
                                placeholder="YYYY-MM-DD") }}
        {{ util.form_input_text(name="event_end", label=gettext("Event End"), type="date",
                                placeholder="YYYY-MM-DD") }}
        {{ util.form_input_text(name="registration_start", label=gettext("Registration Start"), type="datetime-local",
                                placeholder="YYYY-MM-DD HH:MM:SS") }}
        {{ util.form_input_text(name="registration_soft_limit", label=gettext("Registration Soft Limit"),
                                type="datetime-local", placeholder="YYYY-MM-DD HH:MM:SS",
                                info=gettext("Is displayed initially. Changes to registration are only possible until "
                                "then. If left empty, Changes will be possible indefinitely.")) }}
        {{ util.form_input_text(name="registration_hard_limit", label=gettext("Registration Hard Limit"),
                                type="datetime-local", placeholder="YYYY-MM-DD HH:MM:SS",
                                info=gettext("Final registration end. Until then late registrations are possible. "
                                "If left empty, late registrations will be possible indefinitely.")) }}
        {{ util.form_input_select(name="iban", label=gettext("CdE-Account IBAN"), entries=accounts, nulloption="") }}
        {{ util.form_input_textarea(name="mail_text", label=gettext("Registration mail free text"), rows="5") }}
        {{ util.form_input_textarea(name="notes", label=gettext("Orga-Notes"), rows="5") }}
        {{ util.form_input_text(name="orga_ids", label=gettext("Orgas"), placeholder="DB-XXXX-X,DB-XXXX-X,…",
            anid="input-orgas") }}
        <script type="text/javascript">
            $('#input-orgas').cdedbSearchPerson(
                '{{ (cdedblink('core/select_persona')|e) + ('?kind=event_admin_user&phrase=%s'|s) }}',
                [],
                false,
                true,
                "{{ gettext("CdEDB-ID, Name or E-Mail") }}"
            );
        </script>
        {{ util.input_hidden(name="use_questionnaire", value=False) }}
        {{ util.form_input_submit(value=gettext("Create"), cancellink=cdedblink("event/list_db_events")) }}
    </form>
    <script type="text/javascript">
        $('#createeventform').cdedbProtectChanges();
    </script>
{% endblock %}
