{% set sidenav_active='event_downloads' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans title=ambience['event']['title'] %}
        Downloads for Event {{ title }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
{{ util.breadcrumb_link(cdedblink("event/downloads"), gettext("Downloads"), active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans %}Downloads{% endtrans %} <small>{{ util.make_icon('chalkboard-teacher') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}
{% block content %}
    <h3>{% trans %}Printables{% endtrans %}</h3>
    <table class="table table-slim">
        <tbody>
            <tr>
                <td>{% trans %}Nametags{% endtrans %}</td>
                <td>{{ util.href(cdedblink('event/download_nametags', {'runs': 0}), gettext("LaTeX"), icon='download') }}</td>
                <td>{{ util.href(cdedblink('event/download_nametags', {'runs': 2}), gettext("PDF"), icon='file') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Course Attendee Lists{% endtrans %}</td>
                <td>{{ util.href(cdedblink('event/download_course_lists', {'runs': 0}), gettext("LaTeX"), icon='download') }}</td>
                <td>{{ util.href(cdedblink('event/download_course_lists', {'runs': 2}), gettext("PDF"), icon='file') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Lodgement Inhabitant Lists{% endtrans %}</td>
                <td>{{ util.href(cdedblink('event/download_lodgement_lists', {'runs': 0}), gettext("LaTeX"), icon='download') }}</td>
                <td>{{ util.href(cdedblink('event/download_lodgement_lists', {'runs': 2}), gettext("PDF"), icon='file') }}</td>
            </tr>
            <tr>
                <td>
                    {% trans %}Course Puzzle{% endtrans %}
                    <small>({% trans %}cut out and sort into a course assignment{% endtrans %})</small>
                </td>
                <td>{{ util.href(cdedblink('event/download_course_puzzle', {'runs': 0}), gettext("LaTeX"), icon='download') }}</td>
                <td>{{ util.href(cdedblink('event/download_course_puzzle', {'runs': 2}), gettext("PDF"), icon='file') }}</td>
            </tr>
            <tr>
                <td>
                    {% trans %}Lodgement Puzzle{% endtrans %}
                    <small>({% trans %}cut out and sort into a lodgement assignment{% endtrans %})</small>
                </td>
                <td>{{ util.href(cdedblink('event/download_lodgement_puzzle', {'runs': 0}), gettext("LaTeX"), icon='download') }}</td>
                <td>{{ util.href(cdedblink('event/download_lodgement_puzzle', {'runs': 2}), gettext("PDF"), icon='file') }}</td>
            </tr>
        </tbody>
    </table>

    <h3>{% trans %}Participant Lists{% endtrans %}</h3>
    {% trans %}
        The public lists only contain those who gave their consent to be on the list. Only these may be sent to the participants beforehand.
    {% endtrans %}
    {% trans %}
        The orga lists contain all participants and are for orgas only. They may however be displayed publicly at the event iteself.
    {% endtrans %}
    <table class="table table-slim">
        <tbody>
            {% set endpoint = 'event/download_participant_list' %}
            <tr>
                <td>{% trans %}Public List{% endtrans %}</td>
                <td>{{ util.href(cdedblink(endpoint, {'runs': 0}), gettext("LaTeX"), icon='download') }}</td>
                <td>{{ util.href(cdedblink(endpoint, {'runs': 2}), gettext("PDF"), icon='file') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Public List (Landscape){% endtrans %}</td>
                <td>{{ util.href(cdedblink(endpoint, {'runs': 0, 'landscape': True}), gettext("LaTeX"), icon='download') }}</td>
                <td>{{ util.href(cdedblink(endpoint, {'runs': 2, 'landscape': True}), gettext("PDF"), icon='file') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Orga List{% endtrans %}</td>
                <td>{{ util.href(cdedblink(endpoint, {'runs': 0, 'orgas_only': True}), gettext("LaTeX"), icon='download') }}</td>
                <td>{{ util.href(cdedblink(endpoint, {'runs': 2, 'orgas_only': True}), gettext("PDF"), icon='file') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Orga List (Landscape){% endtrans %}</td>
                <td>{{ util.href(cdedblink(endpoint, {'runs': 0, 'orgas_only': True, 'landscape': True}), gettext("LaTeX"), icon='download') }}</td>
                <td>{{ util.href(cdedblink(endpoint, {'runs': 2, 'orgas_only': True, 'landscape': True}), gettext("PDF"), icon='file') }}</td>
            </tr>
            {% if ambience['event']['parts']|length > 1 %}
                <tr>
                    <td>{% trans %}Public Lists by part{% endtrans %}</td>
                    <td>
                        {% for part_id, part in ambience['event']['parts'].items() %}
                            {{ util.href(cdedblink(endpoint, {'runs': 0, 'part_ids': [part_id]}), "{}.tex".format(part['shortname']), icon='download') }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for part_id, part in ambience['event']['parts'].items() %}
                            {{ util.href(cdedblink(endpoint, {'runs': 2, 'part_ids': [part_id]}), "{}.pdf".format(part['shortname']), icon='file') }}<br/>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans %}Orga Lists by part{% endtrans %}</td>
                    <td>
                        {% for part_id, part in ambience['event']['parts'].items() %}
                            {{ util.href(cdedblink(endpoint, {'runs': 0, 'part_ids': [part_id], 'orgas_only': True}), "{}.tex".format(part['shortname']), icon='download') }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for part_id, part in ambience['event']['parts'].items() %}
                            {{ util.href(cdedblink(endpoint, {'runs': 2, 'part_ids': [part_id], 'orgas_only': True}), "{}.pdf".format(part['shortname']), icon='file') }}<br/>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h3>{% trans %}Export{% endtrans %}</h3>
    <table class="table table-slim">
        <tbody>
            <tr>
                <td class="info">
                    {% trans %}
                        The full export is now on event overview.
                    {% endtrans %}
                </td>
                <td class="info"></td>
            </tr>
            <tr>
                <td>
                    {% trans %}Partial Event Export{% endtrans %}<br />
                    <small>({% trans %}for consumption by external tools{% endtrans %})</small>
                </td>
                <td>{{ util.href(cdedblink('event/download_partial_export'), gettext("JSON file"), icon='download') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Registrations{% endtrans %}</td>
                <td>{{ util.href(cdedblink('event/download_csv_registrations'), gettext("CSV-File"), icon='download') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Courselist{% endtrans %}</td>
                <td>{{ util.href(cdedblink('event/download_csv_courses'), gettext("CSV-File"), icon='download') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Lodgementlist{% endtrans %}</td>
                <td>{{ util.href(cdedblink('event/download_csv_lodgements'), gettext("CSV-File"), icon='download') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Courselist for exPuls{% endtrans %}</td>
                <td>{{ util.href(cdedblink('event/download_expuls'), gettext("TeX-Code"), icon='download') }}</td>
            </tr>
            <tr>
                <td>{% trans %}Dokuteam{% endtrans %}</td>
                <td>{{ util.href(cdedblink('event/download_dokuteam'), gettext("Shell-Snippet"), icon='download') }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
