{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% block title %}
    {% trans -%}
    	Create Event-User
    {%- endtrans %}
{% endblock %}
{% block content %}
    {{ generic.genesis('event') }}
{% endblock %}
