{% set sidenav_active='event_index' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans %}
    	Events
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), gettext("Events"), active=True) }}
{% endblock %}
{% block content %}
    <h3>{% trans %}Current Events{% endtrans %}</h3>
    {% if open_events %}
        <ul class="spaced" id="current-events">
            {% for event_id, event in open_events|keydictsort(EntitySorter.event) %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), event['title']) }}
                    <br />
                    {{ event['begin']|date(lang=lang) }}&#8239;–&#8239;{{ event['end']|date(lang=lang) }},
                    {% if event['registration_start'] is none or now() <= event['registration_start'] %}
                        {% trans %}
                            Registration in future.
                        {% endtrans %}
                    {% elif event['registration_soft_limit'] is none or now() <= event['registration_soft_limit'] %}
                        {% trans %}
                            Registration is open.
                        {% endtrans %}
                    {% elif event['registration_hard_limit'] is none or now() <= event['registration_hard_limit'] %}
                        {% trans %}
                            Late-Registration is open.
                        {% endtrans %}
                    {% elif event['begin'] <= now().date() <= event['end'] %}
                        {% trans %}
                            Event is happening.
                        {% endtrans %}
                    {% elif event['end'] <= now().date() %}
                        {% trans %}
                            Event is past.
                        {% endtrans %}
                    {% endif %}
                    <br />
                    {% if "event" in user.roles and event['registration'] %}
                        {% trans link=util.href(cdedblink('event/registration_status', {'event_id': event_id}),
                                     gettext("registered")) -%}
                            (already {{ link }})
                        {% endtrans %}
                        {%- if event['use_additional_questionnaire'] %}
                            &bull;
                            {{ util.href(cdedblink('event/additional_questionnaire', {'event_id': event_id}),
                                         gettext("Questionnaire"), icon='edit') -}}
                        {% endif -%}
                    {% elif "event" in user.roles and event['is_open'] %}
                        {{ util.href(cdedblink('event/register_form', {'event_id': event_id}),
                            gettext("Register"), icon='sign-in-alt') }}
                        {% if not event['registration_soft_limit'] is none %}
                            {% if now() <= event['registration_soft_limit'] %}
                                {% trans date=event['registration_soft_limit']|datetime(lang=lang) %}
                                    (until {{ date }})
                                {% endtrans %}
                            {% elif event['registration_hard_limit'] %}
                                {% trans date=event['registration_hard_limit']|datetime(lang=lang) %}
                                    (late registrations until {{ date }})
                                {% endtrans %}
                            {% else %}
                                {% trans %}
                                    (only late registrations possible)
                                {% endtrans %}
                            {% endif %}
                        {% elif not event['registration_hard_limit'] is none %}
                            {% trans date=event['registration_hard_limit']|datetime(lang=lang) %}
                                (until {{ date }})
                            {% endtrans %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">
            {% trans %}There are currently no event registrations open.{% endtrans %}
        </p>
    {% endif %}

    {% if orga_events %}
        <h3>{% trans %}Organized Events{% endtrans %}</h3>
        <ul class="spaced" id="organized-events">
            {% for event_id, entry in orga_events|keydictsort(EntitySorter.event) %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), entry['title']) }}
                    <br />
                    {{ entry['begin']|date(lang=lang) }}–{{ entry['end']|date(lang=lang) }}
                    <br />
                    <span class="small">
                        {{ util.href(cdedblink('event/registration_query', {'event_id': event_id}),
                                     gettext("Registrations"), icon='list') }}
                        &bull;
                        {{ util.href(cdedblink('event/stats', {'event_id': event_id}),
                                     gettext("Statistics"), icon='chart-bar') }}
                        {% if entry['tracks'] %}
                            &bull;
                            {{ util.href(cdedblink('event/course_stats', {'event_id': event_id}),
                                         gettext("Courses"), icon='book') }}
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if other_events %}
        <h3>{% trans %}Other Events{% endtrans %}</h3>
        <ul class="spaced" id="other-events">
            {% for event_id, event in other_events|keydictsort(EntitySorter.event) %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), event['title']) }}
                    <br />
                    {{ event['begin']|date(lang=lang) }}&#8239;–&#8239;{{ event['end']|date(lang=lang) }}
                    {%- if event['is_cancelled'] -%}
                        , {% trans %}is cancelled{% endtrans %}.
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
        <h3>{% trans %}Past Events (long){% endtrans %}</h3>
        <p id="past-events">
            {% if 'cde' in user.roles %}
                {% trans link=util.href(cdedblink('cde/list_past_events'), gettext('Past Events (long)'))|s,
                         list=util.href(cdedblink('event/list_events'), gettext('list'))|s %}
                    Previous CdE events, including their courses and participants, can be found at {{ link }} – together with Junior- and SchülerAkademien.
                    Furthermore, there is a {{ list }} of all events which have not been cleansed yet.
                {% endtrans %}
            {% else %}
                {% trans list=util.href(cdedblink('event/list_events'), gettext('list'))|s %}
                    Previous CdE events are accessible to members only – together with Junior- and SchülerAkademien.
                    However, there is a {{ list }} of all events which have not been cleansed yet.
                {% endtrans %}
            {% endif %}
        </p>

{% endblock %}
