{% set sidenav_active='event_lodgements' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}Unterkunftsübersicht ({{ ambience['event']['title']|e }}){% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
{{ util.breadcrumb_link(cdedblink("event/lodgements"), "Unterkunft", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Unterkünfte
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}
{% block content %}
    <div class="p">
        {{ util.href(cdedblink("event/create_lodgement_form"), "Unterkunft hinzufügen", readonly=is_locked,
                     aclass='btn btn-sm btn-success', icon='plus') }}
    </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th rowspan="2">Unterkunft</th>
                {% if ambience['event']['parts']|length > 1 %}
                    <th colspan="{{ ambience['event']['parts']|length * 2 }}" class="b-left">Belegung</th>
                {% else %}
                    <th rowspan="2" colspan="2" class="text-right">Belegung</th>
                {% endif %}
                <th colspan="2" class="b-left">Kapazität</th>
                <th rowspan="2" class="b-left"></th>
            </tr>
            <tr>
                {% if ambience['event']['parts']|length > 1 %}
                    {% for part_id, part in ambience['event']['parts']|xdictsort('part_begin') %}
                        <th class="text-right{% if loop.first %} b-left{% endif %}">
                            {{ part['title']|e }}
                        </th>
                        <th></th>
                    {% endfor %}
                {% endif %}
                <th class="b-left text-right">Plätze</th>
                <th class="text-right">Isomattenplätze</th>
            </tr>
        </thead>
        <tbody>
            {% for lodgement_id, lodgement in lodgements|dictsort %}
                <tr>
                    <td>{{ util.href(cdedblink("event/show_lodgement", {'lodgement_id': lodgement_id}),
                                     lodgement['moniker']) }}</td>
                    {% set colors = ['', 'course-fewp', 'course-manyp', 'course-cancelled'] %}
                    {% for part_id, part in ambience['event']['parts']|xdictsort('part_begin') %}
                        {% set problem = problems[(lodgement_id, part_id)] %}
                        <td class="text-right {% if loop.first %} b-left{% endif %}
                            {{ colors[problem[0]] }}" {% if problem[1] %}title="{{ gettext(problem[1])|e }}"{% endif %}>
                            {{ inhabitants[(lodgement_id, part_id)]|e }}
                        </td>
                        <td class="text-right {{ colors[problem[0]] }}"
                            {% if problem[1] %}title="{{ gettext(problem[1])|e }}"{% endif %}>
                            {% if reserve_inhabitants[(lodgement_id, part_id)] %}
                                ({{ reserve_inhabitants[(lodgement_id, part_id)]|e }})
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="b-left text-right">{{ lodgement['capacity']|e }}</td>
                    <td class=" text-right">({{ lodgement['reserve']|e }})</td>
                    <td class="b-left">
                        {{ util.href(cdedblink("event/change_lodgement_form", {'lodgement_id': lodgement_id}),
                                     readonly=is_locked, aclass='btn btn-xs btn-warning', icon='pencil',
                                     title="Bearbeiten") }}
                        {{ util.href(cdedblink("event/manage_inhabitants_form", {'lodgement_id': lodgement_id}),
                                     readonly=is_locked, aclass='btn btn-xs btn-warning', icon='user',
                                     title="Belegung ändern") }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr />
    <p>
        <strong>Farb-Legende:</strong> &emsp;
        <span class="color-legend course-fewp"></span>&nbsp;Warnung &emsp;
        <span class="color-legend course-manyp"></span>&nbsp;Überfüllung &emsp;
        <span class="color-legend course-cancelled"></span>&nbsp;unzulässige Geschlechtermischung
    </p>
{% endblock %}
