{% set sidenav_active='event_lodgements' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans title=ambience['event']['title'] %}
    	Lodgements ({{ title }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
{{ util.breadcrumb_link(cdedblink("event/lodgements"), gettext("Lodgements"), active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans %}Lodgements{% endtrans %}
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}
{% block content %}
    <div class="p">
        {{ util.href(cdedblink("event/create_lodgement_form"), gettext("Add Lodgement"), readonly=is_locked,
                     aclass='btn btn-sm btn-success', icon='plus') }}
        {{ util.href(cdedblink("event/lodgement_group_summary"), gettext("Manage Lodgement Groups"), readonly=is_locked,
                     aclass='btn btn-sm btn-info', icon='th-large') }}
    </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th rowspan="2" colspan="2">{% trans %}Lodgement{% endtrans %}</th>
                {% if ambience['event']['parts']|length > 1 %}
                    <th colspan="{{ ambience['event']['parts']|length * 2 }}" class="b-left">
                        {% trans %}Inhabitants{% endtrans -%}</th>
                {% else %}
                    <th rowspan="2" colspan="2" class="text-right">{% trans %}Inhabitants{% endtrans %}</th>
                {% endif %}
                <th colspan="2" class="b-left">{% trans %}Capacity{% endtrans %}</th>
                <th rowspan="2" class="b-left"></th>
            </tr>
            <tr>
                {% if ambience['event']['parts']|length > 1 %}
                    {% for part_id, part in ambience['event']['parts']|keydictsort(EntitySorter.event_part) %}
                        <th class="text-right{% if loop.first %} b-left{% endif %}">
                            {{ part['title'] }}
                        </th>
                        <th></th>
                    {% endfor %}
                {% endif %}
                <th class="b-left text-right">{% trans %}Regular{% endtrans %}</th>
                <th class="text-right">{% trans %}Camping Mat{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for group_id, sorted_lodgements in grouped_lodgements.items() %}
                {% if grouped_lodgements|length > 1 %}
                    <tr class="subheading">
                        <td colspan="2">
                            {% if group_id %}{{ groups[group_id]['moniker'] }}
                            {% else %}
                                <i>{% trans %}Ungrouped Lodgements{% endtrans %}</i>
                            {% endif %}
                        </td>
                        {% for part_id, part in ambience['event']['parts']|keydictsort(EntitySorter.event_part) %}
                            <td class="text-right" id="group_inhabitants_{{ part_id }}_{{ group_id }}">
                                {{ (group_inhabitants_sum[(group_id, part_id)]
                                    - group_reserve_inhabitants_sum[(group_id, part_id)]) }}
                            </td>
                            <td class="text-right" id="group_reserve_inhabitants_{{ part_id }}_{{ group_id }}">
                                {% if group_reserve_inhabitants_sum[(group_id, part_id)] %}
                                    + {{ group_reserve_inhabitants_sum[(group_id, part_id)] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="text-right" id="group_capacity_{{ group_id }}">{{ group_capacity_sum[group_id] }}</td>
                        <td class=" text-right" id="group_reserve_capacity_{{ group_id }}">+ {{ group_reserve_sum[group_id] }}</td>
                        <td class="">
                    </tr>
                {% endif %}
                {% for lodgement_id, lodgement in sorted_lodgements.items() %}
                    <tr>
                        <td class="indent"></td>
                        <td>{{ util.href(cdedblink("event/show_lodgement", {'lodgement_id': lodgement_id}),
                                         lodgement['moniker']) }}</td>
                        {% set colors = ['', 'course-fewp', 'course-manyp', 'course-cancelled'] %}
                        {% for part_id, part in ambience['event']['parts']|keydictsort(EntitySorter.event_part) %}
                            {% set problem = problems[(lodgement_id, part_id)] %}
                            <td class="text-right {% if loop.first %} b-left{% endif %}
                                {{ colors[problem[0]] }}" {% if problem[1] %}title="{{ gettext(problem[1]) }}"{% endif %}
                                id="lodge_inhabitants_{{ part_id }}_{{ lodgement_id }}">
                                {{ (inhabitants[(lodgement_id, part_id)] - reserve_inhabitants[(lodgement_id, part_id)]) }}
                            </td>
                            <td class="text-right {{ colors[problem[0]] }}"
                                {% if problem[1] %}title="{{ gettext(problem[1]) }}"{% endif %}
                                id="lodge_reserve_inhabitants_{{ part_id }}_{{ lodgement_id }}">
                                {% if reserve_inhabitants[(lodgement_id, part_id)] %}
                                    + {{ reserve_inhabitants[(lodgement_id, part_id)] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="b-left text-right" id="lodge_capacity_{{ lodgement_id }}">{{ lodgement['capacity'] }}</td>
                        <td class=" text-right" id="lodge_reserve_capacity{{ lodgement_id }}">+ {{ lodgement['reserve'] }}</td>
                        <td class="b-left">
                            {{ util.href(cdedblink("event/change_lodgement_form", {'lodgement_id': lodgement_id}),
                                         readonly=is_locked, aclass='btn btn-xs btn-warning', icon='pencil',
                                         title=gettext("Edit")) }}
                            {{ util.href(cdedblink("event/manage_inhabitants_form", {'lodgement_id': lodgement_id}),
                                         readonly=is_locked, aclass='btn btn-xs btn-warning', icon='user',
                                         title=gettext("Manage Inhabitants")) }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="summary">
                <th colspan="2">&Sigma;</th>
                {% for part_id, part in ambience['event']['parts']|keydictsort(EntitySorter.event_part) %}
                    <td class="text-right {% if loop.first %} b-left{% endif %}"
                        id="total_inhabitants_{{ part_id }}">
                        {{ (inhabitants_sum[part_id] - reserve_inhabitants_sum[part_id]) }}
                    </td>
                    <td class="text-right" id="total_reserve_inhabitants_{{ part_id }}">
                        + {{ reserve_inhabitants_sum[part_id] }}
                    </td>
                {% endfor %}
                    <td class="b-left text-right" id="total_capacity">{{ capacity_sum }}</td>
                    <td class=" text-right" id="total_reserve_capacity">+ {{ reserve_sum }}</td>
                     <td class="b-left"> </td>
            </tr>
        </tfoot>
    </table>

    <hr />
    <p>
        <strong>{% trans %}Color Guide{% endtrans %}:</strong> <br />
        <span class="color-legend course-fewp"></span>&nbsp;{% trans %}Warning{% endtrans %} &emsp;
        <span class="color-legend course-manyp"></span>&nbsp;{% trans %}Overfull{% endtrans %} &emsp;
        <span class="color-legend course-cancelled"></span>&nbsp;{% trans %}Illegal Gendermix{% endtrans %}
    </p>
{% endblock %}
