{% set sidenav_active='event_lodgements' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% set jshint='strong' %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{{ util.cdedb_script('cdedb_dynamicrow.js') }}{% endblock %}
{% block title %}
    {% trans title=ambience['event']['title'] %}
    	Lodgement Groups ({{ title }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
{{ util.breadcrumb_link(cdedblink("event/lodgements"), gettext("Lodgements")) }}
{{ util.breadcrumb_link(cdedblink("event/lodgement_group_summary"), gettext("Manage Lodgement Groups"), active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans %}Lodgement Groups{% endtrans %}
        <small>{{ util.make_icon('chalkboard-teacher') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}


{% block content %}
    {% set columns =  [dict(name="title", label=gettext("Name"), func=util.input_text)] %}

    <form action="{{ cdedblink('event/lodgement_group_summary') }}" method="POST" id="lodgementgroupsummaryform">
        {{ util.anti_csrf_token('event/lodgement_group_summary') }}
        {{ util.dynamic_row_table("Lodgement Group", columns, lodgement_groups, is_referenced, sortkey=EntitySorter.lodgement_group) }}
        {{ util.input_submit(label=gettext("Save")) }}
    </form>

    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#drow-table').cdedbDynamicRow({
                addButton: $('#drow-addbutton'),
                delButtonTitle: "{{ gettext("Delete line") }}"});
            $('#lodgementgroupsummaryform').cdedbProtectChanges();
        });
    </script>
{% endblock %}
