{% set sidenav_active='event_lodgements' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('manage_participants') }}{% endblock %}
{% set jshint='strong' %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
    {{ util.breadcrumb_link(cdedblink("event/lodgements"), "Unterkunft") }}
    {{ util.breadcrumb_link(cdedblink("event/show_lodgement"), ambience['lodgement']['moniker'], icon='home') }}
    {{ util.breadcrumb_link(cdedblink("event/manage_inhabitants"), "Belegung ändern", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Bewohner von {{ ambience['lodgement']['moniker']|e }}
        <small>{{ util.make_icon('blackboard', arialabel="Veranstaltung") }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}
{% block title %}
Bewohner der Unterkunft {{ ambience['lodgement']['moniker']|e }} verwalten ({{ ambience['event']['title']|e }})
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/manage_inhabitants')|e }}" method="POST" id="manageinhabitantsform">
        <div class="row">
            {% for part_id, part in ambience['event']['parts']|xdictsort('part_begin') %}
                <div class="col-md-6">
                    {% call util.bootstrap_panel(title=(part['title'] if ambience['event']['parts']|length > 1
                                                                      else "Eingeteilte Bewohner"),
                                                 aclass="panel-info") %}
                        <table class="table table-condensed">
                            <tbody>
                            {% for registration_id in inhabitants[(ambience['lodgement']['id'], part_id)] %}
                                <tr>
                                    <td>
                                        {{ personas[registrations[registration_id]['persona_id']]['given_names']|e }}
                                        {{ personas[registrations[registration_id]['persona_id']]['family_name']|e }}
                                    </td>
                                    <td>
                                        &ensp;{{ util.input_checkbox('reserve_'+part_id|e+'_'+registration_id|e, "Isom.") }}
                                    </td>
                                    <td>
                                        &ensp;{{ util.input_checkbox('delete_'+part_id|e+'_'+registration_id|e, "Entf.",
                                                                aclass="del-box") }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="text-muted"><td>Zur Zeit keine Bewohner eingeteilt</td></tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <label for="input_new_{{ part_id|e }}">
                            {{ util.make_icon('plus') }} Bewohner hinzufügen
                        </label>
                        <select multiple="multiple" id="input_new_{{ part_id|e }}" class="form-control"
                                name="new_{{ part_id|e }}">
                            <option value="">— keine —</option>
                            {% for registration_id in without_lodgement[part_id] %}
                                <option id="{{ registration_id|e }}_{{ part_id|e }}" value="{{ registration_id|e }}">
                                    {{ personas[registrations[registration_id]['persona_id']]['given_names']|e }}
                                    {{ personas[registrations[registration_id]['persona_id']]['family_name']|e }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endcall %}
                </div>
            {% endfor %}
            <script type="text/javascript">
                var lodgement_names = {{ lodgement_names|json }};
                {% for part_id in ambience['event']['parts'] %}
                    $('#input_new_{{ part_id }}').cdedbSearchParticipant(
                        {{ selectize_data[part_id]|json }}, lodgement_names, "aktuell: ");
                {% endfor %}
                $('.del-box').cdedbRemoveParticipantButton('Teilnehmer aus Unterkunft entfernen');
            </script>
        </div>
        {{ util.input_submit(value="Speichern") }}&emsp;
        {{ util.href(cdedblink('event/show_lodgement'), "Abbrechen", icon='remove', aclass="btn btn-default") }}
    </form>
{% endblock %}
