{% set sidenav_active='partial_import' %}
{% extends "web/event/base.tmpl" %}
{% set jshint='weak' %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans title=ambience['event']['title'] %}
        Partial Import Validation ({{ title }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
{{ util.breadcrumb_link(cdedblink("event/partial_import_form"), gettext("Partial Import"), active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans %}Partial Import{% endtrans %}
        <small>{{ util.make_icon('chalkboard-teacher') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}

{# The following macro generates the diff table for a changed registration, lodgement or course.
   It takes the (flattened) diff of the item and shows a table with all changed attributes, old and new values. #}
{% macro diff_table(diff, titles, choices) %}
    <table class="table table-layout-fixed small">
        <thead>
            <tr>
                <th>{% trans %}Attribute{% endtrans %}</th>
                <th>{% trans %}Old Value{% endtrans %}</th>
                <th>{% trans %}New Value{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for key, (old, new) in diff.items() %}
                <tr>
                    <td>{{ titles.get(key, key) }}</td>
                    <td class="{% if old is not none %}bg-danger{% endif %}">
                        {% if old is sequence and not old is string%}
                            [{% for o in old %}
                                {{- choices.get(key, {}).get(o, o) }}
                                {%- if not loop.last %}, {% endif %}
                            {%- endfor %}]
                        {% else %}
                            {{ choices.get(key, {}).get(old, old) }}
                        {% endif %}
                    </td>
                    <td class="{% if new is not none %}bg-success{% endif %}">
                        {% if new is sequence and not new is string %}
                            [{% for n in new %}
                                {{- choices.get(key, {}).get(n, n) }}
                                {%- if not loop.last %}, {% endif %}
                            {%- endfor %}]
                        {% else %}
                            {{ choices.get(key, {}).get(new, new) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% do reg_titles.update({
    "notes": gettext("Notes"),
    "orga_notes": gettext("Orga-Notes"),
    "payment": gettext("Payment"),
    "parental_agreement": gettext("Parental Consent"),
    "mixed_lodging": gettext("Mixed Lodging"),
    "checkin": gettext("Checkin"),
    "list_consent": gettext("Participant List Consent"),
    }) %}
{% do course_titles.update({
    "nr": gettext("Coursenumber"),
    "shortname": gettext("Shortname"),
    "title": gettext("Long Title"),
    "description": gettext("Description"),
    "instructors": gettext("Instructors"),
    "max_size": gettext("Max. Size"),
    "min_size": gettext("Min. Size"),
    "notes": gettext("Notes"),
    }) %}
{% do lodgement_titles.update({
    "title": gettext("Title_[[name of an entity]]"),
    "regular_capacity": gettext("Regular Capacity"),
    "camping_mat_capacity": gettext("Camping Mat Capacity"),
    "notes": gettext("Notes"),
    }) %}

{% block content %}
    <p class="text-warning">
        {{ util.make_icon('exclamation-triangle') }}
        {% trans manual=util.href(docurl('Handbuch_Orga_Partieller-Import'), gettext('manual')) %}
            Carefully check the summary below, as this tool has the potential to do irreversible damage
            to your event. (You read the {{ manual }}, right?)
        {% endtrans %}
    </p>

    <h2>{% trans %}Summary of Changes{% endtrans %}</h2>
    {% if summary['changed_registrations'] or summary['new_registration_ids'] or summary['deleted_registration_ids'] %}
        <h3>{% trans %}Registrations{% endtrans %}</h3>
        <!-- Changed registrations -->
        {% if summary['changed_registrations'] %}
            <div class="row">
                <div class="col-md-8">
                    {% call util.bootstrap_panel(gettext("Changed registrations"),
                                                 aclass='panel panel-info details-panel',
                                                 icon='user', anid='box-changed-registrations') %}
                        {% if summary['changed_registrations']|length > 3 %}
                            <div class="form-group details-toggles hidden">
                                <button type="button" class="btn btn-default" value="expand">
                                    {{ util.make_icon('chevron-down') }} {% trans %}Expand all{% endtrans %}
                                </button>
                                <button type="button" class="btn btn-default" value="collapse">
                                    {{ util.make_icon('minus') }} {% trans %}Collapse all{% endtrans %}
                                </button>
                            </div>
                        {% endif %}
                        <ul class="slim details-list">
                            {% for reg_id, reg_diff in summary['changed_registrations'].items() %}
                                <li>
                                    <details>
                                        <summary>
                                            {{ personas[registrations[reg_id]['persona_id']]['given_names'] }}
                                            {{ personas[registrations[reg_id]['persona_id']]['family_name'] }}
                                        </summary>
                                        {{ diff_table(reg_diff, reg_titles, reg_choices) }}
                                    </details>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
                <div class="col-md-4">
                    {% call util.bootstrap_panel(gettext("Changed registration attributes"), aclass='panel panel-info',
                                                 icon='user', anid='box-changed-registration-fields') %}
                        <ul class="slim">
                            {% for field in summary['changed_registration_fields'] %}
                                <li>{{ reg_titles.get(field, field) }}</li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <!-- New registrations -->
            {% if summary['new_registration_ids'] %}
                <div class="col-md-6">
                    {% call util.bootstrap_panel(gettext("New registrations"), aclass='panel panel-success',
                                                 icon='user', anid='box-new-registrations') %}
                        <ul class="slim">
                            {% for reg_id in summary['new_registration_ids'] %}
                                <li>
                                    {{ personas[delta['registrations'][reg_id]['persona_id']]['given_names'] }}
                                    {{ personas[delta['registrations'][reg_id]['persona_id']]['family_name'] }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            {% endif %}

            <!-- Deleted registrations -->
            {% if summary['real_deleted_registration_ids'] %}
                <div class="col-md-6">
                    {% call util.bootstrap_panel(gettext("Deleted registrations"), aclass='panel panel-danger',
                                                 icon='user', anid='box-deleted-registrations') %}
                        <ul class="slim">
                            {% for reg_id in summary['real_deleted_registration_ids'] %}
                                <li>
                                    {{ personas[registrations[reg_id]['persona_id']]['given_names'] }}
                                    {{ personas[registrations[reg_id]['persona_id']]['family_name'] }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if summary['changed_courses'] or summary['new_course_ids'] or summary['deleted_course_ids'] %}
        <h3>{% trans %}Courses{% endtrans %}</h3>
        <!-- Changed Courses -->
        {% if summary['changed_courses'] %}
            <div class="row">
                <div class="col-md-8">
                    {% call util.bootstrap_panel(gettext("Changed courses"),
                                                 aclass='panel panel-info details-panel',
                                                 icon='book', anid='box-changed-courses') %}
                        {% if summary['changed_courses']|length > 3 %}
                            <div class="form-group details-toggles hidden">
                                <button type="button" class="btn btn-default" value="expand">
                                    {{ util.make_icon('chevron-down') }} {% trans %}Expand all{% endtrans %}
                                </button>
                                <button type="button" class="btn btn-default" value="collapse">
                                    {{ util.make_icon('minus') }} {% trans %}Collapse all{% endtrans %}
                                </button>
                            </div>
                        {% endif %}
                        <ul class="slim details-list">
                            {% for course_id, course_diff in summary['changed_courses'].items() %}
                                <li>
                                    <details>
                                        <summary>
                                            {{ courses[course_id]['nr'] }}.{# -#}
                                            {% if 'nr' in course_diff %}/{{ course_diff['nr'][1] }}.{% endif %}
                                            {{ courses[course_id]['shortname'] }}{# -#}
                                            {%- if 'shortname' in course_diff -%}
                                                /{{ course_diff['shortname'][1] }}
                                            {%- endif -%}
                                        </summary>
                                        {{ diff_table(course_diff, course_titles, course_choices) }}
                                    </details>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
                <div class="col-md-4">
                    {% call util.bootstrap_panel(gettext("Changed course attributes"), aclass='panel panel-info',
                                                 icon='book', anid='box-changed-course-fields') %}
                        <ul class="slim">
                            {% for field in summary['changed_course_fields'] %}
                                <li>{{ course_titles.get(field, field) }}</li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <!-- New Courses-->
            {% if summary['new_course_ids'] %}
                <div class="col-md-6">
                    {% call util.bootstrap_panel(gettext("New courses"), aclass='panel panel-success', icon='book',
                                                 anid='box-new-courses') %}
                        <ul class="slim">
                            {% for course_id in summary['new_course_ids'] %}
                                <li>
                                    {{ delta['courses'][course_id]['nr'] }}. {{ delta['courses'][course_id]['title'] }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            {% endif %}

            <!-- Deleted Courses -->
            {% if summary['real_deleted_course_ids'] %}
                <div class="col-md-6">
                    {% call util.bootstrap_panel(gettext("Deleted courses"), aclass='panel panel-danger', icon='book',
                                                 anid='box-deleted-courses') %}
                        <ul class="slim">
                            {% for course_id in summary['real_deleted_course_ids'] %}
                                <li>
                                    {{ courses[course_id]['nr'] }}. {{ courses[course_id]['title'] }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if summary['changed_lodgements'] or summary['new_lodgement_ids'] or summary['deleted_lodgement_ids'] %}
        <h3>{% trans %}Lodgements{% endtrans %}</h3>
        <!-- Changed Lodgements -->
        {% if summary['changed_lodgements'] %}
            <div class="row">
                <div class="col-md-8">
                    {% call util.bootstrap_panel(gettext("Changed lodgements"),
                                                 aclass='panel panel-info details-panel',
                                                 icon='home', anid='box-changed-lodgements') %}
                        {% if summary['changed_lodgements']|length > 3 %}
                            <div class="form-group details-toggles hidden">
                                <button type="button" class="btn btn-default" value="expand">
                                    {{ util.make_icon('chevron-down') }} {% trans %}Expand all{% endtrans %}
                                </button>
                                <button type="button" class="btn btn-default" value="collapse">
                                    {{ util.make_icon('minus') }} {% trans %}Collapse all{% endtrans %}
                                </button>
                            </div>
                        {% endif %}
                        <ul class="slim details-list">
                            {% for lodgement_id, lodgement_diff in summary['changed_lodgements'].items() %}
                                <li>
                                    <details>
                                        <summary>
                                            {{ lodgements[lodgement_id]['title'] }}
                                            {%- if 'title' in lodgement_diff -%}
                                                /{{ lodgement_diff['title'][1] }}
                                            {%- endif %}
                                        </summary>
                                        {{ diff_table(lodgement_diff, lodgement_titles, {}) }}
                                    </details>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
                <div class="col-md-4">
                    {% call util.bootstrap_panel(gettext("Changed lodgement attributes"), aclass='panel panel-info',
                                                 icon='home', anid='box-changed-lodgement-fields') %}
                        <ul class="slim">
                            {% for field in summary['changed_lodgement_fields'] %}
                                <li>{{ lodgement_titles.get(field, field) }}</li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <!-- New Lodgements -->
            {% if summary['new_lodgement_ids'] %}
                <div class="col-md-6">
                    {% call util.bootstrap_panel(gettext("New lodgements"), aclass='panel panel-success', icon='home',
                                                 anid='box-new-lodgements') %}
                        <ul class="slim">
                            {% for lodgement_id in summary['new_lodgement_ids'] %}
                                <li>
                                    {{ delta['lodgements'][lodgement_id]['title'] }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            {% endif %}

            <!-- Deleted Lodgements -->
            {% if summary['real_deleted_lodgement_ids'] %}
                <div class="col-md-6">
                    {% call util.bootstrap_panel(gettext("Deleted lodgements"), aclass='panel panel-danger',
                                                 icon='home', anid='box-deleted-lodgements') %}
                        <ul class="slim">
                            {% for lodgement_id in summary['real_deleted_lodgement_ids'] %}
                                <li>
                                    {{ lodgements[lodgement_id]['title'] }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if (summary['changed_lodgement_groups']
           or summary['new_lodgement_group_ids']
           or summary['real_deleted_lodgement_group_ids']) %}
        {% call util.bootstrap_panel(gettext("Lodgement Groups"), aclass='panel panel-info',
                                     icon='th-large', anid='box-lodgement-groups') %}
            <div class="row">
                {% if summary['new_lodgement_group_ids'] %}
                    <div class="col-md-4 text-success">
                        <h5>{% trans %}Added{% endtrans %}</h5>
                        <ul class="slim" id="list-new-lodgement-groups">
                            {% for lodgement_group_id in summary['new_lodgement_group_ids'] %}
                                <li>
                                    {{ delta['lodgement_groups'][lodgement_group_id]['title'] }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if summary['changed_lodgement_groups'] %}
                    <div class="col-md-4 text-warning">
                        <h5>{% trans %}Changed{% endtrans %}</h5>
                        <ul class="slim" id="list-changed-lodgement-groups">
                            {% for lodgement_group_id, lodgement_group_diff
                                    in summary['changed_lodgement_groups'].items() %}
                                <li>
                                    {{ lodgement_groups[lodgement_group_id]['title'] }}
                                    {%- if 'title' in lodgement_group_diff -%}
                                        /{{ lodgement_group_diff['title'][1] }}
                                    {%- endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if summary['real_deleted_lodgement_group_ids'] %}
                    <div class="col-md-4 text-danger">
                        <h5>{% trans %}Deleted{% endtrans %}</h5>
                        <ul class="slim" id="list-deleted-lodgement-groups">
                            {% for lodgement_group_id in summary['real_deleted_lodgement_group_ids'] %}
                                <li>
                                    {{ lodgement_groups[lodgement_group_id]['title'] }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endcall %}
    {% endif %}

    {% if not (summary['changed_registratios'] or summary['new_registration_ids']
               or summary['real_deleted_registration_ids'] or summary['changed_courses']
               or summary['new_course_ids'] or summary['real_deleted_course_ids']
               or summary['changed_lodgements'] or summary['new_lodgement_ids']
               or summary['real_deleted_lodgement_ids'] or summary['changed_lodgement_groups']
               or summary['new_lodgement_group_ids'] or summary['real_deleted_lodgement_group_ids']) %}
        {% trans %}The input produced an empty diff. No changes are to be imported.{% endtrans %}
    {% endif %}

    <form action="{{ cdedblink('event/partial_import') }}" method="POST" id="importexecuteform">
        {{ util.anti_csrf_token('event/partial_import') }}
        {{ util.input_hidden(name='token') }}
        {{ util.input_hidden(name='partial_import_data') }}
        {{ util.form_input_submit(value=gettext('Apply changes'), cancellink=cdedblink('event/partial_import_form'),
                                  horizontal=False) }}
    </form>

    <script nonce="{{ csp_nonce }}">
        for(const detailsPanel of document.getElementsByClassName('details-panel')) {
            for(const button of detailsPanel.querySelectorAll('.details-toggles button')) {
                button.addEventListener('click', () =>
                    detailsPanel.querySelectorAll('.details-list details').forEach(detail =>
                        detail.open = button.value == "expand"
                    )
                )
            }
        }
        document.querySelectorAll('.details-toggles.hidden').forEach(element => element.classList.remove('hidden'))
    </script>
{% endblock %}
