{% set sidenav_active='event_quest' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% set jshint='weak' %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% block title %}Fragebogen ({{ ambience['event']['title']|e }}){% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard",
                        readonly=not (ambience['event']['is_visible'] or ambience['event']['id'] in user.orga or is_admin)) }}
{{ util.breadcrumb_link(cdedblink("event/questionnaire"), "Fragebogen", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Teilnehmer-Fragebogen
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/questionnaire')|e }}" method="POST" id="questionnaireform"
          class="form-horizontal">
        {% for entry in questionnaire %}
            {# Field entry #}
            {% if entry['field_id'] %}
                {% with FIELD = ambience['event']['fields'][entry['field_id']] %}
                    {% if FIELD['entries'] %}
                        {# jinja does not support list comprehension ... #}
                        {% set myentries = [] %}
                        {% for value, description in FIELD['entries'] %}
                            {{ myentries.append((value, description))|e }}
                        {% endfor %}
                        {{ util.form_input_select(name=FIELD['field_name'], entries=myentries, label=entry['title'],
                                                  info=entry['info'], readonly=(entry['readonly'] or is_locked)) }}
                    {% else %}
                        {% if FIELD['kind'] == "bool" %}
                            {{ util.form_input_checkbox(
                                name=FIELD['field_name'], label=entry['title'], info=entry['info'],
                                readonly=(entry['readonly'] or is_locked)) }}
                        {% else %}
                            {% if FIELD['kind'] == "str" and entry['input_size'] %}
                                {{ util.form_input_textarea(
                                    name=FIELD['field_name'], label=entry['title'], info=entry['info'],
                                    readonly=(entry['readonly'] or is_locked),
                                    rows=(2 + entry['input_size']*2)) }}
                            {% else %}
                                {{ util.form_event_field_input(
                                    FIELD, name=FIELD['field_name'], label=entry['title'], info=entry['info'],
                                    readonly=(entry['readonly'] or is_locked)) }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endwith %}

            {# Text-only entry #}
            {% else %}
                {% if entry['title'] %}
                    <h3 class="heading-underline">{{ entry['title']|e }}</h3>
                {% endif %}
                {% if entry['info'] %}
                    {{ entry['info']|rst }}
                {% endif %}
            {% endif %}
        {% endfor %}
        {{ util.form_input_submit(value="Abschicken", cancellink=cdedblink("event/registration_status"),
                                  readonly=is_locked) }}
    </form>
    <script type="text/javascript">
        $('#questionnaireform').cdedbProtectChanges();
    </script>
{% endblock %}
