{% set sidenav_active='event_quest_summary' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% set jshint='strong' %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_dynamicrow.js') }}
    {{ util.cdedb_script('cdedb_questionnaire_config.js') }}
{% endblock %}
{% block title %}
    {% trans title=ambience['event']['title'] -%}
    	Configure Questionnaire ({{ title }})
    {%- endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
    {{ util.breadcrumb_link(cdedblink("event/questionnaire_summary"), gettext("Configure Questionnaire"), active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans -%}Configure Questionnaire{%- endtrans %}
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}

{# Macro for a general questionnaire part, that can have each role in the DynamicRow workflow.
   aclass is used to pass classes to the row, such as drow-row, drow-prototype, drow-new
   newrow rows will have 'create' instead of 'delete' checkbox and have 'data-basename' attributes #}
{% macro print_part(part_id, aclass="", newrow=False) %}
    <div class="panel panel-default {{ aclass }}">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    {{ util.form_input_text(name="title_{}".format(part_id), label=gettext("Title"), aclass='drow-input',
                                            attributes=('data-basename="title_"'|s if newrow else ''),
                                            horizontal=false) }}
                    {{ util.form_input_textarea(name="info_{}".format(part_id), label=gettext("Text"), aclass='drow-input',
                                                attributes=('data-basename="info_"'|s if newrow else ''),
                                                horizontal=false,
                                                info=gettext("Supports %(infolink)s for “Text-Only” fields.")|format(
                                                    infolink=util.href(docurl("Handbuch_Markdown"),
                                                                       gettext("Markdown"),
                                                                       title=gettext("Short Markdown summary")))|s) }}
                </div>
                <div class="col-md-6">
                    {{ util.form_input_select("field_id_{}".format(part_id), label=gettext("Query"),
                                              entries=registration_fields|xdictsort('field_name')|dict_entries('id', 'field_name'),
                                              nulloption=gettext("— Only Text —"),
                                              attributes=('data-basename="field_id_"'|s if newrow else ''),
                                              aclass='input-field drow-input', horizontal=False) }}
                    {{ util.form_input_select(
                        "input_size_{}".format(part_id), label=gettext("Input Size"), entries=(
                            (0, gettext("singleline")), (1, gettext("multiline")),
                            (2, gettext("multiline") + "+"), (3, gettext("multiline") + "++")),
                        attributes=('data-basename="input_size_"'|s if newrow else ''),
                        aclass='input-inputsize drow-input', horizontal=False) }}
                    {{ util.form_input_text(
                        "default_value_{}".format(part_id), label=gettext("Default Value"),
                        attributes=('data-basename="default_value_"'|s if newrow else ''),
                        aclass='drow-input', horizontal=False) }}
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <div class="checkbox">
                                {{ util.input_checkbox("readonly_{}".format(part_id), label=gettext("read-only"),
                                                       attributes=('data-basename="readonly_"'|s if newrow else ''),
                                                       aclass='input-readonly drow-input') }}
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="drow-buttonspace">
                                {% if newrow %}
                                    {{ util.input_checkbox("create_{}".format(part_id), label=gettext("Add"),
                                                           attributes='data-basename="create_"'|s,
                                                           aclass='drow-indicator') }}
                                {% else %}
                                    {{ util.input_checkbox("delete_{}".format(part_id), label=gettext("Remove"),
                                                           aclass='drow-indicator') }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="p">
        {{ util.href(cdedblink('event/reorder_questionnaire_form'), gettext("Reorder Questionnaire"), readonly=is_locked,
                     aclass="btn btn-info btn-sm", icon='sort') }}
        {{ util.href(cdedblink('event/questionnaire', {"preview": True}), gettext("Preview Questionnaire"),
                     aclass="btn btn-info btn-sm", icon='edit') }}
    </div>
    <form action="{{ cdedblink('event/questionnaire_summary') }}" method="POST" id="questionnairesummaryform">
        {{ util.anti_csrf_token('event/questionnaire_summary') }}
        <div id="drow-container">
            {# Old items, already stored in the database #}
            {% for entry in questionnaire %}
                {{ print_part(loop.index0, 'drow-row') }}
            {% endfor %}
            {# Items that were added by the user but failed validation. They are still new and have no official id. #}
            {% for i in range(1, values.get('create_last_index', 0) + 1) %}
                {{ print_part(-i, 'drow-new', newrow=True) }}
            {% endfor %}
            {# Prototype row. For non-JS users: an empty row with 'create'-checkbox, for JS: prototype for new rows. #}
            {{ print_part(-values.get('create_last_index', 0) - 1, 'drow-prototype', newrow=True) }}
        </div>
        <p>
            <button type="button" class="btn btn-success softhide pull-right" id="drow-addbutton">
                {{ util.make_icon('plus') }} {% trans -%}Add Part{%- endtrans %}
            </button>
        </p>
        {{ util.input_submit(value=gettext("Save"), readonly=is_locked) }}
    </form>
    <script type="text/javascript" nonce="{{ csp_nonce }}">
        (function() {
            var field_list = {{ registration_fields|json|s }};
            $('#drow-container').cdedbDynamicRow(
                {
                    addButton: $('#drow-addbutton'),
                    callback: function () {
                        $(this).cdedbQuestionnaireConfig(field_list);
                    },
                    delButtonTitle: "{{ gettext("Delete Questionnaire Part") }}"
                });
            $('#questionnairesummaryform').cdedbProtectChanges();
            $('.drow-row').cdedbQuestionnaireConfig(field_list);
        })()
    </script>
{% endblock %}
