{% set sidenav_active = 'event_quest_summary' if preview else 'event_quest' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% set jshint='weak' %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% block title %}
    {% if preview %}
        {% trans title=ambience['event']['title'] %}
            Questionnaire Preview ({{ title }})
        {% endtrans %}
    {% else %}
        {% trans title=ambience['event']['title'] %}
            Questionnaire ({{ title }})
        {% endtrans %}
    {% endif %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{% if not preview %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher",
                            readonly=not (ambience['event']['is_visible']
                                          or ambience['event']['id'] in user.orga
                                          or user.admin_views.intersection(('event_orga', 'event_mgmt')))) }}
    {{ util.breadcrumb_link(cdedblink("event/questionnaire", {"preview": True}),
                            gettext("Questionnaire"), active=True) }}
{% else %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/questionnaire_summary"), gettext("Configure Questionnaire")) }}
    {{ util.breadcrumb_link(cdedblink("event/questionnaire", {"preview": True}),
                            gettext("Preview Questionnaire"), active=True) }}
{% endif %}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% if preview %}
            {% trans %}Questionnaire Preview{% endtrans %}
        {% else %}
            {% trans %}Participant Questionnaire{% endtrans %}
        {% endif %}
        <small>{{ util.make_icon('chalkboard-teacher') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}
{% block content %}
    {% if preview %}
        <div class="form-horizontal">
    {% else %}
    <form action="{{ cdedblink('event/questionnaire') }}" method="POST" id="questionnaireform"
          class="form-horizontal">
        {{ util.anti_csrf_token('event/questionnaire') }}
    {% endif %}
        {% for entry in questionnaire %}
            {# Field entry #}
            {% if entry['field_id'] %}
                {% with FIELD = ambience['event']['fields'][entry['field_id']],
                        readonly = entry['readonly'] or is_locked or ambience['event']['is_archived'] %}
                    {% if FIELD['entries'] %}
                        {{ util.form_input_select(name=FIELD['field_name'], entries=FIELD['entries'],
                                                  label=entry['title'], info=entry['info'],
                                                  readonly=readonly,
                                                  defaultvalue=entry['default_value'] if not readonly else "",
                                                  sort=True) }}
                    {% else %}
                        {% set datatypes = enums['FieldDatatypes'] %}
                        {% if FIELD['kind'] == datatypes.bool %}
                            {{ util.form_input_checkbox(
                                name=FIELD['field_name'], label=entry['title'], info=entry['info'],
                                readonly=readonly, defaultvalue=entry['default_value'] if not readonly else "") }}
                        {% elif FIELD['kind'] == datatypes.str  %}
                            {% if entry['input_size'] %}
                                {{ util.form_input_textarea(
                                    name=FIELD['field_name'], label=entry['title'], info=entry['info'],
                                    readonly=readonly, defaultvalue=entry['default_value'] if not readonly else "",
                                    rows=(1+entry['input_size']*2)) }}
                            {% else %}
                                {{ util.form_input_text(
                                    name=FIELD['field_name'], label=entry['title'], info=entry['info'],
                                    readonly=readonly, defaultvalue=entry['default_value'] if not readonly else "") }}
                            {% endif %}
                        {% else %}
                            {{ util.form_event_field_input(
                                FIELD, name=FIELD['field_name'], label=entry['title'], info=entry['info'],
                                readonly=readonly, defaultvalue=entry['default_value'] if not readonly else "") }}
                        {% endif %}
                    {% endif %}
                {% endwith %}

            {# Text-only entry #}
            {% else %}
                {% if entry['title'] %}
                    <h3 class="heading-underline">{{ entry['title'] }}</h3>
                {% endif %}
                {% if entry['info'] %}
                    {{ entry['info']|md }}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if not preview %}
            {{ util.form_input_submit(value="Abschicken", cancellink=cdedblink("event/registration_status"),
                                      readonly=is_locked or ambience['event']['is_archived']) }}
        {% endif %}
    {% if preview %}
        </div>
    {% else %}
    </form>
    <script nonce="{{ csp_nonce }}">
        $('#questionnaireform').cdedbProtectChanges();
    </script>
    {% endif %}
{% endblock %}
