{% set sidenav_active='event_configure_registration' if preview else 'event_register' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% block title %}
    {% if preview %}
        {% trans title=ambience['event']['title'] %}
            Registration Preview for {{ title }}
        {% endtrans %}
    {% else %}
        {% trans title=ambience['event']['title'] %}
            Registration for {{ title }}
        {% endtrans %}
    {% endif %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{% if not preview %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher",
                            readonly=not (ambience['event']['is_visible']
                                          or ambience['event']['id'] in user.orga
                                          or user.admin_views.intersection(('event_orga', 'event_mgmt')))) }}
    {{ util.breadcrumb_link(cdedblink("event/register"), gettext("Register"), active=True) }}
{% else %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/configure_registration"), gettext("Configure Registration")) }}
    {{ util.breadcrumb_link(cdedblink("event/register", {"preview": True}),
                            gettext("Registration Preview"), active=True) }}
{% endif %}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% if preview %}
            {% trans %}Registration Preview{% endtrans %}
        {% else %}
            {% trans %}Registration{% endtrans %}
        {% endif %}
        <small>{{ util.make_icon('chalkboard-teacher') }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}
{% block content %}
    <p>
        {% if ambience['event']['registration_soft_limit'] is none %}
            {% trans %}
                All data except Event-Parts can be changed until the registration ends.
            {% endtrans %}
        {% elif ambience['event']['registration_soft_limit'] >= now() %}
            {% trans date=ambience['event']['registration_soft_limit']|datetime(lang=lang) %}
                All data except Event-Parts can be changed until the registration ends ({{ date }}).
            {% endtrans %}
        {% else %}
            {% trans %}
                The official registration has ended. Your registration will be considered if possible.
            {% endtrans %}
        {% endif %}
    </p>

    {% if preview %}
    <form class="form-horizontal">
    {% else %}
    <form action="{{ cdedblink('event/register') }}" method="POST" id="registerform" class="form-horizontal">
        {{ util.anti_csrf_token('event/register') }}
    {% endif %}

        {% if ambience['event']['registration_text'] %}
            {% call util.bootstrap_panel(title=gettext("Note of the Orga Team"), icon="info-circle", aclass="panel-info") %}
                {{ ambience['event']['registration_text']|md }}
            {% endcall %}
        {% endif %}

        <h3 class="heading-underline">{% trans %}My Data{% endtrans %}</h3>
        <dl class="dl-horizontal">
            <dt>{% trans %}Full Name{% endtrans %}</dt>
            <dd>
                {{ util.persona_name(persona, given_and_display_names=True, with_titles=True) }}
            </dd>

            <dt>{% trans %}Birthday{% endtrans %}</dt>
            <dd>{{ persona['birthday'] }}</dd>
            <dt>{% trans %}Gender{% endtrans %}</dt>
            <dd>{{ gettext(enums['Genders'](persona['gender'])|string) }}</dd>
            <dt>{% trans %}E-Mail{% endtrans %}</dt>
            <dd> {{ persona['username'] }} </dd>
            <dt>{% trans %}Phone{% endtrans %}</dt>
            <dd>{{ persona['telephone'] }}</dd>
            <dt>{% trans %}Mobile Phone{% endtrans %}</dt>
            <dd>{{ persona['mobile'] }}</dd>
            <dt>{% trans %}Address{% endtrans %}</dt>
            <dd>{{ persona['address'] }}</dd>
            <dt>{% trans %}Address Supplement{% endtrans %}</dt>
            <dd>{{ persona['address_supplement'] }}</dd>
            <dt>{% trans %}City{% endtrans %}</dt>
            <dd>{{ persona['postal_code'] }} {{ persona['location'] }}</dd>
            <dt>{% trans %}Country{% endtrans %}</dt>
            <dd>{{ util.gettext_country(persona['country']) }}</dd>
        </dl>
        <p>
            {% trans link=util.href(cdedblink('core/change_user'), gettext("form to edit your profile")) %}
            	This data is taken from your personal profile. To change it, use this {{ link }}.
            {% endtrans %}
        </p>

        {% if ambience['event']['parts']|length > 1
                or (ambience['event']['parts']|length == 1 and course_choices[(course_choices|list)[0]]|length > 0) %}
            <h3 class="heading-underline">{% trans %}Registration{% endtrans %}</h3>
        {% endif %}

        {% if ambience['event']['parts']|length > 1 %}
            {{ util.form_input_checkboxes(name="parts", label=gettext("Event-Parts"),
                                          entries=ambience['event']['parts']|keydictsort(EntitySorter.event_part)
                                              |dict_entries('id', 'title')) }}
        {% elif ambience['event']['parts']|length == 1 %}
            {{ util.input_hidden(name="parts", value=(ambience['event']['parts']|list)[0]) }}
        {% endif %}

        {% if not persona["is_member"] and ambience["event"]["nonmember_surcharge"] > 0 %}
            <div class="heading-underline text-info" id="nonmember-surcharge" style="font-weight: bold;">
                <p>
                {% trans additional_fee=ambience["event"]["nonmember_surcharge"]|money(lang=lang) %}
                    Because you are not a CdE-Member, you will have to pay an additional fee of {{ additional_fee }} (already included in the above figure).
                {% endtrans %}
                </p>
                {% if persona["is_cde_realm"] %}
                    <p>
                    {% trans semester_fee=semester_fee|money(lang=lang) %}
                        You can instead just pay your regular membership fee of {{ semester_fee }} per semester and you won't have to pay the additional fee.
                        If you choose to do so, please do so with two separate payments.
                    {% endtrans %}
                    </p>
                {% endif %}
            </div>
        {% endif %}

        <h3 class="sr-only">{% trans %}Course Choices{% endtrans %}</h3>
        {% for track_id, track in ambience['event']['tracks']|keydictsort(EntitySorter.course_track) if track['num_choices'] %}
            {{ generic.select_course_choice(track, courses, course_choices) }}
        {% endfor %}

        <h3 class="heading-underline">{% trans %}Additional Information{% endtrans %}</h3>
        {{ generic.additional_registration_choices(age, reg_questionnaire) }}

        {% call util.form_input_general(displayerrors=False) %}
            {% if ambience['event']['use_additional_questionnaire'] %}
                <p class="text-info nosp">
                    {{ util.make_icon('info-circle') }}
                    {% trans %}
                        After registration, you will find the ‘Questionnaire’ with further questions of the orga team in
                        the navigation. There you can give more detailed information.
                    {% endtrans %}
                </p>
            {% else %}
                <p class="text-info nosp">
                    {{ util.make_icon('info-circle') }}
                    {% trans %}
                        The orga team of this event may ask you for further data later, using the ‘Questionaire’.
                    {% endtrans %}
                </p>
            {% endif %}
        {% endcall %}
        {% if not preview %}
        {{ util.form_input_submit(label=gettext("Register"), cancellink=cdedblink('event/show_event')) }}
        {% endif %}
    </form>

    <script nonce="{{ csp_nonce }}">
        var $form = $('#registerform');
        $form.cdedbProtectChanges();
        var checkboxes = $form.find('[type="checkbox"][name="parts"]');
        /* Map part to part selection checkbox ($-encapsulated) */
        checkbox_map = {};
        checkboxes.each(function(){
            checkbox_map[$(this).val()] = $(this);
        });
        var containers = $('.course_choice_container');
        var updateCourseChoiceContainers = function() {
            containers.each(function(){
               if (checkbox_map[$(this).attr('data-part')].prop('checked'))
                   $(this).show();
               else
                   $(this).hide();
            });
        };

        if (checkboxes.length) {
            checkboxes.change(updateCourseChoiceContainers);
            updateCourseChoiceContainers();
        }
    </script>
{% endblock %}
