{% extends "web/event/base.tmpl" %}
{% if kind == enums['QuestionnaireUsages'].registration %}
    {% set sidenav_active='event_configure_registration' %}
{% elif kind == enums['QuestionnaireUsages'].additional %}
    {% set sidenav_active='event_configure_additional_questionnaire' %}
{% endif %}
{% import "web/util.tmpl" as util with context %}
{% set jshint='strong' %}

{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_orderrow.js') }}
{% endblock %}

{% block title %}
    {% if kind == enums['QuestionnaireUsages'].registration %}
        {% trans title=ambience['event']['title'] %}Reorder Registration ({{ title }}){% endtrans %}
    {% else %}
        {% trans title=ambience['event']['title'] %}Reorder Questionnaire ({{ title }}){% endtrans %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {% if kind == enums['QuestionnaireUsages'].registration %}
        {{ util.breadcrumb_link(cdedblink("event/configure_registration"), gettext("Configure Registration")) }}
        {{ util.breadcrumb_link(cdedblink("event/reorder_questionnaire"), gettext("Reorder Registration"), active=True) }}
    {% elif kind == enums['QuestionnaireUsages'].additional %}
        {{ util.breadcrumb_link(cdedblink("event/configure_additional_questionnaire"), gettext("Configure Questionnaire")) }}
        {{ util.breadcrumb_link(cdedblink("event/reorder_questionnaire"), gettext("Reorder Questionnaire"), active=True) }}
    {% endif %}
{% endblock %}

{% block heading %}
    <h1 class="title">
        {% if kind == enums['QuestionnaireUsages'].registration %}
            {% trans %}Reorder Registration{% endtrans %}
        {% else %}
            {% trans %}Reorder Questionnaire{% endtrans %}
        {% endif %}
        <small>{{ util.make_icon('chalkboard-teacher', arialabel=gettext("Event")) }} {{ ambience['event']['title'] }}</small>
    </h1>
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('event/reorder_questionnaire') }}" method="POST" id="reorderquestionnaireform"
          class="form-horizontal">
        {{ util.anti_csrf_token('event/reorder_questionnaire') }}
        {{ util.input_hidden(name="kind") }}
        <div class="orderrow-container" id="rowlist">
            {% for entry in questionnaire %}
            <div class="orderrow-outer" data-id="{{ loop.index0 }}" tabindex="0">
                <div class="orderrow-inner clearfix" draggable="true">
                    <div class="orderrow-indicator">
                        <span class="label label-primary">
                            {{ loop.index0 }}
                        </span>
                    </div>
                    {% if entry['field_id'] %}
                        {% with FIELD = ambience['event']['fields'][entry['field_id']] %}
                            {# In case of a checkbox (bool field without choices), we don't need a left-hand side label #}
                            {% if FIELD['kind'] != enums['FieldDatatypes'].bool or FIELD['entries'] %}
                                <div class="miniature-label">
                                    {% if entry['title'] %}
                                        {{ entry['title']|truncate(50,False,' …') }}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if FIELD['entries'] %}
                                <div class="miniature-text">
                                    {{ util.make_icon('angle-down', aclass='pull-right') }}
                                    → [{{ FIELD['field_name'] }}]
                                </div>
                            {% else %}
                                {% if FIELD['kind'] == enums['FieldDatatypes'].bool %}
                                    <div class="miniature-checkbox">
                                        {{ util.make_icon('check-square') }}
                                        {% if entry['title'] -%}
                                            <b>{{ entry['title']|truncate(50,False,' …') }}</b>
                                        {%- endif %}
                                        <span class="nowrap">→ [{{ FIELD['field_name'] }}]</span>
                                    </div>
                                {% else %}
                                    {% if entry['input_size'] %}
                                        <div class="miniature-textarea">→ [{{ FIELD['field_name'] }}]</div>
                                    {% else %}
                                        <div class="miniature-text">→ [{{ FIELD['field_name'] }}]</div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endwith %}

                    {# Text-only entry #}
                    {% else %}
                        {% if entry['title'] %}
                            <div class="miniature-heading">{{ entry['title'] }}</div>
                        {% endif %}
                        {% if entry['info'] %}
                            <div class="miniature-pre">{{ entry['info']|truncate(200,False,' …') }}</div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {{ util.form_input_text(name="order", anid="input-roworder",
                                label=gettext("Order"), placeholder=gettext("Nr,Nr,Nr,…"),
                                defaultvalue=range(0, questionnaire|length)|join(','), small=True) }}
        {{ util.form_input_submit(value=gettext("Reorder"), small=True, cancellink=cdedblink(redirect)) }}
    </form>
    <script type="text/javascript" nonce="{{ csp_nonce }}">
        var input = $('#input-roworder');
        var form = $('#reorderquestionnaireform');
        $('#rowlist').cdedbOrderRow(input).find('.orderrow-indicator').hide();
        form.cdedbProtectChanges();
        input.closest('.form-group').hide();
        form.find('.col-sm-offset-2').removeClass('col-sm-offset-2');
    </script>
{% endblock %}
