{% extends "web/event/base.tmpl" %}
{% set sidenav_active='event_course_stats' %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
{% endblock %}
{% set jshint = 'weak' %}
{% block title %}
    {% trans course=ambience['course']['shortname'], title=ambience['event']['title'] %}
    	Course {{ course }} ({{ title }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/course_stats"), gettext("Courses")) }}
    {{ util.breadcrumb_link(cdedblink("event/show_course"), ambience['course']['shortname'], active=True,
            icon='book') }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans nr=ambience['course']['nr'], course=ambience['course']['shortname'] %}
            Course {{ nr }}: {{ course }}
        {% endtrans %}
    </h1>
    <div class="subtitle">
        {{ ambience['course']['title'] }}
    </div>
{% endblock %}

{% block content %}
    <div class="p">
        {{ util.href(cdedblink('event/change_course_form'), gettext("Edit"), readonly=is_locked,
                     aclass="btn btn-sm btn-warning", icon="pen") }}
        {{ util.href(cdedblink('event/manage_attendees_form'), gettext("Manage Attendees"), readonly=is_locked,
                     aclass="btn btn-sm btn-warning", icon="users") }}
        {{ util.href(util.mailto(to="; ".join(instructor_emails)), gettext("Email to course instructors"),
                            icon="envelope", aclass="btn btn-sm btn-default", readonly=instructor_emails,
                            title=(gettext("Send Mail to all course instructors.")
                                   if instructor_emails else
                                   gettext("No course instructors / email addresses available."))) }}
    </div>

    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>{% trans %}Instructor{% endtrans %}</dt><dd>{{ ambience['course']['instructors'] }}</dd>
                <dt>{% trans %}Maximum Size (excl. instr.){% endtrans %}</dt><dd>{{ ambience['course']['max_size'] }}</dd>
                <dt>{% trans %}Minimum Size (excl. instr.){% endtrans %}</dt><dd>{{ ambience['course']['min_size'] }}</dd>
            </dl>

            <dl class="dl-horizontal">
                {% for field_id, field in ambience['event']['fields']|keydictsort(EntitySorter.event_field) %}
                    {% if field['association'] == enums['FieldAssociations'].course %}
                        <dt>{{ field['field_name'] }}</dt>
                        <dd>
                            {{ generic.display_field(field, ambience['course']['fields'].get(field['field_name'])) }}
                        </dd>
                    {% endif %}
                {% endfor %}
            </dl>
        </div>

        {% if ambience['course']['notes'] %}
            <div class="col-md-6">
                {% call util.bootstrap_panel(gettext("Orga-Notes"), icon='tag',
                                             aclass='panel panel-default panel-condensed') %}
                    {{ ambience['course']['notes']|md }}
                {% endcall %}
            </div>
        {% endif %}
    </div>

    <h2>{% trans %}Attendees{% endtrans %}</h2>
    <div class="row">
        {% for track_id, track in ambience['event']['tracks']|keydictsort(EntitySorter.course_track)
                if track_id in ambience['course']['segments'] %}
            {% set num_track_learners = learners[(ambience['course']['id'], track_id)]|length %}
            <div class="col-md-4">
                <div class="panel panel-info panel-condensed">
                    <div class="panel-heading">
                        <div class="pull-right">
                            {{ util.href(cdedblink('event/course_choices', {
                                             'track_id': track_id,
                                             'course_id': ambience['course']['id'],
                                             'position': enums.CourseFilterPositions.assigned.value,
                                             'submitform': True}),
                                         num_track_learners,
                                         title=gettext("Participants’ Course Choices")) }}
                        </div>
                        <h3 class="panel-title">
                            {% if ambience['event']['tracks']|length > 1 %}
                                {{ track['title'] }}
                            {% else %}
                                {% trans %}Attendees{% endtrans %}
                            {% endif %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% if track_id not in ambience['course']['active_segments'] %}
                            <p class="text-danger">
                                <strong>{% trans %}Course is cancelled{% endtrans %}</strong>
                            </p>
                        {% elif ambience['course']['min_size'] != None and
                                num_track_learners < ambience['course']['min_size'] %}
                            <p class="text-warning">
                                <strong>
                                    {% trans count=(ambience['course']['min_size'] - num_track_learners) %}
                                        Course has {{ count }} attendees too few.
                                    {% endtrans %}</strong>
                            </p>
                        {% elif ambience['course']['max_size'] != None and
                                num_track_learners > ambience['course']['max_size'] %}
                            <p class="text-warning">
                                <strong>
                                    {% trans count=(num_track_learners - ambience['course']['max_size']) %}
                                    	Course has {{ count }} attendees too many.
                                    {% endtrans %}</strong>
                            </p>
                        {% endif %}
                        <ul class="slim">
                            {% for registration_id in attendees[(ambience['course']['id'], track_id)] %}
                                <li>
                                    {{ util.href(cdedblink('event/show_registration',
                                                           {'registration_id': registration_id}),
                                                 "{} {}".format(personas[registrations[registration_id]
                                                        ['persona_id']]['given_names'],
                                                                personas[registrations[registration_id]
                                                        ['persona_id']]['family_name'])) }}
                                    {% if registrations[registration_id]['tracks'][track_id]['course_instructor']
                                            == ambience['course']['id'] %}
                                        ({% trans %}Instr.{% endtrans %})
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% call util.bootstrap_panel(title=gettext("Description"), icon="thumbtack", aclass="panel-default panel-condensed") %}
        {{ ambience['course']['description']|md }}
    {% endcall %}
    {% call util.bootstrap_panel(title=gettext("Actions"), icon="exclamation-triangle", aclass="panel-danger mosp") %}
        <div class="row">
            <div class="col-sm-4">
                <div class="p">
                    <form action="{{ cdedblink('event/delete_course') }}" method="POST" id="deletecourseform"
                            style="display: inline;">
                        {{ util.anti_csrf_token('event/delete_course') }}
                        {{ util.input_submit(label=gettext("Delete"), readonly=is_locked or blockers,
                                             aclass="btn btn-danger", icon="trash-alt", title=gettext("Course still has attendees.") if "attendees" in blockers else "" ) }}
                        {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?")) }}
                    </form>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    {% trans %}Delete the Course.{% endtrans %}
                </p>
            </div>
        </div>
    {% endcall %}
    <script nonce="{{ csp_nonce }}">
        $('#deletecourseform').cdedbProtectAction("{{ gettext("The course will be permanently deleted.") }}");
        $('#deletecourseform').find('[name="ack_delete"]').prop('checked', true).parent().hide();
    </script>
{% endblock %}
