{% set sidenav_active='event_stats' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}Teilnehmer-Übersicht {{ ambience['event']['title']|e }}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
{{ util.breadcrumb_link(cdedblink("event/stats"), "Teilnehmer-Statistik", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Teilnehmer
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}
{% block content %}
    <h3>Teilnehmer-Statistik</h3>
    {% with HEADINGS = {
        'total': "Anmeldungen gesamt",
        'pending': "Offene Anmeldungen",
        'participant': "Teilnehmer",
        ' u18': "U18",
        ' u16': "U16",
        ' u14': "U14",
        ' checked in': "Eingecheckt",
        ' not checked in': "Noch nicht da",
        ' orgas': "Orgas",
        'waitlist': "Warteliste",
        'guest': "Gast",
        'total involved': "Aktive Anmeldungen gesamt",
        ' not payed': "Nicht bezahlt",
        ' payed': "Bezahlt",
        ' no parental agreement': "Einverständniserklärung fehlt",
        'no lodgement': "Keine Unterkunft",
        'cancelled': "Abgemeldet",
        'rejected': "Abgelehnt"
    } %}
        <table class="table table-slim table-condensed">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    {% for part_id, part in ambience['event']['parts']|xdictsort('part_begin') %}
                        <th>
                            {% if ambience['event']['parts']|length > 1 %}{{ part['title']|e }}{% else %}Anzahl{% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, row in per_part_statistics.items() %}
                    <tr>
                        {% if key.startswith(" ") %}
                            <th class="indent"></th>
                            <th>{{ HEADINGS.get(key, key)|e }}</th>
                        {% else %}
                            <th colspan="2">{{ HEADINGS.get(key, key)|e }}</th>
                        {% endif %}
                        {% for part_id, datum in row|dictsort %}
                            <td>
                                {% set query = get_query(key, part_id) %}
                                {% if query %}
                                    {{ util.href(cdedblink('event/registration_query', query|querytoparams), datum) }}
                                {% else %}
                                    {{ datum|e }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endwith %}
    {% if ambience['event']['tracks'] %}
        <h3>Kursteilnehmer-Statistik</h3>
        {% with HEADINGS = {
            'all instructors': "Kursleiter (theoretisch)",
            'instructors': "Kursleiter",
            'attendees': "Kursteilnehmer",
        } %}
        {# TODO move headings into translation and translate in python code #}
            <table class="table table-condensed table-slim">
                <thead>
                    <tr>
                        <th></th>
                        {% for track_id, track in ambience['event']['tracks']|xdictsort('sortkey') %}
                            <th>
                                {% if ambience['event']['tracks']|length > 1 %}{{ track['title']|e }}{% else %}Anzahl{% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, row in per_track_statistics.items() %}
                        <tr>
                            <th>{{ HEADINGS.get(key, key)|e }}</th>
                                {% for track_id, track in ambience['event']['tracks']|xdictsort('sortkey') %}
                                <td>
                                    {% set query = get_query(key, track_id) %}
                                    {% if query %}
                                        {{ util.href(cdedblink('event/registration_query', query|querytoparams),
                                                     row[track_id]) }}
                                    {% else %}
                                        {{ row[track_id]|e }}
                                    {% endif %}
                                </td>
                                {% endfor %}
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        {% endwith %}
    {% endif %}

    <hr />

    <div class="row">
        {% for key, heading in (  ) %} {# Add titles for filtered lists of participants by event part here #}
            <div class="col-md-6">
                <h3>{{ heading|e }}</h3>
                {% for part_id, part in ambience['event']['parts']|xdictsort('part_begin') %}
                    <h4>{{ part['title']|e }} ({{ per_part_listings[key][part_id]|length|e }})</h4>
                    {% if 3*(per_part_listings[key][part_id]|length) < registrations|length %}
                        <ul>
                            {% for registration_id in per_part_listings[key][part_id] %}
                                <li>
                                    {% with ud = personas[registrations[registration_id]['persona_id']] %}
                                        {{ util.href(cdedblink("event/show_registration",
                                                               {'registration_id': registration_id}),
                                                     "{} {}".format(ud['given_names'], ud['family_name'])) }}
                                    {% endwith %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">Mindestens ein Drittel.</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        {% if ambience['event']['tracks'] %}
            {% for key, heading in (
                ('wrong choice', "Ungewählter Kurs zugeteilt"),) %}

                <div class="col-md-6">
                    <h3>{{ heading|e }}</h3>
                    {% for track_id, track in ambience['event']['tracks']|xdictsort('sortkey') %}
                        <h4>{{ track['title']|e }} ({{ per_track_listings[key][track_id]|length|e }})</h4>
                        {% if 3*(per_track_listings[key][track_id]|length) < registrations|length %}
                            <ul>
                                {% for registration_id in per_track_listings[key][track_id] %}
                                    <li>
                                        {% with ud = personas[registrations[registration_id]['persona_id']] %}
                                            {{ util.href(cdedblink("event/show_registration",
                                                                   {'registration_id': registration_id}),
                                                         "{} {}".format(ud['given_names'], ud['family_name'])) }}
                                        {% endwith %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text-muted">Mindestens ein Drittel.</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
