{% set sidenav_active='event_stats' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans title=ambience['event']['title']%}
    	Statistics ({{ title }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
{{ util.breadcrumb_link(cdedblink("event/stats"), gettext("Statistics"), active=True) }}
{% endblock %}
{% block heading %}
    {{ util.context_heading(gettext("Statistics"), ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}
{% block content %}
    <h3>{% trans %}Participant Statistics{% endtrans %}</h3>
    {% with HEADINGS = {
        'total': gettext("Total Registrations"),
        'pending': gettext("Open Registrations"),
        'participant': gettext("Participants"),
        ' all minors': gettext("All minors"),
        ' u18': gettext("U18"),
        ' u16': gettext("U16"),
        ' u14': gettext("U14"),
        ' checked in': gettext("Checked-In"),
        ' not checked in': gettext("Not Checked-In"),
        ' orgas': gettext("Orgas"),
        'waitlist': gettext("Waitinglist"),
        'guest': gettext("Guests"),
        'total involved': gettext("Total Active Registrations"),
        ' not payed': gettext("Not Paid"),
        ' payed': gettext("Paid"),
        ' no parental agreement': gettext("Parental Consent Pending"),
        'no lodgement': gettext("No Lodgement"),
        'cancelled': gettext("Registration Cancelled"),
        'rejected': gettext("Rejected"),
    } %}
        <table id="participant-stats" class="table table-slim table-condensed table-stats">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    {% for part_id, part in ambience['event']['parts']|keydictsort(EntitySorter.event_part) %}
                        <th class="text-right">
                            {% if ambience['event']['parts']|length > 1 %}
                                {{ part['shortname'] }}
                            {% else %}
                                {% trans %}Count{% endtrans %}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, row in per_part_statistics.items() %}
                    <tr>
                        {% if key.startswith(" ") %}
                            <th class="indent"></th>
                            <th>{{ HEADINGS.get(key, key) }}</th>
                        {% else %}
                            <th colspan="2">{{ HEADINGS.get(key, key) }}</th>
                        {% endif %}
                        {% for part_id, part in ambience['event']['parts']|keydictsort(EntitySorter.event_part) %}
                            <td id="part_{{ key.replace(" ","") }}_{{ part_id }}" class="text-right">
                                {% set query = get_query(key, part_id) %}
                                {% set datum = row[part_id] %}
                                {% if query %}
                                    {{ util.href(cdedblink('event/registration_query', query.serialize()) + "#query-results", datum) }}
                                {% else %}
                                    {{ datum }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endwith %}
    {% if ambience['event']['tracks'] %}
        <h3>{% trans %}Course Statistics{% endtrans %}</h3>
        {% with HEADINGS = {
            'courses': gettext("Course Offers"),
            'cancelled courses': gettext("Cancelled Courses"),
            'all instructors': gettext("(Potential) Instructor"),
            'instructors': gettext("Instructor"),
            'attendees': gettext("Attendees"),
            'no course': gettext("No Course"),
        } %} {# The 'In x. Choice' labels are already translated #}
            <table id="course-stats" class="table table-condensed table-slim table-stats">
                <thead>
                    <tr>
                        <th></th>
                        {% for track_id, track in ambience['event']['tracks']|keydictsort(EntitySorter.course_track) %}
                            <th class="text-right">
                                {% if ambience['event']['tracks']|length > 1 %}
                                    {{ track['shortname'] }}
                                {% else %}
                                    {% trans %}Count{% endtrans %}
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, row in per_track_statistics.items() %}
                        <tr>
                            <th>{{ HEADINGS.get(key, key) }}</th>
                            {% for track_id, track in ambience['event']['tracks']|keydictsort(EntitySorter.course_track) %}
                                <td id="track_{{ key|replace(' ', '_') }}_{{ track_id }}" class="text-right">
                                    {% if row[track_id] is none %}
                                        –
                                    {% else %}
                                        {% set query = get_query(key, track['part_id'], track_id) %}
                                        {% set page = get_query_page(key) %}
                                        {% if query %}
                                            {{ util.href(cdedblink(page, query.serialize()) + "#query-results", row[track_id]) }}
                                        {% else %}
                                            {{ row[track_id] }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        {% endwith %}
    {% endif %}

{% endblock %}
