{% set sidenav_active='event_log' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% block title %}
    {% trans -%}Events Log{%- endtrans %}
    [{{ values['start']|int }}–{{ (values['start']|int + log|length) }}]
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/view_log"), gettext("Log"), active="True") }}
{% endblock %}
{% block content %}
    {% if log %}
        <div class="p">
            {{ util.href("#logshowform", gettext("Go to Filter."), aclass="btn btn-default btn-sm", icon="arrow-down") }}
        </div>
    {% endif %}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>{% trans -%}Timestamp{%- endtrans %}</th>
            <th>{% trans -%}Code{%- endtrans %}</th>
            <th>{% trans -%}Submitted By{%- endtrans %}</th>
            <th>{% trans -%}Event{%- endtrans %}</th>
            <th>{% trans -%}Affected{%- endtrans %}</th>
            <th>{% trans -%}Additional Info{%- endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in log %}
            <tr>
                <td>{{ entry['ctime']|datetime(lang=lang) }}</td>
                <td>{{ gettext(enums['EventLogCodes'](entry['code'])|string) }}</td>
                <td>
                    {% if entry['submitted_by'] %}
                        {{ util.persona_anchor(personas[entry['submitted_by']]) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    {% if entry['event_id'] %}
                        {{ util.href(cdedblink('event/show_event', {'event_id': entry['event_id']}),
                                     events[entry['event_id']]['title']) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    {% if entry['persona_id'] %}
                        {{ util.persona_anchor(personas[entry['persona_id']]) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>{{ entry['additional_info'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ generic.log_filter(cdedblink('event/view_log'), enums['EventLogCodes'], "event_id") }}
{% endblock %}
