{% set sidenav_active='event_event_log' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% block title %}
    {% trans title=ambience['event']['title'] %}
    	{{ title }} Log
    {% endtrans %}
    {% if log %}
        [{{ values['start']|int }}–{{ (values['start']|int + log|length -1) }}]
    {% endif %}
{% endblock %}
{% block heading %}
    <h1 class="title">
        {% trans %}Log{% endtrans %}
        <small>{{ util.make_icon('chalkboard-teacher') }} {{ ambience['event']['title'] }}</small>
        {% if log %}
        [{{ values['start']|int }}–{{ (values['start']|int + log|length -1) }}]
    {% endif %}
    </h1>
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon='blackboard') }}
    {{ util.breadcrumb_link(cdedblink("event/view_event_log"), gettext("Log"), active="True") }}
{% endblock %}
{% block content %}
    {% if log %}
        <div class="p">
            {{ util.href("#logshowform", gettext("Go to Filter."), aclass="btn btn-default btn-sm", icon="arrow-down") }}
        </div>
    {% endif %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>{% trans %}Timestamp{% endtrans %}</th>
                <th>{% trans %}Code{% endtrans %}</th>
                <th>{% trans %}Submitted By{% endtrans %}</th>
                <th>{% trans %}Affected{% endtrans %}</th>
                <th>{% trans %}Additional Info{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in log %}
            <tr>
                <td>{{ entry['ctime']|datetime(formatstr="%d.%m.%Y %H:%M:%S") }}</td>
                <td>{{ gettext(enums['EventLogCodes'](entry['code'])|string) }}</td>
                <td>
                    {% if entry['submitted_by'] %}
                        {{ util.persona_anchor(personas[entry['submitted_by']], event_id=ambience['event']['id']) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    {% if entry['persona_id'] %}
                        {% if (entry['event_id'], entry['persona_id']) in registration_map %}
                            {{ util.href(cdedblink('event/show_registration',
                                    {'registration_id': registration_map[(entry['event_id'], entry['persona_id'])],
                                     'event_id': entry['event_id']}),
                                    label="{} {}".format(personas[entry['persona_id']]['given_names'],
                                                         personas[entry['persona_id']]['family_name'])) }}
                        {% else %}
                            {{ util.persona_anchor(personas[entry['persona_id']], event_id=ambience['event']['id']) }}
                        {% endif %}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>{{ entry['additional_info'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ generic.log_filter(cdedblink('event/view_event_log'), enums['EventLogCodes'], 'orga_event_user', aux=ambience['event']['id']) }}
{% endblock %}
