{% set sidenav_active='event_event_log' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
Log: {{ ambience['event']['title']|e }} [{{ values['start']|int|e }}–{{ (values['start']|int + log|length)|e }}]
{% endblock %}
{% block heading %}
    <h1 class="title">
        Log
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon='blackboard') }}
    {{ util.breadcrumb_link(cdedblink("event/view_event_log"), "Log", active="True") }}
{% endblock %}
{% block content %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Zeitstempel</th>
                <th>Kategorie</th>
                <th>Verantwortlich</th>
                <th>Betroffen</th>
                <th>Zusatz</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in log %}
            <tr>
                <td>{{ entry['ctime']|datetime(lang=lang)|e }}</td>
                <td>{{ gettext(enums['EventLogCodes'](entry['code'])|string)|e }}</td>
                <td>
                    {% if entry['submitted_by'] %}
                        {{ util.persona_anchor(personas[entry['submitted_by']]) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    {% if entry['persona_id'] %}
                        {{ util.persona_anchor(personas[entry['persona_id']]) }}
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>{{ entry['additional_info']|e }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% call util.bootstrap_panel(title="Filter", icon="search", aclass="panel-primary") %}
        <form action="{{ cdedblink('event/view_event_log')|e }}" method="GET" id="logshowform" class="form-horizontal">
            {{ util.form_input_checkboxes("codes", label="Kategorien", info="Keine Auswahl entspricht allem.",
                                          entries=enums['EventLogCodes']|enum_entries(processing=gettext),
                                          small=True) }}
            {{ util.form_input_from_to('start', 'stop', label='Einträge', type='number', small=True) }}
            {{ util.form_input_submit(value="Anzeigen", small=True) }}
        </form>
    {% endcall %}
{% endblock %}
