Hallo allerseits,

die Abstimmung
    "{{ title }}"
der Versammlung
    "{{ ambience['assembly']['title'] }}"
ist zu Ende gegangen. Die Ergebnisdatei mit der SHA512-Prüfsumme
{{ sha }}
findet ihr im Anhang.

Eine Übersicht über die bisher abgeschlossenen Abstimmungen dieser
Versammlung findet ihr unter [1].

Für nähere Informationen zum Wahlverfahren siehe [2].


Die Datenbank

[1] {{ cdedblink('assembly/summary_ballots', {'assembly_id': ambience['assembly']['id']}) }}
[2] {{ doclink('Realm_Assembly_Voting-Procedere') }}
