Hallo allseits,

die Abstimmung "{{ title }}" der Versammlung
"{{ ambience['assembly']['title'] }}" ist zu Ende gegangen. Die Ergebnisdatei
mit der SHA512-Prüfsumme {{ sha }} findet ihr im Anhang. Für nähere
Informationen zum Wahlverfahren siehe [1].


Die Datenbank

[1] https://db.cde-ev.de/doc/Handbuch_elektronisches_Wahlverfahren.html
