Hallo {{ persona['display_name'] }},

Du hast Dich erfolgreich zur Versammlung
    "{{ ambience['assembly']['title'] }}"
angemeldet. Dein persönliches Geheimnis für diese Versammlung lautet

    {{ secret }}

ohne Leerzeichen. Mit diesem werden Deine Stimmen kryptographisch
gesichert. Wenn Du näheres zum Wahlverfahren wissen möchtest, so lies bitte
unter [1] die Details nach.


Die Datenbank

[1] {{ doclink('Realm_Assembly_Voting-Procedere') }}
