<<#
    This is the base template to be extended by (nearly) all tex templates
    not being a letter.  It provides a skeleton where only the content needs
    to be filled in.

    Note that we change the syntax for TeX templates so that curly braces
    aren't overloaded that much. More specifically comments (see this),
    blocks (<<% if %>>) and variables (<<< datum|te >>>) change.
#>>

<<% block preamble %>>
    <<% block documentclass %>>
        \documentclass[12pt]{scrartcl}
        \KOMAoptions{paper=A4,pagesize,DIV=16}
    <<% endblock %>>

    \usepackage{iftex}

    \ifLuaTeX
        \usepackage{fontspec}
    \else
        \usepackage[T1]{fontenc}
        \usepackage[utf8]{inputenc}
    \fi

    \usepackage[ngerman]{babel}
    \usepackage{graphicx}
<<% endblock %>>

<<% block extra_preamble %>>
    % no extras
<<% endblock %>>

\begin{document}
<<% block content %>>
    % no content
<<% endblock %>>
\end{document}
