{% set mainnav_active='event' %}
{% extends "web/de/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}

{% macro one_event_links(data) %}
    <div class="list-group tear-down">
        {{ util.href(cdedblink("event/show_event", {"event_id": data['id']}), "Übersicht",
                    aclass="list-group-item", icon="triangle-right", active=(sidenav_active == 'event_show')) }}
        {# TODO #}
        {{ util.href(cdedblink("event/course_list", {"event_id": data['id']}), "Kursliste") }}
        {% if is_registered %}
            {{ util.href(cdedblink("event/registration_status", {"event_id": data['id']}), "Meine Anmeldung",
                    aclass="list-group-item", icon="log-in", active=(sidenav_active == 'event_register')) }}
            {% if ambience['event']['use_questionnaire'] %}
                {{ util.href(cdedblink("event/questionnaire_form", {"event_id": data['id']}), "Fragebogen",
                        aclass="list-group-item", icon="edit", active=(sidenav_active == 'event_quest')) }}
            {% endif %}
        {% else %}
            {{ util.href(cdedblink("event/register_form", {"event_id": data['id']}), "Anmelden",
                    readonly=is_locked, aclass="list-group-item", icon="log-in",
                    active=(sidenav_active == 'event_register')) }}
        {% endif %}
    </div>

    {% if data['id'] in user.orga or is_admin %}
        <div class="list-group tear-down">
            {{ util.href(cdedblink("event/registration_query", {"event_id": data['id']}), "Anmeldungen",
                    aclass="list-group-item", icon="list", active=(sidenav_active == 'event_registration')) }}
            {{ util.href(cdedblink("event/stats", {"event_id": data['id']}), "Teilnehmer-Übersicht",
                    aclass="list-group-item", icon="stats", active=(sidenav_active == 'event_stats')) }}

            {# TODO #}
            {{ util.href(cdedblink("event/add_registration_form", {"event_id": data['id']}), "Neuer Teilnehmer",
                     readonly=is_locked) }}

            {{ util.href(cdedblink("event/lodgements", {"event_id": data['id']}), "Unterkunft",
                    aclass="list-group-item", icon="home", active=(sidenav_active == 'event_lodgements')) }}

            {# TODO #}
            {{ util.href(cdedblink("event/field_set_select", {"event_id": data['id']}), "Datenfeld setzen",
                     readonly=is_locked) }}
            {# TODO #}
            {{ util.href(cdedblink("event/part_summary", {"event_id": data['id']}), "Teile konfigurieren",
                     readonly=is_locked) }}
            {# TODO #}
            {{ util.href(cdedblink("event/field_summary", {"event_id": data['id']}), "Datenfelder konfigurieren",
                     readonly=is_locked) }}
            {# TODO #}
            {{ util.href(cdedblink("event/questionnaire_summary", {"event_id": data['id']}), "Fragebogen konfigurieren",
                     readonly=is_locked) }}
            {# TODO #}
            {{ util.href(cdedblink("event/course_stats", {"event_id": data['id']}), "Kurse",
                     readonly=is_locked) }}

            {{ util.href(cdedblink("event/course_choices", {"event_id": data['id']}), "Kurswahlen",
                    aclass="list-group-item", icon="briefcase", active=(sidenav_active == 'event_lodgements')) }}
            {{ util.href(cdedblink("event/downloads", {"event_id": data['id']}), "Downloads", aclass="list-group-item",
                    icon="download", active=(sidenav_active == 'event_downloads')) }}

            {{ util.href(cdedblink("event/view_event_log", {"event_id": data['id']}), "Log", aclass="list-group-item",
                    icon="list-alt", active=(sidenav_active == 'event_event_log')) }}
        </div>

        <div class="list-group tear-down">
            {{ util.href(cdedblink("event/checkin_form", {"event_id": data['id']}), "Checkin",
                    readonly=is_locked, aclass="list-group-item", icon="check",
                    active=(sidenav_active == 'event_checkin')) }}
        </div>
    {% endif %}
{% endmacro %}

{% block navigation %}
    {% if ambience['event'] %}
        <p>
            {{ util.href(cdedblink("event/index"), "Zur Veranstaltungs-Übersicht", icon="circle-arrow-up") }}
        </p>

        <h4>{{ util.make_icon('blackboard', arialabel='Veranstaltung') }}
            {{ ambience['event']['title'] }}</h4>
        {{ one_event_links(ambience['event']) }}
    {% else %}
        <h4>Veranstaltungen</h4>
        {% if is_admin %}
            <div class="list-group tear-down">
                {{ util.href(cdedblink("event/index"), "Übersicht",
                             aclass="list-group-item", icon="triangle-right",
                             active=(sidenav_active == 'event_index')) }}
                {{ util.href(cdedblink("event/list_db_events"), "All Veranstaltungen",
                             aclass="list-group-item", icon="cog", active=(sidenav_active == 'event_list')) }}
            </div>
            <div class="list-group tear-down">
                {{ util.href(cdedblink("event/user_search"), "Verantstaltungs-Nutzer verwalten",
                             aclass="list-group-item", icon="user", active=(sidenav_active == 'event_users')) }}
                {{ util.href(cdedblink("event/view_log"), "Log", aclass="list-group-item", icon="list-alt",
                             active=(sidenav_active == 'event_log')) }}
            </div>
        {% endif %}
    {% endif %}
    <hr class="strong visible-xs visible-sm" />
{% endblock %}
