{% set sidenav_active='event_config' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Fragebogen bearbeiten ({{ event_data['title']|e }}){% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/change_questionnaire')|e }}" method="POST" id="changequestionnaireform">
        {% with INPUT_SIZE_LABELS = {0: "einzeilig",
                                     2: "mehrzeilig",
                                     3: "mehrzeilig+",
                                     4: "mehrzeilig++",}%}
            <ul>
                {% for entry in questionnaire %}
                    <li>
                        <table>
                            {# jinja does not support list comprehension ... #}
                            {% set myentries = [("", "nur Text")] %}
                            {% for field_id, fdata in event_data['fields']|dictsort %}
                                {{ myentries.append((field_id, fdata['field_name']))|e }}
                            {% endfor %}
                            {{ util.form_input_select("field_id_{}".format(loop.index0), label="Abfrage",
                                                     entries=myentries) }}
                            {{ util.form_input_text(name="title_{}".format(loop.index0), label="Label/Überschrift") }}
                            {{ util.form_input_textarea(name="info_{}".format(loop.index0), label="Text") }}
                            {{ util.form_input_select(
                                "input_size_{}".format(loop.index0), label="Eingabefeldgröße", entries=(
                                    (0, INPUT_SIZE_LABELS[0]), (2, INPUT_SIZE_LABELS[2]),
                                    (3, INPUT_SIZE_LABELS[3]), (4, INPUT_SIZE_LABELS[4]))) }}
                            {{ util.form_input_checkbox("readonly_{}".format(loop.index0), label="Schreibgeschützt") }}
                        </table>
                    </li>
                {% endfor %}
            </ul>
            <div>
                {{ util.form_input_submit(value="Ändern") }}
            </div>
        {% endwith %}
    </form>
{% endblock %}
