{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}{{ values['given_names']|e }} {{ values['family_name']|e }} bearbeiten{% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/change_user')|e }}" method="POST" id="changedataform">
        <table>
            <tr> <th colspan="2">Person</th> </tr>
            {{ util.tab_input_text(name="title", label="Titel") }}
            {{ util.tab_input_text(name="given_names", label="Vorname(n)") }}
            {{ util.tab_input_text(name="family_name", label="Nachname") }}
            {{ util.tab_input_text(name="name_supplement", label="Namenszusatz") }}
            {{ util.tab_input_text(name="display_name", label="Rufname") }}
            <tr> <th colspan="2">Kontakt</th> </tr>
            <tr>
                <td>Email</td>
                <td>{{ username|e }}</td>
            </tr>
            {{ util.tab_input_text(name="telephone", label="Telefon") }}
            {{ util.tab_input_text(name="mobile", label="Mobiltelefon") }}
            <tr> <th colspan="2">Adresse</th> </tr>
            {{ util.tab_input_text(name="address", label="Straße") }}
            {{ util.tab_input_text(name="address_supplement", label="Addresszusatz") }}
            {{ util.tab_input_text(name="postal_code", label="Postleitzahl") }}
            {{ util.tab_input_text(name="location", label="Stadt") }}
            {{ util.tab_input_text(name="country", label="Land") }}
        </table>
        <div>
            {{ util.input_submit(value="Speichern") }}
            <a href="{{ show_user_link(user.persona_id)|e }}">Abbrechen</a>
        </div>
    </form>
{% endblock %}
