{% set sidenav_active='event_config' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}{{ data['parts'][values['part_id']]['title']|e }} ({{ data['title']|e }}) bearbeiten{% endblock %}
{% block content %}
    {{ util.href(cdedblink("event/change_event"), "Abbrechen") }}
    <form action="{{ cdedblink('event/change_part')|e }}" method="POST" id="changepartform">
        <table>
            {{ util.input_text(name="title", label="Name") }}
            {{ util.input_text(name="part_begin", label="Beginn") }}
            {{ util.input_text(name="part_end", label="Ende") }}
            {{ util.input_text(name="fee", label="Teilnehmerbeitrag") }}
        </table>
        <div>
            {{ util.input_submit(value="Speichern") }}
        </div>
    </form>
{% endblock %}
