{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}{{ data['title']|e }} bearbeiten{% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/change_past_event')|e }}" method="POST" id="changeeventform">
        <table>
            {{ util.form_input_text(name="title", label="Titel") }}
            {{ util.form_input_text(name="shortname", label="Kürzel") }}
            {# jinja does not support list comprehension ... #}
            {% set myentries = [] %}
            {% for value, title in institutions|dictsort %}
                {{ myentries.append((value, title))|e }}
            {% endfor %}
            {{ util.form_input_select(name="institution", label="Organisation", entries=myentries) }}
            {{ util.form_input_textarea(name="description", label="Beschreibung", rows="5") }}
            {{ util.form_input_text(name="tempus", label="Stichtag") }}
        </table>
        <div>
            {{ util.form_input_submit(value="Speichern") }}
            {{ util.href(cdedblink("event/show_past_event"), "Abbrechen") }}
        </div>
    </form>
{% endblock %}
