{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block navigation %}{{ event_navigation(unfold=True) }}{% endblock %}
{% block title %}Unterkunft {{ lodgement_data['moniker'] }} bearbeiten ({{ event_data['title']|e }}){% endblock %}
{% block content %}
    <a href="{{ cdedblink("event/show_lodgement")|e }}">Abbrechen</a>
    <form action="{{ cdedblink('event/change_lodgement')|e }}" method="POST" id="changelodgementform">
        <table>
            {{ util.tab_input_text(name="moniker", label="Bezeichnung") }}
            {{ util.tab_input_text(name="capacity", label="normale Plätze") }}
            {{ util.tab_input_text(name="reserve", label="Reserveplätze") }}
            {{ util.tab_input_textarea(name="notes", label="Notizen", aclass="biggg") }}
        </table>
        <div>
            {{ util.input_submit(value="Speichern") }}
        </div>
    </form>
{% endblock %}
