{% set sidenav_active='event_checkin' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block javascripthint %}{{ util.javascript_hint() }}{% endblock %}
{% block title %}Checkin ({{ event_data['title']|e }}){% endblock %}
{% block content %}
    <div>
        Namen suchen (Groß-/Kleinschreibung!):
        <input type="text" name="selector" id="selector" class="jsEnabled" value="" disabled>
    </div>
    <ul>
        {% for registration_id, rdata in registration_data|dictsort %}
            <li class="selectee">
                {{ user_data[rdata['persona_id']]['given_names']|e }}
                {{ user_data[rdata['persona_id']]['family_name']|e }}
                <form action="{{ cdedblink('event/checkin')|e }}" method="POST" id="checkinform{{ registration_id|e }}">
                    {{ util.input_hidden(name="registration_id", value=registration_id) }}
                    {{ util.form_input_submit(value="Checkin") }}
                </form>
            </li>
        {% endfor %}
    </ul>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#selector").keyup(function(){
                $(".selectee").hide();
                $(".selectee:contains('" + $(this).val() + "')").show();
            });
        });
    </script>
{% endblock %}
