{% set sidenav_active='event_course_choices' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Kurse -- Übersicht ({{ ambience['event']['title']|e }}){% endblock %}
{% block content %}
    {# TODO incorporate active_parts, max_size, min_size of courses #}
    <table>
        <tr>
            <th>Nummer</th>
            <th>Kurs</th>
            <th>Kurzname</th>
            {% for part_id, part in ambience['event']['parts']|dictsort %}
                <th colspan="4">{{ part['title']|e }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            {% for part_id, part in ambience['event']['parts']|dictsort %}
                <th>zugewiesen</th>
                <th>Erstwahl</th>
                <th>Zweitwahl</th>
                <th>Drittwahl</th>
            {% endfor %}
        </tr>
        {% for course_id, course in courses|dictsort %}
            <tr>
                <td>{{ course['nr']|e }}</td>
                <td>{{ course['title']|e }}</td>
                <td>{{ course['shortname']|e }}</td>
                {% for part_id, part in ambience['event']['parts']|dictsort %}
                     <td> {{ assign_counts[course_id][part_id]|e }} </td>
                     {% for i in range(3) %}
                         <td> {{ choice_counts[course_id][(part_id, i)]|e }} </td>
                     {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
