{% set sidenav_active='event_course_stats' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Kurse verwalten ({{ ambience['event']['title']|e }}){% endblock %}
{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
    {{ util.breadcrumb_link(cdedblink("event/course_stats"), "Kurse", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Kurse verwalten
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}

{% block content %}
    <div class="p">
        {{ util.href(cdedblink('event/create_course_form'), "Kurs hinzufügen", readonly=is_locked, icon='plus',
                     aclass='btn btn-success btn-sm') }}
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th rowspan="2" colspan="2">Kurs</th>
                {% if ambience['event']['tracks']|length == 1 %}
                    <th colspan="5" class="b-left">Teilnehmer &amp; Kurswahl</th>
                {% else %}
                    {% for track_id, track in ambience['event']['tracks']|dictsort %}
                        <th colspan="5" class="b-left">{{ track['title']|e }}</th>
                    {% endfor %}
                {% endif %}
                <th colspan="2" class="b-left">Grenzen</th>
                {% if ambience['event']['tracks']|length < 4 %}
                    <th rowspan="2" class="b-left"></th>
                {% endif %}
            </tr>
            <tr>
                {% for track_id, track in ambience['event']['tracks']|dictsort %}
                    <th class="b-left"></th>
                    <th class="text-right">{{ util.make_icon('screenshot', title="eingeteilt") }}</th>
                    <th class="text-right">1</th>
                    <th class="text-right">2</th>
                    <th class="text-right">3</th>
                {% endfor %}
                <th class="b-left text-right">Min</th>
                <th class="text-right">Max</th>
            </tr>
        </thead>
        <tbody>
            {% for course_id, course in courses|xdictsortpad('nr') %}
                <tr>
                    <td>{{ course['nr']|e }}</td>
                    <td>{{ util.href(cdedblink('event/show_course', {'course_id': course_id}),
                                     course['shortname']) }}</td>
                    {% for track_id, track in ambience['event']['tracks']|dictsort %}
                        {% if track_id in course['segments'] %}
                            {% set attendees = assign_counts[course_id][track_id] %}
                            {% set aclass = 'course-cancelled' if track_id not in course['active_segments'] and attendees > 0 else
                                            ('course-cancelled-ok' if track_id not in course['active_segments'] else
                                             ('course-manyp' if course['max_size'] and attendees > course['max_size'] else
                                              ('course-fewp' if course['min_size'] and attendees < course['min_size'] else ''))) %}
                            <td class="b-left course-primary {{ aclass }}">
                                {% if track_id not in course['active_segments'] %}
                                    {{ util.make_icon('ban-circle', title="Findet nicht statt") }}
                                {% endif %}
                            </td>
                            <td class="text-right course-primary {{ aclass }}">
                                {{ util.href(cdedblink('event/course_choices', {'track_id': track_id,
                                                                                'course_id': course_id,
                                                                                'position': 6,
                                                                                'submitform': True}),
                                             assign_counts[course_id][track_id]) }}
                            </td>
                            {% for i in range(3) %}
                                <td class="text-right">
                                    {{ util.href(cdedblink('event/course_choices', {'track_id': track_id,
                                                                                'course_id': course_id,
                                                                                'position': i + 2,
                                                                                'submitform': True}),
                                             choice_counts[course_id][(track_id, i)]) }}
                            {% endfor %}
                        {% else %}
                            <td class="b-left">{{ util.make_icon('remove-sign', title="Nicht angeboten") }}</td>
                            <td colspan="4"></td>
                        {% endif %}
                    {% endfor %}
                    <td class="b-left text-right">{{ course['min_size']|e }}</td>
                    <td class="text-right">{{ course['max_size']|e }}</td>
                    {% if ambience['event']['tracks']|length < 4 %}
                        <td class="b-left text-nowrap">
                            {{ util.href(cdedblink("event/change_course_form", {'course_id': course_id}),
                                         readonly=is_locked, aclass='btn btn-xs btn-warning', icon='pencil',
                                         title="Bearbeiten") }}
                            {{ util.href(cdedblink("event/manage_attendees_form", {'course_id': course_id}),
                                         readonly=is_locked, aclass='btn btn-xs btn-warning', icon='user',
                                         title="Teilnehmer ändern") }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
