{% set sidenav_active='event_course_list' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Kursliste {{ ambience['event']['title']|e }}{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
{{ util.breadcrumb_link(cdedblink("event/course_list"), "Kursliste", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Kursliste
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}
{% block content %}
    {% if courses %}
        {% for anid, entry in courses|dictsort %}
            <div class="hide-hover-container">
                <h3>{{ entry['nr'] }}. {{ entry['title']|e }}</h3>
                {% if ambience['event']['id'] in user.orga or is_admin %}
                    <div class="pull-right">
                        {{ util.href(cdedblink('event/show_course', {'course_id' : anid}), "Details",
                                     readonly=is_locked, icon='list', aclass='btn btn-xs btn-info hide-hover') }}
                        {{ util.href(cdedblink('event/change_course_form', {'course_id' : anid}), "Bearbeiten",
                                     readonly=is_locked, icon='pencil', aclass='btn btn-xs btn-warning hide-hover') }}
                    </div>
                {% endif %}
                <p class="heading-supplement">
                    {% if ambience['event']['id'] in user.orga or is_admin %}
                        <span class="label label-primary">{{ entry['shortname']|e }}</span>
                    {% endif %}
                    von {{ entry['instructors']|e }}
                    {% if ambience['event']['tracks']|length > 1 %}
                        {% set myentries = [] %}
                        {% for track_id in entry['active_tracks']|sort %}
                            {{ myentries.append(ambience['event']['tracks'][track_id]['title'])|e }}
                        {% endfor %}
                        – <span class="text-info">
                        {% for trackname in myentries -%}
                            {% if not loop.first %}{% if loop.last %} und {% else %}, {% endif %}{% endif %}
                            <i>{{ trackname|e }}</i>
                        {%- endfor %}</span>.
                    {% endif %}
                </p>
                {{ entry['description']|rst }}
            </div>
        {% endfor %}
    {% elif ambience['event']['tracks'] %}
        <p>Es wurden noch keine Kurse angelegt.</p>
    {% else %}
        <p>Diese Veranstaltung hat keine Kurse.</p>
    {% endif %}
{% endblock %}
