{% set sidenav_active='event_lodgement' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Neue Unterkunft anlegen ({{ ambience['event']['title']|e }}){% endblock %}
{% block content %}
    {{ util.href(cdedblink("event/lodgements"), "Abbrechen") }}
    <form action="{{ cdedblink('event/create_lodgement')|e }}" method="POST" id="createlodgementform">
        <table>
            {{ util.form_input_text(name="moniker", label="Bezeichnung") }}
            {{ util.form_input_text(name="capacity", label="normale Plätze") }}
            {{ util.form_input_text(name="reserve", label="Reserveplätze") }}
            {{ util.form_input_textarea(name="notes", label="Notizen", rows="5") }}
        </table>
        <div>
            {{ util.form_input_submit(value="Anlegen") }}
        </div>
    </form>
{% endblock %}
