{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Kurs hinzufügen ({{ event_data['title'] }}){% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/create_past_course')|e }}" method="POST" id="createcourseform">
        <table>
            {{ util.tab_input_text(name="title", label="Titel") }}
            {{ util.tab_input_textarea(name="description", label="Beschreibung", aclass="biggg") }}
        </table>
        <div>
            {{ util.input_submit(value="Anlegen") }}
        </div>
    </form>
{% endblock %}
