{% set sidenav_active='event_field_summary' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% set jshint='strong' %}
{% block scripts %}{{ util.cdedb_script('helper') }}{{ util.cdedb_script('dynamicrow') }}{% endblock %}
{% block title %}Datenfelder konfigurieren ({{ ambience['event']['title']|e }}){% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
{{ util.breadcrumb_link(cdedblink("event/field_summary"), "Datenfelder konfigurieren", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Datenfelder konfigurieren
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}

{# Macro for a general field, that can have each role in the DynamicRow workflow.
   non-deletable rows have a disabled 'delete'-checkbox,
   aclass is used to pass classes to the row, such as drow-row, drow-prototype, drow-new
   newrow rows will have 'create' instead of 'delete' checkbox and have 'data-basename' attributes #}
{% macro print_field(field_id, association, deletable, aclass="", newrow=False) %}
    <div class="col-md-6 {{ aclass }}">
        <div class="panel panel-default panel-condensed">
            <div class="panel-heading">
                {{ util.input_text(name="field_name_{}".format(field_id), placeholder="Name des Datenfelds",
                                   readonly=not newrow, aclass='drow-input form-control',
                                   attributes=('data-basename="field_name_"' if newrow else '')) }}
                {{ util.output_errors("field_name_{}".format(field_id)) }}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Datentyp</label>
                    <div class="col-sm-5">
                        {{ util.input_select(name="kind_{}".format(field_id), entries=(
                                ("str", "String"), ("bool", "Ja/Nein"), ("int", "Zahl"), ("float", "Kommazahl"),
                                ("date", "Datum"), ("datetime", "Datum mit Uhrzeit")),
                            attributes=('data-basename="kind_"' if newrow else ''), aclass='drow-input form-control') }}
                        {{ util.output_errors("kind_{}".format(field_id)) }}
                    </div>
                    <div class="col-sm-3">
                        <div class="text-right">
                            <span class="drow-buttonspace">
                                {% if newrow %}
                                    {{ util.input_checkbox("create_{}".format(field_id), label="Hinzufügen",
                                                           attributes='data-basename="create_"', aclass='drow-indicator')}}
                                {% else %}
                                    {{ util.input_checkbox("delete_{}".format(field_id), label="Löschen",
                                                           readonly=not deletable, aclass='drow-indicator') }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                {% if "association_{}".format(field_id) not in values %}
                    <div class="association-input-container">
                        {{ util.form_input_select(label="Feld für",
                                                  name="association_{}".format(field_id),
                                                  entries=(
                                                      (enums['FieldAssociations'].registration.value, "Anmeldung"),
                                                      (enums['FieldAssociations'].course.value, "Kurs"),
                                                      (enums['FieldAssociations'].lodgement.value, "Unterkunft"),),
                                                  attributes=('data-basename="association_"' if newrow else ''),
                                                  aclass='drow-input form-control association-input')
                        }}
                    </div>
                {% else %}
                    {{ util.input_hidden(name="association_{}".format(field_id), value=association.value) }}
                {% endif %}
                {{ util.form_input_textarea(name="entries_{}".format(field_id), label="Optionen",
                                            attributes=('data-basename="entries_"' if newrow else ''),
                                            aclass='drow-input') }}
            </div>
        </div>
    </div>
{% endmacro %}


{% block content %}
    <form action="{{ cdedblink('event/field_summary')|e }}" method="POST" id="fieldsummaryform" class="form-horizontal">
        {% set associations = (("Anmeldungsfelder", enums['FieldAssociations'].registration, 'user'),
                               ("Kursfelder", enums['FieldAssociations'].course, 'book'),
                               ("Unterkunftsfelder", enums['FieldAssociations'].lodgement, 'home')) %}
        <ul class="nav nav-tabs mosp softhide" role="tablist" id="associations_tablist">
            {% for title, association, icon in associations -%}
                <li role="presentation"{% if loop.first %} class="active"{% endif %}>
                    <a href="#tab_{{ association.name }}" data-toggle="tab" aria-controls="tab_{{ association.name }}"
                            role="tab">{{ util.make_icon(icon) }} {{ title }}</a>
                </li>
            {%- endfor %}
        </ul>
        <div class="tab-content" id="associations_tabcontent">
            {% for title, association, icon in associations %}
                <div class="tab-pane active" role="tabpanel" id="tab_{{ association.name }}"
                        data-association-id="{{ association.value }}">
                    <h3 class="heading-underline">{{ util.make_icon(icon) }} {{ title|e }}</h3>
                    <div class="row">
                        {# Old items, already stored in the database #}
                        {% for field_id, entry in ambience['event']['fields']|dictsort %}
                            {% if entry['association'] == association %}
                                {{ print_field(field_id, association, field_id not in is_referenced, 'drow-row') }}
                            {% endif %}
                        {% endfor %}

                        {# Items that were added by the user but failed validation. They are still new and have no official id. #}
                        {% for i in range(1, values.get('create_last_index', 0) + 1) %}
                            {% if values.get("association_{}".format(-i), '')|int == association.value %}
                                {{ print_field(-i, association, False, 'drow-new', newrow=True) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <h3 class="heading-underline">Neues Feld</h3>
        {# Prototype row. For non-JS users: an empty row with 'create'-checkbox, for JS: prototype for new rows. #}
        <div class="row">
            {{ print_field(-values.get('create_last_index', 0) - 1, None, False, 'drow-prototype', newrow=True) }}
        </div>

        <p>
            <button type="button" class="btn btn-success softhide pull-right" id="drow-addbutton">
                {{ util.make_icon('plus') }} Feld hinzufügen
            </button>
            {{ util.input_submit(value="Speichern", readonly=is_locked) }}
        </p>
    </form>
    <script type="text/javascript">
        /* Hide tabs except first one and headings and enable tab switching */
        $('#associations_tabcontent').children('.tab-pane').not(':eq(0)').removeClass('active');
        $('#fieldsummaryform').find('h3').hide();
        $('#associations_tablist').css('display', 'block').tab();
        $('#fieldsummaryform').cdedbDynamicRow({
            addButton: $('#drow-addbutton'),
            delButtonTitle: "Datenfeld löschen",
            callback: function() {
                var container = $('#associations_tabcontent').children('.tab-pane.active');
                /* Move new row to currently active tab */
                $(this).appendTo(container.children('.row'));
                /* Select association according to active tab and hide select box */
                $(this).find('.association-input').val(container.attr('data-association-id'));
                $(this).find('.association-input-container').hide();
            }});
        $('#fieldsummaryform').cdedbProtectChanges();
    </script>

    <hr />
    <p class="help-block">
        {{ util.make_icon('info-sign') }}
        Das Eingabeformat für die Optionen ist<br />
        <code style="padding: 2px 0;">Wert1;Beschreibungstext<br />
              Wert2;Beschreibungstext<br />
              …</code><br />
        Der Beschreibungstext wird im Auswahlfeld angezeigt; der Wert wird bei Auswahl der Option in der Datenbank
        abgespeichert. Er muss kompatibel zum eingestellten Datentyp sein. Ein leeres Optionen-Feld führt zu einem
        Freitext/zahl/datum-Feld.
    </p>
{% endblock %}
