{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Feld auswählen ({{ event_data['title']|e }}){% endblock %}
{% block content %}
    <a href="{{ cdedblink("event/show_event")|e }}">Abbrechen</a>
    <form action="{{ cdedblink('event/field_set_select')|e }}" method="GET" id="selectfieldform">
        <div>
            {# jinja does not support list comprehension ... #}
            {% set myentries = [] %}
            {% for field_id, fdata in event_data['fields']|dictsort %}
                {{ myentries.append((field_id, fdata['field_name'], None))|e }}
            {% endfor %}
            {{ util.input_select("field_id", entries=myentries) }}
            {{ util.input_submit(value="Anzeigen") }}
        </div>
    </form>
{% endblock %}
