{% extends "web/de/event/base.tmpl" %}
{% block title %}Veranstaltungen{% endblock %}
{% block content %}
    Hier findest Du Akademien und andere Veranstaltungen.

    TODO Liste der sidebarevents solange die sidebar noch nicht existiert
    <ul>
        {% for event_id, entry in sidebar_events|dictsort|reverse %}
            <li>
                {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), entry['title']) }}
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
