{% set sidenav_active='event_index' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Veranstaltungen{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen", active=True) }}
{% endblock %}
{% block content %}
    <h3>Aktuelle Veranstaltungen</h3>
    {% if open_events %}
        <ul>
            {% for event_id, event in open_events|dictsort|reverse %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), event['title']) }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">
            Zur Zeit sind keine Veranstaltungen zur Anmeldung freigegeben.
        </p>
    {% endif %}

    {% if orga_events %}
        <h3>Organisierte Veranstaltungen</h3>
        <ul>
            {% for event_id, entry in orga_events|dictsort|reverse %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), entry['title']) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
