{% set sidenav_active='event_list' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Alle DB-Veranstaltungen{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen", active="True") }}
{% endblock %}
{% block content %}
    <h2>Aktuelle Veranstaltungen</h2>
    <ul>
        {% for event_id, entry in data|dictsort|reverse %}
            {% if not entry['is_archived'] %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), entry['title']) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>Archivierte Veranstaltungen</h2>
    <ul>
        {% for event_id, entry in data|dictsort|reverse %}
            {% if entry['is_archived'] %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), entry['title']) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
