{% set sidenav_active='event_list' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Veranstaltungen verwalten{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/list_db_events"), "Veranstaltungen verwalten", active="True") }}
{% endblock %}
{% block content %}
    <div class="p">
        {{ util.href(cdedblink("event/create_event_form"), "Veranstaltung anlegen", aclass="btn btn-success btn-sm",
                icon="plus") }}
    </div>
    
    <h3>Aktuelle Veranstaltungen</h3>
    <ul>
        {% for event_id, entry in events|dictsort|reverse %}
            {% if not entry['is_archived'] %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), entry['title']) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Archivierte Veranstaltungen</h3>
    <ul>
        {% for event_id, entry in events|dictsort|reverse %}
            {% if entry['is_archived'] %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event_id}), entry['title']) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
