{% extends "web/de/event/base.tmpl" %}
{% set sidenav_active='event_course_stats' %}
{% import "web/de/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('manage_participants') }}{% endblock %}
{% set jshint='strong' %}
{% block title %}
Kursteilnehmer für Kurs {{ ambience['course']['title']|e }} verwalten ({{ ambience['event']['title']|e }})
{% endblock %}
{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
    {{ util.breadcrumb_link(cdedblink("event/course_stats"), "Kurse") }}
    {{ util.breadcrumb_link(cdedblink("event/show_course"), ambience['course']['shortname'], icon='book') }}
    {{ util.breadcrumb_link(cdedblink("event/manage_attendees"), "Kursteilnehmer verwalten", active=True) }}
{% endblock %}
{% block heading %}
    <h1 class="title">
        Teilnehmer von {{ ambience['course']['shortname']|e }}
        <small>{{ util.make_icon('blackboard') }} {{ ambience['event']['title']|e }}</small>
    </h1>
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/manage_attendees')|e }}" method="POST" id="manageattendeesform">
        <div class="row">
            {% for track_id, track in ambience['event']['tracks']|dictsort if track_id in ambience['course']['segments']%}
                <div class="col-md-6">
                    {% call util.bootstrap_panel(title=track['title'], aclass="panel-info") %}
                        <ul class="slim">
                            {% for registration_id in attendees[(ambience['course']['id'], track_id)] %}
                                <li>
                                    {{ personas[registrations[registration_id]['persona_id']]['given_names']|e }}
                                    {{ personas[registrations[registration_id]['persona_id']]['family_name']|e }}
                                    &ensp;{{ util.input_checkbox('delete_'+track_id|e+'_'+registration_id|e, "Entf.",
                                                            aclass="del-box") }}
                                </li>
                            {% endfor %}
                        </ul>

                        <label for="input_new_{{ track_id|e }}">
                            {{ util.make_icon('plus') }} Teilnehmer hinzufügen
                        </label>
                        <select multiple="multiple" id="input_new_{{ track_id|e }}" class="form-control"
                                name="new_{{ track_id|e }}">
                            <option value="">— keine —</option>
                            {% for registration_id in without_course[track_id] %}
                                <option id="{{ registration_id|e }}_{{ track_id|e }}" value="{{ registration_id|e }}">
                                    {{ personas[registrations[registration_id]['persona_id']]['given_names']|e }}
                                    {{ personas[registrations[registration_id]['persona_id']]['family_name']|e }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endcall %}
                </div>
            {% endfor %}
            <script type="text/javascript">
                var course_names = {{ course_names|json }};
                {% for track_id in ambience['event']['tracks'] %}
                    $('#input_new_{{ track_id }}').cdedbSearchParticipant(
                        {{ selectize_data[track_id]|json }}, course_names, "aktuell: ");
                {% endfor %}
                $('.del-box').cdedbRemoveParticipantButton('Teilnehmer aus Kurs entfernen');
            </script>
        </div>
        {{ util.input_submit(value="Speichern") }}&emsp;
        {{ util.href(cdedblink('event/show_course'), "Abbrechen", icon='remove', aclass="btn btn-default") }}
    </form>
{% endblock %}
