{% set sidenav_active='event_config' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block jquery %}{{ util.jquery_with_ui_preamble() }}{% endblock %}
{% block javascripthint %}{{ util.javascript_hint() }}{% endblock %}
{% block title %}{{ data['title']|e }} Details{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_begin() }}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
{{ util.breadcrumb_link(cdedblink("event/part_summary"), "Teile konfigurieren", active=True) }}
{{ util.breadcrumb_end() }}
{% endblock %}
{% block content %}
    <h2>Teile</h2>
    <ul>
        {% for anid, entry in data['parts']|dictsort %}
            <li>
                {{ entry['title']|e }}
                ({{ entry['part_begin']|date|e }}--{{ entry['part_end']|date|e }}; {{ entry['fee']|e }}€)
                {{ util.href(cdedblink('event/change_part_form', {'part_id': anid}), "bearbeiten", readonly=is_locked) }}
            </li>
        {% endfor %}
    </ul>
    <h3>Teil hinzufügen</h3>
    <form action="{{ cdedblink('event/add_part')|e }}" method="POST" id="addpartform">
        <table>
            {{ util.form_input_text(name="part_title", label="Name") }}
            {{ util.form_input_text(name="part_begin", label="Beginn") }}
            {{ util.form_input_text(name="part_end", label="Ende") }}
            {{ util.form_input_text(name="fee", label="Teilnehmerbeitrag") }}
        </table>
        <div>
            {{ util.form_input_submit(value="Teil hinzufügen", readonly=is_locked) }}
        </div>
    </form>
{% endblock %}
