{% set sidenav_active='event_config' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block scripts %}{{ util.jquery_with_ui_preamble() }}{% endblock %}
{% block javascripthint %}{{ util.javascript_hint() }}{% endblock %}
{% block title %}{{ ambience['event']['title']|e }} Teile konfigurieren{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_begin() }}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
{{ util.breadcrumb_link(cdedblink("event/part_summary"), "Teile konfigurieren", active=True) }}
{{ util.breadcrumb_end() }}
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('event/part_summary')|e }}" method="POST" id="partsummaryform">
        <ul>
            {% for part_id, part in ambience['event']['parts']|dictsort %}
                <li>
                    <table>
                        {{ util.form_input_checkbox("delete_{}".format(part_id), label="Löschen (TODO nur falls leer)") }}
                        {{ util.form_input_text(name="title_{}".format(part_id), label="Name") }}
                        {{ util.form_input_text(name="part_begin_{}".format(part_id), label="Beginn") }}
                        {{ util.form_input_text(name="part_end_{}".format(part_id), label="Ende") }}
                        {{ util.form_input_text(name="fee_{}".format(part_id), label="Teilnehmerbeitrag") }}
                    </table>
                </li>
            {% endfor %}
            <li>
                {{ util.form_input_checkbox("create_-1", label="Hinzufügen") }}
                {{ util.form_input_text(name="title_-1", label="Name") }}
                {{ util.form_input_text(name="part_begin_-1", label="Beginn") }}
                {{ util.form_input_text(name="part_end_-1", label="Ende") }}
                {{ util.form_input_text(name="fee_-1", label="Teilnehmerbeitrag") }}
            </li>
        </ul>
        <div>
            {{ util.form_input_submit(value="Ändern", readonly=is_locked) }}
        </div>
    </form>
{% endblock %}
