{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block navigation %}{{ event_navigation(unfold=True) }}{% endblock %}
{% block title %}Anmeldung zur Veranstaltung {{ event_data['title']|e }}{% endblock %}
{% block content %}
    <a href="{{ cdedblink("event/index")|e }}">Abbrechen</a>
    <p>
        {% if event_data['registration_soft_limit'] >= today %}
            Alle Angaben bis auf die Veranstaltungsteile können bis zum Anmeldeschluss
            ({{ event_data['registration_soft_limit']|date|e }}) geändert werden.
        {% else %}
            Der Anmeldeschluss ist bereits vorbei. Deine Anmeldung wird nach Möglichkeit berücksichtigt.
        {% endif %}
    </p>
    <form action="{{ cdedblink('event/register')|e }}" method="POST" id="registerform">
        <table>
            {# jinja does not support list comprehension ... #}
            {% set myentries = [] %}
            {% for part_id, pdata in event_data['parts']|dictsort %}
                {{ myentries.append((part_id, pdata['title'], "manipulator_checkbox_{}".format(part_id)))|e }}
            {% endfor %}
            {{ util.tab_input_checkboxes(name="parts", title="Veranstaltungsteile", entries=myentries) }}
            {% if not age.may_mix() %}
                <tr>
                    <td>Gemischte Unterbringung</td>
                    <td>
                        Keine gemischte Unterbringung.
                        {{ util.tab_input_hidden(name="mixed_lodging", value=False) }}
                    </td>
                </tr>
            {% else %}
                {% if age.is_minor() %}
                    {% set mix_info = glue("Die Auswahl muss mit der Einverständniserklärung der",
                                           "Erziehungsberechtigten kompatibel sein.") %}
                {% else %}
                    {% set mix_info = "" %}
                {% endif %}
                {{ util.tab_input_select(name="mixed_lodging", entries=(
                    (True, "Ich bin mit gemischter Unterbringung einverstanden.", None),
                    (False, "Ich will geschlechter-getrennt untergebracht werden.", None)),
                    title="Gemischte Unterbringung", info=mix_info) }}
            {% endif %}
            {{ util.tab_input_checkbox(name="foto_consent", label=glue(
                    "Ich bin damit einverstanden, dass Fotos und Aufnahmen meiner Person, die im Rahmen dieser",
                    "Veranstaltung entstehen, für die Veranstaltungsdokumentation und eine CdE-interne,",
                    "passwortgeschützte Fotogalerie verwendet werden. Einzelne Fotos können auf gesonderten",
                    "Wunsch davon ausgenommen werden.")) }}
            {{ util.tab_input_textarea(name="notes", label="Anmerkungen", aclass="biggg") }}
            {% for part_id, course_list in course_choices|dictsort %}
                {% if course_list %}
                    <tr><th colspan="2">Kurswahl {{ event_data['parts'][part_id]['title']|e }}</th></tr>
                    {# jinja does not support list comprehension ... #}
                    {% set myentries = [] %}
                    {% for course_id in course_list %}
                        {{ myentries.append((course_id, course_data[course_id]['title'], None))|e }}
                    {% endfor %}
                    {{ util.tab_input_select(name="course_choice{}_0".format(part_id), entries=myentries,
                                             title="Erstwahl") }}
                    {{ util.tab_input_select(name="course_choice{}_1".format(part_id), entries=myentries,
                                             title="Zweitwahl") }}
                    {{ util.tab_input_select(name="course_choice{}_2".format(part_id), entries=myentries,
                                             title="Drittwahl") }}
                    {# jinja does not support list comprehension ... #}
                    {% set myentries = [("", "Ich bin kein Kursleiter.", None)] %}
                    {% for course_id in course_list %}
                        {{ myentries.append((course_id, course_data[course_id]['title'], None))|e }}
                    {% endfor %}
                    {{ util.tab_input_select(name="course_instructor{}".format(part_id), entries=myentries,
                                             title="Kursleiter") }}
                {% endif %}
            {% endfor %}
        </table>
        <div>
             <h2>Personendaten</h2>
             <p>
                 Im Folgenden sind Deine Personendaten aufgeführt. Sollte
                 hier etwas nicht stimmen ändere dies bitte im Menüpunkt
                 &quot;Meine Daten&quot;.
             </p>
        </div>
        <table>
            <tr>
                <td>Name</td>
                <td>
                    {{ user_data['title']|e }}
                    {{ user_data['given_names']|e }}
                    {{ user_data['family_name']|e }}
                    {{ user_data['name_supplement']|e }}
                </td>
            </tr>
            <tr>
                <td>Geburtstag</td>
                <td>{{ user_data['birthday']|e }}</td>
            </tr>
            <tr>
                <td>Geschlecht</td>
                <td>{{ user_data['gender']|gender|e }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td> {{ user_data['username']|e }} </td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>{{ user_data['telephone']|e }}</td>
            </tr>
            <tr>
                <td>Mobiltelefon</td>
                <td>{{ user_data['mobile']|e }}</td>
            </tr>
            <tr>
                <td>Straße</td>
                <td>{{ user_data['address']|e }}</td>
            </tr>
            <tr>
                <td>Adresszusatz</td>
                <td>{{ user_data['address_supplement']|e }}</td>
            </tr>
            <tr>
                <td>Stadt</td>
                <td>{{ user_data['postal_code']|e }} {{ user_data['location']|e }}</td>
            </tr>
            <tr>
                <td>Land</td>
                <td>{{ user_data['country']|e }}</td>
            </tr>
        </table>
        <div>
            {{ util.input_submit(value="Anmelden") }}
        </div>
    </form>
{% endblock %}
