{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block jquery %}{{ util.jquery_preamble() }}{% endblock %}
{% block javascripthint %}{{ util.javascript_hint() }}{% endblock %}
{% block title %}Anmeldungen ({{ event_data['title']|e }}){% endblock %}
{% block content %}
    <h3>Standardabfragen</h3>
    {% with TITLES = {
        "all": "Alle Anmeldungen",
        "minors": "Minderjährige",} %}

        <div>
            {{ util.place_default_queries("event/registration_query_result", default_queries, TITLES) }}
        </div>
    {% endwith %}

    <h3>Suchmaske</h3>
    {{ titles.update({
        "reg.id": "ID",
        "reg.notes": "Anmerkungen",
        "reg.orga_notes": "Orga-Notizen",
        "reg.payment": "Teilnehmerbeitrag",
        "reg.parental_agreement": "Einverständniserklärung",
        "reg.mixed_lodging": "Gemischte Unterbringung",
        "reg.checkin": "Checkin",
        "reg.foto_consent": "Foto-Einwilligung",
        "membership.is_member": "CdE-Mitglied",
        "persona.username": "Email",
        "user_data.family_name": "Nachname",
        "user_data.given_names": "Vorname",
        "persona.display_name": "Rufname",
        "user_data.title": "Titel",
        "user_data.name_supplement": "Namenszusatz",
        "user_data.gender": "Geschlecht",
        "user_data.birthday": "Geburtstag",
        "user_data.telephone": "Telefon",
        "user_data.mobile": "Mobilfunk",
        "user_data.address": "Anschrift",
        "user_data.address_supplement": "Adresszusatz",
        "user_data.postal_code": "PLZ",
        "user_data.location": "Ort",
        "user_data.country": "Land",})|e }}

    <form action="{{ cdedblink('event/registration_query_result')|e }}" method="GET" id="registrationqueryform">
        <div>
            {{ util.input_submit(value="Suchen") }}
            {{ util.input_submit(value="CSV-Datei", name="CSV") }}
            {{ util.format_query(spec, titles, choices) }}
            {{ util.input_submit(value="Suchen") }}
            {{ util.input_submit(value="CSV-Datei", name="CSV") }}
        </div>
    </form>

    <h3>Aktionen</h3>
    <p>
        <input type="button" value="Alle auswählen" id="action_select_all" class="jsEnabled" disabled>
        <input type="button" value="Alle abwählen" id="action_select_none" class="jsEnabled" disabled>
        <input type="button" value="Auswahl umkehren" id="action_select_invert" class="jsEnabled" disabled>
    </p>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".jsEnabled").prop('disabled', false);
            $("#action_select_all").click(function (){
                 $(".outputSelector").prop('checked', true);
                 });
            $("#action_select_none").click(function (){
                 $(".outputSelector").prop('checked', false);
                 });
            $("#action_select_invert").click(function (){
                 $(".outputSelector").each(function (){
                     $(this).prop('checked', !$(this).prop('checked'));
                 })});
        });
    </script>
{% endblock %}
