{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}{{ ambience['course']['title']|e }} ({{ ambience['event']['title']|e }}){% endblock %}
{% block content %}
    {% if ambience['event']['id'] in user.orga or is_admin %}
        {{ util.href(cdedblink('event/change_course_form'), "Bearbeiten", readonly=is_locked) }}
        {{ util.href(cdedblink('event/manage_attendees_form'), "Kursteilnehmer verwalten", readonly=is_locked) }}
    {% endif %}
    <p>Kursleiter: {{ ambience['course']['instructors']|e }}</p>
    <p>{{ ambience['course']['description']|e }}</p>
    {% if ambience['event']['id'] in user.orga or is_admin %}
        <h2>Teilnehmer</h2>
        {% for part_id in ambience['course']['parts']|sort %}
            <h3>{{ ambience['event']['parts'][part_id]['title']|e }}</h3>
            <ul>
                {% for registration_id in attendees[(ambience['course']['id'], part_id)] %}
                    <li>
                        {{ personas[registrations[registration_id]['persona_id']]['given_names']|e }}
                        {{ personas[registrations[registration_id]['persona_id']]['family_name']|e }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
