{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block event_navigation %}{{ event_navigation_gen(unfold=True) }}{% endblock %}
{% block title %}{{ event_data['title']|e }}{% endblock %}
{% block content %}
    {% if event_data['id'] in user.orga or is_admin %}
        {{ util.href(cdedblink('event/event_config'), "Konfiguration") }}
        {{ util.href(cdedblink('event/create_course_form'), "Kurs hinzufügen", disabled=locked) }}
    {% endif %}
    <p>{{ event_data['description']|e }}</p>
    {% if event_data['is_open'] %}
        {{ util.href(cdedblink("event/register"), "Zur Anmeldung", disabled=locked) }}
    {% endif %}
    {% if course_data %}
        <h2>Kurse</h2>
        <ul>
            {% for anid, entry in course_data|dictsort %}
                <li>
                    {{ util.href(cdedblink('event/show_course', {'course_id' : anid}),
                                 "{} -- {}".format(entry['nr'], entry['title'])) }}
                    {% if event_data['id'] in user.orga or is_admin %}
                        {{ util.href(cdedblink('event/change_course_form', {'course_id' : anid}), "Bearbeiten",
                                     disabled=locked) }}
                    {% endif %}
                    <p>Kursleiter: {{ entry['instructors']|e }}</p>
                    <p>{{ entry['description']|e }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if event_data['is_open'] %}
        {{ util.href(cdedblink("event/register"), "Zur Anmeldung", disabled=locked) }}
    {% endif %}
{% endblock %}
