{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}{{ data['given_names']|e }} {{ data['family_name']|e }}{% endblock %}
{% block content %}
    <h1>{{ data['given_names']|e }} {{ data['family_name']|e }}</h1>
    {% if data['id'] == user.persona_id or is_admin %}
        <p>
            <a href="{{ cdedblink('event/change_user_form') }}">Bearbeiten</a>
        </p>
    {% endif %}
    <table>
        <tr> <th colspan="2">Person</th> </tr>
        <tr>
            <td>Name</td>
            <td>{{ data['title']|e }} {{ data['given_names']|e }} {{ data['family_name']|e }} {{ data['name_supplement']|e }}</td>
        </tr>
        <tr>
            <td>Rufname</td>
            <td>{{ data['display_name']|e }}</td>
        </tr>
        <tr>
            <td>Geburtstag</td>
            <td>{{ data['birthday']|e }}</td>
        </tr>
        <tr>
            <td>Geschlecht</td>
            <td>{{ data['gender']|gender|e }}</td>
        </tr>
        <tr>
            <td>CdEDB-ID</td>
            <td>{{ data['id']|cdedbid|e }}</td>
        </tr>
        <tr> <th colspan="2">Kontakt</th> </tr>
        <tr>
            <td>Email</td>
            <td>
                {{ data['username']|e }}
                {% if is_admin and values['id'] != user.persona_id %}
                    <a href="{{ cdedblink('core/admin_username_change_form') }}">Email ändern</a>
                {% else %}
                    <a href="{{ cdedblink('core/change_username_form') }}">Email ändern</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>{{ data['telephone']|e }}</td>
        </tr>
        <tr>
            <td>Mobiltelefon</td>
            <td>{{ data['mobile']|e }}</td>
        </tr>
        <tr> <th colspan="2">Adresse</th> </tr>
        <tr>
            <td>Straße</td>
            <td>{{ data['address']|e }}</td>
        </tr>
        <tr>
            <td>Adresszusatz</td>
            <td>{{ data['address_supplement']|e }}</td>
        </tr>
        <tr>
            <td>Stadt</td>
            <td>{{ data['postal_code']|e }} {{ data['location']|e }}</td>
        </tr>
        <tr>
            <td>Land</td>
            <td>{{ data['country']|e }}</td>
        </tr>
        <tr>
            <td>CdE-Wolken-Zugriff</td>
            <td>
                {% if data['cloud_account'] %}
                    {{ util.checkbox_checked() }}
                {% else %}
                    {{ util.checkbox_unchecked() }}
                {% endif %}
            </td>
        </tr>
    </table>

    {% if data['id'] == user.persona_id or is_admin %}
        <p>
            <a href="{{ cdedblink('event/change_user_form') }}">Bearbeiten</a>
        </p>
    {% endif %}
    {% if is_admin %}
        <form action="{{ cdedblink('core/admin_password_reset', {'persona_id' : data['id']}) }}" method="POST" id="adminpasswordresetform">
            {{ util.input_submit(value="Passwort zurücksetzen") }}
        </form>
    {% endif %}
{% endblock %}
