{% set sidenav_active='event_stats' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Teilnehmer-Übersicht {{ ambience['event']['title']|e }}{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), "Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="blackboard") }}
{{ util.breadcrumb_link(cdedblink("event/stats"), "Teilnehmer-Statistik", active=True) }}
{% endblock %}
{% block content %}
    <h2>Statistik</h2>
        {% with HEADINGS = {
            'total': "Anmeldungen gesamt",
            'pending': "Offene Anmeldungen",
            'participant': "Teilnehmer",
            ' u18': "U18",
            ' u16': "U16",
            ' u14': "U14",
            ' checked in': "Eingecheckt",
            ' not checked in': "Noch nicht da",
            ' orgas': "Orgas",
            ' instructors': "Kursleiter",
            ' attendees': "Kursteilnehmer",
            ' first choice': "Erstwahl zugeteilt",
            ' second choice': "Zweitwahl zugeteilt",
            ' third choice': "Drittwahl zugeteilt",
            'waitlist': "Wareliste",
            'guest': "Gast",
            'cancelled': "Abgemeldet",
            'rejected': "Abgelehnt."
        } %}
            <table>
                <tr>
                    <th>Angabe</th>
                    <th></th>
                    {% for part_id, part in ambience['event']['parts']|dictsort %}
                        <th>{{ part['title']|e }}</th>
                    {% endfor %}
                </tr>
                {% for key, row in statistics.items() %}
                    <tr>
                        {% if key.startswith(" ") %}
                            <th></th>
                            <th>{{ HEADINGS.get(key, key)|e }}</th>
                        {% else %}
                            <th colspan="2">{{ HEADINGS.get(key, key)|e }}</th>
                        {% endif %}
                        {% for part_id, datum in row|dictsort %}
                            <td>{{ datum|e }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endwith %}
    {% for key, course_only, heading in (
        ('not payed', False, "Unbezahlte Anmeldungen"),
        ('pending', False, "Offene Anmeldungen"),
        ('no parental agreement', False, "Einverständniserklärung fehlt"),
        ('no lodgement', False, "Ohne Unterkunft"),
        ('no course', True, "Ohne Kurs"),
        ('wrong choice', True, "Ungewählter Kurs zugeteilt"),) %}
        {% if not course_only or courses %}
            <h2>{{ heading|e }}</h2>
            {% for part_id, part in ambience['event']['parts']|dictsort %}
                <h3>{{ part['title']|e }} -- {{ listings[key][part_id]|length|e }}
                    Anmeldung{{ listings[key][part_id]|length|numerus("", "en")|e }} </h3>
                {% if 3*(listings[key][part_id]|length) < registrations|length %}
                    <ul>
                        {% for registration_id in listings[key][part_id] %}
                            <li>
                                {% with ud = personas[registrations[registration_id]['persona_id']] %}
                                    {{ util.href(cdedblink("event/show_registration",
                                                           {'registration_id': registration_id}),
                                                 "{} {}".format(ud['given_names'], ud['family_name'])) }}
                                {% endwith %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Mindestens ein Drittel -- wir sparen uns die Liste.
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
