{% set sidenav_active='event_log' %}
{% extends "web/de/event/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}
Veranstaltungen -- Logs ({{ values['start']|int|e }}--{{ (values['start']|int + log|length)|e }})
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Zeitstempel</th>
            <th>Code</th>
            <th>Verantwortlich</th>
            <th>Veranstaltung</th>
            <th>Betroffen</th>
            <th>Zusatz</th>
        </tr>
        {% for entry in log %}
            <tr>
                <td>{{ entry['ctime']|datetime|e }}</td>
                <td>{{ gettext(enums['EventLogCodes'](entry['code'])|string)|e }}</td>
                <td>
                    {% if entry['submitted_by'] %}
                        {{ personas[entry['submitted_by']]['given_names']|e }}
                        {{ personas[entry['submitted_by']]['family_name']|e }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if entry['event_id'] %}
                        {{ events[entry['event_id']]['title']|e }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if entry['persona_id'] %}
                        {{ personas[entry['persona_id']]['given_names']|e }}
                        {{ personas[entry['persona_id']]['family_name']|e }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ entry['additional_info']|e }}</td>
            </tr>
        {% endfor %}
    </table>
    <form action="{{ cdedblink('event/view_log')|e }}" method="GET" id="logshowform">
        <div>
            {# jinja does not support list comprehension ... #}
            {% set myentries = [] %}
            {% for code in enums['EventLogCodes'] %}
                {{ myentries.append((code.value, gettext(code|string)))|e }}
            {% endfor %}
            {{ util.form_input_checkboxes("codes", label="Kategorien", info="Keine Auswahl entspricht allem.",
                                     entries=myentries) }}
            {# jinja does not support list comprehension ... #}
            {% set myentries = [] %}
            {% for event_id, title in all_events|dictsort %}
                {{ myentries.append((event_id, title))|e }}
            {% endfor %}
            {{ util.form_input_select(name="event_id", label="Veranstaltung", nulloption=True, entries=myentries) }}
            {{ util.form_input_text(name="start", label="Anfang") }}
            {{ util.form_input_text(name="stop", label="Ende") }}
            {{ util.form_input_submit(value="Anzeigen") }}
        </div>
    </form>
{% endblock %}
