{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans given_names=values['given_names']|e, family_name=values['family_name']|e -%}
        Edit {{ given_names }} {{ family_name }}
    {%- endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(show_user_link(values['id']), values['given_names'] + " " + values['family_name'],
            icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/admin_change_user_form"), gettext("Edit Userdata"), active=True) }}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function() {
            $('#changedataform').cdedbProtectChanges();
        });
    </script>
    <form action="{{ cdedblink('core/admin_change_user')|e }}" method="POST" id="changedataform"
        class="form-horizontal">
        {{ util.input_hidden(name="generation") }}
        {{ util.form_input_textarea(name="change_note", label=gettext("Changenotes")) }}
        <h4 class="heading-underline">Person</h4>
        {{ util.form_input_text(name="title", label=gettext("Title")) }}
        {{ util.form_input_text(name="given_names", label=gettext("Given Names")) }}
        {{ util.form_input_text(name="family_name", label=gettext("Family Name")) }}
        {% if values['is_cde_realm'] and 'cde' in admin_bits %}
            {{ util.form_input_text(name="birth_name", label=gettext("Birth Name")) }}
        {% endif %}
        {{ util.form_input_text(name="name_supplement", label=gettext("Name Affix")) }}
        {{ util.form_input_text(name="display_name", label=gettext("First Given Name")) }}
        {% if (values['is_cde_realm'] or values['is_event_realm']) and 'event' in admin_bits %}
            {{ util.form_input_select(name="gender", entries=enums['Genders']|enum_entries(processing=gettext),
                                      label=gettext("Gender")) }}
            {{ util.form_input_text(name="birthday", label=gettext("Birthday"), placeholder="YYYY-MM-DD", type="date") }}
        {% endif %}

        <h4 class="heading-underline">Account</h4>
        {% if values['is_cde_realm'] and 'cde' in admin_bits %}
            {{ util.form_input_checkbox(name="is_searchable", label=gettext("Searchable")) }}
            {{ util.form_input_checkbox(name="bub_search", label=gettext("Searchable for BuB")) }}
        {% endif %}
        {{ util.form_input_textarea(name="notes", label=gettext("Admin-Notes"), rows="7",
                                    info=gettext("Visible to all Admins, supports reStructuredText")) }}

        <h4 class="heading-underline">Kontakt</h4>
        {{ util.form_input_static(label="E-Mail", value=values['username']) }}
        {% if (values['is_cde_realm'] or values['is_event_realm']) and 'event' in admin_bits %}
            {{ util.form_input_text(name="telephone", label=gettext("Phone")) }}
            {{ util.form_input_text(name="mobile", label=gettext("Mobilephone")) }}
        {% endif %}
        {% if values['is_cde_realm'] and 'cde' in admin_bits %}
            {{ util.form_input_text(name="weblink", label=gettext("WWW")) }}
        {% endif %}

        {% if (values['is_cde_realm'] or values['is_event_realm']) and 'event' in admin_bits %}
            <h4 class="heading-underline">{% trans -%}Address{%- endtrans %}</h4>
            {{ util.form_input_text(name="address", label=gettext("Street")) }}
            {{ util.form_input_text(name="address_supplement", label=gettext("Address Supplement")) }}
            {{ util.form_input_text(name="postal_code", label=gettext("Zipcode")) }}
            {{ util.form_input_text(name="location", label=gettext("City")) }}
            {{ util.form_input_text(name="country", label=gettext("Country")) }}
        {% endif %}
        {% if values['is_cde_realm'] and 'cde' in admin_bits %}
            <h4 class="heading-underline">{% trans -%}Second Address{%- endtrans %}</h4>
            {{ util.form_input_text(name="address2", label=gettext("Street")) }}
            {{ util.form_input_text(name="address_supplement2", label=gettext("Address Supplement")) }}
            {{ util.form_input_text(name="postal_code2", label=gettext("Zipcode")) }}
            {{ util.form_input_text(name="location2", label=gettext("City")) }}
            {{ util.form_input_text(name="country2", label=gettext("Country")) }}
        {% endif %}

        {% if values['is_cde_realm'] and 'cde' in admin_bits %}
            <h4 class="heading-underline">{% trans -%}Miscellaneous{%- endtrans %}</h4>
            {{ util.form_input_textarea(name="specialisation", label=gettext("Specialisation")) }}
            {{ util.form_input_textarea(name="affiliation", label=gettext("School, University, …")) }}
            {{ util.form_input_textarea(name="timeline", label=gettext("Year(s) of Graduation")) }}
            {{ util.form_input_textarea(name="interests", label=gettext("Interests")) }}
            {{ util.form_input_textarea(name="free_form", label=gettext("Miscellaneous"), rows="5",
                                        info=gettext("Supports reStructuredText")) }}
        {% endif %}

        {{ util.form_input_submit(value=gettext("Save"), cancellink=show_user_link(values['persona_id'])) }}
    </form>
{% endblock %}
