{% set sidenav_active='core_mydata' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans %}
    	Change Password
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(show_user_link(user, user['persona_id']), user['given_names'] + " " + user['family_name'],
            icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/change_password_form"), gettext("Change Password"), active=True) }}
{% endblock %}
{% block content %}
    <p>
        {% trans %}
            There are no hard criteria for your new password, as we are using the zxcvbn library to evaluate the
            actual strength of password. Numerals, Uppercase letters, and Special characters aren’t required.
            For example, you can use a randomized string of 8 characters, but it is also fine to use two words that
            aren’t too common. This form will provide feedback to help you chose a better password if your new password
            is too weak.
        {% endtrans %}
    </p>

    <form action="{{ cdedblink('core/change_password') }}" method="POST" id="passwordchangeform"
            class="form-horizontal">
        {{ util.anti_csrf_token('core/change_password') }}
        {{ util.form_input_text(name="old_password", label=gettext("Old Password"), type="password",
                                attributes='autocomplete="current-password"') }}
        {{ util.form_input_text(name="new_password", label=gettext("New Password"), type="password",
                                attributes='autocomplete="new-password"') }}
        {{ util.form_input_text(name="new_password2", label=gettext("Confirm new Password"), type="password",
                                attributes='autocomplete="new-password"') }}
        {{ util.form_input_submit(value=gettext("Confirm"), cancellink=show_user_link(user, user['persona_id'])) }}
    </form>
{% endblock %}
