{% set sidenav_active='core_mydata'%}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans %}
    	Edit Your Data
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(show_user_link(user, values['id']), values['given_names'] + " " + values['family_name'],
            icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/change_user_form"), gettext("Edit Your Data"), active=True) }}
{% endblock %}
{% block content %}
    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#changedataform').cdedbProtectChanges();
        });
    </script>
    <form action="{{ cdedblink('core/change_user') }}" method="POST" id="changedataform" class="form-horizontal">
        {{ util.anti_csrf_token('core/change_user') }}
        {{ util.input_hidden(name="generation") }}

        <h4 class="heading-underline">{% trans %}Personal Information{% endtrans %}</h4>
        {{ util.form_input_text(name="title", label=gettext("Title_[[of a persona]]")) }}
        {{ util.form_input_text(name="given_names", label=gettext("Given Names")) }}
        {{ util.form_input_text(name="family_name", label=gettext("Family Name")) }}
        {% if "birth_name" in shown_fields %}
            {{ util.form_input_text(name="birth_name", label=gettext("Birth Name")) }}
        {% endif %}
        {{ util.form_input_text(name="name_supplement", label=gettext("Name Affix")) }}
        {{ util.form_input_text(name="display_name", label=gettext("First Given Name")) }}

        {% if "paper_expuls" in shown_fields and values['is_member'] %}
            <h4 class="heading-underline">{% trans %}Membership{% endtrans %}</h4>
            {{ util.form_input_checkbox(name="paper_expuls", label=gettext("Printed exPuls"),
                                        info=gettext("The exPuls is published semi-anually printed and online. "
                                                     "You can find further information about the online version at %(link)s.")|format(
                                                     link=util.href(cdedblink('cde/view_misc'),
                                                                    (gettext("Members") + " / " +
                                                                     gettext("Miscellaneous"))))|s) }}
        {% endif %}

        <h4 class="heading-underline">{% trans %}Contact Information{% endtrans %}</h4>
        {{ util.form_input_static(label=gettext("E-Mail"), value=username,
                info=gettext("To Change Your email address, use the button on Your Profile Page.")) }}
        {% if "telephone" in shown_fields or "mobile" in shown_fields %}
            {{ util.form_input_text(name="telephone", label=gettext("Phone"), type="tel") }}
            {{ util.form_input_text(name="mobile", label=gettext("Mobile Phone"), type="tel") }}
        {% endif %}
        {% if "weblink" in shown_fields %}
            {{ util.form_input_text(name="weblink", label=gettext("WWW"), info=util.markdownhint) }}
        {% endif %}

        {% if "address" in shown_fields %}
            <h4 class="heading-underline">{% trans %}Address{% endtrans %}</h4>
            {% if "paper_expuls" in shown_fields %}
                <p>
                {% trans %}
                    This should be your primary address. The exPuls will be sent here.
                {% endtrans %}
                </p>
            {% endif %}
            {{ util.form_input_text(name="address", label=gettext("Street, Nr.")) }}
            {{ util.form_input_text(name="address_supplement", label=gettext("Address Supplement")) }}
            {{ util.form_input_text(name="postal_code", label=gettext("Zipcode")) }}
            {{ util.form_input_text(name="location", label=gettext("City")) }}
            {{ util.form_input_select(name="country", label=gettext("Country"), entries=COUNTRY_CODES,
                                      defaultvalue="{{ DEFAULT_COUNTRY }}") }}
        {% endif %}
        {% if "address2" in shown_fields %}
            <h4 class="heading-underline">{% trans %}Second Address{% endtrans %}</h4>
            <p>
            {% trans %}
                This address is meant to be a “backup”, should the primary address not work. Please give an address where
                you can be reached long-term, e.g. your parents' address.
            {% endtrans %}
            </p>
            {{ util.form_input_text(name="address2", label=gettext("Street, Nr.")) }}
            {{ util.form_input_text(name="address_supplement2", label=gettext("Address Supplement")) }}
            {{ util.form_input_text(name="postal_code2", label=gettext("Zipcode")) }}
            {{ util.form_input_text(name="location2", label=gettext("City")) }}
            {{ util.form_input_select(name="country2", label=gettext("Country"), entries=COUNTRY_CODES,
                                      defaultvalue="{{ DEFAULT_COUNTRY }}") }}
        {% endif %}
        {% if "specialisation" in shown_fields %}
            <h4 class="heading-underline">{% trans %}Miscellaneous{% endtrans %}</h4>
            {{ util.form_input_textarea(name="specialisation", label=gettext("Specialisation"),
                                        info=util.markdownhint) }}
            {{ util.form_input_textarea(name="affiliation", label=gettext("School, University, …"),
                                        info=util.markdownhint) }}
            {{ util.form_input_textarea(name="timeline", label=gettext("Year(s) of Graduation"),
                                        info=util.markdownhint) }}
            {{ util.form_input_textarea(name="interests", label=gettext("Interests"), info=util.markdownhint) }}
            {{ util.form_input_textarea(name="free_form", label=gettext("Miscellaneous"), rows="5",
                                        info=util.markdownhint) }}
        {% endif %}
        {{ util.form_input_submit(value=gettext("Save"), cancellink=show_user_link(user, user.persona_id), differentiate_warnings=True) }}
    </form>
{% endblock %}
