{% set sidenav_active='core_mydata' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans %}
    	Change Your Email Address
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(show_user_link(user, user['persona_id']), user['given_names'] + " " + user['family_name'],
                            icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/change_username_form"), gettext("Change Email Address"), active=True) }}
{% endblock %}
{% block content %}
    <p>
        {% trans %}
        	To change Your email address, You will have to confirm Your new email address by clicking a link in the
            verification mail sent to the new E-Mail.
        {% endtrans %}
    </p>

    <form action="{{ cdedblink('core/send_username_change_link') }}" method="GET" id="usernamechangeform"
            class="form-horizontal">
        {{ util.form_input_text(name="new_username", label=gettext("New Email Address"), type="email",
                                attributes='autocomplete="email"') }}
        {{ util.form_input_submit(value=gettext("Send verification mail")) }}
    </form>
{% endblock %}
