{% set sidenav_active='core_mydata' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}Passwort ändern{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(show_user_link(user['persona_id']), user['given_names'] + " " + user['family_name'],
            icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/change_password_form"), "Passwort ändern", active=True) }}
{% endblock %}
{% block content %}
    <p>
        Das neue Passwort muss mindestens zwölf Zeichen lang sein, sowie
        drei verschiedene Zeichenklassen enthalten (aus vier möglichen,
        nämlich: Kleinbuchstaben, Großbuchstaben, Ziffern und Sonstige);
        außerdem gibt es einige triviale Zeichenketten die nicht auftauchen
        dürfen.
    </p>

    <form action="{{ cdedblink('core/change_password')|e }}" method="POST" id="passwordchangeform"
            class="form-horizontal">
        {{ util.form_input_text(name="old_password", label="Altes Passwort:", type="password") }}
        {{ util.form_input_text(name="new_password", label="Neues Passwort:", type="password") }}
        {{ util.form_input_text(name="new_password2", label="Wiederholung:", type="password") }}
        {{ util.form_input_submit(value="Ändern", cancellink=show_user_link(user['persona_id'])) }}
    </form>
{% endblock %}
