{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans %}
    	Set New Password
    {% endtrans %}
{% endblock %}
{% block content %}
    <p>
        {% trans %}
        	You can reset Your Password here. Then You can use the new Password to login.
        {% endtrans %}
    </p>
    <p>
        {% trans %}
            There are no hard criteria for your new password, as we are using the zxcvbn library to evaluate the
            actual strength of password. Numerals, Uppercase letters, and Special characters aren’t required.
            For example, you can use a randomized string of 8 characters, but it is also fine to use two words that
            aren’t too common. This form will provide feedback to help you chose a better password if your new password
            is too weak.
        {% endtrans %}
    </p>

    <form action="{{ cdedblink('core/do_password_reset') }}" method="POST" id="passwordresetform"
            class="form-horizontal">
        {{ util.anti_csrf_token('core/do_password_reset') }}
        <div>
            {{ util.input_hidden(name="email") }}
            {{ util.input_hidden(name="cookie") }}
            {{ util.form_input_text(name="new_password", type="password", label=gettext("New Password"), small=True,
                                    attributes='autocomplete="new-password"'|s) }}
            {{ util.form_input_text(name="new_password2", type="password", label=gettext("Confirm new Password"),
                                    small=True, attributes='autocomplete="new-password"'|s) }}
            {{ util.form_input_submit(value=gettext("Reset Password"), small=True) }}
        </div>
    </form>
{% endblock %}
