{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}Neues Passwort setzen{% endblock %}
{% block content %}
    <p>
        Hier kannst Du ein neues Passwort für die CdE-Datenbank eingeben. Anschließend kannst Du Dich mit deinem neuen
        Passwort einloggen.
    </p>
    <p>
        Das neue Passwort muss mindestens zwölf Zeichen lang sein, sowie
        drei verschiedene Zeichenklassen enthalten (aus vier möglichen,
        nämlich: Kleinbuchstaben, Großbuchstaben, Ziffern und Sonstige);
        außerdem gibt es einige triviale Zeichenketten die nicht auftauchen
        dürfen.
    </p>

    <form action="{{ cdedblink('core/do_password_reset')|e }}" method="POST" id="passwordresetform"
            class="form-horizontal">
        <div>
            {{ util.input_hidden(name="email") }}
            {{ util.input_hidden(name="cookie") }}
            {{ util.form_input_text(name="new_password", type="password", label="Neues Passwort", small=True) }}
            {{ util.form_input_text(name="new_password2", type="password", label="Wiederholung", small=True) }}
            {{ util.form_input_submit(value="Passwort zurücksetzen", small=True) }}
        </div>
    </form>
{% endblock %}
