{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans %}
    	Change Your Email Address
    {% endtrans %}
{% endblock %}
{% block content %}
    <p>
        {% trans email=raw_email %}
        	Enter Your Password and click “Confirm” to change Your E-Mail-Address to <code>{{ email }}</code>.
            Aftwerwards you need to user Your new email address to login.
        {% endtrans %}
    </p>

    <form action="{{ cdedblink('core/do_username_change') }}" method="POST" id="usernamechangeform"
          class="form-horizontal">
        {{ util.anti_csrf_token('core/do_username_change') }}
        {{ util.input_hidden(name="new_username") }}
        {{ util.form_input_text(name="password", type="password", label=gettext("Password"),
                                attributes='autocomplete="current-password"'|s) }}
        {{ util.form_input_submit(value=gettext("Confirm")) }}
    </form>
{% endblock %}
