{% set sidenav_active='defect_addresses' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% block title %}
    {% trans %}Defect Addresses{% endtrans %}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("core/email_status_overview"), gettext("Defect Addresses"), active=True) }}
{% endblock %}

{% block content %}
    <div class="col-md-12">
    {% call util.bootstrap_panel(title=gettext("Add defect email address"), icon='at',
                                 anid="adminshowuser-box") %}
        <form action="{{ cdedblink('core/set_email_status') }}" method="POST" id="setemailstatusform">
            {{ util.anti_csrf_token('core/set_email_status') }}
            {{ util.form_input_text('address', gettext('Email address')) }}
            {{ util.form_input_textarea('notes', gettext('Notes')) }}
            {{ util.input_hidden('status', value=enums['EmailStatus'].defect.value) }}
            {{ util.form_input_submit(gettext('Add')) }}
        </form>
    {% endcall %}
    </div>
    {% for status in enums['EmailStatus'].notable_states() %}
        <h2>{{ gettext(status|string) }}</h2>
        <ul>
            {% for address, infos in email_reports.items() if infos.status == status %}
                <li class="hide-hover-container clearfix-after" id="emailstatus-{{ get_hash(address.encode('utf-8')) }}">
                    {{ address }}
                    {% if infos.user_id or infos.subscriber_id %}
                        {% if (infos.user_id or infos.subscriber_id) == (infos.subscriber_id or infos.user_id) %}
                            {# Only one persona connected in this case. #}
                            ({{ util.persona_anchor(personas[infos.user_id or infos.subscriber_id]) }})
                        {% else %}
                            {# Strange case with two different personas connected. #}
                            ({{ util.persona_anchor(personas[infos.user_id]) }} /
                             {{ util.persona_anchor(personas[infos.subscriber_id]) }})
                        {% endif %}
                    {% endif %}
                    <br />
                    <form action="{{ cdedblink('core/delete_email_status') }}"
                              method="POST"
                              id="modifyemailstatus{{ get_hash(address.encode('utf-8')) }}"
                              class="hide-hover display-inline">
                        {{ util.anti_csrf_token('core/delete_email_status') }}
                        {{ util.input_hidden(name="address", value=address) }}
                        <div class="button-par">
                            {{ util.input_submit(label=gettext('Delete'), icon='trash-alt', value='discard',
                                                 name="action", aclass=("btn btn-sm btn-danger")) }}
                        </div>
                    </form>
                    {% if infos.notes or infos.user_id or infos.subscriber_id %}
                        <details>
                            <summary>{% trans %}Details{% endtrans %}</summary>
                            {% if infos.user_id or infos.subscriber_id %}
                                <ul>
                                    {% if infos.user_id %}
                                        <li>
                                            {{ util.persona_anchor(personas[infos.user_id]) }} {% trans %}as username{% endtrans %}
                                        </li>
                                    {% endif %}
                                    {% if infos.subscriber_id %}
                                        <li>
                                            {{ util.persona_anchor(personas[infos.subscriber_id]) }}
                                            {% trans %}as explicit subscription to{% endtrans %}
                                            {% for ml_id in infos.ml_ids -%}
                                                {{ util.href(cdedblink("ml/show_mailinglist", {'mailinglist_id': ml_id}), mls[ml_id].title) }}
                                                {%- if not loop.last %}, {% endif -%}
                                            {% endfor -%}
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            {% if infos.notes %}
                                <span class="text-muted small">{{ infos.notes }}</span>
                            {% endif %}
                        </details>
                    {% endif %}
                </li>
            {% else %}
                <li class="text-muted">
                    {% trans %}There are currently no addresses in this category.{% endtrans %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
