{% set sidenav_active='core_genesis_list' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans %}
    	Account Requests
    {% endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("core/genesis_list_cases"), gettext("Account Requests"), active="True") }}
{% endblock %}
{% block content %}
    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('.rejection-form').cdedbProtectAction("{{ gettext("The Account Request will be permanently deleted.") }}");
        });
    </script>
    {% with REALM_REQUEST_TITLES={'event': gettext('Event Account Requests'),
                                  'cde': gettext('CdE Account Requests'),
                                  'assembly': gettext('Assembly Account Requests'),
                                  'ml': gettext('Mailinglist Account Requests')} %}
        {% for realm, cases in cases_by_realm.items() %}
            <h3>{{ REALM_REQUEST_TITLES[realm] }}</h3>
            {% for genesis_case_id, entry in cases|keydictsort(EntitySorter.genesis_case) %}
                <div class="row" id="request-{{ genesis_case_id }}">
                    <div class="col-sm-3">
                        <p>
                            {{ entry['given_names'] }} {{ entry['family_name'] }}
                            &lt;{{ util.href(util.mailto(entry['username']), entry['username']) }}&gt;
                        </p>
                    </div>
                    <div class="col-sm-5">
                        {% if entry['notes'] %}<p class="textbox">{{ entry['notes'] }}</p>{% endif %}
                    </div>
                    <div class="col-sm-4 button-par">
                        {{ util.href(cdedblink('core/genesis_show_case', {'genesis_case_id': genesis_case_id}), gettext("Details"),
                            aclass="btn btn-primary btn-sm", icon="user") }}
                        {{ util.href(cdedblink('core/genesis_modify_form', {'genesis_case_id': genesis_case_id}), gettext("Edit"),
                            aclass="btn btn-warning btn-sm", icon="pen") }}
                        {% if realm == 'ml' %}
                            {# For mailinglist genesis requrests, there is no additional information to review (apart from
                              that shown on this page. So we allow admins to accept these requests directly. #}
                            <form action="{{ cdedblink('core/genesis_decide', {'genesis_case_id': genesis_case_id}) }}" method="POST"
                             id="genesismlapprovalform{{ loop.index }}" style="display: inline;">
                                {{ util.anti_csrf_token('core/genesis_decide') }}
                                {{ util.input_hidden(name="genesis_case_id", value=genesis_case_id) }}
                                {{ util.input_hidden(name="case_status", value=enums['GenesisStati'].approved.value) }}
                                {{ util.input_submit(label=gettext("Approve"), aclass="btn btn-sm btn-success") }}
                            </form>
                            <form action="{{ cdedblink('core/genesis_decide', {'genesis_case_id': genesis_case_id}) }}" method="POST"
                             id="genesismlrejectionform{{ loop.index }}" class="rejection-form" style="display: inline;">
                                {{ util.anti_csrf_token('core/genesis_decide') }}
                                {{ util.input_hidden(name="genesis_case_id", value=genesis_case_id) }}
                                {{ util.input_hidden(name="case_status", value=enums['GenesisStati'].rejected.value) }}
                                {{ util.input_submit(label=gettext("Reject"), icon="times-circle",
                                    aclass="btn btn-sm btn-danger") }}
                            </form>
                        {% endif %}
                    </div>
                </div>
                {% if not loop.last %}
                    <hr />
                {% endif %}
            {% else %}
                <div id="no-{{realm}}-request">
                    <p class="text-muted">
                        {% trans realm=REALM_REQUEST_TITLES[realm] %}
                            There are currently no {{ realm }} pending for approval.
                        {% endtrans %}
                    </p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endwith %}
{% endblock %}
