{% set sidenav_active='core_genesis_list' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans given_names=case["given_names"], family_name=case["family_name"] %}
        Account Request of {{ given_names }} {{ family_name }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("core/genesis_list_cases"), gettext("Account Requests")) }}
{{ util.breadcrumb_link(cdedblink("core/genesis_show_case"),
                        gettext("Details of %(given_names)s %(family_name)s")|format(
                            given_names=case["given_names"], family_name=case["family_name"]),
                        active="True", icon="user") }}
{% endblock %}
{% block content %}
    <h4 class="heading-underline">{% trans %}Case Meta-Information{% endtrans %}</h4>
    <dl class="dl-horizontal">
        <dt>{% trans %}Status{% endtrans %}</dt>
        <dd id="status">
            {{ gettext(enums['GenesisStati'](case['case_status'])|string) }}
        </dd>
        <dt>{% trans %}Realm{% endtrans %}</dt>
        <dd id="realm">
            {% with (icon, caption) = {
                        'ml': ('envelope', gettext("Mailinglists")),
                        'event': ('blackboard', gettext("Events")),
                        'cde': ('education', gettext("Members")),
                        'bullhorn': ('education', gettext("Assemblies"))
                    }.get(case['realm']) %}
                {{ util.make_icon(icon) }} {{ caption }}
            {% endwith %}
        </dd>
        <dt>{% trans %}Creation Time{% endtrans %}</dt>
        <dd>
            {{ case['ctime']|datetime(formatstr="%d.%m.%Y %H:%M:%S") }}
        </dd>
        <dt>{% trans %}Rationale{% endtrans %}</dt>
        <dd id="notes">
            {{ case['notes'] }}
        </dd>
        <dt>{% trans %}Reviewer{% endtrans %}</dt>
        <dd id="reviewer">
            {% if reviewer %}
                {{ util.persona_anchor(reviewer) }}
            {% else %}
                —
            {% endif %}
        </dd>
    </dl>

    <h4 class="heading-underline">{% trans %}Persona Information{% endtrans %}</h4>
    <dl class="dl-horizontal">
        <dt>{% trans %}Name{% endtrans %}</dt>
        <dd id="given-names">
            {{ case['given_names'] }} {{ case['family_name'] }}
        </dd>
        {% if case['birth_name'] %}
            <dt>{% trans %}Birth Name{% endtrans %}</dt>
            <dd>{{ case['birth_name'] }}</dd>
        {% endif %}
        {% if case['birthday'] %}
            <dt>{% trans %}Birthday{% endtrans %}</dt>
            <dd id="birthday">{{ case['birthday']|date(lang=lang) }}</dd>
        {% endif %}
        {% if case['gender'] %}
            <dt>{% trans %}Gender{% endtrans %}</dt>
            <dd id="gender">{{ gettext(enums['Genders'](case['gender'])|string) }}</dd>
        {% endif %}
        <dt>{% trans %}E-Mail{% endtrans %}</dt>
        <dd id="username">
            {% if case['username'] %}
                {{ util.username_mailto(case) }}
            {% else %}
                —
            {% endif %}
        </dd>
        {% if case['telephone'] %}
            <dt>{% trans %}Phone{% endtrans %}</dt>
            <dd id="telephone">{{ util.tel_link(case['telephone']) }}</dd>
        {% endif %}
        {% if case['mobile'] %}
            <dt>{% trans %}Mobile Phone{% endtrans %}</dt>
            <dd id="mobile">{{ util.tel_link(case['mobile']) }}</dd>
        {% endif %}
        {% if (case['address'] or case['address_supplement'] or case['postal_code']
                    or case['location'] or case['country']) %}
            <dt>{% trans %}Address{% endtrans %}</dt>
            <dd id="address">
                {{ case['address'] }}{% if case['address'] %}<br />{% endif %}
                {{ case['address_supplement'] }}{% if case['address_supplement'] %}<br />{% endif %}
                {{ case['postal_code'] }} {{ case['location'] }}{% if case['location'] %}<br />{% endif %}
                {{ case['country'] }}
            </dd>
        {% endif %}
        {% if case['attachment'] %}
            {{ util.href(cdedblink("core/genesis_get_attachment", {'attachment': case['attachment']}),
                        gettext("Download Attachment"), aclass="btn btn-info", icon="download") }}
        {% endif %}
    </dl>

    <div class="button-par">
        {% if case['case_status'] == enums['GenesisStati'].to_review %}
            <form action="{{ cdedblink('core/genesis_decide') }}" method="POST"
             id="genesiseventapprovalform" style="display: inline;">
                {{ util.anti_csrf_token('core/genesis_decide') }}
                {{ util.input_hidden(name="case_id", value=case_id) }}
                {{ util.input_hidden(name="case_status", value=enums['GenesisStati'].approved.value) }}
                {{ util.input_submit(value=gettext("Approve"), aclass="btn btn-success") }}
            </form>
            <form action="{{ cdedblink('core/genesis_decide') }}" method="POST"
             id="genesiseventrejectionform" class="rejection-form" style="display: inline;">
                {{ util.anti_csrf_token('core/genesis_decide') }}
                {{ util.input_hidden(name="case_id", value=case_id) }}
                {{ util.input_hidden(name="case_status", value=enums['GenesisStati'].rejected.value) }}
                {{ util.input_submit(icon="ban-circle", value=gettext("Reject"),
                                     aclass="btn btn-danger") }}
            </form>
            {{ util.href(cdedblink('core/genesis_modify_form'), gettext("Edit"),
                aclass="btn btn-warning", icon="pencil") }}
            &emsp;
        {% endif %}
        {{ util.href(cdedblink("core/genesis_list_cases"), gettext("Cancel"),
                     aclass="btn btn btn-default", icon="remove") }}
    </div>
{% endblock %}
