{% set sidenav_active='core_index' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {% if 'core_admin' in user.roles %}{{ util.cdedb_script('cdedb_searchpersona.js') }}{% endif %}
{% endblock %}
{% block title %}
    {% trans -%}
    	CdE-Datenbank
    {%- endtrans %}{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("core/index"), gettext("Index"), active="True") }}
{% endblock %}
{% block content %}
    {% if CDEDB_OFFLINE_DEPLOYMENT %}
        <div class="alert alert-info">
            <p>
                {{ util.make_icon('info-sign') }} <strong>{% trans -%}Info{%- endtrans %}</strong>
                {% trans -%}This is an Offline-Instance of the CdE-DB{%- endtrans %}
            </p>

            <p class=nosp>{# TODO Erklärtext #}</p>
        </div>
    {% endif %}

    {% if meta_info.get('banner_after_login') %}
        {% call util.bootstrap_panel() %}
            {{ meta_info.get('banner_after_login')|md }}
        {% endcall %}
    {% endif %}

    <div class="row">
        {% if 'core_admin' in user.roles %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Manage Users"), aclass="panel-warning", icon='user') %}
                <form action="{{ cdedblink('core/admin_show_user') }}" method="GET" id="adminshowuserform">
                    <div class="sr-only">{% trans -%}Search for Users by ID or Name{%- endtrans %}</div>
                    <div class="input-group">
                        <input type="text" name="phrase" class="form-control" id="input-showuser-id"
                               aria-label="{% trans -%}CdEDB-ID, Name or E-Mail{%- endtrans %}"/>
                        <span class="input-group-btn">
                            {{ util.input_submit("", icon='search', title=gettext("Search")) }}
                        </span>
                    </div>
                </form>
                <script type="text/javascript" nonce="{{ csp_nonce }}">
                    var $i = $('#input-showuser-id');
                    $i.cdedbSearchPerson('{{ (cdedblink('core/select_persona')|e) + ('?kind=admin_persona&phrase=%s'|s) }}', [],
                                         true, false, "{{ gettext("CdEDB-ID, Name or E-Mail") }}");
                    $i.change(function(){$('#adminshowuserform').submit();})
                </script>
            {% endcall %}
            </div>
        {% endif %}

        {% if 'genesis_cases' in dashboard and dashboard['genesis_cases'] > 0 or
              'pending_changes' in dashboard and dashboard['pending_changes'] > 0 %}

            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Account Management"), aclass='panel-info', icon='check') %}
                {% if 'genesis_cases' in dashboard and dashboard['genesis_cases'] > 0 %}
                    <p>
                        {% trans count=dashboard['genesis_cases'],
                                 link=util.href(cdedblink('core/genesis_list_cases'), gettext("Account Requests")) -%}
                        	There are currently {{ count }} {{ link }} to review.
                        {%- endtrans %}
                    </p>
                {% endif %}

                {% if 'pending_changes' in dashboard and dashboard['pending_changes'] > 0 %}
                    <p>
                        {% trans count=dashboard['pending_changes'],
                                 link=util.href(cdedblink('core/list_pending_changes'), gettext("Changes")) -%}
                        	There are currently {{ count }} {{ link }} to review.
                        {%- endtrans %}
                    </p>
                {% endif %}
            {% endcall %}
            </div>
        {% endif %}

        {% if dashboard['orga'] %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Orga-Events"), icon='blackboard', aclass='panel-warning') %}
                <ul class="slim">
                    {% for event_id, event in dashboard['orga']|xdictsort('begin') %}
                        <li>
                            {{ util.href(cdedblink('event/show_event', {'event_id': event_id}), event['title'],
                                    icon='blackboard') }}
                            {% if event['registration_start'] %}
                                <br />
                                {% if event['registration_start'] <= dashboard['present'] %}
                                    {% trans count=event['registrations'] -%}
                                    	{{ count }} Registrations
                                    {%- endtrans %}
                                    {% if not event['registration_hard_limit'] %}
                                        {% trans -%}
                                            (Registration open)
                                        {%- endtrans %}
                                    {% elif event['registration_hard_limit'] >= dashboard['present'] %}
                                        {% trans date=event['registration_hard_limit']|datetime(lang=lang)-%}
                                        	(Registration until {{ date }})
                                        {%- endtrans %}
                                    {% endif %}
                                {% else %}
                                    {% trans date=event['registration_start']|datetime(lang=lang) -%}
                                    	(Registration starts {{ date }})
                                    {%- endtrans %}
                                {% endif %}
                            {% endif %}
                            <br />
                            <span class="small">
                                {{ util.href(cdedblink('event/registration_query', {'event_id': event_id}),
                                             gettext("Registrations"), icon='list') }}
                                &bull;
                                {{ util.href(cdedblink('event/stats', {'event_id': event_id}),
                                             gettext("Statistics"), icon='stats') }}
                                {% if event['tracks'] %}
                                    &bull;
                                    {{ util.href(cdedblink('event/course_stats', {'event_id': event_id}),
                                                 gettext("Courses"), icon='book') }}
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% endcall %}
            </div>
        {% endif %}

        {% if 'moderator' in dashboard %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Moderated Mailinglists"), icon='envelope',
                                         aclass='panel-warning') %}
                <ul class="slim">
                    {% for mailinglist_id, mailinglist in dashboard['moderator']|dictsort %}
                        <li>
                            {{ util.href(cdedblink('ml/show_mailinglist', {'mailinglist_id': mailinglist_id}),
                                         mailinglist['title'], icon='envelope') }}
                            {% if mailinglist['requests'] %}
                                <br />
                                {{ util.href(cdedblink('ml/management', {'mailinglist_id' : mailinglist_id}),
                                             gettext("%(count)s Requests")|format(count=mailinglist['requests'])) }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endcall %}
            </div>
        {% endif %}

        {% if 'events' in dashboard %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Current Events"), icon='blackboard',
                                         aclass='panel-success') %}
                <ul class="slim">
                    {% for event_id, event in dashboard['events']|xdictsort('begin') %}
                        <li>
                            {{ util.href(cdedblink('event/show_event', {'event_id': event_id}), event['title'],
                                         icon='blackboard') }}
                            <br />
                            {{ event['begin']|date(lang=lang) }}&#8239;–&#8239;{{ event['end']|date(lang=lang) }}
                            <br />
                            {% if event['registration'] %}
                                {% trans link=util.href(cdedblink('event/registration_status', {'event_id': event_id}),
                                             gettext("registered")) -%}
                                	(Already {{ link }})
                                {%- endtrans %}
                                {%- if event['use_questionnaire'] %}
                                    &bull;
                                    {{ util.href(cdedblink('event/questionnaire', {'event_id': event_id}),
                                                 gettext("Questionnaire"), icon='edit') -}}
                                {% endif -%}
                            {% elif event['is_open'] %}
                                {{ util.href(cdedblink('event/register_form', {'event_id': event_id}),
                                    gettext("Register"), icon='log-in') }}
                                {% if not event['registration_soft_limit'] is none %}
                                    {% if now() <= event['registration_soft_limit'] %}
                                        {% trans date=event['registration_soft_limit']|datetime(lang=lang) -%}
                                        	(Until {{ date }})
                                        {%- endtrans %}
                                    {% elif event['registration_hard_limit'] %}
                                        {% trans date=event['registration_hard_limit']|datetime(lang=lang) -%}
                                        	(Late Registrations until {{ date }})
                                        {%- endtrans %}
                                    {% else %}
                                        {% trans -%}
                                        	(Only late Registrations possible)
                                        {%- endtrans %}
                                    {% endif %}
                                {% elif not event['registration_hard_limit'] is none %}
                                    {% trans date=event['registration_hard_limit']|datetime(lang=lang) -%}
                                    	(Until {{ date }})
                                    {%- endtrans %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endcall %}
            </div>
        {% endif %}

        {% if 'assemblies' in dashboard %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Current Assemblies"), icon='bullhorn',
                                         aclass='panel-success') %}
                <ul class="slim">
                    {% for assembly_id, assembly in dashboard['assemblies']|dictsort %}
                        <li>
                            {{ util.href(cdedblink('assembly/show_assembly', {'assembly_id': assembly_id}),
                                         assembly['title'], icon='bullhorn') }}
                            <br />
                            {% if assembly['does_attend'] %}
                                {% trans -%}
                                	(Already attending)
                                {%- endtrans %}
                            {% else %}
                                {% trans date=assembly['signup_end']|datetime(lang=lang) -%}
                                	(Registration possible until {{ date }})
                                {%- endtrans %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endcall %}
            </div>
        {% endif %}
    </div>
{% endblock %}
