{% set sidenav_active='core_index' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {% if 'core_admin' in user.roles %}{{ util.cdedb_script('cdedb_searchpersona.js') }}{% endif %}
{% endblock %}
{% block title %}
    {% trans %}
    	CdE-Datenbank
    {% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("core/index"), gettext("Index"), active="True") }}
{% endblock %}

{% block static_notifications %}
    {% if CDEDB_OFFLINE_DEPLOYMENT %}
        {% call util.notification('info') %}
            {% trans %}This is an Offline-Instance of the CdEDB{% endtrans %}
            {# TODO Erklärtext #}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block content %}
    {{ util.meta_info_banner('banner_after_login') }}

    <div class="row">
        {% if "core_user" in user.admin_views %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Manage Users"), icon='users',
                                         aclass="panel-warning", anid="adminshowuser-box") %}
                <form action="{{ cdedblink('core/admin_show_user') }}" method="GET" id="adminshowuserform">
                    <div class="sr-only">{% trans %}Search for Users by ID or Name{% endtrans %}</div>
                    <div class="input-group">
                        <input type="search" name="phrase" class="form-control" id="input-showuser-id"
                               aria-label="{% trans %}CdEDB-ID, Name or E-Mail{% endtrans %}"/>
                        <span class="input-group-btn">
                            {{ util.input_submit("", icon='search', title=gettext("Search")) }}
                        </span>
                    </div>
                </form>
                <script nonce="{{ csp_nonce }}">
                    var $i = $('#input-showuser-id');
                    $i.cdedbSearchPerson('{{ (cdedblink('core/select_persona')|e) + ('?kind=admin_persona&phrase=%s'|s) }}', [],
                                         true, false, "{{ gettext("CdEDB-ID, Name or E-Mail") }}");
                    $i.change(function(){
                        if ($(this).val()) {
                            $('#adminshowuserform').submit();
                        }
                    });
                </script>
            {% endcall %}
            </div>
        {% endif %}

        {% if 'genesis_cases' in dashboard and dashboard['genesis_cases'] > 0 or
              'pending_changes' in dashboard and dashboard['pending_changes'] > 0 or
              'privilege_changes' in dashboard and dashboard['privilege_changes'] > 0 %}

            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Account Management"), icon='check-square',
                                         aclass='panel-info', anid="accountmanangement-box") %}
                {% if 'genesis_cases' in dashboard and dashboard['genesis_cases'] > 0 %}
                    <p>
                        {% trans count=dashboard['genesis_cases'],
                                 link=util.href(cdedblink('core/genesis_list_cases'),
                                                ngettext("account request", "account requests",
                                                         dashboard['genesis_cases'])) -%}
                        	There is currently {{ count }} {{ link }} to review.
                        {%- pluralize -%}
                        	There are currently {{ count }} {{ link }} to review.
                        {% endtrans %}
                    </p>
                {% endif %}

                {% if 'pending_changes' in dashboard and dashboard['pending_changes'] > 0 %}
                    <p>
                        {% trans count=dashboard['pending_changes'],
                                 link=util.href(cdedblink('core/list_pending_changes'),
                                                ngettext("profile change", "profile changes", dashboard['pending_changes'])) -%}
                        	There is currently {{ count }} {{ link }} to review.
                        {%- pluralize -%}
                            There are currently {{ count }} {{ link }} to review.
                        {% endtrans %}
                    </p>
                {% endif %}

                {% if 'privilege_changes' in dashboard and dashboard['privilege_changes'] > 0 %}
                    <p>
                        {% trans count=dashboard['privilege_changes'],
                                 link=util.href(cdedblink('core/list_privilege_changes'),
                                                ngettext("privilege change", "privilege changes",
                                                        dashboard['privilege_changes'])) -%}
                            There is currently {{ count }} {{ link }} to review.
                        {%- pluralize -%}
                            There are currently {{ count }} {{ link }} to review.
                        {% endtrans %}
                    </p>
                {% endif %}
            {% endcall %}
            </div>
        {% endif %}

        {% if dashboard['orga'] %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Orga-Events"), icon='chalkboard-teacher',
                                         aclass='panel-warning', anid="orga-box") %}
                <ul class="slim spaced">
                    {% for event_id, event in dashboard['orga']|keydictsort(EntitySorter.event) %}
                        <li>
                            {{ util.href(cdedblink('event/show_event', {'event_id': event_id}), event['title'],
                                    icon='chalkboard-teacher') }}
                            {% if event['registration_start'] %}
                                <br />
                                {% if event['registration_start'] <= dashboard['present'] %}
                                    {% trans count=event['registrations'] %}
                                    	{{ count }} Registrations
                                    {% endtrans %}
                                    {% if not event['registration_hard_limit'] and not event['registration_soft_limit'] %}
                                        {% trans %}
                                            (Registration open)
                                        {% endtrans %}
                                    {% elif not event['registration_hard_limit'] and event['registration_soft_limit'] and event['registration_soft_limit'] >= dashboard['present'] %}
                                        {% trans date=event['registration_soft_limit']|datetime(lang=lang) %}
                                            (Registration until {{ date }}, late registration open.)
                                        {% endtrans %}
                                    {% elif event['registration_hard_limit'] and event['registration_soft_limit'] and event['registration_soft_limit'] >= dashboard['present'] %}
                                        {% if event['registration_hard_limit'] == event['registration_soft_limit'] %}
                                            {% trans date=event['registration_soft_limit']|datetime(lang=lang) %}
                                                (Registration until {{ date }})
                                            {% endtrans %}
                                        {% else %}
                                            {% trans date=event['registration_soft_limit']|datetime(lang=lang), date2=event['registration_hard_limit']|datetime(lang=lang) %}
                                                (Registration until {{ date }}, late registration until {{ date2 }}.)
                                            {% endtrans %}
                                        {% endif %}
                                    {% elif event['registration_hard_limit'] and event['registration_hard_limit'] >= dashboard['present'] %}
                                        {% trans date=event['registration_hard_limit']|datetime(lang=lang) %}
                                            (Late registration until {{ date }})
                                        {% endtrans %}
                                    {% endif %}
                                {% else %}
                                    {% trans date=event['registration_start']|datetime(lang=lang) %}
                                    	(Registration starts {{ date }})
                                    {% endtrans %}
                                {% endif %}
                            {% endif %}
                            <br />
                            <span class="small">
                                {{ util.href(cdedblink('event/registration_query', {'event_id': event_id}),
                                             gettext("Registrations"), icon='list') }}
                                &bull;
                                {{ util.href(cdedblink('event/stats', {'event_id': event_id}),
                                             gettext("Statistics"), icon='chart-bar') }}
                                {% if event['tracks'] %}
                                    &bull;
                                    {{ util.href(cdedblink('event/course_stats', {'event_id': event_id}),
                                                 gettext("Courses"), icon='book') }}
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% endcall %}
            </div>
        {% endif %}

        {% if 'moderator' in dashboard %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Moderated Mailinglists"), icon='envelope',
                                         aclass='panel-warning', anid='moderator-box') %}
                <ul class="slim spaced">
                    {% for mailinglist_id, mailinglist in dashboard['moderator']|keydictsort(EntitySorter.mailinglist) %}
                        <li>
                            {{ util.href(cdedblink('ml/show_mailinglist', {'mailinglist_id': mailinglist_id}),
                                         mailinglist['title'], icon='envelope') }}
                            {% if mailinglist['mails'] %}
                                <br />
                                {{ util.href(cdedblink('ml/message_moderation', {'mailinglist_id' : mailinglist_id}),
                                             ngettext("%(count)s Mail awating moderation", "%(count)s Mails awaiting moderation",
                                                      mailinglist['mails'])
                                                 |format(count=mailinglist['mails'])) }}
                            {% endif %}
                            {% if mailinglist['requests'] %}
                                <br />
                                {{ util.href(cdedblink('ml/management', {'mailinglist_id' : mailinglist_id}),
                                             ngettext("%(count)s Subscription Request", "%(count)s Subscription Requests",
                                                      mailinglist['requests'])
                                                 |format(count=mailinglist['requests'])) }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endcall %}
            </div>
        {% endif %}

        {% if 'events' in dashboard %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Current Events"), icon='chalkboard-teacher',
                                         aclass='panel-success', anid='event-box') %}
                <ul class="slim spaced">
                    {% for event_id, event in dashboard['events']|keydictsort(EntitySorter.event) %}
                        <li>
                            {{ util.href(cdedblink('event/show_event', {'event_id': event_id}), event['title'],
                                         icon='chalkboard-teacher') }}
                            <br />
                            {{ event['begin']|date(lang=lang) }}&#8239;–&#8239;{{ event['end']|date(lang=lang) }}
                            <br />
                            {% if event['registration'] %}
                                {% trans link=util.href(cdedblink('event/registration_status', {'event_id': event_id}),
                                             gettext("registered")) -%}
                                	(Already {{ link }})
                                {% endtrans %}
                                {%- if event['use_additional_questionnaire'] %}
                                    &bull;
                                    {{ util.href(cdedblink('event/additional_questionnaire', {'event_id': event_id}),
                                                 gettext("Questionnaire"), icon='edit') -}}
                                {% endif -%}
                            {% elif event['is_open'] %}
                                {{ util.href(cdedblink('event/register_form', {'event_id': event_id}),
                                    gettext("Register"), icon='sign-in-alt') }}
                                {% if not event['registration_soft_limit'] is none %}
                                    {% if now() <= event['registration_soft_limit'] %}
                                        {% trans date=event['registration_soft_limit']|datetime(lang=lang) %}
                                        	(Until {{ date }})
                                        {% endtrans %}
                                    {% elif event['registration_hard_limit'] %}
                                        {% trans date=event['registration_hard_limit']|datetime(lang=lang) %}
                                        	(Late Registrations until {{ date }})
                                        {% endtrans %}
                                    {% else %}
                                        {% trans %}
                                        	(Only late Registrations possible)
                                        {% endtrans %}
                                    {% endif %}
                                {% elif not event['registration_hard_limit'] is none %}
                                    {% trans date=event['registration_hard_limit']|datetime(lang=lang) %}
                                    	(Until {{ date }})
                                    {% endtrans %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endcall %}
            </div>
        {% endif %}

        {% if 'assemblies' in dashboard %}
            <div class="col-md-6">
            {% call util.bootstrap_panel(title=gettext("Current Assemblies"), icon='bullhorn',
                                         aclass='panel-success', anid='assembly-box') %}
                <ul class="slim spaced">
                    {% for assembly_id, assembly in dashboard['assemblies']|keydictsort(EntitySorter.assembly) %}
                        <li>
                            {{ util.href(cdedblink('assembly/show_assembly', {'assembly_id': assembly_id}),
                                         assembly['title'], icon='bullhorn') }}
                            <br />
                            {% if assembly['does_attend'] %}
                                {% trans %}
                                	(Already attending)
                                {% endtrans %}
                            {% else %}
                                {% trans date=assembly['signup_end']|datetime(lang=lang) %}
                                	(Registration possible until {{ date }})
                                {% endtrans %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endcall %}
            </div>
        {% endif %}
    </div>
{% endblock %}
