{% set sidenav_active='core_pending_changes' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans names=util.persona_name(current) %}
    	Inspect Changes for {{ name }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("core/list_pending_changes"), gettext("Inspect Changes")) }}
{{ util.breadcrumb_link(cdedblink('core/inspect_change', {'persona_id': pending['id']}),
        util.persona_name(current), icon="user", active="True") }}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Inspect Changes"), util.persona_name(current), 'user', gettext("User")) }}
{% endblock %}

{% macro show_diff(name, title, important=False) %}
    <div class="row {% if name not in diff and not important %}unimportant{% endif %}">
        <label class="col-sm-3">
            {{ title }}
        </label>
        {% if name in diff %}
            <div class="col-sm-4 bg-danger">
                {% if caller %}{{ caller(False) }}{% else %}{{ current[name] or "–" }}{% endif %}
            </div>
            <div class="col-sm-4 bg-success">
                {% if caller %}{{ caller(True) }}{% else %}{{ pending[name] or "–" }}{% endif %}
            </div>
        {% else %}
            <div class="col-sm-4">
                {% if caller %}{{ caller(False) }}{% else %}{{ current[name] }}{% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <button type="button" class="btn btn-default btn-sm softhide" id="unhide-button">
        {{ util.make_icon('eye-slash') }} {% trans %}Show all Fields{% endtrans %}
    </button>
    {{ util.href(show_user_link(user, pending['id']), gettext("Show Profile"), icon="share", aclass="btn btn-sm btn-info") }}
    {{ util.href(cdedblink("core/show_history", {'persona_id': pending['id']}), gettext("Change History"),
                 aclass="btn btn-info btn-sm", icon="clock") }}
    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#diff-view').cdedbHideUnimportant($('#unhide-button'));
        });
    </script>
    <div class="diff-view" id="diff-view">
        <h4 class="heading-underline">{% trans %}Personal Information{% endtrans %}</h4>
        {{ show_diff('title', gettext("Title_[[of a persona]]"), True) }}
        {{ show_diff('given_names', gettext("Given Names"), True) }}
        {{ show_diff('family_name', gettext("Family Name"), True) }}
        {{ show_diff('name_supplement', gettext("Name Affix"), True) }}
        {{ show_diff('display_name', gettext("Known as (Forename)")) }}
        {{ show_diff('birth_name', gettext("Birth Name")) }}
        {% call(next) show_diff('birthday', gettext("Birthday"), True) %}
            {% if next %}{{ pending['birthday']|date(lang=lang) }}{% else %}{{ current['birthday']|date(lang=lang) }}{% endif %}
        {% endcall %}
        {% call(next) show_diff('gender', gettext("Gender"), True) %}
            {% if next %}{{ gettext(enums['Genders'](pending['gender'])|string) }}{% else %}{{ gettext(enums['Genders'](current['gender'])|string) }}{% endif %}
        {% endcall %}

        <h4 class="heading-underline">{% trans %}Account & Membership{% endtrans %}</h4>
        {% call(next) show_diff('id', gettext("CdEDB-ID"), True) %}
            {{ util.href(show_user_link(user, pending['id']), pending['id']|cdedbid, aclass='nowrap') }}
        {% endcall %}
        {{ show_diff('is_member', gettext("CdE-Membership"), True) }}
        {{ show_diff('balance', gettext("Balance")) }}

        <h4 class="heading-underline">{% trans %}Contact Information{% endtrans %}</h4>
        {{ show_diff('username', gettext("E-Mail"), True) }}
        {{ show_diff('telephone', gettext("Phone")) }}
        {{ show_diff('mobile', gettext("Mobile Phone")) }}
        {{ show_diff('weblink', gettext("WWW")) }}

        <h4 class="heading-underline">{% trans %}Address{% endtrans %}</h4>
        {{ show_diff('address', gettext("Street, Nr.")) }}
        {{ show_diff('address_supplement', gettext("Address Supplement")) }}
        {{ show_diff('postal_code', gettext("ZIP")) }}
        {{ show_diff('location', gettext("City")) }}
        {{ show_diff('country', gettext("Country")) }}

        <h4 class="heading-underline">{% trans %}Second Address{% endtrans %}</h4>
        {{ show_diff('address2', gettext("Street, Nr.")) }}
        {{ show_diff('address_supplement2', gettext("Address Supplement")) }}
        {{ show_diff('postal_code2', gettext("ZIP")) }}
        {{ show_diff('location2', gettext("City")) }}
        {{ show_diff('country2', gettext("Country")) }}

        <h4 class="heading-underline">{% trans %}Miscellaneous{% endtrans %}</h4>
        {{ show_diff('specialisation', gettext("Specialisation")) }}
        {{ show_diff('affiliation', gettext("School, University, …")) }}
        {{ show_diff('timeline', gettext("Year(s) of Graduation")) }}
        {{ show_diff('interests', gettext("Interests")) }}
        {{ show_diff('free_form', gettext("Miscellaneous")) }}
    </div>

    <div class="button-par">
        <form action="{{ cdedblink('core/resolve_change') }}" method="POST" id="ackchangeform" style="display: inline;">
            {{ util.anti_csrf_token('core/resolve_change') }}
            {{ util.input_hidden(name="ack", value="True") }}
            {{ util.input_hidden(name="generation", value=pending['generation']) }}
            {{ util.input_submit(label=gettext("Confirm Changes"), aclass="btn btn-success") }}
        </form>
        <form action="{{ cdedblink('core/resolve_change') }}" method="POST" id="nackchangeform" style="display: inline;">
            {{ util.anti_csrf_token('core/resolve_change') }}
            {{ util.input_hidden(name="ack", value="False") }}
            {{ util.input_hidden(name="generation", value=pending['generation']) }}
            {{ util.input_submit(label=gettext("Reject Changes"), aclass="btn btn-danger", icon="ban") }}
        </form>
        {{ util.href(cdedblink('core/admin_change_user_form'), gettext("Edit Changes"), icon="pen", aclass="btn btn-warning") }}
        &emsp; {{ util.href(cdedblink('core/list_pending_changes'), gettext("Cancel"), icon="times-circle", aclass="btn btn-default") }}
    </div>
{% endblock %}
