{% set sidenav_active='core_pending_changes' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans count=personas|length %}
    	Pending Profilechanges [{{ count }}]
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("core/list_pending_changes"), gettext("Inspect Changes"), active="True") }}
{% endblock %}
{% block content %}
   <ul>
        {# Already sorted #}
        {% for persona in personas.values() %}
           <li>
                {# We use the committed name here, not the pending name from the change request. #}
                {{ util.href(cdedblink('core/inspect_change', {'persona_id': persona.id}), persona.get_name()) }}
           </li>
        {% endfor %}
   </ul>
{% endblock %}
