{% set sidenav_active='core_index' %}
{% set login_form=True %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {% if 'core_admin' in user.roles %}{{ util.cdedb_script('cdedb_searchpersona.js') }}{% endif %}
{% endblock %}
{% block title %}
    {% trans %}
    	CdE-Datenbank
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("core/index"), gettext("Index"), active="True") }}
{% endblock %}
{% block content %}
    {% if CDEDB_OFFLINE_DEPLOYMENT %}
        <div class="alert alert-info">
            <p>
                {{ util.make_icon('info-circle') }} <strong>{% trans %}Info{% endtrans %}</strong>
                {% trans %}This is an Offline-Instance of the CdE-DB{% endtrans %}
            </p>

            <p class=nosp>{# TODO Erklärtext #}</p>
        </div>
    {% endif %}

    <form action="{{ cdedblink('core/login') }}" method="POST" id="loginform" class="form-horizontal">
        {{ util.form_input_text(name="username", label=gettext("E-Mail"), type="email", small=True,
                                anid="login_name", attributes='autocomplete="email" autofocus') }}
        {{ util.form_input_text(name="password", label=gettext("Password"), small=True, anid="login_password",
                                type="password", attributes='autocomplete="current-password"') }}

        {{ util.input_hidden(name="wants") }}

        {{ util.form_input_submit(value=gettext("Login"), small=True) }}
    </form>
    {% if not CDEDB_OFFLINE_DEPLOYMENT %}
        <p>
            {{ util.href(cdedblink('core/reset_password_form'), gettext("Reset Password")) }} |
            {{ util.href(cdedblink('core/genesis_request_form'), gettext("Request Account")) }}
        </p>
    {% endif %}
    {{ util.meta_info_banner('banner_before_login') }}
{% endblock %}
