{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans name=util.persona_name(ambience['persona']) %}
    	Modify Memberhip for {{ name }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(show_user_link(user, ambience['persona']['id']), util.persona_name(ambience['persona']),
                        icon="user") }}
{{ util.breadcrumb_link(cdedblink("core/modify_membership"), gettext("Modify Membership"), active="True") }}
{% endblock %}
{% block content %}
   {% if ambience['persona']['is_member'] %}
        <p>
            {{ util.make_icon('info-circle') }}
            {% trans %}Here you can terminate the CdE-membership. This has the following effects:{% endtrans %}
        </p>
        <ul>
            <li>{% trans %}termination of membership{% endtrans %}</li>
            <li>{% trans %}no longer able to search for/be found by other searchable members (if applicable){% endtrans %}</li>
            <li>{% trans %}loss of membership fee balance{% endtrans %}</li>
            <li>{% trans %}revocation of any active direct debit authorization{% endtrans %}</li>
        </ul>

        <form action="{{ cdedblink('core/modify_membership') }}" method="POST" id="modifymembershipform">
            {{ util.anti_csrf_token('core/modify_membership') }}
            <div>
                {{ util.input_hidden(name="is_member", value=False) }}
                {{ util.input_submit(label=gettext("Terminate Membership"), aclass="btn btn-warning") }}&emsp;
                {{ util.href(show_user_link(user, ambience['persona']['id']), gettext("Cancel"), icon="times-circle",
                        aclass="btn btn-default") }}
            </div>
        </form>
   {% else %}
        <form action="{{ cdedblink('core/modify_membership') }}" method="POST" id="modifymembershipform">
            {{ util.anti_csrf_token('core/modify_membership') }}
            <div>
                {{ util.input_hidden(name="is_member", value=True) }}
                {{ util.input_submit(label=gettext("Make a Member")) }}&emsp;
                {{ util.href(show_user_link(user, ambience['persona']['id']), "Abbrechen", icon="times-circle",
                        aclass="btn btn-default") }}
            </div>
        </form>

        {# TODO Archivierung einfuegen #}
    {% endif %}
{% endblock %}
