{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans name=util.persona_name(ambience['persona'], only_given_names=True) %}
    	Modify Balance for {{ name }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(show_user_link(user, ambience['persona']['id']), util.persona_name(ambience['persona']),
        icon="user") }}
{{ util.breadcrumb_link(cdedblink("core/modify_balance_form"), gettext("Modify Balance"), active="True") }}
{% endblock %}
{% block content %}
    <p>
        {{ util.make_icon('info-circle') }}
        {% trans %}Here you can manually correct the balance of a member. This should only be used to correct a previous mistake when updating balance.{% endtrans %}
    </p>

    <form action="{{ cdedblink('core/modify_balance') }}" method="POST" id="modifybalanceform" class="form-horizontal">
        {{ util.anti_csrf_token('core/modify_balance') }}
        <div>
            {{ util.form_input_text(name="new_balance", label=gettext("New Balance"), type="number",
                    attributes='min="0" step="0.01"'|s, small=True, defaultvalue=old_balance) }}
            {{ util.form_input_checkbox(name="trial_member", label=gettext("Trial Membership"), defaultvalue="True" if trial_member else "", small=True) }}
            {{ util.form_input_textarea(name="change_note", label=gettext("Changenotes"), small=True) }}
            {{ util.form_input_submit(label=gettext("Save"), small=True,
                    cancellink=show_user_link(user, ambience['persona']['id'])) }}
        </div>
    </form>

    {# TODO Archivierung einfuegen #}
{% endblock %}
