{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans given_names=ambience['persona']['given_names'], family_name=ambience['persona']['family_name'] %}
    	Change Realms for {{ given_names }} {{ family_name }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(show_user_link(user, ambience['persona']['id']),
            ambience['persona']['given_names'] + " " + ambience['persona']['family_name'], icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/promote_user_form"), gettext("Add Realm"),
            active=(values['target_realm'] == '')) }}
    {% if values['target_realm'] %}
        {{ util.breadcrumb_link(cdedblink("core/promote_user_form"), gettext("Confirm"), active=True) }}
    {% endif %}
{% endblock %}
{% block content %}
   {% with p = ambience['persona'],
           realms = {'cde': gettext("cde_realm"),
                     'event': gettext("Event"),
                     'ml': gettext("Mailinglists"),
                     'assembly': gettext("Assembly")} %}
        {#- jinja does not support list comprehension ... #}
        {%- set myentries = [] %}
        {%- set not_my_realms = [] %}
        {%- for realm in realms
                if not p['is_{}_realm'.format(realm)] %}
            {%- do myentries.append((realm, realms[realm])) %}
            {%- do not_my_realms.append(realm) %}
        {%- endfor %}

        {% if not values['target_realm'] %}
            <p>
                {% trans %}
                    With this Form You can add the User to new Realms in the CdEDB.
                    They will gain access to the respective Sites and they may gain additional User-Attributes.
                {% endtrans %}
            </p>
            <form action="{{ cdedblink('core/promote_user_form') }}" method="GET" id="realmselectionform"
                    class="form-horizontal">
                {{ util.form_input_static(gettext("User"), value="{} {}".format(p['given_names'], p['family_name']),
                        small=True) }}
                {{ util.form_input_checkboxes(name="target_realm", entries=myentries, label=gettext("Target Realm"),
                        radio=True, small=True) }}
                {{ util.form_input_submit(label=gettext("Confirm"), small=True) }}
            </form>

        {% else %}

            <form action="{{ cdedblink('core/promote_user') }}" method="POST" id="promotionform"
                    class="form-horizontal">
                {{ util.anti_csrf_token('core/promote_user') }}
                {{ util.form_input_static(gettext("User"), value="{} {}".format(p['given_names'], p['family_name'])) }}
                {{ util.form_input_static(gettext("New Realm"), value=realms[values['target_realm']]) }}

                {% set implicit_realms = [] %}
                {% if values['target_realm'] == 'cde' %}
                    {% set tmp = implicit_realms.extend(['event', 'assembly', 'ml']) %}
                {% elif values['target_realm'] in ('event', 'assembly') %}
                    {% set tmp = implicit_realms.extend(['ml']) %}
                {% endif %}
                {% call util.form_input_static(label=gettext("Implied new Realms")) %}
                    <ul>
                        {% for i in implicit_realms %}
                            {% if i in not_my_realms %}
                                <li>{{ realms[i] }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endcall %}

            <h3 class="heading-underline">{% trans %}Additional Data{% endtrans %}</h3>
                {{ util.input_hidden(name="target_realm") }}
                {% if not (p['is_cde_realm'] or p['is_event_realm']) and values['target_realm'] in ('cde', 'event')  %}
                    {{ util.form_input_text(name="title", label=gettext("Title_[[of a persona]]")) }}
                    {{ util.form_input_text(name="name_supplement", label=gettext("Name Affix")) }}
                    {{ util.form_input_text(name="birthday", label=gettext("Birthday"), type="date",
                            placeholder="YYYY-MM-DD") }}
                    {{ util.form_input_select(name="gender", entries=enums['Genders']|enum_entries(processing=gettext),
                                              label=gettext("Gender")) }}
                {% endif %}
                {% if not (p['is_cde_realm'] or p['is_event_realm']) and values['target_realm'] in ('cde', 'event')  %}
                    {{ util.form_input_text(name="telephone", label=gettext("Phone"), type="tel") }}
                    {{ util.form_input_text(name="mobile", label=gettext("Mobile Phone"), type="tel") }}
                    {{ util.form_input_text(name="address", label=gettext("Street, Nr.")) }}
                    {{ util.form_input_text(name="address_supplement", label=gettext("Address Supplement")) }}
                    {{ util.form_input_text(name="postal_code", label=gettext("Zipcode")) }}
                    {{ util.form_input_text(name="location", label=gettext("City")) }}
                    {{ util.form_input_select(name="country", label=gettext("Country"), entries=COUNTRY_CODES,
                                              defaultvalue="{{ DEFAULT_COUNTRY }}") }}
                {% endif %}
                {% if not p['is_cde_realm'] and values['target_realm'] == 'cde'  %}
                    {{ util.form_input_checkbox(name="trial_member", label=gettext("Grant Trialmembership")) }}
                    {{ util.form_input_textarea(name="free_form", label=gettext("Miscellaneous"), rows="5",
                                                info=util.markdownhint) }}
                {% endif %}
                {{ util.form_input_submit(label=gettext("Add Realm"),
                        cancellink=show_user_link(user, ambience['persona']['id'])) }}
            </form>
        {% endif %}
    {% endwith %}
{% endblock %}
