{% extends "web/core/base.tmpl" %}
{% set jshint = "weak" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% block title %}
    {% trans name=ambience['persona']|persona_name %}
    	Change Realms for {{ name }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(show_user_link(user, ambience['persona']['id']),
            ambience['persona']|persona_name, icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/promote_user_form"), gettext("Add Realm"),
            active=not target_realm) }}
    {% if target_realm %}
        {{ util.breadcrumb_link(cdedblink("core/promote_user_form"), gettext("Confirm"), active=True) }}
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ util.cdedb_script("cdedb_helper.js") }}
    {{ util.cdedb_script('cdedb_select_past_course.js') }}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Add Realm"), ambience['persona']|persona_name, 'user', gettext("User")) }}
{% endblock %}

{% block content %}
   {% with persona = ambience['persona'] %}
        {% if not target_realm %}
            <p>
                {% trans %}
                    With this Form You can add the User to new Realms in the CdEDB.
                    They will gain access to the respective Sites and they may gain additional User-Attributes.
                {% endtrans %}
            </p>
            <form action="{{ cdedblink('core/promote_user_form') }}" method="GET" id="realmselectionform"
                    class="form-horizontal">
                {{ util.form_input_static(gettext("User"), value=persona|persona_name, small=True) }}
                {{ util.form_input_checkboxes(
                        name="target_realm", entries=missing_realms|enum_entries(processing=gettext),
                        label=gettext("Target Realm"), radio=True, small=True) }}
                {{ util.form_input_submit(label=gettext("Continue"), icon="chevron-right", small=True) }}
            </form>

        {% else %}

            <form action="{{ cdedblink('core/promote_user') }}" method="POST" id="promotionform"
                    class="form-horizontal">
                {{ util.anti_csrf_token('core/promote_user') }}
                {{ util.form_input_static(gettext("User"), value=persona|persona_name) }}
                {{ util.form_input_static(gettext("New Realm"), value=gettext(target_realm|string)) }}

                {% if missing_target_realms|length > 1 %}
                    {% call util.form_input_static(label=gettext("Implied new Realms")) %}
                        <ul class="slim">
                            {% for realm in missing_target_realms if realm != target_realm %}
                                <li>{{ gettext(realm|string) }}</li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                {% endif %}

            <h3 class="heading-underline">{% trans %}Additional Data{% endtrans %}</h3>
                {{ util.input_hidden(name="target_realm") }}
                {% if enums["Realms"].event in missing_target_realms %}
                    {{ util.form_input_text(name="title", label=gettext("Title_[[of a persona]]")) }}
                    {{ util.form_input_text(name="name_supplement", label=gettext("Name Affix")) }}
                    {{ util.form_input_text(name="birthday", label=gettext("Birthday"), type="date") }}
                    {{ util.form_input_select(name="gender", entries=enums['Genders']|enum_entries(processing=gettext),
                                              label=gettext("Gender")) }}
                    {{ util.form_input_text(name="telephone", label=gettext("Phone"), type="tel") }}
                    {{ util.form_input_text(name="mobile", label=gettext("Mobile Phone"), type="tel") }}
                    {{ util.form_input_text(name="address", label=gettext("Street and House Number")) }}
                    {{ util.form_input_text(name="address_supplement", label=gettext("Address Supplement")) }}
                    {{ util.form_input_text(name="postal_code", label=gettext("Zipcode")) }}
                    {{ util.form_input_text(name="location", label=gettext("City")) }}
                    {{ util.form_input_select(name="country", label=gettext("Country"), entries=COUNTRY_CODES,
                                              defaultvalue=DEFAULT_COUNTRY) }}
                {% endif %}
                {% if enums["Realms"].cde in missing_target_realms %}
                    {{ util.form_input_checkbox(name="trial_member", label=gettext("Grant Trial Membership")) }}

                    {# Pass previously submitted pevent id to enable selection of pcourse id without js #}
                    {{ util.input_hidden(name='prev_pevent_id', value=values.get("pevent_id")) }}
                    {{ generic.past_course_select(small=False) }}
                    {{ util.form_input_checkbox(name='is_orga', label=gettext("Orga")) }}
                    {{ util.form_input_checkbox(name='is_instructor', label=gettext("Instructor")) }}
                {% endif %}

                <div class="panel panel-primary">
                    <div class="panel-body">
                        {{ util.form_input_textarea(name="change_note", label=gettext("Changenotes")) }}
                    </div>
                </div>
                {% if enums["Realms"].cde in missing_target_realms %}
                    <div class="text-muted">
                        {% trans welcome_mail=util.href(docurl("Handbuch_Email_Templates", anchor="template-welcome-tmpl"),
                                                                        gettext("welcome email")) %}
                            The CdEDB will automatically send a %(welcome_mail)s to the user.
                            If the user receives no trial membership, this also includes payment instructions.
                        {% endtrans %}
                    </div>
                {% endif %}
                {{ util.form_input_submit(label=gettext("Add Realm"),
                        cancellink=show_user_link(user, ambience['persona']['id'])) }}
            </form>
        {% endif %}
    {% endwith %}
{% endblock %}
