{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% with p = ambience['persona'] %}
        Bereichsänderung für {{ p['given_names']|e }} {{ p['family_name']|e }}
    {% endwith %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(show_user_link(ambience['persona']['id']),
            ambience['persona']['given_names'] + " " + ambience['persona']['family_name'], icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/promote_user_form"), "Bereich hinzufügen",
            active=(values['target_realm'] == '')) }}
    {% if values['target_realm'] %}
        {{ util.breadcrumb_link(cdedblink("core/promote_user_form"), "Bestätigung", active=True) }}
    {% endif %}
{% endblock %}
{% block content %}
   {% with p = ambience['persona'], 
           realms = {'cde': 'CdE',
                     'event': 'Veranstaltung',
                     'ml': 'Mailinglisten',
                     'assembly': 'Versammlung'} %}
        {#- jinja does not support list comprehension ... #}
        {%- set myentries = [] %}
        {%- set not_my_realms = [] %}
        {%- for realm in realms
                if not p['is_{}_realm'.format(realm)] %}
            {%- do myentries.append((realm, realms[realm]))|e %}
            {%- do not_my_realms.append(realm)|e %}
        {%- endfor %}
        
        {% if not values['target_realm'] %}
            <p>
                Mit diesem Formular kann der Benutzer zu weiteren Bereichen der CdE-Datenbank hinzugefügt werden. Damit
                erhält er Zugriff auf die entsprechenden Seiten und erhält ggf. neue Nutzer-Attribute.
            </p>
            <form action="{{ cdedblink('core/promote_user_form')|e }}" method="GET" id="realmselectionform"
                    class="form-horizontal">
                {{ util.form_input_static("Benutzer", value="{} {}".format(p['given_names'], p['family_name']),
                        small=True) }}
                {{ util.form_input_checkboxes(name="target_realm", entries=myentries, label="Zielbereich", radio=True,
                        small=True) }}
                {{ util.form_input_submit(value="Bereich wählen", small=True) }}
            </form>
            
        {% else %}
        
            <form action="{{ cdedblink('core/promote_user')|e }}" method="POST" id="promotionform"
                    class="form-horizontal">
                {{ util.form_input_static("Benutzer", value="{} {}".format(p['given_names'], p['family_name'])) }}
                {{ util.form_input_static("Neuer Bereich", value=realms[values['target_realm']]) }}
            
                {% set implicit_realms = [] %}
                {% if values['target_realm'] == 'cde' %}
                    {% set tmp = implicit_realms.extend(['event', 'assembly', 'ml']) %}
                {% elif values['target_realm'] in ('event', 'assembly') %}
                    {% set tmp = implicit_realms.extend(['ml']) %}
                {% endif %}
                {% call util.form_input_static(label="Implizite neue Bereiche") %}
                    <ul>
                        {% for i in implicit_realms %}
                            {% if i in not_my_realms %}
                                <li>{{ realms[i] }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endcall %}
            
            <h3 class="heading-underline">Zusätzliche Daten</h3>
                {{ util.input_hidden(name="target_realm") }}
                {% if not (p['is_cde_realm'] or p['is_event_realm']) and values['target_realm'] in ('cde', 'event')  %}
                    {{ util.form_input_text(name="title", label="Titel") }}
                    {{ util.form_input_text(name="name_supplement", label="Namenszusatz") }}
                    {{ util.form_input_text(name="birthday", label="Geburtstag", type="date", placeholder="YYYY-MM-DD")
                            }}
                    {{ util.form_input_select(name="gender", entries=default_selections['gender'], label="Geschlecht")
                            }}
                {% endif %}
                {% if not (p['is_cde_realm'] or p['is_event_realm']) and values['target_realm'] in ('cde', 'event')  %}
                    {{ util.form_input_text(name="telephone", label="Telefon") }}
                    {{ util.form_input_text(name="mobile", label="Mobiltelefon") }}
                    {{ util.form_input_text(name="address", label="Straße") }}
                    {{ util.form_input_text(name="address_supplement", label="Addresszusatz") }}
                    {{ util.form_input_text(name="postal_code", label="Postleitzahl") }}
                    {{ util.form_input_text(name="location", label="Stadt") }}
                    {{ util.form_input_text(name="country", label="Land") }}
                {% endif %}
                {% if not p['is_cde_realm'] and values['target_realm'] == 'cde'  %}
                    {{ util.form_input_textarea(name="free_form", label="Sonstiges", rows="5") }}
                {% endif %}
                {{ util.form_input_submit(value="Bereich hinzufügen",
                        cancellink=show_user_link(ambience['persona']['id'])) }}
            </form>
        {% endif %}
    {% endwith %}
{% endblock %}
