{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans %}
        Reset Password
    {% endtrans %}
{% endblock %}
{% block content %}
    <p>
        {% trans %}
        	If You have forgotten Your Password, You can request an E-Mail to reset it.
            To do this, just enter the email address You would use to login.
        {% endtrans %}
    </p>
    <p>
        {% trans %}
        	Attention: This does not work for Admin-Accounts!
        {% endtrans %}
    </p>

    <form action="{{ cdedblink('core/send_password_reset_link') }}" method="GET" id="passwordresetform"
            class="form-horizontal">
        <div>
            {{ util.form_input_text(name="email", label=gettext("E-Mail"), small=True, attributes='autocomplete="email"') }}
            {{ util.form_input_submit(value=gettext("Request Reset Link"), small=True) }}
        </div>
    </form>
{% endblock %}
