{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans %}
        Reset Password
    {% endtrans %}
{% endblock %}
{% block content %}
    <p>
        {% trans %}
            If you have forgotten your password, you can request an email to reset it.
            To do this, just enter the email address you would use to login.
        {% endtrans %}
    </p>
    <p>
        {% trans %}
            This email usually arrives in less than a minute.
            If you do not see any email in your inbox, please also check your spam folder.
        {% endtrans %}
    </p>
    <p class="text-info">
        {{ util.make_icon("info-circle") }}{{ nbsp -}}
        {% trans %}
            Attention: This does not work for admins!
        {% endtrans %}
    </p>

    <form action="{{ cdedblink('core/send_password_reset_link') }}" method="POST" id="passwordresetform"
            class="form-horizontal">
        <div>
            {{ util.form_input_text(name="email", label=gettext("E-Mail"), small=True, attributes='autocomplete="email"'|s) }}
            {{ util.form_input_submit(label=gettext("Request Reset Link"), small=True) }}
        </div>
    </form>
{% endblock %}
