{% if ambience['persona']['id'] == user.persona_id %}{% set sidenav_active='core_mydata'%}{% endif %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans name=util.persona_name(ambience['persona']) %}
        Set Profile Picture for {{ name }}
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(show_user_link(user, ambience['persona']['id']), util.persona_name(ambience['persona']),
        icon="user") }}
{{ util.breadcrumb_link(cdedblink('core/set_foto_form'), gettext("Set Profile Picture"), active="True") }}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Set Profile Picture"), util.persona_name(ambience['persona']),
                            'user', gettext("User")) }}
{% endblock %}

{% block content %}

    <div class="row">
        {% if foto %}
            <div class="col-md-5">
                <h3>{% trans %}Current Picture{% endtrans %}</h3>
                <img src="{{ cdedblink('core/get_foto', {'foto': foto}) }}" class="profilepic img-thumbnail"
                    alt="{% trans %}Current Picture{% endtrans %}">

                <script nonce="{{ csp_nonce }}">
                    $(function() {
                        $('#resetfotoform').cdedbProtectAction(
                            "{{ gettext("The Profile Picture will be permanently deleted.") }}");
                    });
                </script>
                <form action="{{ cdedblink('core/set_foto') }}" method="POST" id="resetfotoform">
                    {{ util.anti_csrf_token('core/set_foto') }}
                    {{ util.input_hidden(name="delete", value=True) }}
                    <div class="form-group">
                        {{ util.input_submit(label=gettext("Delete Picture"), aclass="btn btn-danger", icon="trash-alt") }}
                    </div>
                </form>
            </div>
        {% endif %}

        <div class="col-md-7">
            <h3>{% trans %}Upload new Picture{% endtrans %}</h3>
            <p>
                {% trans %}
                	The Picture must meet the following Criteria:
                {% endtrans %}
            </p>
            <ul>
                <li>{% trans %}JPEG or PNG file{% endtrans %}</li>
                <li>{% trans %}max. 128 kB Filesize{% endtrans %}</li>
                <li>{% trans %}preferably square{% endtrans %}</li>
            </ul>
            <form action="{{ cdedblink('core/set_foto') }}" method="POST" enctype="multipart/form-data"
                    id="setfotoform">
                {{ util.anti_csrf_token('core/set_foto') }}
                {{ util.input_hidden(name="delete", value=False) }}
                <div class="form-group {% if 'foto' in errors %}has-error{% endif %}">
                    <div class="input-group">
                        {{ util.input_file(name="foto", accept="image/*", arialabel=gettext("Picture-File")) }}
                        <div class="input-group-btn">
                            {{ util.input_submit(label=gettext("Upload")) }}
                        </div>
                    </div>
                    {{ util.output_errors('foto') }}
                </div>
            </form>
        </div>
    </div>

    {{ util.href(show_user_link(user, ambience['persona']['id']), gettext("Go Back"), icon="arrow-left", aclass="btn btn-default") }}
{% endblock %}
