{% if data['id'] == user.persona_id %}{% set sidenav_active='core_mydata'%}{% endif %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% import "web/generic.tmpl" as generic with context %}
{% block title %}
    {{ util.persona_name(data) }}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(show_user_link(user, ambience['persona']['id']), util.persona_name(ambience['persona']),
        icon="user", active=True) }}
{% endblock %}


{# This is a bit special, because also non-core roles determinate what a user can see or modify from another one #}
{% block adminviews %}
    {% set views = [] %}
    {% if "any_admin" in access_mode %}
        {{ views.append((gettext("User Administration"), ["core_user", "cde_user", "event_user", "ml_user", "assembly_user", "genesis"], None)) }}
    {% endif %}
    {{ views.append((gettext("Admin Administration"), ["meta_admin"], None)) }}
    {{ views.append((gettext("Core Administration"), ["core"], None)) }}
    {{ views.append((gettext("Finance Administration"), ["finance"], None)) }}
    {% if "moderator" in access_mode %}
        {{ views.append((gettext("Moderator Controls"), ALL_MOD_ADMIN_VIEWS, None)) }}
    {% endif %}
    {% if "orga" in access_mode %}
        {{ views.append((gettext("Orga Controls"), ["event_orga"], None)) }}
    {% endif %}

    {{ util.admin_views_toggle(views) }}
{% endblock %}

{% block static_notifications %}
    {% if is_relative_admin_view %}
        {% if ambience['persona']['is_purged'] %}
            {% call util.notification('info', id='purged') %}
                {% trans %}This user has been purged.{% endtrans %}
            {% endcall %}
        {% elif ambience['persona']['is_archived'] %}
            {% call util.notification('info', id='archived') %}
                {% trans %}The user is archived.{% endtrans %}
            {% endcall %}
        {% elif not ambience['persona']['is_active'] %}
            {% call util.notification('info', id='deactivated') %}
                {% trans %}The user is deactivated.{% endtrans %}
            {% endcall %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {# Actions #}
    {% if data['id'] == user.persona_id or is_relative_admin_view %}
        <div class="p button-par">
            {% if not ambience['persona']['is_archived'] %}
                {% if is_relative_admin_view %}
                    {% if data['id'] == user.persona_id %}
                        {{ util.href(cdedblink('core/change_user_form'), gettext("Edit (normal)"),
                                aclass="btn btn-warning btn-sm", icon="pen") }}
                        {{ util.href(cdedblink('core/admin_change_user_form'), gettext("Edit (as Admin)"),
                                aclass="btn btn-warning btn-sm", icon="pen") }}
                    {% else %}
                        {{ util.href(cdedblink('core/admin_change_user_form'), gettext("Edit"),
                                aclass="btn btn-warning btn-sm", icon="pen") }}
                    {% endif %}
                {% else %}
                    {{ util.href(cdedblink('core/change_user_form'), gettext("Edit"),
                            aclass="btn btn-warning btn-sm", icon="pen") }}
                {% endif %}
                {% if data['id'] == user.persona_id %}
                    {{ util.href(cdedblink("core/change_password_form"), gettext("Change Password"),
                            aclass="btn btn-warning btn-sm", icon="edit") }}
                    <form action="{{ cdedblink("core/logout_all") }}" method="POST" id="logoutallform"
                          class="display-inline">
                        {{ util.anti_csrf_token('core/logout_all') }}
                        {{ util.input_submit(label=(gettext("Log out from all (%(count)s) devices")
                                                    |format(count=active_session_count)),
                                             title=gettext("Logout Everywhere"), icon="power-off",
                                             aclass="btn btn-danger btn-sm") }}
                    </form>
                    {{ util.href(docurl('Realm_Core_Privacy'), gettext("Who can see my data?"),aclass="btn btn-info btn-sm pull-right", icon="question-circle") }}
                {% endif %}
            {% elif not ambience['persona']['is_purged'] %}
                {{ util.href(cdedblink('core/dearchive_persona_form'), gettext("Restore Account"),
                             aclass="btn btn-success btn-sm", icon="file-medical-alt") }}
            {% endif %}
        </div>
    {% endif %}

    {# Related pages #}
    {% set show_admin_buttons = is_relative_admin_view or user.admin_views.intersection(["event_user", "ml_user"]|set) %}
    {% if quoteable or show_admin_buttons %}
        <div class="p button-par">
            {% if quoteable %}
                {{ util.href(show_user_link(user, ambience['persona']['id'], quote_me=True),
                             gettext("Show complete Profile"), aclass="btn btn-info btn-sm", icon='eye-slash') }}
            {% endif %}
            {% if is_relative_admin_view or show_admin_buttons %}
                {% if is_relative_admin_view %}
                    {{ util.href(cdedblink("core/show_history"), gettext("Change History"),
                                 aclass="btn btn-info btn-sm", icon="clock") }}
                {% endif %}
                {% if is_relative_admin_view or "event_user" in user.admin_views %}
                    {{ util.href(cdedblink("core/show_user_events", {'persona_id': data['id']}),
                                 gettext("Show Event Data"), aclass="btn btn-default btn-sm",
                                 icon="chalkboard-teacher") }}
                {% endif %}
                {% if is_relative_admin_view or "ml_user" in user.admin_views %}
                    {{ util.href(cdedblink("core/show_user_mailinglists", {'persona_id': data['id']}),
                                 gettext("Show Mailinglist Data"), aclass="btn btn-default btn-sm",
                                 icon="envelope") }}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

    {% if 'foto' in data or data['show_vcard'] %}
        {# prevent floating of the above buttons beside the photo, which looks ugly (esp. on mobile) #}
        <div style="clear: both"></div>
        <div class="pull-right-responsive text-right-responsive">
            {# Profile photo/avatar #}
            {% if 'foto' in data %}
                <div id="profile-foto">
                    {% if data['foto'] %}
                        <img src="{{ cdedblink('core/get_foto', {'foto': data['foto']}) }}"
                             alt="{{ gettext("Profile Picture") }}" class="profilepic img-thumbnail mosp">
                    {%- else %}
                        <img src="{{ staticurl("generic-avatar.png") }}" alt="{{ gettext("Default Profile Picture") }}"
                             class="profilepic img-thumbnail mosp">
                    {%- endif -%}
                    {% if data['id'] == user.persona_id or is_relative_admin_view -%}
                        <br />
                        {{ util.href(cdedblink('core/set_foto_form'), gettext("Change Profile Picture"),
                                aclass="btn btn-xs btn-warning mosp", icon="pen") }}
                    {% endif %}
                </div>
            {% endif %}

            {% if data['show_vcard'] %}
                <div id="vcard">
                    {% set confirm_id = encode_parameter("core/qr_vcard", "confirm_id", ambience['persona']['id'], persona_id=user.persona_id, timeout=None) %}
                    <a href="{{ cdedblink('core/qr_vcard', {'persona_id': ambience['persona']['id'], 'confirm_id': confirm_id}) }}" class="btn btn-default mosp">
                        {{ util.make_icon('qrcode') }}
                        {% trans %}QR{% endtrans %}
                    </a>
                    {% set confirm_id = encode_parameter("core/download_vcard", "confirm_id", ambience['persona']['id'], persona_id=user.persona_id, timeout=None) %}
                    <a href="{{ cdedblink("core/download_vcard", {'persona_id': ambience['persona']['id'], 'confirm_id': confirm_id}) }}" class="btn btn-default mosp">
                        {{ util.make_icon('download') }}
                        {% trans %}VCard{% endtrans %}
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="float-along">
        <h4 class="heading-underline">{% trans %}Personal Information{% endtrans %}</h4>
        <dl class="dl-horizontal" id="personal-information">
            <dt>{% trans %}Name{% endtrans %}</dt>
            <dd>
                {{ util.persona_name(data, given_and_display_names=True, with_titles=True) }}
            </dd>
            {% if data['birth_name'] %}
                <dt>{% trans %}Birth Name{% endtrans %}</dt>
                <dd>{{ data['birth_name'] }}</dd>
            {% endif %}
            {% if data['birthday'] %}
                <dt>{% trans %}Birthday{% endtrans %}</dt>
                <dd>{{ data['birthday']|date(lang=lang) }}</dd>
            {% endif %}
            {% if data['gender'] %}
                <dt>{% trans %}Gender{% endtrans %}</dt>
                <dd>{{ gettext(enums['Genders'](data['gender'])|string) }}</dd>
            {% endif %}
        </dl>


        <h4 class="heading-underline">{% trans %}Account & Membership{% endtrans %}</h4>
        <div id="account">
            <dl class="dl-horizontal">
                <dt>{% trans %}CdEDB-ID{% endtrans %}</dt>
                <dd id="cdedb-id">
                    {{ data['id']|cdedbid }}
                </dd>
                {% if "is_active" in data %}
                    <dt>{% trans %}Account active{% endtrans %}</dt>
                    <dd id="account-active">
                        {{ util.deko_checkbox(checked=data['is_active'], anid='activity_checkbox',
                                              titles=[gettext("No"), gettext("Yes")]) }}
                    </dd>
                {% endif %}
            </dl>

            {# Only a check if the realm bits are contained in data #}
            {% if "is_ml_realm" in data %}
                <dl class="dl-horizontal">
                    <dt>{% trans %}Realms{% endtrans %}</dt>
                    <dd id="has-realm">
                        {% set realm_bits = ['is_cde_realm','is_event_realm', 'is_ml_realm', 'is_assembly_realm'] %}
                        {% set vars = {'any_realm_not': False} %}
                        {% for bit in realm_bits %}
                            {% if data[bit] %}
                                {{ util.realm_icon(bit) }}
                            {% else %}
                                {# Dirty hack to workaround Jinjas set drawbacks #}
                                {% do vars.update({'any_realm_not': True}) %}
                            {% endif %}
                        {% endfor %}
                        {% if 'core_user' in user.admin_views
                                and vars['any_realm_not']
                                and not ambience['persona']['is_archived'] %}
                            {{ util.href(cdedblink("core/promote_user_form"), gettext("Add Realm"), icon="pen",
                                    aclass="btn btn-xs btn-warning") }}
                        {% endif %}
                    </dd>
                    {% if data['id'] == user.persona_id and not data['is_cde_realm'] %}
                        <dt></dt>
                        <dd class="text-info">
                            {{ util.make_icon('info-circle') }}
                            {% trans mailto=util.href(util.mailto(MANAGEMENT_ADDRESS), MANAGEMENT_ADDRESS) %}
                                To request an upgrade to a member account, contact {{ mailto }}.
                            {% endtrans %}
                        </dd>
                    {% endif %}

                    <dt>{% trans %}Admin Privileges{% endtrans %}</dt>
                    <dd id="admin-realms">
                        {% for key in ADMIN_KEYS if data[key] %}
                            {{ util.privilege_icon(key) }}
                        {% else %}
                            <i>{% trans %}None{% endtrans %}</i>
                        {% endfor %}
                        {% if 'meta_admin' in user.admin_views and not ambience['persona']['is_archived'] %}
                            {{ util.href(cdedblink("core/change_privileges_form"), gettext("Edit"), icon="pen",
                                    aclass="btn btn-xs btn-warning") }}
                        {% endif %}
                    </dd>

                    {% if "notes" in data %}
                        <dt>{% trans %}Admin-Notes{% endtrans %}</dt>
                        <dd>{{ data['notes']|md|linebreaks }}</dd>
                    {% endif %}
                </dl>
            {% endif %}
        </div>

        {% if data['is_cde_realm'] %}
            <dl id="cde-membership" class="dl-horizontal">
                {% if "is_member" in data %}
                    <dt>{% trans %}Membership{% endtrans %}</dt>
                    <dd id="membership">
                        {{ util.deko_checkbox(checked=data['is_member'], anid="membership_checkbox") }}
                        {% if data['is_member'] %}
                            {% trans %}CdE-Member{% endtrans %}
                        {% endif %}
                        {% if data['trial_member'] %}
                            {% trans %}(Trialmembership){% endtrans %}
                        {% endif %}
                        {% if is_relative_admin_view %}
                            {{ util.href(cdedblink('core/modify_membership_form'), gettext("Change Status"), icon="pen",
                                         aclass="btn btn-xs btn-warning") }}
                        {% endif %}
                    </dd>
                {% endif %}

                {% if "balance" in data %}
                    <dt>{% trans %}Balance{% endtrans %}</dt>
                    <dd id="balance">
                        {% if data['balance'] is not none %}
                            {{ data['balance']|money(lang=lang) }}
                        {% endif %}
                        {% if "finance" in user.admin_views %}
                            {{ util.href(cdedblink('core/modify_balance_form'), gettext("Modify Balance"), icon="pen",
                                         aclass="btn btn-xs btn-warning") }}
                        {% endif %}
                        {% if data['has_lastschrift'] %}
                            {% trans %}and{% endtrans %}
                            {{ util.href(cdedblink("cde/lastschrift_show", {'persona_id': data['id']}),
                                    gettext("Direct Debit Authorization"), icon="euro-sign",
                                    readonly=(data['id'] != user.persona_id
                                              and "finance" not in user.admin_views)) }}
                        {% elif "finance" in user.admin_views %}
                            {{ util.href(cdedblink("cde/lastschrift_show", {'persona_id': data['id']}),
                                    gettext("New Direct Debit Authorization …"), icon="euro-sign") }}
                        {% endif %}
                    </dd>
                {% endif %}

                {% if data['is_member'] %}
                    <dt>{% trans %}Searchability{% endtrans %}</dt>
                    <dd id="searchability">
                        {{ util.deko_checkbox(checked=data['is_searchable']) }}
                        {% if data['is_searchable'] %}
                            {% trans %}Data is visible for other Members.{% endtrans %}
                        {% else %}
                            {% if not data['decided_search'] %}
                                {% trans %}Not yet decided. (Data is not visible){% endtrans %}
                                {% if data['id'] == user.persona_id %}
                                    {{ util.href(cdedblink('cde/consent_decision'), gettext("Give Consent"),
                                                 icon="hand-point-right", aclass="btn btn-xs btn-primary") }}
                                {% endif %}
                            {% else %}
                                {% trans %}Data is not visible.{% endtrans %}
                            {% endif %}
                        {% endif %}
                    </dd>
                {% endif %}
            </dl>
        {% endif %}

        {% if 'paper_expuls' in data %}
            <dl id=paper-expuls class="dl-horizontal">
                <dt>{% trans %}Printed exPuls{% endtrans %}</dt>
                <dd>
                    {{ util.deko_checkbox(checked=data['paper_expuls'], anid="paper_expuls_checkbox",
                                          titles=[gettext("No"), gettext("Yes")]) }}
                    {{ util.output_info(
                            gettext("The exPuls is published semi-anually printed and online. "
                                    "You can find further information about the online version at %(link)s.")|format(
                                     link=util.href(cdedblink('cde/view_misc'),
                                                    gettext("Members") + " / " + gettext("Miscellaneous")))|s
                    ) }}
                </dd>
            </dl>
        {% endif %}

        <h4 class="heading-underline">{% trans %}Contact Information{% endtrans %}</h4>
        <div id="contact-information">
            <dl class="dl-horizontal">
                <dt>{% trans %}E-Mail{% endtrans %}</dt>
                <dd id="contact-email">
                    {% if data['username'] %}
                        {{ util.username_mailto(data) }}
                    {% else %}
                        —
                    {% endif %}
                    {% if data['id'] == user.persona_id %}
                        {{ util.href(cdedblink('core/change_username_form'), gettext("Edit"),
                                     aclass="btn btn-xs btn-warning", icon="pen") }}
                    {% elif is_relative_admin_view and not ambience['persona']['is_archived'] %}
                        {{ util.href(cdedblink('core/admin_username_change_form'), gettext("Edit"),
                                     aclass="btn btn-xs btn-warning", icon="pen") }}
                    {% endif %}
                </dd>
                {% if data['telephone'] %}
                    <dt>{% trans %}Phone{% endtrans %}</dt>
                    <dd id="contact-telephone">
                        {{ util.tel_link(data['telephone']) }}
                    </dd>
                {% endif %}
                {% if data['mobile'] %}
                    <dt>{% trans %}Mobile Phone{% endtrans %}</dt>
                    <dd id="contact-mobile">
                        {{ util.tel_link(data['mobile']) }}
                    </dd>
                {% endif %}
                {% if data['weblink'] %}
                    <dt>{% trans %}WWW{% endtrans %}</dt>
                    {# TODO maybe add links or so - must be validated before! #}
                    <dd id="contact-weblink">
                        {{ data['weblink']|md }}
                    </dd>
                {% endif %}
            </dl>
        </div>

        <div id="address-information">
            {% if (data['address'] or data['address_supplement'] or data['postal_code']
                        or data['location'] or data['country']) %}
                    <h4 class="heading-underline">{% trans %}Address Information{% endtrans %}</h4>
                <dl class="dl-horizontal">
                    <dt>{% trans %}Address{% endtrans %}</dt>
                    <dd id="address">
                        {{ data['address'] }}{% if data['address'] %}<br />{% endif %}
                        {{ data['address_supplement'] }}{% if data['address_supplement'] %}<br />{% endif %}
                        {{ data['postal_code'] }} {{ data['location'] }}{% if data['location'] %}<br />{% endif %}
                        {{ util.gettext_country(data['country']) }}
                    </dd>
                </dl>
            {% endif %}

            {% if (data['address2'] or data['address_supplement2'] or data['postal_code2'] or data['location2']) %}
                <dl class="dl-horizontal">
                    <dt>{% trans %}Second Address{% endtrans %}</dt>
                    <dd id="address2">
                        {{ data['address2'] }}{% if data['address2'] %}<br />{% endif %}
                        {{ data['address_supplement2'] }}{% if data['address_supplement2'] %}<br />{% endif %}
                        {{ data['postal_code2'] }} {{ data['location2'] }}
                        {% if data['location2'] %}<br />{% endif %}
                        {{ util.gettext_country(data['country2']) }}
                    </dd>
                </dl>
            {% endif %}
        </div>

        {% if data['specialisation'] or data['affiliation'] or data['timeline'] or data['interests']
                or data['free_form'] %}
            <h4 class="heading-underline">{% trans %}Miscellaneous{% endtrans %}</h4>
            <dl class="dl-horizontal" id="additional">
                {% if data['specialisation'] %}
                    <dt>{% trans %}Specialisation{% endtrans %}</dt>
                    <dd>{{ data['specialisation']|md }}</dd>
                {% endif %}
                {% if data['affiliation'] %}
                    <dt>{% trans %}School, University, …{% endtrans %}</dt>
                    <dd>{{ data['affiliation']|md }}</dd>
                {% endif %}
                {% if data['timeline'] %}
                    <dt>{% trans %}Year(s) of Graduation{% endtrans %}</dt>
                    <dd>{{ data['timeline']|md }}</dd>
                {% endif %}
                {% if data['interests'] %}
                    <dt>{% trans %}Interests{% endtrans %}</dt>
                    <dd>{{ data['interests']|md }}</dd>
                {% endif %}
                {% if data['free_form'] %}
                    <dt>{% trans %}Miscellaneous{% endtrans %}</dt>
                    <dd>{{ data['free_form']|md }}</dd>
                {% endif %}
            </dl>
        {% endif %}

        {% if past_events %}
            <div id="past-events">
            <h4 class="heading-underline">{% trans %}Past Events{% endtrans %}</h4>
            <table class="table table-hover past-event-table">
            <tbody>
                {% for pevent_id, pevent in past_events|keydictsort(EntitySorter.past_event, reverse=True) %}
                    <tr>
                        <td>
                            {{ util.href(cdedblink("cde/show_past_event", {"pevent_id": pevent_id}), pevent['title'],
                                                   readonly='member' not in user.roles and 'cde_admin' not in user.roles) -}}
                        </td>
                        <td>
                            {% if pevent['is_orga'] %}
                                (Orga) <br />
                            {% endif %}
                            {% if pevent['courses'] -%}
                                {% for pcourse_id, pcourse in pevent['courses']|keydictsort(EntitySorter.past_course) %}
                                    {{ pcourse['nr'] }}.
                                    {{ util.href(cdedblink("cde/show_past_course", {"pevent_id": pevent_id,
                                                                                    "pcourse_id": pcourse_id}),
                                                 pcourse['title'], readonly='member' not in user.roles and 'cde_admin' not in user.roles) }}
                                    {%- if pcourse['is_instructor'] %}
                                        {% trans %}(Instructor){% endtrans %}
                                    {%- endif -%}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
        {% endif %}

        {% if is_relative_admin_view and data["is_cde_realm"] and not CDEDB_OFFLINE_DEPLOYMENT
                and not ambience['persona']['is_purged'] %}
            <h4 class="heading-underline">{% trans %}Copy-Paste Template{% endtrans %}</h4>
            <pre id="copy-paste-template">
Kontoinhaber:       {{ meta_info['CdE_Konto_Inhaber'] }}
IBAN:               {{ meta_info['CdE_Konto_IBAN']|iban }}
BIC:                {{ meta_info['CdE_Konto_BIC'] }}
Kreditinstitut:     {{ meta_info['CdE_Konto_Institut'] }}
Verwendungszweck:   {{ reference }}

Bei Überweisungen aus dem Ausland achte bitte darauf, dass der
Empfänger keine Gebühren bezahlen muss.

Nähere Informationen gibt es auf:
https://www.cde-ev.de/faq/mitglied/

Sobald deine Überweisung angekommen ist und eingetragen wurde, erhältst
du automatisch eine Bestätigung per E-Mail und bist dann sofort wieder
Mitglied.</pre>
        {% endif %}
    </div>

    {% if data['id'] != user.persona_id and is_relative_admin_view and not ambience['persona']['is_purged'] %}
        {% call util.bootstrap_panel(title=gettext("Actions"), icon="exclamation-triangle", aclass="panel-danger mosp") %}
            {% if not ambience['persona']['is_archived'] %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                {% if data['is_active'] %}
                                    <form action="{{ cdedblink('core/admin_send_password_reset_link') }}"
                                          method="POST" id="sendpasswordresetform" style="display: inline;">
                                        {{ util.anti_csrf_token('core/admin_send_password_reset_link') }}
                                        {{ util.input_submit(label=gettext("Send Password Reset Link"), icon="paper-plane",
                                                aclass="btn btn-sm btn-warning") }}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% if data['is_active'] %}
                                    {% trans %}
                                    	Sends an email to this user, which contains a password reset link. This is
                                        basically the same as any non-admin user can achieve using the “Reset Password”
                                        form on the login page.
                                    {% endtrans %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                {% if data['is_active'] %}
                                    <form action="{{ cdedblink('core/toggle_activity', {'activity': False}) }}"
                                          method="POST" id="activitytoggleform" style="display: inline;">
                                        {{ util.anti_csrf_token('core/toggle_activity') }}
                                        {{ util.input_submit(label=gettext("Deactivate Account"), icon="ban",
                                                aclass="btn btn-danger btn-sm") }}
                                    </form>
                                {% else %}
                                    <form action="{{ cdedblink('core/toggle_activity', {'activity': True}) }}"
                                          method="POST" id="activitytoggleform" style="display: inline;">
                                        {{ util.anti_csrf_token('core/toggle_activity') }}
                                        {{ util.input_submit(label=gettext("Reactivate Account"), icon="check-circle",
                                                aclass="btn btn-success btn-sm") }}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% if data['is_active'] %}
                                    {% trans %}
                                    	Deactivates the account, so the user can no longer log in.
                                        This is intended for exceptional circumstances, e.g. if the
                                        account was compromised.
                                        This can be reversed at any time.
                                    {% endtrans %}
                                {% else %}
                                    {% trans %}
                                    	Reactivates the account, so the user can log in again.
                                        Make sure that the cause of the deactivation was removed.
                                    {% endtrans %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                <form action="{{ cdedblink('core/archive_persona') }}" method="POST"
                                 id="archivepersonaform">
                                    {{ util.anti_csrf_token('core/archive_persona') }}

                                    <div class="form-group">
                                        {{ util.input_submit(label=gettext("Archive Account"), icon="eraser",
                                                aclass="btn btn-danger btn-sm", readonly=data['is_meta_admin'],
                                                title=gettext("Cannot archive meta admins.") if data['is_meta_admin'] else "") }}
                                        {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?")) }}
                                    </div>
                                    {{ util.form_input_textarea(name="note", label=gettext("Note"), horizontal=False) }}
                                </form>
                                <script nonce="{{ csp_nonce }}">
                                    $('#archivepersonaform').cdedbProtectAction(
                                        "{{ gettext("The Account will be archived.") }}");
                                    $('#archivepersonaform').find('[name="ack_delete"]').prop('checked', true)
                                        .parent().hide();
                                </script>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% trans %}
                                    Archives the Account. The User can no longer login and most Information is deleted.
                                    Only Information necessary to restore Membership will be retained
                                    (i. e. Name and Past Events attendance).
                                    Other Users can no longer see the Account.
                                {% endtrans %}
                            </p>
                        </div>
                    </div>

                {% if "core_user" in user.admin_views %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                <form action="{{ cdedblink('core/invalidate_password') }}" method="POST"
                                      id="invalidatepasswordform">
                                    {{ util.anti_csrf_token('core/invalidate_password') }}
                                    <div class="form-group">
                                        {{ util.input_submit(label=gettext("Invalidate Password"), icon="lock",
                                                aclass="btn btn-warning btn-sm") }}
                                    </div>
                                    {{ util.form_input_text(name="confirm_username", small=True,
                                            label=gettext("Provide the user's email address for confirmation."), horizontal=False) }}
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% trans %}
                                    Invalidates the users password and terminates their sessions.
                                    They will have to set a new password.
                                {% endtrans %}
                                {% trans %}
                                    If the user is an admin, you will need to send them a reset link to do that.
                                {% endtrans %}
                                {% trans %}
                                    Please enter the user's email address to confirm this action.
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                {% endif %}

            {% else %} {# user is archived #}
                {# User dearchiving is no immediate action and thus resides at the top of the page. #}
                {% if "core_admin" in user.roles %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                <form action="{{ cdedblink('core/purge_persona') }}" method="POST"
                                 id="purgepersonaform" style="display: inline;">
                                    {{ util.anti_csrf_token('core/purge_persona') }}
                                    {{ util.input_submit(label=gettext("Delete Account"), icon="fire",
                                            aclass="btn btn-danger btn-sm") }}
                                    {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?")) }}
                                </form>
                                <script nonce="{{ csp_nonce }}">
                                    $('#purgepersonaform').cdedbProtectAction(
                                        "{{ gettext("The Account will be deleted.") }}");
                                    $('#purgepersonaform').find('[name="ack_delete"]').prop('checked', true)
                                        .parent().hide();
                                </script>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% trans %}
                                	Deletes all remaining Information associated with the Account.
                                    The Name will be lost as well. It will no longer be possible to restore the Account.
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endcall %}

    {% endif %}
{% endblock %}
