{% if data['id'] == user.persona_id %}{% set sidenav_active='core_mydata'%}{% endif %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% import "web/generic.tmpl" as generic with context %}
{% block title %}
    {% trans given_names=data['given_names'], family_name=data['family_name'] -%}
        {{ given_names }} {{ family_name }}
    {%- endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(show_user_link(ambience['persona']['id']), "{} {}".format(ambience['persona']['given_names'],
                                                                                  ambience['persona']['family_name']),
        icon="user", active=True) }}
{% endblock %}
{% block content %}
    {% if is_relative_admin %}
        {% if not ambience['persona']['is_active'] %}
            <div class="alert alert-info">
                {{ util.make_icon('info-sign') }} {% trans -%}The User is deactivated.{%- endtrans %}
            </div>
        {% endif %}
        {% if ambience['persona']['is_archived'] %}
            <div class="alert alert-info">
                {{ util.make_icon('info-sign') }} {% trans -%}The User is archived.{%- endtrans %}
            </div>
        {% endif %}
    {% endif %}

    {% if quoteable %}
        {{ util.href(show_user_link(ambience['persona']['id'], quote_me=True), gettext("Show complete Profile"),
                     aclass="btn btn-info btn-sm", icon='eye-close') }}
    {% endif %}
    {% if data['id'] == user.persona_id or is_relative_admin %}
        <div class="p">
            {% if not ambience['persona']['is_archived'] %}
                {% if is_relative_admin %}
                    {% if data['id'] == user.persona_id %}
                        {{ util.href(cdedblink('core/change_user_form'), gettext("Edit (normal)"),
                                aclass="btn btn-warning btn-sm", icon="pencil") }}
                        {{ util.href(cdedblink('core/admin_change_user_form'), gettext("Edit (as Admin)"),
                                aclass="btn btn-warning btn-sm", icon="pencil") }}
                    {% else %}
                        {{ util.href(cdedblink('core/admin_change_user_form'), gettext("Edit"),
                                aclass="btn btn-warning btn-sm", icon="pencil") }}
                    {% endif %}
                {% else %}
                    {{ util.href(cdedblink('core/change_user_form'), gettext("Edit"),
                            aclass="btn btn-warning btn-sm", icon="pencil") }}
                {% endif %}
                {% if data['id'] == user.persona_id %}
                    {{ util.href(cdedblink("core/change_password_form"), gettext("Change Password"),
                            aclass="btn btn-warning btn-sm", icon="edit") }}
                {% endif %}
                {% if is_relative_admin %}
                    {{ util.href(cdedblink("core/show_history"), gettext("Change History"), aclass="btn btn-info btn-sm",
                            icon="time") }}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

    {# Profile photo/avatar #}
    {% if 'foto' in data %}
        <div class="pull-right-responsive text-right-responsive">
            {% if data['foto'] %}
                <img src="{{ cdedblink('core/get_foto', {'foto': data['foto']}) }}"
                     alt="{{ gettext("Profile Picture") }}" class="profilepic img-thumbnail">
            {%- else %}
                <img src="{{ staticurl("generic-avatar.png") }}" alt="{{ gettext("Default Profile Picture") }}"
                  class="profilepic img-thumbnail">
            {%- endif -%}
            {% if data['id'] == user.persona_id or is_relative_admin -%}
                <br />
                {{ util.href(cdedblink('core/set_foto_form'), gettext("Change Profile Picture"),
                        aclass="btn btn-xs btn-warning", icon="pencil") }}
            {% endif %}
        </div>
    {% endif %}

    <div class="float-along">
        <h4 class="heading-underline">{% trans -%}Personal Information{%- endtrans %}</h4>
        <dl class="dl-horizontal">
            <dt>{% trans -%}Name{%- endtrans %}</dt>
            <dd>
                {{ data['title'] }} {{ util.output_given_displayname(data['given_names'], data ['display_name']) }}
                {{ data['family_name'] }} {{ data['name_supplement'] }}
            </dd>
            {% if data['birth_name'] %}
                <dt>{% trans -%}Birth Name{%- endtrans %}</dt>
                <dd>{{ data['birth_name'] }}</dd>
            {% endif %}
            {% if data['birthday'] %}
                <dt>{% trans -%}Birthday{%- endtrans %}</dt>
                <dd>{{ data['birthday']|date(lang=lang) }}</dd>
            {% endif %}
            {% if (data['id'] == user.persona_id or is_relative_admin) and data['gender'] %}
                <dt>{% trans -%}Gender{%- endtrans %}</dt>
                <dd>{{ gettext(enums['Genders'](data['gender'])|string) }}</dd>
            {% endif %}
        </dl>



            <h4 class="heading-underline">{% trans -%}Account &amp; Membership{%- endtrans %}</h4>
            <dl class="dl-horizontal">
                <dt>{% trans -%}CdEDB-ID{%- endtrans %}</dt>
                <dd>{{ data['id']|cdedbid }}</dd>
                {% if is_relative_admin %}
                    <dt>{% trans -%}Account active{%- endtrans %}</dt>
                    <dd>{{ util.deko_checkbox(checked=data['is_active'], anid='activity_checkbox',
                                              titles=[gettext("No"), gettext("Yes")]) }}</dd>
                {% endif %}
            </dl>
        {% if data['id'] == user.persona_id or is_relative_admin %}
            <dl class="dl-horizontal">
                <dt>{% trans -%}Realms{%- endtrans %}</dt>
                <dd>
                    {% set vars = {'any_realm_not': False} %}
                    {% for bit, desc, icon in (("is_cde_realm", gettext("cde_realm"), "education"),
                                               ("is_event_realm", gettext("Events"), "blackboard"),
                                               ("is_ml_realm", gettext("Mailinglists"), "envelope"),
                                               ("is_assembly_realm", gettext("Assemblies"), "bullhorn"),)%}
                        {% if data[bit] %}
                            {{ util.make_icon(icon, title=desc) }}
                        {% else %}
                            {# Dirty hack to workaround Jinjas set drawbacks #}
                            {% set tmp = vars.update({'any_realm_not': True}) %}
                        {% endif %}
                    {% endfor %}
                    {% if 'core_admin' in user.roles
                            and vars['any_realm_not']
                            and not ambience['persona']['is_archived'] %}
                        {{ util.href(cdedblink("core/promote_user_form"), gettext("Add Realm"), icon="pencil",
                                aclass="btn btn-xs btn-warning") }}
                    {% endif %}
                </dd>

                <dt>{% trans -%}Admin Privileges{%- endtrans %}</dt>
                <dd>
                    {% set vars = {'any_privilege': False} %}
                    {% for bit, desc, icon in (("is_admin", gettext("Super-Admin"), "wrench"),
                                              ("is_core_admin", gettext("Core-Admin"), "user"),
                                              ("is_cde_admin", gettext("CdE-Admin"), "education"),
                                              ("is_event_admin", gettext("Event-Admin"), "blackboard"),
                                              ("is_ml_admin", gettext("Mailinglist-Admin"), "envelope"),
                                              ("is_assembly_admin", gettext("Assembly-Admin"), "bullhorn"),)%}
                        {% if data[bit] %}
                            {{ util.make_icon(icon, title=desc) }}
                            {# Dirty hack to workaround Jinjas set drawbacks #}
                            {% set tmp = vars.update({'any_privilege': True}) %}
                        {% endif %}
                    {% endfor %}
                    {% if not vars['any_privilege'] %}
                        <i>{% trans -%}None{%- endtrans %}</i>
                    {% endif %}
                    {% if 'admin' in user.roles and not ambience['persona']['is_archived'] %}
                        {{ util.href(cdedblink("core/change_privileges_form"), gettext("Edit"), icon="pencil",
                                aclass="btn btn-xs btn-warning") }}
                    {% endif %}
                </dd>

                {% if data['notes'] and is_relative_admin %}
                    <dt>{% trans -%}Admin-Notes{%- endtrans %}</dt>
                    <dd>{{ data['notes']|md|linebreaks }}</dd>
                {% endif %}
            </dl>

            {% if data['is_cde_realm'] %}
                <dl class="dl-horizontal">
                    <dt>{% trans -%}Membership{%- endtrans %}</dt>
                    <dd>
                        {{ util.deko_checkbox(checked=data['is_member'], anid="membership_checkbox") }}
                        {% if data['is_member'] %}{% trans -%}CdE-Member{%- endtrans %}{% endif %}
                        {% if data['trial_member'] %}
                            {% trans -%}(Trialmembership){%- endtrans %}
                        {% endif %}
                        {% if is_relative_admin %}
                            {{ util.href(cdedblink('core/modify_membership_form'), gettext("Change Status"), icon="pencil",
                                         aclass="btn btn-xs btn-warning") }}
                        {% endif %}
                    </dd>

                    <dt>{% trans -%}Balance{%- endtrans %}</dt>
                    {% if data['has_lastschrift'] %}
                        <dd>
                            {{ data['balance']|money(lang=lang) }} {% trans -%}and{%- endtrans %}
                            {{ util.href(cdedblink("cde/lastschrift_show", {'persona_id': data['id']}),
                                    gettext("Direct Debit Authorization"), icon="euro") }}
                        </dd>
                    {% else %}
                        <dd>{{ data['balance']|money(lang=lang) }}</dd>
                        {% if data['is_member'] and 'cde_admin' in user.roles %}
                            <dd>
                                {{ util.href(cdedblink("cde/lastschrift_show", {'persona_id': data['id']}),
                                        gettext("New Direct Debit Authorization …"), icon="euro") }}
                            </dd>
                        {% endif %}
                    {% endif %}

                    {% if data['is_member'] %}
                        <dt>{% trans -%}Searchability{%- endtrans %}</dt>
                        <dd>
                            {{ util.deko_checkbox(checked=data['is_searchable']) }}
                            {% if data['is_searchable'] %}
                                <td>{% trans -%}Data is visible for other Members.{%- endtrans %}</td>
                            {% else %}
                                {% if not data['decided_search'] %}
                                    {% trans -%}Not yet decided. (Data is not visible){%- endtrans %}
                                    {% if data['id'] == user.persona_id %}
                                        {{ util.href(cdedblink('cde/consent_decision'), gettext("Give Consent"),
                                                     icon="hand-right", aclass="btn btn-xs btn-primary") }}
                                    {% endif %}
                                {% else %}
                                    {% trans -%}Data is not visible.{%- endtrans %}
                                {% endif %}
                            {% endif %}
                        </dd>

                        <dt>{% trans -%}Searchable for BuB{%- endtrans %}</dt>
                        <dd>
                            {{ util.deko_checkbox(checked=data['bub_search']) }}
                            {% if data['bub_search'] %}
                                {% trans -%}Active{%- endtrans %}
                            {% endif %}
                        </dd>
                    {% endif %}
                </dl>
            {% endif %}
        {% endif %}

        <h4 class="heading-underline">{% trans -%}Contact Information{%- endtrans %}</h4>
        <dl class="dl-horizontal">
            <dt>{% trans -%}E-Mail{%- endtrans %}</dt>
            <dd>
                {% if data['username'] %}
                    {{ data['username'] }}
                {% else %}
                    —
                {% endif %}
                {% if data['id'] == user.persona_id %}
                    {{ util.href(cdedblink('core/change_username_form'), gettext("Edit"),
                                 aclass="btn btn-xs btn-warning", icon="pencil") }}
                {% elif is_relative_admin and not ambience['persona']['is_archived'] %}
                    {{ util.href(cdedblink('core/admin_username_change_form'), gettext("Edit"),
                                 aclass="btn btn-xs btn-warning", icon="pencil") }}
                {% endif %}
            </dd>
            {% if data['telephone'] %}
                <dt>{% trans -%}Phone{%- endtrans %}</dt>
                <dd>{{ data['telephone'] }}</dd>
            {% endif %}
            {% if data['mobile'] %}
                <dt>{% trans -%}Mobilephone{%- endtrans %}</dt>
                <dd>{{ data['mobile'] }}</dd>
            {% endif %}
            {% if data['weblink'] %}
                <dt>{% trans -%}WWW{%- endtrans %}</dt>
                {# TODO maybe add links or so - must be validated before! #}
                <dd>{{ data['weblink'] }}</dd>
            {% endif %}
        </dl>

        {% if (data['address'] or data['address_supplement'] or data['postal_code']
                    or data['location'] or data['country']) %}
            <h4 class="heading-underline">{% trans -%}Address Information{%- endtrans %}</h4>
            <dl class="dl-horizontal">
                <dt>{% trans -%}Address{%- endtrans %}</dt>
                <dd>
                    {{ data['address'] }}{% if data['address'] %}<br />{% endif %}
                    {{ data['address_supplement'] }}{% if data['address_supplement'] %}<br />{% endif %}
                    {{ data['postal_code'] }} {{ data['location'] }}{% if data['location'] %}<br />{% endif %}
                    {{ data['country'] }}
                </dd>
            </dl>
        {% endif %}

        {% if (data['address2'] or data['address_supplement2'] or data['postal_code2']
                or data['location2'] or data['country2']) %}
            <dl class="dl-horizontal">
                <dt>{% trans -%}Second Address{%- endtrans %}</dt>
                <dd>
                    {{ data['address2'] }}{% if data['address2'] %}<br />{% endif %}
                    {{ data['address_supplement2'] }}{% if data['address_supplement2'] %}<br />{% endif %}
                    {{ data['postal_code2'] }} {{ data['location2'] }}
                    {% if data['location2'] %}<br />{% endif %}
                    {{ data['country2'] }}
                </dd>
            </dl>
        {% endif %}

        {% if data['specialisation'] or data['affiliation'] or data['timeline'] or data['interests']
                or data['free_form'] %}
            <h4 class="heading-underline">{% trans -%}Miscellaneous{%- endtrans %}</h4>
            <dl class="dl-horizontal">
                {% if data['specialisation'] %}
                    <dt>{% trans -%}Specialisation{%- endtrans %}</dt>
                    <dd>{{ data['specialisation']|md }}</dd>
                {% endif %}
                {% if data['affiliation'] %}
                    <dt>{% trans -%}School, University, …{%- endtrans %}</dt>
                    <dd>{{ data['affiliation']|md }}</dd>
                {% endif %}
                {% if data['timeline'] %}
                    <dt>{% trans -%}Year(s) of Graduation{%- endtrans %}</dt>
                    <dd>{{ data['timeline']|md }}</dd>
                {% endif %}
                {% if data['interests'] %}
                    <dt>{% trans -%}Interests{%- endtrans %}</dt>
                    <dd>{{ data['interests']|md }}</dd>
                {% endif %}
                {% if data['free_form'] %}
                    <dt>{% trans -%}Miscellaneous{%- endtrans %}</dt>
                    <dd>{{ data['free_form']|md }}</dd>
                {% endif %}
            </dl>
        {% endif %}

        {% if past_events %}
            <h4 class="heading-underline">{% trans -%}Past Events{%- endtrans %}</h4>
            <table class="table table-hover past-event-table">
            <tbody>
                {% for pevent_id, pevent in past_events|xdictsort('tempus')|reverse %}
                    <tr>
                        <td>
                            {{ util.href(cdedblink("cde/show_past_event", {"pevent_id": pevent_id}),
                                         pevent['event_name'], readonly='cde' not in user.roles) -}}
                        </td>
                        <td>
                            {% if pevent['is_orga'] %}
                                (Orga) <br />
                            {% endif %}
                            {% if pevent['courses'] -%}
                                {% for pcourse_id, pcourse in pevent['courses']|xdictsort('nr', pad=True) %}
                                    {{ pcourse['nr'] }}.
                                    {{ util.href(cdedblink("cde/show_past_course", {"pevent_id": pevent_id,
                                                                                    "pcourse_id": pcourse_id}),
                                                 pcourse['course_name'], readonly='cde' not in user.roles) }}
                                    {%- if pcourse['is_instructor'] %}
                                        {% trans -%}(Instructor){%- endtrans %}
                                    {%- endif -%}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
        {%  if is_admin and data["is_cde_realm"] %}
            <h4 class="heading-underline">{% trans -%}Copy-Paste Template{%- endtrans %}</h4>
            <pre>
Kontoinhaber:       {{ meta_info['CdE_Konto_Inhaber'] }}
IBAN:               {{ meta_info['CdE_Konto_IBAN']|iban }}
BIC:                {{ meta_info['CdE_Konto_BIC'] }}
Kreditinstitut:     {{ meta_info['CdE_Konto_Institut'] }}
Verwendungszweck:   {{ data['id']|cdedbid }}, {{ data['family_name'] }}, {{ data['given_names'] }}

Bei Überweisungen aus dem Ausland achte bitte darauf, dass der
Empfänger keine Gebühren bezahlen muss.

Nähere Informationen gibt es auf:
https://www.cde-ev.de/node/7

Sobald deine Überweisung angekommen ist und eingetragen wurde, erhältst
du automatisch eine Bestätigung per E-Mail und bist dann sofort wieder
Mitglied.</pre>
        {% endif %}
    </div>

    {% if data['id'] != user.persona_id and (is_relative_admin or "core_admin" in user.roles) %}
        {% call util.bootstrap_panel(title=gettext("Actions"), icon="warning-sign", aclass="panel-danger mosp") %}
            {% if not ambience['persona']['is_archived'] %}
                {% if data['id'] != user.persona_id %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                {% if data['is_active'] %}
                                    <form action="{{ cdedblink('core/admin_send_password_reset_link') }}"
                                          method="POST" id="sendpasswordresetform" style="display: inline;">
                                        {{ util.anti_csrf_token('core/admin_send_password_reset_link') }}
                                        {{ util.input_submit(value=gettext("Send Password Reset Link"), icon="send",
                                                aclass="btn btn-sm btn-warning") }}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% if data['is_active'] %}
                                    {% trans -%}
                                    	Sends an email to this user, which contains a password reset link. This is
                                        basically the same as any non-admin user can achieve using the "Reset Password"
                                        form on the login page.
                                    {%- endtrans %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}
                {% if is_relative_admin %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                {% if data['is_active'] %}
                                    <form action="{{ cdedblink('core/toggle_activity', {'activity': False}) }}"
                                          method="POST" id="activitytoggleform" style="display: inline;">
                                        {{ util.anti_csrf_token('core/toggle_activity') }}
                                        {{ util.input_submit(value=gettext("Deactivate Account"), icon="ban-circle",
                                                aclass="btn btn-danger btn-sm") }}
                                    </form>
                                {% else %}
                                    <form action="{{ cdedblink('core/toggle_activity', {'activity': True}) }}"
                                          method="POST" id="activitytoggleform" style="display: inline;">
                                        {{ util.anti_csrf_token('core/toggle_activity') }}
                                        {{ util.input_submit(value=gettext("Reactivate Account"), icon="ok-circle",
                                                aclass="btn btn-success btn-sm") }}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% if data['is_active'] %}
                                    {% trans -%}
                                    	Deactivates the account, so the user can no longer log in.
                                        This is intended for exceptional circumstances, e.g. if the
                                        account was compromised.
                                        This can be reversed at any time.
                                    {%- endtrans %}
                                {% else %}
                                    {% trans -%}
                                    	Reactivates the account, so the user can log in again.
                                        Make sure that the cause of the deactivation was removed.
                                    {%- endtrans %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}

                {% if "core_admin" in user.roles %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                <form action="{{ cdedblink('core/archive_persona') }}" method="POST"
                                 id="archivepersonaform" style="display: inline;">
                                    {{ util.anti_csrf_token('core/archive_persona') }}
                                    {{ util.input_submit(value=gettext("Archive Account"), icon="erase",
                                            aclass="btn btn-danger btn-sm") }}
                                    {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?")) }}
                                </form>
                                <script type="text/javascript" nonce="{{ csp_nonce }}">
                                    $('#archivepersonaform').cdedbProtectAction(
                                        "{{ gettext("The Account will be archived.") }}");
                                    $('#archivepersonaform').find('[name="ack_delete"]').prop('checked', true)
                                        .parent().hide();
                                </script>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% trans -%}
                                	Archives the Account. The User can no longer login and most Information is deleted.
                                    Only Information necesary to restore Membership will be retained
                                    (i.e. Name and Past Events attendance).
                                    Other Users can no longer see the Account.
                                {%- endtrans %}
                            </p>
                        </div>
                    </div>
                {% endif %}

            {% else %} {# user is archived #}
                {% if "core_admin" in user.roles %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                <form action="{{ cdedblink('core/dearchive_persona') }}" method="POST"
                                      id="dearchivepersonaform" style="display: inline;">
                                    {{ util.anti_csrf_token('core/dearchive_persona') }}
                                    {{ util.input_submit(value=gettext("Restore Account"), icon="open-file",
                                                         aclass="btn btn-success btn-sm") }}
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% trans -%}
                                	Restores the archives Account. It will be usable again.
                                {%- endtrans %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p">
                                <form action="{{ cdedblink('core/purge_persona') }}" method="POST"
                                 id="purgepersonaform" style="display: inline;">
                                    {{ util.anti_csrf_token('core/purge_persona') }}
                                    {{ util.input_submit(value=gettext("Delete Account"), icon="fire",
                                            aclass="btn btn-danger btn-sm") }}
                                    {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?")) }}
                                </form>
                                <script type="text/javascript" nonce="{{ csp_nonce }}">
                                    $('#purgepersonaform').cdedbProtectAction(
                                        "{{ gettext("The Account will be deleted.") }}");
                                    $('#purgepersonaform').find('[name="ack_delete"]').prop('checked', true)
                                        .parent().hide();
                                </script>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted">
                                {% trans -%}
                                	Deletes all remaining Information associated with the Account.
                                    The Name will be lost as well. It will no longer be possible to restore the Account.
                                {%- endtrans %}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endcall %}

    {% endif %}
{% endblock %}
