{% set sidenav_active='core_log' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/logging.tmpl" as logging with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% block title %}
    {% trans %}Account Log{% endtrans %}
    {{ logging.counter(total, values['offset'] or '', length) }}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("core/view_log"), gettext("Account Log"), active="True") }}
{% endblock %}
{% block content %}
    {% call logging.table(log) %}
        {% for entry in log %}
            {{ logging.row(entry, enums['CoreLogCodes'], loop.index) }}
        {% endfor %}
    {% endcall %}

    {{ logging.navigation('core/view_log', total, length, loglinks) }}
    {{ logging.filter('core/view_log', enums['CoreLogCodes'], 'admin_persona') }}
{% endblock %}
