{% set sidenav_active='core_change_log' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/logging.tmpl" as logging with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% block title %}
    {% trans %}Userdata Log{% endtrans %}
    {{ logging.counter(total, values['offset'] or '', length) }}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("core/view_changelog_meta"), gettext("Userdata Log"), active="True") }}
{% endblock %}
{% block content %}
    {{ logging.filterlink() }}
    <table class="table table-condensed table-hover table-log">
        <thead>
            <tr>
                <th>{% trans %}Timestamp{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Submitted By{% endtrans %}</th>
                <th>{% trans %}Reviewed By{% endtrans %}</th>
                <th>{% trans %}Affected{% endtrans %}</th>
                <th>{% trans %}Generation{% endtrans %}</th>
                <th>{% trans %}Additional Info{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in log %}
                <tr>
                    <td>{{ entry['ctime']|datetime(formatstr="%d.%m.%Y %H:%M:%S") }}</td>
                    <td>{{ gettext(enums['MemberChangeStati'](entry['code'])|string) }}</td>
                    <td>
                        {% if entry['submitted_by'] %}
                            {{ util.href(show_user_link(user, entry['submitted_by']),
                                         util.persona_name(personas[entry['submitted_by']]))
                            }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if entry['reviewed_by'] %}
                            {{ util.href(show_user_link(user, entry['reviewed_by']),
                                         util.persona_name(personas[entry['submitted_by']]))
                            }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if entry['persona_id'] %}
                            {{ util.href(show_user_link(user, entry['persona_id']),
                                         util.persona_name(personas[entry['submitted_by']]))
                            }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ entry['generation'] }}</td>
                    <td>{{ entry['change_note'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ logging.navigation('core/view_changelog_meta', total, length, loglinks) }}
    {{ logging.filter('core/view_changelog_meta', enums['MemberChangeStati'], 'admin_persona', 'changelog') }}
{% endblock %}
