{% set sidenav_active='core_change_log' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
Nutzerdaten-Log [{{ values['start']|int|e }}–{{ (values['start']|int + log|length)|e }}]
{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("core/index"), "Start") }}
{{ util.breadcrumb_link(cdedblink("core/view_changelog_meta"), "Nutzerdaten-Log", active="True") }}
{% endblock %}
{% block content %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Zeitstempel</th>
                <th>Status</th>
                <th>Erstellt von</th>
                <th>Begutachtet von</th>
                <th>Betroffen</th>
                <th>Generation</th>
                <th>Notiz</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in log %}
                <tr>
                    <td>{{ entry['ctime']|datetime(lang=lang)|e }}</td>
                    <td>{{ gettext(enums['MemberChangeStati'](entry['change_status'])|string)|e }}</td>
                    <td>
                        {% if entry['submitted_by'] %}
                            {{ util.href(show_user_link(entry['submitted_by']),
                                    personas[entry['submitted_by']]['given_names']|e
                                    + " " + personas[entry['submitted_by']]['family_name']|e)
                            }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if entry['reviewed_by'] %}
                            {{ util.href(show_user_link(entry['reviewed_by']),
                                    personas[entry['reviewed_by']]['given_names']|e
                                    + " " + personas[entry['reviewed_by']]['family_name']|e)
                            }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if entry['persona_id'] %}
                            {{ util.href(show_user_link(entry['persona_id']),
                                    personas[entry['persona_id']]['given_names']|e
                                    + " " + personas[entry['persona_id']]['family_name']|e)
                            }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ entry['generation']|e }}</td>
                    <td>{{ entry['change_note']|e }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% call util.bootstrap_panel(title="Filter", icon="search", aclass="panel-primary") %}
        <form action="{{ cdedblink('core/view_changelog_meta')|e }}" method="GET" id="logshowform"
          class="form-horizontal">
            {# jinja does not support list comprehension ... #}
            {% set myentries = [] %}
            {% for status in enums['MemberChangeStati1'] %}
                {{ myentries.append((status.value, gettext(status|string)))|e }}
            {% endfor %}
            {{ util.form_input_checkboxes("stati", label="Status", info="Keine Auswahl entspricht allem.",
                                     entries=myentries, small=True) }}
            {{ util.form_input_from_to('start', 'stop', label='Einträge', type='number', small=True) }}
            {{ util.form_input_submit(value="Anzeigen", small=True) }}
        </form>
    {% endcall %}
{% endblock %}
