Hallo allseits,

die Abstimmung "{{ ballot_data['title'] }}" der Versammlung
"{{ assembly_data['title'] }}" ist zu Ende gegangen. Die Ergebnisdatei,
sowie das Skript zum überprüfen ebendieser befinden sich im Anhang.

Die Datenbank
