{% set sidenav_active='cde_manage_users' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('csv-tools') }}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint='strong' %}
{% block title %}Accounts anlegen{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("cde/index"), "CdE") }}
{{ util.breadcrumb_link(cdedblink("cde/user_search"), "Nutzer verwalten") }}
{{ util.breadcrumb_link(cdedblink("cde/batch_admission_form"), "Massenaufnahme", active=True) }}
{% endblock %}
{% macro ba_submit_button() %}
    {% if values['finalized'] %}
        {{ util.form_input_submit(value="Anlegen", horizontal=False) }}
    {% else %}
        {% if data %}
            {{ util.form_input_submit(value="Erneut validieren", horizontal=False) }}
        {% else %}
            {{ util.form_input_submit(value="Validieren", horizontal=False) }}
        {% endif %}
    {% endif %}
{% endmacro %}
{% block content %}
    <form action="{{ cdedblink('cde/batch_admission')|e }}" method="POST" id="admissionform">
        {{ util.input_hidden("finalized") }}
        <div class="row">
            <div class="col-md-6">
                {{ util.form_input_checkbox("membership", label="CdE-Mitgliedschaft eintragen", horizontal=False) }}
                {{ util.form_input_checkbox("trial_membership", label="Probemitgliedschaft gutschreiben",
                                            horizontal=False) }}
            </div>
            <div class="col-md-6">
                {{ util.form_input_checkbox("consent", label="Datenschutzeinwilligung gegeben", horizontal=False) }}
                {{ util.form_input_checkbox("sendmail", label="Willkommensmail verschicken", horizontal=False) }}
            </div>
        </div>
        {{ util.form_input_textarea(name="accounts", label="Daten", horizontal=False, rows=8, anid='input-data') }}

        <p class="help-block">
            {{ util.make_icon('info-sign') }} Bitte einen Datensatz pro Zeile einfügen. Das Format ist
        </p>
        <pre>&quot;Akademie&quot;;&quot;Kurs&quot;;&quot;Nachname&quot;;&quot;Vorname&quot;;&quot;Titel&quot;;<!--
-->&quot;Namenszusatz&quot;;&quot;Geburtsname&quot;;&quot;Geschlecht&quot;;&quot;Adresszusatz&quot;;<!--
-->&quot;Straße&quot;;&quot;Postleitzahl&quot;;&quot;Wohnort&quot;;&quot;Land&quot;;<!--
-->&quot;Telefonnummer&quot;;&quot;Mobilnummer&quot;;&quot;E-Mail&quot;;&quot;Geburtstag&quot;</pre>
        <p class="help-block">
            Bei Geschlecht 1 für männlich, 2 für weiblich und 0 für alles andere eintragen.
        </p>

        {{ ba_submit_button() }}

        {% if data %}
            <h2>Validierungsergebnisse</h2>
            {% for dataset in data %}
                {{ util.input_hidden("hash{}".format(dataset['lineno'] - 1)) }}
                <strong>
                    <span class="row-key" data-row="{{ dataset['lineno']|e }}">Zeile {{ dataset['lineno']|e }}</span>:
                    {{ dataset['raw']['given_names']|e }} {{ dataset['raw']['family_name']|e }}
                    &lt;{{ dataset['raw']['username']|e }}&gt; geb. am {{ dataset['raw']['birthday']|e }}
                    {% if dataset['pevent_id'] %}
                        ({{ pevents[dataset['pevent_id']]|e }}
                        {%- if dataset['pcourse_id'] -%}
                            /{{ pcourses[dataset['pevent_id']][dataset['pcourse_id']]|e }}
                        {%- endif -%}
                        )
                    {% endif %}
                </strong>
                <div class="batch-line-body">
                    {% if dataset['problems'] or dataset['warnings'] %}
                        <ul class="list-unstyled">
                            {% for key, problem in dataset['problems'] %}
                                <li class="text-danger">
                                    {{ util.make_icon('exclamation-sign', title="Fehler") }}
                                    {% if key %}
                                        <em class="row-col-key" data-row="{{ dataset['lineno']|e }}"
                                          data-col="{{ csvfields.get(key, -1) }}">
                                            {{ key|e -}}
                                        </em>:
                                    {% endif %}
                                    {{ util.format_error(problem) }}
                                </li>
                            {% endfor %}
                            {% for key, warning in dataset['warnings'] %}
                                <li class="text-warning">
                                    {{ util.make_icon('warning-sign', title="Warnung") }}
                                    {% if key %}
                                        <em class="row-col-key" data-row="{{ dataset['lineno']|e }}"
                                          data-col="{{ csvfields.get(key, -1) }}">
                                            {{ key|e -}}
                                        </em>:
                                    {% endif %}
                                    {{ util.format_error(warning) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Aktion</label>
                            <div class="p">
                                {#- jinja does not support list comprehension ... #}
                                {%- set myentries = [] %}
                                {%- for resolution in enums['LineResolutions']
                                        if dataset['doppelgangers'] or not resolution.is_modification() %}
                                    {%- do myentries.append((resolution.value, gettext(resolution|string)))|e %}
                                {%- endfor %}
                                {{ util.input_select("resolution{}".format(dataset['lineno'] - 1), myentries,
                                        nulloption="", aclass="form-control select-action",
                                        arialabel="Operation für Zeile {}".format(dataset['lineno'])) }}
                            </div>
                        </div>

                        {% if dataset['doppelgangers'] %}
                            <div class="col-md-6">
                                <label id="doppelgangers-{{ dataset['lineno'] }}-label">
                                    Zusammenführen mit Account
                                </label>
                                <div class="p strip-space">
                                    {#- jinja does not support list comprehension ... #}
                                    {%- set myentries = [('', '–')] %}
                                    {%- for key, value in dataset['doppelgangers']|dictsort %}
                                        {%- with description = "{} {} ({}) <{}> (geb. am {}), {}{}".format(
                                                value['given_names'], value['family_name'],
                                                value['birth_name'] or value['family_name'],
                                                value['username'], value['birthday']|date(lang=lang), key|cdedbid,
                                                '' if value['is_member'] else ' (kein Mitglied)') %}
                                            {%- do myentries.append((key, description))|e %}
                                        {%- endwith %}
                                    {%- endfor %}
                                    {{ util.input_checkboxes("doppelganger_id{}".format(dataset['lineno'] - 1),
                                            myentries, radio=True,
                                            arialabeledby="doppelgangers-{}-label".format(dataset['lineno'])) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {{ ba_submit_button() }}

            <script type="text/javascript">
                $(function() {
                    /* Add csv jumps */
                    var $textinput = $('#input-data');
                    $('.row-col-key').addClass('clickable').click(function() {
                        $textinput.jumpCsvPosition($(this).attr('data-row'),$(this).attr('data-col'));
                    });
                    $('.row-key').addClass('clickable').click(function() {
                        $textinput.jumpCsvPosition($(this).attr('data-row'),-1);
                    });

                    /* Add highlight of undecided rows */
                    var updateLineState = function() {
                        if ($(this).val() == '')
                            $(this).closest('.batch-line-body').css('background-color', '#eee');
                        else
                            $(this).closest('.batch-line-body').css('background-color', '');
                    };
                    $('.select-action').change(updateLineState);
                    $('.select-action').each(function() { updateLineState.call(this) });

                    /* protect form changes */
                    $('#admissionform').cdedbProtectChanges();
                });
            </script>
        {% endif %}
    </form>

{% endblock %}
