{% set sidenav_active='cde_past_events' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans pevent=ambience['pevent']['title'] -%}
        Edit {{ pevent }}
    {%- endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), gettext("Past Events")) }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_event", {"pevent_id": ambience['pevent']['id']}),
        ambience['pevent']['title'], icon="calendar") }}
{{ util.breadcrumb_link(cdedblink("cde/change_past_event_form", {"pevent_id": ambience['pevent']['id']}), gettext("Edit"),
        active=True) }}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function() {
            $('#changeeventform').cdedbProtectChanges();
        });
    </script>
    <form action="{{ cdedblink('cde/change_past_event') }}" method="POST" id="changeeventform"
            class="form-horizontal">
        {{ util.form_input_text(name="title", label=gettext("Title")) }}
        {{ util.form_input_text(name="shortname", label=gettext("Shortname")) }}
        {{ util.form_input_select(name="institution", label=gettext("Institution"), entries=institutions|dictsort) }}
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5",
                                    info=gettext("Supports Markdown %(infolink)s")|format(
                                    infolink=util.href(docurl("Handbuch_Markdown"), gettext("Short Markdown summary")))|s) }}
        {{ util.form_input_text(name="tempus", type="date", label=gettext("Cutoff date")) }}
        {{ util.form_input_submit(value=gettext("Save"), cancellink=cdedblink("cde/show_past_event")) }}
    </form>
{% endblock %}
