{% set sidenav_active='cde_past_events' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans pcourse=ambience['pcourse']['title'], pevent=ambience['pevent']['title'] %}
        Edit {{ pcourse }} ({{ pevent }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), gettext("Past Events")) }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_event", {"pevent_id": ambience['pevent']['id']}),
        ambience['pevent']['title'], icon="calendar-alt") }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_course", {'pcourse_id' : ambience['pcourse']['id']}),
        ambience['pcourse']['title'], icon="book") }}
{{ util.breadcrumb_link(cdedblink("cde/change_past_course_form", {'pcourse_id' : ambience['pcourse']['id']}),
        gettext("Edit"), active=True) }}
{% endblock %}
{% block content %}
    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#changecourseform').cdedbProtectChanges();
        });
    </script>
    <form action="{{ cdedblink('cde/change_past_course') }}" method="POST" id="changecourseform"
            class="form-horizontal">
        {{ util.anti_csrf_token('cde/change_past_course') }}
        {{ util.form_input_text(name="nr", label=gettext("Number")) }}
        {{ util.form_input_text(name="title", label=gettext("Title_[[name of an entity]]")) }}
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5",
                                    info=util.markdownhint) }}
        {{ util.form_input_submit(label=gettext("Save"), cancellink=cdedblink("cde/show_past_course")) }}
    </form>
{% endblock %}
