{% set sidenav_active='cde_past_events' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}{% trans -%}Create Past Event{%- endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), gettext("Past Events")) }}
{{ util.breadcrumb_link(cdedblink("cde/create_past_event"), gettext("Create Past Event"), active=True) }}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function() {
            $('#createeventform').cdedbProtectChanges();
        });
    </script>
    <form action="{{ cdedblink('cde/create_past_event') }}" method="POST" id="createeventform"
        class="form-horizontal">
        {{ util.anti_csrf_token('cde/create_past_event') }}
        {{ util.form_input_text(name="title", label=gettext("Title")) }}
        {{ util.form_input_text(name="shortname", label=gettext("Shortname")) }}
        {{ util.form_input_select(name="institution", label=gettext("Institution"), entries=institutions|dictsort) }}
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5",
                                    info=gettext("Supports %(infolink)s.")|format(
                                    infolink=util.href(docurl("Handbuch_Markdown"), gettext("Markdown"), title=gettext("Short Markdown summary")))|s) }}
        {{ util.form_input_text(name="tempus", label=gettext("Cutoff date"), type="date", placeholder="YYYY-MM-DD") }}
        {{ util.form_input_textarea(name="courses", label=gettext("Courses"),
                               info=gettext('Enter one Course per line in the format: "%(number)s";"%(title)s";"%(desc)s".')|
                                    format(number=gettext("Number"), title=gettext("Title"), desc=gettext("Description"))) }}
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="form-control-static text-info">
                    {{ util.make_icon('info-sign') }} 
                    {% trans -%}Warning: The new Event will be immediately visible to all CdE-Members
                        viewing the list of past Events.{%- endtrans %}
                </div>
            </div>
        </div>
        {{ util.form_input_submit(value=gettext("Create"), cancellink=cdedblink("cde/list_past_events")) }}
    </form>
{% endblock %}
