{% set sidenav_active='cde_past_events' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}{% trans %}Create Past Event{% endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), gettext("Past Events")) }}
{{ util.breadcrumb_link(cdedblink("cde/create_past_event"), gettext("Create Past Event"), active=True) }}
{% endblock %}
{% block content %}
    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#createeventform').cdedbProtectChanges();
        });
    </script>
    <form action="{{ cdedblink('cde/create_past_event') }}" method="POST" id="createeventform"
        class="form-horizontal">
        {{ util.anti_csrf_token('cde/create_past_event') }}
        {{ util.form_input_text(name="title", label=gettext("Title_[[name of an entity]]")) }}
        {{ util.form_input_text(name="shortname", label=gettext("Shortname")) }}
        {{ util.form_input_select(name="institution", label=gettext("Institution"),
                                  entries=institutions|keydictsort(EntitySorter.institution)|dict_entries('id', 'title')) }}
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5", info=util.markdownhint) }}
        {{ util.form_input_text(name="tempus", label=gettext("Cutoff date"), type="date", placeholder="YYYY-MM-DD") }}
        {{ util.form_input_textarea(name="participant_info", label=gettext("Photo gallery"), rows="3",
                                    info=(util.markdownhint + " "
                                          + gettext("Link to photo gallery (e.g. <https://user:pwd@example.cde>) with "
                                                    "http authentification information encoded")|escape)) }}
        {{ util.form_input_textarea(name="courses", label=gettext("Courses"),
                               info=gettext('Enter one Course per line in the format: “%(number)s”;“%(title)s”;“%(desc)s”.')|
                                    format(number=gettext("Number"), title=gettext("Title_[[name of an entity]]"), desc=gettext("Description"))) }}

        {{ util.form_input_static(aclass='text-info', icon='info-circle',
                          value=gettext("Warning: The new Event will be immediately visible to all CdE-Members "
                                        "viewing the list of past Events.")) }}
        {{ util.form_input_submit(label=gettext("Create"), cancellink=cdedblink("cde/list_past_events")) }}
    </form>
{% endblock %}
