{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}Initiative 25+{% endblock %}
{% block breadcrumb %}
{{ super() }}
    {{ util.breadcrumb_link(cdedblink("cde/i25p_index"), "Initiative 25+ (weitere Informationen)", active=True) }}
{% endblock %}
{% block content %}
    <h2>Initiative 25+ &ndash; Was ist das?</h2>

    <p>
        Sofern Du die Erlaubnis dazu erteilst, zieht der CdE in Zukunft
        jährlich 25 € oder einen beliebigen höheren Betrag als Lastschrift
        von Deinem Konto ein: 25+ eben.
    </p>

    <p>
        Mit diesen mindestens 25 € wird zunächst der &ndash; jeweils aktuelle &ndash;
        Mitgliedsbeitrag für ein Jahr verrechnet, derzeit also 5 €. Der
        Restbetrag kommt dem CdE als Spende zugute. Im Rahmen der
        Vereinsarbeit soll darauf geachtet werden, dass in etwa 40 Prozent
        davon der Deutschen SchülerAkademie gespendet oder für eine sonstige
        Unterstützung der „Idee SchülerAkademie“ verwendet werden.
    </p>

    <h3>Wofür benötigt der CdE Spenden?</h3>

    <p>
        Die Pfingst- Sommer-, Winter- und Multinationale Akademie werden
        durch Spenden bezuschusst. Dadurch sinken ihre Teilnehmerbeiträge,
        was allen Teilnehmern zugute kommt. Seit 2013 unterstützen wir auch
        einige kleinere Veranstaltungen mit einem Teil der eingegangen
        Spenden, etwa das CdE-Seminar, die FamilienAkademie und das
        Studieninformationswochenende.
    </p>

    <h3>Die SchülerAkademie fördern</h3>

    <p>
        Mit der <em>Initiative 25+</em> soll auch ein Beschluss der
        Mitgliederversammlung 2008 umgesetzt und von nun an die „Idee
        SchülerAkademie“ auch finanziell unterstützt werden.  Dazu darf der
        CdE einen Teil der auf diesem Weg erhaltenen Spenden an Bildung &amp;
        Begabung gem. GmbH weiterreichen oder aber auf anderem Wege die
        SchülerAkademien fördern.
    </p>

    <h3>Spendenbescheinigung</h3>

    <p>
        Über die abgebuchten Spenden stellt dir der CdE eine
        Spendenbescheinigung zur Vorlage beim Finanzamt aus. Die
        Bescheinigung wird dir ca. acht Wochen nach Einlösung der Lastschrift
        zugesandt.
    </p>

    <h2>Formular</h2>

    <p>
        Aus rechtlichen Gründen benötigen wir die Lastschriftermächtigung in
        Schriftform. Lade die bitte
        {{ util.href(cdedblink("cde/lastschrift_subscription_form"), "dieses Formular herunter") }}
        fülle es aus und schicke es uns zu.
    </p>
{% endblock %}
