{% set sidenav_active='cde_past_events_org' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% set jshint='strong' %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_dynamicrow.js') }}
{% endblock %}
{% block title %}{% trans %}Manage Institutions of past Events{% endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/institution_summary"), gettext("Manage Institutions"), active="True") }}
{% endblock %}

{% block content %}
    {% set columns =  [dict(name="title", label=gettext("Name"), func=util.input_text),
                       dict(name="shortname", label=gettext("Shortname"), func=util.input_text)] %}

    <form action="{{ cdedblink('cde/institution_summary') }}" method="POST" id="institutionsummaryform">
        {{ util.anti_csrf_token('cde/institution_summary') }}
        {{ util.dynamic_row_table("Institution", columns, institutions, locked=is_referenced, sortkey=EntitySorter.institution) }}
        {{ util.input_submit(value=gettext("Save")) }}
    </form>

    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#drow-table').cdedbDynamicRow({
                addButton: $('#drow-addbutton'),
                delButtonTitle: "{{ gettext("Delete line") }}"});
            $('#institutionsummaryform').cdedbProtectChanges();
        });
    </script>
{% endblock %}
