{% set sidenav_active='cde_lastschrift' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% block title %}
    {% trans -%}
        Direct Debit Authorizations Overview
    {%- endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_index"), gettext("Direct Debit Authorizations"), active="True") }}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function() {
            $('.skip-form').cdedbProtectAction(
                "{{ gettext("This Direct Debit will be skipped for this semster. This cannot be undone.") }}");
            $('#finalizationform').cdedbProtectAction("{{ gettext("This action cannot be undone.") }}",
                    function(){return $('#finalization-cancel')[0] == document.activeElement;});
            $('#generatetransactionsform').cdedbProtectAction("{{ gettext("Direct Debits will be created.") }}")
                .on('submit', function(){window.location.reload();});
            $('.generatetransactionform').cdedbProtectAction("{{ gettext("Direct Debit will be created.") }}")
                .on('submit', function(){window.location.reload();});
        });
    </script>

    <h2>{% trans -%}Open Direct Debit Authorizations{%- endtrans %}</h2>

    <p>
        {% trans -%}
            During the Semester – as early as possible, but not before the Payment Reqeusts/Information are sent – the
            following Direct Debits have to be executed. To do this, generate a dtx-file and import it into the online
            banking software.
        {%- endtrans %}
    </p>

    <table class="table table-condensed">
        <tbody>
        {% for lastschrift_id, lastschrift in lastschrifts|dictsort if lastschrift['open'] %}
            <tr>
                <td>
                    {% set persona = personas[lastschrift['persona_id']] %}
                    {{ util.href(cdedblink('cde/lastschrift_show', {'persona_id': lastschrift['persona_id']}),
                                 "{} {}".format(persona['given_names'], persona['family_name'])) }}
                </td>
                <td>
                    <form action="{{ cdedblink('cde/lastschrift_download_sepapain') }}" method="GET"
                            id="downloadsepapainform{{ lastschrift_id }}" class="downloadsepapainform">
                        {{ util.anti_csrf_token('cde/lastschrift_download_sepapain') }}
                        {{ util.input_hidden(name="lastschrift_id", value=lastschrift_id) }}
                        {{ util.input_submit(gettext("Create Sepapain File"), icon='download', aclass='btn btn-xs btn-primary') }}
                    </form>
                </td>
                <td>
                    <form action="{{ cdedblink('cde/lastschrift_generate_transactions') }}" method="POST"
                            id="generatetransactionform{{ lastschrift_id }}" class="generatetransactionform">
                        {{ util.anti_csrf_token('cde/lastschrift_generate_transactions') }}
                        {{ util.input_hidden(name="lastschrift_id", value=lastschrift_id) }}
                        {{ util.input_submit(gettext("Perform Direct Debit"), icon='play', aclass='btn btn-xs btn-primary') }}
                    </form>
                </td>
                <td>
                    <form action="{{ cdedblink('cde/lastschrift_skip', {'lastschrift_id': lastschrift_id}) }}"
                            method="POST" id="skiptransactionform{{ lastschrift_id }}" class="skip-form">
                        {{ util.anti_csrf_token('cde/lastschrift_skip') }}
                        {{ util.input_hidden(name="lastschrift_id", value=lastschrift_id) }}
                        {{ util.input_submit(gettext("Skip Direct Debit"), icon='step-forward', aclass='btn btn-xs btn-warning') }}
                    </form>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="3">{% trans -%}No Direct Debits to perform this Semester.{%- endtrans %}</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="{{ cdedblink('cde/lastschrift_download_sepapain') }}" method="GET"
      id="downloadsepapainform" style="display: inline;">
        {{ util.anti_csrf_token('cde/lastschrift_download_sepapain') }}
        {{ util.input_submit(gettext("Create Sepapain File"), icon='download', aclass='btn btn-primary') }}
    </form>
    <form action="{{ cdedblink('cde/lastschrift_generate_transactions') }}" method="POST"
      id="generatetransactionsform" style="display: inline;">
        {{ util.anti_csrf_token('cde/lastschrift_generate_transactions') }}
        {{ util.input_submit(gettext("Perform all Direct Debits"), icon='play', aclass='btn btn-primary') }}
    </form>
    {% if errors %}
        <ul>
        {% for name, error in errors.items() %}
            <li>{{ name }}: {{ util.format_error(error) }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2>{% trans -%}Open Direct Debits{%- endtrans %}</h2>
    {% if transactions|length > 0 %}
        <p>
            {% trans -%}
                The following Direct Debits are pending. As soon as they are executed, enter whether they were
                executed successfully, were not executed at all or failed to execute. In the latter case, the
                authorization will be considered revoked.
            {%- endtrans %}
        </p>

        <form action="{{ cdedblink('cde/lastschrift_finalize_transactions') }}" method="POST" id="finalizationform">
            {{ util.anti_csrf_token('cde/lastschrift_finalize_transactions') }}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans -%}Member{%- endtrans %}</th>
                        <th>{% trans -%}Date{%- endtrans %}</th>
                        <th>{% trans -%}Amount{%- endtrans %}</th></tr>
                </thead>
                <tbody>
                {% for transaction_id, transaction in transactions|xdictsort('issued_at') %}
                    <tr>
                        <td>
                            {{ util.input_checkbox(name="transaction_ids", value=transaction_id) }}
                        </td>
                        <td>
                            {% set persona = personas[all_lastschrifts[transaction['lastschrift_id']]['persona_id']] %}
                            {{ util.href(cdedblink('cde/lastschrift_show', {'persona_id': persona['id']}),
                                         "{} {}".format(persona['given_names'], persona['family_name'])) }}
                            {% if all_lastschrifts[transaction['lastschrift_id']]['revoked_at'] %}
                                <b class="alert-danger">{{ util.make_icon("warning-sign") }}
                                {% trans -%}
                                    This transaction needs to be cancelled!
                                {%- endtrans %}
                                </b>
                            {% endif %}
                        </td>
                        <td>{{ transaction['issued_at']|datetime(lang=lang) }}</td>
                        <td>{{ transaction['amount'] }}€</td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
            {% trans -%}All selected:{%- endtrans %}
            {{ util.input_submit(value=gettext("Success"), name='success', aclass="btn btn-success") }}
            {{ util.input_submit(value=gettext("Failed"), name='failure', aclass="btn btn-danger", icon="exclamation-sign") }}
            {{ util.input_submit(value=gettext("Cancelled"), name='cancelled', aclass="btn btn-warning", icon="remove",
                    anid="finalization-cancel") }}
        {% else %}
            <p>
                {% trans -%}There are currently no Direct Debits pending.{%- endtrans %}
            </p>
        {% endif %}
    </form>

    <h2>{% trans -%}All active Authorizations{%- endtrans %}</h2>
    <div class="row">
        {% for chunk in lastschrifts|dictsort|slice(3 if lastschrifts|length > 10
                                                    else 2 if lastschrifts|length > 5
                                                         else 1) %}
            <div class="col-sm-4">
                <ul class="nosp slim">
                    {% for lastschrift_id, lastschrift in chunk %}
                        <li>
                            {% set persona = personas[lastschrift['persona_id']] %}
                            {{ util.href(cdedblink('cde/lastschrift_show', {'persona_id': lastschrift['persona_id']}),
                                         "{} {}".format(persona['given_names'], persona['family_name'])) }}
                            {{ util.href(show_user_link(lastschrift['persona_id']),
                                         gettext("Profile"), icon='user', aclass="btn btn-xs btn-default") }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
