{% set sidenav_active='cde_lastschrift' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('helper') }}{% endblock %}
{% block title %}Einzugsermächtigung bearbeiten{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_index"), "Einzugsermächtigungen") }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_show", {'persona_id': values['persona_id']}),
	"{} {}".format(persona['given_names'], persona['family_name'])|e,
	icon="euro") }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_change_form", {'persona_id': values['persona_id']}), "Bearbeiten",
	active=True) }}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function() {
            $('#changelastschriftform').cdedbProtectChanges();
        });
    </script>
    <form action="{{ cdedblink('cde/lastschrift_change')|e }}" method="POST" id="changelastschriftform"
	    class="form-horizontal">
	{{ util.form_input_static(label="Mitglied",
		value="{} {}".format(persona['given_names'], persona['family_name'])) }}
	{{ util.form_input_text(name="amount", label="Betrag", type="number", attributes='min="0" step="0.01"') }}
	{{ util.form_input_text(name="iban", label="IBAN") }}
	{{ util.form_input_text(name="account_owner", label="Kontoinhaber (falls abweichend)") }}
	{{ util.form_input_textarea(name="account_address", label="Adresse (falls abweichend)") }}
	{{ util.form_input_text(name="max_dsa", label="Maximaler DSA-Anteil", type="number", attributes='min="0" max="1"') }}
	{{ util.form_input_textarea(name="notes", label="Notizen", rows="5",
								info="Unterstützt reStructuredText") }}
	
	{{ util.form_input_submit(value="Ändern",
		cancellink=cdedblink("cde/lastschrift_show", {'persona_id': ambience['lastschrift']['persona_id']})) }}
    </form>
{% endblock %}
