{% set sidenav_active='cde_lastschrift' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% block title %}{% trans %}Edit Direct Debit Authorization{% endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_index"), gettext("Direct Debit Authorizations")) }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_show", {'persona_id': values['persona_id']}),
	"{} {}".format(persona['given_names'], persona['family_name']),
	icon="euro-sign") }}
{{ util.breadcrumb_link(cdedblink("cde/lastschrift_change_form", {'persona_id': values['persona_id']}), gettext("Edit"),
	active=True) }}
{% endblock %}
{% block content %}
    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#changelastschriftform').cdedbProtectChanges();
        });
    </script>
    <form action="{{ cdedblink('cde/lastschrift_change') }}" method="POST" id="changelastschriftform"
          class="form-horizontal">
        {{ util.anti_csrf_token('cde/lastschrift_change') }}
        {{ util.form_input_static(label=gettext("Member"),
                                  value="{} {}".format(persona['given_names'], persona['family_name'])) }}
        {{ util.form_input_text(name="amount", label=gettext("Amount"), type="number",
                                attributes='min="0" step="0.01"'|s) }}
        {{ util.form_input_text(name="iban", label=gettext("IBAN")) }}
        {{ util.form_input_text(name="account_owner", label=gettext("Account holder (if different)")) }}
        {{ util.form_input_textarea(name="account_address", label=gettext("Account holder’s address (if different)")) }}
        {{ util.form_input_textarea(name="notes", label=gettext("Notes"), rows="5", info=util.markdownhint) }}

        {{ util.form_input_submit(label=gettext("Save"),
            cancellink=cdedblink("cde/lastschrift_show", {'persona_id': ambience['lastschrift']['persona_id']})) }}
    </form>
{% endblock %}
