{% set sidenav_active='cde_lastschrift' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% if "finance" in user.admin_views %}
    {% set jshint='strong' %}
{% endif %}

{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
{% endblock %}

{% block title -%}
    {% trans %}Direct Debit Authorization{% endtrans %}
    {{ util.persona_name(ambience['persona'], only_given_names=True) }}
{%- endblock %}

{% block breadcrumb %}
    {{ super() }}
    {% if "finance" in user.admin_views or ambience['persona']['id'] != user.persona_id %}
        {{ util.breadcrumb_link(cdedblink("cde/lastschrift_index"), gettext("Direct Debit Authorization")) }}
    {% endif %}
    {{ util.breadcrumb_link(cdedblink("cde/lastschrift_show", {'persona_id': values['persona_id']}),
                            persona_name(ambience['persona'], only_given_names=True), active=True, icon="euro-sign") }}
{% endblock %}

{% block content %}
    <div id="active-permit">
    {% if active_permit %}
        {% if "finance" in user.admin_views %}
            <script nonce="{{ csp_nonce }}">
            $(function() {
                $('#revokeform').cdedbProtectAction("{{ gettext("This action cannot be undone.") }}");
                $('#skiptransactionform').cdedbProtectAction("{{ gettext("This action cannot be undone.") }}");
                $('#generatetransactionform')
                    .cdedbProtectAction("{{ gettext("Direct Debit will be created.") }}")
                    .on('submit', function(){window.location.reload();});
                $('.failure-form').cdedbProtectAction("{{ gettext("This action cannot be undone.") }}");
                $('.success-form').cdedbProtectAction("{{ gettext("This action cannot be undone.") }}");
            });
            </script>

            <div class="p">
            {{ util.href(cdedblink('cde/lastschrift_change_form', {'lastschrift_id': active_permit}), gettext("Edit"),
                icon="pen", aclass="btn btn-warning btn-sm") }}
            <form action="{{ cdedblink('cde/lastschrift_revoke', {'lastschrift_id': active_permit}) }}"
                method="POST" id="revokeform" style="display: inline;">
                {{ util.anti_csrf_token('cde/lastschrift_revoke') }}
                {{ util.input_submit(label=gettext("Revoke Direct Debit Authorization"), icon="times-circle",
                    aclass="btn btn-sm btn-danger") }}
            </form>
	    </div>
        {% endif %}

        <h2>{% trans %}Active Direct Debit Authorization{% endtrans %}</h2>
        {% with lastschrift = lastschrifts[active_permit] %}
            <dl class="dl-horizontal">
                <dt>{% trans %}Member{% endtrans %}</dt>
                <dd>{{ util.persona_anchor(personas[values['persona_id']]) }}</dd>
            {% if "finance" in user.admin_views %}
                <dt>{% trans %}Submitted by{% endtrans %}</dt>
                <dd id="submitted-by">
                    {{ util.persona_anchor(personas[lastschrift['submitted_by']]) }}
                </dd>

                <dt>{% trans %}Notes{% endtrans %}</dt>
                <dd id="notes">{{ lastschrift['notes']|md }}</dd>
            {% endif %}
            </dl>
            <dl class="dl-horizontal">
                <dt>{% trans %}Amount{% endtrans %}</dt>
                <dd id="amount">{{ lastschrift['amount']|money(lang=lang) }}</dd>

                <dt>{% trans %}IBAN{% endtrans %}</dt>
                {% if 'finance' in user.admin_views %}
                    <dd id="iban">{{ lastschrift['iban']|iban }}</dd>
                {% else %}
                    <dd id="iban">{{ lastschrift['iban']|hidden_iban }}</dd>
                {% endif %}

                <dt>{% trans %}Account holder{% endtrans %}</dt>
                <dd id="account-holder">
                    {{ lastschrift['account_owner'] }}
                </dd>

                <dt>{% trans %}Acc. holder’s address{% endtrans %}</dt>
                <dd id="account-holder-address">
                    {{ lastschrift['account_address']|linebreaks }}
                </dd>

                <dt>{% trans %}Granted{% endtrans %}</dt>
                <dd id="granted-at">{{ lastschrift['granted_at']|datetime(lang=lang) }}</dd>
            </dl>
        {% endwith %}
    {% else %}
        {% trans %}No active Direct Debit Authorization{% endtrans %}
        {% if "finance" in user.admin_views %} – {{ util.href(cdedblink('cde/lastschrift_create_form'), gettext("Create")) }}{% endif %}
    {% endif %}
    </div>

    {% if transactions or active_open %}
        <h2>{% trans %}Transactions{% endtrans %}</h2>
		{% if active_open and "finance" in user.admin_views %}
            <div class="p">
                <form action="{{ cdedblink('cde/lastschrift_download_sepapain') }}" method="GET"
                    id="downloadsepapainform" style="display: inline;">
                    {{ util.anti_csrf_token('cde/lastschrift_download_sepapain') }}
                    {{ util.input_hidden(name="lastschrift_id", value=active_permit) }}
                    {{ util.input_submit(label=gettext("Create SEPA-PAIN-file"), icon="download",
                                         aclass="btn btn-sm btn-primary") }}
                </form>
                <form action="{{ cdedblink('cde/lastschrift_generate_transactions') }}" method="POST"
                    id="generatetransactionform" style="display: inline;">
                    {{ util.anti_csrf_token('cde/lastschrift_generate_transactions') }}
                    {{ util.input_hidden(name="lastschrift_id", value=active_permit) }}
                    {{ util.input_submit(label=gettext("Perform Direct Debit"), icon="play",
                                         aclass="btn btn-sm btn-primary") }}
                </form>
                <form action="{{ cdedblink('cde/lastschrift_skip', {'lastschrift_id': active_permit}) }}"
                    method="POST" id="skiptransactionform" style="display: inline;">
                    {{ util.anti_csrf_token('cde/lastschrift_skip') }}
                    {{ util.input_hidden(name="persona_id", value=values['persona_id']) }}
                    {{ util.input_submit(label=gettext("Skip Direct Debit"), icon="step-forward",
                                         aclass="btn btn-sm btn-warning") }}
                </form>
            </div>
		{% endif %}

        <table class="table table-condensed">
	    <thead>
            <tr>
                <th>{% trans %}Created{% endtrans %}</th>
                <th>{% trans %}Finalized{% endtrans %}</th>
                <th>{% trans %}Semester{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th>{% trans %}Transaction{% endtrans %}</th>
                <th>{% trans %}Creator{% endtrans %}</th>
                <th></th>
            </tr>
	    </thead>
	    <tbody>
            {% for transaction_id, transaction in transactions|keydictsort(EntitySorter.transaction, reverse=True) %}
                <tr>
                    <td>{{ transaction['issued_at']|datetime(lang=lang) }}</td>
                    <td>{{ transaction['processed_at']|datetime(lang=lang) }}</td>
                    <td>{{ transaction['period_id'] }}</td>
                    <td>{{ gettext(transaction['status']|enum(enums['LastschriftTransactionStati'])) }}</td>
                    <td>{{ transaction['amount'] }}€</td>
                    <td>{{ transaction['tally'] }}{% if transaction['tally'] is not none %}€{% endif %}</td>
                    <td>{{ util.persona_anchor(personas[transaction['submitted_by']]) }}</td>
                    <td class="button-par">
                        {% if transaction['status'] == enums['LastschriftTransactionStati'].issued %}
                            {% if "finance" in user.admin_views %}
                                <form action="{{ cdedblink('cde/lastschrift_finalize_transaction',
                                               {'lastschrift_id': transaction['lastschrift_id'],
                                                'transaction_id': transaction_id}) }}" method="POST"
                                    id="transactionsuccessform{{ transaction_id }}" style="display: inline;"
                                    class="success-form">
                                    {{ util.anti_csrf_token('cde/lastschrift_finalize_transaction') }}
                                    {{ util.input_hidden(name="transaction_id", value=transaction_id) }}
                                    {{ util.input_hidden(name="status",
                                                         value=enums['LastschriftTransactionStati'].success.value) }}
                                    {{ util.input_submit(label=gettext("Success"), aclass="btn btn-xs btn-success", icon="check") }}
                                </form>
                                <form action="{{ cdedblink('cde/lastschrift_finalize_transaction',
                                               {'lastschrift_id': transaction['lastschrift_id'],
                                                'transaction_id': transaction_id}) }}" method="POST"
                                    id="transactionfailureform{{ transaction_id }}" style="display: inline;"
                                    class="failure-form">
                                    {{ util.anti_csrf_token('cde/lastschrift_finalize_transaction') }}
                                    {{ util.input_hidden(name="transaction_id", value=transaction_id) }}
                                    {{ util.input_hidden(name="status", value=enums['LastschriftTransactionStati'].failure.value) }}
                                    {{ util.input_submit(label=gettext("Failed"), aclass="btn btn-xs btn-danger", icon="exclamation-circle") }}
                                </form>
                                <form action="{{ cdedblink('cde/lastschrift_finalize_transaction',
                                               {'lastschrift_id': transaction['lastschrift_id'],
                                                'transaction_id': transaction_id}) }}" method="POST"
                                    id="transactioncancelform{{ transaction_id }}" style="display: inline;">
                                    {{ util.anti_csrf_token('cde/lastschrift_finalize_transaction') }}
                                    {{ util.input_hidden(name="transaction_id", value=transaction_id) }}
                                    {{ util.input_hidden(name="status",
                                                         value=enums['LastschriftTransactionStati'].cancelled.value) }}
                                    {{ util.input_submit(label=gettext("Cancelled"), aclass="btn btn-xs btn-warning", icon="times-circle") }}
                                </form>
                                {% if not active_permit %}
                                    <br />
                                    <b class="text-danger">
                                        {{ util.make_icon('exclamation-triangle') }}
                                        {% trans %}
                                            This transaction needs to be cancelled!
                                        {% endtrans %}
                                    </b>
                                {% endif %}
                            {% endif %}
                        {% elif transaction['status'] == enums['LastschriftTransactionStati'].success %}
                            {% if "finance" in user.admin_views %}
                                <form action="{{ cdedblink('cde/lastschrift_receipt',
                                                           {'lastschrift_id': transaction['lastschrift_id'],
                                                            'transaction_id': transaction_id}) }}"
                                    method="GET" id="receiptform{{ transaction_id }}"
                                    class="rollback-form">
                                    {{ util.input_submit(label=gettext("Donation receipt"), aclass="btn btn-xs btn-default",
                                                         icon='download') }}
                                </form>
                                <form action="{{ cdedblink('cde/lastschrift_rollback_transaction',
                                               {'lastschrift_id': transaction['lastschrift_id'],
                                                'transaction_id': transaction_id}) }}"
                                    method="POST" id="transactionrollbackform{{ transaction_id }}">
                                    {{ util.anti_csrf_token('cde/lastschrift_rollback_transaction') }}
                                    {{ util.input_hidden(name="persona_id", value=values['persona_id']) }}
                                    {{ util.input_submit(label=gettext("Reverse"), aclass="btn btn-xs btn-warning",
                                                         icon='exchange-alt') }}
                                </form>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
	    </tbody>
        </table>
    {% endif %}
{% endblock %}
