{% set sidenav_active='cde_past_events' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}{% trans -%}Past Events{%- endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), gettext("Past Events"), active="True") }}
{% endblock %}
{% block content %}
    {% if is_admin %}
        <div class="p">
            {{ util.href(cdedblink("cde/create_past_event_form"), gettext("Create Past Event"),
                    aclass="btn btn-success btn-sm", icon="plus") }}
        </div>
    {% endif %}
    
    {% for year, year_events in years|dictsort|reverse %}
        <h4 class="heading-underline">{{ year }}</h4>
        <ul>
            {% for pevent_id in year_events %}
                <li>
                    {{ util.href(cdedblink("cde/show_past_event", {"pevent_id": pevent_id}), events[pevent_id]) }}
                    ({{ stats[pevent_id]['institution_moniker'] }})&emsp;
                    {% if is_admin %}
                        <small class="text-muted nowrap">
                            {% trans count=stats[pevent_id]['courses'] -%}
                                {{ count }} Course
                            {%- pluralize count -%}
                                {{ count }} Courses
                            {%- endtrans %},
                            {% trans count=stats[pevent_id]['participants'] -%}
                                {{ count }} Participant
                            {%- pluralize count -%}
                                {{ count }} Participants
                            {%- endtrans %}
                        </small>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
