{% set sidenav_active='cde_member_search' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}{% trans -%}CdE-Member Search{%- endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/member_search"), gettext("CdE-Member Search"), active="True") }}
{% endblock %}
{% block content %}
    {% if values['is_search'] %}
        <div class="p">
            {{ util.href("#membersearchform", gettext("Go to Search."), aclass="btn btn-default btn-sm", icon="arrow-down") }}
        </div>
        <h2>
            {% trans -%}Result{%- endtrans %}
            <small>
            {% trans count=count -%}
                {{ count }} Member found
            {%- pluralize count -%}
                {{ count }} Members found
            {%- endtrans %}
            {% if cutoff and count > cutoff %}
                ({% trans -%}
                	Only the first {{ cutoff }} results are displayed
                {%- endtrans %})
            {% endif %}
            </small>
        </h2>
        <ul>
            {% for dataset in result %}
                <li>
                    {{ util.href(show_user_link(dataset['id'], quote_me=True),
                                 "{} {}".format(dataset['given_names'], dataset['family_name'])) }}
                </li>
            {% endfor %}
            {% if cutoff and count > cutoff %}
                <li>…</li>
            {% endif %}
        </ul>
    {% endif %}

    <form action="{{ cdedblink('cde/member_search') }}" method="GET" id="membersearchform" class="form-horizontal">
        {{ util.input_hidden(name="is_search", value=True) }}
        <div class="panel panel-primary mosp">
            <div class="panel-heading">
                <h2 class="panel-title">{{ util.make_icon('search') }} {% trans -%}Search Mask{%- endtrans %}</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        {{ util.form_input_text(name="qval_fulltext", label=gettext("Fulltext"), aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_given_names,display_name", label=gettext("Given Names"),
                                aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_family_name,birth_name", label=gettext("Family Name"),
                                aclass="input-sm") }}
                        {{ util.form_input_text(
                                name="qval_weblink,specialisation,affiliation,timeline,interests,free_form",
                                label=gettext("Interests"), aclass="input-sm") }}
                        {{ util.form_input_select(name="qval_pevent_id", entries=choices['pevent_id']|dictsort,
                                                  nulloption="", label=gettext("Academy"), aclass="input-sm") }}
                        {% if values.get('qval_pevent_id') %}
                            {{ util.form_input_select(name="qval_pcourse_id", entries=choices['pcourse_id']|dictsort,
                                                      nulloption="", label=gettext("Course"), aclass="input-sm",
                                                      defaultvalue='') }}
                        {% else %}
                            <div class="help-block text-muted">
                                {{ util.make_icon("info-sign") }}
                                {% trans -%}Course choices will be displayed after first search.{%- endtrans %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {{ util.form_input_text(name="qval_username", label=gettext("E-Mail"), aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_telephone,mobile",
                                                label=gettext("Phone"), aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_address,address_supplement,address2,address_supplement2",
                                                label=gettext("Address"), aclass="input-sm") }}
                        {{ util.form_input_from_to('postal_lower', 'postal_upper', label=gettext("ZIP"),
                                                type='number') }}
                        {{ util.form_input_text(name="qval_location,location2", label=gettext("City"),
                                                aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_country,country2", label=gettext("Country"),
                                                aclass="input-sm") }}
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                {{ util.input_submit(gettext("Search"), icon='search') }}
            </div>
        </div>
    </form>
{% endblock %}
