{% set sidenav_active='cde_member_search' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}Mitgliedersuche{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/member_search"), "CdE-Mitglied suchen", active="True") }}
{% endblock %}
{% block content %}
    {% if values['is_search'] %}
        <h2>
            Ergebnis
            <small>{{ result|length|e }} {{ result|length|numerus("Mitglied", "Mitglieder")|e }} gefunden</small>
        </h2>
        <ul>
            {% for dataset in result %}
                <li>
                    {{ util.href(show_user_link(dataset['id'], quote_me=True),
                                 "{} {}".format(dataset['given_names'], dataset['family_name'])) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{{ cdedblink('cde/member_search')|e }}" method="GET" id="membersearchform" class="form-horizontal">
        {{ util.input_hidden(name="is_search", value=True) }}
        <div class="panel panel-primary mosp">
            <div class="panel-heading">
                <h2 class="panel-title">{{ util.make_icon('search') }} Suchmaske</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        {{ util.form_input_text(name="qval_fulltext", label="Volltext", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_given_names,display_name", label="Vorname",
                                aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_family_name,birth_name", label="Nachname",
                                aclass="input-sm") }}
                        {{ util.form_input_text(
                                name="qval_weblink,specialisation,affiliation,timeline,interests,free_form",
                                label="Interessen, …", aclass="input-sm") }}
                        {{ util.form_input_select(name="qval_pevent_id", entries=choices['pevent_id']|dictsort,
                                                  nulloption="", label="Akademie", aclass="input-sm") }}
                        {% if values.get('qval_pevent_id') %}
                            {{ util.form_input_select(name="qval_pcourse_id", entries=choices['pcourse_id']|dictsort,
                                                      nulloption="", label="Kurs", aclass="input-sm",
                                                      defaultvalue='') }}
                        {% else %}
                            <div class="help-block text-muted">
                                {{ util.make_icon("info-sign") }}
                                {% trans -%}Course choices will be displayed after first search {%- endtrans %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {{ util.form_input_text(name="qval_username", label="E-Mail", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_telephone,mobile", label="Telefon", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_address,address_supplement,address2,address_supplement2",
                                                label="Adresse", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_postal_code,postal_code2", label="PLZ", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_location,location2", label="Ort", aclass="input-sm") }}
                        {{ util.form_input_text(name="qval_country,country2", label="Land", aclass="input-sm") }}
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                {{ util.input_submit("Suche", icon='search') }}
            </div>
        </div>
    </form>
{% endblock %}
