{% set sidenav_active='cde_past_events' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {% if "past_event" in user.admin_views %}
        {{ util.cdedb_script('cdedb_searchpersona.js') }}
        {{ util.cdedb_script('cdedb_helper.js') }}
    {% endif %}
{% endblock %}
{% block title %}{{ ambience['pevent']['title'] }}{% endblock %}
{% block heading %}
    <h1 class="title">{{ ambience['pevent']['title'] }}</h1>
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), gettext("Past Events")) }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_event", {"pevent_id": ambience['pevent']['id']}),
        ambience['pevent']['title'], icon="calendar-alt", active=True) }}
{% endblock %}
{% block content %}
    {% if "past_event" in user.admin_views %}
        <div class="p">
        {{ util.href(cdedblink('cde/change_past_event_form'), gettext("Edit"), icon="pen",
                aclass="btn btn-warning btn-sm") }}
        {{ util.href(cdedblink('cde/download_past_event_participantlist'), gettext("Dokuteam Addresslist"), aclass="btn btn-success btn-sm", icon="download") }}
        </div>
    {% endif %}
    <dl class="dl-horizontal">
        {% if "past_event" in user.admin_views %}
            <dt>{% trans %}Shortname{% endtrans %}</dt>
            <dd id="shortname">{{ ambience['pevent']['shortname'] }}</dd>
        {% endif %}
        <dt>{% trans %}Institution{% endtrans %}</dt>
        <dd id="institution">{{ institutions[ambience['pevent']['institution']] }}</dd>
        {% if orgas %}
        <dt>{% trans %}Orgas{% endtrans %}</dt>
        <dd id="orgas">
            {% for anid, orga in orgas.items() %} {# This is already sorted. #}
                {% if orga['viewable'] %}
                    {{ util.persona_anchor(personas[anid], quote_me=not is_admin) -}}
                {% else %}
                    {{ personas[anid]['given_names'] }} {{ personas[anid]['family_name'] -}}
                {% endif -%}
                {% if not loop.last %},{% endif %}
            {% endfor %}
            {% if extra_orgas %}
                {% trans count=extra_orgas %}
                     and_one_more
                {%- pluralize count -%}
                     and_count_more
                {% endtrans %}
            {% endif %}
        </dd>
        {% endif %}
    </dl>

    <div id="description">
        {{ ambience['pevent']['description']|md }}
    </div>
    {% if ambience['pevent']['description'] and ambience['pevent']['notes']%}
    <hr />
    {% endif %}
    {% if ambience['pevent']['notes'] and ("past_event" in user.admin_views or is_participant) %}
        {% if "past_event" in user.admin_views and not is_participant %}
            <p class="text-info" id="gallery-admin-info">{{ util.make_icon('info-circle') }}
                {% trans %}
                    As you are no participant of this past event, you can only
                    see this link because you are admin.
                {% endtrans %}
            </p>
        {% endif %}
       <div id="gallery-link">{{ ambience['pevent']['notes']|md }}</div>
    {% endif %}
    {% if courses or "past_event" in user.admin_views %}
        <h2>{% trans %}Courses{% endtrans %}</h2>
    {% endif %}
    {% if "past_event" in user.admin_views %}
        <div class="p">
            {{ util.href(cdedblink('cde/create_past_course_form'), gettext("Add Course"), icon="plus",
                    aclass="btn btn-success btn-sm") }}
        </div>
    {% endif %}
    {% if courses %}
        <ul id="list-courses">
            {% for anid, acourse in courses|keydictsort(EntitySorter.past_course) %}
                <li>
                    {{ acourse['nr'] }}.
                    {{ util.href(cdedblink('cde/show_past_course', {'pcourse_id' : anid}), acourse['title']) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>{% trans %}Participants{% endtrans %}</h2>
    {% if "past_event" in user.admin_views %}
        <div class="panel panel-success panel-condensed">
            <div class="panel-heading">
                <h4 class="panel-title">{{util.make_icon('plus') }} {% trans %}Add Participant <u>without</u> Course{% endtrans %}</h4>
            </div>
            <div class="panel-body">
                <form action="{{ cdedblink('cde/add_participants') }}" method="POST" id="addparticipantform">
                    {{ util.anti_csrf_token('cde/add_participants') }}
                    {{ util.input_hidden(name="pcourse_id", value="") }}
                    {{ util.input_hidden(name="is_instructor", value=False) }}
                    <div class="row">
                        <div class="col-sm-7 {% if 'persona_ids' in errors %}has-error{% endif %}">
                            {% call util.output_errors('persona_ids') %}
                                {{ util.input_text(name="persona_ids", placeholder="DB-XXXX-X,DB-XXXX-X,…",
                                                   anid='input-add-participant', aclass='form-control input-sm',
                                                   arialabel=gettext("ID of the new Participant")) }}
                                <script nonce="{{ csp_nonce }}">
                                    $('#input-add-participant').cdedbSearchPerson(
                                        '{{ cdedblink('core/select_persona') + '?kind=past_event_user&phrase=%s'|s }}',
                                        {{ participants.keys()|list|json|s }}, false, true, "{{ gettext("CdEDB-ID, Name or E-Mail") }}"
                                    );
                                </script>
                            {% endcall %}
                        </div>
                        <div class="col-sm-2">
                            <div class="checkbox input-sm">
                                {{ util.input_checkbox(name="is_orga", label=gettext("Orga")) }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            {{ util.input_submit(value=gettext("Add"), aclass="btn btn-primary btn-sm") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if participants %}
        <ul id="list-participants">
            {% for anid, participant in participants.items() %} {# This dict is already sorted. #}
                <li class="hide-hover-container clearfix-after">

                    {% if participant['viewable'] %}
                        {{ util.persona_anchor(personas[anid], quote_me=not is_admin) }}
                    {% else %}
                        {{ personas[anid]['given_names'] }} {{ personas[anid]['family_name'] }}
                    {% endif %}
                    {% if participant['pcourses'] %}
                        (
                        {%- for pcourse_id, pcourse in participant['pcourses']|keydictsort(EntitySorter.past_course) %}
                            {%- if pcourse_id -%}
                                {{ pcourse['nr'] }}.
                                {{ util.href(cdedblink('cde/show_past_course', {'pcourse_id' : pcourse_id}),
                                    pcourse['title']) }}
                                {%- if not loop.last %}, {% endif -%}
                            {% endif -%}
                        {% endfor -%}
                        )
                    {% endif %}
                    {% if participant['is_orga'] %}({% trans %}Orga{% endtrans %}){% endif %}

                    {# only allow removal of participants without a course #}
                    {% if "past_event" in user.admin_views and None in participant['pcourse_ids'] %}
                        <form action="{{ cdedblink('cde/remove_participant') }}" method="POST"
                              id="removeparticipantform{{ anid }}" style="display: inline;"
                              class="delete-participant-form hide-hover display-inline">
                            {{ util.anti_csrf_token('cde/remove_participant') }}
                            {{ util.input_hidden(name="persona_id", value=anid) }}
                            {{ util.input_hidden(name="course_page", value=False) }}
                            {{ util.input_submit(title=gettext("Remove"), icon="minus", aclass="btn btn-xs btn-danger list-button-float",
                                    value="") }}
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
            {% if extra_participants %}
                <li id="count-extra-participants">
                    {% trans count=extra_participants %}
                        and_one_more
                    {%- pluralize count -%}
                        and_count_more
                    {% endtrans %} …
                </li>
            {% endif %}
        </ul>
    {% elif extra_participants %}
        <p id="count-extra-participants">
            <i>
                {% trans count=extra_participants %}
                    {{ count }} Participant
                {%- pluralize count -%}
                    {{ count }} Participants
                {% endtrans %}
            </i>
        </p>
    {% else %}
        <p>
            <i>{% trans %}This Event had no Participants.{% endtrans %}</i>
        </p>
    {% endif %}
    {% if "past_event" in user.admin_views %}
        {% call util.bootstrap_panel(title=gettext("Actions"), icon="exclamation-triangle", aclass="panel-danger mosp") %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="p">
                        <form action="{{ cdedblink('cde/delete_past_event') }}" method="POST"
                                id="deletepasteventform" style="display: inline;">
                            {{ util.anti_csrf_token('cde/delete_past_event') }}
                            {{ util.input_submit(value=gettext("Delete Event"), icon="trash-alt", aclass="btn btn-danger") }}
                            {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?"), readonly=is_locked) }}
                        </form>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="text-muted">
                        {% trans %}Deletes the event, including description, courses and participant information.{% endtrans %}
                    </p>
                </div>
            </div>
        {% endcall %}
        <script nonce="{{ csp_nonce }}">
            $('#deletepasteventform').cdedbProtectAction("{{ gettext("The event will be permanently deleted.") }}");
            $('#deletepasteventform').find('[name="ack_delete"]').prop('checked', true).parent().hide();
            $('.delete-participant-form').cdedbProtectAction("{{ gettext("The Participant will be removed from the Event.") }}");
        </script>
    {% endif %}
{% endblock %}
