{% set sidenav_active='cde_semester' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint = 'weak' %}
{% block title %}{% trans -%}Semester Management{%- endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/show_semester"), gettext("Semester Management"), active="True") }}
{% endblock %}
{% block content %}
    <p class="text-danger">
        {% trans -%}
            The actions on this site affect all Members, therefore they are
            basically irreversibel. Only use them, if You are absolutely sure
            what You are doing.
        {%- endtrans %}
    </p>

    <h2>{% trans -%}CdE-Semester{%- endtrans %}</h2>

    <p>
        {% trans number="<span class='label label-default'>%s</span>"|s|format(period['id']) -%}
            We are currently in Semester {{ number }}.
        {%- endtrans %}
    </p>

    <script type="text/javascript" nonce="{{ csp_nonce }}">
        $(function() {
            $('#billform').cdedbProtectAction(
                "{{ gettext("Payment Requests will be sent.") }}",
                function() {
                    return $(this).find('[name="testrun"]').prop('checked');
                });
            $('#ejectform').cdedbProtectAction(
                "{{ gettext("All inactive Members will be removed. This cannot be undone and it can only be done once per Semester.") }}");
            $('#balanceform').cdedbProtectAction(
                "{{ gettext("The Balance of all Members will be updated. This cannot be undone.") }}");
            $('#proceedform').cdedbProtectAction(
                "{{ gettext("The new Semester will be created.") }}");
            $('#addresscheckform').cdedbProtectAction(
                "{{ gettext("Address-Check-Mails will be sent.") }}",
                function() {
                    return $(this).find('[name="testrun"]').prop('checked');
                });
            $('#proceedexpulsform').cdedbProtectAction(
                "{{ gettext("The new exPuls-Semester will be created.") }}");
        });
    </script>

    <div class="row">
            <div class="col-md-6">
            <div class="panel {% if period['billing_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.01./01.07.)</span>
                    <h4 class="panel-title">{% trans -%}Send Payment Requests/Information{%- endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if period['billing_done'] %}
                        <span class="text-success">
                            {% trans date=period['billing_done']|datetime(lang=lang) -%}
                                Done on the {{ date }}.
                            {%- endtrans %}
                        </span>
                    {% else %}
                        {% if period['billing_state'] %}
                            <p>
                                {% trans state=period['billing_state']|cdedbid -%}
                                    Done up until {{ state }}.
                                {%- endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_bill') }}" method="POST" id="billform"
                                class="strip-space">
                            {{ util.anti_csrf_token('cde/semester_bill') }}
                            <div class="checkbox">
                                {{ util.input_checkbox("testrun", label=gettext("Only one Test-Mail")) }}
                            </div>
                            <div class="checkbox">
                                {{ util.input_checkbox("addresscheck", label=gettext("Include Address-Check")) }}
                            </div>
                            {{ util.input_submit(value=gettext("Send Mails"), icon="send") }}
                        </form>
                    {% endif %}
                </div>
            </div>

            <div class="panel {% if period['ejection_done'] or not period['billing_done'] %}
                    panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.03./01.09.)</span>
                    <h4 class="panel-title">{% trans -%}Remove inactive Members{%- endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if period['ejection_done'] %}
                        <span class="text-success">
                            {% trans date=period['ejection_done']|datetime(lang=lang) -%}
                                Done on the {{ date }}.
                            {%- endtrans %}
                        </span>
                    {% elif period['billing_done'] %}
                        {% if period['ejection_state'] %}
                            <p>
                                {% trans state=period['ejection_state']|cdedbid -%}
                                    Done up until {{ state }}.
                                {%- endtrans %}
                            </p>
                        {% else %}
                            <p>
                                {% trans low_count=stats['low_balance_members'],
                                         trial_count=stats['trial_members'],
                                         low_last_count=stats['lastschrift_low_balance_members'] -%}
                                    {{ low_count }} members have insufficient balance right now
                                    (from this {{ low_last_count }} with lastschrift). Additionally
                                    we have {{ trial_count }} trial members.
                                {%- endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_eject') }}" method="POST" id="ejectform">
                            {{ util.anti_csrf_token('cde/semester_eject') }}
                            {{ util.input_submit(value=gettext("Remove inactive Members")) }}
                        </form>
                    {% else %}
                        <span class="text-muted">{% trans -%}To be done later.{%- endtrans %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel {% if period['balance_done'] or not period['ejection_done'] %}
                    panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.04./01.10.)</span>
                    <h4 class="panel-title">{% trans -%}Update Balances{%- endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if period['balance_done'] %}
                        <span class="text-success">
                            {% trans date=period['balance_done']|datetime(lang=lang) -%}
                                Done on the {{ date }}.
                            {%- endtrans %}
                        </span>
                    {% elif period['ejection_done'] %}
                        {% if period['balance_state'] %}
                            <p>
                                {% trans state=period['balance_state']|cdedbid -%}
                                    Done up until {{ state }}.
                                {%- endtrans %}
                            </p>
                        {% else %}
                            <p>
                                {% trans count=stats['trial_members'] -%}
                                    {{ count }} Members have a Trial-Membership right now.
                                {%- endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_balance_update') }}" method="POST" id="balanceform">
                            {{ util.anti_csrf_token('cde/semester_balance_update') }}
                            {{ util.input_submit(value=gettext("Update Balances")) }}
                        </form>
                    {% else %}
                        <span class="text-muted">{% trans -%}To be done later.{%- endtrans %}</span>
                    {% endif %}
                </div>
            </div>
            <div class="panel {% if not period['balance_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.07./01.01.)</span>
                    <h4 class="panel-title">{% trans -%}Next Semester{%- endtrans %}</h4>
                </div>
                <div class="panel-body">
                    <p>
                        {% trans -%}
                            The Semesterstate influences the display of Balances. This button should be pressed at the
                            target date (give or take three weeks).
                        {%- endtrans %}
                    </p>
                    {% if period['balance_done'] %}
                        <form action="{{ cdedblink('cde/semester_advance') }}" method="POST" id="proceedform">
                            {{ util.anti_csrf_token('cde/semester_advance') }}
                            {{ util.input_submit(value=gettext("Next Semester")) }}
                        </form>
                    {% else %}
                        <span class="text-muted">{% trans -%}To be done later.{%- endtrans %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <h2>{% trans -%}exPuls-Semester{%- endtrans %}</h2>

    <p>
        {% trans number="<span class='label label-default'>%s</span>"|s|format(expuls['id']) -%}
            The next exPuls will be number {{ number }}.
        {%- endtrans %}
    </p>

    <div class="row">
        <div class="col-md-6">
            <div class="panel {% if expuls['addresscheck_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <h4 class="panel-title">{% trans -%}Send Address-Checks{%- endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if expuls['addresscheck_done'] %}
                        <span class="text-success">
                            {% trans date=expuls['addresscheck_done']|datetime(lang=lang) -%}
                                Done on the {{ date }}.
                            {%- endtrans %}
                        </span>
                    {% else %}
                        {% if expuls['addresscheck_state'] %}
                            <p>
                                {% trans state=expuls['addresscheck_state']|cdedbid -%}
                                    Done up until {{ state }}.
                                {%- endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/expuls_addresscheck') }}" method="POST" id="addresscheckform"
                                class="strip-space">
                            {{ util.anti_csrf_token('cde/expuls_addresscheck') }}
                            <div class="checkbox">
                                {{ util.input_checkbox("testrun", label=gettext("Only one Test-Mail")) }}
                            </div>
                            <div class="form-group">
                            {{ util.input_submit(value=gettext("Send Mails"), icon="send") }}
                            </div>
                        </form>
                        <form action="{{ cdedblink('cde/expuls_addresscheck') }}" method="POST"
                          id="noaddresscheckform">
                            {{ util.anti_csrf_token('cde/expuls_addresscheck') }}
                            {{ util.input_hidden("skip", value=True) }}
                            {{ util.input_submit(value=gettext("Mark as done"), aclass="btn btn-warning",
                                    icon="check") }}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel {% if not expuls['addresscheck_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <h4 class="panel-title">{% trans -%}Next exPuls{%- endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if expuls['addresscheck_done'] %}
                        <form action="{{ cdedblink('cde/expuls_advance') }}" method="POST" id="proceedexpulsform">
                            {{ util.anti_csrf_token('cde/expuls_advance') }}
                            {{ util.input_submit(value=gettext("Next exPuls")) }}
                        </form>
                    {% else %}
                        <span class="text-muted">{% trans -%}To be done later.{%- endtrans %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
