{% set sidenav_active='cde_past_events' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {% if is_admin %}{{ util.cdedb_script('search-persona') }}{{ util.cdedb_script('helper') }}{% endif %}
{% endblock %}
{% block title %}{{ ambience['pevent']['title']|e }}{% endblock %}
{% block heading %}
    <h1 class="title">{{ ambience['pevent']['title']|e }} <small>({{ ambience['pevent']['shortname']|e }})</small></h1>
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), "Abg. Veranstaltungen") }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_event", {"pevent_id": ambience['pevent']['id']}),
        ambience['pevent']['title']|e, icon="calendar", active=True) }}
{% endblock %}
{% block content %}
    {% if is_admin %}
        <div class="p">
        {{ util.href(cdedblink('cde/change_past_event_form'), "Bearbeiten", icon="pencil",
                aclass="btn btn-warning btn-sm") }}
        </div>
    {% endif %}
    <p><strong>Organisation</strong>: {{ institutions[ambience['pevent']['institution']]|e }}</p>
    
    {{ ambience['pevent']['description']|rst }}

    {% if courses or is_admin %}
        <h2>Kurse</h2>
    {% endif %}
    {% if is_admin %}
        <div class="p">
            {{ util.href(cdedblink('cde/create_past_course_form'), "Kurs hinzufügen", icon="plus",
                    aclass="btn btn-success btn-sm") }}
        </div>
    {% endif %}
    {% if courses %}
        <ul>
            {% for anid, acourse in courses|xdictsort('nr', pad=True) %}
                <li>
                    {{ acourse['nr']|e }}.
                    {{ util.href(cdedblink('cde/show_past_course', {'pcourse_id' : anid}), acourse['title']) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Teilnehmer</h2>
    {% if is_admin %}
        <div class="panel panel-success panel-condensed">
            <div class="panel-heading">
                <h4 class="panel-title">{{util.make_icon('plus')}} Teilnehmer <u>ohne Kurs</u> hinzufügen</h4>
            </div>
            <div class="panel-body">
                <form action="{{ cdedblink('cde/add_participant')|e }}" method="POST" id="addparticipantform">
                    {{ util.input_hidden(name="pcourse_id", value="") }}
                    {{ util.input_hidden(name="is_instructor", value=False) }}
                    <div class="row">
                        <div class="col-sm-7">
                            {{ util.input_text(name="persona_id", placeholder="DB-XXXX-X",
                                    anid="input-add-participant", aclass="form-control input-sm",
                                    arialabel="ID des neuen Teilnehmers") }}
                            <script type="text/javascript">
                                $('#input-add-participant').cdedbSearchPerson(
                                    '{{ cdedblink('core/select_persona') + '?kind=admin_persona&phrase=%s&sphere=cde'}}',
                                    {{ participants.keys()|list|json }}, false, false, "CdEDB-ID, Name oder E-Mail"
                                );
                            </script>
                            {{ util.output_errors('persona_id') }}
                        </div>
                        <div class="col-sm-2">
                            <div class="checkbox input-sm">
                                {{ util.input_checkbox(name="is_orga", label="Orga") }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            {{ util.input_submit(value="Hinzufügen", aclass="btn btn-primary btn-sm") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if participants %}
        <ul>
            {% for anid, participant in participants.items() %} {# This dict is already sorted. #}
                <li>

                    {% if participant['viewable'] %}
                        {{ util.persona_anchor(personas[anid], quote_me=True) }}
                    {% else %}
                        {{ personas[anid]['given_names']|e }} {{ personas[anid]['family_name']|e }}
                    {% endif %}
                    {% if participant['pcourse_ids'] != (None,) %}
                        (
                        {%- for pcourse_id in participant['pcourse_ids'] %}
                            {%- if pcourse_id -%}
                                {{ util.href(cdedblink('cde/show_past_course', {'pcourse_id' : pcourse_id}),
                                    courses[pcourse_id]['title']) }}
                                {%- if not loop.last %}, {% endif -%}
                            {% endif -%}
                        {% endfor -%}
                        )
                    {% endif %}
                    {% if participant['is_orga'] %}(Orga){% endif %}

                    {# only allow removal of participants without a course #}
                    {% if is_admin and None in participant['pcourse_ids'] %}
                        <form action="{{ cdedblink('cde/remove_participant')|e }}" method="POST"
                         id="removeparticipantform{{ anid|e }}" style="display: inline;" class="delete-participant-form">
                            {{ util.input_hidden(name="persona_id", value=anid) }}
                            {{ util.input_hidden(name="course_page", value=False) }}
                            {{ util.input_submit(title='entfernen', icon="minus", aclass="btn btn-xs btn-danger",
                                    value="") }}
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            <i>Keine Teilnehmer eingetragen.</i>
        </p>
    {% endif %}
    {% if is_admin %}
        <script type="text/javascript">
            $('.delete-participant-form').cdedbProtectAction("Der Teilnehmer wird aus der Veranstaltung entfernt.");
        </script>
    {% endif %}
{% endblock %}
