{% set sidenav_active='cde_semester' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint = 'weak' %}
{% block title %}{% trans %}Semester Management{% endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/show_semester"), gettext("Semester Management"), active="True") }}
{% endblock %}
{% block content %}
    <p class="text-danger">
        {% trans %}
            The actions on this site affect all Members, therefore they are
            basically irreversibel. Only use them, if You are absolutely sure
            what You are doing.
        {% endtrans %}
    </p>

    <h2>{% trans %}CdE-Semester{% endtrans %}</h2>

    <p id="current-semester">
        {% trans number="<span class='label label-default'>%s</span>"|s|format(period['id']) %}
            We are currently in Semester {{ number }}.
        {% endtrans %}
    </p>

    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#billform').cdedbProtectAction(
                "{{ gettext("Payment Requests will be sent.") }}",
                function() {
                    return $(this).find('[name="testrun"]').prop('checked');
                });
            $('#ejectform').cdedbProtectAction(
                "{{ gettext("All inactive Members will be removed. This cannot be undone and it can only be done once per Semester.") }}");
            $('#balanceform').cdedbProtectAction(
                "{{ gettext("The Balance of all Members will be updated. This cannot be undone.") }}");
            $('#proceedform').cdedbProtectAction(
                "{{ gettext("The new Semester will be created.") }}");
            $('#addresscheckform').cdedbProtectAction(
                "{{ gettext("Address-Check-Mails will be sent.") }}",
                function() {
                    return $(this).find('[name="testrun"]').prop('checked');
                });
            $('#proceedexpulsform').cdedbProtectAction(
                "{{ gettext("The new exPuls-Semester will be created.") }}");
        });
    </script>

    <div class="row">
            <div class="col-md-6">
            <div id="payment-request" class="panel {% if current_period_step == "billing" %}panel-primary{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.01./01.07.)</span>
                    <h4 class="panel-title">{% trans %}Send Payment Requests/Information{% endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if current_period_step == "billing" %}
                        {% if period['billing_state'] %}
                            <p>
                                {% trans state=period['billing_state']|cdedbid, count=period['billing_count'] %}
                                    Done up until {{ state }}. {{ count }} emails have been sent so far.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_bill') }}" method="POST" id="billform"
                                class="strip-space">
                            {{ util.anti_csrf_token('cde/semester_bill') }}
                            <div class="checkbox">
                                {{ util.input_checkbox("testrun", label=gettext("Only one Test-Mail")) }}
                            </div>
                            <div class="checkbox">
                                {{ util.input_checkbox("addresscheck", label=gettext("Include Address-Check")) }}
                            </div>
                            {{ util.input_submit(label=gettext("Send Mails"), icon="paper-plane") }}
                        </form>
                    {% else %}
                        <span class="text-success">
                            {% trans date=period['billing_done']|datetime(lang=lang), count=period['billing_count'] %}
                                Done on the {{ date }}. {{ count }} emails were sent.
                            {% endtrans %}
                        </span>
                    {% endif %}
                </div>
            </div>

            <div id="eject-members" class="panel {% if current_period_step == "ejection" %}panel-primary{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.02./01.08.)</span>
                    <h4 class="panel-title">{% trans %}Remove inactive Members{% endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if current_period_step == "ejection" %}
                        {% if period['ejection_state'] %}
                            <p>
                                {% trans state=period['ejection_state']|cdedbid,
                                         count=period['ejection_count'],
                                         balance=period['ejection_balance']|money(lang=lang) %}
                                    Done up until {{ state }}.
                                    {{ count }} memberships have been ended so far.
                                    A total of {{ balance }} has been deducted so far.
                                {% endtrans %}
                            </p>
                        {% else %}
                            <p>
                                {% trans low_count=stats['low_balance_members'],
                                         low_total=stats['low_balance_total']|money(lang=lang),
                                         trial_count=stats['trial_members'],
                                         low_last_count=stats['lastschrift_low_balance_members'] -%}
                                    {{ low_count }} members have insufficient balance (total of {{ low_total }})
                                    right now ({{ low_last_count }} of these with an active lastschrift). Additionally
                                    we have {{ trial_count }} trial members.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_eject') }}" method="POST" id="ejectform">
                            {{ util.anti_csrf_token('cde/semester_eject') }}
                            {{ util.input_submit(label=gettext("Remove inactive Members")) }}
                        </form>
                    {% elif current_period_step == "billing" %}
                        <span class="text-muted">{% trans %}To be done later.{% endtrans %}</span>
                    {% else %}
                        <span class="text-success">
                            {% trans date=period['ejection_done']|datetime(lang=lang),
                                     count=period['ejection_count'],
                                     balance=period['ejection_balance']|money(lang=lang) %}
                                Done on the {{ date }}.
                                {{ count }} memberships were ended.
                                A total of {{ balance }} was deducted.
                            {% endtrans %}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="balance-update" class="panel {% if current_period_step == "balance" %}panel-primary{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(15.02./15.08.)</span>
                    <h4 class="panel-title">{% trans %}Update Balances{% endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if current_period_step in ["billing", "ejection"] %}
                        <span class="text-muted">{% trans %}To be done later.{% endtrans %}</span>
                    {% elif current_period_step == "balance" %}
                        {% if period['balance_state'] %}
                            <p>
                                {% trans date=period['balance_done']|datetime(lang=lang),
                                     count=period['balance_trialmembers'],
                                     total=period['balance_total']|money(lang=lang),
                                     state=period['balance_state'] %}
                                    Done up until {{ state }}.
                                    {{ count }} trial meberships have been ended so far.
                                    A total of {{ total }} has been deducted so far.
                                {% endtrans %}
                            </p>
                        {% else %}
                            <p>
                                {% trans total_count=stats['total_members'],
                                         trial_count=stats['trial_members'] %}
                                    {{ total_count }} Members total, {{ trial_count }} of which have a Trial-Membership right now.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_balance_update') }}" method="POST" id="balanceform">
                            {{ util.anti_csrf_token('cde/semester_balance_update') }}
                            {{ util.input_submit(label=gettext("Update Balances")) }}
                        </form>
                    {% else %}
                        <span class="text-success">
                            {% trans date=period['balance_done']|datetime(lang=lang),
                                     count=period['balance_trialmembers'],
                                     total=period['balance_total']|money(lang=lang) %}
                                Done on the {{ date }}.
                                {{ count }} trial memberships were ended.
                                A total of {{ total }} was deducted.
                            {% endtrans %}
                        </span>
                    {% endif %}
                </div>
            </div>

            <div id="next-semester" class="panel {% if current_period_step == "advance" %}panel-primary{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.07./01.01.)</span>
                    <h4 class="panel-title">{% trans %}Next Semester{% endtrans %}</h4>
                </div>
                <div class="panel-body">
                    <p>
                        {% trans %}
                            The Semesterstate influences the display of Balances. This button should be pressed at the
                            target date (give or take three weeks).
                        {% endtrans %}
                    </p>
                    {% if current_period_step == "advance" %}
                        <form action="{{ cdedblink('cde/semester_advance') }}" method="POST" id="proceedform">
                            {{ util.anti_csrf_token('cde/semester_advance') }}
                            {{ util.input_submit(label=gettext("Next Semester")) }}
                        </form>
                    {% else %}
                        <span class="text-muted">{% trans %}To be done later.{% endtrans %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <h2>{% trans %}Semester History{% endtrans %}</h2>
    <table id="period-history" class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans %}Semester{% endtrans %}</th>
                <th>{% trans %}Billing Mails Sent{% endtrans %}</th>
                <th>{% trans %}Billing Done{% endtrans %}</th>
                <th>{% trans %}Archival Notifications Sent{% endtrans %}</th>
                <th>{% trans %}Archival Notifications Done{% endtrans %}</th>
                <th>{% trans %}Members Ejected{% endtrans %}</th>
                <th>{% trans %}Ejection Balance{% endtrans %}</th>
                <th>{% trans %}Ejection Done{% endtrans %}</th>
                <th>{% trans %}Accounts Archived{% endtrans %}</th>
                <th>{% trans %}Automated Archival Done{% endtrans %}</th>
                <th>{% trans %}Trialmemberships Ended{% endtrans %}</th>
                <th>{% trans %}Balance Deducted{% endtrans %}</th>
                <th>{% trans %}Balance Update Done{% endtrans %}</th>
                <th>{% trans %}Semester Done{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for period_id, period in period_history|dictsort %}
                <tr>
                    <td>{{ period['id'] }}</td>
                    <td>{{ period['billing_count'] }}</td>
                    <td>{{ period['billing_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['archival_notification_count'] }}</td>
                    <td>{{ period['archival_notification_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['ejection_count'] }}</td>
                    <td>{{ period['ejection_balance']|money(lang=lang) }}</td>
                    <td>{{ period['ejection_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['archival_count'] }}</td>
                    <td>{{ period['archival_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['balance_trialmembers'] }}</td>
                    <td>{{ period['balance_total']|money(lang=lang) }}</td>
                    <td>{{ period['balance_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['semester_done']|datetime(lang=lang) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h2>{% trans %}exPuls-Semester{% endtrans %}</h2>

    <p id="expuls-number">
        {% trans number="<span class='label label-default'>%s</span>"|s|format(expuls['id']) %}
            The next exPuls will be number {{ number }}.
        {% endtrans %}
    </p>

    <div class="row">
        <div class="col-md-6" id="expuls-address">
            <div class="panel {% if expuls['addresscheck_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <h4 class="panel-title">{% trans %}Send Address-Checks{% endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if expuls['addresscheck_done'] %}
                        <span class="text-success">
                            {% trans date=expuls['addresscheck_done']|datetime(lang=lang), count=expuls['addresscheck_count'] %}
                                Done on the {{ date }}. {{ count }} emails were sent.
                            {% endtrans %}
                        </span>
                    {% else %}
                        {% if expuls['addresscheck_state'] %}
                            <p>
                                {% trans state=expuls['addresscheck_state']|cdedbid, count=expuls['addresscheck_count'] %}
                                    Done up until {{ state }}. {{ count }} emails have been sent so far.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/expuls_addresscheck') }}" method="POST" id="addresscheckform"
                                class="strip-space">
                            {{ util.anti_csrf_token('cde/expuls_addresscheck') }}
                            <div class="checkbox">
                                {{ util.input_checkbox("testrun", label=gettext("Only one Test-Mail")) }}
                            </div>
                            <div class="form-group">
                            {{ util.input_submit(label=gettext("Send Mails"), icon="paper-plane") }}
                            </div>
                        </form>
                        <form action="{{ cdedblink('cde/expuls_addresscheck') }}" method="POST"
                          id="noaddresscheckform">
                            {{ util.anti_csrf_token('cde/expuls_addresscheck') }}
                            {{ util.input_hidden("skip", value=True) }}
                            {{ util.input_submit(label=gettext("Mark as done"), aclass="btn btn-warning",
                                    icon="check-square") }}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6" id="expuls-next">
            <div class="panel {% if not expuls['addresscheck_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <h4 class="panel-title">{% trans %}Next exPuls{% endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if expuls['addresscheck_done'] %}
                        <form action="{{ cdedblink('cde/expuls_advance') }}" method="POST" id="proceedexpulsform">
                            {{ util.anti_csrf_token('cde/expuls_advance') }}
                            {{ util.input_submit(label=gettext("Next exPuls")) }}
                        </form>
                    {% else %}
                        <span class="text-muted">{% trans %}To be done later.{% endtrans %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <h2>{% trans %}exPuls History{% endtrans %}</h2>
    <table id="expuls-history" class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans %}Issue{% endtrans %}</th>
                <th>{% trans %}Addresscheck Mails Sent{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for expuls_id, expuls in expuls_history|dictsort %}
                <tr>
                    <td>{{ expuls['id'] }}</td>
                    <td>{{ expuls['addresscheck_count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
