{% set sidenav_active='cde_past_events' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {% if "past_event" in user.admin_views %}
        {{ util.cdedb_script('cdedb_searchpersona.js') }}
        {{ util.cdedb_script('cdedb_helper.js') }}
    {% endif %}
{% endblock %}
{% set jshint='strong' %}
{% block title %}{{ ambience['pcourse']['title'] }} ({{ ambience['pevent']['title'] }}){% endblock %}
{% block heading %}
    <h1 class="title">
        {{ ambience['pcourse']['nr'] }}. {{ ambience['pcourse']['title'] }}
        <small>{{ util.make_icon('calendar-alt') }} {{ ambience['pevent']['title'] }}</small>
    </h1>
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), gettext("Past Events")) }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_event", {"pevent_id": ambience['pevent']['id']}),
        ambience['pevent']['title'], icon="calendar-alt") }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_course", {'pcourse_id' : ambience['pcourse']['id']}),
        ambience['pcourse']['title'], icon="book", active=True) }}
{% endblock %}
{% block content %}
    {% if "past_event" in user.admin_views %}
        <div class="p">
            {{ util.href(cdedblink('cde/change_past_course_form'), gettext("Edit"), icon="pen",
                    aclass="btn btn-warning btn-sm") }}
        </div>
    {% endif %}

    <div id="description">{{ ambience['pcourse']['description']|md }}</div>

    <h2>{% trans %}Participants{% endtrans %}</h2>
    {% if "past_event" in user.admin_views %}
        {% call util.bootstrap_panel(title=gettext("Add Participant to this Course"),
                aclass="panel-success panel-condensed", icon='plus') %}
                <form action="{{ cdedblink('cde/add_participant') }}" method="POST" id="addparticipantform">
                    {{ util.anti_csrf_token('cde/add_participant') }}
                    {{ util.input_hidden(name="pcourse_id", value=values['pcourse_id']) }}
                    <div class="row">
                        <div class="col-sm-5 {% if 'persona_ids' in errors %}has-error{% endif %}">
                            {% call util.output_errors('persona_ids') %}
                                {{ util.input_text(name="persona_ids", placeholder="DB-XXXX-X,DB-XXXX-X,…",
                                                   anid='input-add-participant', aclass='form-control input-sm',
                                                   arialabel=gettext("ID of the new Participant")) }}
                                <script nonce="{{ csp_nonce }}">
                                    $('#input-add-participant').cdedbSearchPerson(
                                        '{{ cdedblink('core/select_persona') + '?kind=past_event_user&phrase=%s'|s }}',
                                        {{ participants.keys()|list|json|s }}, false, true, "{{ gettext("CdEDB-ID, Name or E-Mail") }}"
                                    );
                                </script>
                            {% endcall %}
                        </div>
                        <div class="col-sm-2">
                            <div class="checkbox input-sm">
                                {{ util.input_checkbox(name="is_instructor", label=gettext("Instructor")) }}
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="checkbox input-sm">
                                {{ util.input_checkbox(name="is_orga", label=gettext("Orga")) }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            {{ util.input_submit(value=gettext("Add"), aclass="btn btn-primary btn-sm") }}
                        </div>
                    </div>
                </form>
        {% endcall %}
    {% endif %}
    {% if participants %}
        <ul id="list-participants">
            {% for anid, participant in participants.items() %} {# This dict is already sorted. #}
                <li class="hide-hover-container clearfix-after">
                    {% if participant['is_instructor'] %}<strong>{% endif %}
                    {% if participant['viewable'] %}
                        {{ util.persona_anchor(personas[anid], quote_me=not is_admin) }}
                    {% else %}
                        {{ personas[anid]['given_names'] }} {{ personas[anid]['family_name'] }}
                    {% endif %}
                    {% if participant['is_instructor'] %}</strong>{% endif %}
                    {% if "past_event" in user.admin_views %}
                        <form action="{{ cdedblink('cde/remove_participant') }}" method="POST"
                              id="removeparticipantform{{ anid }}" style="display: inline;"
                              class="delete-participant-form hide-hover display-inline">
                            {{ util.anti_csrf_token('cde/remove_participant') }}
                            {{ util.input_hidden(name="persona_id", value=anid) }}
                            {{ util.input_hidden(name="pcourse_id", value=values['pcourse_id']) }}
                            {{ util.input_hidden(name="course_page", value=True) }}
                            {{ util.input_submit(title=gettext("Remove"), icon="minus", aclass="btn btn-xs btn-danger list-button-float",
                                    value="") }}
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
            {% if extra_participants %}
                <li id="count-extra-participants">
                    {% trans count=extra_participants %}
                        extra_participants_singular
                    {%- pluralize count -%}
                        extra_participants_plural
                    {% endtrans %} …
                </li>
            {% endif %}
        </ul>
    {% elif extra_participants %}
        <p>
            <i id="count-extra-participants">
                {% trans count=extra_participants %}
                    {{ count }} Participant
                {%- pluralize count -%}
                    {{ count }} Participants
                {% endtrans %}
            </i>
        </p>
    {% else %}
        <p>
            <i>{% trans %}This Course had no Participants.{% endtrans %}</i>
        </p>
    {% endif %}


    {% if "past_event" in user.admin_views %}
        {% call util.bootstrap_panel(title=gettext("Actions"), icon="exclamation-triangle", aclass="panel-danger mosp") %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="p">
                        <form action="{{ cdedblink('cde/delete_past_course') }}" method="POST"
                                id="deletecourseform" style="display: inline;">
                            {{ util.anti_csrf_token('cde/delete_past_course') }}
                            {{ util.input_submit(value=gettext("Delete Course"), icon="trash-alt", aclass="btn btn-danger") }}
                            {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?"), readonly=is_locked) }}
                        </form>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="text-muted">
                        {% trans %}Deletes the Course, including Description and Participant information{% endtrans %}
                    </p>
                </div>
            </div>
        {% endcall %}
        <script nonce="{{ csp_nonce }}">
            $('#deletecourseform').cdedbProtectAction("{{ gettext("The Course will be permanently deleted.") }}");
            $('#deletecourseform').find('[name="ack_delete"]').prop('checked', true).parent().hide();
            $('.delete-participant-form').cdedbProtectAction("{{ gettext("The Participant will be removed from this Course.") }}");
        </script>
    {% endif %}

{% endblock %}
