{% set sidenav_active='cde_finance_log' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/logging.tmpl" as logging with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% block title %}
    {% trans %}Finance Log{% endtrans %}
    {{ logging.counter(total, values['offset'] or '', length) }}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("cde/view_finance_log"), gettext("Finance Log"), active="True") }}
{% endblock %}
{% block content %}
    {{ logging.filterlink() }}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>{% trans %}Timestamp{% endtrans %}</th>
                <th>{% trans %}Code{% endtrans %}</th>
                <th>{% trans %}Submitted By{% endtrans %}</th>
                <th>{% trans %}Affected{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th>{% trans %}Balance{% endtrans %}</th>
                <th>{% trans %}Additional Info{% endtrans %}</th>
                <th>{% trans %}Members{% endtrans %}</th>
                <th>{% trans %}Overall Balance{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in log %}
                <tr id="{{ loop.index }}-{{ entry['id'] }}">
                    <td>{{ entry['ctime']|datetime(formatstr="%d.%m.%Y %H:%M:%S") }}</td>
                    <td>{{ gettext(enums['FinanceLogCodes'](entry['code'])|string) }}</td>
                    <td>
                        {% if entry['submitted_by'] %}
                            {{ util.persona_anchor(personas[entry['submitted_by']]) }}
                        {% else %}
                            –
                        {% endif %}
                    </td>
                    <td>
                        {% if entry['persona_id'] %}
                            {{ util.persona_anchor(personas[entry['persona_id']]) }}
                        {% else %}
                            –
                        {% endif %}
                    </td>
                    <td>{{ entry['delta']|money(lang=lang) }}</td>
                    <td>{{ entry['new_balance']|money(lang=lang) }}</td>
                    <td>{{ entry['change_note'] }}</td>
                    <td>{{ entry['members'] }}</td>
                    <td>{{ entry['total']|money(lang=lang) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ logging.navigation('cde/view_finance_log', total, length, loglinks) }}
    {{ logging.filter('cde/view_finance_log', enums['FinanceLogCodes'], 'cde_user') }}
{% endblock %}
