<<% extends "tex/event/base_article.tmpl" %>>
<<% block extra_preamble %>>
    \parindent 0pt\relax
    \newcommand\course[7]{
        \section*{#1 (#2)}
        <<% trans %>> Instructors <<% endtrans %>>: #3
        \par
        <<% trans %>> Minimum size/maximum size <<% endtrans %>>: #4/#5
        \par
        <<% trans %>> Notes <<% endtrans %>>: #6
        \par
        <<% trans %>> First/second/third choice <<% endtrans %>>: #7}
    \newcommand\participant[6]{
        \section*{#1 (#2)}
        #3
        #4
        #5
        #6}
<<% endblock %>>
<<% block content %>>
    <<% for course_id, course in courses|keydictsort(EntitySorter.course) %>>
        <<% for track_id in tracks_sorted if track_id in course['active_segments'] %>>
            \course{<<< course['title']|te >>>}{<<< ambience['event']['tracks'][track_id]['title']|te >>>}%
                   {<<< course['instructors']|te >>>}{<<< course['min_size']|te >>>}{<<< course['max_size']|te >>>}%
                   {<<< course['notes']|te >>>}{<<< counts[course_id][(track_id, 0)]|te >>>/%
                                                <<< counts[course_id][(track_id, 1)]|te >>>/%
                                                <<< counts[course_id][(track_id, 2)]|te >>>}
        <<% endfor %>>
    <<% endfor %>>
    \clearpage
    <<% for registration_id, registration in registrations.items() %>>
        <<% for track_id in tracks_sorted %>>
            <<% set track = ambience['event']['tracks'][track_id] %>>
                <<% if registration['parts'][ambience['event']['tracks'][track_id]['part_id']]['status'] == enums['RegistrationPartStati'].participant %>>
                    \participant{<<< personas[registration['persona_id']]|persona_name(given_and_display_names=True)|te >>>}%
                                {<<< track['title']|te >>>}%
                                {<<% if registration['tracks'][track_id]['course_instructor'] -%>>
                                    <<% trans %>> Instructor <<% endtrans %>>:
                                    <<< courses[registration['tracks'][track_id]['course_instructor']]['title']|te >>>
                                    \par
                                <<%- endif %>>}%
                    <<% for label in (gettext("First choice"), gettext("Second choice"), gettext("Third choice")) -%>>
                                {<<% if registration['tracks'][track_id]['choices']|length > loop.index0 -%>>
                                    <<< label|te >>>:
                                    <<< courses[registration['tracks'][track_id]['choices'][loop.index0]]['title']|te >>>
                                    \par
                                 <<% endif %>>}%
                    <<% endfor %>>
                <<% endif %>>
        <<% endfor %>>
    <<% endfor %>>
<<% endblock %>>
