<<% extends "tex/event/base_article.tmpl" %>>
<<% block extra_preamble %>>
    \parindent 0pt\relax
    \newcommand\course[7]{
        \section*{#1 (#2)}
        Kursleiter: #3
        \par
        Minimalgröße/Maximalgröße: #4/#5
        \par
        Notizen: #6
        \par
        Erst-/Zweit-/Drittwahlen: #7}
    \newcommand\participant[6]{
        \section*{#1 (#2)}
        #3
        #4
        #5
        #6}
<<% endblock %>>
<<% block content %>>
    <<% for course_id, course in courses|dictsort %>>
        <<% for track_id in course['active_segments']|sort %>>
            \course{<<< course['title']|te >>>}{<<< ambience['event']['tracks'][track_id]['title']|te >>>}%
                   {<<< course['instructors']|te >>>}{<<< course['min_size']|te >>>}{<<< course['max_size']|te >>>}%
                   {<<< course['notes']|te >>>}{<<< counts[course_id][(track_id, 0)] >>>/%
                                                <<< counts[course_id][(track_id, 1)] >>>/%
                                                <<< counts[course_id][(track_id, 2)] >>>}
        <<% endfor %>>
    <<% endfor %>>
    \clearpage
    <<% for registration_id, registration in registrations|dictsort %>>
            <<% for track_id, track in ambience['event']['tracks']|dictsort %>>
                <<% if registration['parts'][ambience['event']['tracks'][track_id]['part_id']]['status'] == enums['RegistrationPartStati'].participant %>>
                    \participant{<<< personas[registration['persona_id']]['given_names']|te >>>
                                 <<< personas[registration['persona_id']]['family_name']|te >>>}%
                                {<<< track['title']|te >>>}%
                                {<<% if registration['tracks'][track_id]['course_instructor'] -%>>
                                    Kursleiter:
                                    <<< courses[registration['tracks'][track_id]['course_instructor']]['title']|te >>>
                                    \par
                                <<%- endif %>>}%
                    <<% for label in ("Erstwahl", "Zweitwahl", "Drittwahl") -%>>
                                {<<% if registration['tracks'][track_id]['choices']|length > loop.index0 -%>>
                                    <<< label|te >>>:
                                    <<< courses[registration['tracks'][track_id]['choices'][loop.index0]]['title']|te >>>
                                    \par
                                 <<% endif %>>}%
                    <<% endfor %>>
                <<% endif %>>
            <<% endfor %>>
    <<% endfor %>>
<<% endblock %>>
