\BLOCK{ extends "tex/event/base_article.tmpl" }
\BLOCK{ block extra_preamble }
    \parindent 0pt\relax
    \newcommand\course[7]{
        \section*{#1 (#2)}
        Kursleiter: #3
        \par
        Minimalgröße/Maximalgröße: #4/#5
        \par
        Notizen: #6
        \par
        Erst-/Zweit-/Drittwahlen: #7}
    \newcommand\participant[6]{
        \section*{#1 (#2)}
        #3
        #4
        #5
        #6}
\BLOCK{ endblock }
\BLOCK{ block content }
    \BLOCK{ for course_id, course in courses|xdictsort('title') }
        \BLOCK{ for track_id in tracks_sorted if track_id in course['active_segments'] }
            \course{\VAR{ course['title']|te }}{\VAR{ ambience['event']['tracks'][track_id]['title']|te }}%
                   {\VAR{ course['instructors']|te }}{\VAR{ course['min_size']|te }}{\VAR{ course['max_size']|te }}%
                   {\VAR{ course['notes']|te }}{\VAR{ counts[course_id][(track_id, 0)]|te }/%
                                                \VAR{ counts[course_id][(track_id, 1)]|te }/%
                                                \VAR{ counts[course_id][(track_id, 2)]|te }}
        \BLOCK{ endfor }
    \BLOCK{ endfor }
    \clearpage
    \BLOCK{ for registration_id, registration in registrations.items() }
        \BLOCK{ for track_id in tracks_sorted }
            \BLOCK{ set track = ambience['event']['tracks'][track_id] }
                \BLOCK{ if registration['parts'][ambience['event']['tracks'][track_id]['part_id']]['status'] == enums['RegistrationPartStati'].participant }
                    \participant{\VAR{ personas[registration['persona_id']]['given_names']|te }
                                 \VAR{ personas[registration['persona_id']]['family_name']|te }}%
                                {\VAR{ track['title']|te }}%
                                {\BLOCK{ if registration['tracks'][track_id]['course_instructor'] -}
                                    Kursleiter:
                                    \VAR{ courses[registration['tracks'][track_id]['course_instructor']]['title']|te }
                                    \par
                                \BLOCK{- endif }}%
                    \BLOCK{ for label in ("Erstwahl", "Zweitwahl", "Drittwahl") -}
                                {\BLOCK{ if registration['tracks'][track_id]['choices']|length > loop.index0 -}
                                    \VAR{ label|te }:
                                    \VAR{ courses[registration['tracks'][track_id]['choices'][loop.index0]]['title']|te }
                                    \par
                                 \BLOCK{ endif }}%
                    \BLOCK{ endfor }
                \BLOCK{ endif }
        \BLOCK{ endfor }
    \BLOCK{ endfor }
\BLOCK{ endblock }
