<<# This is just a part of a tex document, so we do not inherit the base template. #>>
<<% for course_id, course in courses|dictsort %>>
\kurs{<<< course['title']|te >>>}
\von{<<< course['instructors']|te >>>}

In:
<<%- for track_id in course['active_segments']|sort %>>
    <<< ambience['event']['tracks'][track_id]['title']|te >>>
    <<%- if not loop.last %>>,<<% endif %>>
<<%- endfor %>>

<<< course['description']|te >>>

<<% endfor %>>
