\COMMENT{ This is just a part of a tex document, so we do not inherit the base template. }


\BLOCK{- for track_id in tracks }
\zwischentitel{\VAR{ ambience['event']['tracks'][track_id]['title']|te }}
\BLOCK{ for course_id, course in courses|xdictsort('nr', pad=True) }
\BLOCK{- if track_id in course['active_segments'] }
\kurs[\VAR{ course['nr'] }]{\VAR{ course['title']|te }}[\VAR{ course['instructors']|te }]

\VAR{ course['description'] }

\BLOCK{ endif }
\BLOCK{- endfor }

\BLOCK{ endfor }
