<<% extends "tex/event/base_article.tmpl" %>>
<<% block documentclass %>>
    \documentclass[12pt,twocolumn]{scrartcl}
<<% endblock %>>
<<% block extra_preamble %>>
    \parindent 0pt\relax
    \newcommand\lodgement[5]{
        \section*{#1 (#2)}
        <<% trans %>> Capacity <<% endtrans %>>: #3
        \par
        <<% trans %>> Reserve <<% endtrans %>>: #4
        \par
        <<% trans %>> Notes <<% endtrans %>>: #5
        \par
        \vspace{.5cm}
        \hrule
        }
    \newcommand\participant[8]{
        \section*{#1 (#2)}
        #3 #4 #5 #6~\par
        #7\par
	#8
        \vspace{.5cm}
        \hrule}

    \usepackage[top=.5cm,bottom=.5cm, left=.5cm, right=.5cm]{geometry}
<<% endblock %>>
<<% block content %>>
    <<% for lodgement_id, lodgement in lodgements|keydictsort(EntitySorter.lodgement) %>>
        <<% for part_id, part in ambience['event']['parts']|keydictsort(EntitySorter.event_part) %>>
            \lodgement{<<< lodgement['title']|te >>>}{<<< part['title']|te >>>}{<<< lodgement['regular_capacity']|te >>>}%
                      {<<< lodgement['camping_mat_capacity']|te >>>}{<<< lodgement['notes']|te >>>}
        <<% endfor %>>
    <<% endfor %>>
    \clearpage
    <<% for registration_id, registration in registrations.items() %>> <<# This is already sorted. #>>
        <<% for part_id, part in ambience['event']['parts']|keydictsort(EntitySorter.event_part) %>>
            <<% if enums['RegistrationPartStati'](registration['parts'][part_id]['status']).is_present() %>>
                \participant{<<< personas[registration['persona_id']]['given_names']|te >>>
                             <<< personas[registration['persona_id']]['family_name']|te >>>}%
                    {<<% if ambience['event']['parts']|length > 1 %>><<< part['title']|te >>>; <<% endif %>>%
                     <<< personas[registration['persona_id']]['birthday'].year|te >>>%
                     <<% if registration['parts'][part_id]['status'] == enums['RegistrationPartStati'].guest -%>>
                        ~[<<% trans %>> guest <<% endtrans %>>]
                     <<%- endif %>>}%
                    {<<< gettext(enums['Genders'](personas[registration['persona_id']]['gender'])|string)|te >>>}%
                    {<<% if not registration['mixed_lodging'] %>>
                        <<%- trans %>> separated <<% endtrans -%>>
                    <<% endif %>>}%
                    {<<% if registration['age'] == enums['AgeClasses'].u18 %>>U18<<% endif -%>>
                     <<% if registration['age'] == enums['AgeClasses'].u16 %>>U16<<% endif -%>>
                     <<% if registration['age'] == enums['AgeClasses'].u14 %>>U14<<% endif -%>>}%
                    {<<% if ambience['event']['camping_mat_field'] and
                            registration['fields'].get(
                                ambience['event']['fields'][ambience['event']['camping_mat_field']]['field_name']) -%>>
                        <<% trans %>> camping mat <<% endtrans %>>
                     <<%- endif %>>}% ID <<< registration_id|te >>>
                    {<<% if ambience['event']['lodge_field']
                            and registration['fields'].get(
                                ambience['event']['fields'][ambience['event']['lodge_field']]['field_name']) -%>>
                        <<% trans %>> Wish <<% endtrans %>>: <<< registration['fields'].get(
                                    ambience['event']['fields'][ambience['event']['lodge_field']]['field_name'])|te >>>
                     <<% endif -%>>}%
                    {<<% if reverse_wish.get(registration_id) -%>>%
                        <<% trans %>> Reverse wish heuristic <<% endtrans %>>: <<< reverse_wish[registration_id]|te >>>
                     <<% endif -%>>}
            <<% endif %>>
        <<% endfor %>>
    <<% endfor %>>
<<% endblock %>>
