{% set sidenav_active='complaint_index' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% set jshint='weak' %}

{% set case_title = gettext("Case %s")|format(ambience['case'].id) %}
{% if ambience['entry'] %}
    {% if entry_type == enums["ComplaintEntryType"].revocation_explanation %}
        {% set title = gettext("Revoke Entry") %}
        {% set action_target = "core/revoke_entry" %}
    {% elif parent_id %}
        {% set title = gettext("Add Child Entry") %}
        {% set action_target = "core/add_entry" %}
    {% else %}
        {% set title = gettext("Replace Entry") %}
        {% set action_target = "core/replace_entry" %}
    {% endif %}
    {% set anchor = "#entry"|s + ambience["entry"].id|string %}
{% else %}
    {% set title = gettext("Add Entry") %}
    {% set anchor = "" %}
    {% set action_target = "core/add_entry" %}
{% endif %}
{% set cancellinks = [] %}
{% if (not ambience['entry'] or parent_id) and entry_type %}
        {% do cancellinks.append((cdedblink('core/add_entry_form'), gettext("Change"), "chevron-left")) %}
{% endif %}
{% do cancellinks.append((cdedblink('core/show_case') + anchor, gettext("Cancel"), "times")) %}

{% block title %}
    {{ title }} ({{ case_title }})
{% endblock %}

{% block heading %}
    {{ util.context_heading(title, case_title, 'gavel', "") }}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("core/complaint_index"), gettext("Cases")) }}
    {{ util.breadcrumb_link(cdedblink("core/show_case"), gettext("Case %s")|format(ambience['case'].id),
                            icon="gavel") }}
    {{ util.breadcrumb_link(cdedblink(action_target), title, active=True) }}
{% endblock %}

{% block content %}
    {% if (not ambience['entry'] or parent_id) and entry_type is none %}
        <form action="{{ cdedblink(action_target + '_form') }}" method="GET" id="selectentrytypeform"
              class="form-horizontal">
            {{ util.form_input_select(name="entry_type", label=gettext("Entry Type"),
                                      entries=available_types|enum_entries(processing=gettext)) }}
            {{ util.form_input_submit(label=gettext("Continue"), icon="chevron-right", cancellinks=cancellinks) }}
        </form>
    {% else %}
        <form action="{{ cdedblink(action_target) }}" method="POST" id="configureentryform" class="form-horizontal">
            {{ util.anti_csrf_token(action_target) }}
            {% if not entry_type == enums["ComplaintEntryType"].revocation_explanation %}
                {{ util.input_hidden(name="entry_type", value=entry_type) }}

                {% call util.form_input_static(label=gettext("Entry Type")) %}
                    {{ util.make_icon(entry_type.get_icon()) }}
                    {{ entry_type.name }}{{- nbsp -}}
                {% endcall %}
            {% endif %}
            {% if entry_type.has_concerned %}
                {% if ambience['entry'] and not parent_id %}
                    {{ util.form_input_static(label=gettext("Concerns"), value=util.persona_anchor(personas[ambience['entry'].concerned_id], icon='user')) }}
                {% else %}
                    {{ util.form_input_text(name="concerned_id", label=gettext("Concerns"), anid="input-concerned_id",
                                            placeholder=gettext("DB-XXXX-X")) }}
                    <script nonce="{{ csp_nonce }}">
                        $('#input-concerned_id').cdedbSearchPerson(
                            '{{ cdedblink('core/select_persona') }}', {'kind' : 'admin_all_users'},
                            [], false, false, "{{ gettext("ID, name, email") }}"
                        );
                    </script>
                {% endif %}
            {% endif %}
            {{ util.form_input_text(name="timestamp", label=gettext("Timestamp"), type="datetime-local",
                                    defaultvalue=now()) }}
            {% if entry_type.is_measure %}
                {{ util.form_input_text(name="etime", label=gettext("Expiration"), type="datetime-local") }}
            {% endif %}
            {{ util.form_input_text(name="authors", label=gettext("Authors"), anid="input-authors",
                                    placeholder=gettext("DB-XXXX-X,DB-XXXX-X,…")) }}
            <script nonce="{{ csp_nonce }}">
                $('#input-authors').cdedbSearchPerson(
                    '{{ cdedblink('core/select_persona') }}', {'kind' : 'admin_all_users'},
                    [], false, true, "{{ gettext("ID, name, email") }}"
                );
            </script>
            {% if entry_type.has_description %}
                {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="20", markdown=True,
                                            info=infotext) }}
            {% endif %}
            {% if entry_type.is_measure %}
                {{ util.form_input_static(aclass='text-warning fw-bold', icon='exclamation-triangle',
                                      value=gettext("Warning: This entry will be visible to all enforcers and the user themselves. Pseudonymize other involved people here, and defer details to other entries.")) }}
            {% endif %}
            {# Add some conditional warnings here. #}
            {% if (ambience['entry'] and not parent_id) and entry_type != enums["ComplaintEntryType"].revocation_explanation %}
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {{ util.form_input_text(name="dreason", label=gettext("Changenotes")) }}
                    </div>
                </div>
                {{ util.form_input_submit(label=gettext("Replace"), cancellinks=cancellinks) }}
            {% else %}
                {{ util.form_input_submit(label=gettext("Save"), cancellinks=cancellinks) }}
            {% endif %}
        </form>
    {% endif %}

    <script nonce="{{ csp_nonce }}">
        $('#configureentryform').cdedbProtectChanges();
    </script>
{% endblock %}
