{% set sidenav_active='complaint_index' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/core/complaint/generic.tmpl" as generic_complaint with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% set jshint='weak' %}

{% set case_title = gettext("Case %s")|format(ambience['case'].id) %}
{% set new_entry = False %}
{% set anchor = "" %}
{% if is_revocation %}
    {% set title = gettext("Revoke Entry") %}
    {% set action_target = "core/revoke_entry" %}
    {% set new_entry = True %}
{% elif ambience['entry'] %}
    {% if parent_id %}
        {% set title = gettext("Add Child Entry") %}
        {% set action_target = "core/add_entry" %}
        {% set new_entry = True %}
    {% else %}
        {% set title = gettext("Replace Entry") %}
        {% set action_target = "core/replace_entry" %}
    {% endif %}
    {% set anchor = "#entry"|s + ambience["entry"].id|string %}
{% else %}
    {% set title = gettext("Add Entry") %}
    {% set action_target = "core/add_entry" %}
    {% set new_entry = True %}
{% endif %}
{% set cancellinks = [] %}
{% if new_entry and entry_type %}
    {% do cancellinks.append((cdedblink('core/add_entry_form'), gettext("Change type"), "chevron-left")) %}
{% endif %}
{% do cancellinks.append((cdedblink('core/show_case') + anchor, gettext("Cancel"), "times")) %}

{% block title %}
    {{ title }} ({{ case_title }})
{% endblock %}

{% block heading %}
    {{ util.context_heading(title, case_title, 'gavel', "") }}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("core/complaint_index"), gettext("Cases")) }}
    {{ util.breadcrumb_link(cdedblink("core/show_case"), gettext("Case %s")|format(ambience['case'].id),
                            icon="gavel") }}
    {{ util.breadcrumb_link(cdedblink(action_target), title, active=True) }}
{% endblock %}

{% block content %}
    {% if new_entry and not entry_type %}
        {% if parent_id %}
            {{ generic_complaint.entry_parent(ambience['entry']) }}
        {% endif %}
        <form action="{{ cdedblink(action_target + '_form') }}" method="GET" id="selectentrytypeform"
              class="form-horizontal">
            {{ util.form_input_select(name="entry_type", label=gettext("Entry Type"),
                                      entries=available_types|sort|enum_entries(processing=gettext)) }}
            {{ util.form_input_submit(label=gettext("Continue"), icon="chevron-right", cancellinks=cancellinks) }}
        </form>
    {% else %}
        {% if is_revocation or parent_id %}
            {{ generic_complaint.entry_parent(ambience['entry']) }}
        {% endif %}
        <form action="{{ cdedblink(action_target) }}" method="POST" id="configureentryform" class="form-horizontal"
              {% if entry_type.allows_attachment %}enctype="multipart/form-data"{% endif %}>
            {{ util.anti_csrf_token(action_target) }}

            {{ util.h(n_("Meta"), level=4, underline=True) }}
            {% if not is_revocation %}
                {{ util.input_hidden(name="entry_type", value=entry_type) }}

                {% call util.form_input_static(label=gettext("Entry Type")) %}
                    {{ util.make_icon(entry_type.get_icon()) }}
                    {{ gettext(entry_type|string) }}
                {% endcall %}
            {% endif %}
            {% if entry_type.has_concerned %}
                {% if not new_entry %}
                    {{ util.form_input_static(label=gettext("Concerns"), value=util.persona_anchor(personas[ambience['entry'].concerned_id], icon='user')) }}
                {% else %}
                    {{ util.form_input_text(type="search", name="concerned_id", label=gettext("Concerns"), anid="input-concerned_id",
                                            placeholder=gettext("DB-XXXX-X")) }}
                    <script nonce="{{ csp_nonce }}">
                        $('#input-concerned_id').cdedbSearchPerson(
                            '{{ cdedblink('core/select_persona') }}', {'kind' : 'admin_all_users'},
                            [], false, false, "{{ gettext("ID, name, email") }}"
                        );
                    </script>
                {% endif %}
            {% endif %}
            {{ util.form_input_text(name="timestamp", label=gettext("Timestamp"), type="datetime-local",
                                    defaultvalue=now(),
                                    info=gettext("When did the event you describe here occur?")) }}
            {% if entry_type.is_measure %}
                {{ util.form_input_text(name="etime", label=gettext("Expiration"), type="datetime-local") }}
            {% endif %}
            {{ util.form_input_text(type="search", name="authors", label=gettext("Authors"), anid="input-authors",
                                    placeholder=gettext("DB-XXXX-X,DB-XXXX-X,…"),
                                    info=gettext("The companions, arbcom members, coordinators responsible for this entry. In a later update, the may get access to this entry. Do not specify involved people here.")) }}
            <script nonce="{{ csp_nonce }}">
                $('#input-authors').cdedbSearchPerson(
                    '{{ cdedblink('core/select_persona') }}', {'kind' : 'admin_all_users'},
                    [], false, true, "{{ gettext("ID, name, email") }}"
                );
            </script>

            {% if entry_type.has_description %}
                {{ util.h(n_("Content"), level=4, underline=True) }}
                {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="20", markdown=True,
                                            info=infotext) }}
            {% endif %}
            {% if entry_type.is_measure %}
                {{ util.form_input_static(aclass='text-warning fw-bold', icon='exclamation-triangle',
                                      value=gettext("Warning: This entry will be visible to all enforcers and the user themselves. Pseudonymize other involved people here, and defer details to other entries.")) }}
            {% endif %}
            {% if entry_type.allows_attachment %}
                {{ util.h(gettext("Attachment"), level=4, underline=True) }}
                {{ util.form_input_attachment(link=cdedblink("core/get_cached_complaint_attachment", {'attachment_hash': values.get('attachment_hash')}),
                                              accept="application/pdf", info=gettext("Only PDFs allowed.")) }}
                {{ util.form_input_text(name="attachment_title", label=gettext("Label")) }}
                {{ util.form_input_text(name="attachment_filename", label=gettext("Filename"), info=(gettext("Leave empty for current filename.") if not ambience['entry'] else "")) }}
            {% endif %}
            {# Add some conditional warnings here. #}
            {% if is_revocation %}
                {{ util.form_input_submit(label=gettext("Revoke"), cancellink=cdedblink('core/show_case'), aclass="btn btn-primary btn-danger", icon="rotate-left",
                                          info=gettext("Only revoke entries if they are no longer valid or have been rescinded. If you made a mistake specifying an entry, remove it instead.")) }}
            {% elif not new_entry %}
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {{ util.form_input_text(name="dreason", label=gettext("Changenotes")) }}
                    </div>
                </div>
                {{ util.form_input_submit(label=gettext("Replace"), cancellinks=cancellinks) }}
            {% else %}
                {{ util.form_input_submit(label=gettext("Save"), cancellinks=cancellinks) }}
            {% endif %}
        </form>
    {% endif %}

    <script nonce="{{ csp_nonce }}">
        $('#configureentryform').cdedbProtectChanges();
    </script>
{% endblock %}
