{% set sidenav_active='complaint_index' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/core/complaint/generic.tmpl" as generic_complaint with context %}

{% block title %}
    {% trans id=ambience['case'].id|string %}
        Export Case {{ id }}
    {% endtrans %}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("core/complaint_index"), gettext("Cases")) }}
    {{ util.breadcrumb_link(cdedblink("core/show_case"), gettext("Case %s")|format(ambience['case']['id']), icon="gavel") }}
    {{ util.breadcrumb_link(cdedblink("core/export_case"), gettext("Export Case %s")|format(ambience['case']['id']), active=True) }}
{% endblock %}

{% block content %}
    <pre id="case{{ ambience["case"].id }}-export">
        {{- export -}}
    </pre>
{% endblock%}
