{% set sidenav_active='show_measures' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% block title %}
    {% trans %}
        Measure Overview
    {% endtrans %}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("core/measures"), gettext("Measure Overview"), active=True) }}
{% endblock %}

{% block content %}
    <div>
    {% for entry in entries.values() %}
        {% set measure = entry.active_version %}
        <div class="list-group list-group-hover nosp">
            <div id="entry{{ entry.id }}-{{ measure.id }}" class="list-group-item">
                <div class="float-right text-right">
                    {{ measure.timestamp|datetime(lang=lang) -}}
                    {% if measure.etime %}
                        – {{ measure.etime|datetime(lang=lang) }}
                    {% endif %}
                </div>
                <strong>
                    {{ util.make_icon(entry.entry_type.get_icon(), title=gettext(entry.entry_type|string)) }}
                    {% trans concerned=util.persona_anchor(personas[entry['concerned_id']], icon='user') %}
                        Measure against {{ concerned }}
                    {% endtrans %}
                </strong>
                <br />
                <span class="text-muted">
                    {% trans %}by{% endtrans %}
                    {% for author_id in measure.authors -%}
                        {%- if not loop.first -%}, {% endif -%}
                        {{ util.persona_anchor(personas[author_id]) -}}
                    {% endfor %}
                    {% if 'complaint' in user.admin_views -%}
                        –
                        {% trans case=util.href(
                                cdedblink("core/show_case", {'case_id': entry['case_id']}),
                                gettext("Case %s")|s|format(entry['case_id']),
                                readonly='complaint_admin' not in user.roles)
                        %}
                            from {{ case }}
                        {% endtrans %}
                    {% endif %}
                </span>
                <hr class="nosp" />
                {{ descriptions[measure.id]|md }}
            </div>
        </div>
    {% else %}
        <p class="text-muted">
            {% trans %}
                Currently, there are no active measures.
            {% endtrans %}
        </p>
    {% endfor %}

    </div>
{% endblock %}
