{% set sidenav_active='core_genesis_list' %}
{% extends "web/core/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans %}
    	Account Requests
    {% endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("core/genesis_list_cases"), gettext("Account Requests"), active="True") }}
{% endblock %}
{% block content %}
    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('.rejection-form').cdedbProtectAction("{{ gettext("The Account Request will be permanently deleted.") }}");
        });
    </script>
    <h2>
        {% trans %}
            Current Account Requests
        {% endtrans %}
    </h2>
    <div id="current-cases">
    {% with REALM_REQUEST_TITLES={'event': gettext('Event Account Requests'),
                                  'cde': gettext('CdE Account Requests'),
                                  'assembly': gettext('Assembly Account Requests'),
                                  'ml': gettext('Mailinglist Account Requests')} %}
        {% for realm, cases in current_cases_by_realm.items() %}
            <h3>{{ REALM_REQUEST_TITLES[realm] }}</h3>
            {% for genesis_case_id, entry in cases|keydictsort(EntitySorter.genesis_case) %}
                <div class="row" id="request-{{ genesis_case_id }}">
                    <div class="col-sm-3">
                        <p>
                            {{ util.persona_name(entry, only_given_names=True) }}
                            &lt;{{ util.href(util.mailto(entry['username']), entry['username']) }}&gt;
                        </p>
                    </div>
                    <div class="col-sm-5">
                        {% if entry['notes'] %}<p class="textbox">{{ entry['notes'] }}</p>{% endif %}
                    </div>
                    <div class="col-sm-4 button-par">
                        {{ util.href(cdedblink('core/genesis_show_case', {'genesis_case_id': genesis_case_id}), gettext("Details"),
                            aclass="btn btn-info btn-sm", icon="user") }}
                        {{ util.href(cdedblink('core/genesis_modify_form', {'genesis_case_id': genesis_case_id}), gettext("Edit"),
                            aclass="btn btn-warning btn-sm", icon="pen") }}
                    </div>
                </div>
                {% if not loop.last %}
                    <hr />
                {% endif %}
            {% else %}
                <div id="no-{{realm}}-request">
                    <p class="text-muted">
                        {% trans realm=REALM_REQUEST_TITLES[realm] %}
                            There are currently no {{ realm }} pending for approval.
                        {% endtrans %}
                    </p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endwith %}
    </div>

    <h2>
        {% trans %}
            Recently Concluded Account Requests
        {% endtrans %}
    </h2>

    <div id="concluded-cases" class="list-group list-group-hover list-group-condensed">
    {% for genesis_case_id, entry in concluded_cases.items() %}
        <div id="genesis-{{ genesis_case_id }}-row" class="row list-group-item
                {%- if entry['case_status'] == enums['GenesisStati'].rejected %} list-group-item-muted{% endif %}">
            <div class="col-sm-3">
                {{ util.href(cdedblink('core/genesis_show_case', {'genesis_case_id': genesis_case_id}),
                             util.persona_name(entry, only_given_names=True), icon="door-open") }}
            </div>
            <div class="col-sm-3">
                <span>
                {{ util.make_icon(enums['GenesisStati'](entry['case_status']).get_icon(),
                                  title=gettext( enums['GenesisStati'](entry['case_status'])|string)) }}
                {{ gettext( enums['GenesisStati'](entry['case_status'])|string) }}
                </span>
            </div>
            <div class="col-sm-3">
                {% if entry['persona_id'] %}
                    {{ util.href(show_user_link(user, entry['persona_id']),
                                 util.persona_name(personas[entry['persona_id']]), icon="user") -}}
                {% else %}
                    –
                {% endif %}
            </div>
            <div class="col-sm-3 small">
                {{ util.realm_icon("is_" + entry['realm'] + "_realm", desc=True) }}<br />
                {{ entry['ctime']|datetime(formatstr="%d.%m.%Y %H:%M:%S") }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
