{% set sidenav_active='core_genesis_list' %}
{% extends "web/core/base.tmpl" %}
{% set jshint='weak' %}
{% import "web/util.tmpl" as util with context %}
{% import "web/generic.tmpl" as generic with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_select_past_course.js') }}
{% endblock %}
{% block title %}
    {% trans name=ambience['genesis_case'].persona|persona_name %}
        Edit Account Request ({{ name }})
    {% endtrans %}
{% endblock %}
{% block heading %}
    {{ util.context_heading(gettext("Edit Account Request"), ambience['genesis_case'].persona|persona_name, 'door-open', gettext("Account Request")) }}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("core/genesis_list_cases"), gettext("Account Requests")) }}
{{ util.breadcrumb_link(cdedblink("core/genesis_show_case"), ambience['genesis_case'].persona|persona_name, icon="door-open") }}
{{ util.breadcrumb_link(cdedblink("core/genesis_modify_form", {'case_id': values['genesis_case_id']}),
                        gettext("Edit"), active="True") }}
{% endblock %}

{% block content %}
    {% set persona = ambience['genesis_case'].persona %}
    <form action="{{ cdedblink('core/genesis_modify') }}" method="POST" id="genesismodifyform" class="form-horizontal">
        {{ util.anti_csrf_token('core/genesis_modify') }}
        <div>
            {{ util.form_input_text(name="given_names", label=gettext("Given Names"), small=True) }}
            {{ util.form_input_text(name="family_name", label=gettext("Family Name"), small=True) }}
            {% if persona|hasattr("birth_name") %}
                {{ util.form_input_text(name="birth_name", label=gettext("Birth Name"), small=True) }}
            {% endif %}
            {{ util.form_input_text(name="username", label=gettext("E-Mail"), small=True, type="email") }}
            {{ util.form_input_static(label=gettext("Realm"), small=True,
                value=util.realm_icon("is_" + ambience['genesis_case']['realm'] + "_realm", desc=True)) }}
            {{ util.form_input_textarea(name="notes", label=gettext("Rationale"), small=True) }}
            {% if persona|hasattr("gender") %}
                {{ util.form_input_select(name="gender", entries=enums['Genders']|enum_entries(processing=gettext),
                                        label=gettext("Gender"), small=True) }}
            {% endif %}
            {% if persona|hasattr("birthday") %}
                {{ util.form_input_text(name="birthday", label=gettext("Birthday"), type="date", small=True,
                                        enforce_required=false) }}
            {% endif %}
            {% if persona|hasattr("telephone") %}
                {{ util.form_input_text(name="telephone", label=gettext("Phone"), type="tel", small=True) }}
            {% endif %}
            {% if persona|hasattr("mobile") %}
                {{ util.form_input_text(name="mobile", label=gettext("Mobile Phone"), type="tel", small=True) }}
            {% endif %}
            {% if persona|hasattr("address") %}
                {{ util.form_input_text(name="address", label=gettext("Street and House Number"), small=True,
                                        enforce_required=false) }}
            {% endif %}
            {% if persona|hasattr("address_supplement") %}
                {{ util.form_input_text(name="address_supplement", label=gettext("Address Supplement"), small=True) }}
            {% endif %}
            {% if persona|hasattr("postal_code") %}
                {{ util.form_input_text(name="postal_code", label=gettext("Zipcode"), small=True) }}
            {% endif %}
            {% if persona|hasattr("location") %}
                {{ util.form_input_text(name="location", label=gettext("City"), small=True, enforce_required=false) }}
            {% endif %}
            {% if persona|hasattr("country") %}
                {{ util.form_input_select(name="country", label=gettext("Country"), entries=COUNTRY_CODES, small=True,
                                          defaultvalue=DEFAULT_COUNTRY) }}
            {% endif %}
            {% if ambience['genesis_case'].realm == "cde" %}
                {{ generic.past_course_select(small=True) }}
            {% endif %}
            {{ util.form_input_submit(label=gettext("Save"), small=True, cancellink=cdedblink("core/genesis_show_case")) }}
        </div>
    </form>
{% endblock %}
