{% extends "web/event/base.tmpl" %}
{% set sidenav_active='event_course_stats' %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_helper.js') }}
{% endblock %}
{% set jshint = 'weak' %}
{% block title %}
    {% trans course=ambience['course']['shortname'], title=ambience['event']['title'] %}
    	Course {{ course }} ({{ title }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/course_stats"), gettext("Courses")) }}
    {{ util.breadcrumb_link(cdedblink("event/show_course"), ambience['course']['shortname'], active=True,
            icon='book') }}
{% endblock %}
{% block heading %}
    {{ util.context_heading(gettext("Course %(nr)s: %(course)s")|format(nr=ambience['course']['nr'],
                                                                        course=ambience['course']['shortname']),
                            ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
    <div class="subtitle">
        {{ ambience['course']['title'] }}
    </div>
{% endblock %}

{% block content %}
    <div class="p button-par">
        {{ util.href(cdedblink('event/change_course_form'), gettext("Edit"),
                     readonly=not is_privileged_for("change_course"),
                     aclass="btn btn-sm btn-warning", icon="pen") }}
        {{ util.href(cdedblink('event/manage_attendees_form'), gettext("Manage Attendees"), readonly=not is_privileged_for("manage_attendees"),
                     aclass="btn btn-sm btn-warning", icon="users") }}
        {{ util.href(util.mailto(address="", to=";".join(instructor_emails)), gettext("Email to course instructors"),
                            icon="envelope", aclass="btn btn-sm btn-default", readonly=not instructor_emails,
                            title=(gettext("Send Mail to all course instructors.")
                                   if instructor_emails else
                                   gettext("No course instructors / email addresses available."))) }}
    </div>

            <dl class="dl-horizontal">
                <dt title="{% trans %}Instructors{% endtrans %}">{% trans %}Instructors{% endtrans %}</dt>
                <dd>{{ ambience['course']['instructors'] }}</dd>
                <dt title="{% trans %}Maximum Size (excl. instr.){% endtrans %}">{% trans %}Maximum Size (excl. instr.){% endtrans %}</dt>
                <dd>{{ ambience['course']['max_size'] }}</dd>
                <dt title="{% trans %}Minimum Size (excl. instr.){% endtrans %}">{% trans %}Minimum Size (excl. instr.){% endtrans %}</dt>
                <dd>{{ ambience['course']['min_size'] }}</dd>
                <dt title="{% trans %}Visibility on Courselist{% endtrans %}">{% trans %}Visibility on Courselist{% endtrans %}</dt>
                <dd>
                    {{ util.deko_checkbox(ambience['course']['is_visible'],
                                          titles=[gettext("not visible"), gettext("visible")]) }}
                </dd>
            </dl>

            <dl class="dl-horizontal">
                {% for field in ambience['event']['fields'].values()|sort %}
                    {% if field['association'] == enums['FieldAssociations'].course %}
                        <dt title="{{ field['title'] }}">{{ field['title'] }}</dt>
                        <dd>
                            {{ generic_event.display_field(field, ambience['course']['fields'].get(field['field_name'])) }}
                        </dd>
                    {% endif %}
                {% endfor %}
            </dl>

    {% if ambience['course']['notes'] %}
        {% call util.bootstrap_panel(title=gettext("Orga-Notes"), icon="tag",
                                     aclass="panel-default panel-condensed") %}
            {{ ambience['course']['notes']|md }}
        {% endcall %}
    {% endif %}

    {% set min_severity = enums['ViolationSeverity'].INFO %}
    {% set violations = constraint_violations['violations'] %}
    {% set general_violations = violations.get(track_not=ambience['course']['segments']) %}
    {% if general_violations.max_severity >= min_severity %}
        {% call generic_event.constraint_violations_panel(general_violations.max_severity) %}
            {{ generic_event.list_violations("constraint-violations", general_violations) }}
        {% endcall %}
    {% endif %}

    <h2>{% trans %}Attendees{% endtrans %}</h2>
    {% set relevant_tracks = [] %}
    {% for batch in ambience['event']['tracks'].values()|sort|selectattr('id', 'in', ambience['course']['segments'])|batch(3) %}
        <div class="row">
        {% for track in batch %}
            <div class="col-md-4">
                <div class="panel panel-info panel-condensed" id="track{{ track.id }}-attendees">
                    <div class="panel-heading">
                        {% if num_attendees and num_learners %}
                            {% set num_track_instructors = num_attendees[track.id] - num_learners[track.id] %}
                            <div class="pull-right">{{ num_learners[track.id] }}&nbsp;+&nbsp;{{ num_track_instructors }}</div>
                        {% endif %}
                        <h3 class="panel-title">
                            {% if ambience['event']['tracks']|length > 1 %}
                                {{ track['title'] }}
                            {% else %}
                                {% trans %}Attendees{% endtrans %}
                            {% endif %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% set track_violations = violations.get(track=track) %}
                        <div id="track-violations-{{ track.id }}">
                            {% for violation in track_violations if violation.severity >= enums['ViolationSeverity'].DEBUG %}
                                {% set text = generic_event.print_violation(violation).strip() %}
                                {% if text %}
                                    <p class="{{ violation.severity.html_class() }}">
                                        <i>
                                            {{ text }}
                                        </i>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {%- if attendees %}
                        <ul class="slim">
                            {% for registration_id in attendees[(ambience['course']['id'], track.id)] %}
                                {% set registration_part_status = registrations[registration_id]['parts'][track.part.id]['status'] %}
                                <li>
                                    {% if not registration_part_status.is_involved() %}<s>{% endif -%}
                                    {{ util.href(cdedblink('event/show_registration',
                                                        {'registration_id': registration_id}),
                                                util.persona_name(personas[registrations[registration_id]['persona_id']],
                                                                  include_nickname=True)) }}
                                    {%- if registrations[registration_id]['tracks'][track.id]['course_instructor']
                                            == ambience['course']['id'] %}
                                        ({% trans %}Instr.{% endtrans %})
                                    {%- endif %}
                                    {%- if not registration_part_status.is_involved() %}</s>{% endif -%}
                                    {% if registration_part_status != enums['RegistrationPartStati'].participant %}
                                        <small>({{ gettext(registration_part_status|enum(enums['RegistrationPartStati'])) }})</small>
                                    {% endif -%}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif -%}
                    </div>
                    <div class="panel-footer">
                        <ul class="list-unstyled nosp">
                            <li>
                                {{ util.href(cdedblink('event/course_choices', {
                                                            'track_id': track.id,
                                                            'course_id': ambience['course']['id'],
                                                            'position': enums.CourseFilterPositions.anywhere.value,
                                                            'submitform': True}),
                                             label=gettext("All Course Choices"),
                                             icon=util.make_icon('crosshairs'),
                                             readonly=not is_privileged_for('course_choices')) }}
                            </li>
                        {% if num_learners and num_learners[track.id] > 0 %}
                            <li>
                                {{ util.href(cdedblink('event/course_choices', {
                                                 'track_id': track.id,
                                                 'course_id': ambience['course']['id'],
                                                 'position': enums.CourseFilterPositions.assigned.value,
                                                 'include_active': True,
                                                 'submitform': True}),
                                             label=gettext("Attendees"),
                                             icon=util.make_icon('crosshairs'),
                                             readonly=not is_privileged_for('course_choices')) }}
                            </li>
                            <li>
                                {{ util.href(cdedblink('event/registration_query',
                                                       make_attendees_query(track.id).serialize_to_url()) + "#query-results",
                                             label=gettext("View Registrations"), icon=util.make_icon('list'),
                                             anid="attendees-link-{}".format(track.id),
                                             readonly=not is_privileged_for('registration_query')) }}
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    {% call util.bootstrap_panel(
                icon="thumbtack", aclass="panel-default panel-condensed",
                title=
                    gettext("Description") + " (<i>{}</i>)".format(gettext("not visible"))|s
                    if not ambience['course']['is_visible'] else
                    util.href(
                        cdedblink("event/course_list") + "#course-{}".format(ambience['course']['id'])|s,
                        gettext("Description"), title=gettext("Show on Courselist"))
                ) %}
        {{ ambience['course']['description']|md }}
    {% endcall %}

    {{ util.pager('event/show_course', 'course_id', prev_course, next_course, "label") }}

    {% call util.bootstrap_panel(title=gettext("Actions"), icon="exclamation-triangle", aclass="panel-danger mosp") %}
        <div class="row">
            <div class="col-sm-4">
                <div class="p">
                    <form action="{{ cdedblink('event/delete_course') }}" method="POST" id="deletecourseform"
                            style="display: inline;">
                        {{ util.anti_csrf_token('event/delete_course') }}
                        {{ util.input_submit(label=gettext("Delete"), readonly=not is_privileged_for("delete_course") or blockers,
                                             aclass="btn btn-danger", icon="trash-alt", title=gettext("Course still has attendees.") if "attendees" in blockers else "" ) }}
                        {{ util.input_checkbox(name="ack_delete", label=gettext("Are you sure?")) }}
                    </form>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="text-muted">
                    {% trans %}Delete the Course.{% endtrans %}
                </p>
            </div>
        </div>
    {% endcall %}
    <script nonce="{{ csp_nonce }}">
        $('#deletecourseform')
            .cdedbProtectAction("{{ gettext("The course will be permanently deleted.") }}")
            .find('[name="ack_delete"]').prop('checked', true).parent().hide();
    </script>
{% endblock %}
