{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Privilegien für {{ data['display_name']|e }} ({{ data['username']|e }}) setzen{% endblock %}
{% block content %}
    Bisherige Privilegien:
    <ul>
        {% for bit in bits %}
            <li>
                {{ util.deko_checkbox(checked=(bit.value|stringIn(values.getlist('newprivileges'))),
                                      anid="indicator_checkbox_{}".format(bit.name)) }}
                {{ i18n(bit|string)|e }}
            </li>
        {% endfor %}
    </ul>

    <form action="{{ cdedblink('core/adjust_privileges')|e }}" method="POST" id="adjustmentform">
        <div>
            {# jinja does not support list comprehension ... #}
            {% set myentries = [] %}
            {% for bit in bits %}
                {{ myentries.append((bit.value, i18n(bit|string), "manipulator_checkbox_{}".format(bit.name)))|e }}
            {% endfor %}
            {{ util.input_checkboxes(name="newprivileges", title="Bits", entries=myentries) }}
            {{ util.input_submit(value="Privilegien setzen") }}
        </div>
    </form>
{% endblock %}
