{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Emailadresse ändern{% endblock %}
{% block content %}
    Um Deine Emailadresse zu ändern wird zuerst eine Email an die neue
    Adresse geschickt, um diese zu verifizieren. In der Email findest Du
    einen Link, unter dem Du den Vorgang abschließen kannst.

    <form action="{{ cdedblink('core/send_username_change_link')|e }}" method="GET" id="usernamechangeform">
        <div>
            {{ util.input_text(name="new_username", label="Neue Emailadresse:") }}
            {{ util.input_submit(value="Verifizierungsemail abschicken") }}
        </div>
    </form>
{% endblock %}
