{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}
Administration -- Privilegien ändern für {{ ambience['persona']['given_names']|e }} {{ ambience['persona']['family_name']|e }}
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('core/change_privileges')|e }}" method="POST" id="privilegechangeform">
        <div>
            {{ util.input_checkbox(name="is_admin", label="Super-Admin") }}
            {{ util.input_checkbox(name="is_core_admin", label="Core-Admin") }}
            {{ util.input_checkbox(name="is_cde_admin", label="CdE-Admin") }}
            {{ util.input_checkbox(name="is_event_admin", label="Veranstaltungs-Admin") }}
            {{ util.input_checkbox(name="is_assembly_admin", label="Versammlungs-Admin") }}
            {{ util.input_checkbox(name="is_ml_admin", label="Mailinglisten-Admin") }}
            {{ util.input_submit(value="Privilegien setzen") }}
        </div>
    </form>
{% endblock %}
