{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}
Privilegien ändern für {{ ambience['persona']['given_names']|e }} {{ ambience['persona']['family_name']|e }}
{% endblock %}
{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("core/index"), "Start") }}
    {{ util.breadcrumb_link(show_user_link(ambience['persona']['id']),
            ambience['persona']['given_names'] + " " + ambience['persona']['family_name'], icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/change_privileges_form"), "Privilegien anpassen", active=True) }}
{% endblock %}
{% block content %}
    <form action="{{ cdedblink('core/change_privileges')|e }}" method="POST" id="privilegechangeform">
        <div>
            {{ util.form_input_checkbox(name="is_admin", label="Super-Admin") }}
            {{ util.form_input_checkbox(name="is_core_admin", label="Core-Admin") }}
            {{ util.form_input_checkbox(name="is_cde_admin", label="CdE-Admin") }}
            {{ util.form_input_checkbox(name="is_event_admin", label="Veranstaltungs-Admin") }}
            {{ util.form_input_checkbox(name="is_assembly_admin", label="Versammlungs-Admin") }}
            {{ util.form_input_checkbox(name="is_ml_admin", label="Mailinglisten-Admin") }}
            {{ util.form_input_submit(value="Privilegien setzen") }}
        </div>
    </form>
{% endblock %}
