{% set sidenav_active='core_mydata' %}
{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Eigene E-Mail-Adresse ändern{% endblock %}
{% block breadcrumb %}
    {{ util.breadcrumb_link(cdedblink("core/index"), "Start") }}
    {{ util.breadcrumb_link(show_user_link(user['persona_id']), user['given_names'] + " " + user['family_name'], icon="user") }}
    {{ util.breadcrumb_link(cdedblink("core/change_username_form"), "E-Mail-Adresse bearbeiten", active=True) }}
{% endblock %}
{% block content %}
    <p>
        Um Deine Emailadresse zu ändern wird zuerst eine E-Mail an die neue
        Adresse geschickt, um diese zu verifizieren. In der E-Mail findest Du
        einen Link, mit dem Du den Vorgang abschließen kannst.
    </p>

    <form action="{{ cdedblink('core/send_username_change_link')|e }}" method="GET" id="usernamechangeform"
            class="form-horizontal">
        {{ util.form_input_text(name="new_username", label="Neue E-Mail-Adresse", type="email") }}
        {{ util.form_input_submit(value="Verifizierungs-E-Mail abschicken") }}
    </form>
{% endblock %}
