{% extends "web/de/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Passwort ändern{% endblock %}
{% block content %}
    <h1>Passwort ändern</h1>
    <form action="{{ cdedblink('core/change_password') }}" method="POST" id="passwordchangeform">
        {{ util.input_password(name="old_password", label="Altes Passwort:") }}<br>
        {{ util.input_password(name="new_password", label="Neues Passwort:") }}<br>
        {{ util.input_password(name="new_password2", label="Wiederholung:") }}<br>
        {{ util.input_submit(value="Ändern") }}
    </form>
{% endblock %}
