{% extends "web/de/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Emailadresse ändern{% endblock %}
{% block content %}
    <h1>Emailadresse ändern</h1>

    Um Deine Emailadresse zu aendern wird zuerst eine Email an die neue
    Adresse geschickt um zu verifizieren, dass diese auch korrekt ist. In
    der Email findest Du einen Link, unter dem Du den Vorgang abschließen
    kannst.

    <form action="{{ cdedblink('core/send_username_change_link') }}" method="GET" id="usernamechangeform">
        {{ util.input_text(name="new_username", label="Neue Emailadresse:") }}<br>
        {{ util.input_submit(value="Verifizierungsemail abschicken") }}
    </form>
{% endblock %}
