{% extends "web/de/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Passwort zurücksetzen{% endblock %}
{% block content %}
    <h1>Passwort zurücksetzen</h1>

    Klicke auf untenstehenden Knopf um ein neues Passwort zu generieren und
    Dir per Email zuschicken zu lassen.

    <form action="{{ cdedblink('core/do_password_reset') }}" method="POST" id="passwordresetform">
        {{ util.input_hidden(name="email") }}
        {{ util.input_submit(value="Passwort zurücksetzen und per Email verschicken") }}
    </form>
{% endblock %}
