{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Neues Passwort setzen{% endblock %}
{% block content %}
    <p>
        Hier kannst Du ein neues Passwort für die CdE-Datenbank eingeben. Anschließend kannst Du Dich mit deinem neuen
        Passwort einloggen.
    </p>
    <p>
        Das neue Passwort muss mindestens acht Zeichen lang sein, sowie je mindestens ein Zeichen aus
        den folgenden drei Klassen enthalten: Kleinbuchstaben, Großbuchstaben, Ziffern.
    </p>
    
    <form action="{{ cdedblink('core/do_password_reset')|e }}" method="POST" id="passwordresetform"
            class="form-horizontal">
        <div>
            {{ util.input_hidden(name="email") }}
            {{ util.input_hidden(name="cookie") }}
            {{ util.form_input_text(name="new_password", type="password", label="Neues Passwort", small=True) }}
            {{ util.form_input_text(name="new_password2", type="password", label="Wiederholung", small=True) }}
            {{ util.form_input_submit(value="Passwort zurücksetzen", small=True) }}
        </div>
    </form>
{% endblock %}
