{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Passwort zurücksetzen -- Bestätigung{% endblock %}
{% block content %}
    Klicke auf untenstehenden Knopf um ein neues Passwort zu generieren und
    Dir per Email zuschicken zu lassen.

    <form action="{{ cdedblink('core/do_password_reset')|e }}" method="POST" id="passwordresetform">
        <div>
            {{ util.input_hidden(name="email") }}
            {{ util.input_hidden(name="cookie") }}
            {{ util.input_password(name="new_password") }}
            {{ util.input_submit(value="Passwort zurücksetzen") }}
        </div>
    </form>
{% endblock %}
