{% extends "web/de/base.tmpl" %}
{% block title %}Fehler{% endblock %}
{% block content %}
    <h1>Oops</h1>
    {% if kind == "database" %}
        Eine Datenbanktransaktion ist fehlgeschlagen. Versuche es bitte
        einfach nochmal, dann sollte es klappen.
    {% else %}
        Es ist leider ein Fehler aufgetreten. Dies bedeutet vermutlich, dass
        sich irgendwo im Quelltext ein Bug versteckt hat, den Du gerade
        erfolgreich aufgespürt hast.
    {% endif %}

    Sollte das Problem hartnäckig sein, so schreibe bitte eine Email an das
    Datenbank Team (cdedb at lists dot cde minus ev dot de). Gib dabei
    bitte eine möglichst genaue Fehlerbeschreibung (sprich: wie lässt sich
    der Fehler reproduzieren) sowie die aktuelle Uhrzeit ({{ now|datetime|e }}) an.
{% endblock %}
