{% set sidenav_active='core_index' %}
{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}CdE Datenbank{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("core/index"), "Start", active="True") }}
{% endblock %}
{% block content %}
    <h2>Willkommen!</h2>
    {% if CDEDB_OFFLINE_DEPLOYMENT %}
        Dies ist die Offline-Datenbank.

        TODO Erklaertext
    {% endif %}
    {% if "persona" not in user.roles %}
        <form action="{{ cdedblink('core/login')|e }}" method="POST" id="loginform" class="form-horizontal">
            <p>
                {{ util.form_input_text(name="username", label="E-Mail:", type="email", small=True,
                                        anid="login_name") }}
                {{ util.form_input_text(name="password", label="Passwort:", small=True, anid="login_password",
                                        type="password") }}
                <script type="text/javascript">
                    $(function() {
                        $('#login_name').focus();
                    });
                </script>

                {{ util.input_hidden(name="wants") }}

                {{ util.form_input_submit(value="Anmelden", small=True) }}
            </p>
        </form>
        {{ util.href(cdedblink('core/reset_password_form'), "Passwort vergessen?") }} |
        {{ util.href(cdedblink('core/genesis_request_form'), "Account anfordern") }}
    {% endif %}
    {% if "persona" in user.roles %}
        {{ meta_info.get('banner_after_login')|rst }}
        <div>
            <p>
                Dashboard
            </p>

            {% if 'genesis_cases' in dashboard %}
                <p>
                    Accountanfragen

                    Derzeit {{ dashboard['genesis_cases']|e }} zu
                    {{ util.href(cdedblink('core/genesis_list_cases'), "bearbeiten") }}.
                </p>
            {% endif %}
            {% if 'pending_changes' in dashboard %}
                <p>
                    Änderungen

                    Derzeit {{ dashboard['pending_changes']|e }} zu
                    {{ util.href(cdedblink('core/list_pending_changes'), "überprüfen") }}.
                </p>
            {% endif %}
            {% if 'orga' in dashboard %}
                <p>
                    Organisierte Veranstaltungen

                    <ul>
                        {% for event_id, event in dashboard['orga']|dictsort %}
                            <li>
                                {{ util.href(cdedblink('event/show_event', {'event_id': event_id}), event['title']) }}
                                mit {{ event['registrations']|e }} Anmeldungen
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
            {% if 'moderator' in dashboard %}
                <p>
                    Moderierte Mailinglisten

                    <ul>
                        {% for mailinglist_id, mailinglist in dashboard['moderator']|dictsort %}
                            <li>
                                {{ util.href(cdedblink('ml/show_mailinglist', {'mailinglist_id': mailinglist_id}),
                                             mailinglist['title']) }}
                                mit {{ mailinglist['requests']|e }} Anfragen
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
            {% if 'events' in dashboard %}
                <p>
                    Derzeitige Veranstaltungen

                    <ul>
                        {% for event_id, event in dashboard['events']|dictsort %}
                            <li>
                                {{ util.href(cdedblink('event/show_event', {'event_id': event_id}), event['title']) }}
                                {% if event['registration'] %}
                                    bereits angemeldet ({{ util.href(cdedblink('event/registration_status',
                                                                              {'event_id': event_id}), "anzeigen") }})
                                {% else %}
                                    {{ util.href(cdedblink('event/register_form', {'event_id': event_id}), "anmelden") }}
                                    {% if event['registration_soft_limit'] %}
                                        {% if now().date() >= event['registration_soft_limit'] %}
                                            (bis {{ event['registration_soft_limit']|date|e }})
                                        {% elif event['registration_hard_limit'] %}
                                            (Nachmeldungen bis {{ event['registration_hard_limit']|date|e }})
                                        {% else %}
                                            (nur noch Nachmeldungen)
                                        {% endif %}
                                    {% else %}
                                        {% if event['registration_hard_limit'] %}
                                            (bis {{ event['registration_hard_limit']|date|e }})
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
            {% if 'assemblies' in dashboard %}
                <p>
                    Derzeitige Veranstaltungen

                    <ul>
                        {% for assembly_id, assembly in dashboard['assemblies']|dictsort %}
                            <li>
                                {{ util.href(cdedblink('assembly/show_assembly', {'assembly_id': assembly_id}),
                                             assembly['title']) }}
                                {% if assembly['does_attend'] %}
                                    bereits angemeldet
                                {% else %}
                                    (bis {{ assembly['signup_end']|datetime|e }} möglich)
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
        </div>
    {% else %}
        {{ meta_info.get('banner_before_login')|rst }}
    {% endif %}
{% endblock %}
