{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}CdE Datenbank{% endblock %}
{% block content %}
    <h2>Willkommen!</h2>
    {% if not user.is_persona %}
        <form action="{{ cdedblink('core/login')|e }}" method="POST" id="loginform" class="form-horizontal">
            <p>
                {{ util.input_text(name="username", label="E-Mail:", type="email", small=True, anid="login_name") }}
                {{ util.input_password(label="Passwort:", small=True, anid="login_password") }}
                
                {{ util.input_select(label="Passwort:", small=True, anid="login_p", info="Choose your password") }}
                {{ util.input_hidden(name="wants") }}

                {{ util.input_submit(value="Anmelden", small=True) }}
            </p>
        </form>
        {{ util.href(cdedblink('core/reset_password_form'), "Passwort vergessen?") }} |
        {{ util.href(cdedblink('core/genesis_request_form'), "Account anfordern") }}
    {% endif %}
{% endblock %}
