{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Passwort zurücksetzen{% endblock %}
{% block content %}
    <p>
        Wenn Du Dein Passwort vergessen hast, kannst Du hier eine E-Mail
        anfordern, um Dein Passwort zurückzusetzen. Gib dazu einfach Deine
        E-Mail-Adresse, die in der Datenbank hinterlegt ist, ein.
    </p>
    <p>
        Achtung: Dies funktioniert nicht für Administrator-Accounts!
    </p>

    <form action="{{ cdedblink('core/send_password_reset_link')|e }}" method="GET" id="passwordresetform"
            class="form-horizontal">
        <div>
            {{ util.form_input_text(name="email", label="E-Mail-Adresse:", small=True) }}
            {{ util.form_input_submit(value="Rücksetz-Link anfordern", small=True) }}
        </div>
    </form>
{% endblock %}
