{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}Passwort zurücksetzen{% endblock %}
{% block content %}
    <h1>Passwort zurücksetzen</h1>

    Wenn Du Dein Passwort vergessen hast, kannst Du hier eine Email
    anfordern um Dein Passwort zurückzusetzen. Gib dazu einfach Deine
    Emailadresse, die in der Datenbank hinterlegt ist ein.
    <br>
    <strong>Dies funktioniert nicht für Administrator-Accounts!</strong>

    <form action="{{ cdedblink('core/send_password_reset_link') }}" method="GET" id="passwordresetform">
        {{ util.input_text(name="email", label="Email-Adresse:") }}<br>
        {{ util.input_submit(value="Email anfordern") }}
    </form>
{% endblock %}
