{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}{{ data['given_names']|e }} {{ data['family_name']|e }}{% endblock %}
{% block content %}
    FIXME generalise to all realms

    <div class="pull-right-responsive">
        {% if data['is_cde_realm'] %}
            <p>
                {% if data['foto'] %}
                    <img src="{{ cdedblink('cde/get_foto', {'foto': data['foto']})|e }}" alt="Profilbild" class="profilepic img-thumbnail">
                {% else %}
                    <img src="{{ staticurl("generic-avatar.png")|e }}" alt="Standardprofilbild" class="profilepic img-thumbnail">
                {% endif %}
            </p>
        {% endif %}
        {% if data['id'] == user.persona_id or is_admin %}
            <div class="panel panel-default">
                <div class="panel-heading">Aktionen</div>
                <div class="panel-body">
                    {{ util.href(show_user_link(data['id'], realm="cde"), "CdE-Ansicht") }}
                    {% if is_admin %}
                        {{ util.href(cdedblink('core/admin_change_user_form'), "Bearbeiten") }}
                    {% else %}
                        {{ util.href(cdedblink('core/change_user_form'), "Bearbeiten") }}
                    {% endif %}
                    {% if data['id'] == user.persona_id %}
                        {{ util.href(cdedblink("core/change_password_form"), "Passwort ändern") }}
                    {% endif %}
                    {{ util.href(cdedblink('cde/set_foto_form'), "Profilbild ändern") }}
                    {{ util.href(cdedblink('cde/lastschrift_show'), "Einzugsermächtigung") }}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="float-along">
        {% if not data['is_active'] %}
            <p class="text-danger">
                Der Benutzer ist deaktiviert.
            </p>
        {% endif %}

        <h4 class="heading-underline">Person</h4>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>
                {{ data['title']|e }} {{ data['given_names']|e }} {{ data['family_name']|e }}{{ data['name_supplement']|e }}
            </dd>
            {% if data['display_name'] %}
                <dt>Rufname</dt>
                <dd>{{ data['display_name']|e }}</dd>
            {% endif %}
            {% if data['birth_name'] %}
                <dt>Geburtsname</dt>
                <dd>{{ data['birth_name']|e }}</dd>
            {% endif %}
            {% if data['birthday'] %}
                <dt>Geburtstag</dt>
                <dd>{{ data['birthday']|date|e }}</dd>
            {% endif %}
            {% if data['gender'] %}
                <dt>Geschlecht</dt>
                <dd>{{ data['gender']|gender|e }}</dd>
            {% endif %}
            {% if data['specialisation'] %}
                <dt>Fachgebiet</dt>
                <dd>{{ data['specialisation']|e|linebreaks }}</dd>
            {% endif %}
            {% if data['affiliation'] %}
                <td>Schule, Uni, ...</td>
                <td>{{ data['affiliation']|e|linebreaks }}</td>
            {% endif %}
            {% if data['timeline'] %}
                <td>Jahrgang, Matrikel, ...</td>
                <td>{{ data['timeline']|e|linebreaks }}</td>
            {% endif %}
            {% if data['interests'] %}
                <td>Interessen</td>
                <td>{{ data['interests']|e|linebreaks }}</td>
            {% endif %}
            {% if data['free_form'] %}
                <td>Sonstiges</td>
                <td>{{ data['free_form']|e|linebreaks }}</td>
            {% endif %}
        </dl>

        <h4 class="heading-underline">Kontakt</h4>
        <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd>
                {{ data['username']|e }}
                {% if is_admin and data['id'] != user.persona_id %}
                    {{ util.href(cdedblink('core/admin_username_change_form'), "Bearbeiten", aclass="btn btn-xs btn-warning", icon="pencil") }}
                {% elif data['id'] == user.persona_id %}
                    {{ util.href(cdedblink('core/change_username_form'), "Bearbeiten", aclass="btn btn-xs btn-warning", icon="pencil") }}
                {% endif %}
            </dd>
            {% if data['telephone'] %}
                <dt>Telefon</dt>
                <dd>{{ data['telephone']|e }}</dd>
            {% endif %}
            {% if data['mobile'] %}
                <dt>Mobiltelefon</dt>
                <dd>{{ data['mobile']|e }}</dd>
            {% endif %}
            {% if data['weblink'] %}
                <dt>WWW</dt>
                {# TODO maybe add links or so - must be validated before! #}
                <dd>{{ data['weblink']|e }}</dd>
            {% endif %}
        </dl>

        {% if data['is_cde_realm'] or data['is_event_realm'] %}
            <h4 class="heading-underline">Adresse</h4>
            <dl class="dl-horizontal">
                <dt>Adresse</dt>
                <dd>
                    {{ data['address']|e }}{% if data['address'] %}<br />{% endif %}
                    {{ data['address_supplement']|e }}{% if data['address_supplement'] %}<br />{% endif %}
                    {{ data['postal_code']|e }} {{ data['location']|e }}{% if data['location'] %}<br />{% endif %}
                    {{ data['country']|e }}
                </dd>
            </dl>

            {% if data['address2'] or data['address_supplement2'] or data['postal_code2']
                    or data['location2'] or data['country2'] %}
                <dl class="dl-horizontal">
                    <dt>Zweitadresse</dt>
                    <dd>
                        {{ data['address2']|e }}{% if data['address2'] %}<br />{% endif %}
                        {{ data['address_supplement2']|e }}{% if data['address_supplement2'] %}<br />{% endif %}
                        {{ data['postal_code2']|e }} {{ data['location2']|e }}{% if data['location2'] %}<br />{% endif %}
                        {{ data['country2']|e }}
                    </dd>
                </dl>
            {% endif %}
        {% endif %}

        {% if data['id'] == user.persona_id or is_admin %}
            <tr> <th colspan="2">Mitgliedschaft</th> </tr>
            <tr>
                <td>CdE-Mitglied</td>
                <td>
                    {{ util.deko_checkbox(checked=data['is_member'], anid="membership_checkbox") }}
                    {% if data['trial_member'] %}
                        (Probemitgliedschaft)
                    {% endif %}
                    {% if is_admin %}
                        {{ util.href(cdedblink('cde/modify_membership_form'), "Mitgliedsstatus ändern") }}
                    {% endif %}
                </td>
            </tr>
            {% if is_admin %}
                <tr>
                    <td>Account aktiv</td>
                    <td>
                        {{ util.deko_checkbox(checked=data['is_active'], anid='activity_checkbox') }}
                        {% if data['is_active'] %}
                            <form action="{{ cdedblink('core/toggle_activity', {'activity': False})|e }}" method="POST"
                             id="activitytoggleform">
                                <div>{{ util.input_submit(value="Account deaktivieren") }}</div>
                            </form>
                        {% else %}
                            <form action="{{ cdedblink('core/toggle_activity', {'activity': True})|e }}" method="POST"
                             id="activitytoggleform">
                                <div>{{ util.input_submit(value="Account aktivieren") }}</div>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>CdE-Wolken-Zugriff</td>
                <td>{{ util.deko_checkbox(checked=data['cloud_account']) }}</td>
            </tr>
            {% if data['is_member'] %}
                <tr>
                    <td>Sichtbarkeit</td>
                    {% if data['is_searchable'] %}
                        <td>Daten sind für andere Mitglieder sichtbar.</td>
                    {% else %}
                        {% if not data['decided_search'] %}
                            <td>
                                Noch nicht entschieden; Daten sind nicht sichtbar.
                                {% if data['id'] == user.persona_id %}
                                    {{ util.href(cdedblink('cde/consent_decision'), "Entscheiden.") }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td>Daten sind nicht sichtbar.</td>
                        {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Datenzugriff für BuB</td>
                    <td>{{ util.deko_checkbox(checked=data['bub_search']) }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>CdEDB-ID</td>
                <td>{{ data['id']|cdedbid|e }}</td>
            </tr>
            <tr>
                <td>Guthaben</td>
                <td>{{ data['balance']|e }}€</td>
            </tr>
            {% if is_admin %}
                <tr>
                    <td>Bereiche</td>
                    <td>
                        <ul>
                            {% for bit, desc in (("is_cde_realm", "CdE"),
                                                 ("is_event_realm", "Veranstaltungen"),
                                                 ("is_ml_realm", "Mailinglisten"),
                                                 ("is_assembly_realm", "Versammlungen"),)%}
                                {% if data[bit] %}
                                    <li>{{ desc|e }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {# TODO allow changes #}
                    </td>
                </tr>
                <tr>
                    <td>Privilegien</td>
                    <td>
                        <ul>
                            {% for bit, desc in (("is_admin", "Super"),
                                                 ("is_cde_admin", "CdE"),
                                                 ("is_event_admin", "Veranstaltungen"),
                                                 ("is_ml_admin", "Mailinglisten"),
                                                 ("is_assembly_admin", "Versammlungen"),)%}
                                {% if data[bit] %}
                                    <li>{{ desc|e }}-Admin</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {# TODO allow changes #}
                    </td>
                </tr>
                <tr>
                    <td>Notizen</td>
                    <td>{{ data['notes']|e|linebreaks }}</td>
                </tr>
            {% endif %}
        {% endif %}

        {% if participation_info %}
            <tr> <th colspan="2">Veranstaltungen</th> </tr>
            {% for info in participation_info|sort(attribute="event_id") %}
                <tr>
                    <td colspan="2">
                        {{ util.href(cdedblink("event/show_past_event", {"event_id": info['event_id']}),
                                     info['event_name']) }}
                        {% if info['is_orga'] %}
                            (Orga)
                        {% else %}
                            {% if info['course_name'] %}
                                {{ util.href(cdedblink("event/show_past_course", {"event_id": info['event_id'],
                                                                                  "course_id": info['course_id']}),
                                             info['course_name']) }}
                                {% if info['is_instructor'] %}
                                    (Kursleiter)
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </div>

    {% if data['id'] == user.persona_id or is_admin %}
        <p>
            {% if is_admin %}
                {{ util.href(cdedblink('core/admin_change_user_form'), "Bearbeiten") }}
            {% else %}
                {{ util.href(cdedblink('core/change_user_form'), "Bearbeiten") }}
            {% endif %}
        </p>
    {% endif %}
    {% if is_admin %}
        <form action="{{ cdedblink('core/admin_password_reset')|e }}" method="POST"
          id="adminpasswordresetform">
            <div>{{ util.input_submit(value="Passwort zurücksetzen") }}</div>
        </form>
    {% endif %}
{% endblock %}
