{% set sidenav_active='core_manage_users' %}
{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% import "web/de/generic.tmpl" as generic with context %}
{% block javascripthint %}{{ util.javascript_hint() }}{% endblock %}
{% block scripts %}
    {{ util.cdedb_script('queryform') }}
    {{ util.cdedb_script('search-persona') }}
    {{ util.cdedb_script('helper') }}
{% endblock %}
{% block title %}Allgemeine Nutzerverwaltung{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("core/index"), "Start") }}
{{ util.breadcrumb_link(cdedblink("core/user_search"), "Nutzer verwalten", active="True") }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% with TITLES = {} %}
            <div>
                {{ util.place_default_queries("core/user_search", default_queries, TITLES) }}
            </div>
            {% endwith %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading"><h3 class="panel-title">Aktionen</h3></div>
                <div class="panel-body">
                    <form action="{{ cdedblink('core/admin_show_user')|e }}" method="GET" id="adminshowuserform">
                        <div class="input-group">
                            <input type="text" name="phrase" class="form-control" id="input-showuser-id" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" title="Suchen">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <script type="text/javascript">
                        var $i = $('#input-showuser-id');
                        $i.cdedbSearchPerson('{{ cdedblink('core/select_persona') + '?kind=persona&phrase=%s'}}', [], true);
                        $i.next().after($i);
                        $i.change(function(){$('#adminshowuserform').submit();})
                    </script>
                </div>
            </div>
        </div>
    </div>

    {{ generic.user_search_mask("core", ("pevent_id",)) }}

    {% if values['is_search'] %}
        <h3>Ergebnis [{{ result|length|e }}]</h3>
        {{ generic.user_search_result(result, "core") }}
    {% endif %}
{% endblock %}
