{% set sidenav_active='core_manage_users' %}
{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% import "web/de/generic.tmpl" as generic with context %}
{% block javascripthint %}{{ util.javascript_hint() }}{% endblock %}
{% block scripts %}{{ util.cdedb_script('queryform') }}{% endblock %}
{% block title %}Allgemeine Nutzerverwaltung{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("core/index"), "Start") }}
{{ util.breadcrumb_link(cdedblink("core/user_search"), "Nutzer verwalten", active="True") }}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        function format_cdedbid(numeric_id) {
            if (!(numeric_id > 0))
                return numeric_id;
            var digits = [];
            var tmp = numeric_id;
            while (tmp > 0) {
                digits.push(tmp % 10);
                tmp = Math.floor(tmp/10);
            }
            var isbn_sum = 0;
            for (i = 0; i < digits.length; i++) {
                isbn_sum += digits[i]*(i+2);
            }
            var checkdigits = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K"];
            return "DB-" + numeric_id + "-" + checkdigits[(((-isbn_sum) % 11) + 11) % 11];
        }
        $(function() {
            $('.numeric_cdedbid').submit(function() {
                var input = parseInt($('#admin_id_input').val());
                if (!isNaN(input)) {
                    $('#admin_id_input').val(format_cdedbid(input));
                }})});
    </script>
    <div class="row">
        <div class="col-md-8">
            {% with TITLES = {} %}
            <div>
                {{ util.place_default_queries("core/user_search", default_queries, TITLES) }}
            </div>
            {% endwith %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading"><h3 class="panel-title">Aktionen</h3></div>
                <div class="panel-body">
                    <form action="{{ cdedblink('core/admin_show_user')|e }}" method="GET" id="adminshowuserform"
                      style="display: inline-block; width:150px; vertical-align:middle;" class="numeric_cdedbid">
                        <div class="input-group">
                            <input type="text" name="id_to_show" class="form-control" placeholder="DB-XXXX-X"
                              id="admin_id_input" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" title="Suchen">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{ generic.user_search_mask("core", ("pevent_id",)) }}

    {% if values['is_search'] %}
        <h3>Ergebnis -- {{ result|length|e }} {{ result|length|numerus("Eintrag", "Einträge")|e }} gefunden</h3>
        {{ generic.user_search_result(result, "core") }}
    {% endif %}
{% endblock %}
