{% extends "web/de/core/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% import "web/de/generic.tmpl" as generic with context %}
{% block jquery %}{{ util.jquery_preamble() }}{% endblock %}
{% block javascripthint %}{{ util.javascript_hint() }}{% endblock %}
{% block title %}Allgemeine Nutzersuche{% endblock %}
{% block content %}
    <h3>Standardabfragen</h3>
    {% with TITLES = {} %}
        <div>
            {{ util.place_default_queries("core/user_search", default_queries, TITLES) }}
        </div>
    {% endwith %}

    <h3>Suchmaske</h3>
    {{ generic.user_search_mask("core", ("pevent_id",)) }}
{% endblock %}
