{% set sidenav_active='event_parts' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% block title %}
    {% trans event_title=ambience['event']['title'] %}
        Change part group ({{ event_title }})
    {% endtrans %}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Change part group"), ambience['event']['title'], 'chalkboard-teacher',
                            gettext("Event"), title_icon=ambience['part_group']['constraint_type'].get_icon(),
                            title_title=gettext(ambience['part_group']['constraint_type']|string)) }}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/part_summary"), gettext("Event-Parts")) }}
    {{ util.breadcrumb_link(cdedblink("event/part_group_summary"), gettext("Part Groups")) }}
    {{ util.breadcrumb_link("", ambience['part_group']['title'], icon="bullseye", active=True) }}
    {{ util.breadcrumb_link(cdedblink("event/change_part_group_form"), gettext("Change"), active=True) }}
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('event/change_part_group') }}" method="POST" id="changepartgroupform" class="form-horizontal">
        {{ util.anti_csrf_token('event/change_part_group') }}
        {{ util.form_input_text(name="title", label=gettext("Title")) }}
        {{ util.form_input_text(name="shortname", label=gettext("Shortname")) }}
        {{ util.form_input_text(name="notes", label=gettext("Notes")) }}
        {{ util.form_input_select(name="constraint_type", entries=enums['EventPartGroupType']|enum_entries(processing=gettext), actualreadonly=True) }}
        {{ util.form_input_checkboxes(
                name="part_ids", slice=2, actualreadonly=True,
                entries=ambience['event']['parts']|keydictsort(EntitySorter.event_part)|dict_entries('id', 'title')) }}
        {{ util.form_input_submit(label=gettext("Save")) }}
    </form>

{% endblock %}
