{% set sidenav_active='event_index' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block title %}
    {% trans %}
    	Events
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ util.breadcrumb_link(cdedblink("event/index"), gettext("Events"), active=True) }}
{% endblock %}
{% block content %}
    {% if "event_mgmt" in user.admin_views %}
        <div class="p button-par">
        {{ util.href(cdedblink("event/create_event_form"), gettext("Create Event"), icon="plus",
                aclass="btn btn-sm btn-success") }}
        </div>
    {% endif %}
    <p>
        {% trans different_kinds_of_events=util.href("https://www.cde-ev.de/veranstaltungen/arten/", gettext("different kinds of events")),
                 faq=util.href("https://www.cde-ev.de/faq/akademien/", gettext("FAQ")) %}
            Here You can find the CdE’s events.
            If you want to know more about the {{ different_kinds_of_events }}, take a look at the CdE website.
            There is also a public {{ faq }} regarding general information about CdE events on the CdE website.
        {% endtrans %}
    </p>
    {{ util.h(n_("Current Events")) }}
    <p>
        {% trans current_and_future_events=util.href("https://www.cde-ev.de/veranstaltungen/uebersicht/", gettext("current and future events")) %}
            A list with public information about {{ current_and_future_events }} is also available on the CdE website.
        {% endtrans %}
    </p>
    {% if current_events %}
        <ul class="spaced" id="current-events">
            {% for event in current_events.values()|sort if event.is_visible_for(
                    user, events_registration.get(event.id) is not none, privileged=False) %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event.id}), event['title']) }}
                    <br />
                    {{ event['begin']|date(lang=lang) }}&#8239;–&#8239;{{ event['end']|date(lang=lang) }},
                    {% if event['registration_start'] is none %}
                        {% trans %}
                            Registration in future™.
                        {% endtrans %}
                    {% elif now() <= event['registration_start'] %}
                        {% trans start_time=event['registration_start']|datetime(lang=lang) %}
                            Registration starting {{ start_time }}
                        {% endtrans %}
                    {% elif event['registration_soft_limit'] is none or now() <= event['registration_soft_limit'] %}
                        {% trans %}
                            Registration is open.
                        {% endtrans %}
                    {% elif event['registration_hard_limit'] is none or now() <= event['registration_hard_limit'] %}
                        {% trans %}
                            Late-Registration is open.
                        {% endtrans %}
                    {% elif event['begin'] <= now().date() <= event['end'] %}
                        {% trans %}
                            Event is happening.
                        {% endtrans %}
                    {% elif event['end'] <= now().date() %}
                        {% trans %}
                            Event is past.
                        {% endtrans %}
                    {% endif %}
                    <br />
                    {% if "event" in user.roles and events_registration[event.id] is not none %}
                        {% set link=cdedblink('event/registration_status', {'event_id': event.id}) %}
                        {% if events_registration[event.id] %}
                            ({% if not event.is_visible -%}
                                {% trans %}
                                    event hidden,
                                {% endtrans %}
                            {% endif -%}
                            {% trans registered=util.href(link, gettext("registered")) -%}
                                already {{ registered }}
                            {% endtrans %}
                            {%- if events_payment_pending[event.id] -%}
                                , {% trans %}payment pending{% endtrans %}
                            {%- endif %})
                            {%- if event['use_additional_questionnaire'] %}
                                &bull;
                                {{ util.href(cdedblink('event/additional_questionnaire', {'event_id': event.id}),
                                             gettext("Questionnaire"), icon='edit') -}}
                            {% endif -%}
                        {% else %}
                            ({% trans registered=util.href(link, gettext("registered")) -%}
                                formerly {{ registered }}
                            {%- endtrans %})
                        {% endif %}
                    {% elif "event" in user.roles and event['is_open'] %}
                        {{ util.href(cdedblink('event/register_form', {'event_id': event.id}),
                            gettext("Register"), icon='sign-in-alt') }}
                        {% if not event['registration_soft_limit'] is none %}
                            {% if now() <= event['registration_soft_limit'] %}
                                {% trans date=event['registration_soft_limit']|datetime(lang=lang) %}
                                    (until {{ date }})
                                {% endtrans %}
                            {% elif event['registration_hard_limit'] %}
                                {% trans date=event['registration_hard_limit']|datetime(lang=lang) %}
                                    (late registrations until {{ date }})
                                {% endtrans %}
                            {% else %}
                                {% trans %}
                                    (only late registrations possible)
                                {% endtrans %}
                            {% endif %}
                        {% elif not event['registration_hard_limit'] is none %}
                            {% trans date=event['registration_hard_limit']|datetime(lang=lang) %}
                                (until {{ date }})
                            {% endtrans %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">
            {% trans %}There are currently no event registrations open.{% endtrans %}
        </p>
    {% endif %}

    {% if orga_events %}
        {{ util.h(n_("Organized Events")) }}
        <ul class="spaced" id="organized-events">
            {% for entry in orga_events.values()|sort %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": entry.id}), entry['title']) }}
                    <br />
                    {{ entry['begin']|date(lang=lang) }}–{{ entry['end']|date(lang=lang) }}
                    <br />
                    <span class="small">
                        {{ util.href(cdedblink('event/registration_query', {'event_id': entry.id}),
                                     gettext("Registrations"), icon='list') }}
                        &bull;
                        {{ util.href(cdedblink('event/stats', {'event_id': entry.id}),
                                     gettext("Statistics"), icon='chart-bar') }}
                        {% if entry['tracks'] %}
                            &bull;
                            {{ util.href(cdedblink('event/course_stats', {'event_id': entry.id}),
                                         gettext("Courses"), icon='book') }}
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if other_events %}
        {{ util.h(n_("Other Events")) }}
        <ul class="spaced" id="other-events">
            {% for event in other_events.values()|sort if event.is_visible_for(
                    user, events_registration.get(event.id) is not none, privileged=False) %}
                <li>
                    {{ util.href(cdedblink("event/show_event", {"event_id": event.id}), event['title']) }}
                    <br />
                    {{ event['begin']|date(lang=lang) }}&#8239;–&#8239;{{ event['end']|date(lang=lang) }}
                    {%- if event['is_cancelled'] -%}
                        , {% trans %}is cancelled{% endtrans %}.
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
        {{ util.h(n_("Past Events_[[long form]]")) }}
        <p id="past-events">
            {% if 'cde' in user.roles %}
                {% trans link=util.href(cdedblink('cde/list_past_events'), gettext('Past Events_[[long form]]'))|s,
                         list=util.href(cdedblink('event/list_events'), gettext('list'))|s %}
                    Previous CdE events, including their courses and participants, can be found at {{ link }} – together with Junior- and SchülerAkademien.
                    Furthermore, there is a {{ list }} of all events which have not been cleansed yet.
                {% endtrans %}
            {% else %}
                {% trans list=util.href(cdedblink('event/list_events'), gettext('list'))|s %}
                    Previous CdE events are accessible to members only – together with Junior- and SchülerAkademien.
                    However, there is a {{ list }} of all events which have not been cleansed yet.
                {% endtrans %}
            {% endif %}
        </p>

{% endblock %}
