{% set sidenav_active='event_show' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% set jshint = 'strong' %}
{% block scripts %}
    {{ super() }}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_searchpersona.js') }}
{% endblock %}
{% block title %}
    {% trans title=ambience['event'].title %}
        Manage Orgas & Caretakers ({{ title }})
    {% endtrans %}
{% endblock %}
{% block heading %}
    {{ util.context_heading(gettext("Manage Roles"), ambience['event']['title'],
                            'chalkboard-teacher', gettext("Event")) }}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/manage_roles"), gettext("Manage Roles"), active=True) }}
{% endblock %}
{% block content %}
    {% call util.h(n_("Orgas"), 2) %}
        [{{ orgas|length }}]
    {% endcall %}

    {% if is_privileged_for("event/add_orgas", admin_view_to_consider="event_mgmt") %}
        <form action="{{ cdedblink('event/add_orgas') }}" method="POST" id="addorgasform" class="p">
            {{ util.anti_csrf_token('event/add_orgas') }}
            {% call util.output_errors('orga_ids', wrapper=True) %}
                <div class="input-group has-success">
                    <span class="input-group-addon">{{ util.make_icon('plus') }}</span>
                    {{ util.input_text(type="search", name="orga_ids", placeholder="DB-XXXX-X",
                                       anid="input-add-orgas", arialabel=gettext("IDs of the new orgas")) }}
                    <div class="input-group-btn">
                        {{ util.input_submit(label=gettext("Add"), aclass="btn btn-success") }}
                    </div>
                </div>
            {% endcall %}

        </form>
        <script nonce="{{ csp_nonce }}">
            $("#input-add-orgas").cdedbSearchPerson(
                "{{ cdedblink("core/select_persona") }}",
                {kind: "event_user"},
                {{ orgas|list|tojson }},
                false,  // freeform
                true,  // multi
                "{{ gettext("CdEDB-ID, Name or E-Mail") }}",
            );
        </script>
        {% if ambience['event'].id in user.orga %}
            <p class="help-block no-color text-warning">
                {{- util.make_icon('exclamation-triangle') }}{{ nbsp -}}
                {% trans %}
                     You should not add/remove orgas for your own event.
                {% endtrans %}
            </p>
        {% endif %}
    {% endif %}

    <div class="row" id="orgas_list">
        {% for list in orgas.values() | slice(2 if orgas|length > 5 else 1) %}
            <div class="col-sm-6">
                <ul class="nosp slim">
                    {% for orga in list %}
                        <li class="hide-hover-container clearfix-after">
                            {{ util.persona_anchor(orga, include_nickname=True) }}
                            {% if is_privileged_for("event/remove_orga", admin_view_to_consider="event_mgmt") %}
                                <form action="{{ cdedblink("event/remove_orga") }}" method="POST"
                                      id="removeorgaform{{ orga.id }}" class="hide-hover display-inline">
                                    {{ util.anti_csrf_token("event/remove_orga") }}
                                    {{ util.input_hidden(name="orga_id", value=orga.id|cdedbid) }}
                                    {{ util.input_submit(title=gettext("Remove Orga"), icon="minus", label="",
                                                         aclass="btn btn-xs btn-danger list-button-float") }}
                                    {{ util.ack_delete("The orga will be removed from the event.") }}
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="row mosp">
        <div class="col-md-6">
            {% call util.h(n_("Caretakers"), 2) %}
                [{{ caretakers|length }}]
            {% endcall %}

            {% if is_privileged_for("event/add_caretakers", admin_view_to_consider="event_mgmt") %}
                <form action="{{ cdedblink("event/add_caretakers") }}" method="POST" id="addcaretakersform" class="p">
                    {{ util.anti_csrf_token("event/add_caretakers") }}
                    <div class="input-group has-success">
                        <span class="input-group-addon">{{ util.make_icon('plus') }}</span>
                        {{ util.input_text(type="search", name="caretaker_ids", placeholder="DB-XXXX-X",
                                           anid="input-add-caretakers", arialabel=gettext("IDs of the new caretakers")) }}
                        <div class="input-group-btn">
                            {{ util.input_submit(label=gettext("Add"), aclass="btn btn-success") }}
                        </div>
                    </div>
                    {{ util.output_errors('caretaker_ids', wrapper=True) }}
                </form>
                <script nonce="{{ csp_nonce }}">
                    $("#input-add-caretakers").cdedbSearchPerson(
                        "{{ cdedblink("core/select_persona") }}",
                        {kind: "event_user"},
                        {{ caretakers|list|tojson }},
                        false,  // freeform
                        true,  // multi
                        "{{ gettext("CdEDB-ID, Name or E-Mail") }}",
                    );
                </script>
            {% endif %}

            <p class="text-info">
                {{ util.make_icon("info-circle") }}{{ nbsp -}}
                {% trans %}
                    Caretakers have the same access to a specific event as orgas, allowing them to do anything an orga can do.
                    Additionally they are able to manage orgas, i.e. remove or add orgas.
                {% endtrans %}
            </p>
            <ul class="slim" id="caretakers_list">
                {% for persona_id, caretaker in caretakers.items() %}
                    <li class="hide-hover-container clearfix-after">
                        {{ util.persona_anchor(caretaker, include_nickname=True) }}
                        {% if is_privileged_for("event/remove_caretaker", admin_view_to_consider="event_mgmt") %}
                            <form action="{{ cdedblink("event/remove_caretaker") }}" method="POST"
                                  id="removecaretakerform{{ persona_id }}" class="hide-hover display-inline">
                                {{ util.anti_csrf_token("event/remove_caretaker") }}
                                {{ util.input_hidden(name="caretaker_id", value=persona_id|cdedbid) }}
                                {{ util.input_submit(title=gettext("Remove Caretaker"), icon="minus", label="",
                                                     aclass="btn btn-xs btn-danger list-button-float") }}
                                {{ util.ack_delete("The caretaker will be removed from the event.") }}
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            {% call util.h(n_("Checkin Helpers"), 2) %}
                [{{ checkin_helpers|length }}]
            {% endcall %}

            {% if is_privileged_for("event/add_checkin_helpers", admin_view_to_consider="event_mgmt") %}
                <form action="{{ cdedblink("event/add_checkin_helpers") }}" method="POST" id="addcheckinhelpersform" class="p">
                    {{ util.anti_csrf_token("event/add_checkin_helpers") }}
                    <div class="input-group has-success">
                        <span class="input-group-addon">{{ util.make_icon('plus') }}</span>
                        {{ util.input_text(type="search", name="checkin_helper_ids", placeholder="DB-XXXX-X",
                                           anid="input-add-checkin-helpers", arialabel=gettext("IDs of the new checkin helpers")) }}
                        <div class="input-group-btn">
                            {{ util.input_submit(label=gettext("Add"), aclass="btn btn-success") }}
                        </div>
                    </div>
                    {{ util.output_errors('checkin_helper_ids', wrapper=True) }}
                </form>
                <script nonce="{{ csp_nonce }}">
                    $("#input-add-checkin-helpers").cdedbSearchPerson(
                        "{{ cdedblink("core/select_persona") }}",
                        {kind: "event_user"},
                        {{ checkin_helpers|list|tojson }},
                        false,  // freeform
                        true,  // multi
                        "{{ gettext("CdEDB-ID, Name or E-Mail") }}",
                    );
                </script>
            {% endif %}

            <p class="text-info">
                {{ util.make_icon("info-circle") }}{{ nbsp -}}
                {% trans %}
                    Checkin helpers have read access to all non-personal data in your event.
                    Furthermore, they can read and write registration data,
                    with the exception of detailed fee information and custom fields not shown at checkin.
                    Checkin helpers are removed automatically 24 hours after they have been added.
                {% endtrans %}
            </p>
            <ul class="slim" id="checkin_helpers_list">
                {% for persona_id, checkin_helper in checkin_helpers.items() %}
                    <li class="hide-hover-container clearfix-after">
                        {{ util.persona_anchor(checkin_helper, include_nickname=True) }}
                        {% if is_privileged_for("event/remove_checkin_helper", admin_view_to_consider="event_mgmt") %}
                            <form action="{{ cdedblink("event/remove_checkin_helper") }}" method="POST"
                                  id="removcheckinhelperform{{ persona_id }}" class="hide-hover display-inline">
                                {{ util.anti_csrf_token("event/remove_checkin_helper") }}
                                {{ util.input_hidden(name="checkin_helper_id", value=persona_id) }}
                                {{ util.input_submit(title=gettext("Remove Checkin Helper"), icon="minus", label="",
                                                     aclass="btn btn-xs btn-danger list-button-float") }}
                                {{ util.ack_delete("The checkin helper will be removed from the event.") }}
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
