{% set sidenav_active='event_show' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic with context %}
{% block scripts %}
    {{ super() }}
    {% if orga_view or 'event_mgmt' in user.admin_views %}
        {{ util.cdedb_script('cdedb_searchpersona.js') }}
        {{ util.cdedb_script('cdedb_helper.js') }}
    {% endif %}
{% endblock %}
{% if orga_view or 'event_mgmt' in user.admin_views %}
    {% set jshint = 'strong' %}
{% endif %}
{% block title %}
    {{ ambience['event']['title'] }}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher", active=True) }}
{% endblock %}
{% block static_notifications %}
    {{ super() }}
    {% if "event" not in user.roles %}
        {% call util.notification('info', id='instructors-not-visible') %}
            {% trans %}More detailed information about the event is visible to logged in event users.{% endtrans %}
        {% endcall %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if "event" in user.roles %}
        {% if orga_view %}
            <div class="p button-par">
                {{ generic.edit_free_text_button("description", label=gettext("Edit description"), small=False, pull_right=False) }}
            </div>
        {% endif %}
        <div id="description">{{ ambience['event']['description']|md }}</div>
    {% endif %}

    <dl class="dl-horizontal">
        {% if ambience['event']['website_url'] %}
            <dt title="{% trans %}Website Link{% endtrans %}">
                {% trans %}Website Link{% endtrans %}
            </dt>
            <dd id="website-link">
                {{ util.href(ambience['event']['website_url'], ambience['event']['title']) }}
            </dd>
        {% endif %}
        {% if ambience['event']['parts']|length > 0 %}
            <dt title="{% trans %}Timeframe{% endtrans %}">
                {% trans %}Timeframe{% endtrans %}
            </dt>
            <dd id="timeframe-parts">
                {% if ambience['event']['parts']|length == 1 %}
                    {% with part = (ambience['event']['parts'].values()|list)[0] %}
                        <span class="nowrap">{{ part['part_begin']|date(lang=lang,verbosity='full') }}</span>&#8239;–
                        {#-  #}&#8239;<span class="nowrap">{{ part['part_end']|date(lang=lang,verbosity='full') }}</span>
                    {% endwith %}
                {% else %}
                    {% for part in ambience['event'].parts.values()|sort %}
                        {{ part['title'] }}:
                        {{ part['part_begin']|date(lang=lang) }}&#8239;–&#8239;
                        {{- part['part_end']|date(lang=lang) }}<br />
                    {% endfor %}
                {% endif %}
            </dd>
        {% endif %}
        {% if not ambience['event']['registration_start'] is none %}
            <dt title="{% trans %}Registration{% endtrans %}">
                {% trans %}Registration{% endtrans %}
            </dt>
            <dd id="timeframe-registration">
                {% set soft_limit = ambience['event']['registration_soft_limit'] %}
                {% set hard_limit = ambience['event']['registration_hard_limit'] %}
                {% if soft_limit is none and hard_limit is none %}
                    {% trans date=ambience['event']['registration_start']|datetime(lang=lang)%}
                    	starts {{ date }}
                    {% endtrans %}
                {% else %}
                    {{ ambience['event']['registration_start']|datetime(lang=lang) }}&#8239;–&#8239;
                    {{- (hard_limit if soft_limit is none else soft_limit)|datetime(lang=lang) }}
                    {% if (orga_view or (soft_limit and now() > soft_limit)) and soft_limit != hard_limit %}
                        {% if hard_limit %}
                            {% trans date=hard_limit|datetime(lang=lang) %}
                                (Late registrations until {{ date }})
                            {% endtrans %}
                        {% elif now() > soft_limit %}
                            {% trans %}
                                (Late registration open)
                            {% endtrans %}
                        {% else  %}
                            {% trans %}
                                (Afterwards late registration open)
                            {% endtrans %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </dd>
        {% endif %}
        {% if ambience['event']['orga_address'] %}
            <dt title="{% trans %}Orga Address{% endtrans %}">
                {% trans %}Orga Address{% endtrans %}
            </dt>
            <dd id="orga-address">
                <a href="{{ util.mailto(ambience['event']['orga_address']) }}">{{ ambience['event']['orga_address'] }}</a>
            </dd>
        {% endif %}
        {% if "event" in user.roles %}
            <dt title="{% trans %}Orgas{% endtrans %}">
                {% trans %}Orgas{% endtrans %}
            </dt>
            <dd id="orgas">
                {% for anid, entry in orgas.items() %} {# This is already sorted. #}
                    {{ util.persona_anchor(entry, include_nickname=true) }}{% if not loop.last %},{% endif %}
                {% else %}
                    {% trans %}None{% endtrans %}
                {% endfor %}
            </dd>
        {% endif %}
    </dl>
    {% if orga_view or 'event_mgmt' in user.admin_views %}
        <dl class="dl-horizontal">
            <dt title="{% trans %}Shortname{% endtrans %}">{% trans %}Shortname{% endtrans %}</dt>
            <dd id="shortname">{{ ambience['event']['shortname'] }}</dd>
            <dt title="{% trans %}Institution{% endtrans %}">{% trans %}Institution{% endtrans %}</dt>
            <dd id="institution">{{ gettext(ambience['event']['institution']|string) }}</dd>
            {% if orga_view %}
                <dt title="{% trans %}CdE-Account{% endtrans %}">{% trans %}CdE-Account{% endtrans %}</dt>
                <dd id="cde-iban">
                    {%- if ambience['event'].iban -%}
                        {{ ambience['event'].iban.get_iban()|iban }} ({{ ambience['event'].iban.get_bank() }})
                    {%- endif -%}
                </dd>
                <dt title="{% trans %}Questionnaire active{% endtrans %}">{% trans %}Questionnaire active{% endtrans %}</dt>
                <dd id="questionnaire-active">{{ util.deko_checkbox(checked=ambience['event']['use_additional_questionnaire'],
                            titles=[gettext("No"),gettext("Yes")]) }}</dd>
            {% endif %}
        </dl>
    {% endif %}


    {% if orga_view %}
        {% if ambience['event']['notes'] %}
            {% call util.bootstrap_panel(title=gettext("Orga-Notes"),
                                         button=generic.edit_free_text_button("notes"),
                                         icon="tag", aclass="panel-default") %}
                <div id="orga-notes">{{ ambience['event']['notes']|md }}</div>
            {% endcall %}
        {% endif %}
    {% endif %}

    <div class="row">
        {% if orga_view %}
            {% set min_severity = enums['ViolationSeverity'].INFO %}
            {% set violations = constraint_violations['violations'] if constraint_violations else None %}
            {% if violations and violations.max_severity >= min_severity %}
                <div class="col-md-6" id="constraint-violations">
                    {% call generic.constraint_violations_panel(violations.max_severity, link_title=True) %}
                        <ul class="slim">
                            {% for class_name, violations_ in violations.by_class.items() if violations_.max_severity >= min_severity %}
                                <li><a class="{{ violations_.max_severity.html_class() }}" href="{{ cdedblink("event/constraint_violations") }}#{{ class_name }}">
                                    {% trans count=violations_|selectattr("severity", "ge", min_severity)|list|length,
                                             class_name=gettext(class_name) %}
                                        There are {{ count }} {{ class_name }}.
                                    {% endtrans %}
                                </a></li>
                            {% endfor %}
                        </ul>
                    {% endcall %}
                </div>
            {% endif %}

            <div class="col-md-6" id="minor-form">
                {% call util.bootstrap_panel(title=gettext("Minor Form"), icon='file', aclass='panel-warning') %}
                    <div class="p">
                        {% if minor_form_present %}
                            {% trans link=util.href(cdedblink('event/get_minor_form'), gettext("current Form"),
                                                    icon='file') -%}
                            	Form present: {{ link }}
                            {% endtrans %}
                            <form action="{{ cdedblink("event/change_minor_form") }}" method="POST"
                                id="removeminorformform">
                                {{ util.anti_csrf_token("event/change_minor_form") }}
                                {{ util.input_hidden(name="delete", value=True) }}
                                {{ util.input_submit(label=gettext("Remove Minor Form"), readonly=not is_privileged_for("change_minor_form"),
                                                     icon="trash-alt", aclass='btn btn-danger') }}
                                {{ util.ack_delete(gettext("The minor form will be permanently deleted.")) }}
                            </form>
                        {% else %}
                            <strong>{{ util.make_icon('exclamation-triangle') }}
                                {% trans %}No Form present – Minors cannot register{% endtrans %}
                            </strong>
                        {% endif %}
                    </div>
                    <form action="{{ cdedblink('event/change_minor_form') }}" method="POST" enctype="multipart/form-data"
                     id="changeminorformform" {% if 'minor_form' in errors %}class="has-error"{% endif %}>
                        {{ util.anti_csrf_token('event/change_minor_form') }}
                        {{ util.input_hidden(name="delete", value=False) }}
                        <div class="input-group">
                            {{ util.input_file(name="minor_form", accept="application/pdf",
                                               arialabel=gettext("PDF of the new Minor Form")) }}
                            <div class="input-group-btn">
                                {{ util.input_submit(label=gettext("Upload"), readonly=not is_privileged_for("change_minor_form"), icon='arrow-circle-up') }}
                            </div>
                        </div>
                        {{ util.output_errors('minor_form') }}
                    </form>
                {% endcall %}
            </div>

            <div class="col-md-6" id="lock-event">
                {% call util.bootstrap_panel(
                        title=gettext("Unlock Event") if ambience['event'].is_locked else gettext("Lock Event"),
                        icon='lock', aclass='panel-danger') %}
                    {% if CDEDB_OFFLINE_DEPLOYMENT %}
                        <div class="p">
                            {% trans %}Cannot lock offline instance.{% endtrans %}
                        </div>
                    {% elif ambience['event'].is_locked %}
                        <div class="p">
                            {%- trans -%}Event is temporarily locked, preventing (almost) all modifications.{%- endtrans %}
                            {% trans -%}Only unlock the event, if you know why it was locked.{% endtrans -%}
                        </div>
                        <div class="p">
                            <form action="{{ cdedblink('event/unlock_event') }}" method="POST" id="unlockeventform">
                                {{ util.anti_csrf_token('event/unlock_event') }}
                                {{ util.input_submit(label=gettext("Unlock Event"), icon='unlock', aclass='btn btn-primary',
                                                     readonly=not is_privileged_for("event/unlock_event")) }}
                            </form>
                        </div>
                    {% else %}
                        <div class="p">
                            {%- trans -%}Temporarily lock the event, preventing (almost) all modifications.{%- endtrans %}
                        </div>
                        <div class="p">
                            <form action="{{ cdedblink('event/lock_event') }}" method="POST" id="lockeventform">
                                {{ util.anti_csrf_token('event/lock_event') }}
                                {{ util.input_submit(label=gettext("Lock Event"), icon='lock', aclass='btn btn-danger',
                                                     readonly=not is_privileged_for("event/lock_event")) }}
                            </form>
                        </div>
                    {% endif %}
                {% endcall %}
            </div>
        {% endif %}
        {% if "event_mgmt" in user.admin_views or ambience['event'].id in user.caretaker %}
            <div class="col-md-6" id="manage-orgas">
                {% call util.bootstrap_panel(title=gettext("Orgas and Caretakers"), icon='user-friends') %}
                <ul>
                    {% for anid, entry in orgas.items() %} {# This is already sorted. #}
                        <li class="hide-hover-container clearfix-after">
                            {{ util.persona_anchor(entry, include_nickname=true) }} ({{ anid|cdedbid }})
                            <form action="{{ cdedblink('event/remove_orga') }}" method="POST"
                                    id="removeorgaform{{ anid }}" class="hide-hover display-inline">
                                {{ util.anti_csrf_token('event/remove_orga') }}
                                {{ util.input_hidden(name="orga_id", value=anid) }}
                                {{ util.input_submit(title=gettext("Remove Orga"), icon='minus', label="",
                                                     aclass='btn btn-xs btn-danger list-button-float') }}
                                {{ util.ack_delete(gettext("The orga will be removed from the event.")) }}
                            </form>
                        </li>
                    {% endfor %}
                    {% if caretakers %}<hr class="nosp" />{% endif %}
                    {% for anid, entry in caretakers.items() %} {# This is already sorted. #}
                        <li class="hide-hover-container clearfix-after">
                            {{ util.make_icon("hands-holding-circle", title=gettext("Caretaker"), aclass="text-muted") }}
                            {{ util.persona_anchor(entry, include_nickname=true) }} ({{ anid|cdedbid }})
                            {% if "event_mgmt" in user.admin_views %}
                                <form action="{{ cdedblink('event/remove_caretaker') }}" method="POST"
                                        id="removeorgaform{{ anid }}" class="hide-hover display-inline">
                                    {{ util.anti_csrf_token('event/remove_caretaker') }}
                                    {{ util.input_hidden(name="caretaker_id", value=anid) }}
                                    {{ util.input_submit(title=gettext("Remove Cartaker"), icon='minus', label="",
                                                         aclass='btn btn-xs btn-danger list-button-float') }}
                                    {{ util.ack_delete(gettext("The caretaker will be removed from the event.")) }}
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <form action="{{ cdedblink('event/add_orga_or_caretaker') }}" method="POST" id="addorgaform" class="p">
                    {{ util.anti_csrf_token('event/add_orga_or_caretaker') }}
                    {% call util.output_errors('persona_id', wrapper=True) %}
                    <div class="input-group has-success">
                        <span class="input-group-addon">{{ util.make_icon('plus', title=gettext("Add Orga")) }}</span>
                        {{ util.input_text(name="persona_id", placeholder="DB-XXXX-X", anid='input-add-orga',
                                           arialabel=gettext("ID of the new Orga")) }}
                        <script nonce="{{ csp_nonce }}">
                            $('#input-add-orga').cdedbSearchPerson(
                                '{{ cdedblink('core/select_persona') }}',
                                {{ {'kind': 'event_user', 'aux': ambience['event']['id'] }|tojson }},
                                [], false, false, "{{ gettext("ID, name, email") }}"
                            );
                        </script>
                        <div class="input-group-btn">
                            {{ util.input_submit(label=gettext("Add"), aclass='btn btn-success') }}
                        </div>
                    </div>
                    {% if "event_mgmt" in user.admin_views %}
                        <div class="checkbox" style="margin-bottom:0">
                            {{ util.input_checkbox('as_caretaker', gettext("as Caretaker")) }}
                        </div>
                    {% endif %}
                    {% if ambience['event'].id in user.orga %}
                        <p class="help-block no-color text-warning" style="margin-bottom:0">
                            {{- util.make_icon('exclamation-triangle') }}{{ nbsp }}
                            {% trans %}
                                 You should not add/remove orgas for your own event.
                            {% endtrans %}
                        </p>
                    {% endif %}
                {% endcall %}
                </form>
                {% endcall %}
            </div>
        {% endif %}
    </div>


    {% if "event_mgmt" in user.admin_views or "finance" in user.admin_views or (
            (values['event_id'] in user.orga or values['event_id'] in user.caretaker) and (not ambience['event']['orga_address'] or not participant_list)) %}
        {# This ensures no empty box is shown for orgas. #}
        {% call util.bootstrap_panel(title=gettext("Actions"), icon="exclamation-triangle", aclass="panel-danger mosp") %}
            {% if not ambience['event']['orga_address'] %}
                <div class="row" id="create-orga-list">
                    <div class="col-sm-4">
                        <div class="p">
                            <form action="{{ cdedblink('event/create_event_mailinglist') }}" method="POST" id="createorgalistform"
                                    style="display: inline;">
                                {{ util.anti_csrf_token('event/create_event_mailinglist') }}
                                {{ util.input_hidden("orgalist", value=True) }}
                                {{ util.input_submit(
                                        label=gettext("Create orga mailinglist"), aclass="btn btn-primary btn-wrap",
                                        icon="far fa-plus-square", readonly=is_locked or not orgas,
                                        title=("" if orgas
                                               else gettext("Must have orgas in order to create a mailinglist."))) }}
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="text-muted">
                            {% trans %}
                                Create an orga mailinglist for this event with a default configuration.
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if not participant_list %}
                <div class="row" id="create-participant-list">
                    <div class="col-sm-4">
                        <div class="p">
                            <form action="{{ cdedblink('event/create_event_mailinglist') }}" method="POST" id="createparticipantlistform"
                                    style="display: inline;">
                                {{ util.anti_csrf_token('event/create_event_mailinglist') }}
                                {{ util.input_hidden("orgalist", value=False) }}
                                {{ util.input_submit(
                                        label=gettext("Create participant mailinglist"),
                                        aclass="btn btn-primary btn-wrap", icon="far fa-plus-square", readonly=is_locked or not orgas,
                                        title=("" if orgas
                                               else gettext("Must have orgas in order to create a mailinglist."))) }}
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="text-muted">
                            {% trans %}
                                Create a participant mailinglist for this event with a default configuration.
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if "event_mgmt" in user.admin_views %}
                {% if "cde_admin" in user.roles and not ambience['event']['is_archived'] %}
                <div class="row" id="archive-event">
                    <div class="col-sm-4">
                        <div class="p">
                            <form action="{{ cdedblink('event/archive_event') }}" method="POST" id="archiveeventform"
                                    style="display: inline;">
                                {{ util.anti_csrf_token('event/archive_event') }}
                                {{ util.input_submit(label=gettext("Archive"),
                                                     readonly=(is_locked or (ambience['event']['end'] >= now().date()
                                                                             and not ambience['event']['is_cancelled'])),
                                                     aclass="btn btn-danger btn-wrap mosp", icon="folder",
                                                     title=(gettext("Event is not concluded yet.")
                                                            if (ambience['event']['end'] >= now().date()
                                                                and not ambience['event']['is_cancelled']) else "")) }}
                                {{ util.input_checkbox(name="create_past_event",
                                    readonly=(is_locked or (ambience['event']['end'] >= now().date()
                                                            and not ambience['event']['is_cancelled'])),
                                        label=gettext("Create past event after archiving."), defaultvalue='True') }}
                                {{ util.ack_delete(gettext("The event will be permanently archived."), "ack_archive") }}
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="text-muted">
                            {% trans %}
                                Archives the event. This creates a new “Past Event” in the CdE-Realm and transfers
                                course and participant information there.
                            {% endtrans %}
                        </p>
                    </div>
                </div>
                {% endif %}
                <div class="row" id="delete-event">
                    <div class="col-sm-4">
                        <div class="p">
                            <form action="{{ cdedblink('event/delete_event') }}" method="POST" id="deleteeventform"
                                  style="display: inline;">
                                {{ util.anti_csrf_token('event/delete_event') }}
                                {{ util.input_submit(label=gettext("Delete"), readonly=(is_locked or ambience['event']['end'] >= now().date()),
                                                     aclass="btn btn-danger", icon="trash-alt",
                                                     title=gettext("Event is not concluded yet.") if ambience['event']['end'] >= now().date() else "") }}
                                {{ util.ack_delete(gettext("The event will be permanently deleted.")) }}
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="p text-muted">
                            {% trans %}
                                Deletes the event, including all course and participant information.
                                This should usually not be done before the event has been archived and fully concluded.
                            {% endtrans %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if "finance" in user.admin_views %}
                <div class="row" id="balance-event">
                    <div class="col-sm-4">
                        <div class="p">
                            {% if not ambience['event'].is_balanced %}
                                <form action="{{ cdedblink('event/balance_event') }}" method="POST" id="balanceeventform"
                                      style="display: inline;">
                                    {{ util.anti_csrf_token('event/balance_event') }}
                                    {{ util.input_submit(label=gettext("Balance Event"), readonly=is_locked,
                                                         aclass="btn btn-primary btn-wrap", icon="balance-scale") }}
                                </form>
                            {% else %}
                                <form action="{{ cdedblink('event/unbalance_event') }}" method="POST" id="unbalanceeventform"
                                      style="display: inline;">
                                    {{ util.anti_csrf_token('event/unbalance_event') }}
                                    {{ util.input_submit(label=gettext("Unbalance Event"), readonly=is_locked,
                                                         aclass="btn btn-danger btn-wrap", icon="balance-scale") }}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="text-muted">
                            {% if not ambience['event'].is_balanced %}
                                {% trans %}
                                    Marks the event as balanced. Prevents changes to financial configuration and payment data. Is reversible.
                                {% endtrans %}
                            {% else %}
                                {% trans %}
                                    Marks the event as not balanced. Reallows changes to financial configuration and payment data.
                                {% endtrans %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}
