<<% extends "tex/de/event/base_article.tmpl" %>>
<<% block extra_preamble %>>
    \usepackage{wrapfig}
    \parindent 0pt\relax
    \pagestyle{empty}
<<% endblock %>>
<<% block content %>>
    <<% for course_id, course in courses|dictsort %>>
        <<% for track_id in course['active_segments']|sort %>>
            \begin{wrapfigure}{r}{3.1cm}
                \vspace{-2\baselineskip}
                \begin{center}
                    \includegraphics[keepaspectratio=true, width=3cm,height=3cm]{./logo-<<< course_id|te >>>}
                \end{center}
                \vspace{-2\baselineskip}
            \end{wrapfigure}
            \section*{<<< course['title']|te >>> (<<< ambience['event']['tracks'][track_id]['title']|te >>>)}
            \begin{itemize}
                <<% for registration_id in attendees[(course_id, track_id)] %>>
                    \item
                        <<% if (registrations[registration_id]['tracks'][track_id]['course_instructor']
                                == course_id) %>>
                            \emph{%
                                <<< personas[registrations[registration_id]['persona_id']]['given_names']|te >>>
                                <<< personas[registrations[registration_id]['persona_id']]['family_name']|te >>>
                            }
                        <<% else %>>
                            <<< personas[registrations[registration_id]['persona_id']]['given_names']|te >>>
                            <<< personas[registrations[registration_id]['persona_id']]['family_name']|te >>>
                        <<% endif %>>
                <<% else %>>
                    \item niemand
                <<% endfor %>>
            \end{itemize}
            \clearpage
        <<% endfor %>>
    <<% endfor %>>
<<% endblock %>>
