<<% extends "tex/de/event/base_article.tmpl" %>>
<<% block extra_preamble %>>
    \parindent 0pt\relax
    \newcommand\lodgement[5]{
        \section*{#1 (#2)}
        Kapazität: #3
        \par
        Reserve: #4
        \par
        Notizen: #5
        \par
        \vspace{.5cm}
        \hrule
        }
    \newcommand\participant[6]{
        \section*{#1 (#2)}
        #3 #4 #5~\par
        #6
        \vspace{.5cm}
        \hrule}
<<% endblock %>>
<<% block content %>>
    <<% for lodgement_id, ldata in lodgement_data|dictsort %>>
        <<% for part_id, pdata in event_data['parts']|dictsort %>>
            \lodgement{<<< ldata['moniker']|te >>>}{<<< pdata['title']|te >>>}{<<< ldata['capacity']|te >>>}%
                      {<<< ldata['reserve']|te >>>}{<<< ldata['notes']|te >>>}
        <<% endfor %>>
    <<% endfor %>>
    \clearpage
    <<% for registration_id, rdata in registration_data|dictsort %>>
        <<% for part_id, pdata in event_data['parts']|dictsort %>>
            <<% if enums['RegistrationPartStati'](rdata['parts'][part_id]['status']).is_present() %>>
                \participant{<<< user_data[rdata['persona_id']]['given_names']|te >>>
                             <<< user_data[rdata['persona_id']]['family_name']|te >>>}%
                    {<<< pdata['title']|te >>>%
                     <<% if rdata['parts'][part_id]['status'] == enums['RegistrationPartStati'].guest -%>>
                        ~[Gast]
                     <<%- endif %>>; <<< user_data[rdata['persona_id']]['birthday'].year|te >>>}%
                    {<<% if not rdata['mixed_lodging'] %>>getrennt<<% endif %>>}%
                    {<<% if rdata['age'] == enums['AgeClasses'].u16 %>>U18<<% endif -%>>
                     <<% if rdata['age'] == enums['AgeClasses'].u16 %>>U16<<% endif -%>>
                     <<% if rdata['age'] == enums['AgeClasses'].u14 %>>U14<<% endif -%>>}%
                    {<<% if may_reserve_present and rdata['field_data'].get('may_reserve') -%>>
                        Reserveplatz
                     <<%- endif %>>}%
                    {<<% if lodge_present and rdata['field_data'].get('lodge') -%>>
                        Wunsch: <<< rdata['field_data'].get('lodge')|te >>>\par
                     <<% endif -%>>}
            <<% endif %>>
        <<% endfor %>>
    <<% endfor %>>
<<% endblock %>>
