body{
    margin: 0px;
}

#footer {
    margin-top: 20px;
    font-size: 85%;
    color: #777;
    text-align: center;
}

/* Bootstrap enhancements */
.input-error-block {
    display: block;
    color: #a94442;
}

/* wide layout */
@media (min-width: 1200px) {
    body.wide .container{
        width: auto;
    }
    body.wide .row-wide {
        white-space: nowrap;
    }
    body.wide .col-wide-3 {
        width: 262px;
    }
    body.wide .col-wide-auto {
        width: auto;
    }
    body.wide .col-wide-3, body.wide .col-wide-auto {
        float: none;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }
}


/* Helper classes */
.float-along {
    display: block;
    overflow: hidden;
}
.pull-right-responsive {
    float: right;
    margin-left: 20px;
}
@media (max-width: 768px) {
    .pull-right-responsive {
        float: none;
        margin-left: 0;
    }
}
.pull-right-responsive {

}

/* Extra styling */
.heading-underline {
    padding-bottom: 2px;
    border-bottom: solid 1px #ddd;
}
.profilepic {
    max-width: 150px;
}
