body{
    margin: 0px;
}

#footer {
    margin-top: 20px;
    font-size: 85%;
    color: #777;
    text-align: center;
}

/* ********************** *
 * Bootstrap enhancements *
 * ********************** */
.input-error-block {
    display: block;
    color: #a94442;
}

/* Main navbar */
.navbar {
    border-radius: 0;
    border-style: solid none;
    margin-bottom: 10px;
}
.navbar-form .navbar-text {
    margin: 7px 15px;
}
.navbar-collapse.collapse .navbar-form .navbar-text, .navbar-collapse.collapsing .navbar-form .navbar-text {
    display: inline-block;
}
@media (max-width: 767px) {
    .navbar-form {
        margin-right: 0;
    }
}
.navbar-collapse-header {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}
@media (min-width: 768px) {
    .navbar-collapse-header {
        display: none;
    }
}

/* wide layout */
@media (min-width: 1200px) {
    body.wide .container{
        width: auto;
    }
    body.wide .row-wide {
        white-space: nowrap;
    }
    body.wide .col-wide-3 {
        width: 262px;
    }
    body.wide .col-wide-auto {
        width: auto;
    }
    body.wide .col-wide-3, body.wide .col-wide-auto {
        float: none;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }
}

/* Title header and breadcrumb bar */
h1.title {
}
.breadcrumb-small {
    background: none;
    margin: 0 0 -20px 0;
    padding: 4px 0;
    font-size: 0.9em;
}

/* Helper classes */
.float-along {
    display: block;
    overflow: hidden;
}
.pull-right-responsive {
    float: right;
    margin-left: 20px;
}
@media (max-width: 768px) {
    .pull-right-responsive {
        float: none;
        margin-left: 0;
    }
}
p.textbox {
    padding: 4px 6px;
    border: dashed 1px #888;
    font-style: italic;
}

/* Extra styling */
.heading-underline {
    padding-bottom: 2px;
    border-bottom: solid 1px #ddd;
}
.profilepic {
    max-width: 150px;
}
