{% set sidenav_active='cde_past_events' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% set jshint='weak' %}
{% block title %}
    {% trans pevent=ambience['pevent']['title'] %}
        Create Course ({{ pevent }})
    {% endtrans %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/list_past_events"), gettext("Past Events")) }}
{{ util.breadcrumb_link(cdedblink("cde/show_past_event", {"pevent_id": ambience['pevent']['id']}),
        ambience['pevent']['title'], icon="calendar-alt") }}
{{ util.breadcrumb_link(cdedblink("cde/create_past_course", {"pevent_id": ambience['pevent']['id']}),
        gettext("Create Course"), active=True) }}
{% endblock %}

{% block heading %}
    {{ util.context_heading(gettext("Add Course"), ambience['pevent']['title'],
                            'calendar-alt', gettext("Past Event")) }}
{% endblock %}

{% block content %}
    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#createcourseform').cdedbProtectChanges();
        });
    </script>
    <form action="{{ cdedblink('cde/create_past_course') }}" method="POST" id="createcourseform"
            class="form-horizontal">
        {{ util.anti_csrf_token('cde/create_past_course') }}
        {{ util.form_input_text(name="nr", label=gettext("Number")) }}
        {{ util.form_input_text(name="title", label=gettext("Title_[[name of an entity]]")) }}
        {{ util.form_input_textarea(name="description", label=gettext("Description"), rows="5", markdown=True) }}
        {{ util.form_input_static(aclass='text-info', icon='info-circle',
                          value=gettext("Warning: The new Course will be immediately visible to all CdE members "
                                        "viewing this past event.")) }}
        {{ util.form_input_submit(label=gettext("Create"), cancellink=cdedblink("cde/show_past_event")) }}
    </form>
{% endblock %}
