\BLOCK{ extends "tex/cde/base_letter.tmpl" }
\BLOCK{ block extra_preamble }
    \usepackage{url}

    \makeatletter
    \def\@mysignature{%
        \begin{tabular}{lll}
        \makebox[3cm]{\dotfill} & \makebox[6cm]{\dotfill} &
            \BLOCK{ if not data["not_minor"] == True }\makebox[6cm]{\dotfill} \BLOCK{ endif } \\
        Ort, Datum & Unterschrift & \BLOCK{ if not data["not_minor"] == True }\emph{bei Minderjährigen:}\BLOCK{ endif }\\
         & & \BLOCK{ if not data["not_minor"] == True }Unterschrift Erziehungsberechtigte/-r\BLOCK{ endif }\\
        \end{tabular}}
    \setkomavar{signature}{\@mysignature}
    \makeatother
    \setkomavar{subject}{SEPA-Lastschriftmandat}
    \setkomavar{firstfoot}{}
    \setkomavar{firsthead}{}

    \def\subsection#1{\bigskip\noindent\textbf{\large #1}\smallskip}
    \usepackage{parskip}
        \parskip = 10pt
\BLOCK{ endblock }
\BLOCK{ block backaddress_oneline }
    \BLOCK{ if data["full_name"] and data["address"] and data["postal_code"] and data["location"] }
        <<< "{}, {} {}, {} {} {}".format(data["full_name"], data["address_supplement"],
                                      data["address"], data["postal_code"], data["location"], data["country"])|te >>>
    \BLOCK{ else }
        \makebox[10cm]{}
    \BLOCK{ endif }
\BLOCK{ endblock }
\BLOCK{ block content }
    \begin{letter}{Club der Ehemaligen e.\,V.\\
                   c/o \VAR{ meta_info['Finanzvorstand_Name']|te  }
                   \BLOCK{ for i in ("2", "3", "4") -}
                       \BLOCK{ if meta_info['Finanzvorstand_Adresse_Zeile{}'.format(i)] -}
                           \\ \VAR{ meta_info['Finanzvorstand_Adresse_Zeile{}'.format(i)]|te }
                       \BLOCK{ endif -}
                   \BLOCK{ endfor }}

        \opening{}

        \begin{tabular}{ll}
            Name &
                \BLOCK{ if data["full_name"] }
                    \VAR{ data["full_name"]|te }\\
                \BLOCK{ else }
                    \makebox[10cm]{\dotfill}\\
                \BLOCK{ endif }
            Adresszusatz &
                \BLOCK{ if data["address_supplement"] }
                    \VAR{ data["address_supplement"]|te }\\
                \BLOCK{ else }
                    \makebox[10cm]{\dotfill}\\
                \BLOCK{ endif }
            Straße &
                \BLOCK{ if data["address"] }
                    \VAR{ data["address"]|te }\\
                \BLOCK{ else }
                    \makebox[10cm]{\dotfill}\\
                \BLOCK{ endif }
            PLZ, Ort &
                \BLOCK{ if data["postal_code"] and data["location"] }
                    \VAR{ "{} {}".format(data["postal_code"], data["location"])|te }\\
                \BLOCK{ else }
                    \makebox[10cm]{\dotfill}\\
                \BLOCK{ endif }
            Land &
                \BLOCK{ if data["country"] }
                    \VAR{ data["country"]|te }\\
                \BLOCK{ else }
                    \makebox[10cm]{\dotfill}\\
                \BLOCK{ endif }
            E-Mail &
                \BLOCK{ if data["username"] }
                    \VAR{ data["username"]|te }\\
                \BLOCK{ else }
                    \makebox[10cm]{\dotfill}\\
                \BLOCK{ endif }
            Datenbank-ID &
                \BLOCK{ if data["db_id"] }
                    \VAR{ data["db_id"]|cdedbid|te }\\
                \BLOCK{ else }
                    \makebox[10cm]{\dotfill}\\
                \BLOCK{ endif }
            Kontoinhaber (falls abweichend) &
                \BLOCK{ if data["account_holder"] }
                    \VAR{ data["acount_holder"]|te }\\
                \BLOCK{ else }
                    \makebox[10cm]{\dotfill}\\
                \BLOCK{ endif }
            IBAN &
                \BLOCK{ if data["iban"] }
                    \VAR{ data["iban"]|iban|te }\\
                \BLOCK{ else }
                    \makebox[10cm]{\dotfill}\\
                \BLOCK{ endif }
        \end{tabular}

        \emph{SEPA-Lastschriftmandat:} Hiermit ermächtige ich den Club der Ehemaligen der Deutschen SchülerAkademien
        e.\,V., von meinem oben angegebenem Konto mittels Lastschrift jährlich
        \begin{center}
            \BLOCK{ if data["amount"] }
                \VAR{ data["amount"]|money|te }
            \BLOCK{ else }
                \makebox[4cm]{\dotfill}€ (mindestens 25\,€)
            \BLOCK{ endif }
        \end{center}
        einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von dem Club der Ehemaligen der Deutschen
        SchülerAkademien e.\,V.  gezogenen Lastschriften einzulösen.

        \emph{Hinweis:} Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des
        belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen. Die
        Mandatsreferenz wird separat mitgeteilt.

        \enlargethispage*{5cm}

        Von dem eingezogenen Betrag wird der jeweils geltende jährliche Mitgliedsbeitrag (derzeit 5\,€) beglichen. Der
        verbleibende Betrag ist eine Spende an den CdE e.\,V.  Der CdE e.\,V. beabsichtigt, mit einem Teil der so
        eingehenden Mittel die Organisation, Betreuung und Durchführung von Deutschen SchülerAkademien durch Bildung
        \& Begabung gem. GmbH, Bonn, zu unterstützen.

        \closing{}

        \ps\newpage

        \subsection{Initiative 25+}

        Sofern Du die Erlaubnis dazu erteilst, zieht der CdE in Zukunft jährlich 25\,€ oder einen beliebigen höheren
        Betrag als Lastschrift von Deinem Konto ein: 25+ eben.

        Mit diesen mindestens 25\,€ wird zunächst der -- jeweils aktuelle -- Mitgliedsbeitrag für ein Jahr verrechnet,
        derzeit also 5\,€. Der Restbetrag kommt dem CdE e.\,V. als Spende zugute. Im Rahmen der Vereinsarbeit soll
        darauf geachtet werden, dass in etwa 40 bis 50 Prozent davon der Deutschen SchülerAkademie gespendet oder für eine
        sonstige Unterstützung der "`Idee SchülerAkademie"' verwendet werden.

        \subsection{Wofür benötigt der CdE Spenden?}

        Die Pfingst-, Sommer-, Winter- und Multinationale Akademie werden durch Spenden bezuschusst. Dadurch sinken ihre
        Teilnahmebeiträge, was allen Teilnehmern zugute kommt. Seit 2013 unterstützen wir auch einige kleinere
        Veranstaltungen mit einem Teil der eingegangen Spenden, darunter das CdE-Seminar, die Familien\-Akademie und das
        Studieninformationswochenende.

        \subsection{Die SchülerAkademie fördern}

        Mit der \emph{Initiative 25+} soll außerdem ein Beschluss der Mitgliederversammlung 2008 umgesetzt und von nun
        an die "`Idee SchülerAkademie"' auch finanziell unterstützt werden.  Dazu darf der CdE einen Teil der auf diesem
        Weg erhaltenen Spenden an Bildung \& Begabung gem. GmbH weiterreichen oder aber auf anderem Wege die
        SchülerAkademien fördern.

        \subsection{Fragen?}

        Bei Fragen wende Dich bitte an \url{verwaltung@cde-ev.de}.  Herzlichen Dank für Deine Unterstützung des CdE
        e.\,V.!

        \thispagestyle{empty}
    \end{letter}
\BLOCK{ endblock }
