Hallo liebe Moderatoren,

für die Mailingliste "{{ ml['title'] }}" gibt es derzeit {{ count_all }}
offene Abonnement-Anfragen, davon {{ count_new }} Neue.
Bitte schaut demnächst mal unter [1] vorbei, um sie zu bearbeiten.


Die Datenbank

[1] {{ cdedblink('ml/management', {'mailinglist_id': ml['id']}) }}
