{% set sidenav_active='cde_semester' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% block scripts %}
    {{ util.cdedb_script('cdedb_queryform.js') }}
    {{ util.cdedb_script('cdedb_helper.js') }}
{% endblock %}
{% set jshint = 'weak' %}
{% block title %}{% trans %}Semester Management{% endtrans %}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ util.breadcrumb_link(cdedblink("cde/show_semester"), gettext("Semester Management"), active="True") }}
{% endblock %}
{% block content %}
    <p class="text-danger">
        {% trans %}
            The actions on this site affect all Members, therefore they are
            basically irreversible. Only use them, if You are absolutely sure
            what You are doing.
        {% endtrans %}
    </p>

    <h2>{% trans %}CdE-Semester{% endtrans %}</h2>

    <p id="current-semester">
        {% trans number="<span class='label label-default'>%s</span>"|s|format(period['id']) %}
            We are currently in Semester {{ number }}.
        {% endtrans %}
    </p>

    <script nonce="{{ csp_nonce }}">
        $(function() {
            $('#billform').cdedbProtectAction(
                "{{ gettext("Payment Requests will be sent.") }}",
                function() {
                    return $(this).find('[name="testrun"]').prop('checked');
                });
            $('#ejectform').cdedbProtectAction(
                "{{ gettext("All inactive Members will be removed. This cannot be undone and it can only be done once per Semester.") }}");
            $('#balanceform').cdedbProtectAction(
                "{{ gettext("The Balance of all Members will be updated. This cannot be undone.") }}");
            $('#addresscheckform').cdedbProtectAction(
                "{{ gettext("Address-Check-Mails will be sent.") }}",
                function() {
                    return $(this).find('[name="testrun"]').prop('checked');
                });
            $('#proceedexpulsform').cdedbProtectAction(
                "{{ gettext("The new exPuls-Semester will be created.") }}");
        });
    </script>

    <div class="row">
        {% set in_step_1 = "advance" in allowed_semester_steps or "billing" in allowed_semester_steps or "archival_notification" in allowed_semester_steps %}
        {% set during_step_1 = period["billing_state"] or period["archival_notification_state"] %}
        <div class="col-md-12">
            <div id="payment-request" class="panel {% if in_step_1 %}panel-primary{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.01./01.07.)</span>
                    <h4 class="panel-title">{% trans %}Send Payment Requests & Archival Notification{% endtrans %}</h4>
                </div>
                <div class="row panel-body">
                    <div class="col-md-8">
                        <p>
                            {% trans lastschriften=util.href(cdedblink('cde/lastschrift_index'), gettext("Direct Debits"),
                                                    readonly="finance" not in user.admin_views) %}
                                The payment request is sent to all members.
                                You may also include the semiannual address check in this mail.
                                Make sure to initialize the {{ lastschriften }} after this.
                            {% endtrans %}
                        </p>
                        <p>
                            {% trans %}
                                The archival notification is sent to all users which will be automatically archived.
                                Those are all users which were not active for the last two years.
                            {% endtrans %}
                        </p>
                    </div>
                    <div class="col-md-4">
                    {% if in_step_1 %}
                        {% if during_step_1 %}
                            <p>
                                {% trans state=(period['billing_state'] or period['archival_notification_state'])|cdedbid %}
                                    Done up until {{ state }}.
                                {% endtrans %}
                                <br />
                                {% trans count=period['billing_count'] %}
                                    {{ count }} billing emails have been sent so far.
                                {% endtrans %}
                                <br />
                                {% trans count=period['archival_notification_count'] %}
                                    {{ count }} archival emails have been sent so far.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_bill') }}" method="POST" id="billform"
                                class="strip-space">
                            {{ util.anti_csrf_token('cde/semester_bill') }}
                            <div class="checkbox">
                                {{ util.input_checkbox("testrun", label=gettext("Only one Test-Mail"),
                                    readonly="finance" not in user.admin_views) }}
                            </div>
                            <div class="checkbox">
                                {{ util.input_checkbox("addresscheck", label=gettext("Include Address-Check"),
                                    readonly="finance" not in user.admin_views) }}
                            </div>
                            {{ util.input_submit(label=gettext("Send Mails"), icon="paper-plane", readonly="finance" not in user.admin_views,
                                aclass="btn btn-default" if during_step_1 else "btn btn-primary") }}
                        </form>
                    {% else %}
                        <span class="text-success">
                            {% trans date=period['billing_done']|datetime(lang=lang) %}
                                Done on the {{ date }}.
                            {% endtrans %}
                            <br />
                            {% trans count=period['billing_count'] %}
                                {{ count }} billing emails were sent.
                            {% endtrans %}
                            <br />
                            {% trans count=period['archival_notification_count'] %}
                                {{ count }} archival emails were sent.
                            {% endtrans %}
                        </span>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% set in_step_2 = "ejection" in allowed_semester_steps or "automated_archival" in allowed_semester_steps %}
        {% set during_step_2 = period['ejection_state'] or period['archival_state'] %}
        <div class="col-md-12">
            <div id="eject-members" class="panel {% if in_step_2 %}panel-primary{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(01.02./01.08.)</span>
                    <h4 class="panel-title">{% trans %}Remove inactive Members & Perform Automatic Archival{% endtrans %}</h4>
                </div>
                <div class="row panel-body">
                    <div class="col-md-8">
                        <p>
                            {% trans lastschriften=util.href(cdedblink('cde/lastschrift_index'), gettext("Direct Debits"),
                                                    readonly="finance" not in user.admin_views) %}
                                Eject all members whose balance is lower than the membership fee and who are not a trial member.
                                Make sure to finalize all pending {{ lastschriften }} beforehand.
                            {% endtrans %}
                        </p>
                        <p>
                            {% trans %}
                                Archive all users who received an archival notification in the previous step and took
                                no measurements against this.
                            {% endtrans %}
                        </p>
                    </div>
                    <div class="col-md-4">
                    {% if in_step_2 %}
                        {% if during_step_2 %}
                            <p>
                                {% trans state=(period['ejection_state'] or period['archival_state'])|cdedbid %}
                                    Done up until {{ state }}.
                                {% endtrans %}
                                <br />
                                {% trans count=period['ejection_count'] %}
                                    {{ count }} memberships have been ended so far.
                                {% endtrans %}
                                <br />
                                {% trans count=period['archival_count'] %}
                                    {{ count }} accounts have been archived so far.
                                {% endtrans %}
                            </p>
                        {% else %}
                            <p>
                                {% trans low_count=stats['low_balance_members'] %}
                                    {{ low_count }} members with insufficient balance.
                                {% endtrans %}
                                <br />
                                <span {% if stats['lastschrift_low_balance_members'] > 0 %} class="text-danger" {% endif %}>
                                    {% trans low_last_count=stats['lastschrift_low_balance_members'] %}
                                        {{ low_last_count }} of these with a lastschrift.
                                    {% endtrans %}
                                </span>
                                <br />
                                {% trans trial_count=stats['trial_members'] %}
                                    Additionally, we have {{ trial_count }} trial members.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_eject') }}" method="POST" id="ejectform">
                            {{ util.anti_csrf_token('cde/semester_eject') }}
                            {{ util.input_submit(label=gettext("Process Accounts"), readonly="finance" not in user.admin_views,
                                aclass="btn btn-default" if during_step_2 else "btn btn-primary") }}
                        </form>
                    {% elif in_step_1 %}
                        <span class="text-muted">{% trans %}To be done later.{% endtrans %}</span>
                    {% else %}
                        <span class="text-success">
                            {% trans date=period['ejection_done']|datetime(lang=lang) %}
                                Done on the {{ date }}.
                            {% endtrans %}
                            <br />
                            {% trans count=period['ejection_count'] %}
                                {{ count }} memberships were ended.
                            {% endtrans %}
                            <br />
                            {% trans count=period['archival_count'] %}
                                {{ count }} accounts were archived.
                            {% endtrans %}
                        </span>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% set in_step_3 = "balance" in allowed_semester_steps %}
        {% set during_step_3 = period['balance_state'] %}
        <div class="col-md-12">
            <div id="balance-update" class="panel {% if in_step_3 %}panel-primary{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    <span class="pull-right">(15.02./15.08.)</span>
                    <h4 class="panel-title">{% trans %}Update Balances{% endtrans %}</h4>
                </div>
                <div class="row panel-body">
                    <div class="col-md-8">
                        <p>
                            {% trans %}
                                Subtract the membership fee from all members. Trial members lose their trial membership
                                instead and are normal members afterwards.
                            {% endtrans %}
                        </p>
                        <p>
                            {% trans %}
                                Remove the remaining balance from all non-members, since losing your membership leaves your
                                balance untouched.
                            {% endtrans %}
                        </p>
                    </div>
                    <div class="col-md-4">
                    {% if in_step_1 or in_step_2 %}
                        <span class="text-muted">{% trans %}To be done later.{% endtrans %}</span>
                    {% elif in_step_3 %}
                        {% if during_step_3 %}
                            <p>
                                {% trans state=period['balance_state'] %}
                                    Done up until {{ state }}.
                                {% endtrans %}
                                <br />
                                {% trans total=period['balance_total']|money(lang=lang) %}
                                    A total of {{ total }} has been deducted so far.
                                {% endtrans %}
                                <br />
                                {% trans count=period['balance_trialmembers'] %}
                                    {{ count }} trial meberships have been ended so far.
                                {% endtrans %}
                            </p>
                        {% else %}
                            <p>
                                {% trans total_count=stats['total_members'] %}
                                    {{ total_count }} Members in total.
                                {% endtrans %}
                                <br />
                                {% trans trial_count=stats['trial_members'] %}
                                    {{ trial_count }} of these are trial members.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/semester_balance_update') }}" method="POST" id="balanceform">
                            {{ util.anti_csrf_token('cde/semester_balance_update') }}
                            {{ util.input_submit(label=gettext("Update Balances"), readonly="finance" not in user.admin_views,
                                aclass="btn btn-default" if during_step_3 else "btn btn-primary") }}
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 style="display: inline-block">{% trans %}Semester History{% endtrans %}</h2>
    <button type="button" class="btn btn-sm btn-trigger-wide" title="{% trans %}widen semester history{% endtrans %}">
                {{ util.make_icon('arrows-alt-h') }}
    </button>
    <table id="period-history" class="table" style="background: #fff">
        <thead>
            <tr>
                <th>{% trans %}Semester{% endtrans %}</th>
                <th>{% trans %}Billing Mails Sent{% endtrans %}</th>
                <th>{% trans %}Billing Done{% endtrans %}</th>
                <th>{% trans %}Archival Notifications Sent{% endtrans %}</th>
                <th>{% trans %}Archival Notifications Done{% endtrans %}</th>
                <th>{% trans %}Members Ejected{% endtrans %}</th>
                <th>{% trans %}Ejection Balance{% endtrans %}</th>
                <th>{% trans %}Ejection Done{% endtrans %}</th>
                <th>{% trans %}Accounts Archived{% endtrans %}</th>
                <th>{% trans %}Automated Archival Done{% endtrans %}</th>
                <th>{% trans %}Balance of Exmembers{% endtrans %}</th>
                <th>{% trans %}Affected Exmembers{% endtrans %}</th>
                <th>{% trans %}Trial Memberships Ended{% endtrans %}</th>
                <th>{% trans %}Balance Deducted{% endtrans %}</th>
                <th>{% trans %}Balance Update Done{% endtrans %}</th>
                <th>{% trans %}Semester Done{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for period_id, period in period_history|dictsort %}
                <tr>
                    <td>{{ period['id'] }}</td>
                    <td>{{ period['billing_count'] }}</td>
                    <td>{{ period['billing_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['archival_notification_count'] }}</td>
                    <td>{{ period['archival_notification_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['ejection_count'] }}</td>
                    <td>{{ period['ejection_balance']|money(lang=lang) }}</td>
                    <td>{{ period['ejection_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['archival_count'] }}</td>
                    <td>{{ period['archival_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['exmember_balance']|money(lang=lang) }}</td>
                    <td>{{ period['exmember_count'] }}</td>
                    <td>{{ period['balance_trialmembers'] }}</td>
                    <td>{{ period['balance_total']|money(lang=lang) }}</td>
                    <td>{{ period['balance_done']|datetime(lang=lang) }}</td>
                    <td>{{ period['semester_done']|datetime(lang=lang) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script nonce="{{ csp_nonce }}">
        $(function(){
            $('#period-history').cdedbMoveToWidePage($('.btn-trigger-wide'));
        });
    </script>

    <hr>

    <h2>{% trans %}exPuls-Semester{% endtrans %}</h2>

    <p id="expuls-number">
        {% trans number="<span class='label label-default'>%s</span>"|s|format(expuls['id']) %}
            The next exPuls will be number {{ number }}.
        {% endtrans %}
    </p>

    <div class="row">
        <div class="col-md-6" id="expuls-address">
            <div class="panel {% if expuls['addresscheck_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <h4 class="panel-title">{% trans %}Send Address-Checks{% endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if expuls['addresscheck_done'] %}
                        <span class="text-success">
                            {% trans date=expuls['addresscheck_done']|datetime(lang=lang), count=expuls['addresscheck_count'] %}
                                Done on the {{ date }}. {{ count }} emails were sent.
                            {% endtrans %}
                        </span>
                    {% else %}
                        {% if expuls['addresscheck_state'] %}
                            <p>
                                {% trans state=expuls['addresscheck_state']|cdedbid, count=expuls['addresscheck_count'] %}
                                    Done up until {{ state }}. {{ count }} emails have been sent so far.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        <form action="{{ cdedblink('cde/expuls_addresscheck') }}" method="POST" id="addresscheckform"
                                class="strip-space">
                            {{ util.anti_csrf_token('cde/expuls_addresscheck') }}
                            <div class="checkbox">
                                {{ util.input_checkbox("testrun", label=gettext("Only one Test-Mail"),
                                    readonly="finance" not in user.admin_views) }}
                            </div>
                            <div class="form-group">
                            {{ util.input_submit(label=gettext("Send Mails"), icon="paper-plane",
                                readonly="finance" not in user.admin_views) }}
                            </div>
                        </form>
                        <form action="{{ cdedblink('cde/expuls_addresscheck') }}" method="POST"
                          id="noaddresscheckform">
                            {{ util.anti_csrf_token('cde/expuls_addresscheck') }}
                            {{ util.input_hidden("skip", value=True) }}
                            {{ util.input_submit(label=gettext("Mark as done"), aclass="btn btn-warning",
                                    icon="check-square", readonly="finance" not in user.admin_views) }}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6" id="expuls-next">
            <div class="panel {% if not expuls['addresscheck_done'] %}panel-default{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    <h4 class="panel-title">{% trans %}Next exPuls{% endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% if expuls['addresscheck_done'] %}
                        <form action="{{ cdedblink('cde/expuls_advance') }}" method="POST" id="proceedexpulsform">
                            {{ util.anti_csrf_token('cde/expuls_advance') }}
                            {{ util.input_submit(label=gettext("Next exPuls"), readonly="finance" not in user.admin_views) }}
                        </form>
                    {% else %}
                        <span class="text-muted">{% trans %}To be done later.{% endtrans %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <h2>{% trans %}exPuls History{% endtrans %}</h2>
    <table id="expuls-history" class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans %}Issue{% endtrans %}</th>
                <th>{% trans %}Addresscheck Mails Sent{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for expuls_id, expuls in expuls_history|dictsort %}
                <tr>
                    <td>{{ expuls['id'] }}</td>
                    <td>{{ expuls['addresscheck_count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
