Liebes Orgateam,

eure Veranstaltung liegt zwar gerade einmal zur Hälfte hinter euch [1], womit wir die Zeit jedoch für günstig halten, euch auf einige Aufgaben hinzuweisen, die ihr vor der Abreise noch erledigen solltet. Die nächsten Orgateams werden euch für eine gut gepflegte Inventarliste und aktuelle Informationen im Akademieleitfaden dankbar sein. ;)


=== Inventur und Material ===

Falls ihr in Kirchheim oder Oberwesel seid: Inventarisiert das Material am Ende der Akademie!

Beachtet dabei bitte folgendes:
* Inventarisieren ist in der Regel aufwendig und kann ein ganzes Orgateam einen vollen Tag lang beschäftigen.
* Bitte aktualisiert das Inventar direkt im Akademieleitfaden (nicht von vorne neu beginnen, keine Kopie des aktuellen Inventars anlegen, nicht nur auf Zetteln vor Ort) [2]
* Bitte behaltet die Sortierung des Inventars und die Struktur der Liste bei, v.a. in Oberwesel [3]
* Bitte beachtet auch die Hinweise auf der jeweiligen Inventar-Seite zu Sortierung und Beschriftung der Kisten
    * Kirchheim: https://wiki.cde-ev.de/dokuwiki/doku.php?id=akademieleitfaden:akademietypen:kirchheim:allgemein:inventar
    * Oberwesel: https://wiki.cde-ev.de/dokuwiki/doku.php?id=akademieleitfaden:akademietypen:winterakademie:inventar
* Überlegt euch, ob ihr mehr Kisten braucht oder ob noch genug Reservekisten im Lager sind [4]
    * Kisten: https://wiki.cde-ev.de/dokuwiki/doku.php?id=akademieleitfaden:allgemeines:material:kisten

Falls ihr *nicht* in Kirchheim oder Oberwesel seid: Habt ihr "nicht-mobiles" Material von einem anderen CdE-Standort?
* Falls nein: Ignoriert diesen Abschnitt der E-Mail
* Falls ja:
    * Bitte organisiert, dass es dorthin zurückkommt, wo es herkommt.
    * Überprüft noch mal, dass auf der Inventar-Seite des Herkunfts-Standorts vermerkt ist, dass ihr das Material hattet.

Manche Inventargegenstände, insbesondere Beamer, besuchen im Laufe des Jahres verschiedene CdE-Veranstaltungen ("mobiles Inventar"). Damit dieses Material auch zur nächsten Veranstaltung kommt, die es benötigt, verschafft ihr euch spätestens am Tag vor der TN-Abreise einen Überblick über die nächsten Veranstaltungen und klärt mit den jeweiligen Orgas ab, welches Material sie brauchen und wie es sie erreicht (dafür bietet sich unter Umständen ein "Material-Mittagessen" mit den entsprechenden Personen an).

Siehe auch: https://wiki.cde-ev.de/dokuwiki/doku.php?id=akademieleitfaden:allgemeines:mobiles_inventar


=== Akademieleitfaden ===

Wenn euch bei der Organisation Fehler/fehlende Infos im Akademieleitfaden aufgefallen sind: Nutzt bitte die nächste Gelegenheit, sie nachtragen oder zumindest ein "FIXME" dort zu hinterlassen. Bei Fragen, wendet euch – wie immer – gerne an <akademien@lists.cde-ev.de>.

Insbesondere wäre es schön, wenn ihr ein paar statistische Daten (Teilnehmerzahlen, Teilnehmerbeitrag, etc.) im Akademieleitfaden hinterlegen würdet.
Die entsprechende Seite sollte auf folgender Seite verlinkt sein:
https://wiki.cde-ev.de/dokuwiki/doku.php?id=akademieleitfaden:allgemeines:statistik


=== Orgateam im nächsten Jahr ===

Da es nächstes Jahr (oder so) wieder eine Akademie [5] geben soll, die fast so gut ist, wie die, die ihr organisiert habt, solltet ihr nach Orgainteressenten dafür suchen. Einige Tage vor Ende der Akademie [6] solltet ihr entsprechend zu einem Orgaessen einladen, wo sich Teilnehmende unverbindlich über die Organisation informieren und ggf. als Team zusammenfinden können [7].

Im Optimalfall könnt ihr am Ende der Veranstaltung bereits die Mitglieder eines vorläufigen Orgateams vor Ort oder per E-Mail an das Akademieteam weitergeben. Ggf. können wir die Listen von mehreren Veranstaltungsteilen zusammenführen, auch mit anderen Interessenten, die sich vor der Veranstaltung gemeldet haben.


=== Feedbackfragen für nach der Akademie ===
Wenn ihr eine der größeren Veranstaltungen organisiert, ist das Feedbackteam bereits auf euch zugekommen und hat euch gebeten, dass ihr euch Fragen überlegt, die ihr den Teilnehmenden gerne in einer Feedbackumfrage nach der Akademie stellen möchtet. 
Am besten sammelt ihr diese bereits auf der Akademie, damit ihr nichts Wichtiges im Nachhinein vergesst.


Viele Grüße
Die Datenbank
im Auftrag des Akademieteams


[1] Wenn eure Veranstaltung aus mehreren Teilen besteht liegt jetzt die Hälfte dieses Teils hinter euch.
[2] Andernfalls gehen erfahrungsgemäß oft Informationen aus der letzten Inventur verloren oder es ist nicht mehr nachvollziehbar, welche Version aktuell ist.
[3] Darüber haben sich frühere Orgas (meistens) viele Gedanken gemacht.
[4] Erfahrungsgemäß gehen auf Akademien häufiger ein paar Kisten kaputt.
[5] bzw. Seminar, Segeln, SIW, Skifreizeit, Velbert, NRW-Anreisegruppe, oder was ihr sonst organisiert habt
[6] Erfahrungsgemäß bietet sich i.d.R. 2 Tage vor dem Abreisetag an, weil es später stressiger wird.
[7] Ausnahme: bei mehrteiligen Veranstaltungen sollten die Interessenten von allen Teilen gleichermaßen berücksichtigt werden.
