Liebes Akademieteam,

Die folgenden Personen wurden der Veranstaltung "{{ event.title }}"
durch {{ user|persona_name(include_nickname=True) }} als {{ role_str }} hinzugefügt:

{% for persona in personas %}
- {{ persona|persona_name(include_nickname=True) }}
{% endfor %}

Viele Grüße

Die Datenbank
