Liebes Akademieteam,

{{ orga['given_names'] }} {{ orga['family_name'] }} wurde von der Veranstaltung "{{ event.title }}"
durch {{ user['given_names'] }} {{ user['family_name'] }} als Orga entfernt.

Viele Grüße

Die Datenbank
