Liebes Orgateam,

eure Veranstaltung liegt jetzt wirklich hinter euch, daher ist es noch mal Zeit für eine automatisierte E-Mail von uns.


=== Inventar ===

Prüft bitte einmal nach, dass es eure aktualisierte Inventarliste in den Akademieleitfaden (und auf die korrekte Seite ;) geschafft hat. Die nächsten Orgas werden es euch danken!


=== Aktualisierung des Akademieleitfadens ===

Wenn ihr etwas Zeit habt: Schaut gerne mal über die relevanten Seiten im Akademieleitfaden und ergänzt fehlende und neue Informationen. Das ist *die* Möglichkeit für euch, Informationen, die ihr gerne für die Organisation eurer Akademie gehabt hättet, nachfolgenden Orgas zur Verfügung zu stellen. Erfahrungsgemäß solltet ihr damit nicht zu lange warten; die Erinnerungen daran verblassen erstaunlich schnell. Falls ihr nicht wisst, wo eine neue Information am besten aufgehoben ist, schreibt uns gerne an <akademien@lists.cde-ev.de>.


=== Erstattung von Teilnahmebeiträgen ===

Denkt daran, zeitnah die Erstattung der Teilnahmebeiträge von Kursleitern und Nicht-Teilnehmenden (Absagen) anzustoßen.
Beachtet dazu die entsprechende Seite im Akademieleitfaden und nehmt im Zweifel kontakt mit dem Vorstand auf.
* https://wiki.cde-ev.de/dokuwiki/doku.php?id=akademieleitfaden:allgemeines:finanzen:cde-konto#ausgaben_vom_cde-konto


=== Abrechnung Erstellen ===

Darüber hinaus müsst ihr die finanzielle Abrechnung Eurer Veranstaltung erstellen. Was genau dabei alles zu tun und zu beachten ist, verrät Euch die entsprechende Seite im Akademieleitfaden. Nehmt auch hier im Zweifel Kontakt mit dem Vorstand auf.
* https://wiki.cde-ev.de/dokuwiki/doku.php?id=akademieleitfaden:allgemeines:finanzen:abrechnung


=== Übergabe an das nächste Orgateam ===

Damit das Vereinsgedächtnis weniger kurz ist, bestimmt bitte mindestens eine Person, die auch bei den ersten 1-2 Meetings des nächsten Orgateams dabei ist.
Ziel ist, dass diejenigen dem nächsten Team für Fragen bereitstehen und so Erfahrungswerte besser weitergegeben werden können.


=== Doku-Einleitung ===

Sofern es zu eurer Veranstaltung eine Doku gibt: Die erste Seite der Doku (oder auch die ersten paar Seiten) gehört euch!
Das Dokuteam freut sich, wenn ihr eine nette Einleitung für die Doku eurer Veranstaltung schreibt. Diese kann mottobezogen oder auch ganz nüchtern sein.


=== Rechenschaftsbericht ===

Weiterhin müsst ihr einen Rechenschaftsberichtsabschnitt über eure Veranstaltung schreiben und an den Vorstand senden.
Er dient dazu, gegenüber allen Vereinsmitgliedern darzulegen, welche Projekte und Tätigkeiten im jeweiligen Jahr stattgefunden haben.
Obwohl eure Veranstaltung erst vor kurzem stattfand, wollen wir euch jetzt schonmal darauf aufmerksam machen. Wir wollen versuchen, die in der Satzung [1] festgelegte Frist zur Einreichung des Rechenschaftsberichts drei Monate nach Ende der Veranstaltung umzusetzen. Für euch wäre die Frist damit der {{ rechenschafts_deadline|date(lang="de") }}.

In eurem Bericht sollten vorkommen:
* Die Namen der Orgas
* (gern kurze) Darstellung, was im Rahmen der Orga für die Veranstaltung passiert ist
* Besonderheiten bei der Orga/Veranstaltung, wenn es solche gab
* Wenn anwendbar: Welche Kurse/Vorträge/... haben stattgefunden
* Teilnehmendenstatistik (in einer Detailtiefe, die ihr selbst bestimmen könnt, mindestens: TN und Anmeldungen)
* Einnahmen und Ausgaben im Rahmen der Veranstaltung
* Sonstiges interessantes

Als Hilfestellung könnt ihr die Rechenschaftsberichte der vergangenen Jahre, welche ihr unter https://db.cde-ev.de/db/assembly/ findet, verwenden.
Bei Rückfragen könnt ihr euch gerne an <vorstand@cde-ev.de> wenden.


Danke, dass ihr eure Veranstaltung möglich gemacht habt!
Wir hoffen, dass es euch und allen Anwesenden Spaß gemacht hat.
Wenn ihr zu irgendeinem Punkt Fragen habt, schreibt uns gern unter <akademien@lists.cde-ev.de>

Viele Grüße
Die Datenbank
im Auftrag des Akademieteams


[1] §20 Berichtspflichten
