{% set sidenav_active="violations_summary" %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic with context %}
{% block title %}
    {% trans %}Constraint Violations Summary{% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/constraint_violations_summary"), gettext("Constraint Violations")) }}
{% endblock %}
{% block heading %}
    {{ util.context_heading(gettext("Constraint Violations")) }}
{% endblock %}

{% set jshint = 'weak' %}
{% block scripts %}
    {{ super() }}
    {{ util.cdedb_script('cdedb_search_event.js') }}
    <style>
        .maybehide {
            display: none;
        }
        .maybenothide {
            display: block;
        }
        /* 1 */.event .violation-list.maybehide:not(.softhide):has( .violations:not(.softhide)),
        /* 2 */.violation-list .event.maybehide:not(.softhide):has( .violations:not(.softhide)),
        /* 3 */.event.maybehide:not(.softhide):has( .violation-list:not( .softhide)),
        /* 4 */.violation-list.maybehide:not(.softhide):has( .event:not( .softhide)):has( .violations:not(.softhide)) {
            display: block;

            & ~.maybenothide {
                display: none;
            }
        }

        /* Locally override col-sm-3 to apply to slightly smaller screen sizes. */
        @media (min-width: 650px) {
            .col-sm-3 {
                width: 25%;
                float: left;
            }
        }

    </style>
{% endblock %}

{% macro print_violation_summary_item(violations, class_name, event, min_severity, include_title=True) %}
    <li class="violations violations-{{ violations.max_severity.name }} {{ "softhide" if violations.max_severity < min_severity }}"
        data-max_severity="{{ violations.max_severity.value }}" id="event_{{ event.id }}_violations_{{ class_name }}">
        {% set link = cdedblink("event/constraint_violations", {'event_id': event.id}) + "#" + class_name %}
        {% call util.href(link, label=none, aclass=violations.max_severity.html_class(),
                          readonly=not is_privileged_for("event/constraint_violations", event_id=event.id, consider_admin_view=False)) %}
            {% for severity in enums['ViolationSeverity'] %}
                {% set filtered_violations = violations|selectattr("severity", "ge", severity)|list %}
                {% if filtered_violations %}
                    <span class="violations-only violations-only-{{ severity.name }} {{ "softhide" if severity != min_severity }}"
                          data-severity="{{ severity.value }}">
                        {% if include_title %}
                            {% trans count=filtered_violations|length, class_name=gettext(class_name), event_title=event.title %}
                                There are {{ count }} {{ class_name }} for {{ event_title }}.
                            {% endtrans %}
                        {% else %}
                            {% trans count=filtered_violations|length, class_name=gettext(class_name) %}
                                There are {{ count }} {{ class_name }}.
                            {% endtrans %}
                        {% endif %}
                    </span>
                {% endif %}
            {% endfor %}
        {% endcall %}
    </li>
{% endmacro %}

{% macro event_wrapper(event) %}
    <div id="event_{{ event.id }}" data-event_id="{{ event.id }}"
         class="event maybehide {# The existence of this comment is important! #}
            {%- if event.is_archived %} event-is-archived {% endif %}
            {%- if event.is_balanced %} event-is-balanced {% endif %}
            {%- if event.is_cancelled or now().date() >= event.end %} event-is-concluded {% endif -%}
            {%- if (event_ids and event.id not in event_ids
                    or is_archived is not none and (event.is_archived != is_archived)
                    or is_balanced is not none and (event.is_balanced != is_balanced)
                    or is_concluded is not none and ((event.is_cancelled or now().date() >= event.end)) != is_concluded) -%}
                softhide
            {%- endif -%}
        ">
        {{ caller() }}
    </div>
{% endmacro %}

{% block content %}

    {% call util.bootstrap_panel(gettext("Filter"), aclass="panel-primary", icon="filter") %}
        <form action="{{ cdedblink("event/constraint_violations_summary") }}" method="GET" id="filterconstraintsform"
            class="form-horizontal">
            {{ util.form_input_text(label=gettext("Only show these events:"), name="event_ids", anid="filter-event-ids",
                                    placeholder=gettext("<id>,<id>,…")) }}
            {{ util.form_input_select(name="min_severity", label=gettext("Minimum Violation Severity:"),
                                 anid="filter-min-severity", defaultvalue=min_severity,
                                 entries=enums['ViolationSeverity']|enum_entries(gettext)) }}
            {% set tristate_entries = [(-1, gettext("any")), (0, gettext("no")), (1, gettext("yes"))] %}
            {% set col_class = "col-sm-3" %}
            <div class="row">
                <div class="{{ col_class }}">
                    <label>
                        {% trans %}Is Archived{% endtrans %}
                        {{ util.input_checkboxes("is_archived", tristate_entries, radio=true, defaultvalue="-1") }}
                    </label>
                </div>
                <div class="{{ col_class }}">
                    <label>
                        {% trans %}Is Balanced{% endtrans %}
                        {{ util.input_checkboxes("is_balanced", tristate_entries, radio=true, defaultvalue="-1") }}
                    </label>
                </div>
                <div class="{{ col_class }}">
                    <label>
                        {% trans %}Is Concluded{% endtrans %}
                        {{ util.input_checkboxes("is_concluded", tristate_entries, radio=true, defaultvalue="-1") }}
                    </label>
                </div>
                {{ util.input_submit(label=gettext("Filter"), icon="search", aclass="btn btn-primary float-bottomright") }}
            </div>
        </form>
    {% endcall %}

    <div class="tab-container">
        <ul class="nav nav-tabs mosp softhide" role="tablist" id="violations_tablist">
            <li role="presentation" class="">
                <a data-toggle="tab" role="tab" data-target="#tab_group_by_event" id="event_tab">
                    {{ util.make_icon('chalkboard-teacher') }}{{ nbsp -}}
                    {% trans %}Group by Event{% endtrans %}
                </a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" role="tab" data-target="#tab_group_by_violation" id="violation_tab">
                    {{ util.make_icon('exclamation-circle') }}{{ nbsp -}}
                    {% trans %}Group by Violation Class{% endtrans %}
                </a>
            </li>
        </ul>
        <div class="tab-content" id="violations_tabcontent">
            <div class="tab-pane active" role="tabpanel" id="tab_group_by_event" aria-labelledby="event_tab">
                {{ util.h(gettext("Group by Event"), underline=False) }}
                {% for event in all_events.values()|sort %}
                    {% call event_wrapper(event) %}
                        {% set event_violations = violations.get(event_id=event.id) %}
                        {{ util.href(cdedblink("event/show_event", {'event_id': event.id}),
                                     label=util.h(util.make_icon("chalkboard-teacher") + nbsp + event.title, level=4)) }}
                        <div class="violation-list maybehide">
                            {% if event_violations %}
                                <ul>
                                {% for class_name, violations_ in event_violations.by_class.items() %}
                                    {{ print_violation_summary_item(violations_, class_name, event, min_severity, include_title=False) }}
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="maybenothide text-muted">
                            {% trans %}
                                There are currently no violations.
                            {% endtrans %}
                        </div>
                    {% endcall %}
                {% endfor %}
                <p class="maybenothide">
                    {% trans %}Filter matched no events.{% endtrans %}
                </p>
            </div>
            <div class="tab-pane active" role="tabpanel" id="tab_group_by_violation" aria-labelledby="violation_tab">
                {{ util.h(gettext("Group by Violation Class"), underline=False) }}
                {% for class_name, violations_ in violations.by_class.items() %}
                    <div class="violation-list maybehide">
                        {{ util.doclink_("Handbuch_Orga_Verstöße", class_name|lower) }}
                        {{ util.h(class_name, level=4) }}
                        <ul>
                        {% for event in all_events.values()|sort %}
                            {% set event_violations = violations_.get(event_id=event.id) %}
                            {% if event_violations %}
                                {% call event_wrapper(event) %}
                                    {{ print_violation_summary_item(event_violations, class_name, event, min_severity, include_title=True) }}
                                {% endcall %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                <p class="maybenothide text-muted">
                    {% trans %}There are currently no violations.{% endtrans %}
                </p>
            </div>
        </div>
    </div>
    <script nonce="{{ csp_nonce }}">
        // Prevent scroll to tab container.
        $(window).scrollTop(0);

        // Show navbar and activate first tab.
        let nav_tabs = $('.nav-tabs').show().find('a');
        nav_tabs.first().tab('show');

        // Retrieve active tab from URL hash or GET parameter.
        let get_active_tab = function () {
            return window.location.hash || new URLSearchParams(window.location.search).get('nav_tab_active');
        }

        let tab_container = nav_tabs
            // Activate the specified tab.
            .each(function() {
                if (get_active_tab() === $(this).data('target')) {
                    $(this).tab('show');
                    return false;
                }
            })
            // Update current URL with new target.
            .on('shown.bs.tab', function (event) {
                history.replaceState(null, "", $(event.target).data('target'));
            })
            .closest(".tab-container");

        // Hide alternate tab headings.
        tab_container.find('.tab-heading-alt').hide();


        let filter = $('#filterconstraintsform');
        // Activate event selectize.
        filter.find(':input[name="event_ids"]').removeAttr('placeholder').cdedbSearchEvent(
            '{{ cdedblink('event/select_event') }}',
            {{ event_options|tojson }},
            true,
        );
        // Turn radio groups into buttongroups.
        filter.find('.row[role=radiogroup]')
            .attr('data-toggle', 'buttons')
            .addClass('btn-group')
            .removeClass('row')
            .children().each(function () {
                $(this)
                    .replaceWith($(this).find('label').addClass('btn btn-primary'))
                    .filter(':has(:input:checked)').addClass('active');
            });

        let violation_severity_to_int = {{ enums['ViolationSeverity'].map()|tojson }};

        let update_results = function () {
            let event_ids_list = filter.find(':input[name="event_ids"]').val().split(',').filter(Boolean);
            let min_severity_val = violation_severity_to_int[filter.find(':input[name="min_severity"]').val().split('.', 2)[1]] ?? -1;
            let is_archived_val = parseInt(filter.find(':input[name="is_archived"]:checked').val());
            let is_balanced_val = parseInt(filter.find(':input[name="is_balanced"]:checked').val());
            let is_concluded_val = parseInt(filter.find(':input[name="is_concluded"]:checked').val());

            // Unhide all events, then...
            $(tab_container).find('div.event').each(function () {
                $(this).removeClass('softhide');

                // ... hide those not in the list, if the list isn't empty, ...
                if (event_ids_list.length && !event_ids_list.includes(String($(this).data("event_id")))) {
                    console.log("Hiding ", $(this).data("event_id"), " due to event_ids.")
                    $(this).addClass('softhide');
                }
                // ... hide those that don't match the selected archival state, ...
                if (is_archived_val !== -1 && $(this).hasClass('event-is-archived') !== Boolean(is_archived_val)) {
                    console.log("Hiding ", $(this).data("event_id"), " due to is-archived.")
                    $(this).addClass('softhide');
                }
                // ... hide those that don't match the selected balance state, ...
                if (is_balanced_val !== -1 && $(this).hasClass('event-is-balanced') !== Boolean(is_balanced_val)) {
                    console.log("Hiding ", $(this).data("event_id"), " due to is-balanced.")
                    $(this).addClass('softhide');
                }
                // ... hide those that don't match the selected conlusion state.
                if (is_concluded_val !== -1 && $(this).hasClass('event-is-concluded') !== Boolean(is_concluded_val)) {
                    console.log("Hiding ", $(this).data("event_id"), " due to is-concluded.")
                    $(this).addClass('softhide');
                }
            })

            // If min_severity is given, ...
            if (min_severity_val !== -1) {
                // ... unhide all violations, then ...
                $(tab_container).find('.violations').removeClass('softhide').each(function () {
                    // ... hide those that don't match the min, ...
                    if ($(this).data('max_severity') < min_severity_val) {
                        $(this).addClass('softhide');
                    }
                    // ... then show the correct version of the label, depending on min_severity.
                    $(this).find('.violations-only').addClass('softhide').each(function () {
                        if ($(this).data('severity') === min_severity_val) {
                            $(this).removeClass('softhide');
                        }
                    })
                });
            }

            // Replace the current url in the history with the new filter.
            history.replaceState(null, "", window.location.pathname + "?" + filter.serialize() + window.location.hash);
        }
        filter.find(':input').on('change', update_results);
        // Submit currently active tab to keep it active.
        filter.on("submit", function (event) {
            event.preventDefault();
            filter.append($('<input />', {
                "type": "hidden",
                "name": "nav_tab_active",
                "value": get_active_tab(),
            }));
            this.submit();
        })
    </script>

{% endblock %}
