{% set sidenav_active = 'event_constraint_violations' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic with context %}
{% block title %}
    {{ ambience['event']['title'] }} – {% trans %}Constraint Violations{% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon='chalkboard-teacher') }}
    {{ util.breadcrumb_link(cdedblink("event/constraint_violations"), gettext("Constraint Violations"), active=True) }}
{% endblock %}
{% block heading %}
    {{ util.context_heading(gettext("Constraint Violations"), ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}
{% block content %}
    {% if ambience['event']['tracks'] %}
        <div class="p">
            {% trans link=util.href(cdedblink('event/course_assignment_checks'), gettext("Course Assignment Checks")) %}
                See also: {{ link }}.
            {% endtrans %}
        </div>
    {% endif %}
    {% if not mep_violations and not mec_violations and not ccs_violations %}
        {% trans %}
            There are currently no constraints being violated.
        {% endtrans %}
    {% endif %}

    {% if mep_violations %}
        <h2 class="heading-underline" id="mep-violations">
            {% trans %}Mutually Exclusive Participation{% endtrans %}
            {{ util.doclink_("Handbuch_Orga_Veranstaltungsteilgruppen.html#typ-teilnahmeausschlieszlichkeit") }}
        </h2>
        {# These are presorted by persona and constraint. #}
        {{ generic.list_mep_violations(mep_violations, personas, link_registration=True) }}
    {% endif %}

    {% if mec_violations %}
        <h2 class="heading-underline" id="mec-violations">
            {% trans %}Mutually Exclusive Courses{% endtrans %}
            {{ util.doclink_("Handbuch_Orga_Veranstaltungsteilgruppen.html#typ-kursausschlieszlichkeit") }}
        </h2>
        {# These are presorted by course and constraint. #}
        {{ generic.list_mec_violations(mec_violations, courses, link_course=True) }}
    {% endif %}

    {% if ccs_violations %}
        <h2 class="heading-underline" id="ccs-violations">
            {% trans %}Course Choice Sync{% endtrans %}
            {{ util.doclink_("Handbuch_Orga_Kursschienengruppen.html#typ-kurswahlsynchronisierung-ccs") }}
        </h2>
        {# These are presorted by persona and constraint. #}
        {{ generic.list_ccs_violations(ccs_violations, personas, link_registration=True) }}
    {% endif %}
{% endblock %}
