{% set sidenav_active = 'event_constraint_violations' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic with context %}
{% block title %}
    {{ ambience['event']['title'] }} – {% trans %}Constraint Violations{% endtrans %}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon='chalkboard-teacher') }}
    {{ util.breadcrumb_link(cdedblink("event/constraint_violations"), gettext("Constraint Violations"), active=True) }}
{% endblock %}
{% block heading %}
    {{ util.context_heading(gettext("Constraint Violations"), ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}
{% block content %}
    {% set min_severity = enums['ViolationSeverity'].INFO %}
    {% if max_severity < min_severity %}
        {% trans %}
            There are currently no constraints being violated.
        {% endtrans %}
    {% endif %}

    {% for class_name, violations in by_class.items() if max_severity_by_class[class_name] >= min_severity %}
        <h2 class="heading-underline" id="{{ class_name }}">
            {{ gettext(class_name) }}
            {{ util.doclink_("Handbuch_Orga_Verstöße", class_name|lower) }}
        </h2>
        {{ generic.list_violations(class_name, violations, link=True) }}
    {% endfor %}

{% endblock %}
