{% set sidenav_active='cde_transfers' %}
{% extends "web/cde/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}

{% block scripts %}
    {{ util.cdedb_script('cdedb_csv_tools.js') }}
    {{ util.cdedb_script('cdedb_helper.js') }}
{% endblock %}

{% set jshint='strong' %}

{% block title %}
    {% trans %}
        Enter Money Transfers
    {% endtrans %}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("cde/money_transfers_form"), gettext("Enter Bank Transfers"), active=True) }}
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('cde/money_transfers') }}" method="POST" id="transfersform" enctype="multipart/form-data">
        {{ util.anti_csrf_token('cde/money_transfers') }}
        {{ util.input_hidden("checksum") }}
        {{ util.form_input_checkbox(name="send_notifications", horizontal=False, label=gettext("Send Notifications"), defaultvalue="True",
                info=gettext("If checked, all affected users will be notified and orgateams will receive a summary of their fees.")) }}
        {{ util.form_input_file(name="transfers_file", label=gettext("Transfers"), horizontal=False,
                accept="text/csv,.csv") }}
        {{ util.form_input_textarea(name="transfers", horizontal=False, rows=8, anid="input-data") }}

        <p class="help-block">
            {{ util.make_icon('info-circle') }} {% trans %}Enter one dataset per line.{% endtrans %}
            {% trans %}Use the following format:{% endtrans %}
        </p>
        <pre>{{ "&quot;%s&quot;;&quot;%s&quot;;&quot;%s&quot;;&quot;%s&quot;;&quot;%s&quot;;&quot;%s&quot;"|
                format(_("Transaction Date"), _("Amount"), _("CdEDB-ID"), _("Family Name"), _("Given Names"), _("Category"))|s }}</pre>

        {% if data %}
            <h2>{% trans %}Validation results{% endtrans %}</h2>
            <ol class="list-unstyled">
            {% for dataset in data %}
                <li>
                <strong>
                    <span class="row-key" data-row="{{ dataset['lineno'] }}">
                        {% trans lineno=dataset['lineno'] + 1 %}Line {{ lineno }}{% endtrans -%}
                    </span>:
                    {% if dataset['event'] %}
                        {% trans amount=dataset['amount']|money(lang=lang), name=util.persona_name(dataset['persona']), event=dataset['event'].title %}
                            {{ amount }} for {{ name }} for {{ event }}
                        {% endtrans %}
                    {% else %}
                        {% trans amount=dataset['amount']|money(lang=lang), name=util.persona_name(dataset['persona']) -%}
                            {{ amount }} for {{ name }}
                        {% endtrans %}
                    {% endif %}
                </strong>
                {% if dataset['problems'] or dataset['infos'] %}
                    <div class="money-parse-line">
                        <ul class="list-unstyled">
                            {% for key, problem in dataset['problems'] %}
                                <li class="text-danger">
                                    {{ util.make_icon('exclamation-circle', title=gettext("Error")) }}
                                    {% if key %}
                                        <em class="row-col-key clickable" data-row="{{ dataset['lineno'] }}"
                                            data-col="{{ csvfields.get(key, -1) }}">
                                            {{ key -}}
                                        </em>:
                                    {% endif %}
                                    {{ util.format_error(problem) }}
                                </li>
                            {% endfor %}
                            {% for key, info in dataset['infos'] %}
                                <li class="text-info">
                                    {{ util.make_icon('exclamation-circle', title=gettext("Info")) }}
                                    {% if key %}
                                        <em class="row-col-key clickable" data-row="{{ dataset['lineno'] }}"
                                            data-col="{{ csvfields.get(key, -1) }}">
                                            {{ key -}}
                                        </em>:
                                    {% endif %}
                                    {{ util.format_error(info) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                </li>
            {% endfor %}
            </ol>
            <script nonce="{{ csp_nonce }}">
                $(function() {
                    var $textinput = $('#input-data');
                    $('.row-col-key').addClass('clickable').click(function() {
                        $textinput.jumpCsvPosition($(this).attr('data-row'),$(this).attr('data-col'));
                    });
                    $('.row-key').addClass('clickable').click(function() {
                        $textinput.jumpCsvPosition($(this).attr('data-row'),-1);
                    });
                    /* protect form changes */
                    $('#transfersform').cdedbProtectChanges();
                });
            </script>
        {% endif %}

        {% if saldos %}
            <table class="table table-slim">
                <tbody>
                    {% for event_id, saldo in saldos|dictsort %}
                        <tr>
                            <td>
                                <strong>
                                    {% if event_id == -1 %}
                                        {% trans %}Total{% endtrans %}
                                    {% elif event_id == 0 %}
                                        {% trans %}Member-Fees{% endtrans %}
                                    {% else %}
                                        {{ events[event_id].title }}
                                    {% endif %}
                                </strong>
                            </td>
                            <td class="text-right-responsive {% if saldo > 0 %}text-success{% else %}text-danger{% endif %}">
                                <strong>
                                    {{ saldo|money(lang=lang) }}
                                </strong>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if values['checksum'] %}
            {{ util.form_input_submit(label=gettext("Confirm"), horizontal=False) }}
            <p class="help-block">
                {{ util.make_icon('info-circle') }}
                {% trans %}If the input changed, the validation results will be displayed again.{% endtrans %}
            </p>
        {% else %}
            {{ util.form_input_submit(label=gettext("Validate"), icon="chevron-right", horizontal=False) }}
        {% endif %}
    </form>
{% endblock %}
