{% set sidenav_active = 'event_configure_additional_questionnaire' if preview else 'event_quest' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% set jshint='weak' %}
{% block scripts %}{{ util.cdedb_script('cdedb_helper.js') }}{% endblock %}
{% block title %}
    {% if preview %}
        {% trans title=ambience['event']['title'] %}
            Questionnaire Preview ({{ title }})
        {% endtrans %}
    {% else %}
        {% trans title=ambience['event']['title'] %}
            Questionnaire ({{ title }})
        {% endtrans %}
    {% endif %}
{% endblock %}
{% block breadcrumb %}
{{ super() }}
{% if not preview %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher",
                            readonly=not (ambience['event']['is_visible']
                                          or ambience['event']['id'] in user.orga
                                          or user.admin_views.intersection(('event_orga', 'event_mgmt')))) }}
    {{ util.breadcrumb_link(cdedblink("event/additional_questionnaire", {"preview": True}),
                            gettext("Questionnaire"), active=True) }}
{% else %}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/configure_additional_questionnaire"), gettext("Configure Questionnaire")) }}
    {{ util.breadcrumb_link(cdedblink("event/additional_questionnaire", {"preview": True}),
                            gettext("Questionnaire Preview"), active=True) }}
{% endif %}
{% endblock %}
{% block heading %}
    {{ util.context_heading(gettext("Questionnaire Preview") if preview else gettext("Participant Questionnaire"),
                            ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}
{% block content %}
    {% if preview %}
        <div class="form-horizontal">
    {% else %}
    <form action="{{ cdedblink('event/additional_questionnaire') }}" method="POST" id="questionnaireform"
          class="form-horizontal">
        {{ util.anti_csrf_token('event/additional_questionnaire') }}
    {% endif %}
        {% for entry in add_questionnaire %}
            {{ generic_event.print_questionnaire_entry(entry) }}
        {% endfor %}
        {% if lodgement_wishes %}
            {% call util.bootstrap_panel(gettext("Lodgement Wishes"), aclass="panel-info", icon="home", anid="lodgement-wishes") %}
                <div class="p">
                    {% trans link=util.href("#questionnaire_field_entry_{}".format(lodgement_wishes['field']['field_name']), label=gettext("questionnaire field")) %}
                        You can enter lodgement wishes in the respective {{ link }} in the following formats:
                    {% endtrans %}
                    {% trans %}
                        Full name (any given name plus family name), forename/display name plus family name, email address or CdEDB-ID ("DB-0000-X")
                    {% endtrans %}
                </div>
                {% if lodgement_wishes['wishes'] %}
                    <div class="p">
                        {% trans %}
                            The following lodgement wishes were detected from your input.
                        {% endtrans %}
                        {% trans %}
                            If a wish is missing from this list, check that you spelled the name
                            correctly and that both you and they are a participant of this event.
                        {% endtrans %}
                    </div>
                    <ul id="lodgement-wishes-list">
                        {% for wish in lodgement_wishes['wishes'] %}
                            {% set persona_id = lodgement_wishes['registrations'][wish.wished]['persona_id'] %}
                            <li class="text-info">
                                {{ util.persona_name(lodgement_wishes['personas'][persona_id]) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="p">
                        {% trans %}
                            Detected wishes will be shown here. No wishes have currently been detected.
                        {% endtrans %}
                        {% trans %}
                            If a wish is missing from this list, check that you spelled the name
                            correctly and that both you and they are a participant of this event.
                        {% endtrans %}
                    </div>
                {% endif %}
                {% if lodgement_wishes['problems'] %}
                    <div class="p">
                        {% trans %}The following problems with your lodgement wishes were detected{% endtrans %}:
                    </div>
                    <ul>
                        {% with texttypes = {"success": "success", "info": "info", "warning": "warning", "error": "danger"} %}
                            {% for ntype, message, params in lodgement_wishes['problems'] %}
                                <li class="text-{{ texttypes[ntype] }}">{{ gettext(message)|e|format(**params) }}</li>
                            {% endfor %}
                        {% endwith %}
                    </ul>
                {% endif %}
            {% endcall %}
        {% endif %}
        {% if not preview %}
            {{ util.form_input_submit(label="Abschicken", cancellink=cdedblink("event/registration_status"),
                                      readonly=is_locked or ambience['event']['is_archived']) }}
        {% endif %}
    {% if preview %}
        </div>
    {% else %}
    </form>
    <script nonce="{{ csp_nonce }}">
        $('#questionnaireform').cdedbProtectChanges();
    </script>
    {% endif %}
{% endblock %}
