{% extends "web/event/base.tmpl" %}
{% set sidenav_active = "event_register_config" if kind == enums["QuestionnaireUsages"].registration else "event_quest_config" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% set jshint='strong' %}

{% block scripts %}
    {{ super() }}
    {{ util.cdedb_script('cdedb_helper.js') }}
    {{ util.cdedb_script('cdedb_orderrow.js') }}
{% endblock %}

{% block title %}
    {% if kind == enums['QuestionnaireUsages'].registration %}
        {% trans title=ambience['event']['title'] %}Reorder Registration ({{ title }}){% endtrans %}
    {% else %}
        {% trans title=ambience['event']['title'] %}Reorder Questionnaire ({{ title }}){% endtrans %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {% if kind == enums['QuestionnaireUsages'].registration %}
        {{ util.breadcrumb_link(cdedblink("event/configure_registration"), gettext("Configure Registration")) }}
        {{ util.breadcrumb_link(cdedblink("event/reorder_questionnaire"), gettext("Reorder Registration"), active=True) }}
    {% elif kind == enums['QuestionnaireUsages'].additional %}
        {{ util.breadcrumb_link(cdedblink("event/configure_additional_questionnaire"), gettext("Configure Questionnaire")) }}
        {{ util.breadcrumb_link(cdedblink("event/reorder_questionnaire"), gettext("Reorder Questionnaire"), active=True) }}
    {% endif %}
{% endblock %}

{% block heading %}
    {{ util.context_heading((gettext("Reorder Registration") if kind == enums['QuestionnaireUsages'].registration
                                else gettext("Reorder Questionnaire")),
                            ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}

{% block content %}
    <form action="{{ cdedblink('event/reorder_questionnaire') }}" method="POST" id="reorderquestionnaireform"
          class="form-horizontal">
        {{ util.anti_csrf_token('event/reorder_questionnaire') }}
        {{ util.input_hidden(name="kind") }}
        <div class="orderrow-container" id="rowlist">
            {% for entry in questionnaire %}
            <div class="orderrow-outer" data-id="{{ loop.index0 }}" tabindex="0">
                <div class="orderrow-inner clearfix" draggable="true">
                    <div class="orderrow-indicator">
                        <span class="label label-primary">
                            {{ loop.index0 }}
                        </span>
                    </div>
                    {% macro save_to(name) -%}
                        <span class="nowrap">
                            → [
                                {%- if name is string -%}
                                    {% trans %}Registration{% endtrans %}:
                                    <strong>{{ name }}</strong>
                                {%- else -%}
                                    {% trans %}Custom Field{% endtrans %}:
                                    <strong>{{ name.title }}</strong>
                                {%- endif -%}
                            ]
                        </span>
                    {%- endmacro %}
                    {% if entry.name == "QuestionnaireFieldRow" %}
                        {% with FIELD = ambience['event']['fields'][entry['field_id']] %}
                            {# In case of a checkbox (bool field without choices), we don't need a left-hand side label #}
                            {% if FIELD['kind'] != enums['FieldDatatypes'].bool or FIELD['entries'] %}
                                <div class="miniature-label">
                                    {% if entry.label %}
                                        {{ entry.label|truncate(50, False, ' …') }}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if FIELD.entries %}
                                <div class="miniature-text">
                                    {{ util.make_icon('angle-down', aclass='pull-right') }}
                                    {{ save_to(FIELD) }}
                                </div>
                            {% else %}
                                {% if FIELD.kind == enums['FieldDatatypes'].bool %}
                                    <div class="miniature-checkbox">
                                        {{ util.make_icon('check-square') }}
                                        {% if entry.label -%}
                                            <b>{{ entry.label|truncate(50, False, ' …') }}</b>
                                        {%- endif %}
                                        {{ save_to(FIELD) }}
                                    </div>
                                {% else %}
                                    {% if FIELD.kind.text_rows %}
                                        <div class="miniature-textarea">{{ save_to(FIELD) }}</div>
                                    {% else %}
                                        <div class="miniature-text">{{ save_to(FIELD) }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endwith %}

                    {# Text-only entry #}
                    {% elif entry.name == "QuestionnaireTextRow" %}
                        <div class="miniature-md">{{ entry.text|md }}</div>
                    {% elif entry.name == "QuestionnaireHeadingRow" %}
                        <div class="miniature-heading">{{ entry.title }}</div>
                    {% elif entry.name == "QuestionnairePanelRow" %}
                        <div class="panel {{ entry.panel_kind.get_panel_class() }} miniature-panel">
                            <div class="panel-heading miniature-heading small">
                                <div class="panel-title">
                                    {{ util.make_icon(entry.panel_kind.get_icon()) }}{{ nbsp }}{{ entry.title }}
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="miniature-md">{{ entry.text|md }}</div>
                            </div>
                        </div>
                    {% elif entry.name == "FeePreview" %}
                        <div class="miniature-label">
                            {% trans %}Fee{% endtrans %} ({% trans %}Preview{% endtrans %})
                        </div>
                        <div class="miniature-content">
                            {{ generic_event.fee_breakdown_by_kind(fake_complex_fee) }}
                        </div>
                    {% elif entry.name == "CourseChoices" %}
                        {% if choice_objects %}
                            <div class="miniature-heading">
                                {% trans %}Course Choices{% endtrans %}
                            </div>
                        {% endif %}
                        {% for cco in choice_objects %}
                            {% if choice_objects|length > 1 %}
                                <div class="miniature-heading small">
                                    {% trans %}Course Choices{% endtrans %}
                                    {% trans track=cco.reference_track.title %}
                                        for {{ track }}
                                    {% endtrans %}
                                </div>
                            {% endif %}
                            {% for i in range(cco.reference_track.num_choices) %}
                                <div class="miniature-label">
                                    {{ gettext("%s. Choice")|format(i + 1) }}
                                </div>
                                <div class="miniature-text">
                                    {{ util.make_icon('angle-down', aclass='pull-right') }}
                                    &lt;{% trans %}Course{% endtrans %}&gt;
                                </div>
                            {% endfor %}
                            <div class="miniature-label">
                                {{ gettext("Instructed Course") }}
                            </div>
                            <div class="miniature-text">
                                {{ util.make_icon('angle-down', aclass='pull-right') }}
                                &lt;{% trans %}Course{% endtrans %}&gt;
                            </div>
                        {% endfor %}
                    {% elif entry.name == "PartSelection" %}
                        <div class="miniature-heading">
                            {% trans %}Registration{% endtrans %}
                        </div>
                        <div class="miniature-label">
                            {{ gettext("Event Parts") }}
                        </div>
                        {% for part in ambience["event"].parts.values() %}
                            <div class="miniature-checkbox">
                                {{ util.make_icon('check-square') }}
                                <strong>{{ part.title }}</strong>
                                {{ save_to(gettext("Event Parts")) }}
                            </div>
                        {% endfor %}
                    {% elif entry.name == "ListConsent" %}
                        <div class="miniature-label">
                            {% trans %}Participant List Consent{% endtrans %}
                        </div>
                        <div class="miniature-checkbox">
                            {{ util.make_icon('check-square') }}
                            {{ save_to(gettext("Participant List Consent")) }}
                        </div>
                    {% elif entry.name == "MixedLodging" %}
                        <div class="miniature-label">
                            {% trans %}Mixed Lodging{% endtrans %}
                        </div>
                        <div class="miniature-text">
                            {{ util.make_icon('angle-down', aclass='pull-right') }}
                            {{ save_to(gettext("Mixed Lodging")) }}
                        </div>
                    {% elif entry.name == "FotoNotice" %}
                        <div class="miniature-label">
                            {% trans %}Photo consent{% endtrans %}
                        </div>
                        <div class="miniature-md">
                            {{ generic_event.print_foto_notice() }}
                        </div>
                    {% elif entry.name == "RegistrationNotes" %}
                        <div class="miniature-label">
                            {%- if ambience["event"].tracks %}
                                {% trans %}Notes for Orgas and Instructors{% endtrans %}
                            {%- else %}
                                {% trans %}Notes for Orgas{% endtrans %}
                            {%- endif %}
                        </div>
                        <div class="miniature-textarea">
                            {{ save_to(gettext("Notes")) }}
                        </div>
                    {% elif entry.name == "TableOfContents" %}
                        <div class="miniature-md">
                            <div class="toc">
                                <ul class="nosp">
                                    {% for title, title_id in entry.questionnaire.get_toc_entries(gettext) %}
                                        <li>{{ util.href("#" + "_".join(title_id.split()), title) }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% elif entry.name == "MyData" %}
                        <div class="miniature-heading">
                            {% trans %}My Data{% endtrans %}
                        </div>
                        <div class="miniature-content">
                            <div class="miniature-label">
                                {% trans %}Full Name{% endtrans %}
                            </div>
                            <div class="miniature-text">
                                {{ save_to(gettext("Full Name")) }}
                            </div>
                            <div class="miniature-label">
                                {% trans %}Birthday{% endtrans %}
                            </div>
                            <div class="miniature-text">
                                {{ save_to(gettext("Birthday")) }}
                            </div>
                            <div class="miniature-label">
                                {% trans %}Gender{% endtrans %}
                            </div>
                            <div class="miniature-text">
                                {{ save_to(gettext("Gender")) }}
                            </div>
                            <div class="miniature-label">
                                {% trans %}Pronouns{% endtrans %}
                            </div>
                            <div class="miniature-text">
                                {{ save_to(gettext("Pronouns")) }}
                            </div>
                            <div class="miniature-label">
                                ...
                            </div>
                            <div class="miniature-text">
                                {{ save_to("...") }}
                            </div>
                        </div>
                    {% else %}
                        <div class="miniature-heading alert alert-info {{ entry.get_drow_html_classes()|join(" ") }}">
                            {% trans %}Magic Role{% endtrans %}:
                            {{ util.make_icon(entry.get_icon()) }}
                            {{ gettext(entry.role|string) }}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {{ util.form_input_text(name="order", anid="input-roworder",
                                label=gettext("Order"), placeholder=gettext("Nr,Nr,Nr,…"),
                                defaultvalue=range(0, questionnaire|length)|join(','), small=True) }}
        {{ util.form_input_submit(label=gettext("Reorder"), small=True, cancellink=cdedblink(redirect)) }}
    </form>
    <script type="text/javascript" nonce="{{ csp_nonce }}">
        var input = $('#input-roworder');
        var form = $('#reorderquestionnaireform');
        $('#rowlist').cdedbOrderRow(input).find('.orderrow-indicator').hide();
        form.cdedbProtectChanges();
        input.closest('.form-group').hide();
        form.find('.col-sm-offset-2').removeClass('col-sm-offset-2');
    </script>
{% endblock %}
