Liebe Fallkoordination,

die Löschung einer Eintragsversion von Fall {{ case_id }} wurde aufgehalten.
Nachdem der Fall entsperrt wurrde, findet ihr die entsprechende Eintragsversion hier:
{{ cdedblink('core/case_history', {'case_id': case_id}) + "#version"|s + entry_version_id|string }}

Bitte prüft, ob das Aufhalten der Löschung seine Richtigkeit hat.


Die Datenbank
