{% set sidenav_active='event_fees' %}
{% extends "web/event/base.tmpl" %}
{% import "web/util.tmpl" as util with context %}
{% import "web/event/generic.tmpl" as generic_event with context %}
{% block title %}
    {% trans title=ambience['event']['title'] %}
        Fee Stats ({{ title }})
    {% endtrans %}
{% endblock %}
{% block heading %}
    {{ util.doclink_("Handbuch_Orga_Teilnahmebeitraege") }}
    {{ util.context_heading(gettext("Fee Stats"), ambience['event']['title'], 'chalkboard-teacher', gettext("Event")) }}
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
    {{ util.breadcrumb_link(cdedblink("event/show_event"), ambience['event']['title'], icon="chalkboard-teacher") }}
    {{ util.breadcrumb_link(cdedblink("event/fee_summary"), gettext("Fees")) }}
    {{ util.breadcrumb_link(cdedblink("event/fee_stats"), gettext("Fee Stats"), active=True) }}
{% endblock %}

{% block content %}
    <table id="event-fee-stats" class="table table-stats">
        <thead>
            <tr>
                <th>{% trans %}Type{% endtrans %}</th>
                <th class="text-right">{% trans %}Owed{% endtrans %}</th>
                <th></th>
                <th class="text-right">{% trans %}Paid{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for fee_kind, kind_stats in fee_stats %}
                <tr>
                    <td>{{ util.make_icon(fee_kind.get_icon()) + nbsp }}{{ gettext(fee_kind|string) }}</td>
                    <td class="text-right {{ 'text-danger' if kind_stats.total_owed < 0 }}">
                        <strong>
                            {{ kind_stats.total_owed|money(lang=lang) }}
                        </strong>
                    </td>
                    <td class="">
                        {{ generic_event.active_fee_registration_query_link(
                                kind_stats.registrations_owed, gettext("Registrations"), anid="{}_owed_query".format(fee_kind.name)) }}
                    </td>
                    <td class="text-right {{ 'text-danger' if kind_stats.total_paid < 0 }}">
                        <strong>
                            {{ kind_stats.total_paid|money(lang=lang) }}
                        </strong>
                    <td class="">
                        {{ generic_event.active_fee_registration_query_link(
                                kind_stats.registrations_paid, gettext("Registrations"), anid="{}_paid_query".format(fee_kind.name)) }}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td>{{ util.make_icon("plus-circle") + nbsp }}{{ gettext("Surplus") }}</td>
                    <td class="text-right">
                        –
                    </td>
                    <td></td>
                    <td class="text-right {{ 'text-danger' if fee_stats.surplus_total < 0 }}">
                        <strong>
                            {{ fee_stats.surplus_total|money(lang=lang) }}
                        </strong>
                    </td>
                    <td>
                        {{ generic_event.active_fee_registration_query_link(
                                fee_stats.surplus_registrations, gettext("Registrations"),
                                anid="surplus_query", query=surplus) }}
                    </td>
                </tr>
        </tbody>
        <tfoot>
            <tr class="summary">
                {# No suitable free icon exists, but that's fine. We need the spacing though. #}
                <td>{{ util.make_icon("") + nbsp }}{{ gettext("Total") }}</td>
                <td class="text-right {{ 'text-danger' if fee_stats.total_owed < 0 }}">
                    <strong>
                        {{ fee_stats.total_owed|money(lang=lang) }}
                    </strong>
                </td>
                <td></td>
                {% set total_paid = fee_stats.total_paid + fee_stats.surplus_total %}
                <td class="text-right {{ 'text-danger' if total_paid < 0 }}">
                    <strong>
                        {{ total_paid|money(lang=lang) }}
                    </strong>
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    {% if fee_stats.insufficient_registrations or fee_stats.unpaid_registrations %}
    <hr />
        {% if fee_stats.insufficient_registrations %}
        <p class="text-warning">
            {{ util.make_icon('exclamation-triangle') }}
            {% trans incomplete_paid_count=fee_stats.insufficient_registrations|length,
                     incomplete_paid_amount=fee_stats.insufficient_total|money(lang=lang), paid=gettext("Paid") %}
                {{ incomplete_paid_count }} people have paid {{ incomplete_paid_amount }} without hitting their owed amount.
                Their payment can not be split by type and has been excluded from the "{{ paid }}" column above.
            {% endtrans %}
            <br />
            {{ util.href(cdedblink(incomplete_paid.scope.get_target(redirect=True), incomplete_paid.serialize_to_url()) + '#query-results',
                         gettext("View Registrations"), icon='list', anid="incomplete_paid_query") }}
        </p>
        {% endif %}
        {% if fee_stats.unpaid_registrations %}
        <p class="text-muted">
            {{ util.make_icon('info-circle') }}
            {% trans not_paid_count=fee_stats.unpaid_registrations|length %}
                {{ not_paid_count }} people have not paid anything of their fee yet.
            {% endtrans %}
            <br />
            {{ util.href(cdedblink(not_paid.scope.get_target(redirect=True), not_paid.serialize_to_url()) + '#query-results',
                             gettext("View Registrations"), icon='list', anid="not_paid_query") }}
        </p>
        {% endif %}
    {% endif %}
{% endblock %}
