{# This is the base template to be extended by (nearly) all html templates.
   It provides a skeleton where only the content needs to be filled in. #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>CdEDB – {% block title %}CdEDB{% endblock %}</title>
        <script type="text/javascript" src="{{ staticurl("jquery-2.min.js")|e }}"></script>
        
        <link href="{{ staticurl("bootstrap-3/css/bootstrap.min.css")|e }}" rel="stylesheet" media="all" />
        <script type="text/javascript" src="{{ staticurl("bootstrap-3/js/bootstrap.min.js")|e }}"></script>
        
        <link rel="stylesheet" type="text/css" href="{{ staticurl("cdedb.css")|e }}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{ staticurl("print.css")|e }}" media="print" />
        
        <script type="text/javascript" src="{{ staticurl("cdedb-general.js")|e }}"></script>
        
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="container" id="header">
            %logo%
        </div>
        
        <!-- main navigation bar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if user.is_persona %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                {{ util.href(cdedblink("core/mydata"), user.display_name, icon="user") }}
                            </li>
                            <li>
                                <form action="{{ cdedblink("core/logout")|e }}" method="POST" id="logoutform" class="navbar-form">
                                    <button type="submit" name="submitlogout" value="Abmelden" class="btn navbar-button" title="Logout" data-placement="bottom">
                                        <span class="glyphicon glyphicon-off"></span>
                                    </button>
                                </form>
                            </li>
                    
                    {% endif %}
                    </ul>
                    
                    <ul class="nav navbar-nav">
                        <li {% if mainnav_active == 'core' %}class="active"{% endif %}>
                            {{ util.href(cdedblink("core/index"), "Start", icon="dashboard") }}
                            </li>
                        {% if "formermember" in user.roles %}
                            <li {% if mainnav_active == 'cde' %}class="active"{% endif %}>
                                {{ util.href(cdedblink("cde/index"), "CdE", icon="education") }}
                                </li>
                        {% endif %}
                        {% if "event_user" in user.roles %}
                            <li {% if mainnav_active == 'event' %}class="active"{% endif %}>
                                {{ util.href(cdedblink("event/index"), "Veranstaltungen", icon="blackboard") }}
                                </li>
                        {% endif %}
                        {% if "ml_user" in user.roles %}
                            <li {% if mainnav_active == 'ml' %}class="active"{% endif %}>
                                {{ util.href(cdedblink("ml/index"), "Mailinglisten", icon="envelope") }}
                            </li>
                        {% endif %}
                        {% if "assembly_user" in user.roles %}
                            <li {% if mainnav_active == 'assembly' %}class="active"{% endif %}>
                                {{ util.href(cdedblink("assembly/index"), "Versammlung", icon="stats") }}
                            </li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% block navigation %}
                    {% endblock %}
                </div>
                <div class="col-md-9">
                    {% block heading %}
                        <h1>{{ self.title() }}</h1>
                    {% endblock %}
                    
                    {% with icontypes = {"success" : "ok-sign", "info" : "info-sign", "question" : "question-sign",
                                         "warning" : "exclamation-sign", "error" : "remove-sign"},
                            alerttypes = {"success" : "success", "info" : "info", "question" : "info",
                                          "warning" : "warning", "error" : "danger"},
                            messagetypes = {"success" : "Erfolg!", "info" : "Info!", "question" : "Frage:",
                                            "warning" : "Warnung!", "error" : "Fehler!"} %}
                        {% for ntype, message in notifications %}
                            <div class="alert alert-{{ alerttypes[ntype] }}">
                                <span class="glyphicon glyphicon-{{ icontypes[ntype] }}"></span>
                                <strong>{{ messagetypes[ntype] }}</strong>
                                <span class="notificationMessage">{{ i18n(message)|e }}</span>
                            </div>
                        {% endfor %}
                    {% endwith %}
                    
                    {% block content %}
                        This should not be visible.
                    {% endblock %}
                </div>
            </div>
            <div id="footer">
                {% block footer %}{{ debugstring|e }} ; time taken: {{ generation_time()|e }}{% endblock %}
            </div>
        </div>
    </body>
    {% if errors %}
        <!-- error listing for debugging
             {{ errors|e }}
        -->
    {% endif %}
</html>
