{% extends "web/de/base.tmpl" %}
{% import "web/de/util.tmpl" as util with context %}
{% block title %}{{ error|e }}{% endblock %}
{% block content %}
    {% if error.code == 403 %}
        <div class="alert alert-danger">
            {{ util.make_icon('remove-sign') }} Du hast keine ausreichende Berechtigung, um auf diese Seite zuzugreifen:
            {{ error.description|e }}
        </div>
        <p>
            Wenn Du diese Meldung für einen Fehler der CdE-Datenbank hältst, kontaktiere bitte das Datenbank-Team unter
            <a href="mailto:CdE Datenbank Team <cdedb@lists.cde-ev.de>">cdedb@lists.cde-ev.de</a> und beschreibe, welche
            Aktionen Du durchgeführt hast.
        </p>
    {% elif error.code == 404 %}
        <div class="alert alert-danger">
            {{ util.make_icon('remove-sign') }} Die gewünschte Seite konnte leider nicht gefunden werden:
            {{ error.description|e }}
        </div>
        <p>
            Wenn Du durch einen internen Link der CdE-Datenbank hierher gelangt bist, kontaktiere bitte das
            Datenbank-Team unter <a href="mailto:CdE Datenbank Team <cdedb@lists.cde-ev.de>">cdedb@lists.cde-ev.de</a>
            und beschreibe, welche Aktionen Du zuvor durchgeführt hast.
        </p>
        <p>
            Verwende die Navigations-Schaltflächen deines Browsers um zurück zur vorherigen Seite zu gelangen oder öffne
            die {{ util.href(cdedblink('core/index'), "Startseite") }} der CdE-Datenbank.
        </p>
    {% else %}
        <div class="alert alert-danger">
            {{ util.make_icon('remove-sign') }} Ein unbekannter Fehler ist aufgetreten.
        </div>
    {% endif %}
{% endblock %}
