{# This contains generic pages. Currently these are those for managing users. #}

{% import "web/de/util.tmpl" as util with context %}

{% macro admin_change_user(realm) %}
    <form action="{{ cdedblink('{}/admin_change_user'.format(realm))|e }}" method="POST" id="changedataform"
      class="form-horizontal">
        <div>{{ util.input_hidden(name="generation") }}</div>
        <table>
            {{ util.form_input_textarea(name="change_note", label="Kommentar") }}
            <h4 class="heading-underline">Person</h4>
            {{ util.form_input_text(name="title", label="Titel") }}
            {{ util.form_input_text(name="given_names", label="Vorname(n)") }}
            {{ util.form_input_text(name="family_name", label="Nachname") }}
            {% if realm in ("core", "cde") and  values['is_cde_realm'] %}
                {{ util.form_input_text(name="birth_name", label="Geburtsname") }}
            {% endif %}
            {{ util.form_input_text(name="name_supplement", label="Namenszusatz") }}
            {{ util.form_input_text(name="display_name", label="Rufname") }}
            {% if realm in ("core", "cde", "event") and (values['is_cde_realm'] or values['is_event_realm']) %}
                {{ util.form_input_select(name="gender", entries=default_selections['gender'], label="Geschlecht") }}
                {{ util.form_input_text(name="birthday", label="Geburtstag", placeholder="YYYY-MM-DD") }}
            {% endif %}
            
            <h4 class="heading-underline">Lebenslauf</h4>
            {% if realm in ("core", "cde") and values['is_cde_realm'] %}
                {{ util.form_input_textarea(name="specialisation", label="Fachgebiet") }}
                {{ util.form_input_textarea(name="affiliation", label="Schule, Uni, ...") }}
                {{ util.form_input_textarea(name="timeline", label="Jahrgang, Matrikel, ...") }}
                {{ util.form_input_textarea(name="interests", label="Interessen") }}
                {{ util.form_input_textarea(name="free_form", label="Sonstiges", rows="5") }}
            {% endif %}
            
            <h4 class="heading-underline">Kontakt</h4>
            {{ util.form_input_static(label="E-Mail", value=values['username']) }}
            {% if realm in ("core", "cde", "event") and (values['is_cde_realm'] or values['is_event_realm']) %}
                {{ util.form_input_text(name="telephone", label="Telefon") }}
                {{ util.form_input_text(name="mobile", label="Mobiltelefon") }}
                {{ util.form_input_text(name="weblink", label="WWW") }}
                
                <h4 class="heading-underline">Adresse</h4>
                {{ util.form_input_text(name="address", label="Straße") }}
                {{ util.form_input_text(name="address_supplement", label="Addresszusatz") }}
                {{ util.form_input_text(name="postal_code", label="Postleitzahl") }}
                {{ util.form_input_text(name="location", label="Stadt") }}
                {{ util.form_input_text(name="country", label="Land") }}
            {% endif %}
            {% if realm in ("core", "cde") and values['is_cde_realm'] %}
            
                <h4 class="heading-underline">Zweitadresse</h4>
                {{ util.form_input_text(name="address2", label="Straße") }}
                {{ util.form_input_text(name="address_supplement2", label="Addresszusatz") }}
                {{ util.form_input_text(name="postal_code2", label="Postleitzahl") }}
                {{ util.form_input_text(name="location2", label="Stadt") }}
                {{ util.form_input_text(name="country2", label="Land") }}
                
                <h4 class="heading-underline">Account</h4>
                {{ util.form_input_checkbox(name="bub_search", label="Zugriff für BuB") }}
            {% endif %}
            {% if realm in ("core", "cde", "event") and (values['is_cde_realm'] or values['is_event_realm']) %}
                {{ util.form_input_checkbox(name="cloud_account", label="Cloud Account") }}
            {% endif %}
            {{ util.form_input_textarea(name="notes", label="Notizen", rows="7") }}
        </table>
        <div>
            {{ util.form_input_submit(value="Speichern", cancellink=show_user_link(values['persona_id'])) }}
        </div>
    </form>
{% endmacro %}

{% macro create_user(realm) %}
    <form action="{{ cdedblink('{}/create_user'.format(realm))|e }}" method="POST" id="newuserform">
        <table>
            <tr> <th colspan="2">Person</th> </tr>
            {{ util.form_input_text(name="title", label="Titel") }}
            {{ util.form_input_text(name="given_names", label="Vorname(n)") }}
            {{ util.form_input_text(name="family_name", label="Nachname") }}
            {% if realm == "cde" %}
                {{ util.form_input_text(name="birth_name", label="Geburtsname") }}
            {% endif %}
            {{ util.form_input_text(name="name_supplement", label="Namenszusatz") }}
            {{ util.form_input_text(name="display_name", label="Rufname") }}
            {% if realm == "cde" %}
                {{ util.form_input_textarea(name="specialisation", label="Fachgebiet") }}
                {{ util.form_input_textarea(name="affiliation", label="Schule, Uni, ...") }}
                {{ util.form_input_textarea(name="timeline", label="Jahrgang, Matrikel, ...") }}
                {{ util.form_input_textarea(name="interests", label="Interessen") }}
                {{ util.form_input_textarea(name="free_form", label="Sonstiges", rows="5") }}
            {% endif %}
            {% if realm in ("cde", "event") %}
                {{ util.form_input_select(name="gender", entries=default_selections['gender'], label="Geschlecht") }}
                {{ util.form_input_text(name="birthday", label="Geburtstag") }}
            {% endif %}
            <tr> <th colspan="2">Kontakt</th> </tr>
            {{ util.form_input_text(name="username", label="Email") }}
            {% if realm in ("cde", "event") %}
                {{ util.form_input_text(name="telephone", label="Telefon") }}
                {{ util.form_input_text(name="mobile", label="Mobiltelefon") }}
            {% endif %}
            {% if realm == "cde" %}
                {{ util.form_input_text(name="weblink", label="WWW") }}
            {% endif %}
            {% if realm in ("cde", "event") %}
                <tr> <th colspan="2">Adresse</th> </tr>
                {{ util.form_input_text(name="address", label="Straße") }}
                {{ util.form_input_text(name="address_supplement", label="Addresszusatz") }}
                {{ util.form_input_text(name="postal_code", label="Postleitzahl") }}
                {{ util.form_input_text(name="location", label="Stadt") }}
                {{ util.form_input_text(name="country", label="Land") }}
            {% endif %}
            {% if realm == "cde" %}
                <tr> <th colspan="2">Zweitadresse</th> </tr>
                {{ util.form_input_text(name="address2", label="Straße") }}
                {{ util.form_input_text(name="address_supplement2", label="Addresszusatz") }}
                {{ util.form_input_text(name="postal_code2", label="Postleitzahl") }}
                {{ util.form_input_text(name="location2", label="Stadt") }}
                {{ util.form_input_text(name="country2", label="Land") }}
            {% endif %}
            <tr> <th colspan="2">Account</th> </tr>
            {% if realm == "cde" %}
                {{ util.form_input_checkbox(name="is_member", label="Mitgliedschaft",
                                       anid="input_checkbox_is_member") }}
                {{ util.form_input_checkbox(name="is_searchable", label="Sichtbarkeit (falls Einwilligung vorhanden)",
                                       anid="input_checkbox_is_searchable") }}
                {{ util.form_input_checkbox(name="trial_member", label="Probemitgliedschaft",
                                           anid="input_checkbox_trial_member") }}
                {{ util.form_input_checkbox(name="bub_search", label="Zugriff für BuB", anid="input_checkbox_bub_search") }}
            {% endif %}
            {{ util.form_input_checkbox(name="cloud_account", label="Cloud Account",
                                       anid="input_checkbox_cloud_account") }}
            {{ util.form_input_textarea(name="notes", label="Notizen", rows="7") }}
        </table>
        <div>
            {{ util.form_input_submit(value="Nutzer anlegen") }}
            {{ util.href(cdedblink("{}/index".format(realm)), "Abbrechen") }}
        </div>
    </form>
{% endmacro %}

{% macro genesis(realm) %}
    Gib unten Deine Daten ein, um den Account anzulegen. Abschließend kannst
    Du Dir ein Passwort zugeschicken lassen.

    <form action="{{ cdedblink('{}/genesis'.format(realm))|e }}" method="POST" id="newuserform" class="form-horizontal">
        {{ util.input_hidden(name="case_id") }}
        {{ util.input_hidden(name="secret") }}
        
        <h4 class="heading-underline">Person</h4>
        {{ util.form_input_text(name="title", label="Titel") }}
        {{ util.form_input_static(label="Vorname(n)", value=case['given_names']) }}
        {{ util.form_input_static(label="Nachname", value=case['family_name']) }}
        {{ util.form_input_text(name="name_supplement", label="Namenszusatz") }}
        {{ util.form_input_text(name="display_name", label="Rufname") }}
        {% if realm == "event" %}
            {{ util.form_input_text(name="birthday", label="Geburtstag") }}
            {{ util.form_input_select(name="gender", entries=default_selections['gender'], label="Geschlecht") }}
        {% endif %}
        
        <h4 class="heading-underline">Kontakt</h4>
        {{ util.form_input_static(label="E-Mail-Adresse", value=case['username']) }}
        {% if realm == "event" %}
            {{ util.form_input_text(name="telephone", label="Telefon") }}
            {{ util.form_input_text(name="mobile", label="Mobiltelefon") }}
            
            <h4 class="heading-underline">Adresse</h4>
            {{ util.form_input_text(name="address", label="Straße") }}
            {{ util.form_input_text(name="address_supplement", label="Addresszusatz") }}
            {{ util.form_input_text(name="postal_code", label="Postleitzahl") }}
            {{ util.form_input_text(name="location", label="Stadt") }}
            {{ util.form_input_text(name="country", label="Land") }}
        {% endif %}
        {{ util.form_input_submit(value="Account anlegen", cancellink=cdedblink('core/index')) }}
    </form>
{% endmacro %}

{% macro show_user(data, realm, participation_info=None) %}
    <div class="pull-right-responsive">
        {% if data['is_cde_realm'] and realm in ("core", "cde") %}
            <p>
                {% if data['foto'] %}
                    <img src="{{ cdedblink('cde/get_foto', {'foto': data['foto']})|e }}" alt="Profilbild"
                      class="profilepic img-thumbnail">
                {% else %}
                    <img src="{{ staticurl("generic-avatar.png")|e }}" alt="Standardprofilbild"
                      class="profilepic img-thumbnail">
                {% endif %}
            </p>
        {% endif %}
        {% if data['id'] == user.persona_id or is_admin %}
            <div class="panel panel-default">
                <div class="panel-heading">Aktionen</div>
                <div class="panel-body">
                    <ul>
                        {% if realm == "core" %}
                            {% if is_admin %}
                                <li>{{ util.href(cdedblink("core/show_history"), "Geschichte") }}</li>
                                <li>{{ util.href(cdedblink("core/promote_user_form"), "Bereich hinzufügen") }}</li>
                            {% endif %}
                            {% if data['is_cde_realm'] %}
                                <li>{{ util.href(show_user_link(data['id'], realm="cde"), "CdE-Ansicht") }}</li>
                            {% endif %}
                            {% if data['is_event_realm'] %}
                                <li>
                                    {{ util.href(show_user_link(data['id'], realm="event"), "Veranstaltungs-Ansicht") }}
                                </li>
                            {% endif %}
                            {% if data['is_assembly_realm'] %}
                                <li>
                                    {{ util.href(show_user_link(data['id'], realm="assembly"),
                                                 "Versammlungs-Ansicht") }}
                                </li>
                            {% endif %}
                            {% if data['is_ml_realm'] %}
                                <li>
                                    {{ util.href(show_user_link(data['id'], realm="ml"), "Mailinglisten-Ansicht") }}
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if is_admin %}
                            <li>{{ util.href(cdedblink('{}/admin_change_user_form'.format(realm)), "Bearbeiten") }}</li>
                        {% endif %}
                        <li>{{ util.href(cdedblink('core/change_user_form'), "Bearbeiten") }}</li>
                        {% if data['id'] == user.persona_id %}
                            <li>{{ util.href(cdedblink("core/change_password_form"), "Passwort ändern") }}</li>
                        {% endif %}
                        <li>{{ util.href(cdedblink('cde/set_foto_form'), "Profilbild ändern") }}</li>
                        <li>{{ util.href(cdedblink('cde/lastschrift_show'), "Einzugsermächtigung") }}</li>
                        {% if "admin" in user.roles %}
                            <li>{{ util.href(cdedblink("core/change_privileges_form"), "Privilegien anpassen") }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="float-along">
        {% if not data['is_active'] %}
            <p class="text-danger">
                Der Benutzer ist deaktiviert.
            </p>
        {% endif %}
        {% if data['is_archived'] %}
            <p class="text-danger">
                Der Benutzer ist archiviert.
            </p>
        {% endif %}

        <h4 class="heading-underline">Person</h4>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>
                {{ data['title']|e }} {{ data['given_names']|e }} {{ data['family_name']|e }}
                {{ data['name_supplement']|e }}
            </dd>
            {% if data['display_name'] %}
                <dt>Rufname</dt>
                <dd>{{ data['display_name']|e }}</dd>
            {% endif %}
            {% if data['birth_name'] and realm in ("core", "cde") %}
                <dt>Geburtsname</dt>
                <dd>{{ data['birth_name']|e }}</dd>
            {% endif %}
            {% if data['birthday'] and realm in ("core", "cde", "event") %}
                <dt>Geburtstag</dt>
                <dd>{{ data['birthday']|date|e }}</dd>
            {% endif %}
            {% if data['gender'] and realm in ("core", "cde", "event") %}
                <dt>Geschlecht</dt>
                <dd>{{ data['gender']|gender|e }}</dd>
            {% endif %}
            {% if data['specialisation'] and realm in ("core", "cde") %}
                <dt>Fachgebiet</dt>
                <dd>{{ data['specialisation']|rst }}</dd>
            {% endif %}
            {% if data['affiliation'] and realm in ("core", "cde") %}
                <td>Schule, Uni, ...</td>
                <td>{{ data['affiliation']|rst }}</td>
            {% endif %}
            {% if data['timeline'] and realm in ("core", "cde") %}
                <td>Jahrgang, Matrikel, ...</td>
                <td>{{ data['timeline']|rst }}</td>
            {% endif %}
            {% if data['interests'] and realm in ("core", "cde") %}
                <td>Interessen</td>
                <td>{{ data['interests']|rst }}</td>
            {% endif %}
            {% if data['free_form'] and realm in ("core", "cde") %}
                <td>Sonstiges</td>
                <td>{{ data['free_form']|rst }}</td>
            {% endif %}
        </dl>

        <h4 class="heading-underline">Kontakt</h4>
        <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd>
                {{ data['username']|e }}
                {% if is_admin %}
                    {{ util.href(cdedblink('core/admin_username_change_form'), "Bearbeiten",
                                 aclass="btn btn-xs btn-warning", icon="pencil") }}
                {% endif %}
                {% if data['id'] == user.persona_id %}
                    {{ util.href(cdedblink('core/change_username_form'), "Bearbeiten",
                                 aclass="btn btn-xs btn-warning", icon="pencil") }}
                {% endif %}
            </dd>
            {% if data['telephone'] and realm in ("core", "cde", "event") %}
                <dt>Telefon</dt>
                <dd>{{ data['telephone']|e }}</dd>
            {% endif %}
            {% if data['mobile'] and realm in ("core", "cde", "event") %}
                <dt>Mobiltelefon</dt>
                <dd>{{ data['mobile']|e }}</dd>
            {% endif %}
            {% if data['weblink'] and realm in ("core", "cde") %}
                <dt>WWW</dt>
                {# TODO maybe add links or so - must be validated before! #}
                <dd>{{ data['weblink']|e }}</dd>
            {% endif %}
        </dl>

        {% if (data['is_cde_realm'] or data['is_event_realm']) and realm in ("core", "cde", "event") %}
            <h4 class="heading-underline">Adresse</h4>
            <dl class="dl-horizontal">
                <dt>Adresse</dt>
                <dd>
                    {{ data['address']|e }}{% if data['address'] %}<br />{% endif %}
                    {{ data['address_supplement']|e }}{% if data['address_supplement'] %}<br />{% endif %}
                    {{ data['postal_code']|e }} {{ data['location']|e }}{% if data['location'] %}<br />{% endif %}
                    {{ data['country']|e }}
                </dd>
            </dl>

            {% if (data['address2'] or data['address_supplement2'] or data['postal_code2']
                    or data['location2'] or data['country2']) and realm in ("core", "cde") %}
                <dl class="dl-horizontal">
                    <dt>Zweitadresse</dt>
                    <dd>
                        {{ data['address2']|e }}{% if data['address2'] %}<br />{% endif %}
                        {{ data['address_supplement2']|e }}{% if data['address_supplement2'] %}<br />{% endif %}
                        {{ data['postal_code2']|e }} {{ data['location2']|e }}
                        {% if data['location2'] %}<br />{% endif %}
                        {{ data['country2']|e }}
                    </dd>
                </dl>
            {% endif %}
        {% endif %}

        {% if data['id'] == user.persona_id or is_admin %}
            {% if realm in ("core", "cde") %}
                <tr> <th colspan="2">Mitgliedschaft</th> </tr>
                <tr>
                    <td>CdE-Mitglied</td>
                    <td>
                        {{ util.deko_checkbox(checked=data['is_member'], anid="membership_checkbox") }}
                        {% if data['trial_member'] %}
                            (Probemitgliedschaft)
                        {% endif %}
                        {% if is_admin %}
                            {{ util.href(cdedblink('cde/modify_membership_form'), "Mitgliedsstatus ändern") }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if is_admin %}
                <tr>
                    <td>Account aktiv</td>
                    <td>
                        {{ util.deko_checkbox(checked=data['is_active'], anid='activity_checkbox') }}
                        {% if data['is_active'] %}
                            <form action="{{ cdedblink('core/toggle_activity', {'activity': False})|e }}" method="POST"
                             id="activitytoggleform">
                                <div>{{ util.form_input_submit(value="Account deaktivieren") }}</div>
                            </form>
                        {% else %}
                            <form action="{{ cdedblink('core/toggle_activity', {'activity': True})|e }}" method="POST"
                             id="activitytoggleform">
                                <div>{{ util.form_input_submit(value="Account aktivieren") }}</div>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>CdE-Wolken-Zugriff</td>
                <td>{{ util.deko_checkbox(checked=data['cloud_account']) }}</td>
            </tr>
            {% if data['is_member'] and realm in ("core", "cde") %}
                <tr>
                    <td>Sichtbarkeit</td>
                    {% if data['is_searchable'] %}
                        <td>Daten sind für andere Mitglieder sichtbar.</td>
                    {% else %}
                        {% if not data['decided_search'] %}
                            <td>
                                Noch nicht entschieden; Daten sind nicht sichtbar.
                                {% if data['id'] == user.persona_id %}
                                    {{ util.href(cdedblink('cde/consent_decision'), "Entscheiden.") }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td>Daten sind nicht sichtbar.</td>
                        {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Datenzugriff für BuB</td>
                    <td>{{ util.deko_checkbox(checked=data['bub_search']) }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>CdEDB-ID</td>
                <td>{{ data['id']|cdedbid|e }}</td>
            </tr>
            {% if realm in ("core", "cde") %}
                <tr>
                    <td>Guthaben</td>
                    <td>{{ data['balance']|e }}€</td>
                </tr>
            {% endif %}
            {% if is_admin and realm == "core" %}
                <tr>
                    <td>Bereiche</td>
                    <td>
                        <ul>
                            {% for bit, desc in (("is_cde_realm", "CdE"),
                                                 ("is_event_realm", "Veranstaltungen"),
                                                 ("is_ml_realm", "Mailinglisten"),
                                                 ("is_assembly_realm", "Versammlungen"),)%}
                                {% if data[bit] %}
                                    <li>{{ desc|e }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {# TODO allow changes #}
                    </td>
                </tr>
                <tr>
                    <td>Privilegien</td>
                    <td>
                        <ul>
                            {% for bit, desc in (("is_admin", "Super"),
                                                 ("is_cde_admin", "CdE"),
                                                 ("is_event_admin", "Veranstaltungen"),
                                                 ("is_ml_admin", "Mailinglisten"),
                                                 ("is_assembly_admin", "Versammlungen"),)%}
                                {% if data[bit] %}
                                    <li>{{ desc|e }}-Admin</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {# TODO allow changes #}
                    </td>
                </tr>
            {% endif %}
            {% if is_admin %}
                <tr>
                    <td>Notizen</td>
                    <td>{{ data['notes']|rst }}</td>
                </tr>
            {% endif %}
        {% endif %}

        {% if participation_info %}
            <tr> <th colspan="2">Veranstaltungen</th> </tr>
            {% for info in participation_info|sort(attribute="pevent_id") %}
                <tr>
                    <td colspan="2">
                        {{ util.href(cdedblink("event/show_past_event", {"pevent_id": info['pevent_id']}),
                                     info['event_name']) }}
                        {% if info['is_orga'] %}
                            (Orga)
                        {% else %}
                            {% if info['course_name'] %}
                                {{ util.href(cdedblink("event/show_past_course", {"pevent_id": info['pevent_id'],
                                                                                  "pcourse_id": info['pcourse_id']}),
                                             info['course_name']) }}
                                {% if info['is_instructor'] %}
                                    (Kursleiter)
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </div>

    {% if data['id'] == user.persona_id or is_admin %}
        <p>
            {% if is_admin %}
                {{ util.href(cdedblink('{}/admin_change_user_form'.format(realm)), "Bearbeiten") }}
            {% endif %}
            {{ util.href(cdedblink('core/change_user_form'), "Bearbeiten") }}
        </p>
    {% endif %}
    {% if is_admin and realm == "core" %}
        <form action="{{ cdedblink('core/admin_password_reset')|e }}" method="POST"
          id="adminpasswordresetform">
            <div>{{ util.form_input_submit(value="Passwort zurücksetzen") }}</div>
        </form>
    {% endif %}
{% endmacro %}

{% macro user_search(realm) %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading"><h3 class="panel-title">Aktionen</h3></div>
                <div class="panel-body">
                    {{ util.href(cdedblink("{}/create_user".format(realm)), "Nutzer anlegen",
                            icon="plus", aclass="btn btn-success") }}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% with TITLES = {
                "all": "Alle Accounts",} %}
                <div>
                    {{ util.place_default_queries("{}/user_search".format(realm), default_queries, TITLES) }}
                </div>
            {% endwith %}
        </div>
    </div>

    {{ user_search_mask(realm) }}

    {% if values['is_search'] %}
        <h3>Ergebnis -- {{ result|length|e }} {{ result|length|numerus("Eintrag", "Einträge")|e }} gefunden</h3>
        {{ user_search_result(result, realm) }}
    {% endif %}
{% endmacro %}


{% macro user_search_mask(realm, selection_blacklist=[]) %}
    {% with TITLES = {
        "fulltext": "Volltext",
        "personas.id": "ID",
        "username": "Email",
        "is_active": "Aktiv",
        "db_privileges": "DB-Rechte",
        "cloud_account": "Cloud Zugriff",
        "family_name": "Nachname",
        "birth_name": "Geburtsname",
        "given_names": "Vorname",
        "display_name": "Rufname",
        "title": "Titel",
        "name_supplement": "Namenszusatz",
        "gender": "Geschlecht",
        "birthday": "Geburtstag",
        "telephone": "Telefon",
        "mobile": "Mobilfunk",
        "address": "Anschrift",
        "address_supplement": "Adresszusatz",
        "postal_code": "PLZ",
        "location": "Ort",
        "country": "Land",
        "address2": "Anschrift (Zweitadresse)",
        "address_supplement2": "Adresszusatz (Zweitadresse)",
        "postal_code2": "PLZ (Zweitadresse)",
        "location2": "Ort (Zweitadresse)",
        "country2": "Land (Zweitadresse)",
        "weblink": "WWW",
        "specialisation": "Fachgebiet",
        "affiliation": "Schule, Uni, ...",
        "timeline": "Jahrgang, Matrikel, ...",
        "interests": "Interessen",
        "free_form": "Sonstige Angaben",
        "pevent_id": "Veranstaltung",
        "pcourse_id": "Kurs",
        "balance": "Guthaben",
        "decided_search": "Sichtbarkeit entschieden",
        "trial_member": "Probemitgliedschaft",
        "bub_search": "Sichtbarkeit BuB",
        "notes": "Notizen",} %}

        {% if realm == "archived" %}
            {% set target=cdedblink('core/archived_user_search') %}
        {% else %}
            {% set target=cdedblink('{}/user_search'.format(realm)) %}
        {% endif %}
            {{ util.format_query(spec, TITLES, choices, target, selection_blacklist=selection_blacklist) }}
        </form>

    {% endwith %}
{% endmacro %}

{% macro user_search_result(result, realm) %}
    {% with TITLES = {
        "fulltext": "Volltext",
        "personas.id": "ID",
        "username": "Email",
        "status": "Status",
        "is_active": "Aktiv",
        "db_privileges": "DB-Rechte",
        "cloud_account": "Cloud Zugriff",
        "family_name": "Nachname",
        "birth_name": "Geburtsname",
        "given_names": "Vorname",
        "display_name": "Rufname",
        "title": "Titel",
        "name_supplement": "Namenszusatz",
        "gender": "Geschlecht",
        "birthday": "Geburtstag",
        "telephone": "Telefon",
        "mobile": "Mobilfunk",
        "address": "Anschrift",
        "address_supplement": "Adresszusatz",
        "postal_code": "PLZ",
        "location": "Ort",
        "country": "Land",
        "address2": "Anschrift (Zweitadresse)",
        "address_supplement2": "Adresszusatz (Zweitadresse)",
        "postal_code2": "PLZ (Zweitadresse)",
        "location2": "Ort (Zweitadresse)",
        "country2": "Land (Zweitadresse)",
        "weblink": "WWW",
        "specialisation": "Fachgebiet",
        "affiliation": "Schule, Uni, ...",
        "timeline": "Jahrgang, Matrikel, ...",
        "interests": "Interessen",
        "free_form": "Sonstige Angaben",
        "pevent_id": "Veranstaltung",
        "pcourse_id": "Kurs",
        "balance": "Guthaben",
        "decided_search": "Sichtbarkeit entschieden",
        "trial_member": "Probemitgliedschaft",
        "bub_search": "Sichtbarkeit BuB",
        "notes": "Notizen",} %}

        {{ util.display_query_result(result, query, TITLES, choices) }}
    {% endwith %}

    <h3>Aktionen</h3>
    <p>
        <input type="button" value="Alle auswählen" id="action_select_all" class="jsEnabled" disabled>
        <input type="button" value="Alle abwählen" id="action_select_none" class="jsEnabled" disabled>
        <input type="button" value="Auswahl umkehren" id="action_select_invert" class="jsEnabled" disabled>
    </p>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#action_select_all").click(function (){
                 $(".rowSelector").prop('checked', true);
                 });
            $("#action_select_none").click(function (){
                 $(".rowSelector").prop('checked', false);
                 });
            $("#action_select_invert").click(function (){
                 $(".rowSelector").each(function (){
                     $(this).prop('checked', !$(this).prop('checked'));
                 })});
        });
    </script>
{% endmacro %}
