{# This template provides a set of standard macros which should be used to
   create html-elements. #}

{% macro jquery_preamble() %}
   <script src="{{ staticurl("jquery.js") }}"></script>
{% endmacro %}

{% macro checkbox_checked() %}
   <input type="checkbox" checked disabled>
{% endmacro %}

{% macro checkbox_unchecked() %}
   <input type="checkbox" disabled>
{% endmacro %}

{% macro output_errors(name, displayerrors=True) %}
    {% if displayerrors %}
        {% for error in errors.get(name, []) %}
            {% if error %}
                {{ i18n(error|string)|e }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro input_hidden(name, value=None, defaultvalue='', anid='', aclass='') %}
    {% if value is none %}
        <input type="hidden" name="{{ name|e }}" value="{{ values.get(name, defaultvalue)|e }}"
          {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
    {% else %}
        <input type="hidden" name="{{ name|e }}" value="{{ value|e }}" {% if anid %} id="{{ anid|e }}" {% endif %}
          {% if aclass %} class="{{ aclass|e }}" {% endif %}>
    {% endif %}
{% endmacro %}

{% macro input_file(name, displayerrors=True, accept='', anid='', aclass='') %}
    <span class="stacking">
        {{ output_errors(name, displayerrors) }}
        <input type="file" name="{{ name|e }}" {% if accept %} accept="{{ accept|e }}" {% endif %}
          {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
    </span>
{% endmacro %}

{% macro input_text(name, label='', displayerrors=True, readonly=False, defaultvalue='', anid='', aclass='') %}
    <span {% if name in errors %} class="errorInput" {% endif %}>
        <label>
            {{ label|e }}
            <span class="stacking">
                {{ output_errors(name, displayerrors) }}
                {% if readonly %}
                    <span>{{ values.get(name, defaultvalue)|e }}</span>
                    <input type="hidden" name="{{ name|e }}" value="{{ values.get(name, defaultvalue)|e }}"
                      {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                {% else %}
                    <input type="text" name="{{ name|e }}" value="{{ values.get(name, defaultvalue)|e }}"
                      {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                {% endif %}
            </span>
        </label>
    </span>
{% endmacro %}

{% macro tab_input_text(name, label='', displayerrors=True, readonly=False, defaultvalue='', anid='', aclass='') %}
    <tr {% if name in errors %} class="errorInput" {% endif %}>
        <td><label for="{{ name|e }}">{{ label|e }}</label></td>
        <td>
            {{ output_errors(name, displayerrors) }}
            {% if readonly %}
                <span>{{ values.get(name, defaultvalue)|e }}</span>
                <input type="hidden" name="{{ name|e }}" value="{{ values.get(name, defaultvalue)|e }}"
                  {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
            {% else %}
                <input type="text" name="{{ name|e }}" value="{{ values.get(name, defaultvalue)|e }}"
                  {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro input_password(name="password", label="", readonly=False, anid='', aclass='') %}
    <span {% if name in errors %} class="errorInput" {% endif %}>
        <label>
            {{ label|e }}
            {% if readonly %}
                <span>******</span>
                <input type="hidden" name="{{ name|e }}" value=""  {% if anid %} id="{{ anid|e }}" {% endif %}
                  {% if aclass %} class="{{ aclass|e }}" {% endif %}>
            {% else %}
                <input type="password" name="{{ name|e }}" value=""  {% if anid %} id="{{ anid|e }}" {% endif %}
                  {% if aclass %} class="{{ aclass|e }}" {% endif %}>
            {% endif %}
        </label>
    </span>
{% endmacro %}

{% macro tab_input_password(name="password", label="", readonly=False, anid='', aclass='') %}
    <tr {% if name in errors %} class="errorInput" {% endif %}>
        <td><label for="{{ name|e }}">{{ label|e }}</label></td>
        <td>
            {% if readonly %}
                <span>******</span>
                <input type="hidden" name="{{ name|e }}" value=""  {% if anid %} id="{{ anid|e }}" {% endif %}
                  {% if aclass %} class="{{ aclass|e }}" {% endif %}>
            {% else %}
                <input type="password" name="{{ name|e }}" value=""  {% if anid %} id="{{ anid|e }}" {% endif %}
                  {% if aclass %} class="{{ aclass|e }}" {% endif %}>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro input_checkbox(name, label="", value=True, readonly=False, defaultvalue='', anid='', aclass='') %}
{# This is the version for single checkboxes as opposed to input_checkboxes(). #}
    <span {% if name in errors %} class="errorInput" {% endif %}>
        <label>
            <input type="checkbox" name="{{ name|e }}" value="{{ value|e }}"
              {% if values.get(name, defaultvalue) == value %} checked {% endif %} {% if readonly %} disabled {% endif %}
              {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
            {{ label|e }}
        </label>
    </span>
{% endmacro %}

{% macro tab_input_checkbox(name, label="", value=True, readonly=False, defaultvalue='', anid='', aclass='') %}
{# This is the version for single checkboxes as opposed to tab_input_checkboxes(). #}
    <tr {% if name in errors %} class="errorInput" {% endif %}>
        <td colspan="2">
                <label>
                <input type="checkbox" name="{{ name|e }}" value="{{ value|e }}"
                  {% if values.get(name, defaultvalue) == value %} checked {% endif %} {% if readonly %} disabled {% endif %}
                  {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                {{ label|e }}
            </label>
        </td>
    </tr>
{% endmacro %}

{% macro input_checkboxes(name, entries, readonly=False, defaultvalue=[]) %}
{# This is the version for multiple checkboxes as opposed to input_checkbox().
   entries is of type [(str, str)]. #}

    <span {% if name in errors %} class="errorInput" {% endif %}>
        <span class="stacking">
            {% for value, label in entries %}
                <label>
                    <input type="checkbox" name="{{ name|e }}" value="{{ value|e }}"
                      {% if value in values.get(name, defaultvalue) %} checked {% endif %} {% if readonly %} disabled {% endif %}>
                    {{ label|e }}
                </label>
            {% endfor %}
        </span>
    </span>
{% endmacro %}

{% macro tab_input_checkboxes(name, entries, readonly=False, defaultvalue=[]) %}
{# This is the version for multiple checkboxes as opposed to tab_input_checkbox().
   entries is of type [(str, str)]. #}

    <tr {% if name in errors %} class="errorInput" {% endif %}>
        <td colspan="2">
            {% for value, label in entries %}
                <label>
                    <input type="checkbox" name="{{ name|e }}" value="{{ value|e }}"
                      {% if value in values.get(name, defaultvalue) %} checked {% endif %} {% if readonly %} disabled {% endif %}>
                    {{ label|e }}
                </label>
            {% endfor %}
        </td>
    </tr>
{% endmacro %}

{% macro input_radio(name, entries, title="", readonly=False, defaultvalue=None) %}
    <span {% if name in errors %} class="errorInput" {% endif %}>
        {{ title|e }}
        {% if readonly %}
            <span>{{ values.get(name, defaultvalue)|e }}</span>
        {% else %}
            <span class="stacking">
                {% for value, label in entries %}
                    <label>
                        <input type="radio" name="{{ name|e }}" value="{{ value|e }}"
                          {% if values.get(name, defaultvalue) == value %} checked {% endif %}>
                        {{ label|e }}
                    </label><br>
                {% endfor %}
            </span>
        {% endif %}
    </span>
{% endmacro %}

{% macro tab_input_radio(name, entries, title="", readonly=False, defaultvalue=None) %}
    <tr {% if name in errors %} class="errorInput" {% endif %}>
        <td> {{ title|e }} </td>
        <td>
            {% if readonly %}
                <span>{{ values.get(name, defaultvalue)|e }}</span>
            {% else %}
                {% for value, label in entries %}
                    <label>
                        <input type="radio" name="{{ name|e }}" value="{{ value|e }}"
                          {% if values.get(name, defaultvalue) == value %} checked {% endif %}>
                        {{ label|e }}
                    </label><br>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro input_select(name, entries, title="", readonly=False, defaultvalue=None, nulloption=False, anid='', aclass='') %}
    <span {% if name in errors %} class="errorInput" {% endif %}>
        {{ title|e }}
        {% if readonly %}
            <span {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                {{ values.get(name, defaultvalue)|e }}
            </span>
        {% else %}
            <select name="{{ name|e }}" {% if anid %} id="{{ anid|e }}" {% endif %}
              {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                {% if nulloption %}
                     <option value=""> </option>
                {% endif %}
                {% for value, label in entries %}
                    <option value="{{ value|e }}" {% if values.get(name, defaultvalue) == value %} selected {% endif %}>
                        {{ label|e }}
                    </option>
                {% endfor %}
            </select>
        {% endif %}
    </span>
{% endmacro %}

{% macro tab_input_select(name, entries, title="", readonly=False, defaultvalue=None, nulloption=False, anid='', aclass='') %}
    <tr {% if name in errors %} class="errorInput" {% endif %}>
        <td> {{ title|e }} </td>
        <td>
            {% if readonly %}
                <span {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                    {{ values.get(name, defaultvalue)|e }}
                </span>
            {% else %}
                <select name="{{ name|e }}" {% if anid %} id="{{ anid|e }}" {% endif %}
                  {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                    {% if nulloption %}
                         <option value=""> </option>
                    {% endif %}
                    {% for value, label in entries %}
                        <option value="{{ value|e }}" {% if values.get(name, defaultvalue) == value %} selected {% endif %}>
                            {{ label|e }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro input_multiselect(name, entries, title="", readonly=False, defaultvalue=[], anid='', aclass='') %}
    <span {% if name in errors %} class="errorInput" {% endif %}>
        {{ title|e }}
        {% if readonly %}
            <span {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                {{ values.get(name, defaultvalue)|join(", ")|e }}
            </span>
        {% else %}
            <select name="{{ name|e }}" multiple  {% if anid %} id="{{ anid|e }}" {% endif %}
              {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                {% for value, label in entries %}
                    <option value="{{ value|e }}" {% if value in values.get(name, defaultvalue) %} selected {% endif %}>
                        {{ label|e }}
                    </option>
                {% endfor %}
            </select>
        {% endif %}
    </span>
{% endmacro %}

{% macro tab_input_multiselect(name, entries, title="", readonly=False, defaultvalue=[], anid='', aclass='') %}
    <tr {% if name in errors %} class="errorInput" {% endif %}>
        <td> {{ title|e }} </td>
        <td>
            {% if readonly %}
                <span {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                    {{ values.get(name, defaultvalue)|join(", ")|e }}
                </span>
            {% else %}
                <select name="{{ name|e }}" multiple {% if anid %} id="{{ anid|e }}" {% endif %}
                  {% if aclass %} class="{{ aclass|e }}" {% endif %}>
                    {% for value, label in entries %}
                        <option value="{{ value|e }}" {% if value in values.get(name, defaultvalue) %} selected {% endif %}>
                            {{ label|e }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro input_submit(value, name="submitform", readonly=False, anid='', aclass='') %}
    <input type="submit" name="{{ name|e }}" value="{{ value|e }}" {% if readonly %} disabled {% endif %}
      {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
{% endmacro %}

{% macro format_query(spec, titles, choices, output_selection=True) %}
    <script>
        // adjust input element to the selected operator
        // this should be called from the corresponding change trigger
        function update_choices(field, choices, validator) {
            var previous = $("#qinput_" + field).val();
            $("#qinput_" + field).remove();
            // NOTE cdedb.query.QueryOperator values are embedded
            if ($('#qop_'+field).val() == "0" || $('#qop_'+field).val() == "1") {
                // do nothing
            } else if ($('#qop_'+field).val() == "2") {
                if (!$.isEmptyObject(choices)) {
                    $("#qspan_"+field).append($("<select>", {"name" : "qval_" + field, "id" : "qinput_"+field}));
                    $("#qinput_"+field).append($("<option>", {"value" : ""}));
                    for (var key in choices) {
                        if (choices.hasOwnProperty(key)) {
                            $("#qinput_"+field).append($("<option>", {"value" : key, "html" : choices[key], selected : (key == previous)}));
                        }
                    }
                } else {
                    if (validator == "bool") {
                        $("#qspan_"+field).append($("<select>", {"name" : "qval_" + field, "id" : "qinput_"+field}));
                        $("#qinput_"+field).append($("<option>", {"value" : ""}));
                        var bool_choices = {"True" : "wahr", "False" : "falsch"};
                        for (var key in bool_choices) {
                            $("#qinput_"+field).append($("<option>", {"value" : key, "html" : bool_choices[key], selected : (key == previous)}));
                        }
                    } else {
                        $("#qspan_"+field).append($("<input>", {"name" : "qval_" + field, "id" : "qinput_"+field, "type" : "text", "value" : previous}));
                    }
                }
            } else {
                $("#qspan_"+field).append($("<input>", {"name" : "qval_" + field, "id" : "qinput_"+field, "type" : "text", "value" : previous}));
            }
        }
    </script>
    {% with OPERATOR_LABELS = {0 : "leer",
                               1 : "nichtleer",
                               2 : "gleich",
                               3 : "eines aus",
                               4 : "ähnlich",
                               5 : "regex",
                               6 : "enthält alle",
                               10 : "kleiner",
                               11 : "kleinergleich",
                               12 : "zwischen",
                               13 : "größergleich",
                               14 : "größer",} %}
        <table>
            {% for field in spec %}
                <tr {% if field in errors %} class="errorInput" {% endif %}>
                    <td>
                        {% with name = "qsel_{}".format(field) %}
                            {% if output_selection %}
                                {{ input_checkbox(name, aclass="outputSelector") }}
                            {% else %}
                                {{ input_hidden(name, value=True) }}
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td> {{ titles[field]|e }} </td>
                    <td>
                        {% with name = "qop_{}".format(field) %}
                            {# jinja does not support list comprehension ... #}
                            {% set myentries = [] %}
                            {% for op in VALID_QUERY_OPERATORS[spec[field]] %}
                                {{ myentries.append((op.value, OPERATOR_LABELS[op.value]))|e }}
                            {% endfor %}
                            {{ input_select(name, entries=myentries, defaultvalue=VALID_QUERY_OPERATORS[spec[field]][0].value,
                                            anid=name) }}
                            <script>
                                $(document).ready(function(){
                                    $("#{{ name|e }}").change(function (){ update_choices("{{ field|e }}", {{ choices.get(field, '')|json }}, "{{ spec[field]|e }}") });
                                    $("#{{ name|e }}").trigger('change');
                                });
                            </script>
                        {% endwith %}
                    </td>
                    <td>
                        <span id="qspan_{{ field|e }}">
                            {{ input_text("qval_{}".format(field), anid="qinput_{}".format(field)) }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            {% for title, name in (("1. Sortierung nach", "qord_primary"), ("2. Sortierung nach", "qord_secondary"), ("3. Sortierung nach", "qord_tertiary"))%}
                <tr>
                    <td colspan="2"> {{ title|e }} </td>
                    <td colspan="2">
                        {# jinja does not support list comprehension ... #}
                        {% set myentries = [] %}
                        {% for field in spec %}
                            {{ myentries.append((field, titles[field]))|e }}
                        {% endfor %}
                        {{ input_select(name, entries=myentries, nulloption=True)}}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endwith %}
{% endmacro %}

{% macro place_default_queries(target, queries, titles) %}
{# TODO make this a multicolumn thing for more efficient space usage #}
    {% if queries %}
        <ul>
            {% for query in queries %}
                <li><a href="{{ cdedblink(target, queries[query]|querytoparams) }}">{{ titles.get(query, query)|e }}</a></li>
            {% endfor %}
        <ul>
    {% endif %}
{% endmacro %}

{% macro display_query_result(result, query, titles) %}
    {% if not result|length %}
        Keine Ergebnisse!
    {% else %}
        {# TODO add fancy js to table #}
        <table class="checkeredTable">
            <tr>
                <th></th>
                {% for field in query.fields_of_interest %}
                    <th>{{ titles.get(field, field)|e }}</th>
                {% endfor %}
            </tr>
            {% for row in result %}
                <tr>
                    <td>
                        {{ input_checkbox("row_{}".format(loop.index), anid="row_{}".format(loop.index), aclass="rowSelector") }}
                    </td>
                    {% for field in query.fields_of_interest %}
                        {# NOTE that we split off any possible schema specification since they're not preserved by the query #}
                        {% with afield = field.split('.')[-1] %}
                            <td>
                                {% if afield == "persona_id" %}
                                    <a href="{{ show_user_link(row[afield]) }}">{{ row[afield]|e }}</a>
                                {% else %}
                                    {{ row.get(afield, "UNDEFINED")|e }}
                                {% endif %}
                                {{ input_hidden("row_{}_{}".format(loop.index, afield), row.get(afield),
                                                anid="row_{}_{}".format(loop.index, afield)) }}
                            </td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endmacro %}

{% macro display_csv_query_result(result, query) -%}
{{ ";".join(query.fields_of_interest) }}
{% for row in result -%}
{% for field in query.fields_of_interest -%}
{% with afield = field.split('.')[-1] -%}
{{ row.get(afield, "UNDEFINED") -}}
{% endwith -%}
{% if not loop.last %};{% endif -%}
{% endfor %}
{% endfor -%}
{% endmacro %}
