{# This template provides a set of standard macros which should be used to
   create html-elements. #}

{% macro jquery_preamble() %}
    <script type="text/javascript">
        cdedb_javascript = true;
    </script>
    <script type="text/javascript" src="{{ staticurl("jquery-2.min.js")|e }}"></script>
{% endmacro %}

{% macro jquery_with_ui_preamble() %}
    <script type="text/javascript">
        cdedb_javascript = true;
    </script>
    <script type="text/javascript" src="{{ staticurl("jquery.js")|e }}"></script>
    <script type="text/javascript" src="{{ staticurl("jquery-ui/jquery-ui.js")|e }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ staticurl("jquery-ui/jquery-ui.css")|e }}">
{% endmacro %}

{% macro javascript_hint() %}
    <noscript>
        <div class="jsDeleted">
            Diese Seite funktioniert besser mit Javascript.
        </div>
    </noscript>
{% endmacro %}

{% macro deko_checkbox(checked, anid='', aclass='') %}
    <input type="checkbox" {% if checked %} checked="checked"{% endif %} disabled="disabled"{% if anid %}
        id="{{ anid|e }}"{% endif %}{% if aclass %} class="{{ aclass|e }}"{% endif %} />
{% endmacro %}

{% macro href(ref, label, readonly=False, icon="", aclass='', active=False) %}
    <a href="{{ ref|e }}" {% if readonly %}disabled="disabled"{% endif %}
        {% if aclass or active %}class="{{ aclass }}{% if active %} active{% endif %}"{% endif %}>
        {% if icon %}<span class="glyphicon glyphicon-{{ icon|e }}"></span> {% endif %}{{ label|e }}
    </a>
{% endmacro %}

{% macro output_errors(name, displayerrors=True) %}
    {% if displayerrors %}
        {% for error in errors.get(name, []) %}
            {% if error %}
                {{ i18n(error|string)|e }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro info_hover(info, anid='', aclass='') %}
    <span class="glyphicon glyphicon-question-sign {{ aclass|e }}" title="{{ info|e }}"
      {% if anid %} id="{{ anid|e }}"{% endif %}></span>
{% endmacro %}

{% macro persona_anchor(persona_data, verbose=False) %}
    {% if verbose %}
        {{ href(show_user_link(persona_data['id']), "{} {} {} {}".format(
              persona_data['title'], persona_data['given_names'],
              persona_data['family_name'], persona_data['name_supplement'])) }}
    {% else %}
        {{ href(show_user_link(persona_data['id']), "{} {}".format(
              persona_data['given_names'], persona_data['family_name'])) }}
    {% endif %}
{% endmacro %}

{% macro input_hidden(name, value=None, defaultvalue='', anid='', aclass='') %}
    {% if value is none %}
        <input type="hidden" name="{{ name|e }}" value="{{ values.get(name, defaultvalue)|e }}"
          {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
    {% else %}
        <input type="hidden" name="{{ name|e }}" value="{{ value|e }}" {% if anid %} id="{{ anid|e }}" {% endif %}
          {% if aclass %} class="{{ aclass|e }}" {% endif %}>
    {% endif %}
{% endmacro %}

{% macro input_file(name, displayerrors=True, accept='', info='', anid='', aclass='form-control') %}
    <div class="form-group {% if name in errors %}has-error{% endif %}">
        <label{% if anid %} for="{{ anid|e }}"{% endif %}
                class="{% if small %}col-sm-2{% else %}col-sm-4{% endif %} control-label">
            {% if info %}{{ info_hover(info) }}{% endif %}
            {{ label|e }}
        </label>
        <div class="{% if small %}col-sm-6{% else %}col-sm-8{% endif %}">
            <input type="file" name="{{ name|e }}" {% if accept %} accept="{{ accept|e }}" {% endif %}
                    {% if anid %} id="{{ anid|e }}" {% endif %} {% if aclass %} class="{{ aclass|e }}" {% endif %}>
            {% if name in errors %}
                <div class="input-error-block">{{ output_errors(name, displayerrors) }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro input_text(name, label='', info='', displayerrors=True, readonly=False, defaultvalue='', anid='',
        aclass='form-control', type='text', small=False) %}
    <div class="form-group {% if name in errors %}has-error{% endif %}">
        <label{% if anid %} for="{{ anid|e }}"{% endif %}
                class="{% if small %}col-sm-2{% else %}col-sm-4{% endif %} control-label">
            {% if info %}{{ info_hover(info) }}{% endif %}
            {{ label|e }}
        </label>
        <div class="{% if small %}col-sm-6{% else %}col-sm-8{% endif %}">
            <input type="{{ type|e }}" {% if aclass %} class="{{ aclass|e }}"{% endif %}
                    {% if anid %} id="{{ anid|e }}"{% endif %} value="{{ values.get(name, defaultvalue)|e }}"
                    name="{{ name|e }}" {% if readonly %}disabled="disabled"{% endif %} />
            {% if name in errors %}
                <div class="input-error-block">{{ output_errors(name, displayerrors) }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro input_textarea(name, label='', info='', displayerrors=True, readonly=False, defaultvalue='', anid='',
                        aclass='form-control', small=False, maxlength=0) %}
    <div class="form-group {% if name in errors %}has-error{% endif %}">
        <label{% if anid %} for="{{ anid|e }}"{% endif %}
                class="{% if small %}col-sm-2{% else %}col-sm-4{% endif %} control-label">
            {% if info %}{{ info_hover(info) }}{% endif %}
            {{ label|e }}
        </label>
        <div class="{% if small %}col-sm-6{% else %}col-sm-8{% endif %}">
            <textarea {% if aclass %} class="{{ aclass|e }}"{% endif %}
                    {% if anid %} id="{{ anid|e }}"{% endif %} name="{{ name|e }}"
                    {% if maxlength %} maxlength="{{ maxlength }}"{% endif %}
                    {% if readonly %}disabled="disabled"{% endif %}>{{ values.get(name, defaultvalue)|e }}</textarea>
            {% if name in errors %}
                <div class="input-error-block">{{ output_errors(name, displayerrors) }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro input_password(name="password", label="", info='', readonly=False, anid='', aclass='form-control',
        small=False) %}
    <div class="form-group {% if name in errors %}has-error {% endif %}">
        <label{% if anid %} for="{{ anid|e }}"{% endif %}
                class="{% if small %}col-sm-2{% else %}col-sm-4{% endif %} control-label">
            {% if info %}{{ info_hover(info) }}{% endif %}
            {{ label|e }}
        </label>
        <div class="{% if small %}col-sm-6{% else %}col-sm-8{% endif %}">
            <input type="password" {% if aclass %} class="{{ aclass|e }}"{% endif %}
                    {% if anid %} id="{{ anid|e }}"{% endif %} value="{{ values.get(name, defaultvalue)|e }}"
                    name="{{ name|e }}" {% if readonly %}disabled="disabled"{% endif %} />
            {% if name in errors %}
                <div class="input-error-block">{{ output_errors(name) }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro input_checkbox(name, label="", value=True, info='', readonly=False, defaultvalue='', anid='', aclass='') %}
{# This is the version for single checkboxes as opposed to input_checkboxes(). #}
    <div class="form-group {% if name in errors %}has-error{% endif %}">
        <label{% if anid %} for="{{ anid|e }}"{% endif %}
                class="{% if small %}col-sm-2{% else %}col-sm-4{% endif %} control-label">
            {% if info %}{{ info_hover(info) }}{% endif %}
            {{ label|e }}
        </label>
        <div class="{% if small %}col-sm-6{% else %}col-sm-8{% endif %}">
            <div class="checkbox {% if readonly %}disabled{% endif %}">
                <label>
                    <input type="checkbox" name="{{ name|e }}" value="{{ value|e }}"
                        {% if values.get(name, defaultvalue)|string == value|string %} checked {% endif %}
                        {% if readonly %} disabled {% endif %} {% if anid %} id="{{ anid|e }}" {% endif %}
                        {% if aclass %} class="{{ aclass|e }}" {% endif %} />
                    {{ label|e }}
                </label>
            </div>
            {% if name in errors %}
                <div class="input-error-block">{{ output_errors(name) }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro input_checkboxes(name, title, entries, info='', readonly=False, small=False) %}
{# This is the version for multiple checkboxes as opposed to input_checkbox().
   entries is of type [(str, str, str)]. #}
    <div class="form-group {% if name in errors %}has-error{% endif %}">
        <label{% if anid %} for="{{ anid|e }}"{% endif %}
                class="{% if small %}col-sm-2{% else %}col-sm-4{% endif %} control-label">
            {% if info %}{{ info_hover(info) }}{% endif %}
            {{ label|e }}
        </label>
        <div class="{% if small %}col-sm-6{% else %}col-sm-8{% endif %}">
            {% for value, label, entry_id in entries %}
                <div class="checkbox {% if readonly %}disabled{% endif %}">
                    <label>
                        <input type="checkbox" name="{{ name|e }}" value="{{ value|e }}"
                            {% if value|stringIn(values.getlist(name)) %} checked {% endif %}
                            {% if readonly %} disabled {% endif %} {% if entry_id %} id="{{ entry_id|e }}"{% endif %} />
                        {{ label|e }}
                    </label>
                </div>
            {% endfor %}
            {% if name in errors %}
                <div class="input-error-block">{{ output_errors(name) }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro input_radio(name, entries, label="", info='', readonly=False, defaultvalue=None) %}
    <div class="form-group {% if name in errors %}has-error{% endif %}">
        <label{% if anid %} for="{{ anid|e }}"{% endif %}
                class="{% if small %}col-sm-2{% else %}col-sm-4{% endif %} control-label">
            {% if info %}{{ info_hover(info) }}{% endif %}
            {{ label|e }}
        </label>
        <div class="{% if small %}col-sm-6{% else %}col-sm-8{% endif %}">
            {% for value, label, entry_id in entries %}
                <div class="checkbox {% if readonly %}disabled{% endif %}">
                    <label>
                        <input type="radio" name="{{ name|e }}" value="{{ value|e }}"
                          {% if values.get(name, defaultvalue)|string == value|string %} checked {% endif %}
                          {% if entry_id %} id="{{ entry_id|e }}" {% endif %}
                          {% if readonly %}disabled="disabled"{% endif %} />
                        {{ label|e }}
                    </label>
                </div>
            {% endfor %}
            {% if name in errors %}
                <div class="input-error-block">{{ output_errors(name) }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro input_select(name, entries, label="", info='', readonly=False, defaultvalue=None, nulloption=False, anid='',
                      aclass='form-control', small=False) %}
    <div class="form-group {% if name in errors %}has-error{% endif %}">
        <label{% if anid %} for="{{ anid|e }}"{% endif %}
                class="{% if small %}col-sm-2{% else %}col-sm-4{% endif %} control-label">
                {% if info %}{{ info_hover(info) }}{% endif %}
                {{ label|e }}
        </label>
        <div class="{% if small %}col-sm-6{% else %}col-sm-8{% endif %}">
            <select name="{{ name|e }}" {% if anid %} id="{{ anid|e }}" {% endif %}
              {% if aclass %} class="{{ aclass|e }}" {% endif %}{% if readonly %}disabled="disabled"{% endif %}>
                {% if nulloption %}
                     <option value=""> </option>
                {% endif %}
                {% for value, label, entry_id in entries %}
                    <option value="{{ value|e }}"
                      {% if values.get(name, defaultvalue)|string == value|string %} selected="selected" {% endif %}
                      {% if entry_id %} id="{{ entry_id|e }}" {% endif %}>
                        {{ label|e }}
                    </option>
                {% endfor %}
            </select>
            {% if name in errors %}
                <div class="input-error-block">{{ output_errors(name) }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro input_submit(value, name="submitform", info='', readonly=False, anid='', aclass='btn btn-primary',
        icon="ok", small=False) %}
    <div class="form-group">
        {% if info %}<div class="control-label">{{ info_hover(info) }}</div>{% endif %}
        <div class="{% if small %}col-sm-offset-2 col-sm-10{% else %}col-sm-offset-4 col-sm-8{% endif %}">
            <button type="submit" name="{{ name|e }}" {% if readonly %} disabled="disabled"{% endif %} {% if anid %}
            id="{{ anid|e }}"{% endif %} {% if aclass %} class="{{ aclass|e }}"{% endif %}>
            {% if icon %}<span class="glyphicon glyphicon-{{ icon|e }}"></span> {% endif %}{{ value|e }}</button>
            {% if info %} {{ info_hover(info) }} {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro format_query(spec, titles, choices, output_selection=True, selection_blacklist=[]) %}
    <script type="text/javascript">
        // adjust input element to the selected operator
        // this should be called from the corresponding change trigger
        function update_choices(field, choices, validator) {
            var esc_field = field.replace(".", "\\.") // escape dot for selectors
            var previous = $("#qinput_" + esc_field).val();
            $("#qinput_" + esc_field).remove();
            // NOTE cdedb.query.QueryOperator values are embedded
            if ($('#qop_' + esc_field).val() == "0" || $('#qop_' + esc_field).val() == "1") {
                // do nothing
            } else if ($('#qop_' + esc_field).val() == "2") {
                if (!$.isEmptyObject(choices)) {
                    $("#qspan_" + esc_field).append($("<select>", {"name": "qval_" + field, "id": "qinput_" + field}));
                    $("#qinput_" + esc_field).append($("<option>", {"value": ""}));
                    for (var key in choices) {
                        if (choices.hasOwnProperty(key)) {
                            $("#qinput_" + esc_field).append($("<option>", {"value": key, "html": choices[key],
                                                                            "selected": (String(key) == previous)}));
                        }
                    }
                } else {
                    if (validator == "bool") {
                        $("#qspan_" + esc_field).append($("<select>", {"name": "qval_" + field,
                                                                       "id": "qinput_" + field}));
                        $("#qinput_" + esc_field).append($("<option>", {"value": ""}));
                        var bool_choices = {"True": "wahr", "False": "falsch"};
                        for (var key in bool_choices) {
                            $("#qinput_" + esc_field).append($("<option>", {"value": key, "html": bool_choices[key],
                                                                            "selected": (key == previous)}));
                        }
                    } else {
                        $("#qspan_" + esc_field).append($("<input>", {
                            "name": "qval_" + field, "id": "qinput_" + field, "type": "text", "value": previous}));
                    }
                }
            } else {
                $("#qspan_" + esc_field).append($("<input>", {"name": "qval_" + field, "id": "qinput_" + field,
                                                              "type": "text", "value": previous}));
            }
        }
    </script>
    {% with OPERATOR_LABELS = {0: "leer",
                               1: "nichtleer",
                               2: "gleich",
                               3: "eines aus",
                               4: "ähnlich",
                               5: "regex",
                               6: "enthält alle",
                               10: "kleiner",
                               11: "kleinergleich",
                               12: "zwischen",
                               13: "größergleich",
                               14: "größer",} %}
        <table>
            {% for field in spec %}
                <tr {% if field in errors %} class="errorInput" {% endif %}>
                    <td>
                        {# multi-fields are not reliably selectable, so we disable selection #}
                        {% if ',' not in field and field not in selection_blacklist %}
                            {% with name = "qsel_{}".format(field) %}
                                {% if output_selection %}
                                        {{ input_checkbox(name, aclass="outputSelector") }}
                                {% else %}
                                    {{ input_hidden(name, value=True) }}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </td>
                    <td> {{ titles.get(field, field)|e }} </td>
                    <td>
                        {% with name = "qop_{}".format(field) %}
                            {% with theid = "qop_{}".format(field) %}
                                {# jinja does not support list comprehension ... #}
                                {% set myentries = [] %}
                                {% for op in VALID_QUERY_OPERATORS[spec[field]] %}
                                    {{ myentries.append((op.value, OPERATOR_LABELS[op.value], None))|e }}
                                {% endfor %}
                                {{ input_select(name, entries=myentries,
                                                defaultvalue=VALID_QUERY_OPERATORS[spec[field]][0].value, anid=theid) }}
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $("#{{ theid.replace('.', '\\\\.')|e }}").change(function (){
                                            update_choices("{{ field|e }}", {{ choices.get(field, '')|json }},
                                                           "{{ spec[field]|e }}") });
                                        $("#{{ theid.replace('.', '\\\\.')|e }}").trigger('change');
                                    });
                                </script>
                            {% endwith %}
                        {% endwith %}
                    </td>
                    <td>
                        <span id="qspan_{{ field|e }}">
                            {{ input_text("qval_{}".format(field), anid="qinput_{}".format(field)) }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            {% for title, name in (("1. Sortierung nach", "qord_primary"), ("2. Sortierung nach", "qord_secondary"),
                                   ("3. Sortierung nach", "qord_tertiary"))%}
                <tr>
                    <td colspan="2"> {{ title|e }} </td>
                    <td colspan="2">
                        {# jinja does not support list comprehension ... #}
                        {% set myentries = [] %}
                        {% for field in spec %}
                            {% if ',' not in field %}
                                {{ myentries.append((field, titles[field], None))|e }}
                            {% endif %}
                        {% endfor %}
                        {{ input_select(name, entries=myentries, nulloption=True)}}
                        {{ input_select(name + "_ascending", defaultvalue=True,
                                        entries=((True, "aufsteigend", None), (False, "absteigend", None))) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endwith %}
{% endmacro %}

{% macro place_default_queries(target, queries, titles) %}
{# TODO make this a multicolumn thing for more efficient space usage #}
    {% if queries %}
        <ul>
            {% for query in queries %}
                <li>{{ href(cdedblink(target, queries[query]|querytoparams), titles.get(query, query)) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro display_query_result(result, query, titles, choices) %}
    {% if not result|length %}
        Keine Ergebnisse!
    {% else %}
        {# TODO add fancy js to table #}
        <table class="checkeredTable">
            <tr>
                <th></th>
                {% for csvfield in query.fields_of_interest %}
                    {% for field in csvfield.split(',') %}
                        <th>{{ titles.get(field, field)|e }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
            {% for row in result %}
                {% set outerloopindex = loop.index0 %}
                <tr>
                    <td>
                        {{ input_checkbox("row_{}".format(outerloopindex), anid="row_{}".format(outerloopindex),
                                          aclass="rowSelector") }}
                    </td>
                    {% for csvfield in query.fields_of_interest %}
                        {% for field in csvfield.split(',') %}
                            {# NOTE that we split off any possible schema specification since they're not preserved
                                    by the query #}
                            {% with afield = field.split('.')[-1] %}
                                <td>
                                    {% if field == "personas.id" %}
                                        {{ href(show_user_link(row[afield]), row[afield]|cdedbid) }}
                                    {% elif field == "reg.id" %}
                                        {# This should occur only if the context allows the following link. #}
                                        {{ href(cdedblink("event/show_registration", {'registration_id': row[afield]}),
                                             row[afield]) }}
                                    {% elif query.spec[csvfield] == "bool" %}
                                        {{ deko_checkbox(row.get(afield)) }}
                                    {% else %}
                                        {{ choices.get(csvfield, {}).get(row.get(afield),
                                                                         row.get(afield, "UNDEFINED"))|e }}
                                    {% endif %}
                                    {{ input_hidden("row_{}_{}".format(outerloopindex, afield), row.get(afield),
                                                    anid="row_{}_{}".format(outerloopindex, afield)) }}
                                </td>
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endmacro %}

{% macro event_field_input(field_data, name='', label='', info='', displayerrors=True, readonly=False, defaultvalue='',
                           anid='', aclass='') %}
    {% if not name %}
        {% set name = "fields.{}".format(field_data['field_name']) %}
    {% endif %}
    {% if not label %}
        {% set label = field_data['field_name'] %}
    {% endif %}
    {% if field_data['entries'] %}
        {# jinja does not support list comprehension ... #}
        {% set myentries = [] %}
        {% for value, description in field_data['entries'] %}
            {{ myentries.append((value, description, None))|e }}
        {% endfor %}
        {{ input_select(name=name, title=label, entries=myentries, nulloption=True,
                        readonly=readonly, defaultvalue=defaultvalue, anid=anid, aclass=aclass) }}
   {% else %}
        {% if field_data['kind'] == "bool" %}
            {{ input_checkbox(name=name, label=label, readonly=readonly, defaultvalue=defaultvalue, anid=anid,
                              aclass=aclass) }}
        {% elif field_data['kind'] == "str" %}
            {{ input_textarea(name=name, label=label, displayerrors=displayerrors, readonly=readonly,
                              defaultvalue=defaultvalue, anid=anid, aclass=(aclass + " bigg")) }}
        {% else %}
            {{ input_text(name=name, label=label, displayerrors=displayerrors, readonly=readonly,
                          defaultvalue=defaultvalue, anid=anid, aclass=aclass) }}
        {% endif %}
   {% endif %}
{% endmacro %}

{% macro tab_event_field_input(field_data, name='', label='', info='', displayerrors=True, readonly=False,
                               defaultvalue='', anid='', aclass='') %}
    {% if not name %}
        {% set name = "fields.{}".format(field_data['field_name']) %}
    {% endif %}
    {% if not label %}
        {% set label = field_data['field_name'] %}
    {% endif %}
    {% if field_data['entries'] %}
        {# jinja does not support list comprehension ... #}
        {% set myentries = [] %}
        {% for value, description in field_data['entries'] %}
            {{ myentries.append((value, description, None))|e }}
        {% endfor %}
        {{ input_select(name=name, label=label, entries=myentries, nulloption=True,
                            readonly=readonly, defaultvalue=defaultvalue, anid=anid, aclass=aclass) }}
   {% else %}
        {% if field_data['kind'] == "bool" %}
            {{ input_checkbox(name=name, label=label, readonly=readonly, defaultvalue=defaultvalue, anid=anid,
                                  aclass=aclass) }}
        {% elif field_data['kind'] == "str" %}
            {{ input_textarea(name=name, label=label, displayerrors=displayerrors, readonly=readonly,
                                  defaultvalue=defaultvalue, anid=anid, aclass=(aclass + " bigg")) }}
        {% else %}
            {{ input_text(name=name, label=label, displayerrors=displayerrors, readonly=readonly,
                              defaultvalue=defaultvalue, anid=anid, aclass=aclass) }}
        {% endif %}
   {% endif %}
{% endmacro %}

{% macro display_csv_query_result(result, query, choices) -%}
{{ ";".join(query.fields_of_interest).replace(',', ';') }}
{% for row in result -%}
{% for csvfield in query.fields_of_interest -%}
{% for field in csvfield.split(',') -%}
{% with afield = field.split('.')[-1] -%}
{% if row.get(afield) is not none -%}
{{ (choices.get(csvfield, {}).get(row[afield], row[afield])|linebreaks(replacement="        ")).replace(';', ',') -}}
{# else we print nothing -#}
{% endif -%}
{% endwith -%}
{% if not loop.last %};{% endif -%}
{% endfor -%}
{% if not loop.last %};{% endif -%}
{% endfor %}
{% endfor -%}
{% endmacro %}

{% macro breadcrumb_begin() %}
<ol class="breadcrumb">
{% endmacro %}

{% macro breadcrumb_end() %}
</ol>
{% endmacro %}

{% macro breadcrumb_link(ref, label, icon="", active=False) %}
	{% if active %}
		<li class="active">
                    {% if icon %}<span class="glyphicon glyphicon-{{ icon|e }}"></span> {% endif %}{{ label|e }}
                </li>
	{% else %}
		<li>
                    <a href="{{ ref|e }}">
                        {% if icon %}<span class="glyphicon glyphicon-{{ icon|e }}"></span> {% endif %}{{ label|e }}
                    </a>
                </li>
	{% endif %}
{% endmacro %}


{% macro box_filter_begin() %}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Filter</h3></div>
    <div class="panel-body">
{% endmacro %}

{% macro box_filter_end() %}
    </div>
</div>
{% endmacro %}
